[2019-05-27 15:31] #861 closed

[2019-05-27 16:07] GoingFast commented on #861
Yep :library-folders-fn works and no new processes however its not implemented for lsp-rust by default. Possible to add it?

[2019-05-27 16:22] fetatefog commented on #851
@yyoncho, would you mind give me doc or whatsoever that can help me build emacs 27 from source with some option like you state? I could not find any detail relate to this.

[2019-05-27 17:59] yyoncho commented on #861
@GoingFast feel free to provide a PR - I am not a rust user and I am not familiar with what are the appropriate defaults for library folders, etc.

[2019-05-27 18:00] yyoncho commented on #861
@GoingFast if you need some you have questions on how to do that or need any help you may ping me here or in gitter.

[2019-05-27 20:25] #814 closed

[2019-05-28 08:50] MyOde commented on #823
flymake-running-backends -> flymake-eslint--checker

Sorry I did not notice the reply earlier!
I'm a bit swamped at the moment, but I'll try to put together an example for reproduction as soon as I get a breather.

[2019-05-28 17:36] yyoncho commented on #851
@fetatefog look for a guide specific for your distribution, I am using this guide - https://www.reddit.com/r/emacs/comments/8pcw5a/what_is_the_most_painless_way_to_install_emacs_26/e0aem3u/

[2019-05-30 09:17] astoff opened #863 "Wrong `languageId` for LaTeX"
In `latex-mode`, a null value is sent to the server as `languageId`; it should be `latex`.

A similar issue happens for `plain-tex-mode`, but I'm not sure what the appropriate value is. I'd say stripping `-mode` from the symbol name should almost always work correctly anyway.

The language server I'm testing, in case you are interested in adding to the list of pre-configured ones, is [this one](ht

[2019-05-30 09:21] yyoncho commented on #863
Take a look at `lsp-language-id-configuration`.

[2019-05-30 09:45] astoff commented on #863
So you are not going to fix this bug? The `languageId` field is not allowed to be null. Thus, lsp-mode should either refuse to start or guess the `languageId` if it's not in that list.

[2019-05-30 09:49] yyoncho commented on #863
@astoff I thought that you are asking what to do when there is no language id for the file. Alternatively, we may add a warning when there is no language ID for the current mode.

[2019-05-30 13:01] astoff commented on #863
How about guessing the `languageId` field from the major mode's symbol name (by removing the "-mode" at the end)? Then about half of the entries of `lsp-language-id-configuration` could be deleted.

Otherwise, providing the `languageId` essentially becomes part of registering a new server. That's fine too, but then it would make more sense to provide this as an argument of `make-lsp-client`.

[2019-05-30 13:39] yyoncho commented on #863
it is technically possible and it will shave some code. The drawback is that if someone is adding a new server and the mode name does not match the language the error will be hidden(like now) which IMO is worse than having few extra lines. Some of the language servers do not report an error when they see unexpected languageId but they disable certain functionality and it is virtually impossible to

[2019-05-30 14:20] astoff commented on #863
In this case, specifying the languageId while doing the registration sounds like a good plan. Or perhaps it's enough to just be more explicit in the example at https://github.com/emacs-lsp/lsp-mode/blob/master/README.org#registering-server (I only looked at the code snippet and missed this detail).

[2019-05-30 19:41] bradprob opened #864 "lsp-rename has been broken"
**Describe the bug**
lsp-rname remove extra characters.

**To Reproduce**
In a C++ project just execute lsp-rename on a class name.

**Expected behavior**
Expected that only the class name was named.

**Which Language Server did you use**
C++

**OS**
Debian

**Error callstack**
No error

[2019-05-30 20:20] yyoncho commented on #864
What is the actual behaviour?

[2019-05-30 21:40] bradprob commented on #864
lsp-rename changes:
[code]
to
[code]

Though after restarting Emacs it behaves normal!!!

[2019-05-31 07:50] Kazimazi opened #865 "Completing variable name in PHP inserts extra '$'"
**Describe the bug**
Choosing a variable name from the completion menu puts extra `$` at the beginning of name.
[Video](https://streamable.com/6c7yp)

**To Reproduce**
Create variable `$color = "red";` and try to complete it `$co`.

**Which Language Server did you use**
Intelephense PHP language server.

[2019-05-31 07:52] yyoncho commented on #865
This is company-lsp bug.

(cc @tigersoldier )

[2019-05-31 16:46] yyoncho commented on #863
Which language server did you use? Can you also attach the client server communication?

[2019-05-31 16:49] #863 closed

[2019-05-31 16:50] yyoncho commented on #863
I have pushed a fixed, can you take a look at comment?

[2019-05-31 16:50] yyoncho commented on #863
I have pushed a fixed, can you take a look at comment?

[2019-05-31 16:51] yyoncho commented on #864
Which language serve did you use? Can you attach client server communication?

[2019-05-31 18:39] madscientist commented on #805
Is this something we can fix?  I've been bit by this over and over, because my test suite creates temporary files in the "tmp" directory in the root of my project, and my Emacs goes bananas trying to watch them all.

[2019-05-31 19:10] yyoncho commented on #805
There is PR at https://github.com/emacs-lsp/lsp-mode/pull/830

[2019-05-31 19:11] #805 closed

[2019-05-31 19:27] madscientist commented on #805
w00t!  Thanks!  Hopefully will appear in elpa soon-ish.

[2019-05-31 22:03] bradprob commented on #864
clangd.
[code]

[2019-06-01 05:15] astoff commented on #863
The change in the code looks good. As to the change in the README, should't one use

[code]

rather than a `defvar`?

[2019-06-01 05:30] yyoncho commented on #863
It depends on whether you are adding the support as part of lsp-mode or you are doing that in an external package. I added https://github.com/emacs-lsp/lsp-mode/commit/f110a8f0fd316bcd87396fbea2dce3617bca9d5e to clarify that.

[2019-06-01 06:34] yyoncho commented on #864
I tried it locally with clangd and few more language servers and my conclusion is that rename works. I am closing it as unable to reproduce.

Please reopen it after providing exact steps providing steps to reproduce using the latest clangd/lsp-mode including the client-server communication, source file and so on. You can collect client/server communication after setting lsp-print-io to `t` and ins

[2019-06-01 06:34] #864 closed

[2019-06-01 07:29] yyoncho commented on #865
@Kazimazi unable to reproduce using lsp-start-plain.el file (you have to install php-mode additionally).

[code]

IMO the issue is caused by company setting or you are not using the latest version of all components.

[2019-06-01 17:51] Jumblemuddle commented on #661
I was able to get this mostly working thanks to code from [856](https://github.com/emacs-lsp/lsp-mode/pull/856), but I'm unable to complete snippets by name (see https://github.com/vshaxe/vshaxe/issues/351).

[2019-06-01 17:54] Jumblemuddle commented on #661
Per https://github.com/vshaxe/vshaxe/issues/351, it looks like there is no server-side filtering, so this is probably a [Company LSP](https://github.com/tigersoldier/company-lsp) issue.

[2019-06-01 18:28] yyoncho commented on #661
@Jumblemuddle the latest version of company-lsp provides client-side filtering. There is haxe issue related inserting, described in https://github.com/emacs-lsp/lsp-mode/pull/856#issuecomment-495940138 which should be resolved upstream. You may inspect the filtering process via M-x trace-function company-lsp--filter-candidates RET .

[2019-06-01 18:59] yyoncho commented on #661
![Uploading Selection_142.png…]()

[2019-06-01 18:59] Hakuyume opened #866 "lsp-format-buffer moves cursor to the beginning of the buffer"
**Describe the bug**
Same as https://github.com/emacs-lsp/lsp-mode/issues/253.
Although that issue was fixed by https://github.com/emacs-lsp/lsp-mode/pull/258, this [commit](https://github.com/emacs-lsp/lsp-mode/commit/f5fb153ac9b0e17e48435e1956628b586eeb1c61) removed the fixed code.

**To Reproduce**
- open a python file that has wrong format.
- `M-x lsp`
- move cursor somewhere on the buffer.
-

[2019-06-01 19:31] #866 closed

[2019-06-01 19:42] yyoncho commented on #852
I meant other language server but if you had tried MS Python Ls and you still get the same slowness then the problem is not related to pyls. But still, you may try another server (e. g. js/ts language servers are easy to install).

I would suggest testing with other Emacs version (e. g. 25.x) just because we are out of options.

[2019-06-01 22:48] Jumblemuddle commented on #661
@yyoncho, I do actually have the Haxe LSP built with the modifications from https://github.com/vshaxe/vshaxe/issues/350 to include the range. Are you saying I should be able to complete these entries with that?

[2019-06-02 05:10] yyoncho commented on #661
@Jumblemuddle No, what I am saying is that if you are using latest company-lsp it should filter the completion items client side.  vshaxe/vshaxe#350 is about being able to insert them. My comment was an answer to

[2019-06-02 10:47] yyoncho commented on #851
@itome can you help me create an example project which produces such big responses? I tried creating a project with

[code]

and then when I tried completing it was very fast.

[2019-06-02 11:44] itome commented on #851
Try `flutter` repository,
https://github.com/zesage/flutter_compass
↑ This is very simple project but completion is very slow in `build` function.

[2019-06-02 12:14] Jumblemuddle commented on #661
@yyoncho, oh, gotcha.
I am using the latest company-lsp, so I just need to figure out why it always filters out everything but functions.

[2019-06-02 13:28] Kazimazi commented on #865
I wonder why... I have the newest of everything. I'll try a minimal config when I have time.

[2019-06-02 14:36] yyoncho commented on #661
@Jumblemuddle it is haxe bug - so the snippets are available only when you press `.` . By default, company-lsp does not cache the items that are retrieved initially. You may avoid it by doing

``` (setq company-lsp-cache-candidates t) ``` and the snippets will work.

You may reproduce it in vscode too - e. g. type `"xx".fo` press escape to remove the snippet and then press `C-SPC` to trigger compl

[2019-06-02 19:15] Jumblemuddle commented on #661
Thanks, @yyoncho! Works like a charm
I'm not entirely clear on the difference, but `(company-lsp-cache-candidates 'auto)` worked as well.

[2019-06-03 21:08] otavio commented on #818
[code]

It shows on the status bar but not highlight the symbol.

[2019-06-04 07:16] yyoncho commented on #818
This means that there are no highlights for the current position according to the server.

[2019-06-04 07:16] #818 closed

[2019-06-04 08:51] MyOde commented on #823
Whelp, as per usual, I think this was a configuration issue.
I've reworked some of My config now, and things seem to be running good,
I am sorry for possibly having wasted Your time!

Sadly I am not 100% sure which part of My configuration was causing this, and cannot write it down for future reference.
I'll be closing this now as I myself cannot reproduce it.

[2019-06-04 08:51] #823 closed

[2019-06-04 08:56] yyoncho commented on #823
@MyOde No worries - IMO you were somehow overriding the lsp-mode flymake handler, based on https://github.com/emacs-lsp/lsp-mode/issues/823#issuecomment-496425517

[2019-06-05 08:20] vn-ki opened #870 "Slugginess with python lsp"
**Describe the bug**
There is slugginess when editing python code.

**To Reproduce**
Steps to reproduce the behavior:
- Edit python code

**Expected behavior**
Snappy editing

**Which Language Server did you use**
lsp-python

**OS**
Arch - 5.1.5-arch1-2-ARCH

**Profiler**

<details>

[code]

</details>

[2019-06-05 08:24] yyoncho commented on #870
Can you post the full profiler report and also the output of `*lsp-log*` after setting `lsp-print-performance` to `t`?

[2019-06-05 08:36] vn-ki commented on #870
Hmm. Weird. It is snappy now all of a sudden. It was sluggy for a long time even after restarting, very weird.

I'll reopen if it comes back.

Still posting profiler if interesting

<details>
<summary>Profiler </summary>

[code]

</details>

<details>
<summary>LSP Log</summary>

[code]

</details>

[2019-06-05 08:36] #870 closed

[2019-06-05 10:44] Kazimazi commented on #865
I've found the reason I have this issue. I have `evil-collection` so I get various key binds like cycle selections [here](https://github.com/emacs-evil/evil-collection/blob/master/evil-collection-company.el). I don't exactly know why it duplicates `$` yet. Might solve it later on.

[2019-06-05 10:50] yyoncho commented on #865
The issue is that lsp-mode and snippets, in general, does not work with tng frontend so I guess if you set evil-collection-company-use-tng to nil the issue will be fixed.

See https://github.com/company-mode/company-mode/issues/891

[2019-06-05 10:50] #865 closed

[2019-06-05 20:36] dennismayr opened #872 "[Spacemacs.develop][lsp-go] Autocompletion quirk, "run-on" completion"
Autocomplete chooses the expected word, but doesn't insert it properly.
![Drop-down](https://imgur.com/xKBMZgo.png)
![Completion quirk](https://imgur.com/Y2e9q52.png)

**To Reproduce**
Steps to reproduce the behavior:

- Use the `lsp` backend for **Go** instead of `go-mode` in Spacemacs:
[code]
- Type a word to autocomplete
- Select the word and tap `return` to enter it

**Expected behavior**
Afte

[2019-06-05 20:49] yyoncho commented on #872
Can you list the versions of lsp-mode and company-lsp?

[2019-06-05 20:52] dennismayr commented on #872
Sure thing.

`lsp-mode-20190605.1330`
`company-lsp-20190525.207`

[2019-06-06 01:38] itome commented on #851
This issue fixed for me by dart server enhancement. I close this PR. Thanks.

[2019-06-06 01:38] itome commented on #851
Related dart issue -> https://github.com/dart-lang/sdk/issues/37060

[2019-06-06 01:38] #851 closed

[2019-06-06 01:55] eastwood opened #873 "Typescript not recognising tsconfig.json settings"
**Describe the bug**
LSP mode is reporting linting errors for typescript projects that do not adhere to `tsconfig.json` settings.

**To Reproduce**
1. Clone repo: https://github.com/eastwood/lsp-typescript-demo
2. `npm install` in repo
2. Using config settings from [here](https://github.com/eastwood/config/blob/master/emacs.d/init.el)
3. Notice that in the `src/index.ts` file I receive this error:

[2019-06-06 02:02] eastwood commented on #873
It's worth mentioning that enabling `tide-mode` instead of `lsp-mode` results in expected behaviour

[2019-06-06 03:10] yyoncho commented on #873
Unable to reproduce. I do not have that error bu. Can you make sure that you have the latest of everything(lsp-mode, server components) and that you have picked the correct project root and retry?

[2019-06-06 03:25] yyoncho commented on #872
I am unable to reproduce the issue using spacemacs or `lsp-start-plain.el`, can you try upgrading the gopls server? If the issue is still there can you set lsp-print-io to `t` and paste the client-server communication?

[2019-06-06 03:27] yyoncho commented on #761
@garyo any update on that, did you had a chance to try what was suggested in https://github.com/emacs-lsp/lsp-mode/issues/761#issuecomment-482634759 ?

[2019-06-06 03:35] eastwood commented on #873
Thanks for having a go, i'll try and improve repro

[2019-06-06 03:42] eastwood commented on #873
I've updated the `typescript-language-server` to `0.3.8`, and `lsp-mode@6.1`. How do I check the correct project root? I'm just using projectile to find it

[2019-06-06 03:46] eastwood commented on #873
Also, did you `npm install` the package?

[2019-06-06 03:54] yyoncho commented on #873
Yes, I did npm install.

To check the project root do `lsp-describe-session`.

[2019-06-06 03:58] eastwood commented on #873
Yep project root is correct. When I `npm install` the error shows up, but when I delete the `node_modules`, it disappears. It's like when using `devDependencies` it's not finding the `tsconfig` correctly. And when I don't have `node_modules` installed, changing the `tsconfig` file reproduces the error i'm seeing

[2019-06-06 04:06] yyoncho commented on #873
I tested with javascript-typescript-languageserver it works too.

FTR I am getting the error if I do npm install and then I delete the node_modules.

[2019-06-06 04:07] eastwood commented on #873
hmmm, mk.

Well the error disappears when I move the tsconfig.json into the `src` directory

[2019-06-06 04:10] yyoncho commented on #873
I am not sure we can do anything on lsp-mode side since this looks like a server side issue...

[2019-06-06 04:10] eastwood commented on #873
@yyoncho can I manually set the typescript server path to test if that's the cause?

[2019-06-06 04:15] yyoncho commented on #873
Yes, you may alter `lsp-clients-typescript-server-args` and the language server accepts the following arguments:

[code]

[2019-06-06 04:31] eastwood commented on #873
No luck, with:
[code]

I have found this in my `lsp-log` buffer? Could this contribute?

Command "typescript-language-server --stdio" is present on the path.
Found the following clients for /Users/cryan/Workspace/nib.com.au/cryan/typescript-test/src/index.ts: (server-id ts-ls, priority -2)
The following clients were selected based on priority: (server-id ts-ls, priority -2)

[2019-06-06 04:58] eastwood commented on #873
Also, when upgrading to typescript latest in the repo, the error goes away. Perhaps an issue with the lsp server version and `typescript@2.3.4`?

[2019-06-06 04:58] #873 closed

[2019-06-06 05:17] yyoncho commented on #873
I guess so.

[2019-06-07 16:20] bastianbeischer commented on #870
My experience is that pyls (the language server) is not doing too well on the performance front, which would be a pyls issue, not a lsp-mode issue. I'm assuming you are using [pyls](https://github.com/palantir/python-language-server).

[2019-06-08 18:29] dennismayr commented on #872
Sure thing.

`gopls` is up-to-date (just pulled it, Sat - june 8 2019 @ 13:50 GMT -3).

I've noticed something:
If you type `f`-TAB to get autocompletion suggestions expecting to show `fmt` as result, those will be suggested in `helm` minibuffer; that way, you can choose `fmt`, the standard _I/O format_ module.

If you go on and after choosing `fmt`, you autocomplete, say, to `fmt.Println(a ...int

[2019-06-08 18:39] yyoncho commented on #872
Is it possible that you are using tng company frontend? It does not work quite well with lsp-mode. Also, is it possible for you to share your .spacemacs configuration? Or at least the layers + the company/lsp related configuration?

[2019-06-08 18:55] dennismayr commented on #872
[My current _Spacemacs_ dotfile](https://pastebin.com/aG6yeYq7)

[Spacemacs.develop Golang layer](https://github.com/syl20bnr/spacemacs/tree/develop/layers/%2Blang/go)

[2019-06-09 08:24] vishesh opened #876 "`lsp-describe-thing-at-point` for Rust doesn't work on macros"
**Describe the bug**
`lsp-describe-thing-at-point` should show documentation for the current symbol. However, when doing so over macros such as `println!` or `assert_eq` it the documentation popup is empty. Similarly when hovering over the symbol in `lsp-ui-doc-mode` nothing shows up.

**To Reproduce**
- Write a program which uses macro such as `println!` or `assert_eq!`.
- Move cursor over the sy

[2019-06-09 10:05] yyoncho commented on #876
This is up to the server to provide that information, lsp-mode is just a front end. This PR should be filed against RLS language server but IMO they are aware that fact and already have a tracking ticket.

[2019-06-09 10:05] #876 closed

[2019-06-09 15:28] yyoncho commented on #872
I managed to repro your issue. First thing is that completion-at-point does not support snippets, this is tracked in https://github.com/emacs-lsp/lsp-mode/issues/350 . If you want to use snippets you should use company-lsp. Then after you enter the snippet it seems like the gopls server is starting to return wrong completions for fmt prefix.

Consider the following snippet:

[code]

Notice that go

[2019-06-09 20:06] dennismayr commented on #872
At least we now know where the problem resides :smile:
Thanks for the assistance; I'll stick to `go-mode` for the time being, while keeping an eye on this.
LSP has made my workflow much better in general.

[2019-06-09 21:10] muirrn commented on #872
Gopls can't detect the "f" prefix properly due to the syntax error on the previous line. The "f" is not parsed as an identifier, so gopls falls back to assuming there is no prefix. There are many other similar cases where gopls doesn't work due to surrounding/preceding syntax errors. It is a tough problem to solve in general, but in this particular case it seems like we could "manually" detect the

[2019-06-09 23:36] dennismayr commented on #872
Excellent!

`go` language servers are going a long way (pun not intended); `gopls` still is the best option, looking back to other projects.

The _"silver lining"_ of this problem is that is if autocompletion fails, it means that there's an error on the line above, and it needs immediate attention.

[2019-06-10 06:51] #872 closed

[2019-06-10 11:32] exlee commented on #852
I experience very similar issue on 26.2 on MacOS with Ruby.

I enabled `lsp-print-performance` and `lsp-print-io` and noticed two things:

First is that at some point LSP server is being swamped with requests (and after some time the server response times are ~1-2s/each). In perf log I counted 120 requests in 6 seconds, all of it is a while typing a: `get 'form' => "For` in Ruby's `routes.rb`.

Th

[2019-06-10 20:01] pfurnanz opened #877 "lsp-rename needs hooks for VC control"
The lsp-rename method will visit files and apply edits. In some version control systems file are read-only until explicitly marked open by the user. The apply edits function should have a hook so that users may arrange for the file to be marked open.

[2019-06-10 21:46] howdoicomputer opened #878 "Support for Terraform?"
There is a Terraform LSP in development here: https://github.com/juliosueiras/terraform-lsp

It seems to be not super far along but it's something.

[2019-06-10 22:04] raxod502 commented on #824
In my opinion, it is very much against best practices for disabling a minor mode to not actually disable its functionality. I had a buffer of Go code that was reporting

[code]

in the echo area every time I moved the cursor. I didn't want to figure out that whole mess just then, so my first thought was `M-x lsp-mode` to disable it. But the errors didn't go away!

Running `M-x lsp-workspace-shutdo

[2019-06-11 00:51] yyoncho commented on #877
`lsp-before-apply-edits-hook` sounds like a good idea, willing to provide a PR?

[2019-06-13 03:40] kaiwk opened #881 "Missing language id, Emacs original js-mode"
I believe we missed original `(js-mode . "javascript")`

https://github.com/emacs-lsp/lsp-mode/blob/0335572d8f5db07765bd58817e20238a690baa96/lsp-mode.el#L561

[2019-06-13 07:26] seagle0128 commented on #852
Similar issue on 27.0.50 on macOS, with pyls. I am using `numpy` and `pandas`. It's very slow to complete functions in these two modules.

[2019-06-13 18:01] prittjam opened #882 "Error in process filter for lsp-python-ms when browsing code"
**Describe the bug**
Emacs hangs when moving over certain code in python. There is some error in filter.

**To Reproduce**
Load up any reasonably sized script and it will happen

**Expected behavior**
It should parse the code.

**Which Language Server did you use**
lsp-python-ms

**OS**
Linux

**Error callstack**
Debugger entered--Lisp error: (wrong-type-argument arrayp nil)
  replace-regexp-in-st

[2019-06-14 02:34] kenkangxgwe commented on #514
Hi @zhougts , could you please upgrade the lsp-mode and try to register the latest php server again?
`--tcp` for `lsp-tcp-server-command` or `--tcp-server` for `lsp-tcp-connection`.

[2019-06-14 13:06] seagle0128 opened #883 "lsp doc render"
I am using a several LSP servers/clients in my daily work. For some lang servers, the doc strings are rendered as markdown or lang-mode perfectly (e.g. rls, pyls, etc.).

- rls
![image](https://user-images.githubusercontent.com/140797/59511061-e7429200-8ee7-11e9-82e3-d0d93497ce35.png)

But for some other lang servers, the doc strings are not redered, e.g. gopls, mspyls, etc.

- mspyls
![image](htt

[2019-06-14 15:30] muirrn opened #884 "Should disable company-capf when company-lsp is present"
**Describe the bug**
I use company-lsp, which works great. However, when I'm typing and company-lsp gets zero completions from the lsp server (e.g. I'm typing a comment or string literal), company mode falls back to company-capf which starts doing blocking completion calls which slows my typing way down, sometimes pausing for seconds.

**To Reproduce**
Using gopls server, type some normal code, ru

[2019-06-14 15:47] yyoncho commented on #884
I agree - there were problems related to that in the past.

[2019-06-14 17:23] muirrn opened #885 "Consider "batching" requests/notifications to the server"
**Describe the bug**
lsp-mode sends many individual requests/notifications to the LSP server with every keystroke. With gopls for example, every keystroke normally sends a "didChange", "documentHighlight", "signatureHelp", and "hover". When you are typing fast, this can put undue load on the server and slow things down (or cause worse problems if the LSP server doesn't handle it well). I think VSC

[2019-06-14 17:45] yyoncho commented on #885
AFAIK the only request which does not have a delay is didChange, vscode does that too. This is the only request for which the client side batching will make sense. We have discussed that a lot in the past and the conclusion was that the server should add debounce processing of didChange events(hie, jdtls, ccls does that, probably the rest do that too).

Check: `lsp-links-check-internal`, `lsp-docu

[2019-06-14 18:01] muirrn commented on #885
Ah, I see. I saw multiple "hovers" and the like, but I think one was from switching into the buffer, not from typing. If we already do the same thing as VSCode then I'm happy. I'm also working to get gopls in particular to behave better.

[2019-06-14 18:01] #885 closed

[2019-06-14 18:16] #881 closed

[2019-06-14 18:29] #884 closed

[2019-06-14 19:56] #882 closed

[2019-06-14 19:58] #883 closed

[2019-06-14 20:09] yyoncho commented on #883
I have fixed the issue for gopls, please test with the rest of the servers. But  there is one more issue in lsp-ui which cannot display `---` very well. I am looking into it.

[2019-06-15 05:20] proofit404 opened #886 "Company completions does not respect user input."
Hi,

Sorry to ask this question in the bug tracker but Gitter doesn't support image upload.

I don't know if this is the right behavior, but company variants do not filter according to my input.

![Untitled](https://user-images.githubusercontent.com/1862725/59547352-3fa87c80-8f46-11e9-918f-a38121c6f560.png)

This makes the auto-complete option mostly unusable to me.

[2019-06-15 05:29] yyoncho commented on #886
Which language server do you use? Can you make sure whether company-lsp filtering is enabled by inspecting  company-lsp-filter-candidates?

[2019-06-15 05:44] gustavo-depaula opened #887 ".ts files are handled as javascript files, when using js2-mode"
**To Reproduce**
Open a `.ts` file with js2/rjsx-mode (that has support for typescript), and you'll see a lot of errors like `8006`, `8011`, `8010`.

**Expected behavior**
As a typescript file is open, it should be handled as a typescript file.

**Which Language Server did you use**
`typescript-language-server`

**OS**
macOS

**Do you have any suggestions?**
The solution would be the same as the s

[2019-06-15 05:53] yyoncho commented on #887
Yes, this is the proper solution. VScode maps the file pattern -> languageId which I think is the correct way to handle. Feel free to open a PR.

[2019-06-15 17:43] seagle0128 commented on #883
Thanks for the quick fixing!

Now it looks like this. It seems not working.

![image](https://user-images.githubusercontent.com/140797/59554593-f143be00-8fd7-11e9-8cde-75455b4f1dcd.png)

[2019-06-15 17:49] seagle0128 commented on #883
Thanks for quick fixing!

Yes, it does work with `lsp-describe-thing-at-point` now, but not work well in `lsp-ui` and `company-box-doc`.

[2019-06-15 18:31] yyoncho commented on #883
Can you give me sample python file for the last screenshot? Also, can you show me screeshots for lsp-ui as well. On my machine there is strange issue with the new lines.

[2019-06-15 18:47] seagle0128 commented on #883
Sample

[code]

without webkit: The position is invalid

![image](https://user-images.githubusercontent.com/140797/59555109-4257b000-8fe0-11e9-985e-461b2b2f0ffe.png)

with webkit:

![image](https://user-images.githubusercontent.com/140797/59555136-99f61b80-8fe0-11e9-886f-ccfaa87df3fc.png)

company-box-doc:

![image](https://user-images.githubusercontent.com/140797/59555171-03762a00-8fe1-11e9-8e73-

[2019-06-15 19:41] yyoncho commented on #883
I found the issue with completion, how do you get the `\*`?

[2019-06-15 19:59] yyoncho commented on #883
Can you test with : https://github.com/emacs-lsp/lsp-mode/commit/767693b26712751354fb2bdc8b897924f123bbc4

[2019-06-16 00:23] gustavo-depaula commented on #887
@yyoncho noobie question, I forked, cloned, and made the modification, how do I test it on my emacs locally?

[2019-06-16 05:05] yyoncho commented on #887
It depends on what you are using for your configuration. For example, if you are using use-package you may configure it to download the package from your fork like this - https://framagit.org/steckerhalter/quelpa-use-package .

For spacemacs I do:

`ln -s ~/Sources/lsp/lsp-mode/* ~/.emacs.d/elpa/27.0/develop/lsp-mode-*/ -f `

You could also eval lsp-mode.el manually before the melpa version is dow

[2019-06-16 06:58] LesleyLai opened #890 ".tsx file are handled as html while in web-mode"
**Describe the bug**
`.tsx` files are sent to the HTML language server instead of typescript language server under `web-mode`. The above behavior will not happen if I change the major mode to `typescript-mode`. I am not sure if this is related to #781.

**To Reproduce**
Opening a `tsx` file, and then open `lsp-mode`

**Expected behavior**
`.tsx` file are sent to the typescript language server

**W

[2019-06-16 07:19] #890 closed

[2019-06-16 13:10] seagle0128 commented on #883
@yyoncho new screenshot

![image](https://user-images.githubusercontent.com/140797/59564589-1fc6a500-907b-11e9-9822-98c94ba4993f.png)

Other issues still exist.

[2019-06-16 15:02] yyoncho commented on #883
The issue with long separator line should be fixed too or at least I cannot reproduce it. I have tested yet with the xwidget.

[2019-06-16 17:22] seagle0128 commented on #883
@yyoncho Thank you! I meant the doc isn't rendered as markdown yet, and not perfect in xwidget. Others are fine now.

[2019-06-16 18:00] yyoncho commented on #883
@seagle0128 I found what is causing these issues - I will try to provide a fix. The issue is that the overlays do not respect when invisible text property and I am stripping them. But this is causing issues when the for python ls.

[2019-06-16 19:44] gustavo-depaula commented on #887
@yyoncho pr opened: #891

[2019-06-17 04:38] #887 closed

[2019-06-17 16:48] Gama11 commented on #661
Nice catch, this should be fixed now.

[2019-06-17 17:19] seagle0128 commented on #883
@yyoncho It's almost perfect in `rls` and `jdtls`, but still not as good as in VSCode. For example:

![image](https://user-images.githubusercontent.com/140797/59623572-0bf86d00-9167-11e9-963f-9d1609a4a409.png)

[2019-06-17 18:17] yyoncho commented on #883
IMO this is `markdown-mode` bug.

[2019-06-17 20:34] Hi-Angel opened #894 "Capability not supported by the language server: "definitionProvider""
**Describe the bug**

<kbd>M</kbd>-<kbd>x</kbd> <kbd>lsp-find-definition</kbd> results in

[code]

Note: I likely misconfigured it, but I followed the instructions.

**To Reproduce**
1. Run `clangd` in terminal
2. <kbd>M</kbd>-<kbd>x</kbd> <kbd>install-package</kbd> <kbd>lsp-mode</kbd>
3. Open test.cpp, and write
[code]
4. run `lsp-mode` in Emacs
5. Put caret over the `foo()` call, and call <kbd>M

[2019-06-17 20:44] Hi-Angel commented on #894
In case I didn't misconfigure it, and it's indeed a bug I should mention that for installing the packages I see the following output *(a snip)*:

[code]

I'm not sure what this `failure` is about.

[2019-06-17 20:51] Hi-Angel commented on #894
Oh, okay, I figured I had to execute `lsp` command. It's mentioned in README, but implicitly, in the `(add-hook 'XXX-mode-hook #'lsp)` line.

[2019-06-17 20:51] #894 closed

[2019-06-17 21:08] Hi-Angel opened #895 "Current lsp-mode.el can't be evaluated"
**Describe the bug**
Current elpa package, as well as the upstream code, can't be fully loaded due to evaluation of the function `lsp--annotate` triggering error `wrong-type-argument listp kind`

**To Reproduce**
1. Download latest `lsp-mode.el`. For example, in bash: `wget https://raw.githubusercontent.com/emacs-lsp/lsp-mode/master/lsp-mode.el`
2. Put caret at the end of the `lsp--annotate` funct

[2019-06-18 03:45] yyoncho commented on #895
Please retry after upgrading your `dash` version. Reopen the issue if it is still present.

[2019-06-18 03:45] #895 closed

[2019-06-18 06:51] Hi-Angel commented on #895
Thanks, that worked!

[2019-06-18 12:07] jsmestad opened #896 "Ability to set LSP server for a given project"
The README does not call this out anywhere and it's worth adding, assuming it is possible, for how to tell LSP which server I want for a given project.

For example, on a given project one Typescript/Javascript server works better than another and it would be nice to document how to tie into something like projectile to make this work.

[2019-06-18 12:33] s-kostyaev commented on #896
You can do this with https://www.gnu.org/software/emacs/manual/html_node/emacs/Directory-Variables.html

[2019-06-18 13:55] yyoncho commented on #896
@jsmestad we have that in FAQ section, please take a look and comment whether this is sufficient.

[2019-06-18 13:55] #896 closed

[2019-06-18 13:56] yyoncho commented on #886
Any update?

[2019-06-18 14:47] proofit404 commented on #886
Hi @yyoncho

Sorry for the delay!

I checked out `company-lsp` filter settings. Python language server doesn't filter candidates by default.

Looks like the problem was in my config.

Thanks for suggestions!

[2019-06-18 14:47] #886 closed

[2019-06-18 18:54] Hi-Angel opened #898 "cl-assertion-failed ((functionp fetcher) for "go to definition""
**Describe the bug**
With clangd, <kbd>M</kbd>-<kbd>x</kbd> <kbd>lsp-find-definition</kbd> results in results in this assertion.

**To Reproduce**
1. Make sure `clangd` is installed
2. Create `/tmp/foo/test.cpp` with this content
[code]
3. run `emacs -Q --eval "(package-initialize)" /tmp/foo/test.cpp`
4. run <kbd>M</kbd>-<kbd>x</kbd> <kbd>lsp</kbd> in Emacs *(you should see a message about clangd

[2019-06-18 19:20] yyoncho commented on #898
Can you reproduce it using https://github.com/emacs-lsp/lsp-mode/blob/master/scripts/lsp-start-plain.el ?

[2019-06-18 19:36] Hi-Angel commented on #898
Thank you, yes, here's the stacktrace from there:

[code]

[2019-06-18 19:42] yyoncho commented on #898
I assume that you have started it via `emacs -q -l lsp-start-plain.el`, right?

[2019-06-18 19:45] Hi-Angel commented on #898
With big `-Q` though. But I just retested as you wrote, it results in the same.

[2019-06-18 19:49] yyoncho commented on #898
Which version of emacs do you use?

[2019-06-18 19:50] Hi-Angel commented on #898
It's from git, 27.0.50 of 2019-06-16

Since I'm running git version, I decided to give a try to REmacs that is based on older Emacs code. The `lsp-find-definition` doesn't work there too, the error is different though.

[2019-06-18 19:54] yyoncho commented on #898
I thi

[2019-06-18 19:58] Hi-Angel commented on #898
Thank you! I can try bisecting too if it's a known problem.

[2019-06-18 20:07] yyoncho commented on #898
Fyi remacs does not work out of the box since JSON.c is not synched with GNU emacs version and you should disable native JSON parsing .

[2019-06-19 04:19] yyoncho commented on #898
I tested with the latest emacs and I am unable to repro the issue. IMO it is already fixed, probably by

[code]

or

[code]

(cc @dgutov).

[2019-06-19 06:55] Hi-Angel commented on #898
Well, this is odd :( I just rebuilt Emacs from latest upstream, and doing `src/emacs -q -l lsp-start-plain.el` from the build directory results in the same for me.

Anyway, thank you! I'll try to figure out it later myself then.

[2019-06-19 08:46] dgutov commented on #898
Probably this one, yes.

@Hi-Angel What's the revision that you are using?

[2019-06-19 09:15] Hi-Angel commented on #898
The last one that I re-tested from a build directory was at [ef23c8be70d2cdc51b7f117ab3b4ad2f16b4ecdc](https://github.com/emacs-mirror/emacs/commit/ef23c8be70d2cdc51b7f117ab3b4ad2f16b4ecdc).

[2019-06-19 09:55] machekku opened #899 "PHP files treated as typescript"
**Describe the bug**
I use lsp-mode with PHP files using intelephense. After a recent lsp-mode update LSP features for PHP files stopped working. For example, lsp-describe-thing-at-point produces "No content at point" error. After investigating IO log I noticed that lsp-mode send textDocument/didOpen notification with languageId set to 'typescript':

[Trace - 11:41:21 AM] Sending notification 'tex

[2019-06-19 11:08] Hi-Angel commented on #898
Could please someone, for whom everything works fine, test the following:

1. evaluate this version of [xref--show-xrefs](https://github.com/emacs-mirror/emacs/blob/2419fa3937f07f8e2e4a79f77fe367a9979cb578/lisp/progmodes/xref.el#L905)
[code]
2. Repeat the report steps.
3. Do <kbd>M</kbd><kbd>S</kbd>-<kbd>e</kbd> `(functionp global-fetcher)`, and tell if it's `t` or `nil`?

[2019-06-19 11:09] dgutov commented on #898
Ah, sorry. I have read the backtrace properly now. The problem is in `lsp-mode`.

@yyoncho I'm sorry to say but `xref--show-xrefs` has been changed in Emacs 27 to accept a function as its first argument. It's a private function, so we can do that.

You're doing something wrong here anyway: instead of just defining the required backend methods and letting xref call them, you've written your own com

[2019-06-19 12:03] yyoncho commented on #898
We have created the lsp-find-* methods due to the fact that lsp-mode does not support picking up the identifier at the point - see https://github.com/emacs-lsp/lsp-mode/issues/466 . Also, there are methods which xref does not support as far as I know (e. g. there is no xref-find-implementations).

I agree, we did that as a workaround. On the other hand `xref-show-definitions-function` is public an

[2019-06-19 12:50] dgutov commented on #898
That seems to mean that you can't properly support `xref-prompt-for-identifier`. That is unfortunate. Is there a corresponding feature request for LSP already?

You can tell the users to bind it to nil. Or your wrappers can call the original commands instead of the private function (then the prompt won't be used anyway). And the backend methods can ignore the first argument.

There are different o

[2019-06-19 13:00] dgutov commented on #898
Or they can check and make sure that it's the same identifier that is under point. And otherwise apologize and tell the user to change the value of `xref-show-definitions-function`. This particular behavior can vary by command or even by language server (if some do provide support for entering the identifier explicitly).

[2019-06-19 17:54] yyoncho commented on #898
@dgutov

AFAIK no. I doubt that such a feature request will be addressed since the protocol is primary focused on vscode needs.

That is a good idea, thanks. Since we need to find a solution about the methods that do not have xref equivalents I am planning to do something like this

[code]
and then use `lsp-method-to-execute` in the backend. We will need that workaround even if the issue is fixed

[2019-06-19 19:15] dgutov commented on #898
Maybe they would suddenly become inspired and decide to add such feature to VS Code :-)

Or suggest some alternative approach.

Yup, sounds good to me.

Wasn't there some thing like server capability/trigger characters? Though it probably doesn't fully describe the grammar.

[2019-06-20 10:18] machekku commented on #899
I've been thinking about this strange behavior and I realized that my PHP code resides inside "Projects" dir, and "Projects" ends with "ts". If I move my code outside of this directory, than LSP works correctly. Could it be that the ".*.ts" rule for typescript actually matches all files inside Projects dir?
(Sorry, I'm not emacs-smart enough to answer this question myself)

[2019-06-20 10:21] yyoncho commented on #899
@machekku the issue is that the regexp should be ".*\.ts$"

[2019-06-20 10:30] machekku commented on #899
@yyoncho I can confirm that changing the regexp helps. (but I don't have typescript environment to test if it doesn't break that).
Thanks.

[2019-06-20 16:54] #899 closed

[2019-06-20 17:29] magonreal commented on #760
I am facing the same problem.
It's annoying because I have lots of projects which I want to work on over tramp, and still want to use my local files without clearing the projects manually every time. Especially, because I need VPN to access the server, emacs just freezes trying to connect to it and fails.

Is it possible to add a setting to the lsp-mode "import project root" to just temporary add

[2019-06-20 18:39] muirrn commented on #792
@yyoncho would you be receptive to the change described by @fjl? I'm not an elisp expert but I can give it a try.

[2019-06-20 18:49] yyoncho commented on #792
@muirrn the change described by @fjl does not require a change in lsp-mode. This pretty much means creating an alternative to MAJOR-mode-hook for invoking `lsp` command. We might document it in README.org though.

[2019-06-20 18:55] muirrn commented on #792
Okay, so you are not receptive to the idea that lsp-mode could defer running `lsp` until the buffer is visible?

[2019-06-20 19:06] yyoncho commented on #792
@muirrn no, I am fine with that change. What I am saying is that it could be implemented as an external to lsp-mode configuration. My point is that currently running `lsp` mode is configured externally(e. g. it uses major-mode-hook) and we could achieve deferring lsp-mode start without altering.

Something like that:

[code]

[2019-06-20 19:17] muirrn commented on #792
I understand that you could implement it outside of lsp-mode, but I opened this issue because I think the proposed behavior would be beneficial to all lsp-mode languages/users, so why not have lsp-mode work that way by default?

In particular, users would still run `lsp` via major mode hooks, but `lsp` itself would notice the buffer isn't visible and add the buffer to a deferred list instead of pr

[2019-06-21 04:37] nedijahij opened #900 "Not sure how to install Lsp Server for kotlin mode."
I am trying to use kotlin lsp mode and i cannot make it work in kotlin mode. After install kotlin mode, then i tried to install kotlin server using npm but seem like it is not an npm package and now i could not figure out what should i do. Please give some instruction to install lsp server for kotlin.

[2019-06-21 04:43] yyoncho commented on #792
My concern is that this is not something that everyone wants/expects(e. g. helm-imenu-in-all-buffers will stop working, since the language server won't know) and it may end up in confusion since this is not typical. If we want this behaviour and we want to be part of lsp-mode I would rather introduce another entry point(e. g. `lsp-start-defer`) or at least have that feature turned off by default.

[2019-06-21 05:06] muirrn commented on #792
If there's other things that depend/assume all buffers get loaded, then it makes sense to not change the behavior of `lsp`. I will play around with an implementation for `lsp-deferred` (or whatever) and see how it works, and then we can go from there.

[2019-06-21 05:17] yyoncho commented on #900
The instructions on how to obtain the language server, linked from lsp-mode README are here: https://github.com/fwcd/KotlinLanguageServer

[2019-06-21 05:17] #900 closed

[2019-06-21 13:32] jimmywongroo opened #901 "Duplicate language server"
**Describe the bug**

If 2 files of the same language under the same project are opened, one with ~ and another using the full path, 1 language servers will be started.

**To Reproduce**
Steps to reproduce the behavior:

1. Put two JS files in a git repo
2. Open one file with ~ path
3. Open the other with the full path
4. `M-x lsp-describe-session`

**Expected behavior**
The 2 files should share t

[2019-06-21 16:35] muirrn commented on #792
I played around and below is what I came up with. If it looks good in general I'll clean it up and send a PR and you can give detailed feedback. One other thing that will need to change is `lsp--restart-if-needed` since that calls `(lsp)` directly. If "deferred" mode is on, it would need to call `lsp-deferred` instead, to avoid loading all open buffers at once.

I was thinking of not having a sepa

[2019-06-21 17:11] yyoncho commented on #792
Can you explain why lsp-emacs-startup is needed? I assume that `get-buffer-window` does not work fine until the startup hook is run.

I think this is the way to go, since we already have code outside of lsp-mode (e. g. in lsp-treemacs) which assumes that `lsp` will start the server. Even if we change it, the implicit setting that changes the behaviour of lsp may lead to subtle bugs.

[2019-06-21 17:25] yyoncho commented on #792
To elaborate a bit more - can we go only with lsp-deferred which starts the server if it is visible, otherwise it adds the hook like you currently do?

[2019-06-21 17:44] muirrn commented on #792
I started with only `lsp-deferred`, but when starting Emacs, all open buffers were still triggering `lsp` even if they did not end up being visible. It seems like when Emacs is loading the desktop file (or some other part of initialization) `(get-buffer-window)` returns true momentarily for all buffers. The easiest thing I could think of was just waiting for emacs to be done starting before checki

[2019-06-21 18:14] yyoncho commented on #792
That is unfortunate... An alternative approach would be to attach lsp-deffered in startup hook and iterate the windows and call lsp only for the buffers that are visible and matching the interesting mode(s). I am fine with the current approach too, so you could go ahead and do a PR.

[2019-06-21 18:18] muirrn commented on #792
I thought about that, but I was afraid of cases other than startup where you can open a lot of files but have them not be visible. In those cases too I would want the `lsp` call to be deferred.

[2019-06-21 18:30] yyoncho commented on #792
Won't lsp-deffered's check whether the window is visible guard you?

[2019-06-21 18:44] muirrn commented on #792
I think I don't understand your alternative approach.

Here is the current problematic sequence:
1. Start Emacs
1. Emacs loads `go-mode` and calls `lsp-deferred` for all buffers
1. Emacs does something that calls `window-configuration-change-hook` for all buffers
1. `lsp-if-visible` is called for all buffers, and `get-buffer-window` returns true, so `lsp` is called
1. Emacs calls `emacs-startup-ho

[2019-06-21 18:51] yyoncho commented on #792
Here it is what I mean:

1. emacs starts and calls go-mode-hook, nothing happens since there is nothing attached to the hook.
2. startup hook is called and it attaches lsp-deffered to go-mode-hook and iterates all buffers in go-mode
 and triggers lsp-deffered in them which either starts the lsp server if the buffer is visible or it defers the call(like you currently do).

[2019-06-21 19:00] muirrn commented on #792
I see. In that case, the user then couldn't simply do `(add-hook go-mode #'lsp-deferred)` to get the deferred behavior. They would instead have to do something like `(add-to-list 'lsp-deferred-modes 'go-mode)` so lsp-mode could handle when the `lsp-deferred` hook gets added.

[2019-06-21 19:02] yyoncho commented on #792
Yes, or have a function like which does all the work like `(lsp-setup-deffered-modes '(go-mode php-mode ...))`.I am not quite sure what do do when startup hook is already called, which is a flow in your solution too.

[2019-06-21 19:06] muirrn commented on #792
I'm going to proceed with my original approach since that mirrors the existing `(add-hook 'go-mode-hook #'lsp)` way to hook lsp mode.

[2019-06-22 20:29] #792 closed

[2019-06-23 06:34] yyoncho commented on #898
@dgutov it turns out that the approach
[code]

does not work well since when there are no implementations I get a misleading error that there are no definitions instead of implementations. I was thinking about using directly `xref-show-xrefs-function` and using some heuristics to check whether to pass fetcher or list of xrefs, what do you think?

[2019-06-23 08:10] seagle0128 opened #903 "importing packages hangs emacs in lsp-go"
When `import` some packages with `lsp-go` and `gopls`, the Emacs hangs.

- macOS, Linux
- Emacs 26.2/27.0.50
- the latest lsp-mode

[2019-06-23 10:21] yyoncho commented on #903
Can you do toggle-debug-on-quit and press C-g when emacs hangs and paste the callstack?

[2019-06-23 10:56] seagle0128 commented on #903
[code]

[2019-06-23 14:14] yyoncho commented on #903
AFAIK process-send-string is async and it should not block. Can you confirm that you get this call stack each time you press C-g when emacs hangs in lsp-mode? Also, are you able to reproduce the issue if you disable lsp-enable-symbol-highlighting ? Can you check the process explorer for processes that are taking the system resources? Does the hanging disappear if you wait some time? If it disappea

[2019-06-23 14:34] seagle0128 commented on #903
This time I got this backtrace:

[code]

I suspect the server is hung. Because after I press `C-g`, then continue inputing the Emacs hangs again, `C-g` got the backtrace I provided in last comment. But I didn't encounter hang issue with `gopls` in VSCode.

[2019-06-23 15:13] yyoncho commented on #903
If the server is hung, this should not hang emacs since lsp-mode is doing async calls. To investigate further, can you exclude company-dabbrev from the company backends? We have to find out the root cause.

[2019-06-23 15:53] seagle0128 commented on #903
I use `(setq company-backends '(company-lsp))`, but the same issue.

I noticed the messages below while typing `import "com.github.com/xxx"

[code]

It seems very slow to search. Is it related?

[2019-06-23 16:12] yyoncho commented on #903
Once you have removed company-dabbrev you should reproduce the issue and do C-g until we find out what is causing the issue. Also, can you post a performance report?

I am not familiar with gopls internals.

[2019-06-24 13:14] dgutov commented on #898
That should work, sure.

Or if you're feeling lazy and maybe willing to tackle a similar compatibility problem later, you could call `xref--find-xrefs` instead (I think its signature hasn't changed since Xref was introduced).

[2019-06-24 15:40] muirrn commented on #903
Could be https://github.com/golang/go/issues/32750.

[2019-06-24 15:51] vidjuheffex opened #905 "Can't start LSP-mode in a JS-mode buffer (needs to be JS2-mode)"
**Describe the bug**
Can't start LSP-mode in a JS-mode buffer (needs to be JS2-mode)

**To Reproduce**
Make js2 mode not your your major mode for js files. Open js file.

**Expected behavior**
I expect LSP to open the js-mode file without it needing js2-mode.

**Which Language Server did you use**
typescript language server
**OS**
Mac Os X

[2019-06-24 15:55] seagle0128 commented on #903
Thanks for the information, @muirrn .

It's definitely the same issue.

[2019-06-24 16:04] yyoncho commented on #905
I tried it with the latest lsp-mode using `emacs -q -l lsp-start-plain.el` and it works fine https://github.com/emacs-lsp/lsp-mode/blob/master/scripts/lsp-start-plain.el . Please reopen if you are able to reproduce it using start plain script.

[2019-06-24 16:04] #905 closed

[2019-06-24 16:31] vidjuheffex commented on #905
What is this supposed to do? When emacs starts I see it load packages, however when I open a `.js` file it doesn't start lsp mode. (also doesn't say anything in the *Messages* before, whereas before it used to say No LSP Server for js-mode)

[2019-06-24 17:20] yyoncho commented on #905
@vidjuheffex you have to do `M-x lsp`

[2019-06-24 17:35] vidjuheffex commented on #905
@yyoncho when I do that lsp-mode starts but says LSP[disconnected]

[2019-06-24 17:45] yyoncho commented on #905
Are you sure that you did `M-x lsp` not `M-x lsp-mode`?

[2019-06-24 17:49] vidjuheffex commented on #905
@yyoncho you are correct I did lsp-mode.

When I do `M-x lsp` I get `No LSP server for js-mode` again

[2019-06-24 17:50] yyoncho commented on #905
What do you have in \*lsp-log\*?

[2019-06-24 17:51] vidjuheffex commented on #905
[code]

[2019-06-24 17:52] yyoncho commented on #905
... and do you have any of these on the path?

[2019-06-24 18:02] vidjuheffex commented on #905
I thought I did?

Thanks for the pointer, had never looked at LSP log before.

Not sure how it stopped working, I've been using LSP mode for several months.

All I did was try to follow j2-modes latest suggestions. 🤷‍♂

Anyway thank you!

[2019-06-24 20:06] yyoncho commented on #898
@dgutov

Thanks for the pointer. I will use `xref--find-xrefs` to close that issue and then are you open on discussing changes in `xref.el` to cover lsp-mode use cases using Emacs public API?

[2019-06-25 09:43] dgutov commented on #898
Sure, always open.

[2019-06-25 14:39] nthainguyen opened #906 "Cannot jump to definition in certain cases in python"
**Describe the bug**
Cannot jump to definition in certain cases while VScode can without problem

**To Reproduce**
- clone the following repo:

https://github.com/miguelgrinberg/microblog.git

- Open the file: models.py
- place the point at the line "from app import db"
- go to definition of "db"

**Expected behavior**
- it jump to the instantiation of db in __init__ file like vscode does

**Which

[2019-06-25 15:12] dennismayr opened #907 "[Spacemacs] lsp-dart: completion quirks"
**Description**
`lsp` in `dart-mode` doesn't autocomplete as expected: either missing completion/suggestions, or malformed completions.

**To Reproduce**
Ubuntu 18.04, Emacs 26.2, Spacemacs _develop_ latest pull.
Type the following lines:
[code]

Example: when entering `Widget build(BuildContext context)`, after typing `(Buildcon` (or a close variation) one expects to get `BuildContext` as suggest

[2019-06-25 15:35] yyoncho commented on #907
@itome willing to take a look?

[2019-06-26 06:57] seagle0128 opened #908 "wrong-type-argument symbolp "unknown-parameter-name""
- macOS Mojave
- GNU Emacs 27.0.50
- lsp-mode-20190625.1610

[code]

[2019-06-26 07:02] yyoncho commented on #908
The issue is that lsp-mspyls-errors must be vector, not list.

[2019-06-26 07:24] seagle0128 commented on #908
So can it be compatible before the upstream is fixed? I don't know how it's handled in VSCode since it's working in VSCode and VS.

[2019-06-26 07:25] yyoncho commented on #908
I will fix it in ms python adapter. The issue is that native JSON parsing cannot handle lists.

[2019-06-26 07:39] seagle0128 commented on #908
Thank you very much, @yyoncho .

[2019-06-26 10:11] yyoncho commented on #908
Fixed https://github.com/emacs-lsp/lsp-python-ms/commit/777f146ba057ef0516297b9af8660ac2cd48e64d . I have that fix locally for a long time but I have forgotten to push it.

[2019-06-26 10:11] #908 closed

[2019-06-26 11:49] yyoncho commented on #906
I am unable to reproduce with the latest server. Can you update the server and recompile it (I did `git clean -xfd` before that) and if it doesn't work do `(setq lsp-print-io t)` and post the client/server communication?

![output-2019-06-26-14:46:20](https://user-images.githubusercontent.com/13259670/60177407-82f5cb80-9821-11e9-9dd2-2db9f52d24b2.gif)

[code]

[2019-06-26 15:22] seagle0128 commented on #908
It does work for me. Thanks!

[2019-06-26 17:42] yyoncho commented on #907
@dennismayr can you do `M-x company-diag` when before the completion and paste the output?

(cc @tigersoldier )

[2019-06-27 03:42] sebasmonia commented on #852
A couple days ago I deleted all things Python from my work computer (Windows, so it's "easy" to remove _everything_) and installed just minimal packages for pyls instead of `[all]` and the situation is much improved. I'm using Eglot. But I have no doubt that LSP would be faster in the same scenario too.

I'm suspecting there's a problem in one of the pyls formatters/validators that for _some_ peop

[2019-06-27 04:58] yyoncho commented on #852
Ok, thanks, I will close the PR. lsp-mode should be even faster since company-lsp caches completion items and performs client side filtering.

[2019-06-27 04:58] #852 closed

[2019-06-27 05:12] sebasmonia commented on #852
Thanks for being so responsive and supporting the package with so much dedication!

[2019-06-27 05:38] seagle0128 commented on #852
@sebasmonia Thanks you for the information! Since I am not using Windows, it's not easy to remove Python libraries and install base pyls. I am using `mspyls` with Emacs 27, it's much faster with `pandas` and `numpy`.

[2019-06-27 06:08] itome commented on #907
@yyoncho @dennismayr OK, I'll check it.

[2019-06-27 07:23] itome commented on #907
@dennismayr
This seems to be dart-sdk issue -> https://github.com/dart-lang/sdk/issues/36890

[2019-06-27 08:40] p0lyg0ne opened #909 "On Type Formatting gets switched on its own"
To disable on type formatting, I've customised and saved the variable lsp-enable-on-type-formatting to be nil.

When I start Emacs, initially it is switched off, but after a while it gets switched on on its own.
After it got switched on I've checked the variable again, it was still set to nil. I pressed save and apply it got switched off again.

It is probably a function being called in the backgr

[2019-06-27 08:57] p0lyg0ne commented on #909
...forgot to mention, this is happening while editing c++ with clangd as server.

[2019-06-27 10:36] yyoncho commented on #909
can you use `debug-on-variable-change` and report back who is changing the value?

[2019-06-27 17:07] dennismayr commented on #907
@yyoncho Before completing `BuildContext`, here's `M-x company-diag` output at `Build`:

[code]

Also, when typing basic, recurring syntax such as `class`, `build`, `extends`, they're not suggested even as quick _tab-completion_, which does happen with `Go` and `rust` modes + `lsp`. Still, something one can live without, only that it makes development a tad faster (like in VSCode).

`dart` complet

[2019-06-27 18:11] yyoncho commented on #907
@dennismayr afaik the performance issue was fixed, see https://github.com/emacs-lsp/lsp-mode/issues/851 . Before we continue investigating this issue, please make sure that you are using the latest dart-sdk (dart-sdk containing the fixes discussed in #851)

[2019-06-27 18:13] dennismayr commented on #907
@yyoncho Will do; I'll report back during the day (gotta build a Flutter project for a tech interview, a good opportunity to test related issues).

[2019-06-27 21:08] p0lyg0ne commented on #909
strangely it did not happen after I used debug-on-variable-change. I'll have a look at it tomorrow and try to find out how to reproduce the issue.

[2019-06-28 03:11] cuhabaho opened #910 "How to debug php using LSP mode?"
I am using intelephense as the lsp backend server. I have install xdebug to my Lamp and configure it inside php.ini as following:
[code]

I have checked inside phpinfo() page and saw below line which mean xdebug should work:
[code]

And then i open Laravel project and call M-x LSP and server start without any problem. After that, i call M-x dap-breakpoint-add to add a break point to my function. A

[2019-06-28 04:26] yyoncho commented on #910
You have to do:

[code]

and then `M-x` `dap-debug` and select the php configuration.

[2019-06-28 04:26] #910 closed

[2019-06-28 04:27] yyoncho commented on #909
Ok, I will close that for now, please reopen it when you provide the requested info.

[2019-06-28 04:27] #909 closed

[2019-06-28 04:46] dennismayr commented on #907
@yyoncho I'm currently using `dart` _stable_ `2.4.0`.
(not a fan of bleeding edge stuff)

[2019-06-28 05:56] yyoncho commented on #907
Looks like you are using fairly recent dart sdk. Can you attach the corresponding logs for the error? Also, make sure that you are running with lsp-print-io set to nil when testing the completion performance because the logging is very slow. Also, you may set lsp-print-performance and then inspect the \*lsp-log\* to check where the time goes.

Are you sure that this company-diag is from the same t

[2019-06-28 06:18] #898 closed

[2019-06-28 06:27] yyoncho commented on #898
@dgutov

 xref--find-xrefs solution had the same problem described in https://github.com/emacs-lsp/lsp-mode/issues/898#issuecomment-504724646 so I patched the code to check whether there is xref--create-fetcher and use xrefs or fetcher.

About the long term solution, it seems like something simple like making xref--show-xrefs public will do the job for us. What we need is the ability to bypass the

[2019-06-28 08:59] cuhabaho commented on #910
I got an error, debug session process exit with status; existed abnormally with code 1. Not sure what is going on.

![Screenshot_20190628_155905](https://user-images.githubusercontent.com/51189394/60330937-bbcaa780-99bd-11e9-8d59-816beccddbb0.png)

[2019-06-28 09:01] cuhabaho commented on #910
Anyway, i think if possible, then under *Supported languages* and Debugger column, when click there is another page that tell us how to set up debugger. Like in my case, i could not find it anywhere.

[2019-06-28 09:16] cuhabaho opened #911 "Lsp mode for php doesn't get along with aggressive mode"
Lsp mode is working properly for a long while i have been using it. But, after not using emacs for a few weeks and come back, it stop working properly. When i want to type, "$data->property" without  quote, and i type "$data-" then i got "$data   - " and if i continue type ">" then, the whole line is disappear. More than this, sometime not only the current line, but another line also disappear wit

[2019-06-28 11:12] yyoncho commented on #910
Check the stderr buffer for the session.

https://github.com/emacs-lsp/dap-mode#php

[2019-06-28 13:02] dgutov commented on #898
It can hardly be the same error, considering you pass KIND to `xref--find-xrefs` as one of the arguments. And the name of that symbol is used in the error message. Though now I see a different issue: it can be problematic if `xref-backend-identifier-at-point` returns nil for your backend.

`xref--show-xrefs` can be made public, but if you look at its definition, does it really offer much over `(fu

[2019-06-28 13:05] dgutov commented on #898
FTR, I'd rather have a more detailed discussion about "implementations", "type definitions", and so on. In particular, to improve documentation to say whether any of them should be included in the list of definitions. And whether definitions are also references. And so on.

[2019-06-28 13:22] yyoncho commented on #898
I meant that if I call xref--find-xrefs with kind=definitions I will end up with the same error. Of course, I could call it with type=implementations and implement implementations backend but I thought that I will have to write too much code depending on internal which will potentially change after we extend the 27 public API.

Do you mean showing implementations as part of definitions result?

[2019-06-28 13:29] dgutov commented on #898
That's the idea, yes.

Why would the usefulness of this backend command diminish later? Even if some things change, you could call it yourself anyway. But having a backend method like that would fit nicely in the overall design.

Yes. Irrespective of a particular backend, we should have a meaningful guideline on whether this should happen.

[2019-06-28 17:46] muirrn commented on #898
I'm seeing this error for `lsp-find-type-definition` in Emacs 27. Is there something I can do to work around it for now?

[code]

[2019-06-28 18:01] yyoncho commented on #898
@muirrn do you have https://github.com/emacs-lsp/lsp-mode/commit/4709ef307e89983e8d7f48245a25dc0e7ff47f81 ?

[2019-06-28 18:08] muirrn commented on #898
No. That fixed the error, but now it doesn't jump me to the type definition (I get a buffer with a list of 1 results).

[2019-06-28 18:50] yyoncho commented on #898
@muirrn fixed with e1d8b3796479a17155a8c034b81896dbad469907

[2019-06-28 19:19] dgutov commented on #898
@yyoncho Does the latest change apply to references as well?

[2019-06-28 19:22] yyoncho commented on #898
Yes, we are using `lsp-find-locations` in all `lsp-find-*` methods. Do you have something in mind?

[2019-06-28 19:36] dgutov commented on #898
Well, just for the record, changing this was the intention of https://github.com/emacs-mirror/emacs/commit/49a363c875c66f3d937a7d33e1a1451227a1887d#diff-70d6ffadd6eef3fbb0ff1012d68a14b5. It's too bad you have to go around the default behaviors.

So the idea is, it's fine to jump to the location right away when it's jump-to-definition. In other cases, the user is most likely expecting to see a list

[2019-06-28 19:43] Hi-Angel commented on #898
I can imagine only one usecase when it's something a user would expect: executing a command to show references. For anything else I'd expect the jump; and the case where there are multiple possible candidates is an exception, which requires showing the buffer with list.

[2019-06-28 19:48] Hi-Angel commented on #898
In retrospective, though, I think it would be nice to call `lsp-find-something` functions either `lsp-goto-something` or `lsp-show-someting`. This would fend off possible discussions about what exactly the function should do.

[2019-06-28 20:00] yyoncho commented on #898
@dgutov I see. I am fine with emacs core driving the user experience and lsp-mode complying with it when we are talking about the built-in stuff like xref which I believe will happen once lsp-mode integration is fixed. I second @Hi-Angel opinion that showing one result make sense only for references. I would expect to jump right away for implementations/type definitions, etc.

[2019-06-28 22:19] dgutov commented on #898
*shrug* Implementations and type-definitions are commands not familiar to me. So you could very well be right about those. Maybe `lsp-mode` should call `xref-show-definitions-function` for those.

Regarding separate commands, that could help, but that doesn't solve the question of what `M-.` should do. Or the default bindings for the other navigations.

[2019-06-29 05:56] yyoncho commented on #898
@dgutov pushed https://github.com/emacs-lsp/lsp-mode/commit/194e5623602e3545757fe299fe2ec79b7a95d9b8 which now uses xref-show-definitions-function and xref-show-xrefs-function .

I wonder whether to remap xref-find-definitions to lsp-find-definitions in lsp-mode-map. About the bindings - we leave that up to the users, lsp-mode-map is empty.

[2019-06-29 16:44] nthainguyen commented on #906
it seems like the problem is at ms-lsp server. Thanks for the help.

[2019-06-29 16:44] #906 closed

[2019-06-29 22:16] dgutov commented on #898
@yyoncho I don't understand the hesitation. The original bindings don't work with your xref backend anyway, right? So rebinding them makes sense.

On the other hand, I would seriously consider removing the backend, considering it's not used as intended by the xref API, for extra clarity.

[2019-06-30 10:36] yyoncho commented on #898
I agree. I haven't got the time to work on that.

[2019-07-01 04:57] nedijahij opened #912 "Request lsp-ui-flycheck-list to automatically update itself"
I think lsp-ui-flycheck-list works quite good but there is one feature that it's still missing, automatically update error, warning... list when code is change without recall lsp-ui-flycheck-list.

[2019-07-01 14:41] gcv opened #914 "Automatic and irreversible switch to `*Warnings*` buffer when pyls (Python language server) returns certain errors"
**Describe the bug**

The following source file causes `lsp-mode` to switch to the `*Warnings*` buffer when the cursor is moved on the line containing `self.study_name` and makes it impossible to go back to the source buffer unless the pyls connection is killed:

[code]

**To Reproduce**

I use Tramp remote lsp-mode integration, but I suspect the error will occur on local pyls installations also.

[2019-07-01 15:27] yyoncho commented on #914
Thanks for the detailed bug report, can you share your pyls configuration(the remote one)?

[2019-07-01 16:05] sebasmonia commented on #815
Hi @tom-bowles, all I had to do to get this running in another LSP server was patch the case of null responses you mentioned in https://github.com/emacs-lsp/lsp-mode/issues/815#issuecomment-489161279, using the latest release of Omnisharp. So if you could find a way to workaround that issue in `lsp-mode` then things _should_ work.

If I get a chance I will test the configuration you listed above l

[2019-07-01 16:47] gcv commented on #914
You mean the lsp-mode one?

[code]

I don't have any special configuration for pyls on the remote side. The `pyls` binary is in `/usr/local/bin`.

[2019-07-01 18:02] dennismayr commented on #907
Sorry about the delay.

Because of the project's nature, I had to downgrade the Dart SDK to version _2.3.0_ (stable), because we'll be using Flutter _1.5.4_ (stable) to avoid breaking things.

Now, for the following snippet
[code]

the `lsp-print-io` data is the following:
[lsp-print-io log, compressed](https://drive.google.com/open?id=1qnlU4HR-SQ-gWtWAci1VhsGjXl67KFHl)

The `M-x company-diag` dat

[2019-07-01 19:12] dennismayr commented on #907
Another case of autocompletion inconsistencies:

Something as common as `TextAlign` is never suggested as if it weren't recognized, but `TextAlign.center` is immediately suggested.
![Imgur](https://imgur.com/OpTCCmA.png)
![Imgur](https://imgur.com/21HlLon.png)

Entering `Widget` gets me an unwanted snippet, but there may be other culprits, I suppose, as I'm using _Spacemacs_ with `yasnippet`.
![Im

[2019-07-01 23:05] dangom opened #915 "lsp-face-highlight faces colide with expand-region."
**Describe the bug**

By having `lsp-face-highlight-*` inherit from `highlight` makes it hard to refactor using expand-region because regions cannot be seen.

**To Reproduce**
Steps to reproduce the behavior:

Expand-region on a lsp-highlighted symbol and wonder what has been selected. That's because expand-region also uses the highlight face.

**Expected behavior**

Colors are different so one ca

[2019-07-02 01:47] itome commented on #907
@dennismayr dart language server try to auto complete non imported types, so when typing widgets, lsp-mode recieves massive amount of json response. Parsing this response takes so long time that you can't get auto complete results.
The response size shrunk in current beta mode. Can you try that one?

To use nightly build sdk alongside with flutter,
1, Download nightly build from here https://gsdvi

[2019-07-02 04:11] yyoncho commented on #915
AFAICS expand-region uses `region` face while the lsp-mode face use `highlight`. But that is irrelevant - IMO we shouldn't highlight symbol at all if there is a selected region.

[2019-07-02 04:15] yyoncho commented on #914
I am unable to reproduce it locally, but the issue seems to be duplicate of https://github.com/palantir/python-language-server/issues/424

[2019-07-02 10:13] mpanarin opened #916 "Pyls updated capabilities"
I made a PR to `pyls` to update its server capabilities. After its merged (and released), the workaround in `lsp-pyls` can be dropped. @yyoncho

https://github.com/palantir/python-language-server/pull/613

[2019-07-02 15:07] gcv commented on #914
Indeed, the problem arises from the complexity of the LSP stack. With Python, enabling LSP means installing a dozen or more heavy dependencies, including Jedi, all of which need to work correctly for lsp-mode to work.

My larger purpose in opening this ticket is to discuss lsp-mode error handling, and how much can be done to mitigate back-end instability. That pyls ticket has been ignored for 9 mo

[2019-07-02 17:04] dennismayr commented on #907
Thanks for the prompt reply @itome! It's clearer for me now; I didn't really know how it works.

I'll download the nightly build tonight and share the results within the next couple of days.

[2019-07-02 18:29] yyoncho commented on #914
I agree - I would propose downgrading these errors from `display-warning` which steals the focus to using lsp--error which displays only a message in the minibuffer.

[2019-07-02 20:23] dennismayr commented on #907
I took a long-ish pause, since we're watching the total eclipse in Chile (92% visible here!), and tested the _nightly_ build.

Typing `Wid` to autocomplete as `Widget` took about 4 initial seconds of latency, since my laptop is a 2010 ThinkPad T410s i5 with a sluggish sub-5400rpm hard drive, but lo and behold!

![Imgur](https://imgur.com/P0yjGmn.png)

There's definitely some work being done on the

[2019-07-02 20:47] dennismayr commented on #907
There are still some minor quirks to iron out (such as getting `prefix0` automatically inserted when autocompleting `BuildContext`), but it's all in all more usable now.

![Imgur](https://imgur.com/JgflQqG.png)

![Imgur](https://imgur.com/8VLlwcC)

![Imgur](https://imgur.com/L5rTAFg)

![Imgur](https://imgur.com/I0557Op)

[2019-07-03 04:22] yyoncho commented on #916
Thank you. I would propose to keep the hack until a new pyls release containing the fix is performed.

[2019-07-03 04:29] yyoncho commented on #914
@gcv ah... I just checked the warnings buffer and you are hitting an issue related to using language server over tramp. The issue is that over tramp emacs does not have separate stderr and stdin and when pyls uses stderr the errors break the parser. The solution to this error is to use a wrapper script on the remote host to redirect the stderr to file. Here it is the script:

[code]

Please put it

[2019-07-03 05:29] yyoncho commented on #912
Closing in favour of https://github.com/emacs-lsp/lsp-ui/issues/303

[2019-07-03 05:29] #912 closed

[2019-07-03 05:31] yyoncho commented on #843
Any update?

[2019-07-03 15:15] gcv commented on #914
Thanks, that worked. That's quite a gotcha, and well worth documenting in the tramp section of the README!

1. Can this wrapping be performed by lsp-mode automatically in remote mode?
2. The LSP logs files grow very very quickly. It would be helpful to do something to keep their size down to at most a few megabytes.

[2019-07-03 16:16] yyoncho commented on #914
Probably yes, it should be tested. You may consider testing and providing PR.

You may keep only that part, or even use /dev/null
[code]

[2019-07-03 18:39] gcv commented on #914
I'm currently testing the behavior of just changing the `lsp-tramp-connection` call. Seems to work so far.

[code]

[2019-07-03 21:41] muirrn opened #917 "lsp-workspace-folders-add: consider deduping folders"
**Describe the bug**
`lsp-workspace-folders-add` doesn't dedupe so if you add a folder in your emacs config, your list of folders will grow every time you start Emacs.

I set up some Emacs config for my team to configure our various lsp workspace folders automatically so they don't get prompted and not know what to do. However, I didn't realize the folder would keep getting added every time Emacs

[2019-07-04 04:23] #917 closed

[2019-07-04 15:37] dennismayr commented on #907
There's also the cursor going back to line 1 whenever you correctly complete a block of code and close it with a colon `;`.

[2019-07-04 16:17] yyoncho commented on #907
@dennismayr thanks, I will take a look. Can you post a sample project(I have zero dart experience) and the steps to build import stuff for that project if any and the steps to reproduce each of the issues because I lost track what works and what does not work? I assume that you are using spacemacs if this is so you may paste your configuration.

[2019-07-04 20:14] dennismayr commented on #907
Sure thing!

A basic Flutter app written in Dart looks like this:

[code]

It's a bit like a Node app written in some form of TypeScript.
This will create a very simple _"Hello World"_ app.

Just in case they're needed, here's the [Flutter.dev](https://flutter.dev/docs/get-started/install) framework install instructions.

[My Spacemacs dotfile](https://pastebin.com/aG6yeYq7)

@itome's _nightly_ Da

[2019-07-04 23:31] gcv commented on #914
Documentation PR: https://github.com/emacs-lsp/lsp-mode/pull/919

[2019-07-05 00:34] gcv opened #921 "Add TCP LSP server support"
A common use case for me is to edit files locally (in Emacs), but run the resulting code on a different system (might be a Docker container, a virtual machine, or a server). This occurs because it's often much better to set up a system's runtime environment on a dedicated machine. On the other hand, editing files remotely is usually a much worse experience than locally (tramp is quite slow, and a

[2019-07-05 04:07] yyoncho commented on #921
FTR in order to make that work you will the server should have the access to the same copy of the files once you do save the buffer(we send didSave notification.) A delay will break the server because it will read the old copy of the source.

This is easy to do - we currently have lsp-tcp-connection which will start the server and then connect to it. We need a copy of this function which asks for

[2019-07-05 04:45] s-kostyaev commented on #911
I think that `aggressive-indent-mode` breaks interaction with lsp server. I use this workaround:
[code]
For fixing it in more convenient way we should notify lsp server about buffer content changing. Also if content was changed after, for example, completion item request we should cancel this request, notify server about changes and then resend completion request. @yyoncho what do you think?

[2019-07-05 04:59] yyoncho commented on #911
@s-kostyaev I am yet to investigate the issue. I would speculate that aggressive-indent-mode should not be needed for lsp at all since the language servers provide onTypeFormatting which is sort of aggressive indentation but in general we should work when it is enabled.

I think that we already do that in company-lsp.

[2019-07-05 05:10] s-kostyaev commented on #911
Then it doesn't work. Then I try to complete code and aggressive indent mode changes content of current buffer I can see bugs in completion

[2019-07-05 05:13] s-kostyaev commented on #911
Hover requests also returns error that client wants to see something after string or file ending.

[2019-07-05 05:16] yyoncho commented on #911
AFAICS aggresive-indent is cancelling the notification hooks in aggressive-indent--proccess-changed-list-and-indent which pretty much makes both packages incompatible since we pretty much depend on the on change hooks to sync the content with the server. This has to be investigated further.

[2019-07-05 05:18] s-kostyaev commented on #911
Maybe request fast enough and we can't cancel it. Then we should ignore it result and resend it I think. Or add info about not working with aggressive indent mode into documentation.

[2019-07-05 05:59] s-kostyaev commented on #911
@yyoncho maybe we can disable aggressive-indent-mode and show message about incompatibility to user? I think it can improve user experience out of the box. Another solution is add information about it to documentation. But personally I prefer first variant.

[2019-07-05 06:21] yyoncho commented on #911
@s-kostyaev we have to do the proper investigation before committing to a solution.

1. Can we fix aggressive indent to work with lsp-mode?
2. Do we need to fix it at all?

[2019-07-05 06:24] yyoncho commented on #907
@dennismayr From what I can see the server is returning prefix0.BuildContext (cc @DanTup).

[code]

Can you provide steps to reproduce for that (or gif)?

[2019-07-05 06:33] s-kostyaev commented on #911
I can try to do first at the weekend. Should I?

[2019-07-05 07:08] bomgar opened #922 "Warning popping up with lsp metals"
**Describe the bug**
Warning in a warning buffer: `Warning (lsp-mode): Unknown method: metals/treeViewDidChange`

Everything seems to work but the buffer opens to show me the message and interrupts me

**To Reproduce**
start lsp-metals

**Expected behavior**
No warning

**Which Language Server did you use**
metals 0.7.0

**OS**
linux

[2019-07-05 09:42] mpanarin opened #923 "Rope completion in pyls should be False by default"
I am not sure on how the settings sync between rope and pyls, but according to pyls code, rope completion should be disabled by default (https://github.com/palantir/python-language-server/blob/develop/pyls/plugins/rope_completion.py#L14  it is also very slow and trashy), so `lsp-pyls-plugins-rope-completion-enabled` should be nil?

[2019-07-05 09:45] yyoncho commented on #923
I have used this https://github.com/palantir/python-language-server/blob/develop/vscode-client/package.json#L244 for the defaults.

[2019-07-05 09:51] mpanarin commented on #923
well, looks like someone forgot to update that thing :\

It was changed in this commit, and comment says that it should be disabled by defult
https://github.com/palantir/python-language-server/commit/af4dcb325d70629435456ce253275edbb84877e1

[2019-07-05 09:53] yyoncho commented on #923
ok - would you like to do make a PR?

[2019-07-05 09:56] mpanarin commented on #923
Yep, sure

[2019-07-05 10:18] #923 closed

[2019-07-05 11:31] Dav1d23 opened #925 "lsp-mode hook looks wrong when using tramp mode"
**Describe the bug**
The minibuffer shows an error, and lsp-mode does not work on remote files.

**To Reproduce**
Using the configuration below, just open a file remotely via ssh.

[code]

**Expected behavior**
I would expect it to work.

**Which Language Server did you use**
I installed via conda-forge python-language-server

**OS**
Centos7

**Error callstack**
[code]

[2019-07-05 12:25] yyoncho commented on #925
Can you share your emacs version and your lsp-mode version?

[2019-07-05 12:39] Dav1d23 commented on #925
emacs compiled from sources:

GNU Emacs 26.2.90 (build 1, x86_64-pc-linux-gnu, GTK+ Version 3.24.8)
of 2019-07-01

lsp-mode lates package:

lsp-mode: 20190705.532

[2019-07-05 13:05] yyoncho commented on #925
Hm, it looks like we wrongly expect executable-find to have 2 params in emacs 26.2.

Evaluating the following piece of code should fix your issue.
[code]

[2019-07-05 13:36] DanTup commented on #907
There was a bug in the Dart SDK that would return a prefix where it wasn't neceesary, but that should be fixed. It will still return prefixes where necessary to avoid naming conflicts. The JSON has also been significantly reduced (by removing docs and some other fields until the resolve step) that should improve performance.

The current stable version of Flutter (v1.5.4-hotfix.2) does not have ma

[2019-07-05 13:37] yyoncho commented on #911
Sure, contributions are always welcome. This item is a bit unclear but feel free to give it a try.

[2019-07-05 15:06] #925 closed

[2019-07-05 15:12] #922 closed

[2019-07-05 16:14] dennismayr commented on #907
@dantup Thanks for the clarification! I've spoken to my team about using the _beta_ channel; since there are no breaking changes, it's OK with them, I've just switched to `1.7.8+hotfix.2` to keep on testing.

@yyoncho On the code snippet I've provided, if you have _Flutter_ installed, after importing `import 'package:flutter/material.dart';`, when you reach line 17...

[code]
...entering the semic

[2019-07-05 16:41] yyoncho commented on #907
I believe this is caused by on type formatting bug which I am currently working on. Can you confirm that the issue disappears after setting lsp-enable-on-type-formatting to nil?

[2019-07-05 20:01] yyoncho commented on #915
Verified with `emacs -q`. Probably the theme that you are using has the same color for both highlight and region face. I am closing the PR, please reopen if you disagree.

[2019-07-05 20:01] #915 closed

[2019-07-05 20:45] dennismayr commented on #907
I just tried it.

Cursor return issue disappears with `(lsp-enable-on-type-formatting nil)`.

[2019-07-06 07:43] gcv commented on #921
Just some preliminary thoughts on this:

- It would be helpful to have examples of how to configure the server with at least some of the available flexibility. Right now, it's pretty hard to understand the proper use of the `lsp--client` struct, especially of the `new-connection` field. (In fact, the use of `--` in its name implies that it's not meant as an end-user interface, but then `make-lsp-c

[2019-07-06 08:17] yyoncho commented on #921
Thank you for the feedback.

make-lsp-client is the only operation that is public, the rest, as you mentioned, are internal functions. I agree that we are weak on the documentation side, we primarily rely on the examples in `lsp-XXX.el` and in `lsp-clients.el`.

We have instructions in FAQ section, please take a look and comment.

This is solvable even right now - you may remove the existing on sa

[2019-07-06 08:24] gcv commented on #921
The FAQ just says: "You may create dir-local for each of the projects and specify list of lsp-enabled-clients. This will narrow the list of the clients that are going to be tested for the project."

I would love to see an actual example that can be copy-pasted into a `.dir-locals.el` file which handles, e.g., Python virtualenv selection.

[2019-07-06 08:29] yyoncho commented on #921
@gcv I am not python programmer and I am not familiar with how virtualenv should be handled(and python dev process in general). If you give me the details of what do you expect to happen(e. g. I open project FOO, in venv BAR then PYLS is started like that) I could create an example.

[2019-07-06 08:41] gcv commented on #921
A virtualenv is as a directory which contains a separate Python installation, including binaries and supporting libraries, i.e., it contains `bin`, `lib`, and `include` directories. The easiest thing — and one which I think will translate nicely to isolation systems for other languages — is to make an example where the dir local setting just takes an explicit absolute path to the LSP server execut

[2019-07-06 08:50] yyoncho commented on #921
IIUC you want different pyls instance per project? To achieve that add .dir-locals with the following content in your project root:

[code]

Let me know if it helps to add it in the FAQ.

[2019-07-06 08:58] yyoncho commented on #911
@s-kostyaev I think that I found the root cause as part of investigating #907 so you might hold on your work on the issue.

[2019-07-06 09:07] gcv commented on #921
Definitely a helpful clarification, but how does generalize to other languages? There doesn't seem to be a `lsp-solargraph-server-command`, for example. Maybe the right thing is prepend something to `exec-path`?

[2019-07-06 09:14] yyoncho commented on #921
@gcv

The easiest solution right now is to do a PR and add such variable. Alternatively, you could also do lsp-register-client within your config which has higher priority and has configurable server command.

About the generalization - the ideal solution is to make `lsp-register-client` a macro which automatically generates defcustoms(e. g. command, priority, etc). But given the limited manpower

[2019-07-06 13:10] yyoncho commented on #911
Hi @Malabarba it looks like we could not fix that issue without changes in aggressive-indent-mode. The issue is that aggressive-indent-mode inhibits the change hooks which are used by lsp-mode to track the content of the buffer and sync it with the server. IMO one potential solution is to change the code in aggressive-indent-mode to alter before-change-hook/after-change-hook to unsubscribe itself(

[2019-07-06 16:19] shackra opened #927 "FromUTF16Column: chr goes beyond the line"
**Describe the bug**
sometimes when writing at (almost) the end of the buffer a message will appear in \*Messages\* stating: `FromUTF16Column: chr goes beyond the line`

**To Reproduce**
Edit a .go file for a while, kill a region and then write something in the place the region was, it should pop up.

**Expected behavior**
no errors

**Which Language Server did you use**
gopls

**OS**
GNU/Linux (A

[2019-07-06 17:23] yyoncho commented on #927
Can you provide a file/project+steps to reproduce the issue?

(cc @muirrn )

[2019-07-06 22:57] dennismayr commented on #907
@DanTup I've upgraded to SDK version 1.7.8 beta, ran `flutter pub upgrade` on my projects, but the `(prefix.0.BuildContext)` bug still comes up every now and then.

Example:
[code]

It pops up a lot less frequently, but it's apparently still there.

@yyoncho The cursor issue is definitely gone.

[2019-07-07 06:50] #907 closed

[2019-07-07 06:53] yyoncho commented on #907
@dennismayr I have fixed the issue with on type formatting for emacs 26+. Unfortunately, it is not possible to make it work for older emacs since it does not have the required functions. The issue with prefix0(if it is still present) is not on emacs side.

[2019-07-07 07:04] shackra commented on #751
reported correctly for you at https://github.com/golang/go/issues/32967

[2019-07-07 08:31] DanTup commented on #907
@dennismayr I don't seem to be able to repro with your code sample through VS Code (either on `beta` or `master` branches), though it's not using in LSP (though in theory that shouldn't affect this). I'll see if I can repro through the LSP server when back at my main machine tomorrow. In the meantime if you can easily capture a log (by running the server with `--instrumentation-log-file /some/log/

[2019-07-07 16:18] dennismayr commented on #907
@yyoncho No worries, I'm using Emacs 26+, it's better performing.

@DanTup Will do!

Thanks to both of you for the time and effort. Everything is running better than before; you've made a better Dart+Flutter experience on Emacs.

[2019-07-08 06:45] Dav1d23 commented on #925
I update lsp-mode this morning and it seems working fine. Thanks.

[2019-07-08 15:01] DanTup commented on #907
I tested again via the LSP server today and using current Flutter `beta` branch, but still can't repro the `prefix0` issue:

![Screenshot 2019-07-08 at 3 59 22 pm](https://user-images.githubusercontent.com/1078012/60820482-6e0e2600-a199-11e9-8139-a37a9bdd386a.png)

Whichever one I pick, it only inserts `BuildContext`. Before opening an issue - just check that you're on the latest version - I think

[2019-07-09 04:48] yyoncho commented on #914
PR at https://github.com/emacs-lsp/lsp-mode/pull/929, can you help with testing it?

[2019-07-09 07:28] jypma commented on #922
For tracking, I think https://github.com/scalameta/metals/pull/816 fixes this on the metals (server) side.

[2019-07-09 11:32] #824 closed

[2019-07-09 11:35] yyoncho commented on #843
Closing due to inactivity. Please reopen after providing requested information.

[2019-07-09 11:35] #843 closed

[2019-07-09 11:41] #877 closed

[2019-07-09 13:36] DmitryMaletin opened #930 "error in process filter: Wrong type argument: sequencep, #s(hash-table size 65 test equal rehash-size 1.5 rehash-threshold 0.8125 data"
**Describe the bug**
error in process filter: Wrong type argument: sequencep, #s(hash-table size 65 test equal rehash-size 1.5 rehash-threshold 0.8125 data ("language" "PowerShell" "value" "function Get-Module"))

**To Reproduce**
Default setting. start to edit any powershell script

**Expected behavior**
A clear and concise description of what you expected to happen.

**Which Language Server did

[2019-07-09 13:47] yyoncho commented on #930
The error comes from https://github.com/kiennq/lsp-powershell , please report it in that repo.
(cc @kiennq)

[2019-07-09 13:47] #930 closed

[2019-07-09 14:50] muffinmad commented on #515
According to [specification](https://microsoft.github.io/language-server-protocol/specification#initialize) `rootPath` and `rootUri` can be `null` on initialization request if no folder is open.

It allows to open the file in the home folder and not make lsp server to treat home folder as a project.

Is it possible with `lsp-mode`?

[2019-07-09 15:19] yyoncho commented on #515
@muffinmad currently we do not support that. IIRC some of the servers crash if there is no associated project(e. g. rls) so before jumping into implementing this we should investigate whether the servers are following the spec.

Can you share your usecase?

[2019-07-09 15:35] muffinmad commented on #515
I want to be able to open files outside project directory.
Opening `~/test.py` and passing home folder as `rootPath` makes Microsoft pyls analyze my whole home folder which is little annoying.

[2019-07-09 15:43] seagle0128 commented on #515
@muffinmad Did you try `(setq lsp-auto-guess-root nil)`?

[2019-07-09 16:12] kiennq commented on #930
Fixed with kiennq/lsp-powershell@9c5f33ebe, thanks for letting me know.

[2019-07-09 16:44] imarko opened #931 "support for closing idle backends and restarting them on-demand"
The memory use of some of the backends can be significant. Some that I use regularly (`ccls`, `gopls`, `mspyls`, `rls`) can each can grow to hundreds of MBs for large workspaces and it's easy to accumulate dozens of these over a few days.

Currently I am dealing with this by manually killing backends every once in a while and using `(setq lsp-restart 'ignore)` to avoid the prompt storm that would

[2019-07-09 16:50] yyoncho commented on #931
You could use lsp-workspace-shutdown to turn off a language server instead of described flow.

We have a method `lsp-deffered` which could be used as an entry point(e. g. instead of `lsp`). The difference between `lsp` and `lsp-deffered` is that `lsp-deffered` will start the server when you switch to that buffer(on demand). Can you try it and comment on whether it will cover your usecase?

[2019-07-09 16:51] shuxiao9058 commented on #831
https://github.com/EmmyLua/EmmyLua-LanguageServer

https://github.com/sumneko/lua-language-server

[2019-07-09 17:35] yyoncho commented on #515
@muffinmad I tested mspyls and it works fine if you do not pass rootUri/root in initialization options. We have to figure out what should be the flow to enable this feature. In vscode the folder selection is not interactive and user has to add the folders upfront in order to start the language server for that folder. We could have a setting which enables that same behaviour in lsp-mode or we could

[2019-07-09 17:42] muffinmad commented on #515
@seagle0128 After setting `lsp-auto-guess-root` to `nil` `lsp` gives me options to:
- do nothing
- blackist folder and do nothing
- run server but pass some folder as `rootPath`

So it's `lsp-mode` in first place who won't let me go without specifying the project :)

[2019-07-09 17:48] muirrn commented on #931
Yes, you can use `lsp-deferred` in combination with `lsp-workspace-restart`. Assuming you are using `lsp-deferred` instead of `lsp` as your entry point, after restarting the workspace the LSP server won't actually get started until you view a corresponding buffer, and even then it will only load that one file instead of all the files open in Emacs. You could then make it auto restart all workspace

[2019-07-09 18:57] imarko commented on #931
Thanks, I didn't know about lsp-deferred, this is great!
The combination of lsp-deferred and `(setq lsp-restart 'auto-restart)` is pretty much what I was looking for and it seems to be working well so far.

The only thing left is trying to be smarter about detecting idle backends rather killing them all wholesale. Any thoughts on that?

[2019-07-09 19:05] muffinmad commented on #515
@yyoncho How about not to require project but give option to specify it if user not satisfied with one guessed by `lsp-mode`?

I think the question that `lsp` asks first is little discouraging.
I'm opening file in VC controlled project and Emacs asks me "foo.py is not part of any project. Select action: ". After hitting `TAB` I see that project is guessed correctly in the first completion option:

[2019-07-09 19:08] dennismayr commented on #907
@DanTup I'll keep on testing 1.7.8 beta; I'll let you know if the problem comes up again.
Thanks!

[2019-07-09 19:32] yyoncho commented on #515
There is such an option in the menu - "Import project by selecting root directory interactively.".

I'm opening file in VC controlled project and Emacs asks me "foo.py is not part of any project. Select action: ". After hitting TAB I see that project is guessed correctly in the first completion option: "add ~/workspace/project/ to blacklist".

For better UE I suggest you use helm-mode.

I have to

[2019-07-10 04:41] yyoncho commented on #931
I think it depends on what is the definition of idle server. Once we have the definition(e. g. 10 minutes without requests) for that we could expose the corresponding hooks if there are no such which will allow you to implement that logic externally.

[2019-07-10 04:55] yyoncho commented on #515
What you are proposing is to use this variable as dir local for example and configure the home directory as a directory containing single file workspaces? This mechanism will work in general but in your particular case will force lsp-mode to use no-root workspaces for everything under `~/`. Also, this flag sounds like an addition to the interactive options I suggested here https://github.com/emacs

[2019-07-10 08:08] #812 closed

[2019-07-10 09:05] muffinmad commented on #515
And I, in turn, prefer do-what-i-mean behaviour as much as posible. I.e. run lsp server in current project without no questions. But lets leave defaults for now.

I achieved desired behaviour by setting `lsp-auto-guess-root` to `t`. Works perfect. But opening file in the folder for which `lsp-mode` can't guess project root leads to "LSP :: test.py not in project or it is blacklisted." error.
I nee

[2019-07-10 10:05] yyoncho commented on #137
Closing as per offline discussion with @vibhavp

[2019-07-10 10:05] #137 closed

[2019-07-10 16:54] mcraveiro commented on #900
Hi @yyoncho,

I managed to start the Kotlin server from the instructions above, but the problem is I can't seem to link it to emacs. I get the error:

[code]
Is there a document specifying how to point emacs to the LSP server?

Thanks for your time.

Marco

[2019-07-10 17:05] yyoncho commented on #900
@mcraveiro  Check `*lsp-log\*`. You will see what lsp-mode is looking for.

In your case something like that would do the job:

[code]

For other servers, we usually have a variable which can be used to point lsp-mode to the server location.

[2019-07-10 19:14] mcraveiro commented on #900
Thanks @yyoncho. The log file says>

[code]

Also, I think also my problem is the name of the server; I have a script called ```local/KotlinLanguageServer-0.1.13/bin/server.sh```. I'll try to update the server name too.

[2019-07-10 20:25] DmitryMaletin commented on #930
@kiennq Thank you. It's working now :)

[2019-07-10 20:36] muirrn commented on #931
If you are okay with killing unused buffers, another option is to disable `lsp-keep-workspace-alive` and then use `midnight-mode` to automatically clean up old buffers periodically. When all the buffers corresponding to the LSP server are closed, the server will be shut down.

[2019-07-11 00:03] imarko commented on #931
A hook on "no requests for `n` seconds" would work. Or just maintaining a timestamp of the last activity as a buffer var should be enough too, then I could have a single timer periodically scanning for backends with old timestamps. Not sure if this is worth adding though unless there are other use cases for it?

`lsp-keep-workspace-alive`/midnight is a great idea too. I'd need to customize the mid

[2019-07-11 01:25] jirex opened #932 "How to config php lsp with intelephense, it always tell me lsp disconnect?"
I had run the script npm install intelephense -g and add a hook to php-mode , but it always tell me lsp disconnect, how to config it?
And if i want to edit vue file with html lsp and vue lsp at the same time , how to conifg

[2019-07-11 04:44] yyoncho commented on #931
If we are going to do that we will add the hooks so it can be implemented outside of lsp-mode. IMO we miss only one hook - `lsp-on-request-hook` and this will be sufficient to implement the timer based solution on top of lsp-mode.

[2019-07-11 04:46] yyoncho commented on #932
Check \*lsp-log\*. Probably the binary is not at the path that emacs is using.

You should install the server and configure the required hooks. Do you have a concreate question?

[2019-07-11 05:13] jirex commented on #932
\*lsp-log\*:

_Command "intelephense --stdio" is present on the path.
Command "php /Users/magikid/.composer/vendor/felixfbecker/language-server/bin/php-language-server.php" is present on the path.
Found the following clients for /Users/magikid/Web/magikidweb/backstage/api/index.php: (server-id iph, priority -1), (server-id php-ls, priority -2)
The following clients were selected based on priority:

[2019-07-11 05:26] yyoncho commented on #932
I found that - https://github.com/vapid/vapid/issues/45#issuecomment-425209170 . What version of node do you use?

[2019-07-11 05:28] jirex commented on #932
maybe my node version is too old , 6.9.0, i'll try to update it and try again

[2019-07-11 05:33] jirex commented on #932
lsp php with intelephense works now after i update node!  Thanks for your help! @yyoncho

[2019-07-11 05:33] #932 closed

[2019-07-11 06:54] yyoncho commented on #931
If you are happy with what you currently have I would rather close the issue because we have a lot of work to do and we have to prioritize.

[2019-07-11 07:22] mcraveiro commented on #900
Also, for what its worth, I found a lsp-kotlin project [1].

[1] https://github.com/whily/lsp-kotlin

[2019-07-11 11:36] gjm opened #933 "Error using lsp-ui-menu"
**Describe the bug**
When using `lsp-ui-imenu`, or any variant like `counsel-imenu` or `imenu` itself, I get
[code]
If I use `imenu` outside `lsp-mode` it works fine.

This happens to me using PHP language server. I don't have any other languages to test so I don't know if the issue is specific or more general.

**To Reproduce**
Open a buffer with `lsp-mode` and invoke `lsp-ui-imenu`

**Expected b

[2019-07-11 12:43] yyoncho commented on #933
Can you include a file to reproduce the issue with and also the client/server message log. The log is located in \*lsp-log :server-pid` ?

[2019-07-11 13:34] gcv commented on #914
Delayed response due to travel schedule... I left a comment on that PR.

[2019-07-11 14:08] gjm commented on #933
Here it is:

[UsersRepository.php.txt](https://github.com/emacs-lsp/lsp-mode/files/3382397/UsersRepository.php.txt)

[lsp-log.txt](https://github.com/emacs-lsp/lsp-mode/files/3382387/lsp-log.txt)

[2019-07-11 15:23] imarko commented on #931
Ah yeah, adding an `lsp-on-request-hook` would be a good way to do it. Or I guess I could just advise `lsp-request`. In either case +1 to close this.

[2019-07-11 16:09] yyoncho commented on #931
Yes, you are right - lsp-request and lsp-request-async are public so if one wants to implement this behaviour could do it right now or do a pr to add the hook.

[2019-07-11 16:09] #931 closed

[2019-07-11 16:28] mcraveiro commented on #900
Ok, I've made some progress but not quite out of the woods yet. So now my ```*lsp-log*``` says:

[code]

However, the server fails to start. In ```*kotlin-ls::stderr*```, I see:

[code]

I wonder if this is anything to do with the fact that ```kotlin-language-server``` is a bash script? The interesting thing is that running it from ```M-!``` works:

[code]

[2019-07-11 16:33] mcraveiro commented on #900
Ah actually, just a very very silly emacs user! :-) forgot to put the hash bang in shell script! For anyone else who may be looking for a script to start the kotlin server, mine is now as follows (```kotlin-language-server```):

[code]

I used the packages directly from the official github project [1], which may be a tad old.

[1] https://github.com/fwcd/KotlinLanguageServer/releases

[2019-07-11 17:48] yyoncho commented on #900
@mcraveiro so you are good?

As a side note, it would be good if we do the server downloading automatically - so if you are interested in contributing to lsp-mode you may give it a try. Here it is a PR for lsp-python-ms - https://github.com/emacs-lsp/lsp-python-ms/pull/37 .

[2019-07-12 00:18] leungbk commented on #564
[code]

This is largely the same as something I saw on Xah Lee's blog. I'm using something like this in my own config but I call `xref-find-foo` with the appropriate backend info instead of `lsp-find-foo`. Might be worth a PR? If so, I'm not sure if I need to worry about the `:display-action` key that many of the `lsp-find-foo`s use.

[2019-07-12 04:06] yyoncho commented on #564
@leungbk sounds good, except for the keybinding -  In most GUI IDEs go to definition is bound to Ctrl-Click, IMO it makes sense to do the same in lsp-mode.

[2019-07-12 04:14] yyoncho commented on #515
@muffinmad

I need the option like lsp-allow-no-project. Setting this variable will cause lsp to run lsp server with nil passed as rootUri and don't store any folder in lsp-sessions.

This makes sense as the non-interactive/auto-guess option which will be an addition to the interactive described above. I think that we are ready to create an issue.

[2019-07-12 06:22] mcraveiro commented on #900
@yyoncho I have managed to get the kotlin server to connect to emacs, but now my problem is that I am getting errors that I do not see when I manually run gradle. I shall investigate those, and then update this ticket with a full set of instructions on how to get kotlin working. I will also look into the PR above and see how hard it is to integrate it all. If it is within my limited skillset, I'll

[2019-07-12 15:06] yyoncho commented on #933
What is the value of `lsp-imenu-sort-methods`?

[2019-07-12 15:43] gjm commented on #933
[code]

[2019-07-12 15:47] yyoncho commented on #933
It should be list, not symbol. You should change your config to `(setq lsp-imenu-sort-methods '(position))`

[2019-07-12 15:47] #933 closed

[2019-07-12 18:31] gisochre commented on #900
@yyoncho kotlin lsp kind of starts, but it's not too useful. *Messages*:
[code]

[2019-07-12 19:01] yyoncho commented on #900
@gisochre

Do `(spacemacs|define-jump-handlers 'kotlin-mode)`

[2019-07-13 03:19] tmciver opened #935 "fsautocomplete Won't Install"
**Describe the bug**
With an F# file in the current buffer, start LSP with M-x `lsp`.  Get the message "Server is not installed. Do you want to install it?(yes or no)".  Answer "yes".  See the message "Contacting host: ci.appveyor.com:443" in the command buffer.  A short time later see the message "lsp-fsharp--fsac-install: Invalid format operation %%$".  `fsautocomplete does not get installed.

*

[2019-07-13 04:37] yyoncho commented on #935
Apparently, the format does not work on older emacs versions:

[code]

@TOTBWF would you like to take a look?

[2019-07-13 04:41] TOTBWF commented on #935
Yeah, I'll take a look at this over the weekend

[2019-07-13 08:27] gisochre commented on #900
@yyoncho thanks. That helped, lsp-mode became mostly funtional :thumbsup:

[2019-07-14 03:04] muirrn opened #937 "False positive watched file "creates""
**Describe the bug**
lsp-mode is sending "create" `didChangeWatchedFiles` notifications (in addition to "change") every time a file is edited.

**To Reproduce**
Start an LSP server that registers "didChangeWatchedFiles" capability. Enable trace logging and edit a file under the root directory. Notice Emacs sends both a "change" and "create" event.

**Expected behavior**
Only  "change" notification

[2019-07-14 03:08] muirdm opened #938 "didChangeWatchedFiles "kind" registration option not respected"
**Describe the bug**
I registered for only "change" events, but my server gets sent "create" and "delete" events as well.

**To Reproduce**
When registering for watched file events, set `DidChangeWatchedFilesRegistrationOptions.Kind` to "2" (which is `Change` only). Notice Emacs still sends "create" and "delete" notifications.

**Expected behavior**
Emacs only sends "change" notifications.

**Whic

[2019-07-14 09:04] yyoncho commented on #938
Can you provide details on whether this is a blocker for you(e. g. does it cause some misbehaviour of the language server, anything besides the redundant messages). I want to determine the priority of the issue.

[2019-07-14 14:14] muirrn commented on #938
Not a big deal since I can just ignore messages I don't want to handle yet.

[2019-07-14 17:21] muirrn opened #939 "Consider support for Mac "FSEvents" file watching"
On Mac, the FSEvents library lets you efficiently do recursive file watches. This would improve performance, memory usage, and file handle exhaustion issues on Mac. Emacs filenotify.el doesn't support FSEvents, but lsp-mode (or a separate module) could support running `fswatch` directly if the user has it installed, or we could write an Emacs module with a native extension to interface directly wi

[2019-07-14 18:20] yyoncho commented on #939
Sounds good to me as long as there is someone to implement/support the feature.

[2019-07-15 09:10] TxGVNN opened #940 "xref-find-references return no result (cause of position in params)"
Hi lsp-mode team,
The first, thanks for your amazing work.

**OS**
Debian/Ubuntu
GNU Emacs 26.2 (build from source code)

**Describe the bug**

I don't know this is bug, small issue or my mistake. But I have >2 Emacs instance have the same issue.
I'm using lsp-mode for python-mode. And I realized `xref-find-references` is working incorrect. It did not return any results. But lsp-find-references di

[2019-07-15 16:10] yyoncho commented on #940
Can you inspect what is the content of the hashtable passed in 1. ? I have never seen that code to work. Can you share your setup? In general, our xref integration is not working 100% due to lsp protocol not able to fulfil xref expectations, this is one of the reasons we introduced `lsp-find-*`.

[2019-07-16 02:43] TxGVNN commented on #940
Yes sure, but could you guide me the best way to inspect? I'm not too master the elisp

My setup is simple
[code]
The full version you can check out here https://github.com/TxGVNN/dots/blob/master/.emacs#L635

I think we should improve it.

[2019-07-16 07:30] jjzmajic opened #941 "Garbled Argument Output with CAPF (without Company)"
**Describe the bug**
When not using company-lsp, the argument output includes characters from the language server (tested on go and python language servers) that should be stripped or parsed further. E.g.:
[code]

**To Reproduce**
- Disable `company-mode`
- set `lsp-enable-completion-at-point` to `t`
- Complete a function with TAB. Usually a method. E.g: `pd.DataFrame.<TAB>`

**Expected behavior**

[2019-07-16 08:12] yyoncho commented on #941
CAPF does not support snippets - see https://github.com/emacs-lsp/lsp-mode/issues/350

To achieve this set lsp-enable-snippet to nil.

[2019-07-16 08:12] #941 closed

[2019-07-16 08:35] jjzmajic commented on #941
Rtfm man, rtfm... Thanks for being patient with me @yyoncho

[2019-07-16 14:28] delbonis opened #942 "Enhancement: Run language servers inside docker containers"
At work I have to develop on a macOS machine, but parts of our project can only be built (easily) on a Linux machine (C dependencies in a Rust project), so we have a Docker image for portably using build environment instead of setting up a cross-compilation environment.

So the idea I had is to give `lsp-mode` some awareness of docker so you could specify a Docker image containing the language ser

[2019-07-16 15:08] yyoncho commented on #942
Duplicate of https://github.com/emacs-lsp/lsp-mode/issues/921 . Please go through the thread and share your thoughts.

[2019-07-16 15:08] #942 closed

[2019-07-16 15:31] delbonis commented on #921
Copied from #942...

This is not the same as running it on a remote server, as it's still running locally and talks via stdin/stdout.  However it does have some related problems in that you'd have to adjust project paths between what the client knows is real and what the server thinks is real.

[2019-07-16 15:35] yyoncho commented on #940
No need to do so. I found out why it works on your machine - you are using `ivy`.

[2019-07-16 15:52] yyoncho commented on #921
@delbonis yes, you are right but I think that once we have the ability to patch the uris we might cover both topologies.

Just for the record, what you are suggesting will work even now using lsp-mode tramp support.

There is a great chance to make that work only by patching lsp--client to contain a to/from uri conversion functions + fixing the corresponding static functions `lsp--uri-to-path` and

[2019-07-16 16:03] TxGVNN commented on #940
Yeah, you're right. I'm using ivy. But I've just tested with `emacs -nw -Q` just only load `lsp-mode` (include dependencies). It works the same

[2019-07-16 16:03] yyoncho commented on #921
Just want to add one more thing - once we have that feature we will be able to create a docker image with all the language servers and the users will be able to run them using what you described in #942.  It will be good if we implement support in dap-mode as well to provide a portable all in one dev env.

[2019-07-16 16:19] delbonis commented on #921
I'd like to avoid the (albeit relatively small) extra complexity/overhead of using tramp though, given that source files *really do* live on my local computer, they're just being "viewed" in an unconventional way (docker).

[2019-07-16 17:20] muirrn commented on #937
@yyoncho did you see this issue as well? Are you able to reproduce it?

[2019-07-16 17:33] yyoncho commented on #937
I think that I was able to reproduce it but I haven't had the time to investigate yet. There are few issues related to watches that I will try to address in one PR, this one, the issue about the missing filtering. We should also process the events in between creating the watches to avoid the blocking of UI. Also, we should show a warning when the workspace is too big and watching files will cause

[2019-07-16 17:56] muirrn commented on #515
I want to echo @muffinmad's comments. I think the default behavior of prompting for project root is lsp-mode's biggest usability issue. Personally I don't want to set `lsp-auto-guess-root` because we use a monorepo and I don't want the git root as my root dir for all languages. What I would like is language specific logic. For example `go-mode` files look for a "go.mod" file to find module root, o

[2019-07-16 18:01] muirrn commented on #937
Ok. Maybe I will poke at this one later to see if it is something is easy to fix.

[2019-07-16 18:35] muffinmad opened #944 "Allow to run lsp server with `nil` passed as `rootUri`"
According to [specification](https://microsoft.github.io/language-server-protocol/specification#initialize) `rootPath` and `rootUri` can be `null` on initialization request if no folder is open.

This will allow to open the file in the home folder but not make lsp server to treat home folder as a project.

It would be great if the current project detection code will be written as separate function

[2019-07-16 18:36] muffinmad commented on #515
Created https://github.com/emacs-lsp/lsp-mode/issues/944.

[2019-07-16 18:54] yyoncho commented on #515
This is supported right now and a lot of users use lsp-mode like that. To achieve this state do:
1. set `lsp-auto-guess-root` to t
2. customize the projectile root selection functions with your custom language-specific functions.

Project root selection is a complex thing and thus we delegate it to the `projectile`/`project.el`.

Something like that should work:
[code]

[2019-07-16 19:27] aschneid1 commented on #515
Would it be possible to have some kind of iterative compilation process, a la xCode or Visual Studio?  Here's the behavior I'm really looking for:

1) I edit a header file in a C++ project which is included in files a.cpp and b.cpp (either or neither of which may currently be opened in emacs)
2) Some compilation command runs (either automatically if preferred, or manually via a keybind)
3) The tre

[2019-07-16 19:43] TOTBWF commented on #935
Sorry for taking so long to get back to you all on this, try
[code]

[2019-07-16 19:45] mcraveiro commented on #900
Actually, I'm still struggling to get KLS to work correctly, though I do not think its an emacs problem. I've taken it to the KLS developers. I'll update this ticket once I get to the bottom of it. Thanks a lot for your help.

[2019-07-16 19:50] yyoncho commented on #515
@aschneid1 at client side we have support for that as long as there is a way to force republishing the diagnostics from the server(e. g. trigger the recompilation). In some of the servers, this is happening automatically. I am cc-ing @MaskRay in case he wants to elaborate on how to force server to re-compile(TBO I was expecting this to happen automatically, so this might be a bug).

[2019-07-17 01:44] muirrn commented on #937
Seems like this is a shortcoming in filenotify.el and unrelated to lsp-mode. When saving files in Vim, we get a "create" and then a "change" every time. src/kqueue.c detects the file's inode changed (due to how Vim writes files), and treats that as a "create -> write". Other watchers (e.g. VSCode, fswatch) handle this better and only give a single event. I can't say this behavior is "wrong", but i

[2019-07-17 01:44] #937 closed

[2019-07-17 02:38] zhyuanyuan opened #945 "lsp-vue mode 代码提示如何忽略掉自定义的一些文件"
Please ask your questions at https://gitter.im/emacs-lsp/lsp-mode
hi，你好。
     最近在使用lsp -mode 和 lsp-vue做vue开发，可是我们的项目非常大，其中有个文件夹中有几千个文件，每输入一个单词的时候node服务在疯狂运算，cpu运行 100%。所以我想把这个文件过滤掉，请问如何操作？

[2019-07-17 05:03] yyoncho commented on #945
Can you provide mode details(I do not speak Chinese) -  What is taking a lot of CPU - emacs or the language server? If it is emacs please provide performance report(use profiler-start/profiler-stop and C-u tab to expand a node).

[2019-07-17 09:05] contrun commented on #945
His/her question is how to ignore some files in the project, as those files eat cpu. If I understand him/her correctly, he/she wants the language server to ignore those files. Is that possible?

[2019-07-17 10:05] nykma commented on #945
`vetur` will  ignore things in `.gitignore` and all `node_modules/` . This is implemented in [this function](https://github.com/vuejs/vetur/blob/master/server/src/services/typescriptService/serviceHost.ts#L386).
你用的 Vue language server 在 [这个函数里](https://github.com/vuejs/vetur/blob/master/server/src/services/typescriptService/serviceHost.ts#L386) 只忽略了 `.gitignore` 和所有的 `node_modules/` 。

[2019-07-17 15:07] yyoncho commented on #945
Closing based on @nykma's comment.

[2019-07-17 15:07] #945 closed

[2019-07-17 15:09] yyoncho commented on #935
Should be fixed by https://github.com/emacs-lsp/lsp-mode/pull/946/ .

[2019-07-17 15:09] #935 closed

[2019-07-18 07:11] s-kostyaev commented on #515
[code]

[2019-07-18 07:22] muffinmad commented on #515
@s-kostyaev Why `'vc` as project type in result? Maybe `'transient` instead?

Take a look at `locate-dominating-file` function: `(locate-dominating-file dir "go.mod")`

[2019-07-18 07:27] s-kostyaev commented on #515
Because when I trying to fix same problem I read how 'vc projects work in `project.el`. Maybe this can be improved but it works for me. I'll see `transient` projects when I will have enough time.

Thanks I'll fix it.

[2019-07-18 07:37] yyoncho commented on #515
You may take a look at `projectile-root-top-down`/`projectile-root-bottom-up` as well.

[2019-07-18 07:40] s-kostyaev commented on #515
@yyoncho I don't use `projectile`

[2019-07-18 07:50] muffinmad commented on #515
@s-kostyaev One little improvement: use `when` instead of `if` that returns `nil` if condition is not met.

[2019-07-18 09:45] mcraveiro commented on #900
OK, I've done a lot of faffing with this and whilst I am not yet done, my intermediate notes may be helpful to anyone trying to get Kotlin Language Server (KLS) to work.

# Limitations

Whilst KLS seem to work fine for regular Kotlin code, bear in mind the following limitations:

1. As stated in many other places, you need Java 8 to _build KLS itself_ (#125, #108, #114). You can use the existing b

[2019-07-18 21:40] muirrn commented on #939
I'm going to try to implement this as a filenotify.el backend.

[2019-07-18 21:40] #939 closed

[2019-07-18 21:58] muirrn commented on #945
If you want to prevent a giant file from loading lsp-mode, you could customize your hook that calls `lsp` to not call it for certain files.

没试过，但如下应该可以了。按照文件名不启动`lsp`.
[code]

[2019-07-18 22:02] muirdm opened #948 "more efficient conversion of point to lsp position"
**Describe the bug**
After opening a large file (github.com/aws/aws-sdk-go/service/s3/api.go) my Emacs becomes unresponsive, using 100% CPU. I tried waiting a minute, but it didn't seem to recover.

**To Reproduce**
Open above file and run `lsp`.

**Expected behavior**
I expected Emacs to work normally.

**Which Language Server did you use**
gopls

**OS**
Mac

**Error callstack**
I set `debug-on-q

[2019-07-20 04:21] #914 closed

[2019-07-20 07:43] yyoncho commented on #948
Confirmed - the issue seems to be related to imenu position->point conversion. I tested with lsp-treemacs symbols view and it works very fast but only if I disable the automatic expand when opening(which is very slow).

[2019-07-20 09:49] MaskRay commented on #515
@aschneid1 I think this mostly fall in the realm of customization. LSP doesn't provide any mechanism for dependency information among files, so you have to customize it differently for each language server. Basically,

1. When a .cc file is opened, retrieve dependency information with ccls-file-info (or other language server specific extension) and record it.
2. When a .h is edited (e.g. adding a

[2019-07-20 12:58] yyoncho commented on #948
Pushed https://github.com/emacs-lsp/lsp-mode/commit/fcd2d0cdae18e87501488e10e8d6bc3d55754e26 . The result is that the imenu won't be refreshed if you do not have menu-bar-mode enabled. This document has 3000+ symbols and it is 25k lines long and in order to convert (line, character) to (point). Our code is like that:

[code]

which pretty much means that we start from the beginning of the buffer a

[2019-07-20 16:15] muirrn commented on #948
I can confirm the change prevents the problem. Do you want me to close or keep it open to track further improvements?

[2019-07-20 17:58] yyoncho commented on #948
The problem is only delayed. Once you do helm-imenu or related else you still will wait for 1+ minutes. I will leave it open, but won't be addressed with priority due to the fact that there is a workaround. Marking it with "Help needed".

[2019-07-22 03:50] ianpan870102 opened #950 "[Question] How exactly does lsp-mode know which server to use?"
I'm curious how lsp-mode knows which server to use, particularly in web-mode. I currently use web-mode for js/jsx/ts/tsx and I've hooked lsp to web-mode as well. Does lsp-mode look at the current major mode or the file extension (or possibly both?)

[2019-07-22 04:02] yyoncho commented on #950
When you are registering a server you could pass :major-modes or :activation-fn . They are used to determine whether that particular server can handle the current buffer(:actication-fn has priority).

1. Find which servers could handle the mode(using the aforementioned properties).
2. Check whether the server is present(we are using executable-find by default).
3. If more than one server matches -

[2019-07-22 04:02] #950 closed

[2019-07-22 10:42] zhyuanyuan commented on #945
Can you give me a demo?the function is too Tedious.

[2019-07-24 13:17] mpanarin commented on #916
@yyoncho new verison of pyls got released. You can drop its hacks :)

[2019-07-24 13:45] mpanarin commented on #916
It also got support for multiple workspaces!

Does that mean that lsp won't start new instances of pyls all the time?

[2019-07-24 13:54] yyoncho commented on #916
Yes, but we need to specify `:multi-root t`  in the registration.

[2019-07-25 06:49] c02y opened #952 "How to start lsp manually instead automatically?"
In README file, it says:
[code]
this only starts lsp when you open a file in emacs, but what if I want lsp to be started only when I manually start it, since it happens a lot when I only want to view a file, no modification, no navigation, nothing else, just like `less`.

Currently lsp is started automatically, I'm using old hardware, it takes a lot of resource and time every time when I open a fi

[2019-07-25 07:02] yyoncho commented on #952
Do not add any hook (e. g. `(add-hook 'XXX-mode-hook #'lsp)`) but do `M-x lsp`.

[2019-07-25 07:02] #952 closed

[2019-07-25 16:53] kkhan01 opened #953 "ocaml lsp seems broken"
**Describe the bug**
`ocaml-language-server` does not work.

**To Reproduce**
Steps to reproduce the behavior:
Here is my config--
[code]

I also tried replacing `"ocaml-language-server"` in new connection to `""ocaml-language-server" --stdio "`. This gives me the error `LSP :: No LSP server for tuareg-mode(check *lsp-log*).`. This results in just giving me syntax highlighting, with nothing else.

[2019-07-25 17:03] yyoncho commented on #953
Can you set the command to list `'("ocaml-language-server" "--stdio")`?

[2019-07-25 18:18] kkhan01 commented on #953
That works perfectly, thanks.

[2019-07-25 18:18] #953 closed

[2019-07-28 19:44] yyoncho commented on #921
@delbonis WIP PR at:

https://github.com/emacs-lsp/lsp-mode/pull/955/

I have extended lsp-mode to support mapping remote path <-> local path via extending lsp--client. In addition to that, I have created a sample configuration for docker(in the PR description). It is not really clear to me which are the parts of the docker stuff that should be parameterized(I am not very familiar with what are th

[2019-07-29 04:40] yyoncho commented on #901
I am unable to reproduce the issue with `emacs -Q`, how do you do that:

Can you also try to reproduce the issue using `emacs  -q -l ~/lsp-mode/scripts/lsp-start-plain.el`?

[2019-07-29 22:00] Malabarba commented on #911
Sorry for the delay.
@yyoncho Odd that whitespace modifications would have such adverse effects on the server. :-|

In any case. Would you like to offer a PR with that change?

[2019-07-30 07:14] icexin opened #956 "Too many files under a go package cause slow editing"
**Describe the bug**
I use gopls as the language server. If there are too many files under a go package, when I edit one of the files, every time I add a character, I will receive the diagnostics of all the files under the package, causing the emacs to be very stuck and almost impossible to edit.

**To Reproduce**
Create a 50+ go file in one directory and edit one of the files

**Expected behavior

[2019-07-30 07:54] yyoncho commented on #956
There is not much we could on lsp-mode side except speeding up json parsing:

1. Make sure gc-cons-threshold is big enough.
2. Switch to emacs 27(build from latest master branch) with native json support.

[2019-07-30 08:33] icexin commented on #956
This is the result of profiling, JSON parsing has a small proportion.
May it helps.

[code]

[2019-07-30 08:54] yyoncho commented on #956
Thank you! Thanks for clarifying - can you test with reverting 019e99672249535e440cbd00bb10fd228d1afa9c ?

[2019-07-30 09:29] icexin commented on #956
After using `get-file-buffer`, the speed has improved significantly, thank you.
By the way, when I complete the variable name, the editing speed is slowing down. But with gopls, VSCode doesn't have this problem. Is it because VSCode uses different threads to handle different tasks?

[2019-07-30 10:06] yyoncho commented on #956
Can you provide a bit more details? (and eventually a profiler report).

[2019-07-30 17:19] TPLinux opened #957 "python File mode specification error: (void-function lsp-make-traverser)"
**Describe the bug**

**To Reproduce**
I tried all steps and solutions , no hope

created venv and install requirments and still not working

I also tried to apply virtualenv-workon command to make it work but still not working and giving me the same error

i feel disappointment

**Language Server**
lsp-python

**OS**
MacOS Mojave

**Error callstack**

when i open python file o got this error

`Fi

[2019-07-30 18:12] yyoncho commented on #957
This function and the code that reference that function was deleted 9 months ago. Please delete the content of ~/.emacs.d/elpa and redownload the latest versions of the packages.

[2019-07-30 18:12] #957 closed

[2019-07-30 18:14] yyoncho commented on #957
Also, make sure that the issue reproduces when you are using `emacs -q -l lsp-start-plain.el` (the file could be downloaded from https://github.com/emacs-lsp/lsp-mode/blob/master/scripts/lsp-start-plain.el ).

[2019-07-30 21:52] TPLinux commented on #957
I just downloaded the packages yesterday !, you should not close this issue without solving it ...!

[2019-07-30 22:19] TPLinux commented on #957
This worked for me , but i want it to work with normal startup emacs , i will try to download the packages from melpa stable

[2019-07-30 22:40] TPLinux commented on #957
i think it's solved but i still getting this error even i had it in my PATH

`Command "pyls" is not present on the path.`

[2019-07-30 22:42] TPLinux commented on #957
SOLVED!, TY <3,  Appreciate  @yyoncho

` '(lsp-pyls-server-command (quote ("/usr/local/bin/pyls")))`

[2019-07-31 05:17] #817 closed

[2019-07-31 05:17] yyoncho commented on #817
Fixed with dc86bbb . I will update the readme with guide how to use it with expand-region as part of the release notes.

[2019-07-31 05:20] #921 closed

[2019-07-31 05:24] yyoncho commented on #921
@gcv  697d319 adds the ability to override the path. Let me know if you need something more to achieve the original request.

@delbonis I created https://github.com/emacs-lsp/lsp-docker which will host which is now part of #955 description.

[2019-07-31 05:25] yyoncho commented on #927
Closing due to inactivity - please reopen after providing the requested info in case the issue is still present.

[2019-07-31 05:25] #927 closed

[2019-07-31 05:27] yyoncho commented on #761
fixed with 697d319

[2019-07-31 05:27] #761 closed

[2019-07-31 05:29] yyoncho commented on #940
@dangerousben this issue is related to the discussion in https://github.com/emacs-lsp/lsp-mode/pull/954 - are you still planning to give it a shot?

[2019-07-31 18:08] gcv commented on #921
@yyoncho: Thanks for continuing to look into this.

I'm confused about a few points here. First, with regard to Docker support: where is the implementation of `lsp-docker-register-client` from the #955 PR supposed to go? Into https://github.com/emacs-lsp/lsp-docker and with the expectation that it'll be installed as a separate Emacs package?

Second, with regard to my original request: Docker supp

[2019-07-31 18:45] yyoncho commented on #921
It won't be a package intially but it will be elisp file which you could use with the corresponding image(Dockerfile will be in the repo). That file will have the configurations for each server that is present on that docker image. Later we may turn it into a package. It will shape itself once we put some work into it.

It is not clear to me how this would work (e. g. will lsp-mode ask for host/po

[2019-07-31 20:00] gcv commented on #921
Yes, that looks right. Having a preconfigured host+port seems like the right approach, with a query fallback for both. Also, this client type needs to support the `path-mappings` mechanism.

[2019-07-31 22:29] #940 closed

[2019-08-01 01:17] aschneid1 commented on #515
I finally had a chance to play around with this a bit.  I've managed to get the basic skeleton of this working, but I'm running into an issue with (lsp-on-change).  Here's the chunk of code I've cobbled together so far:

[code]

After opening and saving a couple of files, some entries in the hash table should be populated.  After changing a header file (in one of the registered dependencies), you

[2019-08-01 08:55] icexin commented on #956
Finally found it's the same reason as the previous question. Thanks.

[2019-08-03 16:08] aschneid1 commented on #515
I finally had a chance to play around with this a bit.  I've managed to get the basic skeleton of this working, but I'm running into an issue with (lsp-on-change).  Here's the chunk of code I've cobbled together so far:

[code]

After opening and saving a couple of files, some entries in the hash table should be populated.  After changing a header file (in one of the registered dependencies), you

[2019-08-05 14:10] taigacute commented on #641
got same error, for  my config , i found the reason that i installed `use-package server`. if i remove it , works well. so maybe this informaition can help you

[2019-08-05 15:24] yyoncho commented on #641
@taigacute , thank you - can you test whether the following snippet will fix the issue (it should be executed after lsp-mode and server package are loaded:

[code]

[2019-08-05 15:25] sebasmonia commented on #815
@tom-bowles if you compile the branch `feature/lsp-0.13` from https://github.com/OmniSharp/omnisharp-roslyn you should get completion for C# in LSP mode. It's not working for me though. Let me know how it goes!

@yyoncho I tried using the following init code:

[code]
Unhandled Exception: Newtonsoft.Json.JsonSerializationException: Error converting value {null} to type 'System.Boolean'. Path 'param

[2019-08-05 15:47] yyoncho commented on #815
@sebasmonia should be fixed with https://github.com/emacs-lsp/lsp-mode/commit/31ebd7e8374dca085a4531e73e2775c883fb20bb

[2019-08-05 17:05] sebasmonia commented on #815
Added the line manually to my lsp-mode.
It works now! However it seems I get only properties, not methods, and when I add a new object completion can be triggered but doesn't reflect the context:

![image](https://user-images.githubusercontent.com/1651857/62481823-c1f83480-b770-11e9-93b4-cc4bc11fd700.png)

Not sure if that's on lsp-mode or Omnisharp Rosly...

Guessing that once Omnisharp merges th

[2019-08-05 17:15] yyoncho commented on #815
We have to check the server response and then eventually debug the C# completion handling. The issue might be caused by the project being not imported properly. It will be a bit harder to find the root cause because vscode does not use lsp protocol and we won't have reference lsp implementation.

We try to support as much stuff as possible out of the box.

[2019-08-05 17:23] sebasmonia commented on #815
The same thing in Eglot does work:

![image](https://user-images.githubusercontent.com/1651857/62482716-29af7f00-b773-11e9-884b-4a24343e24fe.png)

I would love for C# devs to have a default LSP to rely on.
Also, thanks for the quick turnaround. This project is lucky to have you as mantainer :)

PS: There's omnisharp-emacs that is also non-LSP =/

[2019-08-05 18:17] yyoncho commented on #815
@sebasmonia if it works then we could capture and compare the wire data. I am still failing to build it locally on my ubuntu, I even tried in a docker container and it still fails with the following error:

[code]

My guess is that the issue is caused by the mono version. I hope that this version will be merged soon so we could do the corresponding fix in lsp-mode.

[2019-08-05 20:28] sollidsnake opened #961 "Carbon with intelephense makes Emacs hang"
**Describe the bug**
When using the PHP backend intelephense and trying to import the Carbon library, Emacs hangs and stops responding for a while. `Ctrl-g` doesn't seem to help. This only happens if you have `lsp-ui-mode` enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project with a clean composer.json
2. Install Carbon:
`composer require nesbot/carbon`
3. Create a ne

[2019-08-05 20:37] yyoncho commented on #961
Can you do `M-x toggle-debug-on-quit` which will show the callstack when you press C-g?

[2019-08-05 20:38] sebasmonia commented on #815
I started a new session, killed the "Events" buffer after adding `var a = "123";` so what follows is the output of typing `a.` and calling completion with `C-M-i`:

[code]

Hope this helps!

[2019-08-05 20:41] yyoncho commented on #815
Thank you! Sorry for bothering you but in order to guess what is happening in the lsp-mode I will the corresponding lsp-mode logs.

BTW do you know when the feature branch will be merged and an omnisharp Linux binary will be published?

[2019-08-05 20:43] sollidsnake commented on #961
I only get this:
[code]

[2019-08-05 20:55] yyoncho commented on #961
Ok, thank you, it does not ring any bell. I will try to reproduce it on my side tomorrow my time. If I fail to reproduce it on my side I will probably need a performance report.

[2019-08-05 21:03] sebasmonia commented on #815
Not a bother at all, happy to help.
I have no clue on the Omnisharp release, but I can let you know, I get a notification.

Attached the two logs. This time with a fresh LSP install I got the methods for string! which is great.
So I tested both servers by changing the type to int. In lsp-mode it didn't pick up the type change. I created another variable "b" and triggered completion and it didn't w

[2019-08-06 04:59] taigacute commented on #641
@yyoncho  hi it can work.  i add here https://github.com/hardcoreplayers/hardcoremacs/blob/master/core/core-general.el#L93

i think it not load  after lsp-mode . bu it can work

[2019-08-06 05:57] yyoncho commented on #641
Thank you, then something like this should be able to fix the issue:

[code]

This will make sure that the lsp-mode kill hook is executed before `server` hook trying to kill the buffers.

[2019-08-06 06:40] taigacute commented on #641
i have add these code,but doesnt work, maybe i add it in a wrong postion, where should i add it .

[2019-08-06 07:00] yyoncho commented on #641
Can you tell me what is the value of `kill-emacs-hook` before you kill emacs and the issue reproduces?

[2019-08-06 07:08] taigacute commented on #641
[code]
yes, its reproduce

[2019-08-06 07:13] yyoncho commented on #641
What happens if you eval the block just before killing emacs?

[code]

[2019-08-06 07:16] taigacute commented on #641
prompt the gopls restart y-or n

[2019-08-06 09:24] tom-bowles commented on #815
Hi @sebasmonia and @yyoncho, thanks for for looking at this!

I've built the latest `feature/lsp-0.13` of omnisharp-roslyn and am using latest melpa unstable lsp-mode with the 31ebd7e fix but still getting some null reference exceptions:

[code]

I haven't managed to get any completions yet, but maybe I haven't configured lsp-mode right.

[2019-08-06 10:36] tom-bowles commented on #815
Actually, I am getting completions back but it's an empty list. The logging looks healthy as far as I can tell. I do get completions with omnisharp-emacs.

[2019-08-06 10:38] tom-bowles commented on #815
Oh, if I close the file and reopen it I get completions.

[2019-08-06 15:17] yyoncho commented on #961
I tried the steps you provided me but the issue didn't reproduce, probably I have missed something, can you provide a sample project? (I have zero php experience).

[2019-08-06 17:14] tom-bowles commented on #815
I think the reason for the lack of context is that no information is being sent about edits. If I type a letter into my buffer, I see a bunch of `textDocument/hover` and `textDocument/signatureHelp` messages, but nothing that would inform omnisharp that an edit has occurred.

Presumably for the same reason, if I move the cursor beyond what was the end of the buffer when omnisharp was started I get

[2019-08-06 17:28] jimmywongroo commented on #901
I cannot reproduce this anymore. Seems to have been fixed. I'll reopen if I see this again.

[2019-08-06 17:28] #901 closed

[2019-08-06 17:30] sollidsnake commented on #961
Sure, [here's the repository](https://github.com/sollidsnake/sample-php-project/). Or, if you prefer, I'll try to guide you through in more details:

1. Create a new directory and cd into it
2. Create a file `composer.json` with the following content:
[code]
3. Run `composer install` to install the dependencies. If you're not familiarized with composer, it's a PHP package manager, simular to npm a

[2019-08-06 17:36] yyoncho commented on #815
@tom-bowles can you post the response of `initialize` message? I suspect that omnisharp is sending a buggy response(e. g. no support for didChange notifications) or we have a bug regarding this?

[2019-08-06 17:44] sollidsnake commented on #961
Also, to make sure you have `lsp` and `intelephense` working as expected, you can type `Carbon::[cursor here]` and try to fetch the completion candidates.

[2019-08-06 18:01] yyoncho commented on #961
Thank you - I think that I reproduced it but on my setup(spacemacs), it does not hang but it is kind of slow. It is very slow with `emacs -q` but once you do `(setq gc-cons-threshold 100000000)` it gets much better, can you test on your side?

[2019-08-06 18:04] tom-bowles commented on #815
Got it working by forcing it to use `incremental` for `lsp--server-sync-method`. Server's `initialize` response is:

[code]

[2019-08-06 18:06] tom-bowles commented on #815
Setting `lsp-document-sync-method` appears to be the nice way to force this.

[2019-08-06 18:06] sollidsnake commented on #961
Yes, it still lags but it's much faster after setting that variable

[2019-08-06 18:56] yyoncho commented on #815
Does everything work if you do that? We should report an omnisharp bug to populate `textDocumentSync.kind`.

[2019-08-06 19:10] tom-bowles commented on #815
Actually `lsp-document-sync-method` doesn't work for me. It's not clear to me why. If I hack the code to set `kind` to 2 in `lsp--text-document-did-open` that works, but customizing `lsp-document-sync-method` doesn't. In both cases the variable is set in the buffer, but in the working case it shows as `'incremental'` (string) but in the non-working case it shows as `'incremental` (symbol). Not sur

[2019-08-06 20:23] yyoncho commented on #961
Can you apply this locally and comment on whether this solves the issue?

[code]

[2019-08-06 20:49] yyoncho commented on #815
The first issue that we should fix is to set the version to LSP3

This should be done by changing lsp--client-capabilities to sent the expected version. I was unable to find that field in the lsp specification.

[2019-08-06 21:07] sollidsnake commented on #961
That makes it a lot better. It still has some very short lag, but it's usable now. Thanks a lot for the quick fix!

[2019-08-07 05:08] #961 closed

[2019-08-07 10:15] tom-bowles commented on #815
`GetClientVersion` is as below. Given what lsp-mode is sending, I think it should be detecting LSP 3. The response it's sending has `"textDocumentSync": 0`, which I think is valid in LSP 3 (`textDocumentSync?: TextDocumentSyncOptions | number;`).
[code]

[2019-08-07 11:31] mpetar92 opened #962 "ts-ls node not found on Windows"
**Describe the bug**
Opening .js file can't start the ts-ls successfuly, as ts-ls can't find node.

**To Reproduce**
Not entirely sure but i will try to describe my setup as close as possible. Windows 10, latest version on emacs installed from Chocolatey. Latest typescript-language-server installed i am running Doom emacs but i am not sure it is causing/affecting the issue. Opening any .js file wi

[2019-08-07 12:05] tom-bowles commented on #815
I think I see why omnisharp's returning textDocumentSync 0. I've raised an issue at https://github.com/OmniSharp/csharp-language-server-protocol/issues/162 with the details.

[2019-08-07 12:15] yyoncho commented on #962
It is hard for me to guess what the issue could be but you may try the following:

1. Check whether `(executable-find "node")` returns the path to `node`. If does not you may try altering the PATH env via `(set-env "PATH" ...)`.

2. Change the language server path to be something like that(first test whether it will work in cmd):
[code]

[2019-08-07 13:29] tom-bowles commented on #815
If I understand correctly, I think the slashes that appear in the hover messages are because omnisharp is escaping everything that can be escaped (it uses `Regex.Replace(markdown, @"([\\`\*_\{\}\[\]\(\)#+\-\.!])", @"\$1");`) regardless of whether it needs to, an because the display in lsp-mode (again, if I'm understanding correctly) uses markdown-mode to fontify the content but doesn't hide the es

[2019-08-07 13:34] tom-bowles commented on #815
`lsp-find-definition` works, BTW, but not `lsp-find-type-defiition`, `lsp-find-declaration` or `lsp-find-implementation` as there are no handlers in omnisharp, though it should be easy to add them as it can do these things. Same goes for code actions.

`lsp-format-buffer` and `lsp-format-region` work.

[2019-08-07 13:55] mpetar92 commented on #962
The first suggestion worked. (executable-find "node") did return the path to node, but interesting thing is (getenv "PATH") did not return path to the folder where node was. After adding the path to node using (set-env "PATH" ...) the server started working properly. It is working slow as hell now, i will look into it, but as for this problem you solved it for me quite quickly so thanks a lot :)

[2019-08-07 13:55] #962 closed

[2019-08-07 17:08] yyoncho commented on #515
[code]

Maybe something like that would do.

[2019-08-07 17:54] tom-bowles commented on #815
First reason I get no diagnostics is that the the file I had open when I initialised lsp-mode doesn't seem to have been registered as open inside omnisharp. lsp-mode sent the didOpen event but I'm guessing that happened while the omnisharp server was still loading stuff and it didn't register it.

If I close the document and open it again, reconnecting to the existing omnisharp server, it does reg

[2019-08-07 17:56] aschneid1 commented on #515
Still no luck.  The buffer doesn't register errors inline, and neither treemacs-error or the flycheck error list discover the compilation error until after I re-save the file (by typing a space, deleting it, and hitting save).  The three arguments to lsp-on-change appear to be correct, though.

Interestingly (maybe?) if I directly execute the  (lsp-on-change (point-min) (point-max) (- (point-max)

[2019-08-07 19:09] yyoncho commented on #515
It might be caused by ccls being smart and detecting that there are no changes. I think that if you call `lsp--text-document-did-open` this will force rechecking the buffer, can you try that?

[2019-08-07 19:12] yyoncho commented on #815
@tom-bowles can you try to debug lsp--on-diagnostics ? Your observation might be caused by a lsp-mode not being able to find the corresponding buffers.

[2019-08-07 21:33] aschneid1 commented on #515
`did-open` failed with an error about workspace being nil or something of the sort.  However, I noticed that touching the buffer (without modifying or saving it) didn't work, but saving a buffer with no modifications did.  So:

[code]

...works.  I'm not sure if `lsp--text-document-did-save` has any side effects I need to be aware of, but everything seems to be working like I want it to.  I'm gonn

[2019-08-08 04:39] yyoncho commented on #515
IMO it will be useful to have it in a wiki page.

[2019-08-08 06:46] zy9306 opened #963 "rust Warning (lsp-mode): Failed to parse the following chunk: ... with message (error No Content-Length header)"
Please ask your questions at https://gitter.im/emacs-lsp/lsp-mode

This occurs when rls process proc macros
https://github.com/rust-lang/rls/issues/1108
 Zinfour commented on 30 Oct 2018, but it isn't solved now...
how to solve or aviod this?
thx

[2019-08-08 07:00] zy9306 commented on #963
[code]

[2019-08-08 09:05] tom-bowles commented on #815
Turns out it was me not having configured lsp-ui correctly to get the diagnostics in flycheck. Getting diagnostics now (as long as the server is already running when I open the document) - nice!

There's a fix being worked on for the server returning None for textDocumentSync (https://github.com/OmniSharp/csharp-language-server-protocol/issues/162) but once fixed it will still return Full rather t

[2019-08-08 09:24] yyoncho commented on #815
Full sync is delayed but it should work. There are multiple servers that support only full synchronization.

[2019-08-08 17:07] aschneid1 commented on #515
Sure.  Which wiki?  It'd be my first contribution.  Here's something of a final version.

[code]

`file-location` and `blacklist` can be customized.  `file-location` just stores generated dependency hash table on disk so you don't lose the information between emacs close/opens, while blacklist refrains from putting files in those directories in the hash as dependencies. `my-notify-dependencies` is

[2019-08-08 17:11] yyoncho commented on #515
This: https://github.com/emacs-lsp/lsp-mode/wiki or CCLS wiki if @MaskRay is interested in that piece of code because it is kind of ccls specific. I guess it could be `ccls.el` module.

[2019-08-10 16:50] victorolinasc opened #964 "elixir-ls (textDocument/definition): Wrong type argument: sequencep"
**Describe the bug**

When I try to navigate to source I get a lisp error from lsp-mode.

I've enabled `lsp-print-io` and the response from the server was:

[code]

Which is a bit odd to me because the start and end are the same.

**To Reproduce**
Steps to reproduce the behavior:

Navigate to source of a module.

**Expected behavior**

Emacs should navigate to the module/funcion from the response.

[2019-08-10 17:33] #964 closed

[2019-08-11 02:42] dolmens opened #965 "How to setup a whitelist directory which is lsp enabled, others disabled"
Tired of being questioned openning a new directory every time.

[2019-08-11 04:50] victorolinasc commented on #964
Thanks! Works flawlessly now!

[2019-08-11 06:27] yyoncho commented on #965
[code]

[2019-08-11 06:27] #965 closed

[2019-08-11 13:53] JSiebelink opened #966 "How to use/register @angular/language-service for angular project."
**Describe the bug**
For Angular projects, it should be possible to use the official @angular/language-service for error diagnostics, go to definition functionality, auto completion and such, when opening html templates related to typescript components/files. For the official language service, see: https://angular.io/guide/language-service and for the vscode implementation of the service: https://

[2019-08-11 18:18] yyoncho commented on #966
I think that at this point `vscode-ng-language-service` supports only node ipc connections(cc @kyliau to confirm). So the first step to make this support work is to add stdio support.

[2019-08-11 21:47] coventry opened #967 "lsp-find-references only finds references in current golang package, not project"
**Describe the bug**

In golang source code `lsp-find-references` will return only references within the current package, which is usually much more restrictive set than the entire project.

**To Reproduce**

Start `lsp-mode` on a multi-package golang project. Place point on a symbol which is referred to by multiple packages within the project. `M-x lsp-find-references` only lists the references w

[2019-08-11 21:53] yyoncho commented on #967
The jump to reference issue is in emacs code base and AFAIK it is already fixed in emacs 27. The list of the references is returned by the language server and it is not controlled by lsp-mode, so you should file it in the gopls repo.

[2019-08-11 21:53] #967 closed

[2019-08-11 22:58] coventry commented on #967
OK. I had hoped there was some way for a client to broaden the scope.

[2019-08-12 06:29] nicehiro opened #969 "completion in pyls seems uncomfortable"
**Describe the bug**
Choose a function candicate will select the parameters of this candidate function together. Maybe I miss some configration?

**To Reproduce**
Just tap a function with parameter, then choose a candidate.
Example:
![image](https://user-images.githubusercontent.com/17773634/62848177-d9a16100-bd0c-11e9-9e84-0c34cd07f780.png)

**Expected behavior**
With no parameters selected.

**W

[2019-08-12 07:18] yyoncho commented on #969
Please install yasnippet or disable the snippet completion by setting lsp-enable-snippet to nil. In the latest lsp-mode there should be a message warning that it should be installed.

[2019-08-12 07:18] #969 closed

[2019-08-12 07:23] seagle0128 opened #970 "‘format’ called with 0 args to fill 1 format"
lsp-mode-20190812.425

[code]

[code]

should be

[code]

[2019-08-12 07:30] yyoncho commented on #969
One more thing - the snippets work only when using company-lsp. In if you do not use it you have to disable them via lsp-enable-snippet since the lsp capf snippet support is not implemented.

[2019-08-12 08:20] nicehiro commented on #969
Thanks! Install yasnippet fix my problem!

[2019-08-13 04:53] #970 closed

[2019-08-13 05:26] kyliau commented on #966
the LSP server for Angular language service uses the standard vscode-languageserver package.
If you start the server with `--stdio` flag, it'd read from stdin and stdout.
See https://github.com/angular/vscode-ng-language-service/blob/2558440c8fb9a14ee7aa927777aa3be5332829b7/server/src/server.ts#L17 and https://github.com/microsoft/vscode-languageserver-node/blob/e9f3e3cdfb0fb761654bed9154e248acade

[2019-08-13 10:53] taigacute opened #971 "How to correctly guess the root directory"
Please ask your questions at https://gitter.im/emacs-lsp/lsp-mode
Hi，A vimer new come to emacs， i used lsp-mode and set `auto-guess`， but i got something wrong, i have a project like this . when i edit the `goroutine*/**.go`， i cant get the lsp-mode work. the root is `Goroutine` .
![image](https://user-images.githubusercontent.com/41671631/62936139-9540be80-bdfb-11e9-9ccb-9fb8724a9f08.png)

[2019-08-13 13:17] yyoncho commented on #966
@kyliau thank you. I thought that it has to be explicitly enabled.

@JSiebelink I managed to make it work.

[code]
![emacs-27 0 50@myoncho_015](https://user-images.githubusercontent.com/13259670/62942036-20ac5680-bde0-11e9-81c1-6ce1bb475f30.png)

[2019-08-14 06:35] skelutten opened #972 "Fail to parse workspace/executeCommand for code action (using cquery & C++)"
**Describe the bug**
When getting the hint "Add one of following includes... " and applying that I get the error:

Debugger entered--Lisp error: (error "Fail to parse ’workspace/executeCommand’ /params/comman, expected std::string")
  signal(error ("Fail to parse ’workspace/executeCommand’ /params/comman, expected std::string"))
  error("Fail to parse 'workspace/executeCommand' /params/comman, exp

[2019-08-14 07:01] yyoncho commented on #972
Please report that in cquery repo. FYI AFAIK cquery is no longer developed so it will be better to switch to ccls/clangd.

[2019-08-14 07:01] #972 closed

[2019-08-14 12:43] colin4124 opened #973 "Warning (lsp-mode): Unknown method: metals/executeClientCommand"
**Describe the bug**
When I open scala file to start lsp-mode, it pops up `Warning (lsp-mode): Unknown method: metals/executeClientCommand`

**To Reproduce**
Open scala file to start lsp-metals

**Expected behavior**

**Which Language Server did you use**
lsp-metals

**OS**
Linux

**Error callstack**
`Warning (lsp-mode): Unknown method: metals/executeClientCommand`

[2019-08-14 12:44] colin4124 commented on #973
The lsp-mode version I used: lsp-mode-20190810.1732

The metals version I used: https://github.com/scalameta/metals/commit/98d43026a1f20ec839cb2117396d52148a0f27bf

[2019-08-14 14:54] yyoncho commented on #963
Can you provide a project to reproduce the issue with?

[2019-08-14 14:56] yyoncho commented on #971
1. Use lsp-describe-session to find out what are the roots used by lsp and the lsp-workspace-folders-* methods for adding/removing the folders. treemacs projects are not synched with lsp-mode folders.
2. If you want to use auto guess option refer to `project.el`/`projectile` documentation on how to setup the project roots.

[2019-08-14 14:56] #971 closed

[2019-08-14 15:39] taigacute commented on #971
@yyoncho  thanks

[2019-08-15 07:15] yyoncho commented on #973
@dsyzling @kurnevsky would you take a look? Is this a metals bug because currently we do not support that method?

[2019-08-15 08:13] kurnevsky commented on #973
That's weird. We do support this method: https://github.com/emacs-lsp/lsp-mode/blob/e4efbab6704e6b1241cccfa0992dbcc4ba08cdcb/lsp-metals.el#L160 and it was added about moth ago: https://github.com/emacs-lsp/lsp-mode/pull/936

@colin4124 could you check that this handler is present in your local copy of `lsp-metals.el`?

[2019-08-15 08:57] dsyzling commented on #973
I've just tried refreshing on Windows to lsp-mode 20190813.451 and running Metals latest snapshot 0.7.0+78-98d43026-SNAPSHOT. This version of the snapshot when downloaded with -Dmetals.client=emacs now does appear to turn on -Dmetals.execute-client-command=on by default so running M-x lsp-metals-doctor-run does bring up the new in Emacs html rendered view rather than launching a browser page.

The

[2019-08-15 17:49] prittjam opened #975 "new version is unusable with Microsoft Python Language Server"
**Describe the bug**
Everything stopped working

**To Reproduce**
try the newest version of lsp-mode with MSFT Python Language Server

**OS**
Linux

[code]

[2019-08-15 18:02] yyoncho commented on #975
Tested with `emacs -q` and the latest version of the server(automatically downloaded and everything seems to be working fine).

[2019-08-15 18:04] yyoncho commented on #973
Thank you @kurnevsky and @dsyzling . I am closing the issue based on your comments. @colin4124 can you try deleting the lsp-mode folder in the elpa dir to force downloading the latest lsp-mode version. If the issue is still there please reopen the issue.

[2019-08-15 18:04] #973 closed

[2019-08-15 18:37] prittjam commented on #975
Hi Thanks for the the reply, it is working on certain python files it seems. However, on some files there is a status bar where the major mode is and it just keeps cycling, like it's timing out or trying to parse...

[2019-08-15 18:43] yyoncho commented on #975
can you provide a file/project to use for reproducing the issue?

[2019-08-15 21:00] prittjam commented on #975
it seems the problem is in dap-mode, actually....
Compilation exited abnormally with code 1
Failed to connect to localhost:32000 with error message make client process failed: Connection refused, :name, *connection-test*, :buffer, nil, :host, localhost, :service, 32000, :nowait, nil, :tls-parameters, nil [7 times]
Failed to connect to localhost:32000 with error message Failed connect: Connection r

[2019-08-16 04:43] yyoncho commented on #975
@prittjam can you delete the `dap-breakpoints-file` (used to be `dap--breakpoints-file`) and restart emacs?

[2019-08-16 05:21] colin4124 commented on #973
I got it. Thanks very much ^_^

[2019-08-16 13:40] JSiebelink commented on #966
Thank you so much for looking into it! I am trying the suggested config, and I manage to start the server indeed. However, right at startup, the server exits with an exit code.
![image](https://user-images.githubusercontent.com/24893462/63171581-1dada200-c03c-11e9-8c5c-aad1612f9281.png)

How did you build the actual server?

[2019-08-16 13:42] yyoncho commented on #966
@JSiebelink I downloaded the extension from the vscode marketplace.

[2019-08-16 13:43] JSiebelink commented on #966
Aah, I see. Let me try that.

[2019-08-16 13:49] JSiebelink commented on #966
The same happens. Is there a way to debug the output of the server? Thank you so much for your time. I really appreciate it :)

[2019-08-16 14:08] kyliau commented on #966
Please let me know if there's anything else I could help here. I'm working on improving the performance of the Angular language service, and a beta version of that is already in the works.

[2019-08-16 14:15] JSiebelink commented on #966
It works! I checkout out the repo of the angular service and build it again. @kyliau : the language server actually failed with the error 'this.ngHost.setSite is not a function'. When using the latest version from the repo, this error disappears.

[2019-08-16 15:48] yyoncho commented on #966
@JSiebelink can you test and report whether everything works?

[2019-08-16 16:57] JSiebelink commented on #966
@yyoncho : I can confirm that it works now. I have checked out the version from the github repo, built it using npm, and configured lsp to point to the server.js file in the build output folder and it works.
![image](https://user-images.githubusercontent.com/24893462/63184469-a71e9d80-c057-11e9-8ea1-599aa874329b.png)

[2019-08-17 05:07] #966 closed

[2019-08-18 08:40] dominikh commented on #704
You're discussing the issue of displaying outdated diagnostics with a potential lsp-flymake-live-reporting setting, but the equivalent setting already exists for flycheck. Does flycheck suffer from the same issue, or does it work differently?

[2019-08-18 08:52] yyoncho commented on #704
@dominikh flycheck has more options, check `flycheck-check-syntax-automatically`.

[2019-08-19 04:30] sebasmonia commented on #815
The branch hasn't been merged into the last release, but at least it was updated from master yesterday. @tom-bowles  haven't been following all the details on this issue but letting you know in case other fixes from master help your testing in lsp-mode.

[2019-08-19 05:20] yyoncho commented on #956
Fixed with https://github.com/emacs-lsp/lsp-mode/pull/976

[2019-08-19 05:20] #956 closed

[2019-08-19 05:30] yyoncho commented on #975
Please reopen if you still have the issue after https://github.com/emacs-lsp/lsp-mode/issues/975#issuecomment-521881779

[2019-08-19 05:30] #975 closed

[2019-08-20 17:45] Fuco1 opened #977 "Abysmal performance in narrowed buffer"
**Describe the bug**

Unusable performance in a narrowed buffer, Emacs freezes and becomes unresponsive for minutes+

**To Reproduce**

Steps to reproduce the behavior:

1. Get a 1000+ line php buffer
2. Narrow down to a function
3. Insert any text

**Expected behavior**

There should be no noticable difference in a narrowed vs unnarrowed buffer.

I suspect you might be using the "standard idiom"

[2019-08-21 07:04] elbaulp opened #978 "[PYLS] RecursionError: maximum recursion depth exceeded in comparison"
**Describe the bug**
I keep getting this error RecursionError: maximum recursion depth exceeded in comparison. When normally navigating through a python source code, suddenly it freezes and after a while I see in the status buffer that error.

**To Reproduce**
I do not know how to reproduce it

**Expected behavior**
Emacs operating normaly, without freezing

**Which Language Server did you use**
I

[2019-08-21 07:50] nloyola commented on #973
I'm also having this problem even though I'm using a more recent version of the package.

OS: Ubuntu 19.04
Emacs: 26.2.90
lsp-mode: 20190819.520
metals: 0.7.0+78-98d43026-SNAPSHOT

I get this error message on startup and also when running `lsp-metals-doctor-run`.

[2019-08-21 08:05] dsyzling commented on #973
Can you locate the lsp-metals.el file in the lsp-mode package and within the lsp-register-client call does it contain:
:notification-handlers (ht ("metals/executeClientCommand" #'lsp-metals--execute-client-command).

Can you also make sure you are loading the lsp-mode version above and not another version due to config?

[2019-08-21 08:10] jypma commented on #973
Same problem here, on Arch linux.
lsp-mode: 20190819.520
metals: 0.7.0+78-98d43026-SNAPSHOT
emacs: 26.2

My `lsp-metals.el` contains the `lsp-register-client` call just fine. It's quite mysterious :-)

[2019-08-21 08:13] lorenzhs commented on #864
I also have this issue. It is reliably triggered by having a comment with an umlaut in the file. Probably other non-ASCII characters will do the trick as well. You can find the `*lsp-log: clangd:pid*` buffer's contents and the before/after file here: https://gist.github.com/lorenzhs/6c863855426850ddcb0d9d9862c2f887 - there relevant bit is the `// ü` comment.

[2019-08-21 08:23] dsyzling commented on #973
I run Arch on my laptop at home - I may have to try and replicate the issue tonight. I've been running a dev version with my metals treeview changes and the recent upstream changes and haven't seen this at all. Do you have a snippet of your config to configure lsp mode? Sometimes I've seen people customise options whereby features are disabled in lsp-mode and then functionality behaves differently

[2019-08-21 08:44] nloyola commented on #973
@dsyzling my `lsp-metals.el` does have the line:

[code]

I don't have any other versions of lsp-mode on my computer.

I don't see any errors in `*lsp-log*`.

From my `*lsp-log*`:

[code]

My config can be found here: https://github.com/nloyola/.emacs.d/blob/master/config.org#lsp-mode

I will try setting this up on a fresh virtual machine later today and see if I get the same results.

[2019-08-21 08:52] yyoncho commented on #978
Please report that in pyls repo.

[2019-08-21 08:52] #978 closed

[2019-08-21 08:54] jypma commented on #973
My config is here: https://github.com/jypma/emacs.d/blob/master/init.el#L935

[2019-08-21 09:02] yyoncho commented on #864
@lorenzhs I was unable to reproduce it with clangd 8 and the logs seems to be ok - the rename returns the correct result but then it seems like that the update is applied incorrectly. Can you try to reproduce it with `emacs -q -l lsp-start-plain.el` where start plain comes from https://github.com/emacs-lsp/lsp-mode/blob/master/scripts/lsp-start-plain.el ?

How did you install clangd 9-rc2 ?

[2019-08-21 09:15] dsyzling commented on #973
@nloyola Are you still using the old lsp-scala package? Can you disable that and use lsp-mode only - you seem to have two scala clients registered - one with priority 0 which it has selected and 1 with a priority of -1 which is the metals one.

[2019-08-21 09:16] dsyzling commented on #973
@jypma are you also using lsp-scala still in your config?

[2019-08-21 09:17] jypma commented on #973
Yes I am... dropping it as we speak :-) I guess it must've been an ensime leftover.

[2019-08-21 09:28] nloyola commented on #973
Oh! Thanks @dsyzling for catching that. No more warning message and `lsp-metals-doctor-run` works!

[2019-08-21 09:35] lorenzhs commented on #864
That fails with `Debugger entered--Lisp error: (error "Package ‘lsp-mode-’ is unavailable")`.

I installed it using apt from the Debian experimental repos. But it doesn't work using clangd-8 from Debian unstable (`clangd version 8.0.1-3+b1 (tags/RELEASE_801/final)`, as opposed to `clangd version 9.0.0-+rc2-1~exp1 (tags/RELEASE_900/rc2)` earlier), either.

[2019-08-21 09:43] yyoncho commented on #864
If you are using emacs 26.2 can you change the melpa/elpa urls from https to http?

Ok, I will try to reproduce it using docker debian unstable image. Also, afaik there are some new features in clagnd (e. g. type/call hierarchy, I will add support for them too).

[2019-08-21 09:44] colin4124 commented on #973
Sorry about I am a newbie of Emacs and elisp. So I just use start kit `spacemacs` and `https://github.com/zheli/scala-lsp` to use **lsp-mode** and **metals** . Now I am use the latest version of `metals` and `lsp-mode-20190819.520` which I found in `.emacs.d/elpa/26.1/develop`

[2019-08-21 10:07] adriandeveloper opened #979 "LSP errors in Angular 5.xx projects"
Bug: When loading an Angular 5 project (legacy work project), LSP is reporting that the decorators like @Output(), @Input() are experimental and are subject to change.

![Imgur](https://i.imgur.com/e0Fk83B.png)

These errors are littered thorough the project and is causing ~~LSP to crash~~ lsp-ui to become disabled due to the amounts of `errors` it reports.

The error suggests setting `expermintal

[2019-08-21 10:08] dsyzling commented on #973
@nloyola @jypma Great ! Glad you're up and working.

@colin4124 no problem at all - we've all been there (newbies that is) - steep learning curve but worth it - plenty of people around to help out.

[2019-08-21 10:54] lorenzhs commented on #864
I'm using emacs 26.1. The issue is fully reproducible using lsp-start-plain.el and clangd-8 from the eponymous package in Debian unstable. See https://gist.github.com/lorenzhs/6c863855426850ddcb0d9d9862c2f887#file-lsp-log-clangd-8-with-lsp-start-plain for the log.

[2019-08-21 13:10] yyoncho commented on #979
What do you mean by crash?

Can you also provide a sample project(none of the lsp-mode maintainers is familiar with JS/Angular so it is a bit hard to reproduce the issue following only your steps)?

Before me digging into the issue my gut feeling is that we should report the issue upstream because it is not lsp-mode that reads the tsconfig.json file but it is the solargraph language server and lsp

[2019-08-21 13:20] yyoncho commented on #864
@lorenzhs that is really odd - I will try to reproduce it with docker image. Can you open another issue in the project(I think your issue is unrelated to the current one)?

[2019-08-21 14:03] lorenzhs opened #980 "lsp-rename garbles names instead of renaming if the file contains unicode characters"
**Describe the bug**
In files containing non-ASCII characters (I tested with the character `ü`), lsp-rename fails to correctly apply the language server's response.

**To Reproduce**
Using emacs 26.1 and lsp-rename from the master branch, try renaming the class in `foo_before.hpp` of the gist linked below.

**Expected behavior**
Should rename the class without garbling the name. I ran `M-x lsp-ren

[2019-08-21 14:03] lorenzhs commented on #864
Thanks, I did and linked this thread.

[2019-08-21 14:09] colin4124 commented on #973
@dsyzling This config use lsp-scala:

https://github.com/zheli/scala-lsp/blob/master/packages.el#L15
and
https://github.com/zheli/scala-lsp/blob/0407679097b3f020f7322cfa0d72a9f340aeb3f6/packages.el#L109-L111

Just delete `lsp-scala` only, how to remove in this code ?

[2019-08-21 14:26] greened commented on #843
Just getting back to this.  When I use the second script (replacing rls with clangd), somehow clangd works!  So this is odd...

[2019-08-21 14:44] adriandeveloper commented on #979
OK. I'll provide a demo project and post shortly.  The only Angular projects I really work on are the ones I use for work and I can't post up that code, but I'll see if I can generate another Angular 5 project.>

And by `crash`, LSP-ui is disabled.  I'll modify the original report to reflect this as I don't want to infer that the LSP-mode is crashing.

![Imgur](https://i.imgur.com/OtQPo6H.png)

As

[2019-08-21 15:23] yyoncho commented on #979
I see - so the issue is: Javascript language server disregards tsconfig setting

This is related to language server internals which I am not familiar with.

[2019-08-21 15:39] adriandeveloper commented on #979
Here is a fork of an [Angular 5 project](https://github.com/adriandeveloper/Angular5-Seed.git).

When starting it in Emacs, the following appears

 ![Imgur](https://i.imgur.com/JD2U9au.png)

[2019-08-21 16:03] yyoncho commented on #979
I deleted the tsserver in the node_modules/.bin/tsserver and it started fine. FTR the way to debug this is to check stderr buffer for the language server.

[2019-08-21 16:22] dsyzling commented on #973
@colin4124 I don't use spacemacs and I'm having difficulty understanding where those functions are called and even what spacemacs layers are.  Config wise you need to configure the lsp-mode package to add a scala-mode hook to initialise lsp-mode as is outlined here: https://scalameta.org/metals/docs/editors/emacs.html.  However this config approach may not suit spacemacs. You may be better off fin

[2019-08-21 16:23] dsyzling commented on #973
Another approach would be to head over to the lsp-mode gitter channel and see if there are any spacemacs users or may be the author of lsp-mode has a better handle on spacemacs than I do.

[2019-08-21 16:59] adriandeveloper commented on #979
Thanks for the debug tip.  I've deleted node_modules/.bin/tsserver and the error `Server ts-ls:pid status: starting exited with status exit` still persists.

Looking at stderr, I also removed node_modules/typescript/.bin/tsserver with the same results.

I may just have to see if this will error out on different language servers.

[2019-08-21 17:05] adriandeveloper commented on #979
Ok I got lsp to run just by removing node_modules and running yarn to install the modules again.

Lsp is now running on that Angular 5 Seed app.

I'm now getting the original error message about the decorators.

In lsp-log I have the following:

Command "typescript-language-server --stdio --tsserver-path node_modules/typescript/bin/tsserver" is present on the path.
Found the following clients for

[2019-08-21 17:32] yyoncho commented on #980
I reproduced the issue, here it is a workaround you could use until the proper fix is in.

[code]

[2019-08-22 02:42] colin4124 commented on #973
@dsyzling Thanks so much, I got it. ^_^

[2019-08-22 05:15] yyoncho commented on #980
So the issue is that `buffer-replace-string` does not work when there are unicode characters in emacs26.1(it works fine with 26.2/27)

CC @Eli-Zaretskii to comment/confirm.

Steps to reproduce:

Have buffer:
[code]

Script to run
[code]

This yields:
[code]
instead of
[code]
Here it is docker file which can be used to run emacs instance 26.1
[code]

[2019-08-22 06:52] #980 closed

[2019-08-22 08:46] jcs090218 opened #982 "[Feature Request] - Auto install LSP if possible, turn off lsp if not found."
Since the LSPs are listed on the readme, I assume there is a a way to implement this. I think by automatically installed the possible language server will be very helpful to the user. If the environment is not been set, just turn off the `lsp-mode` and notify the user the environment has not been completely defined.

[2019-08-22 10:37] yyoncho commented on #982
See https://github.com/emacs-lsp/lsp-mode/issues/506

[2019-08-22 10:37] #982 closed

[2019-08-22 11:08] jcs090218 commented on #982
Great! you might want to tag `duplicated`. And sorry about this issue!

[2019-08-22 11:13] jcs090218 commented on #506
Any update for this feature?

[2019-08-22 11:55] yyoncho commented on #506
We have it for fsharp/java and ms python. We have automatic installation using vscode extensions for a lot of dap-mode adapters(implemented by @kiennq ) and we could potentially use that same approach for language servers (see https://github.com/emacs-lsp/dap-mode/issues/104). ATM we do not have the manpower to implement it for each server so we pretty much depend on contributions(like 99% of the

[2019-08-22 14:00] Eli-Zaretskii commented on #980
I can indeed reproduce in Emacs 26.1, but not in 26.2 or later.

Quite a few bugs and misfeatures in `replace-buffer-contents` were fixed post-26.1, so I suggest to upgrade (especially since 26.3 will be out VSN).

[2019-08-22 14:29] lorenzhs commented on #980
Yeah, the Debian package is still stuck at 26.1. Seeing as that took a long time to land because of copyright questions, I might just build from source instead of waiting.

[2019-08-22 19:37] Lecrapouille opened #983 "server xxx-ls exited with status exit. Do you want to restart it?"
**Describe the bug**
Following the ticket https://github.com/emacs-lsp/lsp-mode/issues/285 but a little different. I tried lsp with Julia and C++ and I noticed that when editing and typing something wrong, the server immediately crashes and produces this error message "server xxx-ls exited with status exit. Do you want to restart it?" This is very annoying because happens every time you are editin

[2019-08-22 19:49] yyoncho commented on #983
As per readme - `lsp-restart` controls how lsp-mode handles server crash, here are the options: https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-mode.el#L222

Take a look at the corresponding stderr buffer. Such behaviour indicates either server bug or client misconfiguration. I am closing the bug since based on the description there is no indication of lsp-mode misbehaviour. Before reopening

[2019-08-22 19:49] #983 closed

[2019-08-22 19:59] ryanolsonx opened #984 "Support for Ember Language Server"
There is an Ember Language Service that gives LSP functionality for Ember.js JavaScript projects.  There is an [extension](https://github.com/emberwatch/vscode-ember) for VS Code and a [package](https://github.com/josa42/atom-ide-ember) for Atom that hook in.

Is it possible that we'd be able to get this into `lsp-mode`?

[2019-08-23 02:35] jcs090218 commented on #506
I see, is there a method that you prefer to use? Either using `system-packages` or ???

[2019-08-23 03:36] kiennq commented on #506
If I can put my opinion here, somethings that doesn't leave Windows user unusable would be the best.

[2019-08-23 03:52] jjzmajic commented on #350
Has this turned into a dead end or is it just a question of extra work? If so, I'd like to help

[2019-08-23 03:57] yyoncho commented on #506
IMO the easiest way to support that is to follow what VScode is doing which will address also @kiennq concern. Note that some of the servers cannot be just downloaded(e. g. the C++ one).

[2019-08-23 04:02] yyoncho commented on #350
@jjzmajic It is a question of extra work - it hasn't been a priority since company-lsp supports that. Just for the record, there is one more disadvantage that capf has - it is sync and blocking. Thank you.

[2019-08-23 04:07] yyoncho commented on #984
I have had an offline discussion with @madnificent a few months ago about the same and back then the following configuration used to work but never make it to lsp-mode.

[code]
@ryanolsonx it would be great if you can test it and eventually provide a PR (similar to what we did for Angular - https://github.com/emacs-lsp/lsp-mode/commit/e36409eecb900e20fc5364b9f94c1bda603d1a8a )

[2019-08-23 05:35] madnificent commented on #984
@yyoncho I should be able to test this on a brand new machine in the coming week in combination with Docker.  If the combination does not work as expected, I can also try a native installation.

@ryanolsonx I'm now on lifeart/component-context-info in which I had to replace three console.log statements.

[2019-08-23 05:50] jcs090218 commented on #506
I'm pretty new to lsp. Do you know what do VSCode does when installing the language server? My first thought would just be an interface that controls all the installation flow to each server by just inputting the installation commands. Seconds, step will be the improvement for each language server's installation.

[2019-08-23 06:49] seagle0128 commented on #506
My two cents.

I developed the automatic server installation for `lsp-python-ms`, which has the similar behaviors as `dap-mode`. It looks good so far except one minor issue: there is no progress indicator for downloading or extracting. The users don't know what's happening when the Emacs is hanging if there is a connection issue. I believe the most of servers have the similar behaviors. So I am th

[2019-08-23 06:54] josteink commented on #815
Just in case nobody noticed: Omnisharp server has merged the LSP-mode branch now: https://github.com/OmniSharp/omnisharp-roslyn/commit/dacc49a3176c30767d0c1604cce6073afb0a7f6e

Does that mean we can move forward with lsp-mode support? 😃

[2019-08-23 06:56] sebasmonia commented on #815
Almost! They still don't have an actual release with this branch merged.

[2019-08-23 09:10] yyoncho commented on #506
It depends - some of the language servers are packaged in the vsix extension that is downloaded from https://marketplace.visualstudio.com/ (e. g. JDT language server) others like ms python language server are downloaded from the extension using JS code. I think that RLS is downloaded using `rustup`. I think that the user is supposed to install clangd manually in a platform-specific way and there i

[2019-08-23 12:22] nloyola opened #985 "lsp-format-buffer and error feedback when there is a formatting error"
**Describe the bug**
If there is a syntax error in the file and I call `lsp-format-buffer`, I do not get visual feedback that the formatting failed.

I can see the error the formatter generated in `*lsp-log*`.

**To Reproduce**
Create a syntax error in a file and then call  `lsp-format-buffer`.

**Expected behavior**
An error should be shown to the user. Most likely in the minibuffer.

**Which Lan

[2019-08-23 12:57] yyoncho commented on #980
@Eli-Zaretskii thank you!

[2019-08-23 18:19] yyoncho commented on #979
Is there anything outstanding related to this issue?

[2019-08-24 05:20] yyoncho commented on #985
@nloyola  Good idea, willing to give it a try?

[2019-08-24 11:59] adriandeveloper commented on #979
Still trying to find the root cause.  Filled out a similar issue on the typescript-language-server rep and no response.

The problem is still the same.  LSP errors are generated on older Angular 5.xxx projects.

If this isn't an LSP issue, then I'm either on my own with figuring out a solution, or just to use another tool and come back to this at a later date.

Guess I'll just close the issue here

[2019-08-24 11:59] #979 closed

[2019-08-25 16:58] sorenbug opened #987 "Extra lines when looking at types in lsp-metals"
**Describe the bug**
![image](https://user-images.githubusercontent.com/7751296/63653199-8a046180-c71e-11e9-87e4-a05fa8f3e6c9.png)

There are these extra lines that wrap.

**To Reproduce**
Use the Victor Mono font(?) and open a Scala project where you can check types.

**Expected behavior**
The definitions don't wrap lines.

**Which Language Server did you use**
lsp-metals

**OS**
NixOS
`Linux hyd

[2019-08-25 17:26] yyoncho commented on #987
Duplicate of: https://github.com/emacs-lsp/lsp-ui/issues/285

[2019-08-25 17:26] #987 closed

[2019-08-25 21:53] A6GibKm commented on #831
There is also https://github.com/Alloyed/lua-lsp, I don't know which one is better but the later can be easily installed with `luarocks`.

[2019-08-26 09:42] nloyola commented on #985
@yyoncho Sure! I will.

[2019-08-26 13:44] jjzmajic commented on #350
Time to get my hands dirty then! Any pointers you care to drop? Also, I think you just gave me an idea for my next package: `async-capf`. Just overriding complete-symbol. Personally I avoid company because helm is way better at narrowing completions down, and generally feels snappier with capf. Either there is a response or there isn't, no waiting for a maybe.

[2019-08-26 14:11] yyoncho commented on #350
1. Take a look at company-lsp--post-completion. It will be great if we can move the logic here and share it across components.
2. About the async - AFAIK jsonrpc/eglot have async implementation which works like that: Performs the request sync but have a `sit-for` in a loop waiting for the result and at the same time attach to post-command which can be used to cancel the request (i. e. if the user

[2019-08-26 15:01] dgutov commented on #350
@yyoncho We discussed it, but there's nothing solid yet.

[2019-08-27 01:46] cuhabaho opened #988 "Request automatically setup Kotlin like lsp-java does and debug for kotlin"
I having been using lsp-mode for awhile now and i believe that setting up kotlin is a bit quite difficult and take lot of step. So my suggestion is that if it is possible, it should automatically setup itself. Furthermore, there is no dap for kotlin yet, I just hope it will be there soon if possible because without debugging, coding is quite tough to find bug. Thanks.

[2019-08-27 02:30] colin4124 commented on #973
@cactail This PR https://github.com/syl20bnr/spacemacs/pull/12234 is merge into `develop` branch, so you can read this **README**

https://github.com/syl20bnr/spacemacs/tree/develop/layers/%2Blang/scala

[2019-08-27 03:05] jjzmajic commented on #350
Eglot does feel more responsive, but the flymake-only situation is a deal-breaker for me. @dgutov, this day was bound to come. How does one get his feet wet when it comes to hacking on core Emacs? In my mind, this is literally the only thing company has on capf. If anything, it should be a fronted-only package (impressive as it is). I don't want another module between me and my completions.

[2019-08-27 17:37] yyoncho commented on #831
https://github.com/sumneko/lua-language-server seems to be the most complete but it is not very clear how to do the build outside of vscode.

https://github.com/EmmyLua/EmmyLua-LanguageServer - already has emacs configuration in its readme.

[2019-08-27 22:35] abbaswasim opened #990 "lsp-find-references doesn't find all references in C++ code"
**Describe the bug**
lsp-find-references doesn't find all references  to symbols even in the same header file. My suspicion is on how you call member variables/methods. I have played around with using `this->` and without that and in one case its not picked up in another it is.

I must say I haven't found a way to test `clangd` or `ccls` in isolation via command line yet so it might be an issue in

[2019-08-27 22:50] emdemir opened #991 "Yasnippet warning shown even when it's installed"
**Describe the bug**
Even if I have the yasnippet package installed, I still get the following warning:
`Warning (emacs): Yasnippet is not present but ‘lsp-enable-snippet’ is set to ‘t’. You must either install yasnippet or disable snippet support.`
I do have `yasnippet` installed, and `(fboundp 'yas-expand-snippet)` returns `t`.

**To Reproduce**
Steps to reproduce the behavior:
 - Open any filet

[2019-08-28 05:07] yyoncho commented on #991
This sentence is incorrect/misleading. It should be :

[2019-08-28 09:23] yyoncho commented on #990
@abbaswasim thank you for the detailed report! Unfortunately, this issue is not in the scope of lsp-mode but it is in the scope of the language server - lsp-mode is just a frontend and the logic related to finding the references is in the language server. I got similar results when using ccls - it does not find the references when using `->`. CC @MaskRay who might have an explanation

[2019-08-28 09:23] #990 closed

[2019-08-28 09:29] MaskRay commented on #990
The report is nice but it is language server specific, unrelated to a language client.

clangd 9 gets improved background indexer and you may get project-wide references if its indexer is enabled.

In ccls wiki, you can find instructions how to use `ccls -index .` to start ccls in standalone mode to index a project.

[2019-08-28 10:10] abbaswasim commented on #990
Thanks guys, I figured so as I mentioned in the comments `clangd` is not returning the right stuff. I am struggling to isolate the issue to Language server however (not for the lack of googling for it for days). Do you have an advice on how to drive `clangd` from command line with hand written `JSON-RPC`?

@yyoncho the patch I have provided does enable `background-index` in the line `(setq lsp-cli

[2019-08-28 10:13] abbaswasim commented on #990
@MaskRay I have actually build clangd 9 from source and tried that on Arch Linux with background indexer and that couldn't find it either. I guess it's time to submit a bug report there. I would still like to be able to confirm it though.

[2019-08-28 15:04] #991 closed

[2019-08-28 17:57] yyoncho commented on #963
Closing due to inactivity - please reopen if the issue is still present and after providing project + steps to reproduce.

[2019-08-28 17:57] #963 closed

[2019-08-28 18:12] yyoncho commented on #911
Pull request here - https://github.com/Malabarba/aggressive-indent-mode/pull/129

@cuhabaho can you verify the fix?

[2019-08-28 18:18] yyoncho commented on #878
There are instructions on how to make it work at  https://github.com/juliosueiras/terraform-lsp#emacs @howdoicomputer willing to test it and provide a PR?

[2019-08-30 07:43] jesperes opened #993 "lsp-mode fails to connect to erlang_ls when source file is given on Emacs command line"
**Describe the bug**
When opening an Erlang source file by passing it on the Emacs command line, `lsp-mode` fails to connect to the language server. If I start Emacs without arguments and then open the file using `C-x C-f` everything works fine.

**To Reproduce**
Start Emacs and specify the path to a source file on the command line, e.g.
[code]

**Expected behavior**
Emacs should open `foo.erl` wi

[2019-08-30 08:36] jesperes opened #994 "`lsp-log-io` buffer does not scroll to end when appending"
**Describe the bug**
Setting `lsp-log-ui` to `t` causes `lsp-mode` to log all LSP commands to the `*lsp-log: ...*` buffer, but does not scroll to end when new commands are appended. This makes it quickly very difficult to see what is happening, without manually having to scroll to the end of the file. Also, `auto-revert-tail-mode` cannot be used since the buffer is not visiting a file (perhaps a f

[2019-08-30 08:43] yyoncho commented on #994
If you place the cursor at end of the file the upcoming messages will move it.

[2019-08-30 09:11] jesperes commented on #994
I tried this, but the cursor stays at the same place. Appended messages does not move it.

[2019-08-30 09:27] yyoncho commented on #994
Sorry, I totally misread your comment. The feature works only in \*lsp-log\* buffer.

[2019-08-30 09:28] yyoncho commented on #994
https://stackoverflow.com/questions/12663061/emacs-auto-scrolling-log-buffer + placing the cursor at the end should work.

[2019-08-30 16:39] #994 closed

[2019-08-30 16:40] yyoncho commented on #911
Tested with emacs -q and latest version of the components - everything seems to be working fine.

[2019-08-30 16:40] #911 closed

[2019-08-31 17:22] teu5us opened #995 "lsp fails to start vue-language-server"
Latest Spacemacs develop branch. Tried also a minimal config with only auto-complete and lsp layers added. When I open a .vue file, I get this:

[code]

Tried installing on Linux and Mac, keep getting the same error.

[2019-08-31 18:03] #995 closed

[2019-08-31 18:03] yyoncho commented on #995
See https://github.com/vuejs/vetur/issues/1402

[2019-09-01 15:22] abbaswasim commented on #990
I have actually found answer to my question. If anyone else is interested in how to test `clangd` from command line. Have a look in `[llvm-project/clang-tools-extra/clangd/test/references.test](https://github.com/llvm/llvm-project/blob/master/clang-tools-extra/clangd/test/references.test)` you can build a `lit` test file like that with your json-rpc commands and run it through `clangd` with a `-li

[2019-09-01 15:39] yyoncho commented on #990
Would you mind sharing your findings?

[2019-09-01 16:26] abbaswasim commented on #990
Sure but I meant the following question.

So the answer is already there. How to test `clangd` via command line.

[2019-09-01 21:03] ratnesh1729 commented on #925
How to use virtualenv over tramp ? Exactly what setting variables to edit.
Thanks

[2019-09-02 05:56] jesperes commented on #994
Sorry, but `(set (make-local-variable 'window-point-insertion-type) t)` does not help.

[2019-09-02 06:09] jesperes commented on #994
But now it actually does. Weird.

Anyway, this should IMO really be the default for the log buffer.

[2019-09-02 18:01] robertoaloi commented on #993
It looks like the error keeps happening (occasionally) even after 1e34baa.

[2019-09-02 18:18] robertoaloi commented on #994
The above method seems to require `evil-mode`, or?

[2019-09-02 19:05] yyoncho commented on #994
I tested with emacs -q and loading only lsp related packages so it should work without evil mode.

[2019-09-02 19:10] #993 closed

[2019-09-02 20:17] sebastiansturm opened #999 "lsp-based replacement for cc-mode"
I've noticed that whenever C++ editing feels slow, the Emacs profiler indicates that cc-mode is likely to blame for it (which is understandable, given how much it tries to do within emacs lisp, but not useful if I'm also having ccls or clangd running on a dozen otherwise unused CPU cores to do the same job a lot more thoroughly).

Following an old suggestion by @topisani (https://github.com/cquery

[2019-09-02 20:43] jesperes commented on #994
I think that comment should be interpreted as "if you are using evil-mode, this only works in evil-insert-mode".

[2019-09-03 04:50] yyoncho commented on #999
Here are a few points I think that we should clear:

1. The mode should be c++ specific or we can create one generic mode which then we can use for all languages.
2. Investigate what vscode "modes" are providing and potentially follow their pattern. The language  servers and lsp spec, in general, is driven by vscode needs to provide the full experience. Knowing what vscode does will help us define

[2019-09-03 08:22] sebastiansturm commented on #999
point 2. seems like a good idea to me.

point 1. as well if you're suggesting to build some mode-defining machinery that allows me to quickly stamp out a substrate layer for language XY with custom syntax table and basic fontification. In my opinion the end result should still be an independent mode for every target language so users get all the extension points they take for granted, such as `XY-

[2019-09-03 08:36] yyoncho commented on #999
Point 1. was based on the assumption that semantic highlights will be sufficient to cover all font-lock related stuff. Apparently that is not the case.

We should also follow - https://github.com/ubolonton/emacs-tree-sitter/ which in the end my yield a superior font locking solution and then combine it with the semantic stuff that comes from language server.

[2019-09-03 08:47] sebastiansturm commented on #999
I see. Though even if fontification is completely covered by some other solution such as tree-sitter, wouldn't Emacs users still expect the type of language-specific customizability that usually relies on mode-specific hooks? Do you know some other (reasonably "Emacs-y") way to do that with a single mode for all target languages?

I've heard about that though I haven't tried it so far because it d

[2019-09-03 15:34] yyoncho commented on #999
One potential way to solve that is to autogenerate a derived mode based on `lsp-language-id-configuration`(i. e. have `lsp-base-mode` and `lsp-LANGUAGE-mode`).

Based on your previous comment, we still will need a way to handle basic fontification (comments, keywords, etc), right? So we will have to find a solution for that case.  But, yes, if the dynamic module solution does not fit for some reas

[2019-09-03 19:06] yyoncho commented on #988
Duplicate of https://github.com/emacs-lsp/lsp-mode/issues/506 . Usually, the automatic installer are implemented by someone that uses the language server, so if you want to give it a try, feel free to ping me.

[2019-09-03 19:06] #988 closed

[2019-09-04 17:23] yyoncho opened #1002 "Clear semantic highlights when the server has been stopped"
Currently, the highlights stay as they are.

[2019-09-04 17:23] yyoncho commented on #1002
cc @sebastiansturm

[2019-09-04 20:20] seagle0128 commented on #966
Sorry for raising the question in the closed issue!

I just want to know how to disable `angular-ls` in `html` files by default. Every time I open a single html file, the annoying warning pops up

![image](https://user-images.githubusercontent.com/140797/64288305-5c2be200-cf94-11e9-8d7e-dc3f7b948c83.png)

IMO, it should check if it belongs an angular project.

[2019-09-04 21:16] sebastiansturm commented on #1002
Adding `(remove-overlays (point-min) (point-max) 'lsp-sem-highlight t)` after the `(remhash ...`) line within `lsp--remove-cur-overlays` might be sufficient, though the different handling of highlighting and semantic-highlighting overlays is a bit ugly IMO (one type being kept in a hash, the other type being identified via the `lsp-sem-highlight` property).
On the other hand, semantic highlighting

[2019-09-04 21:46] AloisJanicek commented on #966
@seagle0128  in case you don't want to use `angular-ls` right now, you can completely disable it with this : `(add-to-list 'lsp-disabled-clients '(web-mode . angular-ls))`

[2019-09-05 04:13] nigredo-tori opened #1006 "lsp-mode breaks theme loading"
**Describe the bug**
If the latest lsp-mode package is installed, loading a theme will stop midway with an error.

**To Reproduce**
Environment:
- GNU Emacs 27.0.50 (build 2, x86_64-pc-linux-gnu, GTK+ Version 3.22.30) of 2019-06-05
- lsp-mode 20190904.1716

1. Install `lsp-mode` from MELPA (unstable).
1. Run `emacs --no-init`.
1. Eval these commands:
[code]
1. Observe the error message, and a part

[2019-09-05 04:32] nigredo-tori commented on #1006
This seems to already be fixed in #1004 .

[2019-09-05 04:32] #1006 closed

[2019-09-05 04:38] yyoncho commented on #1002
I am fine with the patch but it should not be in lsp--remove-cur-overlays because it is called before the symbol highlights are cleared. A better place would be lsp--create-sentinel.

[2019-09-05 04:45] yyoncho opened #1007 "Semantic highlight determined only based on the first element of the scope"
ATM we use only the first matched scope to determine the face. Consider the following scopes:

[code]

There is no way to match these two scopes to "Static Variable" and "Static Function" face.

It is not clear to me whether we should alter  `lsp-semantic-highlighting-faces` to have multiple regexps and match the scope only if all the regexp are matching some of the scope elements or we should cha

[2019-09-05 08:44] sebastiansturm commented on #1007
I'd probably go with multiple regexps (though if we require them all to match, we may quickly assemble a load of face matchers that are specific to a single language server backend), or perhaps replace the regexp entry with an arbitrary predicate function (in which case lsp mode could provide some convenience functions to construct commonly used predicates).

Since AST elements corresponding to a

[2019-09-05 10:28] yyoncho commented on #1007
The multi regex solution fits well with the current approach but we might hit MxN problem. Consider that we have const/enum/class/field/method/interface and we have deprecated and static attributes. I would want all static to be italic and all deprecated to be underlined - this makes 24 faces.

I think it will be fine to start simple(multiple regexp) and see how it goes. The feature is not officia

[2019-09-05 11:50] seagle0128 commented on #966
@AloisJanicek Thank you very much! Please consider my proposal above to make it smarter.

[2019-09-05 17:56] ratnesh1729 opened #1009 "File mode specification error"
**Describe the bug**
This error happens when I open any python file.

**To Reproduce**
Just open a python file.

**Expected behavior**
The bug cause lsp to fail and it does not start. I am expecting lsp to start.

**Which Language Server did you use**
Mention which server/language did you use (e. g. lsp-python, lsp-ccls, lsp-java, etc)
lsp-python
**OS**
Which os do you use?
ubuntu 16.04

**Error c

[2019-09-05 18:03] #1009 closed

[2019-09-05 18:25] yyoncho commented on #1009
workaround for the issue until melpa kicks in:

[code]

[2019-09-05 18:33] yyoncho opened #1010 "[Feature request] create lsp-ivy package"
Currently, we have `helm-lsp` which provides interactive workspace symbols functionality(an improvement over `xref-apropos`). It will be good if we have the ivy integration for those who prefer `ivy` to `helm`.

[2019-09-05 18:46] yyoncho commented on #999
For point 2 - here are vscode plans: https://github.com/microsoft/vscode/issues/77140

[2019-09-05 19:47] ThothXV opened #1011 "Parse Failure on Windows"
**Describe the bug**
I'm using lsp-mode and lsp-java on a windows laptop. When I attempt to start the server, I get this error:
[code]
Emacs displays `^M`s at the end of every line, so I suspect this may be an  encoding issue.

It also may be an issue in lsp-java. However, if it is a coding issue, it likely lies within lsp, and hence I am first reporting it here.

**To Reproduce**
attempt to open