[2021-01-30 14:12] ericdallo commented on #2571
Do you see any issues with that @yyoncho, also we could take the opportunity to fix that spacing issue in modeline (add space to the left instead of right, something like that)

[2021-01-30 14:24] yyoncho commented on #2571
I think that we should group all lsp-mode related modeline stuff in a separate variable(e. g. lsp-modeline-string) instead of using global-mode-string and then place it on the modeline probably before the major mode list similar to what evil-mode does(I guess there are other packages doing that). When we do so, we are much more in control to do the proper spacing because only lsp-mode will use tha

[2021-01-30 14:26] yyoncho commented on #2571
For reference, here it is mode-line-format on my side

[code]

`global-mode-string` goes in `mode-line-misc-info`

[2021-01-30 14:27] ericdallo commented on #2571
Yeah this looks a good idea, doom-modeline does that similar

[2021-01-30 14:29] yyoncho commented on #2571
doom-modeline will have to be fixed separately I guess.

[2021-01-30 17:58] yyoncho commented on #2571
FWIW until the issue is fixed one can use `diminish` package to clean the major/minor modes from the modeline.

[2021-01-30 23:15] clayrisser commented on #713
Is this related to the fact that emacs keeps hanging on me with he message "_. . . so watching the Repo may slow emacs down. Do you want to watch all files in . . ._"?

[2021-01-30 23:16] blitz commented on #303
Updating and recompiling did indeed help. thanks!

[2021-01-30 23:52] clayrisser commented on #1932
I'm getting the warning `Warning (lsp-mode): Unknown request method: eslint/confirmESLintExecution` with `2.1.8`. When I use the latest pre-release it works with no errors.

https://github.com/microsoft/vscode-eslint/releases/download/2.1.12-Insider/vscode-eslint-2.1.12.vsix

[2021-01-31 07:48] yyoncho commented on #713
@clayrisser here you are supposed to press y or n

[2021-01-31 08:32] yyoncho commented on #2080
@bkchr - pushed a proposed fix at - https://github.com/yyoncho/lsp-mode/commit/aac9b6a10611ce9fcb4c9fe272f2835f0b6bb210

[2021-01-31 08:33] bkchr commented on #2080
Nice ty

[2021-01-31 09:52] nbfalcon commented on #1932
Update and recompile `lsp-mode` again, because there is a message handler for that @clayrisser

[2021-01-31 09:53] clayrisser commented on #1932
And thanks. How do I do that?

[2021-01-31 09:54] nbfalcon commented on #1932
Do you use a distribution like Spacemacs/Doom or do you have a custom config?

[2021-01-31 09:56] nbfalcon commented on #1932
E.g. for `doom` that would be `doom/reload`, for Spacemacs `SPC feU` in the status buffer, and if you use `package.el` with a custom config, then [this](https://stackoverflow.com/questions/14836958/updating-packages-in-emacs).

[2021-01-31 15:05] sflomenb commented on #2364
Wanted to add, tried doing the same for pyright, and I had to also create the dirs manually.

- ~/.emacs.d/.cache/lsp/npm
- ~/.emacs.d/.cache/lsp/npm/pyright
- ~/.emacs.d/.cache/lsp/npm/pyright/lib

[2021-01-31 17:33] meditans commented on #2557
The fact is, I don't think it's a `haskell-language-server` issue because the same code doesn't have that problem in `vscode`, where everything works smoothly with the default configuration. But maybe I'm missing something @michaelpj @yyoncho ?

[2021-01-31 17:38] yyoncho commented on #2557
@meditans on the original screenshot what is the duplicated thing? Evaluate? If yes, can you confirm that turning off lens mode will hide both Evaluate?

[2021-01-31 18:13] michaelpj commented on #2557
Toggling of `lsp-lens-mode` should answer that question.

Otherwise, have a look at the `haskell-language-server` debug log and see if it's sending anything strange.

[2021-01-31 20:19] vikigenius opened #2575 "lsp ui sideline not working in tsx buffer even though errors are highlighted."
**Describe the bug**
Reproducing the bug report from: https://github.com/hlissner/doom-emacs/issues/4598 since I think this is an lsp-mode issue.

lsp ui sideline not showing diagnostics in tsx buffer even though it is highlighted

The first line is supposed to show the following error in the sideline

[code]

However it doesn't show. It is highlighted, and I can see it in the diagnostics buffer,

[2021-02-01 04:37] vikigenius commented on #2575
I have an update, the error is not showing because it is in the first line. If i introduce a blank line at the top then the error shows properly.

[2021-02-02 11:00] vspinu opened #2578 "(wrong-type-argument sequencep #s(hash-table size 65 test equal ..."
I am constantly seeing this error. There are a bunch of related issues but all fixed, so I assume it's something new. I am up to date with all lsp packages. The issue occurs with groovy files. Somehow `lsp--render-on-hover-content` receives a hash map which it doesn't know how to deal with.

Happy to provide more info if it doesn't ring any bells. Thanks!

<details>

[code]

[code]
</details>

[2021-02-02 12:29] ericdallo commented on #2578
Checking the spec, server is probably is not sending the `value` of the `MarkupContent`: https://microsoft.github.io/language-server-protocol/specification#markupContent

[2021-02-02 14:30] #1932 closed

[2021-02-02 14:45] #2570 closed

[2021-02-02 20:53] algogavin opened #2580 "C++ shows wrong candidates?"
Please ask your questions at https://discord.gg/swuxy5AAgT

There are two questions here:
1. Apparently there are 2 constructor functions defined, I would expect it should be "1/2", not sure why it's saying "1/4" ?
2. By default it only show the first candidate function, how do I navigate to other candidate functions?
![image](https://user-images.githubusercontent.com/44672953/106660711-57df6c00-6

[2021-02-02 21:49] yyoncho commented on #2580
Use M-n/M-p. We display the number of overloads based on the number provided by the server. If you think that the number is wrong should refer to server docs/issues.

[2021-02-02 21:49] #2580 closed

[2021-02-03 07:54] ch1bo commented on #1621
I'm having the same issue and my profile hints onto `lsp-treemacs` being the issue:

[code]

Will try newer versions for `lsp-treemacs` and `lsp-mode` (which is transitively depending on the former?)

[2021-02-03 07:59] yyoncho commented on #1621
@ch1bo update your lsp-treemacs version. The old implementation of the errors list had perf issues. lsp-mode does not depend on lsp-treemacs - lsp-mode is firing hooks and any package can subscribe to them.

[2021-02-03 08:32] ch1bo commented on #1621
@yyoncho Ok, was just confused how it ended up in my doom-emacs setup.

Anyways updated lsp-treemacs e0486d7 -> 10c34fc and seems to fine now :+1:

[2021-02-03 15:13] vspinu commented on #2578
Yes, this is what I see indeed (output in my previous post). Shall I report this upstream then?

[2021-02-03 16:01] yyoncho commented on #2578
If they don't fix this in a timely fashion we will fix it on our side. The issue might be exposed by the recent changes by @leungbk .

[2021-02-03 19:16] yyoncho commented on #2535
Marking bug as closed. Please reopen if you still see the issue with the latest version of lsp-mode.

[2021-02-03 19:16] #2535 closed

[2021-02-03 19:17] yyoncho commented on #2512
Fixed with https://github.com/emacs-lsp/lsp-mode/pull/2579#pullrequestreview-581975639

[2021-02-03 19:17] #2512 closed

[2021-02-03 19:18] #2504 closed

[2021-02-04 13:42] borkdude commented on #713
+1

[2021-02-04 14:17] ericdallo commented on #713
@yyoncho, what about a defcustom to make lsp-file-watch-ignored follow .gitignore?

[2021-02-04 14:41] borkdude commented on #713
The reverse would also work for me: watch only files that are part of the git index (possibly using git itself for detecting the relevant directories).

[2021-02-04 17:25] rassie opened #2582 "Drop a line to Typescript developers"
In an [effort](https://github.com/microsoft/TypeScript/issues/39459) to make the original `tsserver` (which is part of the Typescript distribution) a fully-fledged LSP server, @DanielRosenwasser (Product Manager for TypeScript at Microsoft) [asked](https://github.com/microsoft/TypeScript/issues/39459#issuecomment-772128021) client implementers to reach out to him. Would be nice if someone from the

[2021-02-04 19:02] yyoncho commented on #2582
Thank you. Dropped a line.

[2021-02-04 19:02] #2582 closed

[2021-02-04 21:05] mrkkrp opened #2583 "Consider using the inheritenv package"
This is not strictly a bug per se, but perhaps an opportunity for improvement. I have recently tried to use `lsp-mode` in conjunction with `direnv-mode`. A directory-specific environment provided `ocamllsp`—OCaml LSP executable and the two modes worked together nicely. Later, I became frustrated with delays that happen when one switches between buffers with `direnv-mode` enabled. Fortunately, ther

[2021-02-05 01:35] purcell commented on #2583
Yes, basically the issue is that if a user has a buffer-local `process-environment`, then that is the environment that should be used when finding and starting an LSP backend process for that buffer. It's easy to mess this up by starting processes in other (particularly temporary) buffers, though, and `inheritenv` makes it a bit easier for authors to propagate the environment variables to those bu

[2021-02-06 00:27] petr-tik commented on #2080
Now that we have integration tests for clangd-9 on linux, this could be added as a regression test that adds `offsetEncoding: ["utf-8"]` in clientCapabilities during initialization

[2021-02-06 03:20] mkhattab commented on #2235
@XO39

I'm having trouble as well. I'm not familiar with the LSP specs, but I wrote a small script in typescript to determine if there's an issue with the `deno lsp` command or `lsp-mode`.

**TL;DR** it looks like an issue with `deno lsp` and it seems broken and unfinished, unless I'm missing something, which I probably am.

[code]

Output
[code]

[2021-02-06 08:06] vikigenius commented on #1520
@yyoncho I just stumbled onto this issue and I am experiencing the same in `.tsx` files. Doesn't help that the tutorial also suggests both these servers but provides no warning or workaround to avoid this issue: https://emacs-lsp.github.io/lsp-mode/tutorials/reactjs-tutorial/

Do you have any suggestions for this. I really like the completion provided by `ts-ls` but would like to keep the linting

[2021-02-06 08:52] yyoncho commented on #1520
@vikigenius I will try to do a PR this weekend.

[2021-02-06 14:03] Fuco1 commented on #2212
What does it mean to use default imenu backend?  The built-in emacs?  I switched to https://intelephense.com/ for php and imenu is unusable as I can't navigate to functions anymore.

Do the lsp servers send buffer positions for all nodes of the tree?  Can we flatten the list with all the markers somehow?  I actually use helm-like interface for imenu so it is flat anyway.

[2021-02-06 16:02] yyoncho commented on #2212
This is what we should do. I think that it is addressed in @nbfalcon 's PR at https://github.com/emacs-lsp/lsp-mode/pull/2313

[2021-02-06 16:20] Kha opened #2588 "Code blocks in MarkupContent are always highlighted as Markdown code"
When rendering markdown inside MarkupContent, `markdown-fontify-code-block-default-mode ` is always set to `gfm-view-mode` (or `gfm-mode`) since that is the major mode activated just before calling `lsp--setup-markdown`:
https://github.com/emacs-lsp/lsp-mode/blob/62cd1b2e569c72638ba4bd42a0290192c224c28d/lsp-mode.el#L4723-L4727

However, saving `major-mode` before switching to the major mode is not

[2021-02-06 17:04] acowley commented on #2499
I'm seeing this, too, with Rust and rust-analyzer via `rustic`. emacs commit 431b098a206d27a2dff6a88312c28c36926f90e9 (from 2021-02-05) exhibits the issue where a dot character does not trigger completion unless `company-minimum-prefix-length` is zero. Using `(setq load-no-native t)` resolves it: `company-complete` is triggered as expected by dot.

[2021-02-06 17:49] nbfalcon commented on #2212
My PR addresses this and @Fuco1's request to some degree: it works with `iph`, which I have tested it with. However, this is only the case for the new `imenu` backend, which categorizes all symbols by type, i.e. you will get a group for Functions and for Variables, etc. This means that you can jump to either a functions members (under <function>/variables or to it itself, directly under Functions/

[2021-02-06 18:09] nbfalcon commented on #2578
[Looking at the code](https://github.com/prominic/groovy-language-server/blob/adada2bea6df41ff2c490509caa3525f0b2e019c/src/main/java/net/prominic/groovyls/providers/HoverProvider.java#L46), it looks like `groovyls` can responed with
[code]
which seems to be the case from the trace log. The early-returns should return `null` instead of the partial hover contents, so this seems like a server bug (va

[2021-02-06 23:49] dennismayr opened #2590 "[spacemacs.develop] lsp-go: when creating new project, error message: "could not import fmt (cannot find package "fmt" in any of...)""
**Describe the bug**
When creating a new simple _Go_ project, `lsp-go` cannot find packages declared as `import`.
Error message on sideline-ui: `"could not import fmt (cannot find package "fmt" in any of...)"`

**To Reproduce**
Via `treemacs` -> create directory, name directory -> create file -> `main.go`
Open `main.go`
In `main.go`, add the following sample code:
[code]
Next to `import "fmt"`, ch

[2021-02-07 00:12] mkhattab commented on #2235
If anyone is stuck on this and wants to use deno + emacs, using the `typescript-deno-plugin` is a decent work around for now. Just install (globally) and add the plugin to your `tsconfig.json` as instructed [here](https://github.com/justjavac/typescript-deno-plugin#configuration).

[2021-02-07 00:55] Gastove opened #2591 "`FSAutoComplete` has a new version, install will fail on Linux"
**Describe the bug**
This is a bug in an upstream dependency of lsp-mode, [FSAutoComplete](https://github.com/fsharp/FsAutoComplete). The team has just released a new version of `fsac`, but the API they use for packaging the release zip fails to correctly render Unix permission bits. The result is that the entire `fsautocomplete` directory needs to be `chmod`-ed before the server can be run.

**To

[2021-02-07 07:45] PythonNut commented on #2417
Actually, perhaps it is not fixed.

Setting `lsp-print-performance` to `t` and reading the `lsp-log` gives thousands of these:
[code]

Here is the result from running the CPU profiler after letting Emacs sit for a while, with all nonzero entries expanded
[code]

[2021-02-07 08:48] yyoncho commented on #2417
Seems like your config is off: check this - https://emacs-lsp.github.io/lsp-mode/page/performance/

[2021-02-07 10:08] yyoncho commented on #2590
I am unable to reproduce. Please check if you have selected the proper project roots and test if it reproduces with `lsp-start-plain.el`.

Also, crosscheck with lsp-treemacs-errors-list to see if this error is present.

CC @muirdm

[2021-02-07 11:36] FredrikMeyer opened #2594 "Org mode source block error ("lsp is not a valid syntax checker")"
Before logging the bug, please make sure that:

**Describe the bug**

I try to activate `lsp-org` inside a Python source block in org mode.

**To Reproduce**
Make a Python source block:

[code]

Activate `lsp-org`. Get error message.

**Expected behavior**

lsp-org should start

**Which Language Server did you use**

None, lsp didnt start

**OS**
OSX

**Error callstack**

[code]

[2021-02-07 11:45] yyoncho commented on #2594
you can workaround the issue if you evaluate `(lsp-diagnostics-flycheck-enable)` or if you start lsp-mode first in a normal lsp-mode buffer.

[2021-02-07 15:05] FredrikMeyer commented on #2594
Thanks for the answer!

However,  I got a new error now:
[code]

Somehow dap mode got activated?

[2021-02-07 15:15] yyoncho commented on #2594
Most likely your version of dap-mode is not up to date. But if it is, then somehow your config is broken and does not have the proper autoloads.

[2021-02-07 19:35] dennismayr commented on #2590
I'm so sorry @yyoncho , I completely forgot to mention that I'm using `spacemacs` [develop branch] along with Emacs.
I've updated the report details.

About project roots, I added the project root with `M-x- lsp-workspace-folders-add`, which I normally do with other projects in different languages such as Rust.

[2021-02-07 20:10] yyoncho commented on #2588
I am not sure I understand the issue. What is the current behaviour and what is the expected behaviour in this case?

[2021-02-07 22:31] Kha commented on #2588
Yeah, let me try again with a more high-level description: given the response
[code]
what I get in both the lsp-ui hover and eldoc is
![image](https://user-images.githubusercontent.com/109126/107160590-7f33a000-6997-11eb-85dc-604b0bb4b0de.png)
while what I would have expected is
![image](https://user-images.githubusercontent.com/109126/107160921-7a6feb80-6999-11eb-820b-3823cab883ff.png)
which I ge

[2021-02-08 08:30] mkhattab commented on #2235
Managed to get `deno lsp` to work. You need to set `"enable": true` in `initializationOptions`, which is `false` by default.

E.g.

[code]

See [this](https://github.com/denoland/vscode_deno#configuration) for more configuration options you can set in via `:initialization-options`

[2021-02-08 09:27] yyoncho commented on #2235
The explanation:

VScode extension mechanisms in action! (3 lines of rofl emojis).

@mkhattab willing to make a PR?

[2021-02-08 15:20] aaronjensen commented on #1621
Just hit a similar 100% cpu usage. My trace is a little different.

I'm rebuilding w/ debug info in case I hit it again. For what it's worth, Emacs was like this when I woke up in the morning and woke my computer from sleep. Not sure if that helps.

[code]

[2021-02-08 15:27] wyuenho commented on #1621
This doesn't look related to LSP at all. I had run into hangs and crashes on emacs 27.1 before, apparently there was a [memory leak issue](https://github.com/emacs-mirror/emacs/commit/82c228a017cfbb69ac5a91fba51419eb3b1f7032) what was fixed on master and the emacs27 branch. Since then I've only seen one hang, but after reinstalling all packages, I haven't seen that again.

[2021-02-08 15:31] aaronjensen commented on #1621
I wouldn't have thought it, it's just where I landed via google when looking for the error. I'll report to Emacs as well, though w/o additional trace info I doubt they'll be able to help much. I'm on Emacs 28/master.

[2021-02-08 15:59] yyoncho commented on #1520
PR at #2596

[2021-02-08 16:55] Eli-Zaretskii commented on #1621
What Emacs version is that?
And what is the definition of the `line-number` face?

[2021-02-08 16:58] aaronjensen commented on #1621
28/master

[code]

Is there a better way to print the definition?

Here is my `default`:

[code]

[2021-02-08 17:58] Eli-Zaretskii commented on #1621
I meant the Lisp definitions of the face (in case there's something strange there), but the above should suffice, I think.

The backtrace shows Emacs seems to be looping in assq_no_quit, so maybe your frame's face-alist is somehow screwed?  What else can explain a loop there?

In other words, I don't really have a clue given the data you presented.  Can you step through the infloop in the debugger

[2021-02-08 18:12] mkhattab commented on #2235
@yyoncho Yes, I think I can take a shot at this.

[2021-02-08 18:13] aaronjensen commented on #1621
Unfortunately, I couldn't sort through what was going on w/o debug symbols. Stepping through it looked like the list provided to assq_no_quit never ended.

From `assq_no_quit`:

[code]

I'd guess that `Vface_remapping_alist` ended up being a circular list, but no idea how.

[2021-02-08 18:20] Eli-Zaretskii commented on #1621
Could be, but we need evidence.

And the function that loops doesn't search `face-remapping-alist`, it searches `face-new-frame-defaults`, which is managed by Emacs and shouldn't become corrupted.

[2021-02-08 18:58] aaronjensen commented on #1621
I'm referring to this, isn't that searching `face-remapping-alist`?

[code]

[2021-02-08 19:00] aaronjensen commented on #1621
I have only a single setq for `face-remapping-alist` in all of my packages as far as I can tell:

[code]

[2021-02-08 19:19] Eli-Zaretskii commented on #1621
This part of the backtrace:

      * thread #1, queue = 'com.apple.main-thread', stop reason = signal SIGSTOP
          frame #0: 0x000000010a0c973d emacs`assq_no_quit [inlined] TAGGEDP(a=0x00007fae7241ab53, tag=Lisp_Cons) at lisp.h:752:10 [opt]
        * frame #1: 0x000000010a0c973d emacs`assq_no_quit [inlined] CONSP(x=0x00007fae7241ab53) at lisp.h:1379 [opt]
          frame #2: 0x000000010a0c973

[2021-02-08 19:40] aaronjensen commented on #1621
Ah, when it's inlined it doesn't get its own line. I missed that, thanks. So it's either `f->face_alist` or `face-new-frame-defaults`, as you mentioned.

Well, hopefully it happens again while I'm running a debug build. I don't like running a debug build because of how slow it is so I don't run it very often... Also, it appears `-Og` doesn't let me access variables in higher stack frames either, s

[2021-02-08 20:05] Eli-Zaretskii commented on #1621
With lldb, it's hard: you will need to do the bit stuff yourself to see which object each variable is.  GDB is much better, but I don't know if you can find a workable port.  Try reading the relevant commands in `src/.gdbinit` and do that by hand.  The `xtype` command shows the type, and then there's an `xSOMETHING` command for each object type: `xstring` from strings, `xcar and `xcdr` for cons ce

[2021-02-09 14:14] chung1905 opened #2597 "lsp-php currently is using fixed composer home directory, it can be non-fixed"
Hello,

[phpactor default path](https://github.com/emacs-lsp/lsp-mode/blob/300603b/clients/lsp-php.el#L363): `~/.composer/vendor/phpactor/phpactor/bin/phpactor`
[php-lsp default path](https://github.com/emacs-lsp/lsp-mode/blob/300603b/clients/lsp-php.el#L37): `~/.composer/vendor/felixfbecker/language-server/bin/php-language-server.php`

Both are assume composer home is: `~/.composer/`, which is co

[2021-02-09 14:29] yyoncho commented on #2597
Sounds good, but note, that this code will be executed for environments that don't have composer installed.

[2021-02-09 19:21] michaelpj opened #2598 "What to do about hooks for triggering lsp-mode?"
The installation documentation asks users to manually set hooks so that their preferred major modes (https://emacs-lsp.github.io/lsp-mode/page/installation/#vanilla-emacs). However, `lsp-mode` already has `major-modes` for all the registered clients! It uses this (I think) to decide whether to load a particular client for a buffer... but only if `lsp-mode` is already running. So we need the origin

[2021-02-09 19:34] yyoncho commented on #2598
Some clients are not activated by major mode but by extension(for example). FWIW there is `prog-mode` which is base for almost all programming mode related modes, so using it should be generic enough.

[2021-02-09 20:06] michaelpj commented on #2598
Sure, but *if* we've given major modes in the client registration, we might as well use them, no?

Some clients might need to set additional hooks, sure, but at least the common cases would be handled.

[2021-02-09 20:14] yyoncho commented on #2598
The major mode does not determine the server e. g. web-mode might be for html, xml, css, etc. Also, some users do not use lsp-mode for everything although it is supported by lsp-mode and we will irritate them by forcing lsp-mode. IMHO start lsp-mode in everything that we have will be considered too intrusive by the server and in the end it saves one line in the users config(`(add-hook 'prog-mode-h

[2021-02-09 20:43] michaelpj commented on #2598
Right, I forgot that `lsp-mode` requires all the clients so you would effectively get them all enabled.

Hmph. I guess I don't know how to make this better short of re-arranging all the clients so that `(require lsp-haskell)` could also plausibly set up the hooks (since the user has asked for it).

[2021-02-09 20:43] #2598 closed

[2021-02-10 02:40] muirdm commented on #2590
This is almost certainly a project/root issue as @yyoncho suggested. Are you using Go modules or GOPATH? Can you include the full trace between Emacs and gopls (`M-x lsp-toggle-trace-io`, reproduce issue, then `M-x lsp-workspace-show-log`)?

[2021-02-10 02:53] dennismayr commented on #2590
Will do tomorrow!

[2021-02-10 07:29] nbfalcon commented on #2598
@michaelpj
[code]
Will give you the DWIM-behaviour: if a client is available, it will be started automatically, granted with annoying messages otherwise. You can use this instead if that bothers you:
[code]

[2021-02-10 14:36] admiralbumblebee opened #2600 "Aggressive-indent-mode deletes text in some circumstances with lsp-mode and clojure-lsp"
**Describe the bug**
Utilizing clojure-lsp.

With lsp-mode active, and aggressive-indent-mode, the buffer is changed when encountering code that returns any sort of error with lsp.

**To Reproduce**
[code]

As of time of this report, I'm using `aggressive-indent-20200824.2352` and `lsp-mode-20210209.2017`.

Open a clj file, enable aggressive-indent-mode, enable electric-pair-mode. Type `(map )`, k

[2021-02-10 18:33] #1520 closed

[2021-02-11 11:39] phillord commented on #1672
I know that this issue has been closed, but I wonder whether it was worth revisiting. I have just hit the same problem caused by loading `lsp-ui` before `lsp`. Moving `(setq lsp-keymap-prefix "blah")` to top-level doesn't solve this problem.

This could be implemented by having a `lsp-remap-prefix` function and documented this as the main mechanism. This could also be added to the `lsp-keymap-pref

[2021-02-12 05:47] mkhattab commented on #2235
@yyoncho

Let's say we have a variable `lsp-deno-enabled`, if it's `non-nil` do you think the Deno LSP client should take priority over the Typescript LSP client?

This behavior is similar to how the Flow LSP client is [configured](https://github.com/emacs-lsp/lsp-mode/blob/master/clients/lsp-javascript.el#L192). And it's also similar to how the [vscode_deno plugin](https://github.com/denoland/vsc

[2021-02-12 07:47] yyoncho commented on #2235
@mkhattab what we do is set a default priority (in this case I would say the priority of deno should be the lowest) and then user will use lsp-enabled-clients if they want to use it in a particular project or they will disable the other servers via lsp-disabled-clients globally. FWIW the vscode solution to disable deno lsp is bizarre because it starts the server although it is not needed at all an

[2021-02-12 08:55] mkhattab commented on #2235
@yyoncho Got it, thanks!

[2021-02-12 17:34] flodiebold opened #2603 "lsp-find-workspace usage in lsp-rust"
I noticed `lsp-rust-analyzer-expand-macro` not working for me, and apparently the reason was that it was sending the request to the wrong rust-analyzer instance (I had multiple projects open). `lsp-find-workspace` seems to just select any rust-analyzer workspace if the second parameter isn't passed. It seems the second parameter was [intentionally removed](https://github.com/emacs-lsp/lsp-mode/com

[2021-02-12 17:56] brotzeit commented on #2603
I vaguely remember that somebody had issues due to passing the parameters(sounds weird I know) to `lsp-find-workspace`. I tried it without the parameter and it worked, and I supposed the function just uses `default-directory` as default.

[2021-02-12 20:20] yyoncho commented on #1672
@phillord what about using setter for the defcustom?

[2021-02-12 20:34] yyoncho commented on #2603
FWIW doing lsp-find-workspace + with-lsp-workspace is not needed unless the command is indented to be called in buffer which is not managed by lsp-mode+rust-analyzer.

[2021-02-12 20:48] yyoncho commented on #2588
Got it, there is easy dirty fix, I will see if we can do better.

[2021-02-12 20:54] yyoncho commented on #2603
PR at #2604

[2021-02-12 21:03] yyoncho commented on #2600
The issue comes from the fact that clojure-lsp formatting is much more aggressive than the formatting which is performed by emacs by default(in this case, it removes the space) and aggressive indent is calling it.

There are several fixes:

1. `(setq lsp-enable-indentation nil)` which will disable lsp-mode formatting.
2. clojure-lsp to expose a setting for the formatter which makes it less aggress

[2021-02-12 21:25] ericdallo commented on #2600
About 2. clojure-lsp use cljfmt to format, so not sure this would be possible, we'd need to check cljfmt API to something less aggressive or open an issue there

[2021-02-13 11:26] yyoncho commented on #2235
Fixed by #2607

[2021-02-13 11:26] #2235 closed

[2021-02-13 11:26] #2600 closed

[2021-02-13 12:42] thisch opened #2608 "link-color issue in react tutorial"
In the react tutorial there is a hyperlink in a "Note:" section, that is unfortunately colored with the same color as the color of its surrounding text, see

![image](https://user-images.githubusercontent.com/206581/107850158-9d1e5c00-6e00-11eb-952b-a434fa6146c7.png)

This is the corresponding source

[code]

[2021-02-13 13:36] yyoncho commented on #2608
Thank you for the report, I think that the issue is fixed in typescript-language-server. I will remove the line after verifying that.

[2021-02-13 13:48] #2603 closed

[2021-02-13 15:26] #2594 closed

[2021-02-13 15:44] thisch commented on #2608
I didn't run into any issue (except one when running `npx  ...`) when doing the tutorial.

[2021-02-13 17:16] thisch commented on #2520
When I first saw the underlines with style `wave` in the header-line, I also thought that they are caused by my spell-checker, even though they were colored in green. Since they didn't disappear when disabling the spell-checker, I had a look at the faces in lsp-headerline.el. There I found:

[code]

The docstring mentions "info/hint under that path". How is it possible to see this info/hint?

[2021-02-13 17:24] yyoncho commented on #2520
@thisch the presence of info/hint diagnostics depends on the server. For example, java language server reports the TODOs as info.

[2021-02-13 17:58] thisch commented on #2520
I see. Now it makes sense. I thought that I can somehow see the info/hints by clicking on the path in the lsp-headerline or by moving the mouse over the path.

[2021-02-14 01:18] bradrn opened #2609 "Cannot disable lsp-modeline-diagnostics-mode"
**Describe the bug**

I would like to disable `lsp-modeline-diagnostics-mode`. I can disable it interactively by calling `C-: (lsp-modeline-diagnostics-mode -1) RET`, but I cannot find a way to disable it by default. I have tried adding both `(setq-default lsp-modeline-diagnostics-mode nil)` and `(add-hook 'lsp-mode-hook (lambda () (lsp-modeline-diagnostics-mode -1)))` to both the `:init` and `:co

[2021-02-14 07:25] yyoncho commented on #2609
Use

[code]

and refer to https://emacs-lsp.github.io/lsp-mode/tutorials/how-to-turn-off/

[2021-02-14 07:25] #2609 closed

[2021-02-14 07:29] bradrn commented on #2609
@yyoncho I think you have misread my issue. I don’t want to turn off code actions (which I have been finding incredibly useful!); I want to turn off modeline diagnostics. That is, in the following image:

![](https://emacs-lsp.github.io/lsp-mode/tutorials/images/turn-off-1.png)

I want to disable (7).

Also, I have already been through the tutorial you have linked to. This advises:

As I already m

[2021-02-14 07:55] yyoncho commented on #2609
I don't see it in the original post.

Modeline diagnostics are item 11.

[2021-02-14 07:55] yyoncho commented on #2609
Note that some of the settings have to be set before the first time you have started lsp-mode.

[2021-02-14 07:58] bradrn commented on #2609
Here:

Whoops, so they are! You’re right — I think my issue may have been that I was confusing modeline diagnostics and modeline code actions. I’ll try disabling both and see if that helps.

I assume that corresponds to using the `:init` block in `use-package`? I’ll place those settings there in that case.

[2021-02-14 08:00] yyoncho commented on #2609
Both :init and :config should do.

[2021-02-14 08:02] yyoncho commented on #2609
I was talking about `lsp-modeline-code-actions-enable` not `lsp-modeline-diagnostics-mode`

[2021-02-14 08:20] bradrn commented on #2609
OK, so I’ve experimented a bit with my Emacs, and can confirm that I am talking about this bit to the very right of the modeline (circled):

![modeline-image](https://user-images.githubusercontent.com/17613703/107871762-9f63e180-6ef8-11eb-83a5-c7f7627fc2f9.png)

That is to say, I _am_ in fact interested in `lsp-modeline-diagnostics-mode` as per my original post, rather than `lsp-modeline-code-acti

[2021-02-14 10:20] phillord commented on #1672
@yyoncho Not sure I understand. It doesn't have one at the moment. As far as I can see, we'd just need to call

[code]

and then re-run the which-key integration. So a simple function which wraps that lot up, updated documentation and updating the defcustom to use this as a set function. Is that enough, or am I missing something. Can change this into a PR if wanted.

[2021-02-14 10:22] ideasman42 commented on #2552
The functionality that recompiles packages correctly (including lsp-mode) has now been merged into package-utils.

Use `package-utils-upgrade-all-and-recompile` to resolve this repoort.

[2021-02-14 10:29] yyoncho commented on #2552
@ideasman42 thank you for the heads up. We will upgrade our docs.

[2021-02-14 10:35] yyoncho commented on #1672
I meant instead of having this as part of a separate function it seems like having it part of the setter might be more convenient.

[code]

[2021-02-14 18:16] phillord commented on #1672
I'd go the other way. Have this as a function, then call that function as the `:set` from `defcustom`. That way it would also work for people not using custom. There isn't a convienient way to call `defcustom` settters that I know of.

[2021-02-14 21:39] dennismayr commented on #2590
Ok, I see that the way to install Go has changed and there are 2 ways, with or without GOPATH, both of which aren't properly recognized by Emacs + Spacemacs Go layer for whatever reason (everything's reachable on PATH from a terminal), so I guess I'll take this to the Spacemacs folks first.

Thanks for the heads-up

[2021-02-14 21:39] #2590 closed

[2021-02-15 11:21] ag91 opened #2610 "lsp-find-session-folder seems to return the wrong output (at least when lsp-find-workspace uses it)"
Hi, thank you very much for this mode! I am starting appreciating it just now and I am really happy with my Scala development!

I was trying to analyze the stacktrace in a sbt-mode buffer, and for some weird reasons the lsp-session was not recognized.

The issue is `lsp-find-session-folder` because the current implementation is:
[code]
In my use case, `(lsp-session-folders)` returns a list contain

[2021-02-15 18:01] RomeuG opened #2612 "Emacs hangs temporarily while trying to get completion while rust-analyzer is initializing."
**Describe the bug**
Emacs hangs temporarily while trying to get completion while `rust-analyzer` is initializing.
`rust-analyzer` takes  some seconds to initialize, going from a small amount of RAM to 900MB RAM (this is normal, just giving away some details).

**To Reproduce**
Steps to reproduce the behavior(sample project + file which can be used to reproduce the issue with.)

**Expected behavio

[2021-02-15 18:27] RomeuG commented on #2612
Sorry, the title is kind of wrong.
It should be:
Emacs hangs temporarily while trying to get completion while rust-analyzer is initializing.

[2021-02-15 21:07] yyoncho commented on #2612
Hanging might be caused by establishing the watches which happens during startup and causes hanging. Can you provide perf report?

[2021-02-15 21:09] yyoncho commented on #2610
This should not happen. Can you provide steps to reproduce?

[2021-02-15 22:44] RomeuG commented on #2612
This is the perf report:

[code]

Doesn't seem to be the watches stuff. Even if it was, shouldn't it be async, though?

[2021-02-16 01:12] RomeuG commented on #2612
The completion itself is slow while typing too. Although thats because of the `rust-analyzer` server.
But VSCode handles it asynchronously (doesn't hang while typing).

[2021-02-16 02:16] kiennq commented on #2612
The `lsp-request-while-no-input` only takes 5%, so it's not likely cause the hang.
What's your Emacs version? Can you try to `eval-defun` for `lsp-completion-at-point` and try to post the perf log again?

[2021-02-16 11:00] RomeuG commented on #2612
@kiennq

I am using `GNU Emacs 28.0.50`. I am also using the `native-comp` branch.
This also happens on Emacs version `27.1`. But it seems the perf log has different results (sorry for the format):

[code]

If I run `eval` and use `(lsp-completion-at-point)`, it is basically instant. (I hope this is what you asked)

[2021-02-16 11:58] RomeuG opened #2613 "lsp-mode doesn't display signatures in Rust when lsp-eldoc-render-all is nil"
**Describe the bug**
If `lsp-eldoc-render-all` is nil, signatures are not displayed when using `rust`/`rust-analyzer`:

![image](https://user-images.githubusercontent.com/2325589/108059389-57a29e80-704d-11eb-975b-0e57e8f10f65.png)

When we enable `lsp-eldoc-render-all`, all is displayed normally:

![image](https://user-images.githubusercontent.com/2325589/108059575-a3554800-704d-11eb-9e2a-f32cbfc6

[2021-02-16 19:25] dwa commented on #2189
I got this working by creating a shell script named `terraform-lsp` in `~/bin`:

[code]

[2021-02-17 03:07] kiennq commented on #2612
Well, what's I'm hoping is more information than just `#<compiled ...>` showing up. To do that we will need to reevaluate the functions again without let it byte-compiling, then do the repro steps again.

Can you try to go to `lsp-mode.el` and `lsp-completion.el`, run `M-x eval-buffer` in each file, try to repro the hang again and post the perf here?

[2021-02-17 06:38] PythonNut commented on #2417
The only setting in my config that isn't at the recommended value is probably my `gc-cons-threshold`. However increasing does not cause the CPU usage to decrease. Garbage is collected less frequently, but each collection takes much longer. Tuning `gc-cons-threshold` can, at best, mask the root cause which is that very large amounts of garbage are being produced, even though I am simply letting Ema

[2021-02-17 10:10] RomeuG commented on #2612
@kiennq

Hey, thank you for helping me help you debug this problem. Here are the results after doing what you said:

[code]

[2021-02-17 13:17] stskyblade opened #2615 "Symbol’s function definition is void: -compose"
**Describe the bug**
I'm using Spacemacs. I add lsp layer and add `(lsp)` to user-config. This line causes error: `Symbol’s function definition is void: -compose`. I find that there is a function called `-compose` in [this line](https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-mode.el#L7967) . I can't find out where is its definition. Do I need to install some dependency?

[2021-02-17 13:19] yyoncho commented on #2615
You have to upgrade your `dash` package (and sync spacemacs as well).

[2021-02-17 13:19] #2615 closed

[2021-02-17 13:26] stskyblade commented on #2615
I have update dash to dash-20210210.1449, but this error still exists. I think dash is not loaded correctly. Where should I check next? @yyoncho

[2021-02-17 13:28] nbfalcon commented on #2615
@yyoncho I see that `-compose` is part of `dash-functional.el`. Or is the latter file part of the regular dash package?

[2021-02-17 13:29] yyoncho commented on #2615
did you update your spacemacs?

[2021-02-17 13:29] yyoncho commented on #2615
yes.

[2021-02-17 13:30] stskyblade commented on #2615
Do you mean restart Emacs or git clone develop branch of Spacemacs(I haven't done this)?

[2021-02-17 13:31] nbfalcon commented on #2615
@stskyblade are you on master? Try evaluating `(require 'dash-functional)`.

[2021-02-17 13:32] stskyblade commented on #2615
I'm on develop branch and didn't update it for a long time.

[2021-02-17 13:34] nbfalcon commented on #2615
Try updating all packages using `SPC feU`.

[2021-02-17 13:35] nbfalcon commented on #2615
Afaik, spacemacs doesn't pin packages like doom, so updating it shouldn't make a difference.

[2021-02-17 13:35] stskyblade commented on #2615
I pulled develop branch and this error disappears. Thank you for your help!

[2021-02-17 15:35] ordnungswidrig commented on #713
What about all the freshly created file you did not commit yet?

[2021-02-17 16:07] aldanor commented on #713
Yep, indeed. I'd rather just have it follow .gitignore by default (and maybe have some option of un-ignoring certain folders that may have code generated by the build process; although that would be a rare case; .gitignore path should work out of the box most of the time for most projects).

[2021-02-17 19:39] MaSven commented on #2615
I have the same problem in vanilla emacs. Requiring dash in my init.el does not solve the problem

[2021-02-17 20:02] yyoncho commented on #2615
@MaSven you have to upgrade to the latest version of `dash`.

[2021-02-17 20:28] MaSven commented on #2615
Already did a package-refresh. I think i have to wait till melpa or elpa catches up

[2021-02-17 20:29] nbfalcon commented on #2615
@MaSven you could install `dash-functional` manually as a workaround for now.

[2021-02-17 20:29] nbfalcon commented on #2615
I.e. `M-x package-install RET dash-functional RET`.

[2021-02-17 20:43] yyoncho commented on #2615
AFAICS melpa is fine - https://github.com/magnars/dash.el/blob/0e975782086020aa12863fdb658d6a3cc748a10c/dash.el . How did you upgrade your dash version?

[2021-02-17 20:43] nbfalcon commented on #2615
Its probably ELPA.

[2021-02-18 04:43] muradm opened #2617 "lsp-angular: support inline template completions"
Currently `lsp-angular` activates `angular-ls` only for `html` files, here:
https://github.com/emacs-lsp/lsp-mode/blob/8166a1fe04891efcb7f1262609e77fc48500537b/clients/lsp-angular.el#L63

If you do something like:
[code]
Then angular language server will work for inline templates like below as well:
[code]
I'm not sure, but I think angular language server in general could bind to any file if proje

[2021-02-18 05:42] muradm commented on #2617
I simplified `activation-fn` to the following:
[code]
This seems to be working. May be additionally temporary files could be filtered out, the ones with "#".

[2021-02-18 06:51] yyoncho commented on #2617
Looking at the vscode client

[code]
we should do pretty much the same but we are also looking for angular.json because IIRC the server was crashing if it was not present.

[2021-02-18 06:55] muradm commented on #2617
Then this one is more correct:
[code]

[2021-02-18 08:14] muradm opened #2618 "lsp-workspace-root: nested projects"
For mono repo with nested projects `lsp-workspace-root` selects the first matching root.
https://github.com/emacs-lsp/lsp-mode/blob/8166a1fe04891efcb7f1262609e77fc48500537b/lsp-mode.el#L4417

If project structure like below:
[code]
`(lsp-session-folders (lsp-session))` returns list of two folders `'("<root>" "<root>/web-site")`. Then the above mentioned code seems to resolve to `<root>` instead of

[2021-02-18 11:07] muradm commented on #2618
This works better:
[code]

[2021-02-18 11:27] muradm commented on #2617
PR: #2620 adds `.ts` to pattern match and also fixes missing end of line check.

[2021-02-18 18:20] pratik-abhyankar opened #2622 "Symbol’s function definition is void: -compose"
I am using GNU Emacs 27.1 (latest stable) on MacOS Catalina 10.15.7 and see this error when running `lsp` or `lsp-doctor` in Emacs. LSP fails to start and thus I am not able to use it on any language modes. I see that `-compose` is referenced in the `lsp-mode.el` file but could not find its definition.

I searched through the issues section and found out that there was a similar question asked for

[2021-02-18 19:23] yyoncho commented on #2622
The solution is the same - upgrade `dash`.

[2021-02-18 19:23] #2622 closed

[2021-02-18 20:35] pratik-abhyankar commented on #2622
Cool.  Thanks @yyoncho. That solved the problem. For anyone else wondering how to do this and if you are using use-package to install packages, I did it this way:
[code]

In case you still get the same error, refresh your package list and list with `M-x list-packages`. Search for `dash` on MELPA instead of ELPA and install it. Possible reason of error still re-surfacing could be ELPA serving `2.17

[2021-02-18 21:40] yyoncho commented on #2622
Thank you for the information - I will ping dash maintainers

[2021-02-19 07:40] #2618 closed

[2021-02-19 07:40] #2617 closed

[2021-02-19 12:47] anonimitoraf opened #2624 "Auto-completion doesn't seem to work when `company-minimum-prefix-length` <= 1"
**Describe the bug**
Auto-completion when:
* Set to 0 - doesn't suggest stuff
Expected: `a/so` should suggest `some-variable` and `some-function`
![lsp-mode-company-min-length-0](https://user-images.githubusercontent.com/15933322/108505741-f9571380-730b-11eb-9398-f6b62b37f201.gif)

* Set to 1 - same as when set to 0
![lsp-mode-company-min-length-1](https://user-images.githubusercontent.com/1593332

[2021-02-19 14:43] ericdallo commented on #2624
@kiennq or @yyoncho do you know why this happens?

[2021-02-19 17:05] yyoncho commented on #2624
I did short debug session on that and I was unable to find out the reason. I confirm the issue is happening only with Clojure, it works fine with the other servers I tested with.

[2021-02-19 17:08] ericdallo commented on #2624
@yyoncho odd, the request is made correctly to the server?

[2021-02-19 17:09] yyoncho commented on #514
@nbfalcon you already fixed that, right?

[2021-02-19 17:09] yyoncho commented on #1400
Already fixed.

[2021-02-19 17:09] #1400 closed

[2021-02-19 17:10] yyoncho commented on #1611
Seems like there is nothing to do on lsp-mode side, please reopen if you disagree.

[2021-02-19 17:10] #1611 closed

[2021-02-19 17:13] yyoncho commented on #1549
After this bug report, we got several speed improvements so I think that it should be ok to be closed. If you disagree please reopen after going through https://emacs-lsp.github.io/lsp-mode/page/performance/ .

[2021-02-19 17:13] #1549 closed

[2021-02-19 17:14] yyoncho commented on #1471
Closing this for now, but if someone is interested we can reopen it and discuss the action plan.

[2021-02-19 17:14] #1471 closed

[2021-02-19 17:14] yyoncho commented on #1351
This is fixed.

[2021-02-19 17:14] #1351 closed

[2021-02-19 17:33] yyoncho commented on #2624
I don't see requests at all.

[2021-02-19 17:37] yyoncho commented on #704
Seems like there is no activity regarding this issue for quite a lot of time and our backlog grew. I am closing it for now, but feel free to reopen.

[2021-02-19 17:37] #704 closed

[2021-02-19 17:51] yyoncho commented on #1144
Given the current backlog, it doesn't seem to be realistic to address this issue given the amount of work that has to be invested with zero to no end-user benefit.

[2021-02-19 17:51] #1144 closed

[2021-02-19 18:04] ericdallo commented on #2624
Got it, so indeed lsp-mode is not requesting for some reason, really curious

[2021-02-19 18:05] yyoncho commented on #2624
most likely it is related to prefix calculation, @kiennq knows much better than me on that.

[2021-02-19 18:37] yyoncho commented on #2189
FYI there is `lsp-terraform-server` which can be used to change the binary path.

If changing the binary name is sufficient, I propose closing the issue.

[2021-02-19 18:51] yyoncho commented on #2613
I will take a look.

[2021-02-19 19:25] yyoncho commented on #2613
There are 2 options: trim and take the first line which is easy to implement. The other option is to take everything till the horizontal line which will be harder to implement and will break when rust-analyzer changes their format.

[2021-02-19 19:29] yyoncho commented on #2613
I implemented first option in https://github.com/emacs-lsp/lsp-mode/pull/2627 .

[2021-02-19 19:36] RomeuG commented on #2613
Ok great. Any way of testing this now or should I wait for it to be pushed?

[2021-02-19 19:38] yyoncho commented on #2613
Just eval this:

[code]

[2021-02-19 19:43] #2608 closed

[2021-02-19 19:47] RomeuG commented on #2613
Thanks! I confirm that it works!

[2021-02-19 19:56] RomeuG commented on #2613
Although that solves the issue, it solves it partially. I say this because having `lsp-eldoc-render-all` as `t`, this is shown:

![image](https://user-images.githubusercontent.com/2325589/108554641-46c38880-72ec-11eb-81dd-1cb8754dbb6c.png)

It shows the return type and the function signature.

Having `lsp-eldoc-render-all` as `nil`, only the variable type I am working on is shown:

![image](https:

[2021-02-19 20:02] yyoncho commented on #2613
Yep, this is what I was describing. The issue is that rust analyzer returns markdown and its structure is not fixed. Thus we have to write custom logic to extract that first section. This is point 2 in my previous post. The question is whether the proposed PR is useful as is, or better to go with custom extracting?

[2021-02-19 20:39] RomeuG commented on #2613
Yes! Sorry for my misinterpretation.

Well, I guess the goal of this feature is to actually show the function signature (correct me if I am wrong).
The proposed PR is obviously an upgrade from before, no doubt. But I would say that custom extracting would actually achieve what is needed from the feature.

But you obviously raise a good point: `rust-analyzer` could have future breaking changes rela

[2021-02-19 20:41] christopherdumas opened #2628 "Horrible Unusable Tooltip Icon Size"
**Describe the bug**
When I put my cursor on a line in a C or C++ file with lsp-mode activated, and the lsp server has some suggestions or capabilities for that line, the tooltip that appears to make me aware of that fact has a gigantic icon that pushes all the lines above and below the current one away. Then, when I move my cursor away, it dissapears. This leads to my code jittering around all ov

[2021-02-19 20:47] christopherdumas commented on #2628
This is excruciating.

[2021-02-19 20:48] ericdallo commented on #2628
This is a lsp-ui issue that already exists https://github.com/emacs-lsp/lsp-ui/issues/573

[2021-02-19 20:48] #2628 closed

[2021-02-19 20:50] christopherdumas commented on #2628
thanks lol

[2021-02-19 22:46] adimit opened #2629 "React-projects with CRA & typescript can't use JSX with ts-ls"
**Describe the bug**
In a fresh CRA-created typescript React App, JSX tags are not recognized. The error message is `Cannot use JSX unless the --jsx flag is provided`. This *may* be related to #2374. Workaround: setting `"jsx": "preserve"` in `tsconfig.json` works around the issue, *however*, due to recent changes in React 17, new CRA-projects need that setting on `"jsx": "react-jsx"`.

**To Repro

[2021-02-20 03:23] anonimitoraf commented on #2624
Hey @yyoncho @ericdallo thanks for giving this a glance

I can also check it out, any good starting points? Files to look at, for example

[2021-02-20 07:56] yyoncho commented on #2629
The issue is caused by the fact that lsp-mode uses the tsserver that is automatically installed lsp-mode facilities while in the other case when there is no tsserver passed and the typescript language server picks the tsserver that is part of the project. Probably they are different versions.

[2021-02-20 08:16] adimit commented on #2629
Good idea, but I did make sure the versions of ts-ls were the same:

[code]

[2021-02-20 08:16] yyoncho commented on #2624
@anonimitoraf thank you for the interest but for this particular issue I believe that @kiennq is the best person to investigate because the completion code is not very intuitive due to the complexity of the emacs `completion-at-point` facilities. But still, if you want to give it a try - start from `lsp-completion-at-point`.

[2021-02-20 08:18] yyoncho commented on #2629
`typescript-language-server` is only wrapper over `tsserver`. You may grep which tsserver is started in both cases. I already have an idea of how to fix the issue and at the same time keep the OOTB experience.

[2021-02-20 08:33] adimit commented on #2629
I started the above `eglot` load file with the following line for `eglot-server-programs`:

[code]

This still works (with `eglot`), and should use the same underlying `tsserver`.

[2021-02-20 08:37] yyoncho commented on #2629
Let me prepare a PR. When I am testing with lsp-mode I see the error when we explicitly pass the tsserver as param but I don't see it when lsp-mode does not pass that path.

[2021-02-20 08:40] adimit commented on #2629
OK, thanks a lot for your fast response! I actually further adapted the line above to:

[code]

Which means `eglot` definitely uses the same versions of both `ts-ls` and `tsserver`. It still works there (though there is another issue in that it issues spurious warnings :thinking:, which `lsp-mode` doesn't) but not in `lsp-mode`.

[2021-02-20 09:22] kiennq commented on #2624
@anonimitoraf Did it work if you set `lsp-completion-no-cache` to `t`?

[2021-02-20 10:31] anonimitoraf commented on #2624
@kiennq I see. Yes with `lsp-completion-no-cache` set to `t`, `company-min-length` of 1 works :D

Although with `company-min-length` of 0, it only pops up after I've typed a letter or 2.
When I try to open up the completion box manually, it tells me "No completion found"

I'm thinking that while it might be nice to open up the completion box with 0 chars typed, for the sake of "discoverability", i

[2021-02-20 10:49] kiennq commented on #2624
Also can you post the trace io log here?
Changing `prefix-length` is working in my env though.
I would not recommend setting `lsp-completion-no-cache` since it will not using cache, and will make the typing slower.

This seems to be `clojure` language server limitation.
Setting min prefix length to `0` is not that different from `1` since `company` will kick in only after you type something (means

[2021-02-20 12:04] yyoncho commented on #2629
Proposed fix at #2633

[2021-02-20 12:37] adimit commented on #2629
Woot! Tried it out and it fixes the problem!

[2021-02-20 13:27] adimit commented on #2629
Oh wait, sorry, I don't think it worked. I'm using your `tsserver` branch; I think that I had the workaround (fix in `tsconfig`) still enabled in the repository I originally saw the issue with and that's why it seemed to work. I've now tried it again with the new branch and can still see the bug.

[2021-02-20 14:15] basil-conto commented on #2622
`-compose` was recently moved from the (now deprecated) package `dash-functional` to `dash 2.18.0`.

Make sure to update both packages (or delete `dash-functional` altogether if none of your other packages depend on it).

The only complications that should arise in this area are due to MELPA using datetime versions which are incompatible with canonical ELPA version strings.  In this case the onus

[2021-02-20 14:16] RomeuG opened #2634 "C/C++ Clangd completion for struct members adds a space"
**Describe the bug**
In a C/C++ project, where `clangd` is used as the backend for `lsp-mode`, when using `company-complete`' to show the results, it adds a space character instead of showing all the possibilities for the completion.

An example, using a sample project of mine (https://github.com/RomeuG/SelfDwarfDumper):

I have this struct and function:

![image](https://user-images.githubusercon

[2021-02-20 14:17] basil-conto commented on #2615
`-compose` was recently moved from the (now deprecated) package `dash-functional` to `dash 2.18.0`.

Make sure to update both packages (or delete `dash-functional` altogether if none of your other packages depend on it).

The only complications that should arise in this area are due to MELPA using datetime versions which are incompatible with canonical ELPA version strings. In this case the onus l

[2021-02-20 14:21] yyoncho commented on #2629
Hm, so on my side it seems like it works even without the PR but before that, I was able to reproduce the issue without the fix. I did several things:
1. Uninstalled global typescript
2. Moved from node 12 to node 10.

At this point, I am unable to reproduce the issue and it seems like there something in the environment that triggers the issue.

[2021-02-20 14:24] yyoncho commented on #2629
I am testing with this:

[code]
and then:

`env HOME=$(pwd) emacs -Q --load ../load-lsp-mode.el --file src/App.tsx`

(which will install everything + the server).

[2021-02-20 14:34] yyoncho commented on #2634
This is clangd "feature". Can you test with something like:
[code]

[2021-02-20 14:45] RomeuG commented on #2634
Indeed that solves the issue completely.

I guess this is no bug of `lsp-mode`. Do you have any recommendation regarding this and how to deal with these kinds of things? I don't think I would fix this without your help.

[2021-02-20 14:47] yyoncho commented on #2503
What is the status of this - we are considering adding "--header-insertion=never" to default params?

[2021-02-20 14:49] yyoncho commented on #2485
Seems like the question was answered. Feel free to use the issue for further questions.

[2021-02-20 14:49] #2485 closed

[2021-02-20 14:51] yyoncho commented on #2433
Closing based on the fact that there is a solution listed in flycheck ticket.

[2021-02-20 14:51] #2433 closed

[2021-02-20 14:53] yyoncho commented on #2322
@ericdallo you fixed that, right?

[2021-02-20 15:02] ericdallo commented on #2624
Yeah, I can confirm server is not returning any results for a min length of `0`, this could be fixed on server side indeed :)

[2021-02-20 15:04] ericdallo commented on #2322
yeah, clojure-lsp is already using that :)

[2021-02-20 15:04] #2322 closed

[2021-02-20 15:14] yyoncho commented on #2634
Opening issue or asking in gitter/discord is fine.

We try to improve our docs and provide better defaults. The option to do it by yourself is to follow the lsp-mode and/or clangd and be familiar with specifics line that.

[2021-02-20 15:19] adimit commented on #2629
Interesting! I shall try to reproduce the issue in a docker environment, but I won't get around to that before the evening. My node version is 12.19.0

[2021-02-20 15:26] yyoncho commented on #2629
Docker recipe will be fine. Do you reproduce the issue with the config from the previous reply?

[2021-02-20 15:34] Sasanidas opened #2636 "Discord as a comunication server"
Hello lsp-mode mantainers,
 I saw that recently that the project start using discord as a way to communicate internally and with other people.

 Been that lsp-mode is a free software package that is use by GNU Emacs, I'm interesting in know why Discord was selected as main way of communication, as far as I know, Discord [is not a friendly platform for free software ](https://sneak.berlin/20200220/

[2021-02-20 15:39] ericdallo commented on #2636
Hello @Sasanidas!
That was an idea to use a community channel more friendly than Gitter since the notifications didn't work for some users, I agree a free software would be good, but I don't know any other as good as Discord where we can have multiple channels, decent threads/replies and things like that.
Suggestions are welcome too :)

[2021-02-20 15:41] RomeuG commented on #2634
Ok! Thank you! :-)

[2021-02-20 16:59] ericdallo commented on #2624
Fixed the completion with `0` length on server side @anonimitoraf :) https://github.com/clojure-lsp/clojure-lsp/commit/fac945d1d452295adeac04f768d1b37fea0f3e70

[2021-02-20 17:04] yyoncho commented on #2624
@ericdallo is there anything to address on the client side after your server fix?

[2021-02-20 17:06] ericdallo commented on #2624
I think the issue with the 1 length not working without change the cache on completion?

[2021-02-20 17:23] ericdallo commented on #2624
I tested with `company-prefix-length` of `1` and it worked when idle as expected

[2021-02-20 17:34] Dieken commented on #713
@clayrisser  No idea why lsp-mode pick some parent directory as workspace root directory,  that will make lsp-mode traverse a lot of files.

https://github.com/emacs-lsp/lsp-mode/blob/2d1732a3b9bc27c1eeb4e69805bb6a8527ae7893/lsp-mode.el

Functions `lsp--directory-files-recursively` and `lsp-watch-root-folder` should exit early when number of files is greater than `lsp-file-watch-threshold`.  At le

[2021-02-20 18:03] yyoncho commented on #713
We could do that if we change the wording in the warning dialog.

As a side note, I have a prototype utilizing emacs threads which avoids the hanging.

[2021-02-20 18:47] adimit commented on #2629
Yes, this is what I did:
[code]

With the contents of `load-lsp-mode.el` copied from your file in [this comment](https://github.com/emacs-lsp/lsp-mode/issues/2629#issuecomment-782683953). The result is in this screenshot (error message in the mode line.)
![emacs](https://user-images.githubusercontent.com/15893/108604919-1abe0b00-73b1-11eb-8302-0c4935abe7f8.png)

----

So I tried the docker repro l

[2021-02-20 19:06] yyoncho commented on #2629
I believe that it is not related to emacs/lsp-mode. It is related to nodejs/tsserver/typescript-language-server.

I changed my version from 12 to 10 due to an issue with create reactapp so that might be the key. Then the error disappeared and I thought that it is caused by my PR.

[2021-02-20 19:39] axelson commented on #1351
That's great! :confetti_ball:

Are there any docs about how to use this for language server developers?

[2021-02-20 19:48] brotzeit commented on #2636
I can absolutely understand this concern. Actually, the gitter room is still active though it isn't linked from the github page anymore. But for my taste it's already enough that we use github. However if people decide that they prefer discord over gitter maybe we should also respect this decision. Since we already have two active channels(gitter and github) we won't stop people from communicating

[2021-02-20 19:50] yyoncho commented on #1351
No docs, here is an example of how to use it

https://github.com/emacs-lsp/lsp-mode/blob/master/clients/lsp-rust.el#L628
https://github.com/emacs-lsp/lsp-mode/blob/master/clients/lsp-rust.el#L659

It is pretty straightforward but if you have questions on that don't hesitate to ask here or in gitter/discord.

[2021-02-20 19:51] adimit commented on #2629
You're probably right. I removed the binaries for a ts-version I had lying around in `$HOME/.local/bin/`. They were probably old, and perhaps didn't know about the `"jsx": "react-jsx"` setting. This is probably what caused the issue persistently.

Good thing I attempted the docker repro, that put me on the right track. Thanks a lot for helping me debug this issue. It's fixed on my end, so I'll clo

[2021-02-20 19:51] #2629 closed

[2021-02-20 19:53] yyoncho commented on #2629
Good, I will still merge #2633 since it let typescript-language-server pick tsserver based on its internal logic(e. g. it prefers the project one).

[2021-02-20 19:54] yyoncho commented on #2636
I second @brotzeit. Let's restore the gitter room link and let the users decide what they want to use.

[2021-02-20 20:07] axelson commented on #1351
Cool, thanks for the examples.

[2021-02-20 21:47] ag91 commented on #2610
Mmm, okay. On my system the way I can reproduce this is by cloning a repository in the /tmp/ directory. At that point `(lsp-find-session-folder (lsp-session) "build.sbt")` gives me "/tmp/", which it is strange in itself.
The other projects I have that cause the issue are old: I have been using lsp-metals on them from a long time and maybe before the directory was stored with the final "/"?
Maybe I

[2021-02-20 21:54] Sasanidas commented on #2636
I can totally understand that Gitter doesn't offer the same level of functionality as Discord, so offering both options may separate the community, and maybe doesn't work as intended.

I think that looking for a free software alternative to Discord that has similar functionalities maybe better to attract people that came from Discord.

From the top of my head, [Matrix](https://matrix.org/) and [Ma

[2021-02-20 22:56] wqsz7xn commented on #1571
Any updates on this? I'm running into the exact same issue on a fresh install of emacs on arch. I'd just like some type information any way possible even a workaround.
![peek](https://user-images.githubusercontent.com/67990210/108610600-b431ff00-743b-11eb-81bc-8aeea0296415.gif)

[2021-02-21 03:11] walseb commented on #1571
@wqsz7xn Are you sure your problem isn't that you don't have `lsp-ui` enabled? I don't see the lsp sidebar. Anyway if you do and you really want the type info to appear in the minibuffer, I made this hack a year ago that basically just steals the type info from the sidebar https://github.com/walseb/QualityEmacsConfig/blob/fcc51829f0b685338714c67b0496983a43efde82/config.el#L7026
I have no idea if i

[2021-02-21 03:54] wqsz7xn commented on #1571
Solved. Turns out that I had manually disabled `lsp-ui-doc` in my `.emacs`. Yeah I guess you shouldn't do that if you want doc comments huh ;)

[2021-02-21 04:34] anonimitoraf commented on #2624
@kiennq Ah, I see. Makes sense.

And damn @ericdallo awesome. Thanks so much! I'll have a read through your commits out of curiosity

[2021-02-22 14:47] twillis opened #2642 "constantly seeing this error message after getting latest from melpa (spacemacs)"
**Describe the bug**
After updating packages in spacemacs this morning I'm seeing this error popping up on seemingly every keypress. this is in a python project I work with daily using python_language_server 0.36.2

[code]

**To Reproduce**
Steps to reproduce the behavior(sample project + file which can be used to reproduce the issue with.)

**Expected behavior**
would be nice if it didnt popup ev

[2021-02-22 14:57] #2642 closed

[2021-02-23 10:59] abhijeetsrivastava opened #2644 "Lsp-format-buffer after copy file to new file replaces file content with original file."
**Describe the bug**
In Emacs Editor
Lsp-format-buffer after copy file to new file(and edit) replaces the file content with original file.

**To Reproduce**
For example.
[code]

Now if one calls `lsp-format-buffer` on File2.scala it would replace the content of File2.scala with File1.scala and format it.

**Expected behavior**
File2 's content should not change with File1.scala

**Which Language S

[2021-02-23 16:47] asg0451 opened #2646 "LSP in Ruby code cannot resolve requires in bundler, even with lsp-solargraph-use-bundler set"
**Describe the bug**
The language server can't require files that i've included using bundler.
![2021-02-23-113830_943x309_scrot](https://user-images.githubusercontent.com/4358545/108875915-ad39f680-75cb-11eb-9fa8-358b0e8fbf42.png)
It doesn't know about those files at all, can't jump to them from references in the current file, etc.

I feel like I must be missing something obvious here.
[solartest

[2021-02-23 20:04] yyoncho commented on #2646
We need someone with ruby expertise to help with that, but I am afraid that none of the maintainers is actually using ruby. (@nbfalcon ?).

[2021-02-23 20:05] yyoncho commented on #2644
Can you describe how do you perform copy?

[2021-02-23 20:21] asg0451 commented on #2646
@yyoncho thanks, I kinda expected that. Let me open an issue in solargraph referencing this. Maybe someone there can help.

[2021-02-25 01:42] abhijeetsrivastava commented on #2644
I am using spacemacs. I Just `SPC f c` to copy files.

[2021-02-25 07:29] yyoncho commented on #2644
PR at #2650

[2021-02-25 14:14] abhijeetsrivastava commented on #2644
This was super fast. Thankyou so much!

[2021-02-26 05:08] #2644 closed

[2021-02-26 21:43] leungbk commented on #1957
I am seeing this phenomenon again as of ebb66dd81be2a2fbc1553b3baf13a6f54887963b. I notice it when using `narrow-to-defun` [here](https://github.com/rust-analyzer/rust-analyzer/blob/2a4076c14d0e3f7ae03908c2b9cd1a52851d401c/crates/hir_def/src/body/lower.rs#L93), after having scrolled through the buffer enough to have encountered more than one top-level form containing a code lens.

[2021-02-28 07:35] yyoncho opened #2655 "Test emacs-lsp packages"
It will be nice if we have once centralized test suite which checks whether
emacs-lsp packages byte compile properly since a lot of the extension packages
use lsp-mode's internal functions(e. g. `lsp--point-to-position`).

[2021-02-28 13:56] michaelpj opened #2656 "Add functions to operate on code actions based on their kind"
Code actions have kinds. It seems like there's a fair bit of scope for the client to do things with code actions of a particular kind. Thoughts that occur to me:

- Apply all actions of a particular kind in a buffer/region (`haskell-language-server` implements a custom "Apply all hints" action that's effectively "apply all actions of kind `quickfix`" - we should be able to do that generically, and

[2021-02-28 13:58] nbfalcon commented on #2656
Point 2 will be implemented as part of #2402.

[2021-02-28 14:18] albert200000 opened #2657 "Flymake not working on json file with js-mode"
I've set diagnostic provider to flymake and opened json file with js-mode but syntax errors not appearing. JSON server loaded without errors.

[2021-03-01 10:26] lqu3j opened #2659 "function name adn parameters auto show at echo area"
![image](https://user-images.githubusercontent.com/46402560/109484449-682a2e80-7abb-11eb-9d7c-3dfde23d619c.png)
![image](https://user-images.githubusercontent.com/46402560/109484741-c2c38a80-7abb-11eb-98ec-8ad7070f70c2.png)

like this ,when i input parentheses， function name adn parameters auto show at echo area, is there any way  to turn it off?

[2021-03-01 10:27] yyoncho commented on #2659
Check this - https://emacs-lsp.github.io/lsp-mode/tutorials/how-to-turn-off/

[2021-03-01 10:28] lqu3j commented on #2659
thks

[2021-03-01 10:28] #2659 closed

[2021-03-01 18:51] #2634 closed

[2021-03-01 18:51] #2503 closed

[2021-03-01 19:10] #2613 closed

[2021-03-01 19:10] yyoncho commented on #2613
I merged it as it is, later we can improve futher.

[2021-03-01 19:16] yyoncho commented on #2655
@jcs090218 willing to take a look?

[2021-03-01 19:30] RomeuG commented on #2613
Sure, thanks!

On 03/01, Ivan Yonchovski wrote:

[2021-03-02 03:41] jcs090218 commented on #2655
Sure! How would you like to proceed this? I think I have applied a CI test for most of emacs-lsp packages.

[2021-03-02 05:56] torfjelde opened #2661 "Possible mispecification of `WorkspaceFolder`"
I'm diverging a bit from the issue template here as this is more of a question about the spec rather than reporting an issue.

I'm currently using `lsp-mode` with `LanguageServer.jl` and ran into an issue when trying to add a new project which triggers the `workspace/didChangeWorkspaceFolders` message to be sent to the server. `LanguageServer.jl` then complained that there is no field `"name"`.

I

[2021-03-02 06:44] yyoncho commented on #2655
The goal is to byte-compile the packages part of emacs-lsp organization against the version of lsp-mode under test. I am not sure what will be the best/easiest way to achieve this - we can either clone their repos or install them via package.el and then filter out the byte-compilation errors coming from non-emacs-lsp packages.

[2021-03-02 06:54] yyoncho commented on #2661
The schema is generated from lsp4j and in their code name is optional - https://github.com/eclipse/lsp4j/blob/d6216cd86ffdac4bbb9d8773fee07d7b0f4c66be/org.eclipse.lsp4j/src/main/java/org/eclipse/lsp4j/Protocol.xtend#L6818

Either way, the schema was generated after writing this code.

[2021-03-02 21:13] yyoncho opened #2663 "Contest: lsp-mode startup package screenshot"
Seems like our current welcome page screenshot is not fancy enough and we have to update it.
Rules:

1. Post screenshot/gifs of lsp-mode
2. Most upvoted in next 10 days wins and the screenshot/gif will be used for lsp-mode start page

[2021-03-02 22:41] ericdallo commented on #2663
**server**: clojure-lsp
**features**: headerline, diagnostics, signature, project-diagnostics, modeline code-actions, hover and code lenses

![image](https://user-images.githubusercontent.com/7820865/109724882-0c30da00-7b8f-11eb-8420-fffe9c7262eb.png)

[2021-03-03 04:18] jcs090218 commented on #2655
Hmm.. I think we will need to create a new repository to do this task? If yes, what name would you prefer? I think I can work on this over the weekend. :)

[2021-03-03 07:38] yyoncho commented on #2655
Why? Can we use that in order to get the PRs covered?

[2021-03-03 07:54] jcs090218 commented on #2655
Okay, I think I misunderstand your plan. Can you elaborate it so I can get a better image of what you are proposing? I am guessing that you want to filter out error/warning message from the emacs-lsp packages' dependencies? So we can get debugging easier if there is something wrong from their dependencies?

I thought the line below should already work? Since it already triggered the error flag whi

[2021-03-03 08:14] yyoncho commented on #2655
I want the following: Developer FOO is opening a PR which renames `lsp--position-compare` to `lsp--position-compare-new-name` . Developer FOO opens a PR and CI fails, becase `lsp-java` is using `lsp--position-compare`.

[2021-03-03 09:19] #1463 closed

[2021-03-03 09:19] #2298 closed

[2021-03-03 11:59] yyoncho commented on #2661
PR at #2664

[2021-03-03 12:06] yyoncho commented on #2657
I am unable to reproduce. Do you see the errors with flycheck? Do you see errors in lsp-treemacs-errors-list? Do you see errors for other language servers? Have you tested with lsp-start-plain.el?

[2021-03-03 12:54] torfjelde commented on #2661
That's some quick work! Thanks!

[2021-03-03 18:46] FollieHiyuki commented on #2636
As a regular Matrix user I second this platform as well. You can easily bridge Discord and Gitter to Matrix too, so it will be easier to manage multiple channels in one place

[2021-03-03 19:05] yyoncho commented on #2636
I think that bridging discord and gitter to matrix is a good idea and it seems like it will make everyone happy. AFAIK GNU guidelines are not against proprietary services as long as they don't force the user to use proprietary software. In our case, briding to matrix will fill that gap.

[2021-03-03 19:12] ericdallo commented on #2636
Yeah, looks a good alternative indeed

[2021-03-03 20:13] albert200000 commented on #2657
Flycheck also not working. Flymake is not initialized at all. flycheck-verify-setup not listing lsp checker. It's only problem with js-mode. With json-mode it works as expected.

[2021-03-04 19:22] yyoncho commented on #2588
proposed fix at #2666

[2021-03-04 20:15] yyoncho commented on #2657
I tested with the following config and with `emacs -q -l <file.el>`
[code]

and I am able to see the errors after I trigger them after editing a file.

[2021-03-04 20:34] yyoncho commented on #2655
FTR seems like we should include also external packages like `ccls`. This will help us be more aggressive with fixing poor function names and with refactoring.

[2021-03-04 20:55] ericdallo commented on #2655
The @yyoncho idea is to have a test suite for lsp-mode dependent packages, if the upstream (lsp-mode) rename a function, the downstream (lsp-dart, lsp-java, etc) would fail, so the CI would catch that somehow

[2021-03-05 02:14] leungbk opened #2671 "Avoid running CI twice"
Right now, anyone who makes a PR will end up executing the tests twice. Each subsequent force-push also runs the tests twice. It would be nice to run the tests only once each time.

[2021-03-05 02:15] ericdallo commented on #2671
I think we can change [here](https://github.com/emacs-lsp/lsp-mode/blob/master/.github/workflows/test.yml#L3) to only: `push`

[2021-03-05 02:16] ericdallo commented on #2671
Or even better, we can keep the pull-request, but specify master branch: https://github.com/clojure-lsp/clojure-lsp/blob/master/.github/workflows/ci.yml#L3-L6

[2021-03-05 03:45] jcs090218 commented on #2655
Ah.. This beyond my knowledge right now hence I have no idea how to achieve this at this moment. Maybe we can specify a test that calls all API from `lsp-mode` and see if it is `void function`. But then it will requires us to trigger the CI for other emacs-lsp packages or wait for someone else to open a PR, etc.

[2021-03-05 03:50] #2446 closed

[2021-03-05 06:12] #2661 closed

[2021-03-05 06:37] XeCycle opened #2674 "Choice description of defcustom lsp-completion-provider is misleading"
[Its choice list](https://github.com/emacs-lsp/lsp-mode/blob/ac456a3a8a60a9fa96a3258b0bab905237e2fa5e/lsp-completion.el#L35) says `nil` and `:none` are all "None", but [mode setup code](https://github.com/emacs-lsp/lsp-mode/blob/ac456a3a8a60a9fa96a3258b0bab905237e2fa5e/lsp-completion.el#L694) treats `nil` the same way as `:capf` and `t`.  Currently only `:none` can be used to inhibit altering `com

[2021-03-05 12:06] ericdallo commented on #2655
Maybe we could have a package just like `lsp-start-plain.el` that has all lsp packages, then we try to byte-compile with no warnings, the we know if there is something pointing to nothing?

[2021-03-05 12:07] yyoncho commented on #2655
Something like that but IMHO we should first install the dependencies and the bytecompile only lsp-mode related stuff. To avoid failures caused by the deps.

[2021-03-05 12:31] yyoncho commented on #2655
It is simpler - if we byte-complite these files we will catch errors like that. We already do that for the package undertest.

[2021-03-05 12:45] jcs090218 commented on #2655
Thanks for the suggestions. I think the following steps should be good enough,

1. Create workflow file for this repository `lsp-mode`. (name suggestion will be welcome)
2. Setup Linux and Cask since Linux has the best performance
3. Install all emacs-lsp packages through Melpa
4. byte compile all emacs-lsp packages

[2021-03-05 12:47] yyoncho commented on #2655
Sounds good.

Wouldn't one test in our existing test suite which calls package-install be sufficient here?

Just note that these should happen against the lsp-mode from the source tree.

[2021-03-05 12:52] jcs090218 commented on #2655
Do you mean you want to extend the current CI workflow? I guess that would work too but it would take longer for CI to complete.

Ah, yes! Got it.

[2021-03-05 12:56] yyoncho commented on #2655
Yes, I mean running that test suite as part of the current CI build. We may have a separate test for each subpackage. I believe that it won't add much time to the CI, I guess if we keep the CI less than 10 minutes we are fine.

[2021-03-05 13:19] jcs090218 commented on #2655
Okay, I can work on this over weekend. :)

[2021-03-06 11:29] razzmatazz opened #2679 "Virtual buffers that redirect/map requests to another LSP server"
I am thinking of implementing support for razor (MS asp.net core template engine) that is actually based on C#.

The basic design of how it works in vscode is this:
- https://devblogs.microsoft.com/aspnet/new-experimental-razor-editor-for-visual-studio/

I was investigating lsp-mode virtual buffers a bit as they are used for org mode integration, but I am now quiet sure:
- how make server response

[2021-03-06 11:30] razzmatazz commented on #2679
I can provide a test repo for this so we can figure out if we can make it work on top of lsp-mode. Additionally, it would be nice to reuse the "virtual" buffers functionality in lsp-mode for this..

[2021-03-06 11:46] yyoncho commented on #2679
If I am reading this correctly there is no need to do that, lsp-mode will do it for you when you create your virtual buffer. Check how `:line/character->point` is used. I encourage you to read `lsp-org` function, effectively, you should rewrite it for your case. Generally, there is a lot of trickiness to make that work.

[2021-03-06 15:38] snyball opened #2681 "json-parse-error \u0000 is not allowed without JSON_ALLOW_NUL"
**Describe the bug**
Certain C++ files produce the following window popup warning message:

[code]

**To Reproduce**
Clone the https://github.com/snyball/Hawck master branch, and open the `src/LuaUtils.h` file.

**Expected behavior**
Did not expect to get that warning.

**Which Language Server did you use**
ccls

**OS**
Linux.

[2021-03-06 19:48] yyoncho commented on #2674
PR at #2684

[2021-03-06 19:51] yyoncho commented on #2655
Fixed with #2678

[2021-03-06 19:51] #2655 closed

[2021-03-06 19:59] yyoncho commented on #2681
I dont see that file.

[2021-03-06 20:01] yyoncho commented on #2681
Ok, I found that there is LuaUtils.hpp, investigating...

[2021-03-06 20:02] yyoncho commented on #2681
Can you share what version of emacs do you use and what server? I am unable to repro with emacs 27.1 and clangd.

[2021-03-06 20:19] snyball commented on #2681
Happens with the ccls server (reproduced on versions `0.20201025` and `0.20201219-3`,) I'm using Emacs 28 from the native-comp branch and emacs-lsp from commit c3cbadc095787f7cbf2922931a09afd5ac40ce5f.

[2021-03-06 20:39] hazardfn opened #2685 "Edebug spec has to be a list - LSP/Elixir/Spacemacs"
Hey All,

I get the following issue when trying to use lsp-mode with the elixir layer inside Spacemacs: `Error: Edebug spec has to be a list: [[&rest (symbolp bindat-type &optional ":pack-val" def-form)] &optional ":unpack-val" def-form]`

This error happens in many places throughout LSP when it's loading up, I just took the first stack trace I could get from debug-on-error.

This setup worked gre

[2021-03-06 20:52] madscientist commented on #2681
I've seen this same error with some source files, with ccls.  I haven't tried to determine if I can reproduce it with the same set of files, after restarting Emacs / clearing the ccls cache.  There is, definitely, no actual nul character in the source files.  I don't know if this is an error in the ccls server (or the llvm parser) or if it's on the Emacs side.  I'm using Emacs 27.1 / lsp-mode 2021

[2021-03-06 23:09] leungbk opened #2686 "CI fails non-deterministically"
After merging https://github.com/emacs-lsp/lsp-mode/commit/b77aecf2d613c7ed5cadb9c5c37fcbb205c3f3a9, I noticed several different CI failures across different runs:

1. Missing dependencies.

2. Out-of-memory error. I noticed this on Windows with an earlier run of the same commit.

It would be nice if we could remove any non-determinism.

[2021-03-06 23:11] ericdallo commented on #2686
Have no idea why this is happening, any clues @jcs090218 ?

[2021-03-07 02:06] jcs090218 commented on #2686
No, I have no clue on this. Let me report to cask and see what they say.

[2021-03-07 04:10] nO0B opened #2687 "ESLint server initiation fails for angular html files"
Lsp-mode tries to initiate the ESLint server but fails for html files when using the @angular-eslint/template plugin. The error message is **ESLint is not configured properly. Please ensure your eslintrc is set up for the languages you are using.**

Minimal .eslintrc.js required to reproduce:
[code]
With this eslintrc, opening any html files in the project produces the error. However, adding the *

[2021-03-07 06:31] #2324 closed

[2021-03-07 11:09] nbfalcon commented on #2685
This does not seem to be a bug in `lsp-mode`, but perhaps `bindat.el`, in core-emacs, is broken? @yyoncho why do we require it?

@hazardfn can you try deleting `(require 'bindat)` at the start of `lsp-mode.el` and restarting Emacs?

[2021-03-07 11:17] yyoncho commented on #2685
We used to use it for semantic highlighting, not sure if the latest implementation is using it.

[2021-03-07 11:21] yyoncho commented on #2687
@Sorixelle do you have a clue? I am not very familiar with what are the expectations here.

[2021-03-07 11:26] yyoncho commented on #2686
I am seeing these errors from time to time. Not sure if they are related to b77aecf . Maybe we should consider using straight for the CI? Although, at least for now the "official" way to use lsp-mode is using package.el.

[2021-03-07 11:29] Sorixelle commented on #2687
Does this work in VSCode using the [ESLint extension](https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint)? If I'm reading the code for the server correctly, it looks like this also wouldn't work there. Might be wrong though.

[2021-03-07 11:40] nO0B commented on #2687
Let me check with my colleagues and get back to you. Thanks for looking
into it.

On Sun, Mar 7, 2021, 6:29 AM Sorixelle <notifications@github.com> wrote:

[2021-03-07 12:33] nbfalcon commented on #515
@laurynas-biveinis I've been working on a package to do various "smart" editing, but it is currently not on github:
The following function will do what you want

[code]

[2021-03-07 12:34] nbfalcon commented on #2681
I would expect this to be a `ccls` bug.

[2021-03-07 12:35] nbfalcon commented on #2685
@yyoncho counsel-rg yields nothing.

[2021-03-07 12:38] nbfalcon commented on #2681
@snyball can you tell what you did to cause that issue? I.e. where was your cursor? If this can be reproduced reliably, we could find out where in ccls this is caused using `lsp-print-io` and an upstream PR could be made.

[2021-03-07 14:14] snyball commented on #2681
@nbfalcon I don't know exactly what I'm doing in particular to cause the bug other than opening the file, then I get the warning. I also get it every other second when moving around the file.

You could try setting `lsp-idle-delay` to a low value, then start moving the cursor downwards from the beginning of the file, for me that produces a whole bunch of these errors.

[2021-03-07 14:26] albert200000 commented on #2657
It was my config fault, sorry. I've set lsp-diagnostics-disabled-modes to js-mode and forgot about it.

[2021-03-07 14:26] #2657 closed

[2021-03-07 15:45] nbfalcon commented on #2685
@hazardfn try updating `lsp-mode`. Does this issue still occur, even with #2690 merged?

[2021-03-07 15:46] nbfalcon commented on #2681
@snyball I have `lsp-idle-delay` set to `0`, and moving my cursor trough the buffer doesn't show the warning. I have experienced it myself, though. What verison of `ccls` are you running?

[2021-03-07 15:47] nbfalcon commented on #2681
For reference, I use
[code]

[2021-03-07 15:58] hazardfn commented on #2685
I'll test it a bit later today, cheers for looking into it - I'd just migrated back to 27 but can put some time aside tonight to go back 👍

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Nikita Bloshchanevich <notifications@github.com>
Sent: Sunday, March 7, 2021 5:46:06 PM
To: emacs-lsp/lsp-mode <lsp-mode@noreply.github.com>
Cc: Howard Beard-Marlowe <howard

[2021-03-07 16:06] vlichevsky commented on #2685
@hazardfn, this is a regression introduced in Emacs master branch a few days ago. It is already fixed in https://git.savannah.gnu.org/cgit/emacs.git/commit/?id=b24c21e82ca0819f06ea5708274ce9091b3bc6d2, so rebuilding Emacs from this commit or later should help.

[2021-03-07 19:04] conao3 commented on #2686
Sorry for your inconvenience on cask. I've released cask v0.8.6. please update it?

[2021-03-07 19:09] conao3 commented on #2686
Some comment on my side, `cask` just install using `package-install`. so if package install failed, the server is the main culprit. In particular, ELPA is dropping randomly.
You can increase its reliability by hosting a separate server that only hosts the lsp-mode dependency.
This is very easy, see my [CELPA](https://celpa.conao3.com/) and its [repository](https://github.com/conao3/celpa)

[2021-03-07 19:15] yyoncho commented on #2685
Thank you @vlichevsky, I am marking the bug as closed.

[2021-03-07 19:15] #2685 closed

[2021-03-07 19:22] kiennq commented on #2686
JFYI, using `quelpa` is closer to `package.el` than `straight.el`.

[2021-03-07 21:28] yyoncho commented on #2686
What do you mean?

[2021-03-07 21:37] orlandini commented on #2681
I am facing the same issue. If it would be useful, I could provide the repo containing the file that is triggering this same behaviour.

[2021-03-07 21:39] nbfalcon commented on #2681
@orlandini can you reliably reproduce this? I believe it would be insanely helpful if we could get an `lsp-print-io` log when that is issue occurs.

[2021-03-07 21:39] orlandini commented on #2681
Yes, it does happen everytime I open this file in a buffer. Would you please tell me how to generate this log? I can do it right away.

[2021-03-07 21:40] nbfalcon commented on #2681
@orlandini type `M-: (setq lsp-print-io t)`. Thanks a lot!

[2021-03-07 21:43] nbfalcon commented on #2681
You will find the result in `*lsp-log: <server>:<pid>*`.

[2021-03-07 21:44] yyoncho commented on #2681
I don't think that it will show up here because we print the IO after deserializing it in order to pretty-print it.

@orlandini you may try `M-x trace-function RET json-parse-string`

[2021-03-07 21:47] yyoncho commented on #2681
The alternative is to capture the input/output outside of emacs, something like this - https://github.com/emacs-lsp/lsp-mode/issues/843#issuecomment-495696789

[2021-03-07 21:55] orlandini commented on #2681
After `(setq lsp-print-io t)` and opening the file I get:
lsp-log:
[code]
lsp-log: ccls:1952936:
[code]

When doing `M-x trace-function RET json-parse-string` I get:
[code]

This happens as soon as I open the file.

[2021-03-08 00:49] kiennq commented on #2686
`Quelpa` is using `package.el` to install package, so it's will be closer experience compare to `straight.el`, which is doing byte-compiling and package placement by itself.

[2021-03-08 02:59] jcs090218 commented on #2686
I agree with @kiennq. Quelpa seems to be a lot stabler than regular `package.el`.

[2021-03-08 03:53] leungbk opened #2697 "Use Prettier for our YAML files"
The formatting in the GitHub-workflow files is not consistent; some files use two spaces for indentation, some use four.

We should have a `.prettierrc` and, if we don't like whatever the defaults are, [specify some overrides](https://prettier.io/docs/en/configuration.html#configuration-overrides) for certain file extensions. We should also add Prettier on a pre-commit hook or something.

[2021-03-08 08:13] yyoncho commented on #2681
AFAICS the problematic element is `"operator T &()virtual int TP"`, it has `\u0000` before it. Can you check if there is something related to that element that might be causing this symbol to be returned? To me, it looks like a server issue bug generally at emacs side we can handle better that kind of strings but we(at lsp-mode side) are limited by the fact that 'json-parse-string is in the core.

[2021-03-08 10:31] nbfalcon commented on #2681
A minimal example that triggers this issue, either with `imenu` or using `lsp-treemacs-symbols`:
[code]
The bug seems to be caused by template cast operators, and I suspect it is an issue with ccls' interning code. This is definitely a `ccls` bug. Here is the json:
[code]

[2021-03-08 12:50] kommen opened #2698 "Clojure: Emacs hangs after moving point around a `comment` form"
**Describe the bug**
Emacs hangs with 100% CPU usage and can only be force killed

**To Reproduce**
Move point around the `comment` form here: https://github.com/nextjournal/glogi/blob/ee8889e44d0b208ab4638d089c6724deb6d24324/src/lambdaisland/glogi.cljs#L39-L42

**Expected behavior**
Emacs not hanging 😅

**Which Language Server did you use**
clojure-lsp

**OS**
macOS 10.15.7 (19H524)

**Error call

[2021-03-08 12:57] ericdallo commented on #2698
Thank you for the detailed report, checking the stacktrace, it seems an issue when emacs is applying the highlighting font-face.
@yyoncho Does that happen in spaceemacs for you?

[2021-03-08 15:38] yyoncho commented on #2681
@nbfalcon  thank you.

Closing the bug. Please report it and/or use the solution from https://github.com/emacs-lsp/lsp-mode/issues/2681#issuecomment-792563858

[2021-03-08 15:38] #2681 closed

[2021-03-08 15:49] yyoncho commented on #2698
This is what is causing trouble, can you find us the real value that is used for that call? You can find it using lsp-workspace-show-log in combination with setting lsp-print-io or with using M-x trace-function RET lsp--fontlock-with-mode

[2021-03-08 16:14] kommen commented on #2698
[code]

[2021-03-08 16:28] ericdallo commented on #2698
looks correct to me the server response

[2021-03-08 16:39] yyoncho commented on #2698
Can you confirm that evaluating the following blocks:

[code]

[2021-03-08 16:43] kommen commented on #2698
No, calling that from `ielm` doesn't block.

[2021-03-08 16:46] yyoncho commented on #2698
Actually, AFAICS the string from the blocking call starts like that `clojure\ncomment\n` so the log does not match the callstack.

[2021-03-08 16:54] kommen commented on #2698
Sorry, my bad:

[code]

And yes, this hangs when running it in ielm:

[code]

[2021-03-08 16:59] yyoncho commented on #2698
can you do this:

[code]

and then open /tmp/foo.md?

[2021-03-08 17:02] kommen commented on #2698
Opening that /tmp/foo.md also results in Emacs hanging with 100% cpu usage.

[2021-03-08 17:06] yyoncho commented on #2698
I suggest you try upgrading all packages, even you may try to delete your whole elpa to force redownloading the packages. I don't think the issue is lsp-mode related it seems like it is clojure-mode related, probably some odd setting(or interaction with cider?). If you are unable to fix it with these steps I guess it will be better to ask in clojure-mode repo, most likely they will be able to help

[2021-03-08 17:08] yyoncho commented on #2698
make sure that you revert all clojure-mode related changes in your config.

[2021-03-08 17:22] kommen commented on #2698
Thank you folks, the issue appears whenever I have this enabled `(setq clojure-toplevel-inside-comment-form t)`.

However, I don't get how the interaction between this and lsp can cause the problem I'm seeing? When disabling lsp I don't have any issues working in that clojure project.

[2021-03-08 17:52] yyoncho commented on #2698
lsp-mode uses markdown mode to render the eldoc help uses clojure-mode to render clojure sections. So lsp-mode is affected by this clojure-mode bug.

[2021-03-08 17:52] yyoncho commented on #2698
Marking the bug as closed since there is nothing to address on lsp-mode side.

[2021-03-08 17:52] #2698 closed

[2021-03-08 18:14] yyoncho commented on #2698
FTR if you `(setq clojure-toplevel-inside-comment-form t)` and then if you open a clojure file with content `comment` emacs is stuck. I will report that in clojure-mode

[2021-03-08 18:27] nO0B commented on #2687
Colleagues say it does work with VSCode.

[2021-03-08 18:29] nbfalcon commented on #2687
@nO0B your workspace root could be wrong. Try the following:
1. `M-x lsp-workspace-folders-remove RET`
2. `M-x lsp`
3. Press `i`
4. Choose the correct path to the project

[2021-03-08 19:04] nO0B commented on #2687
@nbfalcon No luck. The root is correct and it works fine for js and ts files.

[2021-03-08 19:06] nbfalcon commented on #2687
@nO0B can you `(setq lsp-print-io t)` and post the trace, which should be in the `*eslint: <something>*` buffer?

[2021-03-08 19:20] yyoncho commented on #2687
I followed the description in the PR, created .eslintrc.js and empty html in empty folder. Then I opened in both emacs and vscode. What I saw is that eslint does not work in vscode since it is closing the file right away, emacs is not closing the file and thus that error.

I suspect that the issue report is not sufficient to reproduce the issue. @nO0B, can you provide full project?

[2021-03-08 20:48] #2588 closed

[2021-03-08 20:49] #2674 closed

[2021-03-08 20:56] nO0B commented on #2687
@nbfalcon The eslint buffers are empty. The only message I get about it is in the Messages buffer. lsp-print-io is set to t.

@yyoncho I am not confident whether it is working in vscode or not since my colleague just said that it seemed to be working. If you are able to reproduce the error with the minimal set-up and vscode is failing, then I think I should take this to vscode instead.

[2021-03-08 21:44] Kha commented on #2588
Nice, it works now after registering the language ID as a markdown language:
[code]
What do you think, should this be done automatically?

[2021-03-09 06:38] yyoncho commented on #2588
IMHO better to do a PR against `markdown-mode` to add that pair, thus it will work fine even out of `lsp-mode`.

[2021-03-09 12:51] nO0B commented on #2687
@yyoncho Could you try adding the 'html' plugin to the list of plugins please? Just to make sure? The error should go away once you do.

Thanks for all your help.

[2021-03-09 14:16] mbtuckersimm opened #2699 "lsp-mode doesn't recognize web-mode as a valid mode for intelephense"
**Describe the bug**
I use `web-mode` for editing PHP files. I installed the Intelephense language server and it works fine in `php-mode`, but not in `web-mode`.

**To Reproduce**
Install Intelephense, open any `.php` file in `web-mode` and invoke `M-x lsp`. You'll get the message
```unable to find installed server supporting this file```

**Expected behavior**
I expect that the Intelephense langu

[2021-03-09 14:17] mbtuckersimm commented on #2699
As I mentioned [here](https://gitter.im/emacs-lsp/lsp-mode?at=60477868b5131f4f2801af15), I'll get started on this and submit a PR when I have it working.

[2021-03-09 16:25] mbtuckersimm commented on #2699
I assume it would be desirable for all of the registered PHP servers to recognize `.php` files and not depend only on `php-mode`, is that correct?

[2021-03-09 19:34] yyoncho commented on #2687
The issue is that lsp-mode/vscode do find eslint at all and they disable it. I will try to reproduce the issue with project with proper eslint and so on. Please, when reporting an issue note that the other side might have zero js/eslint experience so the steps to reproduce should be very detailed.

[2021-03-09 20:16] #2699 closed

[2021-03-09 20:50] asg0451 commented on #2646
@yyoncho no it's still an issue, and nobody's gotten back to me on the solargraph repo either. But I agree, probably nothing to do here.

[2021-03-10 14:51] iartarisi commented on #2189
It's not sufficient, as there's no way to provide the `serve` command. So `*lsp-log*` says: `Command "terraform-ls serve" is not present on the path.`

OTOH, dwa's hack works nicely.

[2021-03-10 16:13] Alexander-Miller opened #2701 "lsp should not put overlays in treemacs"
I can't provide all the info from the template since it's not my bug. Basically it looks like some part of lsp has inserted `lsp-link` overlays into the treemacs buffer. These overlays then break treemacs because they are somehow found instead of the text-properties based `next-button` that treemacs is looking for: https://github.com/Alexander-Miller/treemacs/issues/778

I don't know what those li

[2021-03-10 18:02] jimeh commented on #1621
I've had this issue appearing since about 3-4 weeks ago. It mostly happens right after running `lsp-workspace-restart` which is sometimes needed to get Go's `gopls` server to pickup changes to dependencies within a project. I am running the native-comp branch of Emacs in case that matters.

In my case though, the issue seems to be that lsp-mode is just repeatedly printing the same message over and

[2021-03-10 21:20] howdoicomputer commented on #1325
@yyoncho Hm, how do you use that example? What does that block do?

[2021-03-10 21:56] howdoicomputer commented on #1325
This fixed the issue I was having: https://github.com/elixir-lsp/elixir-ls/issues/448#issuecomment-760384853

[2021-03-11 07:11] noorul commented on #746
@CSRaghunandan Any luck with this?

[2021-03-11 09:51] rawenous opened #2702 "Broken html link for Go (bingo)"
It looks like go-bingo language server was removed but the link to the documentation is still there under languages.

https://emacs-lsp.github.io/lsp-mode/page/lsp-bingo.md

![image](https://user-images.githubusercontent.com/18074069/110768800-d6a78300-8257-11eb-8331-1c10a894793d.png)

PS.
I couldn't find where to update the html docs and the edit button for https://emacs-lsp.github.io/lsp-mode/pa

[2021-03-11 10:02] rawenous commented on #2702
Ok I found it.

#1422

[2021-03-11 10:08] rawenous commented on #2702
I think I've figured it out. #2703

[2021-03-11 11:19] #2702 closed

[2021-03-11 15:31] michaelpj opened #2704 "Use source instead of `lsp` as the checker for flycheck diagnostics"
When we create a flycheck diagnostic (https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-diagnostics.el#L164), we set checker to `lsp`, so flycheck shows the diagnostic like `.... (lsp)`.

However, this isn't as helpful as it could be. IMO, a better thing to put here would be the `source` property of the diagnostic. At the moment, we put that in `group`, which `flycheck` describes as:
[code]
wh

[2021-03-11 17:18] hazardfn commented on #2685
I can confirm building emacs after that commit works as it should (Emacs 28 is so much better on Mac now they've fixed the screen flickering and everything going black in full-screen mode!).

Thanks for your help and for tracking this down.

[2021-03-11 18:08] yyoncho commented on #2704
AFAICS we pass `:source` from lsp protocol as `:group` which based on the
`lsp-treemacs-errors-list` and vscode implementation is the right thing to do.
The problems seems to the that flycheck does not actually display the group.

[2021-03-11 18:12] ericdallo commented on #2704
Yes, agree, it seems a flycheck issue.

[2021-03-11 18:25] yyoncho commented on #2646
Thank you, marking as closed.

[2021-03-11 18:25] #2646 closed

[2021-03-11 18:42] yyoncho commented on #2189
Agreed, PR at #2706 , it will allow passing list of stirng as `lsp-terraform-server`.

[2021-03-11 18:43] yyoncho commented on #2597
Are you still willing to provide a PR?

[2021-03-11 18:45] yyoncho commented on #2566
I think that with the new `lsp-activate-on` pattern we cover that issue. Marking the issue as closed but feel free to reopen in order to continue the discussion.

[2021-03-11 18:45] #2566 closed

[2021-03-11 18:56] yyoncho commented on #2487
Seems like we are good after #2518, marking as closed.

[2021-03-11 18:56] #2487 closed

[2021-03-11 19:04] yyoncho commented on #2583
It seems to me that the only thing that we do that might affect this is to bind default-directory to the project root when starting the process. I am not sure how to reproduce the issue though and how to fix it.

[2021-03-11 20:45] purcell commented on #2583
I don't use lsp-mode myself, but I guess the way to test it without setting up direnv etc. locally would be to set the `exec-path` and `process-environment` buffer-locally in a source code buffer and then start the lsp backend. The executable and environment used by lsp-mode to start the backend should be the buffer-local one if everything is working correctly.

e.g.

[code]

then start the LSP ba

[2021-03-11 22:33] otavioschwanck opened #2707 "LSP doen't work on macOS with M1 chip (arm)"
Before logging the bug, please make sure that:

**Describe the bug**
LSP doens't start on m1 mac.  Tried a lot of different LSPs.

On *Messages*:
def-edebug-elem-spec: Edebug spec has to be a list: [[&rest (symbolp bindat-type &optional ":pack-val" def-form)] &optional ":unpack-val" def-form]

**To Reproduce**
run M-x lsp

**Expected behavior**
Start LSP.

**Which Language Server did you use**
sol

[2021-03-12 09:49] michaelpj commented on #2704
What I'm trying to say is that `flycheck's` `group` doesn't seem like the right thing to set. I don't think that `source` corresponds to a tag for "multiple errors that relate to the same issue", it seems more like the `checker` (which is the "source" of the messages). Of course, you *could* group by `source` and that's not wrong, it just seems less useful than the alternative (given that it seems

[2021-03-12 10:09] yyoncho commented on #2704
Checker stands for:

[code]

and we have registered ourselves as `lsp` and it seems like `lsp` is the right thing to pass to flycheck since most likely it will break its internal logic.

@cpitclaudel can you advise? Language servers send us property `:source` which is like subgrouping of the diagnostics reported by one language server. What is the thing that corresponds to that in flycheck world?

[2021-03-12 10:45] hectorhon commented on #2275
Link to java debug server: https://github.com/microsoft/java-debug

[2021-03-12 16:00] cpitclaudel commented on #2704
I don't think `:group` is the right one here; we were thinking of `group` as a way to highlight locations related to a given error.  For example in C++ group would be used for `defined here` sub-messages.  I think we use it mostly in Rust at the moment.  For example this code with 4 error objects and two groups:

[code]

I think the `:source` in LSP is closer to what Flycheck would call a checker,

[2021-03-12 16:10] yyoncho commented on #2704
Thank you for the quick response.

I guess yes and no. Yes from the user point of view, no from flycheck's API point of view.

After @cpitclaudel response, it seems to me that this issue report has to be turned into flycheck feature request.

[2021-03-12 17:45] #2701 closed

[2021-03-13 15:47] shanemcd opened #2709 "lsp-mode hangs while "starting" over tramp without lsp-print-io"
Hello. I have been debugging hanging / performance issues with lsp-mode when I stumbled upon: https://emacs-lsp.github.io/lsp-mode/page/performance/#check-if-logging-is-switched-off

I tried to do this, but now lsp-mode does not start at all. Adding back `(setq lsp-log-io t)` solves the "starting" issue, but with that I start to see emacs freezing after using it for some time.

I found https://git

[2021-03-13 23:55] leungbk commented on #2707
We had someone with the same issue the other day. Did updating to the latest rev of Emacs 28 solve your issue?

[2021-03-14 07:09] yyoncho commented on #2707
as @leungbk  duplicate of https://github.com/emacs-lsp/lsp-mode/issues/2685

[2021-03-14 07:09] #2707 closed

[2021-03-14 14:16] bhipple commented on #713
Every time I open a python file in any git repo, emacs hangs for ~20 seconds while I mash C-g, then I try to open the file a second time and am greeted with a y/n prompt that adding file watches to everything in my home dir will be slow.  I've fixed it on my end by adding this:

[code]

I'm wondering if watching `$HOME` is the intended behavior, or if it's a bug in either `lsp-mode` or `spacemacs`

[2021-03-14 16:39] yyoncho commented on #713
most likely you have incidentally added the home folder as project root. Use M-x lsp-describe-session to check what are your project roots.

[2021-03-14 17:34] Dieken commented on #713
yes, projectile or some other elisp plugins may set wrong project root.

I have added `(setq lsp-enable-file-watchers nil)` to my emacs config,  haven't noticed any severe impact on user experience.

[2021-03-14 17:46] swarnendubiswas opened #2712 "Associate `.classpath` file with LSP XML"
**Describe the bug**
It will be useful to associate `.classpath` files with LSP for XML.

**To Reproduce**
I get the following message after opening a `.classpath` file in a project.

[code]

I get the same message with `emacs -q -l lsp-start-plain.el`.

**Expected behavior**
I would expect Emacs to connect to the XML server when I open a `.classpath` file in a project.

**Which Language Server di

[2021-03-14 18:19] nfedyashev commented on #1936
@leungbk thanks a lot for posting the snippet. Not knowing how to thank you I've just donated to emacs-lsp on https://opencollective.com/emacs-lsp instead

[2021-03-15 03:31] chung1905 commented on #2597
Sorry for late responding, I was busy for the last few weeks. I will update by the end of this week.

[2021-03-15 13:55] jakejx commented on #1621
FWIW I am running into the same issue with many `LSP :: Sending to process failed with the following error: Process gopls not running` messages. Emacs also slows to a crawl when that happens so it's hard to identify the root cause.

Anecdotally, it seems to happen after I jump definition to a file that is not part of the current workspace.

[2021-03-15 14:27] yyoncho commented on #1621
@jakejx - I am seeing that issue from time to time when restarting workspace, I will investigate it

[2021-03-16 02:08] jcs090218 opened #2715 "PR Labeler GH Actions removing label"
The original issue is here, https://github.com/emacs-lsp/lsp-mode/pull/2713.

The GH Actions will remove `CI` label automatically even though I have tried to add label itself. 😕

[2021-03-16 12:26] ericdallo commented on #2715
Could you open an issue on the https://github.com/actions/labeler?

[2021-03-16 12:34] jcs090218 commented on #2715
Ah. Okay. Do you want me to close this one?

[2021-03-16 12:35] ericdallo commented on #2715
We can keep it open until the issue is fixed there :)

[2021-03-16 12:43] jcs090218 commented on #2715
Link existing issue, https://github.com/actions/labeler/issues/112. It seems like there is no response yet.

[2021-03-16 16:16] MrTheSaw opened #2718 "Single quotes are too fancy in online docs"
In the online documentation, at least on the Python Palantir pages (https://emacs-lsp.github.io/lsp-mode/page/lsp-pyls/), the single quotes in the pip install command are the fancy matching quotes
### ’ ‘

and not the syntactically correct if boring tick marks available on the key to the right of my semicolon key
### ' '

[2021-03-16 16:27] #2718 closed

[2021-03-16 16:27] ericdallo commented on #2718
Fixed, thank you :)

[2021-03-16 16:47] #2189 closed

[2021-03-16 19:26] lvh commented on #2600
`(setq lsp-enable-indentation nil)` (or the equivalent customize setting) does not seem to address the behavior. Disabling aggressive-indent-mode ... mostly does? But there's still some weird lsp-mode behavior going on.

[2021-03-16 19:34] yyoncho commented on #2600
check the value of `indent-region-function` in the clj buffer, if it is still set to lsp-format-region then most likely you have st lsp-enable-indentation before opening the clj buffer. Also, provide more details about the problematic behaviour

[2021-03-17 07:41] hpdeifel commented on #2709
I also have this on Fedora 33  when tramping into a debian docker container.

My current workaround is to set `*lsp-log-io*` to `t` while starting and set it back to `nil` after some time so the session stays responsive.

[2021-03-17 09:02] RKBK commented on #2286
@SebastienWae

I just ran into issues with errors from the css-ls with a simple scss file like the following:
tmp.scss
[code]

After some guidance from @yyoncho , we got to the conclusion that we needed probably the new version of the css-ls that you have built.

This is just to say that if you manage to find the time to do the automation work you mentioned, so that this can be maintained in emacs

[2021-03-17 13:03] Anton-Latukha commented on #713
Spitballing:

Linux filesystems for many years ship the `inotify` with a directory mode, which allows having 1 watcher for the directory:
Old system was `dnotify`: https://www.kernel.org/doc/html/latest/filesystems/dnotify.html, then [`inotify`](https://en.wikipedia.org/wiki/Inotify), [LWN docs on it](https://lwn.net/Articles/604686/).

[2021-03-17 17:58] roiholtzman opened #2722 "Julia language server cannot start"
The Julia language server, `lsp-julia` cannot start.

I use doom emacs on MacOS. I upgraded doom and the problem continues.
A surprising thing is that initially everything worked great. Then I restarted emacs and the problem appeared. Using some help on discord I upgraded doom emacs, but still things are not working.

The error from `Julia-ls::stderr`:
[code]

in the `lsp-log` there is:
[code]

[2021-03-17 18:01] jonhermansen commented on #2615
I had a very similar issue on Windows.

Upgrading my packages (and also adding `dash` as an additional package) seems to have helped.

Now LSP prompts me when opening a .c file, if I want to import the project.

[2021-03-17 19:16] nbfalcon commented on #2615
@jonhermansen just press `i` once, and the project will be remembered.

[2021-03-19 19:34] DirtYiCE opened #2732 "Can't auto install csharp because of Forbidden error"
Trying to auto install `csharp` results in the following in `*Messages*`:

[code]

`*lsp-install*` buffer doesn't exists and `*lsp-log*` only contains a bunch of unrelated `Command "..." is (not) present on the path.` lines. Interestingly if I open that URL in a browser, I get a json file back, and in the past I've installed the bash server from lsp so it should work generally.

Using lsp-mode 7.0

[2021-03-19 19:39] yyoncho commented on #2732
@razzmatazz willing to take a look?

[2021-03-20 07:24] razzmatazz commented on #2732
Hey @DirtYiCE

Can you try to open the url in eww inside emacs? (`M-x eww` -- then enter the url `https://api.github.com/repos/OmniSharp/omnisharp-roslyn/releases`). This should test if https (ssl) works within emacs -- I am wondering if this might be related to ssl libraries linked to your emacs version?

Also.. have you tried running `M-x lsp-csharp-update-server`? Does that work -- I am wonderi

[2021-03-20 13:25] DirtYiCE commented on #2732
Hello @razzmatazz,
`eww` gives me this:
[code]
I'll try to recompile emacs with libxml2 support and see if it changes anything.

`M-x lsp-csharp-update-server` results in a similar problem:
[code]

[2021-03-20 13:30] DirtYiCE commented on #2732
Okay, after a recompile I get this:
[code]

[2021-03-20 13:35] DirtYiCE commented on #2732
Hmm, okay, with `emacs -Q` eww opens the urls fine, so I guess something is with my local config, but I can't find anything in my init.el related to http or user agents. Any ideas what could be the problem?

[2021-03-20 13:38] razzmatazz commented on #2732
I did a quick google and I found this:
- https://www.reddit.com/r/emacs/comments/40sol0/emacs_user_agent/

Maybe you can do `F1 f` and then enter `url-http-user-agent-string` so you can find which package/config redefines the user agent fn (if any)?

[2021-03-20 13:46] DirtYiCE commented on #2732
Ah, I found it, a while back I set `url-privacy-level` to `paranoid` which means don't even send a user-agent header. Setting it to `high` or lower seems to fix this issue, and I could install it.
And immediately receive a `LSP :: Error from the Language Server: Internal Error - System.NullReferenceException: Object reference not set to an instance of an object`, but I think that's not lsp-mode's

[2021-03-20 17:40] aaronjensen commented on #2612
In general, it's been my experience that since moving away from `company-lsp` (which was an async company backend) that `company-capf` is pretty much unusable with a low `company-idle-delay`. A return to `company-lsp` would be welcome, though maybe this inquiry will lead somewhere...

[2021-03-20 17:49] RomeuG commented on #2612
I totally agree with you. I don't remember having these kinds of issues with `company-lsp`.

[2021-03-20 17:53] yyoncho commented on #2612
The only way company-capf to block if you somehow force non-essential call, my personal opinion is that we should never block.

By default, company-capf does not block.

[2021-03-20 17:56] aaronjensen commented on #2612
Sorry to disagree, but in practice that's just not the case. In typescript projects typing stutters all the time with an idle delay of 0.125. When I disable company it goes away. When I replace it with company-lsp and add stubs for the now missing functions, it goes away.

[2021-03-20 17:57] yyoncho commented on #2612
@aaronjensen do you see it with lsp-start-plain.el? If yes, can you provide a project to reproduce the issue with? I think that at some point doom had issues related to forcing non-essential calls.

[2021-03-20 18:06] yyoncho commented on #2612
@aaronjensen can you test after removing the `non-essential `, like this:

[code]

[2021-03-20 18:23] mtbar131 commented on #2701
I am still seeing this behavior even after updating to latest lsp-mode. I can provide more information / debug output if that helps.

[2021-03-20 18:26] yyoncho commented on #2701
@mtbar131 can you tell me which server do you use and is it easy to reproduce the issue(eventually sample project will help too).

[2021-03-20 18:43] mtbar131 commented on #2701
I am using `gopls` but it is not very easy to reproduce this. I usually start seeing this after opening my projects and working with them for around half an hour or so. I will still give it a try to reproduce this with a sample project.

[2021-03-20 18:44] yyoncho commented on #2701
generally, if you set lsp-enable-links to nil, the issue should go away.

[2021-03-20 18:53] mtbar131 commented on #2701
Cool, let me try that and see if that fixes the issue.

[2021-03-20 23:23] crabbkw opened #2735 "lsp-file-watch-ignored-directories is not always honored if it is buffer-local"
`lsp--folder-watch-callback` is invoked when a new folder is created or deleted inside a watched folder. This callback can occur at any time. If a new folder is created then a new watch may be created for the new folder. `lsp--folder-watch-callback` checks to see if the newly-created folder matches any entry in `lsp-file-watch-ignored-directories`. Unfortunately, the value of that variable may be

[2021-03-21 00:11] crabbkw commented on #2735
I have opened PR #2736 to address this

[2021-03-21 03:58] aaronjensen commented on #2612
@yyoncho my problem appears to be garbage collecting. It seems that LSP auto complete, regardless of whether or not it's company-lsp or company-capf triggers garbage collecting every other character that's typed pretty much.

So, I was mistaken when I said it worked with company-lsp, I apologize for that.

One thing of note is that I too am on native-comp, so perhaps it has something to do with th

[2021-03-21 04:06] aaronjensen commented on #2612
Something looks very wrong. This is a memory profile. Typing about 8 characters led to 300MB of allocation?

[code]

[2021-03-21 06:28] kiennq commented on #2612
@aaronjensen I don't think you should set the `gc-cons-threshold` to very high value. Depends on language server, the json message passing around can be huge and it can quickly reach very high memory usage. Which in turn will freeze Emacs forever for garbage collecting.
I'm setting `(setq gc-cons-threshold #x8000000)` and pretty comfy with that.

Can you try with https://github.com/emacs-lsp/lsp-m

[2021-03-21 07:05] yyoncho commented on #2612
Also, can you include memory profile?

[2021-03-21 07:15] aaronjensen commented on #2612
@kiennq I know I shouldn't, I only mentioned that as an experiment. I'm currently trying out 1GB along w/ gcmh which will GC on idle. This at least allows me to type without constant stutters.

Here's the memory profile with that patch:

[code]

And here's a profile on Emacs 28 master w/o native-comp (also with that patch). I typed more on the above profile, which is probably why the memory usage

[2021-03-21 07:55] kiennq commented on #2612
Can you also post cpu profile too?

[2021-03-21 08:26] yyoncho commented on #2612
@aaronjensen is this a public project?

[2021-03-21 09:04] yyoncho commented on #2612
I was able to reproduce the issue - I will investigate where the issue comes from.

[2021-03-21 09:49] yyoncho commented on #2612
I am receiving 1500 $progress notifications when performing 1 completion...

[2021-03-21 11:06] RomeuG commented on #2612
@aaronjensen

It definitely improves. I still did notice some hiccups here and there, but not as bad like before.

[2021-03-21 11:57] chung1905 commented on #2597
Here is my PR: https://github.com/emacs-lsp/lsp-mode/pull/2737
Please help me review this.

Thing I want to improve but I don't know how:
- I'm checking if composer is installed by `(eq (shell-command "composer -V") 0)`
- I think it's bad, because it creates new buffer: `*Shell Command Output*`

Thanks for your help.

[2021-03-21 12:01] yyoncho commented on #2597
you may use `executable-find`

[2021-03-21 12:04] yyoncho commented on #2612
can you test - https://github.com/yyoncho/lsp-mode/commit/24bc84554d4a3509d0c79804f234872af868de91 ?

[2021-03-21 16:56] aaronjensen commented on #2612
That did not appear to change anything for me.

<details>
<summary>memory profile</summary>

[code]

</details>

[2021-03-21 17:07] aaronjensen commented on #2612
One oddity... Looking at the lsp-io logs, I see that when the completion info comes back for me typing "Re" it includes essentially the entire dictionary of top level symbols. Furthermore, because I have `date-fns` as a dependency and the way that TypeScript appears to resolve autocompletes, it includes each function multiple times.

Furthermore, it appears to send responses even for canceled requ

[2021-03-21 18:20] yyoncho commented on #2612
the comment was for rust-analyzer issues. Is your project public? We need to measure the size of the ts-ls response. if it is too much, the only option seems to be to ask the server devs to start returning partial results. As a side note, I believe that if you compile lsp-mode with lsp-use-plists = t, the gc pressure will be decreased.

[2021-03-21 19:08] aaronjensen commented on #2612
No, the project is not public, but this minimal react app reproduces it:
https://github.com/aaronjensen/lsp-completion-repro

Set `company-idle-delay` to `0`
You can also set `company-minimum-prefix-length` to `1`
Open `App.tsx`

Above the `App` declaration, type `Rea`

It doesn't grow as quickly as our app does because our app has more dependencies and more top level declarations, but this gives

[2021-03-21 19:23] yyoncho commented on #2612
Results are context-dependent

Other servers tend to filter top-level results and return partial results which involve server-side filtering.

[2021-03-21 19:32] aaronjensen commented on #2612
I did some testing in VS Code and it seems like they get the same results (that is, every single possible completion assuming no prefix). They do not, however, re-request completion when the prefix changes. If you go somewhere else in the file and start typing there, it re-requests.

Understood, though for top level variables, that context with ts-ls is the global context and that's the same regar

[2021-03-21 19:34] aaronjensen commented on #2612
Oh, and I tested `lsp-use-plists t` and it still ate memory quickly, but I can't say whether or not it slightly decreased memory usage.

[2021-03-21 19:35] yyoncho commented on #2612
We cannot do that because we don't know if the initial request was partial or not.

[2021-03-21 19:36] aaronjensen commented on #2612
What do you mean by partial?

[2021-03-21 19:45] kiennq commented on #2612
Can you take an io trace when typing? `lsp-mode` should do the cache automatically if the server is saying it has sent all data.
Also can you check the value of your `lsp-completion-no-cache`?

[2021-03-21 19:46] yyoncho commented on #2612
The initial result might be partial and not containing all of the result items, thus we have to make another request. If we wait for the first result without making a second we will have to make another call but with a redundant delay.

I am testing with your project, and I don't see any huge delay also the responses are pretty small, ~1mb. Can you eval the following:

[code]

This will give us an

[2021-03-21 19:47] yyoncho commented on #2612
@kiennq the issue is that the server was unable to respond in time, and we make a second request then we receive the first response and we have to parse it because there is no way to know that the request is canceled.

[2021-03-21 19:51] aaronjensen commented on #2612
[code]

That's evalling, then holding `R` until it typed 6 times. With a little more playing around, some responses are `1123844`.

I have no idea why memory usage is growing so quickly compared to the payload sizes.

[2021-03-21 20:04] yyoncho commented on #2612
what is your gc-cons-threshold? These values are not that big.

[2021-03-21 20:06] aaronjensen commented on #2612
When this started it was 16MB. But as the memory profile shows, memory allocation grows to 100s of MB after typing just a few characters. Furthermore, a GC is triggered almost every other character typed. The payload sizes aren't massive, but something is causing them to allocate 100s of MB.

[2021-03-21 20:17] yyoncho commented on #2612
I tested with emacs 28 from yesterday with native comp and also with emacs 27.1, using the config from https://emacs-lsp.github.io/lsp-mode/tutorials/reactjs-tutorial/ and I didn't saw any gc spikes. Can you try to collect memory allocation from that scenario(holding 6 times R) so I can try to compare it with the one on my side.

[2021-03-21 20:32] aaronjensen commented on #2612
This is with my config.

<details>

<summary>profile</summary>

[code]

</details>

Unfortunately I'm not able to get the tutorial configuration working right away due to path/node installation issues.

For your test, please make sure you have company-mode enabled and:

[code]

[2021-03-21 20:38] aaronjensen commented on #2612
Also, that config defaults to gc cons threshold of 100MB, which may be enough to prevent stutters when typing normally in this scenario.

Here's the profile from the config you linked to:

<details>
<summary>profile</summary>

[code]

</details>

[2021-03-21 21:22] yyoncho commented on #2612
@aaronjensen I can confirm that memory generation is similar but with 100mb GC cons threshold I don't see big lags. I will do some investigation to see if we can reduce the memory footprint. We soon switch to plists as well.

[2021-03-21 21:45] yyoncho commented on #2612
@aaronjensen which is your emacs 28 commit? It might be GC perf regression.

[2021-03-21 22:43] aaronjensen commented on #2612
Is there a known regression? I don’t have the commit handy but it’s within the last month.

GC only takes about 250ms but that’s super noticeable when typing and combined with the 60ms parse time(s).

I’m using 1gb gc cons threshold for now and I’ll see how that goes, but yeah improvements to memory consumption would be great.

[2021-03-22 03:37] chung1905 commented on #2597
I updated code.

Thanks

[2021-03-22 08:53] Nathan-Furnal commented on #713
I don't understand what's in `lsp-file-watched-ignored-directories` ? I want to ignore my home folder `my/home/` because anytime I start a random file without a project, lsp freezes Emacs and asks if I want to watch my entire home directory. It's never the case and I don't know how to stop it? @yyoncho

[2021-03-22 08:56] yyoncho commented on #713
@Nathan-Furnal check whether you have accidentally added your home dir as a root folder. Do `M-x lsp-describe-session` and then use `M-x lsp-workspace-folders-remove`.

FWIW I will change the code that counts the file in workspace folders to stop when it hits the file limit.

[2021-03-22 09:11] Nathan-Furnal commented on #713
Thanks that worked for me! Is there any way i can tell lsp to use the current folder when there's no project? I don't write files in my home folder and that'd be a useful alternative when i just want to write a short file.

[2021-03-22 09:16] yyoncho commented on #713
@Nathan-Furnal press `I` when you are asked to select project root.

[2021-03-22 09:17] Nathan-Furnal commented on #713
Fair enough, sorry I didn't know it was that obvious

[2021-03-22 18:36] mack1070101 commented on #655
@seagle0128 do you have any insight into how to make `org-babel-expand-src-block` work outside of `centaur-emacs`? If I open a block with `org-babel-expand-src-block` I get
[code]

## System info
- `Spacemacs 0.300`
- Emacs 28.500 (Native comp branch)
- 9.4.4
- Lsp version `LSP :: lsp-mode 20210321.1904, Emacs 28.0.50, darwin`
- LSP Server [sqls](https://github.com/lighttiger2505/sqls/issues?q=is%

[2021-03-22 22:55] Andre0991 opened #2738 "There is no way to always add or remove projects from a given directory to the workspace"
(I guess this is more like a feature request, sorry if this is not the appropriate forum for that).

Sometimes I’m on a project and I use ‘go to definition’ in some function that comes from a lib in  `~./m2`.

Then, LSP asks if I want to add the project to the workspace list etc.

The annoying thing is that LSP always asks me if I want to add it.

So it would be nice to be able to _always_ ignore

[2021-03-22 23:17] ericdallo commented on #2738
@yyoncho I thought [this](https://github.com/emacs-lsp/lsp-mode/blob/master/clients/lsp-clojure.el#L228-L231) was the way to fix that, but it seems it's not working, do you know why?

[2021-03-23 03:13] Aaronzinhoo commented on #2286
@RKBK Just ran into an issue with completion in `scss` also when trying to use the `use` import statement as well. I am guessing that a new up to date server will fix this since `use` is newer and the vscode server is about 3 years old now without any updates.

[2021-03-23 07:36] yyoncho commented on #2738
Maybe this

does not work on @Andre0991 PC.

[2021-03-23 12:12] ericdallo commented on #2738
It seems to doesn't work for everyone, including me, I'm just not sure if that's is the correct way to do that  😅

[2021-03-23 13:26] Andre0991 commented on #2738
I confirmed the at least the string match part does work (it's true and the when's body is executed).

[code]

[2021-03-23 15:23] jsmestad commented on #2286
@SebastienWae inquiring minds would like to know 😉 did you make any more progress?

[2021-03-23 19:53] ericdallo commented on #2738
Yeah, I could repro the same thing, still lsp-mode asks for the root, not sure why

[2021-03-24 06:45] declanqian opened #2739 "Lsp eslint auto install server hang my Emacs"
Lsp eslint auto install server hang my Emacs

**Describe the bug**

I only use lsp-eslint for now. So I have following setup

[code]

When I in a js buffer, hit command `lsp`. It prompt to install `eslint`.
After I select eslint, my Emacs became unresponsive.

**To Reproduce**

- `emacs -q -l lsp-start-plain.el`
- Disable all other lsp clients from `(customize-group 'lsp-mode)`,
by remove register

[2021-03-24 06:47] nbfalcon commented on #2739
Have you tried pressing `i`? `Fread_from_minibuffer` suggests some sort of prompt, which is more-or-less blocking.

[2021-03-24 07:14] declanqian commented on #2739
Tried on Linux
GNU Emacs 28.0.50 (build 1, x86_64-pc-linux-gnu, GTK+ Version 3.24.27, cairo ve\
rsion 1.17.4) of 2021-03-21

[code]
Then

[code]

[2021-03-24 07:28] declanqian commented on #2739
i is undefined it says @nbfalcon

[2021-03-24 07:36] declanqian commented on #2739
I think there are two issues here.
- `(url-copy-file (lsp-vscode-extension-url "dbaeumer" "vscode-eslint" "2.1.14") "/tmp/output")`
<b>Sometimes</b> `out` is a text file with content, not zip file
```{"$id":"1","innerException":null,"message":"Request was blocked due to exceeding usage of resource 'Count' in namespace 'AnonymousId'. For more information on why your request was blocked, see the top

[2021-03-24 07:42] yyoncho commented on #2739
exit-minibuffer()
 completion--complete-and-exit(111 111 exit-minibuffer #f(compiled-function ()$
 completion-complete-and-exit(111 111 exit-minibuffer)
 minibuffer-complete-and-exit()
 funcall-interactively(minibuffer-complete-and-exit)
 command-execute(minibuffer-complete-and-exit)

What do you do to get that error?

[2021-03-24 07:45] declanqian commented on #2739
After auto installation, any keyboard input with `Ctrl` and `Meta` key I think.

However, for single `char` key, says it's undefined.

[2021-03-24 07:48] yyoncho commented on #2739
You have some kind of prompt in the minibuffer. Do y/n work? The prompt will be available in the messages buffer.

This code will install eslint.
[code]

[2021-03-24 08:30] declanqian commented on #2739
https://streamable.com/yxeick

[2021-03-24 08:33] yyoncho commented on #2739
Can you keep messages buffer side by side? Also, can you try with emacs 27.1?

Apparently eslint is installed. What happens the second time you try to open the file?

[2021-03-24 09:02] declanqian commented on #2739
Eslint is installed because I did some changes to lsp-mode

[code]

Below is the screen cast for emacs 27.1

https://imgur.com/maNJq4y

[2021-03-24 09:03] yyoncho commented on #2739
Press `TAB`

[2021-03-24 09:06] declanqian commented on #2739
https://imgur.com/FnBA4IN

[2021-03-24 09:09] yyoncho commented on #2739
Do you have nodejs installed on that machine and present on the path which emacs is running with? On your last video, the tab does not work because of the backtrace dialog. How do you get it?

[2021-03-24 09:11] declanqian commented on #2739
https://github.com/emacs-lsp/lsp-mode/issues/2739#issuecomment-805563136

Cause the downloaded file is not a zip file but a text file with

[code]

[2021-03-24 09:16] declanqian commented on #2739
I didn't kill the emacs. the dialog if from previous video.
https://imgur.com/maNJq4y  @yyoncho

[2021-03-24 09:17] yyoncho commented on #2739
Do you have nodejs installed and on the path?

[2021-03-24 09:20] declanqian commented on #2739
yeah. I have `node` installed and it's on the path

[2021-03-24 09:23] yyoncho commented on #2739
What do `(lsp-eslint-server-command)` and `(lsp-eslint-server-exists? (lsp-eslint-server-command))` return?

[2021-03-24 09:24] declanqian commented on #2739
I mean, it works fine if I manually set `lsp-eslint-server-command`
https://github.com/emacs-lsp/lsp-mode/wiki/LSP-ESlint-integration.
All works fine.

I was trying to point out that there is issue when using the auto installation
for the first time

[2021-03-24 09:26] yyoncho commented on #2739
Is the issue related to rate limiters or not?

[2021-03-24 09:28] declanqian commented on #2739
Separated I think

[2021-03-24 09:35] yyoncho commented on #2739
I tested with both emacs 27.1 and the latest emacs 28 using lsp-start-plain.el and it works fine with both. To me it looks like you are pressing C-g and then you are not pressing `c` in the backtrace dialog which is breaking Emacs..

[2021-03-24 09:41] declanqian commented on #2739
Ah, pressing c. Thanks for your time. This is new information for me.

[2021-03-25 06:39] declanqian commented on #2739
Just figured out the issue `lsp--find-root-interactively` is been called
from `lsp-download-install`'s  `make-thread` block.

According to this article https://tvraman.github.io/emacspeak/blog/async-and-threads.html#orgddc2037

No catch for ...
The only way to come out is to kill Emacs

A simple snippet to replicated the issue
<b>(Make sure to start a new Emacs process)</b>

[code]

[2021-03-25 09:29] rtpg opened #2741 "Is LSP doing too much work when watching folders"
So my understanding is that when file watching is happening, we _only watch_ directories through setting up a notification watch on various sub directories.

However, in `lsp-watch-root-folder`, I'm seeing some of the following:
- calling `(lsp--directory-files-recursively dir ".*" t)` which includes directories but also just includes files as well
- checking the file watch threshhold against the

[2021-03-25 09:45] yyoncho commented on #2741
Refer to https://github.com/emacs-lsp/lsp-mode/issues/713#issuecomment-803901668

Closing as duplicate.

[2021-03-25 09:45] #2741 closed

[2021-03-25 09:45] yyoncho commented on #2741
This is the correct comment link: https://github.com/emacs-lsp/lsp-mode/issues/713#issuecomment-473458528

[2021-03-25 15:08] rtpg commented on #2741
Sorry, I think that that comment is related to more specific optimizations, but this issue in particular is just about how (based on my reading of the elisp) we are _only creating file watches on directories_ in the current version anyways. So my proposal here would be to modify the function that builds up the watch list to only return directories (since other files will be filtered out anyways),

[2021-03-25 15:16] yyoncho commented on #2741
I am not sure whether OS uses the same resources to watch one folder with 5 files and one folder with 1000 files. Thus it is not clear whether this solution is correct. Someone proposed changing the function which counts the files to stop when we hit the limit (this will require a change of wording in the error message). I think that this is a good improvement and also it will solve your issue as

[2021-03-26 02:35] billop commented on #2044
Is the way to do this as an end user by registering custom servers to implement that sort of logic ourselves?

[2021-03-26 05:42] rtpg commented on #2741
So I looked around the various notification libraries used by emacs in . I am not 100% sure of this but my reading up of all the libraries involved and trying to figure out the implementations leans me to believe that directory watches' costs don't increase based on the number of files (basically I think the internals are like "when file edit happens, signal to directory as well". The actual file

[2021-03-26 05:45] rtpg commented on #2741
![image](https://user-images.githubusercontent.com/1408472/112587906-d0153000-8e41-11eb-8810-6e8d88c776a3.png)
And here are the profiling results... I mean it's definitely faster! But still a bit iffy in my opinion. This might be enough perf for my usages though

[2021-03-26 07:26] yyoncho commented on #2044
@billop you can use `with-eval-after-load`. FTR lsp-activate-on is what we are going to use in the future.

[2021-03-26 09:56] matianhe3 opened #2743 "rust-mode error"
[code]

[2021-03-26 10:19] yyoncho commented on #2743
Where are these messages from? Check if rls starts when started in the command line.

[2021-03-26 11:36] matianhe3 commented on #2743
![image](https://user-images.githubusercontent.com/24929062/112625724-46c62380-8e6a-11eb-9d87-c13823fb4e59.png)

config:
[code]
In `Message`:
[code]

IN `lsp-log`:
[code]

IN `rust-analyzer::stderr`:
[code]

[code]

[2021-03-26 11:55] yyoncho commented on #2743
Have you selected the correct project root? It should have Cargo.toml in it. Use M-x lsp-describe-session and lsp-workspace-folders-add/remove

[2021-03-26 12:04] matianhe3 commented on #2743
![image](https://user-images.githubusercontent.com/24929062/112628875-7b3bde80-8e6e-11eb-8594-7bd4821b3d9e.png)

[2021-03-26 12:20] yyoncho commented on #2743
Looks like rust-analyzer is not able to find `cargo`. Is it on `emacs` path? Use `M-: (executable-find "cargo")` to check that.

[2021-03-26 12:28] matianhe3 commented on #2743
[code]

[2021-03-26 12:56] kiennq commented on #2743
@matianhe3 It seems that your rust is not properly setup.
Are you install rust via rustup?
Try to run `rustup update stable` and `rustup default stable`.

[2021-03-26 12:59] matianhe3 commented on #2743
[code]

[2021-03-26 13:50] kiennq commented on #2743
Does the error still persist even after that?

[2021-03-26 14:39] matianhe3 commented on #2743
yes

[2021-03-26 14:42] yyoncho commented on #2743
Did you run  `cargo --version` in your project?

[2021-03-26 14:44] yyoncho commented on #2743
But please, make sure that you are running it in the same folder that you have selected for project root.

[2021-03-26 15:03] artus-lla commented on #2364
On Windows, execute you cmd with Administrator permission. Next execute npm command

[2021-03-26 15:39] bingoUV opened #2744 "getting error void-function for -compose"
In latest `lsp-mode` from melpa (lsp-mode-20210321.1904), when loading `lsp-mode`, I get an error `void-function` for `-compose`. I see that the method `-compose` is present in `dash-functional`, but `lsp-mode` requires only `dash`.

This gets fixed by adding a `require` of `dash-functional`. This will remain in my personal fixes, but I do not have the skills to fix it in a manner clean enough for

[2021-03-26 15:44] yyoncho commented on #2744
-compose was moved in dash.el. If you update it it will work fine.

[2021-03-26 15:44] #2744 closed

[2021-03-26 20:22] yyoncho commented on #2741
Ok, let's try it. Willing to turn this into a PR?

[2021-03-26 20:36] yyoncho commented on #2741
As a side note, if you are interested - you may try also to incorporate emacs threads in establishing the watches. I have that on my todo list. The idea is to do all the IO work in bkg thread and do thread-yeild from time to time to allow user events to be handled.

[2021-03-26 20:54] JordanAnthonyKing opened #2745 "imenu does not leverage textDocument/documentSymbol for typescript"
**Describe the bug**
For typescript imenu does not categorise symbols:

![image](https://user-images.githubusercontent.com/58787893/112689612-737e3900-8e72-11eb-92e5-7eefdffff098.png)

This behaviour is as expected in other language servers such as css:

![image](https://user-images.githubusercontent.com/58787893/112689742-9872ac00-8e72-11eb-83d4-91c4b913998b.png)

I have verified that `lsp-enable

[2021-03-26 21:17] yyoncho commented on #2745
cc @nbfalcon

[2021-03-26 22:52] crabbkw commented on #2735
This was resolved by changing the supported behaviour.

lsp-file-watch-ignored-directories and lsp-file-watch-ignored-files are now only honored when configured at either:
* the global level
* via directory locals at a root of an lsp workspace

When a workspace is started, for each root the value of those variables is captured and used throughout the lifetime of that workspace. Changes in those va

[2021-03-26 22:52] #2735 closed

[2021-03-27 08:12] matianhe3 commented on #2743
~/rust ❯❯❯ ls
Cargo.toml src
~/rust ❯❯❯ cargo --version
cargo 1.51.0 (43b129a20 2021-03-16)

[2021-03-27 08:16] yyoncho commented on #2743
Can you paste the content of messages buffer after doing `M-x lsp`?

[2021-03-27 09:31] matianhe3 commented on #2743
[code]

[2021-03-28 01:30] rtpg commented on #2741
Alright! I'll write up a PR and look at the background thread stuff. Thanks for being so responsive, it's very motivating to try and work through this

[2021-03-28 14:05] ericdallo commented on #2738
@Andre0991, Could you test on latest lsp-mode, I made some changes that may fix the issue, not sure, but it worths a shot

[2021-03-28 18:30] Andre0991 commented on #2738
Sure, I'll test it. But it seems that `2021.03.24-00.41.55` is the latest version for the `clojure-lsp-native` formula yet.

[2021-03-28 18:32] ericdallo commented on #2738
I meant lsp-mode, not clojure-lsp :p

[2021-03-28 19:09] Andre0991 commented on #2738
Oops, of course 😅

I confirm it works, thanks ⭐️

Note: `lsp-version` returns an error:

![image](https://user-images.githubusercontent.com/7083061/112764625-d80ad680-8fdf-11eb-8187-65dfdb46369d.png)

I dunno if this is a regression, I don't remember if I tried this command before.

Also, I use `doom-emacs`,  if this matters.

Anyway, I'm closing this issue.

[2021-03-28 19:09] #2738 closed

[2021-03-28 19:13] ericdallo commented on #2738
Nice!
I think you re-byte-compile should fix the issue, right @yyoncho ?

[2021-03-28 19:56] yyoncho commented on #2738
is it working for you on doom? This function is using package.el stuff so it may not work on straight.

[2021-03-29 07:01] stardiviner opened #2749 "How to display parameters doc in overlay instead of minibuffer"
![lsp display function parameters doc in minibuffer](https://user-images.githubusercontent.com/378699/112798495-8c1f6680-909f-11eb-8b4b-6ab1bc3157aa.png)

How to set lsp-mode to display the function parameter documentation in overlay popup instead of minibuffer?

[2021-03-29 07:15] yyoncho commented on #2749
After installing posframe package you may use  `(setq lsp-signature-function 'lsp-signature-posframe)`

[2021-03-29 07:22] stardiviner commented on #2749
Thanks @yyoncho

[2021-03-29 07:22] #2749 closed

[2021-03-29 07:37] MaksVal opened #2750 "some problem with lsp package after update emacs to 27.2"
Hi!
I updated my emacs to 27.2 and my lsp was broken.
When I opening some_file.c then I taking this error:
```File mode specification error: (void-function -andfn)```
[code]
Also:
[code]

Thanks! :)

[2021-03-29 07:47] yyoncho commented on #2750
make sure you have loaded the correct dash version and that it is the latest one from melpa:

`-andfn` is present in it: https://github.com/magnars/dash.el/blob/master/dash.el#L3095

[2021-03-29 07:47] #2750 closed

[2021-03-29 07:48] yyoncho commented on #2750
There are several issues related to dash, I am marking this as closed but you can still use it for further questions.

[2021-03-29 08:10] MaksVal commented on #2750
Thanks.
I checked. My dash version from master and -andfn is the same.(((

[2021-03-29 08:32] yyoncho commented on #2750
Are you sure that you have loaded that `dash` package? Are you on spacemacs?

[2021-03-29 08:38] MaksVal commented on #2750
Yes, I am sure. I don't use spacemacs.

[2021-03-29 08:40] yyoncho commented on #2750
What happens when you do M-x find-function RET -andfn RET? Recompiling/reinstalling the packages might help too.

[2021-03-29 08:49] MaksVal commented on #2750
sorry. I foiund my trouble. I using cask and last update it was broken. sorry.

[2021-03-30 06:30] merrickluo opened #2753 "hover not working properly when running add-on langauge server"
**Describe the bug**
When running language server `lsp-javascript`  and `lsp-tailwindcss` with `add-on?` set to t, after hover on a tailwindcss className, lsp-mode shows this error message
[code]
I managed to locate the problem, it seems that `lsp-mode` combines the `textDocument/hover` results of the two language server in a list, if I run `ts-ls` alone, the result for `textDocument/hover` is
[co

[2021-03-30 09:13] merrickluo commented on #2753
havent' update for couple of days, seems to be fixed in https://github.com/emacs-lsp/lsp-mode/pull/2654, sorry for the spam.

[2021-03-30 09:13] #2753 closed

[2021-03-30 14:44] juergenhoetzel commented on #2591
I had the same issue in `eglot-fsharp`. `chmod` workaround: https://github.com/fsharp/emacs-fsharp-mode/pull/269/commits/0461fc401229fecf61b4820237ddcbeb8b05e9e9

[2021-03-30 16:05] miker2049 commented on #2739
For what its worth here, I too am not getting a zip file from either the automatic install or attempting the manual
[code]
and I get back the same rate limited message
[code]
building the extension manually and linking it to the defined `unzipped` folder makes it work

[2021-03-31 14:24] philip-bl commented on #2435
Is there a workaround to use while this is not fixed?

[2021-03-31 16:17] yyoncho commented on #2435
@philip-bl try `(setq lsp-headerline-breadcrumb-enable nil)` but before the first time lsp-mode is started.

[2021-04-02 10:19] rakllie commented on #515
It would be nice if lsp-mode has a command to choose from available clients for current session.
Currently it seems that we can only do that by changing `lsp-clients` variable manually?

[2021-04-02 10:22] yyoncho commented on #515
You can use M-x customize-variable and set lsp-enabled-clients/lsp-disabled-clients.

[2021-04-02 10:39] rakllie commented on #515
Thanks, that's much more convenient!
I still think offering an interactive command to choose clients for current session is worth considering though, since it's easier to discover.

[2021-04-02 19:34] nosewings opened #2757 "ocaml-lsp-server can't resolve paths with spaces"
**Describe the bug**

When working on a project with `ocaml-lsp-server` in a directory whose path has spaces, the server is unable to resolve files in the same directory.

**To Reproduce**

1. `mkdir "Test Directory"; cd "Test Directory"`.
2.  `touch FileA.ml`
3. `echo "open FileA" > FileB.ml`
4. `ocamlc *.ml`
5. Open `FileB.ml` in Emacs: it gives the error `Unbound module FileA`.

**Expected beha

[2021-04-02 19:53] nosewings commented on #2757
[lsp-mode-logs.txt](https://github.com/emacs-lsp/lsp-mode/files/6251068/lsp-mode-logs.txt)
[katelogs.txt](https://github.com/emacs-lsp/lsp-mode/files/6251070/katelogs.txt)

[2021-04-02 20:03] yyoncho commented on #2757
@nosewings AFAICS you have picked a different project root in kate. In kate, the project root is your home folder, without the part with space in it.

[2021-04-02 20:50] nosewings commented on #2757
OK, after re-testing with the appropriate project root, it still works in Kate. (The only way was able to make this work was by adding the line `{"servers": {"ocaml": {"rootIndicationFileNames": ["FileA.ml"] }}}` to the file `~/.config/kate/lspclient/settings.json`.)
[katelogs2.txt](https://github.com/emacs-lsp/lsp-mode/files/6251201/katelogs2.txt)

[2021-04-03 07:10] blahgeek opened #2758 "One keystroke lag while waiting for completion"
So I encountered this weird problem with ts-ls server: it seems that sometimes, when emacs is waiting for the completion result, there's always one keystroke lagging. It does not happen every time, only sometimes.

For example:

---

At first, I'm in this state (`|` means the cursor): `xxx.|`. There's no completion popup yet (apparently sometimes it took ts-ls about 10 seconds to get the completio

[2021-04-03 07:14] yyoncho commented on #2757
As far as I can see the difference is in %20 encoding which should be supported by the server as per the spec.

[2021-04-03 07:15] yyoncho commented on #2757
This is the RFC linked from the lsp spec - https://tools.ietf.org/html/rfc3986 . Please open server bug.

[2021-04-03 07:25] yyoncho commented on #2758
To avoid blinking of the popup lsp-mode will return the previously available results if it is unable to retrieve/calculate the new result when the user is typing. This is controlled by `lsp-completion-use-last-result`.

[2021-04-03 10:36] blahgeek commented on #2758
I think it should only affect the content in the completion popup? In my case, the last character I type is not shown in the buffer. I don't think that's expected.

[2021-04-03 11:39] yyoncho commented on #2758
Got it. Which commit is your emacs built from? Can you test with other versions as well?

[2021-04-03 12:10] blahgeek commented on #2758
I'm using emacs from [nixpkgs](https://github.com/nix-community/emacs-overlay), version 20210312, which I believe is either https://github.com/emacs-mirror/emacs/commit/82bd6d57d54d4cdb205d921c2476d1dbb17f4188 or https://github.com/emacs-mirror/emacs/commit/d018584814e0c15f13bc458ba54491239b584069 (they changed the commit in the same version once so I'm not sure....)

I will update to the latest v

[2021-04-03 15:59] blahgeek commented on #2758
I can reproduce this issue in both the latest native-comp version and 27.1 version.

[2021-04-03 16:15] yyoncho commented on #2758
Are you able to reproduce with lsp-start-plain.el + emacs 27.1? If yes, can you provide a file/project to reproduce the issue with.

[2021-04-03 16:17] yyoncho commented on #2758
(with the description from the PR I am unable to reproduce the issue).

[2021-04-03 19:56] nosewings commented on #2757
OK, thanks for helping me locate the source of the problem.

[2021-04-03 19:56] #2757 closed

[2021-04-04 05:51] zw963 commented on #2282
@yyoncho , i guess this issue was fixed, thank you!

[2021-04-04 05:51] #2282 closed

[2021-04-04 08:00] blahgeek commented on #2758
@yyoncho  I'm able to reproduce this with lsp-start-plain.el:

1. Download `lsp-start-plain.el`, and add the following two lines:

[code]

2. open emacs with `emacs -q -l ./lsp-start-plain.el`, install `ts-ls` language server
3. patch the `ts-ls` language server to make it slower on completion (to simulate a large project): in `.emacs.d/.cache/lsp/npm/typescript-language-server/lib/node_modules/ty

[2021-04-04 12:43] yyoncho commented on #2758
Thank you, I will take a look.

[2021-04-04 16:51] mohkale commented on #515
This is less a feature suggestion and more a request for help but here goes anyways.

In my config I've got a option that I use to decide whether to start a language server or not in a new buffer (based on whether or not one is already running):

[code]

So with this setup if I open any new python buffers, `lsp-mode` is enabled only when my lsp server (pyls) is running in any workspace managed by

[2021-04-04 17:03] yyoncho commented on #515
@mohkale

[code]

This will give you the clients that match the current file.

`(lsp-session)` structure contains the info for all running servers.

`(lsp-workspace-root)` will give the project root for the current file.

Ping us here, gitter/discord if you need more help.

[2021-04-04 18:29] eras commented on #2636
It seems it should be mentioned that the gitter room is already available in Matrix via the official Matrix-Gitter bridge which was implemented after Gitter was acquired by Element, which is a driving force behind Matrix: https://matrix.to/#/#emacs-lsp_lsp-mode:gitter.im

[2021-04-04 18:41] bnjmnt4n opened #2761 "Unable to filter completions when `filterText` is an empty string"
**Describe the bug**
The LSP spec states that when a `CompletionItem`'s `filterText` is falsy, it should use the `label` to perform filtering. Recently, zls switched to returning an empty string for `filterText`, following the LSP spec (https://github.com/zigtools/zls/pull/251, https://github.com/microsoft/language-server-protocol/issues/1222). However, with this change, it appears that typing any

[2021-04-04 19:10] mohkale commented on #515
@yyoncho

Thank you for the help, managed to get what I needed working :smile:.

[code]

I do seem to be running into some annoying eldoc issues with lsp-mode. It seems lsp-mode aggressively clears the eldoc echo area even when there's nothing new for it to show. For example I goto a python buffer in a comment. Eldoc shows nothing, I run `M-: (* 5 10)` and the result flashes briefly before it's im

[2021-04-04 19:13] brotzeit commented on #2636
But the discord bridge doesn't work yet ? And how does this work with multiple rooms, do all discord rooms get mirrored to matrix ?

[2021-04-04 19:17] yyoncho commented on #515
I guess this might be fixed if we check if the currently showed text by the message area is equal to the eldoc displayed by lsp-mode  previously. I think that eglot is using some of the new eldoc functionality to support async stuff. We should migrate to that API as well.

Changing `eldoc-idle-delay` should fix that?

[2021-04-04 19:25] mohkale commented on #515
I have the same value for that `0.1` for both eglot and lsp-mode so I don't think that's the cause.

In retrospect I think this might be the same as my first issue, when I change point (eg: `flycheck-next-error`) eldoc briefly flashes and then is cleared. Then when I move forward or backward point the message is actually shown. If I try jumping to something lsp-mode can highlight (eg. an identifie

[2021-04-04 19:34] yyoncho commented on #515
Seems like this is the same issue related to lsp-mode eldoc message handling. As a side note, there are alternative packages like flycheck-postip which most likely will fix that issue or at least improve the experience.

[2021-04-04 19:40] mohkale commented on #515
Thanks for the suggestion, I tried it out a while back but the positioning of the tooltip always seemed so weird to me so I disabled it. If I need more verbose error information I've taken to just running flycheck-list-errors or the flymake equivalent. For now everything seems to be working fine (eldoc aside). Thanks for your help :smile:.

[2021-04-04 19:41] yyoncho commented on #515
you can then disable flycheck echo?

[2021-04-04 19:52] mohkale commented on #515
I could but I don't think I have before. I don't think it's disabled by default like `eldoc-doc-buffer`.

In this case if I disabled the flycheck/flymake eldoc backends it would fix the current issue but I still think lsp-mode should be a little more friendly with other eldoc backends. At least so that users can debug using `M-:` in lsp-mode managed buffers without having to keep the messages buff

[2021-04-04 20:00] yyoncho commented on #515
Agreed. The lsp-mode implementation is adhoc async implementation which does everything to avoid blicking. As I mentioned in the previous comment this implementation is out of date. You may open an issue to track that effort.

[2021-04-04 20:03] eras commented on #2636
There is a discord bridge project, but such bridge installations are not generally available for all, but instead need to be self-hosted. However, this can be done with free resources such as Heroku. I don't have experience on the service.

But all Gitter rooms are available over Matrix automatically as the people behind Matrix are now basically the same as with Gitter. Indeed this bridge is proba

[2021-04-04 20:04] mohkale commented on #515
Will do. Thank you for your continued dedication to this project. 😆

[2021-04-04 20:51] bk322 commented on #2291
For the light bulb to appear, one also need to set emoji font: https://www.reddit.com/r/emacs/comments/ggd90c/color_emoji_in_emacs_27/fq0nvxc

[code]

[2021-04-04 20:55] mohkale commented on #515
@yyoncho

I can't seem to reproduce with `emacs -nw` so I think something else might be to blame for this. I'll investigate some more when I get a chance, but put off making a new issue until then. Apologies if I've ended up wasting your time :sweat:.

[2021-04-05 08:57] #2761 closed

[2021-04-06 10:07] matianhe3 commented on #2743
i sovle it.
i reinstall rust . and set defaut ENV  `~/.rustup  ~/.cargo` . it run well.
i change ENV to `~/.config/rustup ~/.config/cargo`. it broken.

[2021-04-06 15:27] antifuchs opened #2767 "lsp-signature-mode replaces the whole source buffer with eldoc signature"
**Describe the bug**

When editing rust files (using rust-analyzer as an lsp server), the entire source code in the buffer occasionally gets replaced with the eldoc string for the function being called. This can be triggered most reliably when saving the buffer with a syntax error that causes rustfmt to pop up an error message (which probably confuses some async "last buffer" cache somewhere).

**

[2021-04-06 16:43] yyoncho commented on #2767
please elaborate

Refer to lsp-signature-auto-activate

[2021-04-07 16:02] wkenyon commented on #2241
Still an issue for me on `lsp-mode-20210330.1510`

[2021-04-07 18:06] wkenyon commented on #2241
It seems to be due to the "info box" that svenpanne mentioned.
My workaround is to use these functions to disable the info box (`lsp-ui-doc-mode`) for all buffers before doing a rename,
and then reenable when I'm done renaming.

[code]

Hope it's useful to someone. p.s. lsp-mode is amazing, don't know how I lived without it.

[2021-04-08 04:32] jcs090218 commented on #2732
You might want to report this to upstream! I think the issue can be close now? :)

[2021-04-08 04:32] #2732 closed

[2021-04-08 04:35] jcs090218 commented on #2722
I think this issue is resolved base on the thread here, https://github.com/non-Jedi/lsp-julia/issues/46?

Close this now. :)

[2021-04-08 04:35] #2722 closed

[2021-04-08 09:51] #2743 closed

[2021-04-08 10:39] kurnevsky opened #2769 "Specifying :set-executable? t in lsp-dependency doesn't work"
**Describe the bug**
Specifying `:set-executable? t` in `lsp-dependency` doesn't work.

**To Reproduce**
[code]
[code]

**Expected behavior**
It should get executable flag.

**OS**
Arch Linux
GNU Emacs 27.2

[2021-04-09 00:43] Aaronzinhoo commented on #515
Something like this for helm template files one day? Haha (helm intellisense/completion)

https://github.com/tim-koehler/Helm-Intellisense

[2021-04-09 04:51] yyoncho commented on #515
@Aaronzinhoo I checked that repo and it uses vscode directly vscode extension API thus it cannot be used by lsp-mode. Creating elisp package is out of scope for lsp-mode.

[2021-04-09 05:24] dackon opened #2770 "M-. doesn't work"
Hello,

I followed the tutorial(https://emacs-lsp.github.io/lsp-mode/tutorials/reactjs-tutorial/), but M-. cannot jump to the definition. The mini-buffer shows: Jump to: xxx [no match]. However, M-x lsp-find-definition can jump to the definition.

Emacs 27.2
lsp-mode 20210407.2348

[2021-04-09 05:43] Aaronzinhoo commented on #515
A man can dream Cant he @yyoncho 😂 thanks for the clarification.

[2021-04-09 05:54] yyoncho commented on #2770
I am unable to reproduce on my side, can you check if setting `xref-prompt-for-identifier` to nil fixes the issue?

[2021-04-09 06:05] dackon commented on #2770
Thanks for reply.

It doesn't work. I deleted my .emacs and .emacs.d, and copied the configuration from turtorial.

[code]

[2021-04-09 06:18] yyoncho commented on #2770
Hm, can you do `M-: xref-backend-functions RET` in that buffer?

[2021-04-09 06:18] yyoncho commented on #2770
I am also testing with emacs 27.2

[2021-04-09 06:19] dackon commented on #2770
mini-buffer shows:
(elisp--xref-backend t)

[2021-04-09 06:20] yyoncho commented on #2770
You should eval it in the JS buffer, not in the config buffer.

[2021-04-09 06:21] dackon commented on #2770
(lsp--xref-backend t)

[2021-04-09 06:24] yyoncho commented on #2770
I got it: `(define-key js-mode-map (kbd "M-.") nil)`, this should fix the issue. Not sure if we should have it in the sample config.

[2021-04-09 06:27] dackon commented on #2770
Emacs says there's no js-mode-map

[2021-04-09 06:30] yyoncho commented on #2770
Then maybe js2-mode-map? Do `C-h k M-.`.

[2021-04-09 06:32] dackon commented on #2770
Symbol's value as variable is void: js2-mode-map

C-h k M-. shows:

M-. runs the command js-find-symbol (found in js-mode-map), which is
an interactive compiled Lisp function in ‘js.el’.

It is bound to M-..

(js-find-symbol &optional ARG)

Read a JavaScript symbol and jump to it.
With a prefix argument, restrict symbols to those from the
current buffer.  Pushes a mark onto the tag ring just like

[2021-04-09 06:33] yyoncho commented on #2770
if you want to run `(define-key js-mode-map (kbd "M-.") nil)` in your config it should be wrapped in `(with-eval-after-load js-mode ...`

[2021-04-09 06:40] dackon commented on #2770
Doesn't work.

[code]

[2021-04-09 06:41] yyoncho commented on #2770
Sorry, it should be:

[code]

[2021-04-09 06:42] dackon commented on #2770
Thank you, it works now.

[2021-04-09 06:45] dackon commented on #2770
Will this fix merge into lsp-mode?

[2021-04-09 06:46] yyoncho commented on #2770
It won't be part of lsp-mode but most likely a point the tutorial.

[2021-04-09 06:46] dackon commented on #2770
OK, thank you.

[2021-04-09 06:46] #2770 closed

[2021-04-10 19:42] yyoncho commented on #2612
@aaronjensen I am working on this, there is POC at https://github.com/yyoncho/lsp-mode/tree/perf

[2021-04-10 21:24] aaronjensen commented on #2612
That's great, thank you. Let me know when you have something you'd like me to test and I'd be happy to.

[2021-04-11 05:53] blahgeek commented on #2758
git bisect shows that this issue is introduced in https://github.com/emacs-lsp/lsp-mode/pull/2483

[2021-04-11 06:11] yyoncho commented on #2612
@aaronjensen you may try that perf branch with `lsp-use-plists = t`.(ignore the memory reports because although they report more memory usage it does not go to GC).

[2021-04-11 06:38] blahgeek commented on #2758
As I dig deeper, I think this may be a company-mode issue: I think it should trigger a redisplay before fetching candidates. If I add `(redisplay)` at the beginning of `company--fetch-candidates`, this issue will not appear.

[2021-04-11 06:41] yyoncho commented on #2758
I was suspecting the same. #2483 is fix exposing the issue. @dgutov, any thoughts?

[2021-04-11 11:09] yyoncho commented on #2612
@aaronjensen as a side note - this might be related to the perceived lag - https://github.com/emacs-lsp/lsp-mode/issues/2758#issuecomment-817258467

The issue is that typing looks laggy but in fact, it is not actual lag but missing `redisplay` call and the ui does not represent the actual state.

[2021-04-11 15:22] aaronjensen commented on #2612
Interesting. That definitely seems like it would account for part of the lag (the visual lag on the last character I type), but it wouldn't account for the necessary lag to get to the next character.

I'll try the branch out asap.

I still believe it would improve things to treat an incomplete request as cached, the same way that a completed request is cached. I've [done this with a couple company

[2021-04-11 16:40] yyoncho commented on #2612
The user types fo
company-clang ends up issuing a request to the lsp server.
The response comes back and the completions are rendered and cached
o is typed, making the new prefix foo.
The cached completions are served because foo starts with fo

We cache the response and use it when it is not partial.

The response comes back and the completions are rendered and cached normally

As already mention

[2021-04-11 16:56] kiennq commented on #2612
@yyoncho I think what @aaronjensen suggests is that we can cache the result of the canceled request (due to another keypress) if it's appropriated. The incomplete request here refers to the request that's thrown away due to the new keypress, not the term in the LSP.

Currently, we're doing:
- Request A --(wait)--> new key pressed --> create new request B --(wait, throws away response A) --> receiv

[2021-04-11 17:10] yyoncho commented on #2612
If this includes canceling after `new key pressed` - then fine. I don't think that this will result in noticeable improvements.

[2021-04-11 17:23] aaronjensen commented on #2612
How do you determine if the result is partial? I didn't see that last time I looked at the code. When a result is partial do you skip running your own filtering on the result?

I was actually thinking of avoiding making request B but if we can't know ahead of time that A will be "good enough" then this seems reasonable.

[2021-04-11 17:25] yyoncho commented on #2612
the server might return `isIncomplete = true`

By default, we filter it, since it can be partial and not filtered.

[2021-04-11 17:27] aaronjensen commented on #2612
It'd result in the same improvements the caching does in cases that I type another character before the result comes back. If that became sufficiently fast enough due to your perf improvements then it may not make much of a difference. It was originally contemplated when I was dealing with a 60ms completion time + 250ms GC time.

I see, but it's not enough to filter a partial result further becaus

[2021-04-11 17:54] dgutov commented on #2758
@yyoncho I don't have the code on my machine, or a reproduction scenario to fiddle with, but AFAIU this stems from the "faux async" approach you use here (also employed by @joaotavora in Eglot), that you wait for the user's next keypress before deciding what to do (show completions or abort), while the completion framework has no idea what's going on. Thus Emacs's reaction is unavoidably delayed b

[2021-04-11 18:03] yyoncho commented on #2758
@dgutov makes sense.

@kiennq to me, it seems like placing `(redisplay)` just after we called the server is better since we will use the time we wait for the server's response to refresh the screen. WDYT?

FWIW redisplay on my side takes less than 1ms.

[2021-04-11 18:21] kiennq commented on #2758
Yeah, that looks okay to me. Should be a change in `lsp-request-*` right?

[2021-04-11 18:24] aaronjensen commented on #2758
That's amazing. On my machine it takes 28ms w/ my config and anywhere from 3-20ms with `emacs -Q`

[2021-04-11 18:25] yyoncho commented on #2758
Do you mean adding it to `lsp-request` as well? I don't see a valid reason to add it to lsp-request as well but most likely it won't hurt if we do so.

[2021-04-11 18:28] yyoncho commented on #2758
I believe if you are on 4k monitor(@dgutov is) it will affect redisplay speed(but I am not an expert in the field).

[2021-04-11 18:33] aaronjensen commented on #2758
Ah, I'm on a retina macbook, likely two things working against me.

[2021-04-11 19:04] dgutov commented on #2758
It seems it's affected by whether `tool-bar-mode` is enabled (so redisplay is slow-ish with `emacs -Q`) and whether one has a fancy mode-line package installed (`smart-mode-line` in my case). The window size is more or less irrelevant.

[2021-04-11 19:04] dgutov commented on #2758
It won't affect anything else than completion, right?

[2021-04-11 19:08] yyoncho commented on #2758
I don't have toolbar and I am using vanilla modeline since most of the modelines are slow...

[2021-04-11 19:13] dgutov commented on #2758
That seems like a good choice, and we could probably treat slowdown from both as bugs anyway, but until they are fixed across the most of the ecosystem, calling `redisplay` unnecessarily remains unwise.

[2021-04-11 19:14] kiennq commented on #2758
Yes. Well, we're waiting for the server response anyway, and that would be much slower than running `redisplay`

[2021-04-11 19:17] aaronjensen commented on #2758
It's unclear that this is the case because I believe it's introducing a synchronous delay to every keypress that triggers a completion, effectively. This could have the result of making perceived latency be a bit worse while typing normally.

Also, we want to be sure to trigger the redisplay *after* making the request to the server, yes? Otherwise it just slows everything down.

[2021-04-11 19:21] kiennq commented on #2758
Unless we force it, the `redisplay` is being preempted by input. So I don't think there will be much delay perceived.

[2021-04-11 19:27] kiennq commented on #2758
PR here #2772

[2021-04-11 20:38] joaotavora commented on #2758
Faux ou vrai, it's not the same technique, it's used in more than LSP and never suffered from this problem, even with slow servers.

[2021-04-11 20:45] aaronjensen commented on #2612
@yyoncho I'm trying this out. It does seem better, but I still get GCs while typing in a single line.

I've also noticed that occasionally the existing caching breaks. Specifically, i'll type something like:

[code]

and lsp will not send a new completion request and my completion cache will look like this:

[code]

Sometimes I have to delete the `.sta` and retype it a few times to reproduce it, b

[2021-04-11 20:53] dgutov commented on #2758
If someone could evaluate `lsp-mode` and `eglot` side-by-side with the same LSP server in this scenario and report here, that would be great. It's possible that there is some subtlety to the latter's implementation which `lsp-mode` could adopt.

In the meantime, though, I have this report which pretty much equates lsp-mode and eglot's behavior wrt input lag: https://github.com/company-mode/company

[2021-04-11 21:26] yyoncho commented on #2612
I believe that the company issue is not related to my changes.

About the GC - I think that atm the best we can get is having the GC load = 4times the size of the input on the parsing side. I will investigate a bit more...

[2021-04-11 21:56] joaotavora commented on #2758
To be clear, I was referring to the "one keystoke lag" as I understood it in _this_ issue.  I've never seen _that_ behaviour, but I've seen of course seen milleseconds of lag.  Emacs is single-threaded, and event-driven, much like JS and browsers. It only checks for input events, quits, etc in certain places, so depending on the operation involved (uninterruptible C-level JSON processing?) it coul

[2021-04-12 12:30] #2597 closed

[2021-04-12 19:26] Ergus opened #2775 "Issue making lsp work with tramp."
**Describe the bug**
A clear and concise description of what the bug is.

I want to use lsp with tramp. The remote served has clangd and works from command line tests.

I added this
[code]

To my config and I get an error: `(wrong-number-of-arguments (3 . 3) 7)`

**To Reproduce**
Steps to reproduce the behavior(sample project + file which can be used to reproduce the issue with.)
I made a random s

[2021-04-12 19:37] yyoncho commented on #2775
Your issue is with this: https://github.com/emacs-lsp/lsp-mode/pull/2531 patch applied or with plain lsp-mode? What is your tramp version?

[2021-04-12 21:52] Ergus commented on #2775
Plain lsp with the latest tramp (emacs 28.1).

What is your tramp version? the last one and last lsp and latest emacs 28.1.

I just replaced `start-file-process-shell-command` with `start-file-process` and the first error just went away. But now I have another one:

[code]

With no error, but the mode is not enabled.

[2021-04-13 00:00] douglasdavis opened #2777 "python-language-server moving to python-lsp"
The [python-language-server](https://github.com/palantir/python-language-server) project has been forked and a new organization is continuing development at [python-lsp-server](https://github.com/python-lsp-server) (no one in the open source Python community has permission to merge PRs or cut releases in the palantir project, [transition is ongoing here](https://github.com/python-lsp/python-lsp-se

[2021-04-14 10:34] thepreacher opened #2778 "Can't type space after Javascript keyword in Emacs with lsp-mode enabled."
**Describe the bug**
I can't to type a space after a javascript keyword. When I type a keyword and hit space, the cursor moves a space to the right and snaps right back to the last character typed. For example say I type `import` and hit space, the cursor temporarily moves to the right so I get `import ` then immediately snap back to give me `import`. I'm therefore unable to use emacs for javascri

[2021-04-14 11:01] yyoncho commented on #2778
are you using aggressive-indent?

[2021-04-14 11:22] thepreacher commented on #2778
Ah yes! I comment it out and problem solved. Thanks a bunch. Very sorry for the noise.

[2021-04-14 11:22] #2778 closed

[2021-04-15 11:06] factyy commented on #515
I don't know where to place this, hopefully @yyoncho will help with it.

I was wondering if it is possible to have experience similar to VSCode `remote-containers`. What is really required:

1. To have a dockerized environment. All the tools (compiler/interpreter, language server, debug server) must reside **inside** the container. Currently it is partly possible with `lsp-docker` but only for a l

[2021-04-15 11:34] yyoncho commented on #515
@factyy

1. yes, we need to fix dap-mode to work with remote paths.
2. Should be possible via different configuration options(:priority parameter of the language server, lsp-enabled-clients/lsp-disabled-clients) or via wrapper of `lsp` function.
3. Creating granular containers is a good idea but it requires a lot of work to be acomplished.

Check this as well - https://github.com/emacs-lsp/lsp-doc

[2021-04-15 17:11] andfoy commented on #2777
@douglasdavis, the first release of `python-lsp-server` is now up in PyPI: https://pypi.org/project/python-lsp-server/

[2021-04-15 18:08] douglasdavis commented on #2777
Thanks @andfoy!

I made a quick Emacs `lsp-pylsp` client package here (https://github.com/douglasdavis/lsp-pylsp). My question for the emacs-lsp maintainers: do y'all think it's appropriate to move it inside the emacs-lsp org? (I'd be happy to move it). Or to replace `lsp-pyls` with `lsp-pylsp`?

[2021-04-15 18:13] yyoncho commented on #2777
what about changing the existing client to try `pylsp` and then if it is not present - use the old binary name? This will allow gradual transiton.

[2021-04-15 18:17] yyoncho commented on #2777
@mpanarin, any thoughts?

I want to have one client instead of 2 clients(one deprecated) and I don't want to be a breaking change because this leads to a lot of confusion and bug reports.

[2021-04-16 09:04] thor314 opened #2781 "enable or disable snippets in company-capf completions"
I'm using `lsp-mode` with `rustic-mode` with `company-capf` as my completion backend.

**Describe the bug**
`company-capf` populates my completions with snippets. There's been some discussion on `company`'s github to create a variable to disable this behavior, but it looks like that's not yet been done.
https://github.com/company-mode/company-mode/issues/891

I would like to be able to remove snip

[2021-04-16 09:07] yyoncho commented on #2781
@thor314 can you do M-x company-diag when you have completion dialog open and post the output here so we can be sure that the snippets come from lsp-mode.

[2021-04-16 09:18] thor314 commented on #2781
[code]

[2021-04-16 10:00] factyy commented on #515
Do you think we need an umbrella project for such integration? I see that it is partly possible to have such features, but at the same time I think that we have to take a more integrated approach. For example, we have to determine the project type, guess (or get from our specific config) the tools needed and so guess the container needed.

[2021-04-16 10:01] kiennq commented on #2781
I saw some candidates (`box`, `ok`, `some` ...) are snippets coming from `rust-analyzer`.
You can try to set `lsp-enable-snippet` to `nil` and restart lsp workspace.
Note that some languages will stop working if you try to disable snippet.

@yyoncho What do you think if we provided a kind of filter to only display certain kinds of completion candidates? That would let the user filters out snippets

[2021-04-16 10:04] yyoncho commented on #2781
There is `company-transformers` and with the new method `:comapany-kind` I think that it can be created in a generic way in company-mode project. We can also create custom lsp-mode transformer on lsp-mode side.

[2021-04-16 12:25] deb75 opened #2782 "Question : lsp-lua and autocompletion and love2d engine"
Hello,

I cannot access [https://discord.gg/swuxy5AAgT](https://discord.gg/swuxy5AAgT) from where I am.

I build a game with the [love2d](https://love2d.orgl) engine.
The game is written in `lua` so I tried to use `emacs` with the [lua language server](https://github.com/sumneko/lua-language-server).

Here is an example of a "hello world" game :
[code]
This "game" is run with the love engine : `lo

[2021-04-16 13:07] nujabse opened #2783 "Fortran Lsp-mode does not show symbol information on hover"
**Describe the bug**
When using lsp-mode to open fortran files, the information of symbols are not shown. However, the information of functions can be displayed without any problem. I've checked that the value of `lsp-ui-doc-show-with-mouse ` , `lsp-eldoc-render-all ` and `lsp-ui-doc-enable ` are all set to be `t`

**To Reproduce**
Install lsp-mode, start lsp in f90 mode, start lsp and lsp-ui, hov

[2021-04-16 13:13] yyoncho commented on #2783
can you provide the client/server logs as described in the bug template?

[2021-04-16 13:35] mpanarin commented on #2777
@yyoncho we definitely should move to the maintained package. I highly doubt that palatir will continue any support on the original ls

[2021-04-16 14:52] nujabse commented on #2783
Sorry for not providing the client logs in the initial issue. The output of `lsp-workspace-show-log` is:
[code]

[2021-04-16 16:13] thor314 commented on #2781
Cool, this worked great. Thanks a bunch.

[2021-04-16 16:14] #2781 closed

[2021-04-16 16:17] yyoncho commented on #2783
AFAICS there is no hover info returned by the server
[code]

[2021-04-16 16:54] blahgeek commented on #2758
I can confirm that `eglot` does not have such issue.

According to the doc, `sit-for` will do redisplay before sleeping.

[2021-04-16 17:24] dgutov commented on #2758
Ah, so it's already doing what's being discussed here. Thanks for testing!

It does mean that Eglot also incurs the overhead of unnecessary redisplays (which are not free), but there doesn't seem to be any better solution without "proper" async.

[2021-04-16 17:30] yyoncho commented on #2758
@dgutov my understanding was that after each command emacs is running redisplay. If this is not the case(I am still not sure) and redisplay is heavy - do you know what is the lightweight method that runs to repainting emacs after typing a key?

[2021-04-16 18:34] dgutov commented on #2758
It does. Unless there is some pending input.

Not really, that's just redisplay. ;-)

You end up doing it twice: if `sit-for` starts with redisplay, then aborts with user input, which results in another redisplay, you've done it twice. But if you don't do it at the beginning, that can be perceived by some users as "sluggish" (or one-keystroke-lag).

I suppose the main case that's disadvantaged is

[2021-04-16 19:15] joaotavora commented on #2758
FWIW I've changed `sly.el` which uses the very same technique to pass `t` as the `NODISP` parameter to `sit-for`, and it doesn't seem to make any difference, I don't observe the so-called "one-keystroke-lag" behaviour at all.  I'd wager that doing the same in `jsonrpc.el` would produce similar effects.  So I'm skeptical of the conclusions being reached here.

Except this one user here has tried it

[2021-04-16 20:02] dgutov commented on #2758
That's the issue under discussion (IIUC).

Believe it or not, simply having `tool-bar-mode` enabled also counts as "fancy modeline".

Indeed, additional redisplay (which can take up to 30ms, depending on user configuration) isn't going to cause this kind of problem. It can still be unfortunate, making Emacs a tad less responsive than it could be.

Company doesn't do (or inhibit) any insertion. You

[2021-04-16 20:43] joaotavora commented on #2758
Hmmm, I thought it was an odd off-by-one-like thing as described in the original post.  I don't see anything like that at all (but I haven't ever seen the original one)  And what's more, a user has also reported that the bug is not in Eglot.  I wonder if that user (@blahgeek  ?) can also try by adding `nodisp` as `t` to `jsonrpc.el` 's source code, recompile it, and see if it somehow exhibits the

[2021-04-16 21:08] joaotavora commented on #2758
Very interesting, turns out the answer is just there, in this @blahgeek comment.  I did this and the `sly.el` lag (which is apparently _not_ the one-keystroke lag reported here) is _also_ fixed.

In fact, looking at `company--fetch-candidates` it also explains why tweaking `NODISP` in SLY's `sit-for` has no effect: that function binds `inhibit-redisplay` to `t`. If I remove that binding `inhibit-r

[2021-04-16 21:37] joaotavora commented on #2758
As a final bit of investigation, the lag I is also easily fixed outside company by simply binding `inhibit-redisplay` to `nil` around the `sit-for`. And it again works with `nodisp = t`, which suggests that some of its callees do some redisplay unconditionally (perhaps `Fread_event?`).

[2021-04-16 22:17] dgutov commented on #2758
Guess I should have read the full thread first. :facepalm:

I was also operating on the assumption that the opened PR does fix the problem.

There is an issue, yes. It links to this one, so it's visible among the comments here.

I was probably the reason for the use of `inhibit-redisplay`. And `git blame` points to https://github.com/company-mode/company-mode/issues/865 as one of the reasons for t

[2021-04-17 02:06] blahgeek commented on #2758
I'm so sorry, this statement was wrong. `eglot` have the exact same issue. I got the wrong result because during the previous debugging, I've modified the `inhibit-redisplay` to `nil` in company.el, which would solve the issue for eglot.

So, essentially, it's the same behavior as described by @joaotavora :

I think they are the same issue. It's just this happens for every keystroke with `lsp-mode

[2021-04-17 02:20] blahgeek commented on #2758
So to summarize:

- When there's current completion available, `company-mode` may synchronously query the backend in post-command-hook after some character is inserted, which happens before normal redisplay. If the backend don't return the result very quickly, the change will not be displayed in the buffer, hence the "one-keystroke-lag" or "sluggish".
- This can be fixed by doing a manual `redispl

[2021-04-17 05:59] nujabse commented on #2783
Found out that the reason for this behavior is because that the default setting `fortls` does not show hover information for variables. If I set `(setq lsp-clients-fortls-args '("--variable_hover"))`, lsp-mode will show hover information for symbols. Thanks your help!

[2021-04-17 05:59] #2783 closed

[2021-04-17 08:17] #2032 closed

[2021-04-17 08:29] joaotavora commented on #2758
If there's a difference in the number of keystrokes this effects, as you point out, it can't really be the "same" issue, can it? But there may be causes in common.

So my conclusions are different:
- there is input some lag with everything using `company.el`'s `company-capf` asynchronously.  Depending on the technique used the lag may manifest itself once (Eglot's first keypress) or multiple times

[2021-04-17 08:52] blahgeek commented on #2758
@joaotavora

Yes I think we meant the same thing. They share the same root cause.

Yes, I agree. I meant the same.

I also support this. This is essentially also what https://github.com/emacs-lsp/lsp-mode/pull/2772 is doing for `lsp-mode` (make sure `redisplay` is called). However it may introduce flickering as I mentioned.

For this part, I have different opinion. I think the proper fix for `comp

[2021-04-17 09:13] joaotavora commented on #2758
I see.  Makes sense.  Indeed the only way to to avoid flickering but not so much as to show monstruous lag is to use a low-pass filter, in the form of a finely set timer that calls `(let ((inhibit-redisplay nil)) (redisplay))`  if it hasn't been cancelled yet.  Maybe I'll add that to `jsonrpc.el` too, or maybe it would be baked into `sit-for`, dunno.  This flickering in Eglot, doesn't seem like mu

[2021-04-17 23:10] dgutov commented on #2758
@blahgeek

Unfortunately, there is a technical reason for that: the overlay-based popup breaks many commands' execution unless the popup is "hidden" in `pre-command-hook` (if you try to `forward-char` while the region near point is `invisible`, the result is not what you expected). So we necessarily `hide` the overlay in `pre-command-hook` and show it again at the end of `post-command-hook`. Perha

[2021-04-17 23:25] dgutov commented on #2758
@joaotavora

Just a reminder: the "problem" is the fix which you yourself suggested in the 2019 issue I linked to (invented in parallel to my own solution for flickering for async backends).

https://github.com/company-mode/company-mode/issues/865#issuecomment-460361590

It's a fine intermediate solution, but without re-displaying popup the flickering is going to be there.

Here's a dirty/experime

[2021-04-17 23:45] dgutov commented on #2758
The problem does seem fundamental: either we show the newly typed character only after the (possibly long) computation is finished, or we show some old/unfinished state before that happens.

Could someone describe the approach VS Code took regarding that? I'm guessing it also shows the previous completions list until it receives the response. Or perhaps it expects that all backends do fuzzy matchi

[2021-04-17 23:45] dgutov commented on #2758
The latter might look like

[code]

[2021-04-18 09:12] joaotavora commented on #2758
Indeed, by that time was no longer using slow backends and didn't measure the consequences of my suggestion.  In my defense I did propose at some point "Perhaps it could delay redisplay a bit to sometimes avoid a redisplay cycle when the dialog isn't ready." .  Well that's what I'm proposing again now: delay redisplay a bit.

That explains the how, but doesn't explain the why. That it should be po

[2021-04-18 10:45] yyoncho commented on #2758
@dgutov see this: (in the video I press C-SPC two times to force completion dialog)

https://user-images.githubusercontent.com/13259670/115142735-06faf200-a04c-11eb-9477-4e2bcd85c926.mp4

[2021-04-18 11:09] #2111 closed

[2021-04-18 11:22] ordicker commented on #2709
Got the same thing with clang and linux [host-ubuntu remote-ubuntu(nvidia xavier)]

[2021-04-18 16:42] yyoncho commented on #2782
It is hard to tell. To me this seems to be out of the lsp-mode's scope - it is lua language server spec.

[2021-04-18 16:43] yyoncho commented on #2782
marking the issue as closed, but you can use the issue for further question.

[2021-04-18 16:43] #2782 closed

[2021-04-18 19:23] deb75 commented on #2782
Thanks for your answeer.

You are right yes, I confounded the language server and the client, I will ask to [https://github.com/sumneko/lua-language-server](https://github.com/sumneko/lua-language-server)

[2021-04-18 22:05] dgutov commented on #2758
@joaotavora

I don't have a good answer ATM, except to say that if this scenario is realistic, we need to handle it. And that my personal config exhibits this problem as well. Does yours?

Without also having the pseudo-popup "unhidden" before the `(redisplay)` call, this approach leads to flickering all over again in my testing, because redisplay makes popup blink.

Perhaps we're testing differen

[2021-04-18 22:16] dgutov commented on #2758
@yyoncho

Thanks.

I can see in the video that this LS (jdt?) is slow to retrieve completions, at least at the beginning. What happens next?

I see the "Loading..." popup, is it the look of VS Code completion popup while the server has not returned any items yet? What then, it caches the response to update the popup quickly? What happens if the result set is "incomplete", which IIRC is a possibili

[2021-04-18 23:10] joaotavora commented on #2758
@dgutov

Indeed ,perhaps we are talking about different things.  I'm using SLY because it's easy to hack a very slow or very fast server.  See the single commit of https://github.com/joaotavora/sly/tree/scratch/no-flicker-but-still-responsive-company. Installing SLY is reasonably straightforward, but you need a Common Lisp executable :neutral_face:.  Not very hard, let me know if you want to try i

[2021-04-19 06:18] yyoncho commented on #2758
Only if you explicitly request completions. Without this, it doesn't show any indication that it is loading the completion items.

At some point, it receives a complete response and it caches it. Also, the prefix is longer, thus the completion result is retrieved much faster. In this regard, there is no difference between lsp-mode and vscode.

The behavior of vscode, when there are no completion r

[2021-04-19 12:10] ericdallo commented on #2671
FIxed

[2021-04-19 12:10] #2671 closed

[2021-04-19 12:11] ericdallo commented on #2663
@yyoncho it seems I'm the winner :p

[2021-04-19 12:34] ericdallo commented on #2448
@sebastiansturm the merged branch looks better than it was on master :)

But I found 2 issues:
- If one copy/paste a piece of code or for some reason inserts a piece of code (via code actions, for example), emacs first shows without any faces and then color with the semantic tokens as you can see In the gif. It'd be nice to first use the default major mode face and only then change to the semantic

[2021-04-19 12:47] brotzeit commented on #2663
My emacs doesn't look very fancy so I wasn't able to participate =)

[2021-04-19 19:08] yyoncho commented on #2612
@aaronjensen I think that this is pretty close to the best we can do: https://github.com/emacs-lsp/lsp-mode/pull/2791

[2021-04-19 19:56] #2769 closed

[2021-04-19 19:59] yyoncho commented on #2745
Can you elaborate? I am not quite sure what the issue is, Imenu seems to be functional.

[2021-04-19 20:18] sebastiansturm commented on #2448
as for newly inserted text remaining unfontified at first: I'll have to try this out, though it makes sense it would behave that way; if parts of the buffer had previously been fontified already, semantic highlighting will be suspended until new data arrives from the language server. On the other hand, applying default fontification unconditionally (as we now do prior to language server initializa

[2021-04-19 20:27] CsBigDataHub opened #2792 "Ability to see overloaded methods - similar to eglot"
I have started using `lsp-mode` for `csharp-mode` via [omnisharp](https://github.com/OmniSharp/omnisharp-roslyn).

Eglot gives list of `overloads` via `eldoc-mode` when the cursor goes to open parentheses.

cursor at method gives method documentation in `eglot` similar to `lsp-mode`
![image](https://user-images.githubusercontent.com/23665525/115298707-6b3cb500-a123-11eb-9917-925fec59502c.png)

whi

[2021-04-19 20:35] yyoncho commented on #2792
It is available via signature help. Use C-S-SPC to force and then `M-n/p` to browse through the signatures.

[2021-04-19 20:39] CsBigDataHub commented on #2792
thanks for the quick reply @yyoncho.

[2021-04-19 20:39] #2792 closed

[2021-04-19 21:34] ericdallo commented on #2448
yeah, that looks hard to implement but I have no idea on how to implement that so feel free to test it if it works 😅

For now, only full and range as is the supported for clojure-lsp, but I'll implement delta soon.
Thanks for the help on this, I really would like to make semantic tokens really work on lsp-mode.

Also, I know Dart lsp server is already using semantic tokens, so there is another ser

[2021-04-19 22:02] dgutov commented on #2758
@joaotavora

Replied there.

To an extent. But if "asynchronous" is just a word, why complain about the phrase "faux async"? Especially without suggesting alternative names.

I fail to see how they can be less comfortable than forcing every backend to re-implement this pattern in an ad-hoc fashion. It's fragile code that is not easy to get right, as evidenced also by the present discussion.

Becau

[2021-04-19 22:15] dgutov commented on #2758
@yyoncho

All right, so VS Code indeed shows "stale" data. I suppose that makes sense, if you prefer the editor to show whatever it knows as soon as it can (both the chars right after you type, and the completions as soon as they arrive). The result can be an inconsistent view, but it seems like that's unlikely to be harmful. And it moves the blame for slow responsiveness from the editor to the la

[2021-04-19 22:50] joaotavora commented on #2758
As I said, it conveys the meaning of illegality or illegitimacy to one technique and purity to another, which is misleading.  As to names, I don't think it needs one.  It's just another technique in a toolbelt that a language with non-local returns allows.

That's until you get the primitives right. Which they pretty much are, except for this thing with  `company`, which can well be solved there (

[2021-04-20 00:40] ericdallo commented on #2448
@sebastiansturm I also noticed the faces doesn't match with current clojure major mode, do you know some way to improve the default faces for that without need to customize manually that?

like macro face:
Default
![image](https://user-images.githubusercontent.com/7820865/115320077-845f5900-a157-11eb-8f80-234eb7a7f466.png)
Semantic-tokens:
![image](https://user-images.githubusercontent.com/7820865

[2021-04-20 02:44] aaronjensen commented on #2612
Thank you, @yyoncho

[2021-04-20 09:50] JordanAnthonyKing commented on #2745
Compare in the screenshots, imenu in the less buffer categorises items according to whether they are a class/variable/constant etc. In the typescript buffer they are categorised according to their position in the document which appears to be fallback behaviour for when the language server doesn't provide a set of _kinds_ to group by. It seems according to the logs that the typescript server is pro

[2021-04-20 10:05] yyoncho commented on #2745
I am a bit confused. First, your logs contain only the client capabilities which seem to be irrelevant.

I am not aware of such functionality.

I tested ts files and when  lsp-imenu-index-function is set to lsp-imenu-create-categorized-index the items are correctly grouped by category.

[2021-04-20 10:08] JordanAnthonyKing commented on #2745
It seems that I don't understand the terminology being used exactly.

How can I have imenu categorise items according to class/variable/const etc. for `.ts` files like in it does for `.less` files?

[2021-04-20 10:10] yyoncho commented on #2745
set  lsp-imenu-index-function to lsp-imenu-create-categorized-index

[2021-04-20 10:16] JordanAnthonyKing commented on #2745
This works. It seems that I was being misled by the output of `lsp-imenu-create-uncategorized-index` for the .less file. Having changed the function less files are now grouped like _classes/variables/constants_ isntead of _class/variable/const_.

.ts files are grouped as I'd expect: _classes/properties/constructors_ etc.

Thanks.

[2021-04-20 10:16] #2745 closed

[2021-04-20 16:37] blahgeek commented on #2758
Thanks! I gave it a try and it seems working pretty well. I will continue testing it in my daily work and will let you know if I encounter any problems.

Personally I like your patch here. I think it's the right way to solve it in `company.el` instead of `lsp-mode. I don't see any downside of doing it this way.

[2021-04-21 17:06] hectorhon commented on #424
I notice flymake (emacs 27.1, windows) does not "keep" all the errors when there are multiple lsp servers for the buffer. In my case, I am using flymake + ts-ls lsp + eslint lsp. Immediately after I make an edit, I can briefly see errors/warnings (from eslint, which has stricter eslintrc configured) being underlined before disappearing (as ts-ls output takes over). The workaround is to use flychec

[2021-04-21 17:11] yyoncho commented on #424
@hectorhon can you upgrade your flymake? I think that we had issues with older versions.

[2021-04-22 14:44] hectorhon commented on #424
@yyoncho I just updated to the latest emacs 27.2 (with built in flymake 1.0.8) and the issue persists. Same after upgrading to flymake from 1.0.8 to 1.1.1. But I agree it's probably an issue with flymake, since flycheck is working fine.

[2021-04-22 15:38] yyoncho commented on #424
It is most likely issue with lsp-mode integration with flymake. Does it work if you have one server only?

[2021-04-22 19:23] JordanAnthonyKing opened #2798 "`lsp-imenu` doesn't represent structure of html documents"
**Describe the bug**
Unlike with many other languages lsp-imenu doesn't organise items by their relative positions in the buffer, items are all listed with the same hierarchy.

`lsp-imenu-create-uncategorised-index`
![image](https://user-images.githubusercontent.com/58787893/115772129-4a33c880-a39e-11eb-8487-e8abf089d17f.png)

`lsp-imenu-create-categorised-index` does a bit better, but note how th

[2021-04-22 19:29] yyoncho commented on #2798
`lsp-imenu-create-categorised-index` - sorts the items by kind.
`lsp-imenu-create-uncategorized-index` - will have the items sorted by position.

[2021-04-22 19:36] JordanAnthonyKing commented on #2798
It may sort them by _position_ but it doesn't sort them by _depth_ as it does for other languages.

[2021-04-22 19:49] pedroqueiroga commented on #966
How do I use `angular-ls`? I have tried the steps listed here https://github.com/emacs-lsp/lsp-mode/wiki/Install-Angular-Language-server, but it doesn't work. Should we improve the documentation on how to get this to work? There is no `lsp-angular` package available for me to install through melpa.

[2021-04-23 07:56] samwdp opened #2799 "lsp-angular server not starting on Windows"
lsp-angular server not starting on Windows. I think it is due to the path to the node moduls being /lib/node_modules. Windows does not have the /lib/ folder

[2021-04-23 08:29] samwdp commented on #2799
After removing the lib folder from the path I am now getting this error
[code]

[2021-04-23 08:38] #2799 closed

[2021-04-23 08:42] yyoncho commented on #2799
Did you manage to fix it? FTR we will create automatic installation soon

[2021-04-23 10:39] samwdp commented on #2799
No, but I realised that the original issue I was talking about was not the issue.
I get 2 errors
In ts-ls::stderr I get this error
[code]
In angular-ls::stderr
[code]
It is not to do with not finding the executable, because it is, but something different

[2021-04-23 14:52] zilti commented on #2709
I have the same issue... `*lsp-log-io*` doesn't help. Where would that log the io to anyway? Maybe something in that log could help.

[2021-04-23 15:00] hectorhon commented on #424
Yes, flymake does work if I have only one of ts-ls or eslint installed.

[2021-04-23 15:58] yyoncho commented on #424
@hectorhon then, can you open lsp-mode issue to track the problem(no need to fill the whole bug template).

[2021-04-23 18:19] analyticd opened #2802 "Please use keyword rather than positional arguments for define-minor-mode"
I hesitate to classify this as a bug because it only affects users of more modern versions of Emacs as a warning, but is annoying nonetheless and easy to fix. I am on Emacs 28.0.5. According to the docs define-minor-mode has long tolerated positional arguments even though they were deprecated a while ago. But the latest versions of Emacs bark about this. I'd do a pull request but I am not sure wha