[2020-06-14 18:48] yyoncho commented on #1741
what you have posted in the previous post is only lsp-mode sending initialize request. But the server does not respond. What do you see in emacs?

[2020-06-14 18:51] yyoncho commented on #1741
I think that figured out what the issue is. When you register the remote client, you should replace the initialization options(or the function that calculates the intialization options) with a function that works for the remote paths. Note that there is no way core lsp-mode  to rewrite the initialization options defined in lsp-python-ms

Reference:

[code]

[2020-06-14 19:39] mjlbach commented on #1741
I think partly the issue is here: https://github.com/emacs-lsp/lsp-python-ms/blob/master/lsp-python-ms.el#L265; however, even if I add the optional remote arg it's still not detecting the correct remote interpeter if it's been activated via pyenv, even if I manually prepend the interpreter path to exec-path

[2020-06-14 19:42] yyoncho commented on #1741
For testing purposes, can you replace initialization options with hardcoded initialization options that should work? Then we could try to generate them correctly with a code.

[2020-06-14 20:32] mjlbach commented on #1741
I think I replaced everything correctly, the server is still failing to start though

[code]

I'm having trouble pinning down exactly where it is failing though. Tramp opens the file, but no server is started.

[2020-06-14 20:42] mjlbach commented on #1741
I think I messed up my quoting above, I'm also intermittently getting `No LSP server for python-mode(check *lsp-log*)`, but there's nothing informative in the log, and as before I'm sure python-language-server is on my remote path

[2020-06-14 21:44] mjlbach commented on #1741
Ok, the following works locally but not remotely:

[code]

The initialization message now seems correct, but the server is not starting:
[code]

[2020-06-14 23:21] mjlbach commented on #1741
Ok, this seems to be related to another package installed with doom. I'm closing, and will try to submit a patch upstream. Thanks for helping me debug, I think I narrowed down what it could be, and will leave the instructions for others to fix once done.

[2020-06-14 23:21] #1741 closed

[2020-06-15 00:52] mjlbach commented on #1741
This is what I had to do to get lsp-mode working, for some reason Doom emacs's lazy initialization breaks on tramp

[code]

[2020-06-15 02:16] poppyschmo commented on #1778
Been encountering this, too.

For alists, that appears to be the case, which is inconvenient, but there's probably a reason. Original [patch](https://github.com/emacs-mirror/emacs/commit/f552a957ada23a7ff182fc1ab94221ced3ed1713#diff-9fe0913c76249e448eec3131d7e8b263R387) and [thread](https://lists.gnu.org/archive/html/emacs-devel/2017-12/msg00667.html) from 2017.

[2020-06-15 02:57] ibizaman commented on #1778
@yyoncho sorry while fixing this I dug deep into the rabbit hole of trying to reproduce the issue in tests. I’ll instead switch to just fix it with manual tests.

[2020-06-15 06:46] yyoncho commented on #1775
The following piece of code should be sufficient to achieve what you want:

[code]

[2020-06-15 09:47] lfxgroove commented on #1566
@yyoncho: Hi, I'm seeing the same problem. I tried with the `lsp-start-plain.el` and this time it hung for a while and then continued, I did not get an error about stack depth though (had `debug-on-error` set to `t`). The performance log link seems to be dead, has the information moved?

[2020-06-15 09:58] yyoncho commented on #1566
yes, it is here - https://emacs-lsp.github.io/lsp-mode/page/performance/

[2020-06-15 11:27] lfxgroove commented on #1566
Okay, thanks. I've run it with the following:
[code]
I've used `toggle-debug-on-quit` to get a stacktrace when I see the behaviour. As far as I can tell this is the profiler-report that I get (the profiler was running for about 5 minutes before seeing the issue, but it seems that `lsp--cancel-request` takes up a lot of the time anyway): https://gist.github.com/lfxgroove/9a8968aaeb1ff6d1a08d606e8ec

[2020-06-15 11:33] wyuenho commented on #1775
It doesn't. I set `lsp-keep-workspace-alive` to `nil`. I can visit 10 different JS files from 10 different repos, kill all the JS buffers, and then the next one opened will trigger indexing all 10 repos again.

[2020-06-15 14:33] yyoncho commented on #1775
the proposed code works between Emacs restarts, here it is the code to make that work in single session:
[code]

[2020-06-15 20:42] danp opened #1804 "directory ancestry checking doesn't detect distinct directories"
**Describe the bug**
Using lsp-mode-20200615.1829 for editing Go. I have two directories involved, call them:

[code]

Each are distinct Go-wise, having their own `go.mod` files. When opening a file in `~/src/hello-there`, I was not prompted to import the directory as a project root. I was prompted about whether to watch all files in `~/src/hello` which was surprising.

I believe this is because t

[2020-06-15 20:45] danp commented on #1804
Maybe related to https://github.com/emacs-lsp/lsp-mode/pull/1696?

[2020-06-15 21:54] amasover opened #1805 "Discrepancies between VSCode/Sublime and lsp-mode when using terraform-ls: incorrect indentation of nested blocks, extra schema stuff showing up during autocompletion"
See [the issue I previously opened on terraform-ls](https://github.com/hashicorp/terraform-ls/issues/162).

I asked about this in #lsp-mode gitter and @yyoncho suggested that I open an issue for tracking purposes. I'm not sure if it's necessarily clear yet whether this should be fixed on the client or the server. Yyoncho suggested that:

Also seems that whatever way VSCode is handling this, Sublim

[2020-06-15 22:42] kiennq commented on #1804
It seems that even `f-ancestor-of?` is suffered from this problem.

[2020-06-16 00:00] kiennq opened #1807 "lsp-rust diagnostic is not updated when using lsp-use-plists"
With `lsp-use-plists` enabled, the diagnostic information for `lsp-rust` is not updated.
Sample rust file:
[code]

After removing the comment (`//`), the diagnostic is not updated

[2020-06-16 02:01] jgarvin opened #1810 "No straight forward way to disable flycheck/flymake?"
I have emacs > 26.1, and lsp insists on turning flycheck or flymake on. I like everything else about the auto configure, but not this (for rust its broken, the highlighting doesn't respond to editing and underlines too much). So I tried:

* Uninstalling the flycheck package, but then lsp just falls back to flycheck which is also borked.
* C-h v for a variable with "lsp" and "fly" in it. Only resul

[2020-06-16 05:14] yyoncho commented on #1810
`(setq lsp-diagnostic-package :none)`

[2020-06-16 05:14] #1810 closed

[2020-06-16 06:13] yyoncho opened #1812 "[Feature] Allow using webkit for lsp-describe-thing-at-point"
Similar to what lsp-ui has but in a normal emacs window.

[2020-06-16 06:24] #1804 closed

[2020-06-16 06:41] yyoncho opened #1813 "[Feature] Create setup wizard for lsp-mode"
The wizard will be on by default and it will target the users that do not use
preconfigured frameworks(e. g. spacemacs).

Here are some thoughts/ideas about it.

1. The wizard could be either turned off or have a status which is like `run the
wizard again if lsp-mode gets a new feature`. ATM when we add a new feature we
have 2 options. Either to have it on by default which will irritate the users

[2020-06-16 11:34] danp commented on #1804
Upgraded to lsp-mode-20200616.624 and verified this is fixed. Thank you!

[2020-06-16 11:49] innerout opened #1814 "[doc] Duplicate Entries of texlab/latex LS in webpage"
I was checking the [languages](https://emacs-lsp.github.io/lsp-mode/page/languages/) section in the page of lsp-mode and I saw there are 2 duplicate entries in the supported languages list.

1. TeX, LaTeX, etc (texlab)
2. TeX, LaTeX, etc (latex)

Probably the second entry should be removed.

[2020-06-16 12:56] wyuenho commented on #1775
I get this in *Messages*

`let*: Symbol’s function definition is void: \(setf\ lsp-session-server-id->folders\)`

But even if it did work, it's not what I ask for, because this effectively wipes out the session folders every time I visit a file. What I'm asking is have the multi-root LSP servers to index incrementally and on demand instead of indexing everything or nothing at all.

[2020-06-16 13:00] ericdallo commented on #1813
A really good idea of feature.
How can we persist that the user chose to opt-in some features? Would we need to check each feature checking if it's enabled via `defcustom` or if it was persisted on user emacs-dir via wizard?

[2020-06-16 13:10] ericdallo commented on #1814
Fixed it [here](https://github.com/emacs-lsp/lsp-mode/commit/3b6f2d150000431ea71ae981796ff624c09594f8).
Thank you!

[2020-06-16 13:10] #1814 closed

[2020-06-16 13:27] yyoncho commented on #1775
No, it won't work like that. The effect of this code is that lsp mode will always start the language server with only the current workspace folder. Then when you open a file from another project it will be added for indexing at that point.

Something like that will be able to bypass the error(not sure what is the best way to avoid that error though).

[code]

[2020-06-16 14:15] wyuenho commented on #1775
This just gets me this error after visiting a second file in a different folder

`LSP :: Sending to process failed with the following error: Process eslint not running`

[2020-06-16 14:25] innerout commented on #1792
I have been tackling on this behavior lately with ccls and I need to make an extra modification in the buffer and then save it to make the errors disappear. I think if this is solved it will greatly improve the experience of flycheck users.

[2020-06-16 14:58] yyoncho commented on #1792
This should not happen with the latest lsp-mode. The errors should either disappear after 0.5 seconds after modification or 0.5 after they are received from the server. Unless you have removed on idle from flycheck.

[2020-06-16 15:03] innerout commented on #1792
How can I verify the state of flycheck's on idle option you mention? Is there an lsp-mode option that could possibly disable it?

[2020-06-16 15:05] yyoncho commented on #1792
Check if flycheck-check-syntax-automatically has idle-change. Also, doing M-x flycheck-buffer will force lsp-mode to report the latest error reported from the server.

[2020-06-16 15:07] yyoncho commented on #1775
This is odd. I will have to setup eslint + typescript ls to try to reproduce it. I have tested the path with jdtls which is also multiroot server and works fine but it is standalone server.

[2020-06-16 15:17] innerout commented on #515
@shackra You could use `lsp-before-initialize-hook`.

[2020-06-16 15:23] yyoncho commented on #1813
A potential solution is: each of the questions has id/key. We keep a variable, something like `lsp-wizard-answered-questions`. On  `M-x lsp` startup, we check if all questions are answered. If not - we show the wizard. After we set the values we do (custom-save-all) which will write the changed settings in user's config.

[2020-06-16 15:23] wyuenho commented on #1775
It doesn't alway give me that error. As I've said, I have `lsp-keep-workspace-alive` set to nil. After closing all the JS buffers, the workspace kills all servers, but then after opening 2 JS files from 2 repos, the second file will give me that error.

[2020-06-16 18:03] ericdallo commented on #1751
@maskray willing to migrate `ccls` to use the new `lsp-protocol.el`?

[2020-06-17 04:15] codygman opened #1815 "lsp-file-watch-ignored patterns seem wrong"
`lsp-file-watch-ignored` assumes filepaths are only directory names meaning that the ignores don't actually work. Probably related to #713 .

Now I'm tired and could have made a mistake, but I verified my hunch here with this code:

[code]

[2020-06-17 05:46] yyoncho commented on #1815
The idea is that you skip the whole directory and do not process it recursively.

[2020-06-17 06:39] kurnevsky commented on #1813
Sounds like it can be a separate package not tied up with lsp-mode.

[2020-06-17 17:13] innerout commented on #1792
You were right, in my configuration I had the snippet below and after removing it everything works as it should.
[code]

[2020-06-17 17:52] yyoncho commented on #1807
I will take a look.

[2020-06-17 18:14] Sasanidas commented on #1746
Hello again, I'm currently open a request on Melpa for the repository, right now all  the basic functionality works, it even support more languages than some of the official ones, there still some things TODO like the connection with sonarqube, but I think this is out of the scope of this issue.
Again, thank you @yyoncho !

[2020-06-17 18:25] ericdallo commented on #1746
@yyoncho Don't you think it makes sense we create a repository `lsp-sonarlint` on `emacs-lsp`?

[2020-06-17 18:28] yyoncho commented on #1746
It is up to the author of the package.

[2020-06-17 18:30] Sasanidas commented on #1746
it have some plug-ins to configure, and the main file may become too large, and in the future i want to connect to an external service.
I think a separate repository is the right option

[2020-06-17 18:45] Sasanidas commented on #1746
I can add the repository to the emacs-lsp group, but I don't know if that is possible @yyoncho @ericdallo

[2020-06-17 18:47] ericdallo commented on #1746
If you agree, we can create a repository on emacs-lsp organization and make you admin of the repository, then you can migrate to this repository, what do you think @Sasanidas?

[2020-06-17 18:49] Sasanidas commented on #1746
That would be great! :smile:

[2020-06-17 18:55] ericdallo commented on #1746
Sent you the invite to https://github.com/emacs-lsp/lsp-sonarlint

Welcome to emacs-lsp @Sasanidas :)

[2020-06-17 19:05] #1746 closed

[2020-06-17 19:35] yyoncho commented on #1807
AFACS the issue is dup of https://github.com/emacs-lsp/lsp-mode/issues/1792 . Rust analyzer does not re-report errors until the file is saved and the errors stay like that. @brotzeit @flodiebold is this correct?

[2020-06-17 21:16] flodiebold commented on #1807
That's mostly correct (rust-analyzer does provide some errors on the fly, but the compiler is only rerun on save).

[2020-06-18 15:29] yyoncho commented on #1792
I will take a look.

[2020-06-18 23:29] kiennq commented on #1807
I do save the file but the diagnostic is not refreshed. Without `lsp-use-plists`, the diagnostics are updated though

[2020-06-19 04:19] yyoncho commented on #1807
The issue here is that plists does not distinguish json's  `{}`, `nil` and `false` and we do not send didSave event. The correct solution here is painful and will be perf hit.

[2020-06-19 04:50] #1793 closed

[2020-06-19 05:11] kiennq commented on #1807
It's indeed painful. Is there alternative solution for this?
How about bind `null-object` to `:null`? Will there be perf hit somewhere?

[2020-06-19 05:12] yyoncho commented on #1807
we should bind both nil and false to :nil and :false and eventually fix somehow `if` checks.

[2020-06-19 05:16] kiennq commented on #1807
That will be a big change. On other hand, to have same feature parity with hash table, perhaps only binding `null-object` is enough?
I hope it will just work without more change (maybe change in `lsp-empty?` too).

[2020-06-19 05:17] yyoncho commented on #1807
This is won't fix the issue.

[2020-06-19 05:23] aang7 opened #1818 "Is there a way to go to an import module file?"
Please ask your questions at https://gitter.im/emacs-lsp/lsp-mode

for example, I have this import statament
![image](https://user-images.githubusercontent.com/11984605/85098836-66386d80-b1c1-11ea-9a8a-5faaa7a0c31d.png)

and the minibuffer says the module path:
![image](https://user-images.githubusercontent.com/11984605/85098930-b283ad80-b1c1-11ea-9d5d-90228bfecd6c.png)

How can I jump to that fil

[2020-06-19 05:26] yyoncho commented on #1818
And did you try the same here? (I think it is left click).

[2020-06-19 05:30] kiennq commented on #1807
Actually when I tried to bind both `null-object` and `false-object` to `:nil` and `:false`, this snippet still return `nil`.

[code]

[2020-06-19 05:30] aang7 commented on #1818
Indeed I tried before and didn't work but now works! jaja thank you and sorry it's correct, it's left click.

[2020-06-19 05:33] yyoncho commented on #1807
Then
[code]

[2020-06-19 05:34] yyoncho commented on #1807
Not it is:
[code]

We could also try to replace `{}` in the message with `{"_empty": true}`.

[2020-06-19 05:35] #1818 closed

[2020-06-19 15:35] #1778 closed

[2020-06-19 18:19] yyoncho commented on #1815
Closing, please reopen if you find the previous comment to be wrong.

[2020-06-19 18:19] #1815 closed

[2020-06-19 18:23] yyoncho commented on #1807
Proposed fix: when calling method callback we could pass the original json message as a dynamic variable. Then in initializing result handler, we will extract the correct using different json deserialization technique. I filed feature request in emacs-devel for providing `:empty-object` param for json serialization but given the fact that emacs 27 is going to be released soon it seems like that it

[2020-06-19 18:54] yyoncho commented on #1710
@sebastiansturm willing to take a look here. I really don't know how to proceed with that one.

[2020-06-19 19:23] yyoncho opened #1823 "[Feature] make our breadcrumb better than vscode's one"
Few ideas discussed offline with @ericdallo

1. ~Include the project path (like vscode)~ https://github.com/emacs-lsp/lsp-mode/pull/1901
2. Allow clicking on each node and browsing the current level (like vscode).
3. ~Allow going to each segment with a prefix e. g. `C-3 M-x lsp-breadcrumb-open` will go to the third element in the breadcrumb (unique)~ https://github.com/emacs-lsp/lsp-mode/pull/1901

[2020-06-19 19:25] yyoncho commented on #1683
Closing in favour of https://github.com/emacs-lsp/lsp-mode/issues/1751

[2020-06-19 19:25] #1683 closed

[2020-06-19 19:26] yyoncho commented on #1611
@kiennq is there anything more here?

[2020-06-19 19:30] yyoncho commented on #1484
@kiennq `company-auto-complete-chars` does not work on our side. The issue is that when the completion is over we restore the initial state of the buffer(at the time of completion request) which deletes the trigger character.

Some potential fixes:

1. Handle auto-complete-chars on our side.
2. company somehow to alert us for this case?
3. ?

I think this is a very useful feature, especially when

[2020-06-19 19:33] sebastiansturm commented on #1710
I can do some generic guessing though I'm afraid it won't be of much help; I'm not aware of hover-related crashes that haven't been fixed in version 10. @ianpan870102 : do you deliberately work without a compilation database, or did you delete that recently ("recently" relative to the time of your initial bug report)? Can you identify unusual (e.g., insertion of non-ascii characters) changes to yo

[2020-06-19 19:42] yyoncho commented on #1108
@razzmatazz do you think there is anything to do or this issue on lsp-mode side?

[2020-06-19 19:42] #1081 closed

[2020-06-19 19:42] yyoncho commented on #1081
We are done here.

[2020-06-19 19:45] razzmatazz commented on #1108
@yyoncho I am pretty sure the original issue (related to documents-being-out-of-sync) has been fixed with the latest versions of the server.

[2020-06-19 19:54] yyoncho commented on #1108
Thank you, I am closing the issue.

[2020-06-19 19:54] #1108 closed

[2020-06-19 19:56] yyoncho commented on #408
closing based on https://github.com/microsoft/language-server-protocol/pull/1028

[2020-06-19 19:56] #408 closed

[2020-06-20 19:42] yyoncho commented on #1688
As advised by Eli I asked Michael. The issue is that the full path that you are checking should be prefixed with `ssh:localhost:`. It should be the real full path including the host name. I will update the docs.

[2020-06-20 19:49] #1688 closed

[2020-06-21 00:23] exp2ipi opened #1828 "Feature request: extract signature from multi-line onHover responses for lsp-go"
Current behavior when `lsp-eldoc-render-all` is `nil` is to display the first line of the onHover response.  Unfortunately, most of the time (at least in the current version of gopls), the first line does not contain the signature (and in fact frequently contains low-value information, such as an external link to documentation). It would be good to implement something like what was done for clangd

[2020-06-21 04:50] yyoncho commented on #1828
Have you tried if customizing lsp-gopls-hover-kind will fit your needs?

[2020-06-21 05:01] scturtle commented on #1828
You can write your custom `lsp-clients-extract-signature-on-hover` like this one in https://github.com/emacs-lsp/lsp-mode/pull/1740. It can be put in your config files.

[2020-06-21 05:07] scturtle commented on #1807
I just call `flycheck-buffer` manually and repeatedly.

[2020-06-21 05:44] kiennq commented on #1807
Since the diagnostics are returned from the server, if the server is not updated with `didSave`, then no diagnostic will be updated :(

[2020-06-21 05:50] scturtle commented on #1807
Sorry I misunderstood the issue. I'm not using `lsp-use-plists` but still encountered delay of diagnostics.

Every time I saved, the diagnostics are result of the last time I saved. I'm not sure it's issue of doom-emacs or lsp-mode or rust-analyzer. Does anyone have the same issue?

[2020-06-21 06:04] yyoncho commented on #1807
@scturtle see https://github.com/emacs-lsp/lsp-mode/issues/1807#issuecomment-645629224

[2020-06-21 06:09] yyoncho commented on #1807
@scturtle FYI flycheck-buffer won't trigger anything on the server but it will show the last reported errors. Once the server sends new diagnostics we will show them after some delay.

[2020-06-21 06:57] scturtle commented on #1792
https://github.com/emacs-lsp/lsp-mode/blob/92b3b75268a602dcc02f8eec1c333f4551f09539/lsp-mode.el#L8290-L8293

Why `idle-change` must be checked here? There are users like me only wish to see diagnostics only after saved.

[2020-06-21 07:13] yyoncho commented on #1792
That is why this check is here - do not refresh diagnostics on. But there indeed, there is a bug here. We should also update the diagnostics if the buffer is saved and user wants to update diags on save. This is what is causing your issues.

[2020-06-21 08:46] #1792 closed

[2020-06-21 13:27] #1027 closed

[2020-06-21 13:54] brotzeit opened #1833 "rust-analyzer: update runnables request"
The name has changed: https://github.com/rust-analyzer/rust-analyzer/blob/master/crates/rust-analyzer/src/lsp_ext.rs#L129

[2020-06-21 14:19] flodiebold commented on #1833
It's not just the name, but also the structure (that's why I didn't do it immediately, I think it's not a completely trivial change).

[2020-06-21 17:35] exp2ipi commented on #1828
Thank you, `(setq lsp-gopls-hover-kind "SingleLine")` does the trick (although this settings unfortunately seems to suffer from broken fontification).

I think an ideal solution would be to write a custom extractor as suggested by @scturtle and ensure it only applies to the echo area. This has the benefit that the signature information always appears, while more detailed information can be shown i

[2020-06-21 17:47] yyoncho commented on #1828
In lsp world, the client should not have that kind of logic. As a side note, there is discussion in protocol repo have two mehods. One for detailed info and one for the minimal one.

I am closing the bug based on the previous comment(please reopen if I am missing something).

[2020-06-21 17:47] #1828 closed

[2020-06-22 08:06] jakejx commented on #985
Hi, I took a look at this issue and I noticed that there is already a default error handler in `lsp--send-request-async` already. When there is a syntax error in the file, scala metals  returns an empty list of edits. Should we have a message in the minibuffer saying that the server did not suggest any changes?

[2020-06-22 08:09] yyoncho commented on #985
@jakejx - make sense.

[2020-06-22 18:27] ericdallo commented on #1751
@yyoncho I think we finally can close this :tada:
And maybe start thinking in enable plists as default?

[2020-06-22 18:53] ericdallo opened #1835 "Warn about lsp related packages compiled when enabling plists"
To enable `lsp-use-plists` we can first add some kind of warning to the user when loading lsp to re-compile all lsp-related packages to avoid packages checking hts and other packages checking for plists.

[2020-06-23 06:37] lfxgroove commented on #1566
Hi again, it hasn't happened again for me during last week so maybe it was a fluke and I had some heavy process in the background or something. No need to further investigate for me since I guess it'll get better with emacs 27 anyway :)

[2020-06-23 16:12] Compro-Prasad commented on #1813
It does need to be with default `lsp-mode` package so that people coming from VS Code don't find it unpleasing of it doing so less. Sure, its kind of against the customizing facility provided by Emacs but it will definitely boost user experience. I have been thinking of something similar for so long but didn't actually do anything.

The first question should be: **Do you want suggestions from lsp-

[2020-06-24 00:09] jefftrull commented on #764
org-mode would be a much more natural choice. I just spent ten minutes experimenting to figure out that one expands a node with _the left mouse button_, of all things.

[2020-06-24 05:41] schellj opened #1838 "Emacs hangs on javascript syntax error with `ts-ls` and `eslint`"
**Describe the bug**
While visiting a javascript file with connected `ts-ls` and `eslint` LSP servers, introducing a syntax error will cause emacs to hang. This behavior is not observed with only `ts-ls` LSP server connected.

**To Reproduce**
With an environment and Emacs configured to use the `ts-ls` and `eslint` LSP servers, visit a javascript file and import the project root. Introduce a synta

[2020-06-24 19:35] yyoncho commented on #1775
I think that your issue was fixed by https://github.com/emacs-lsp/lsp-mode/commit/7b0b9c3785222ed89744a0d1376e764c30e950ac . Seems like we were not cleaning up the buffers correctly when you kill the server.

[2020-06-24 20:05] ebroto commented on #515
I did not find it in the documentation, would it be possible with semantic highlighting to have items of the same kind coloured in different ways depending on the context?

For example, I would like to use a different color for variable declarations than for variable uses. It seems that the server I'm using supports this (rust-analyzer, as stated [here](https://rust-analyzer.github.io/manual.html#

[2020-06-24 20:21] yyoncho commented on #515
@sebastiansturm do we support that?

[2020-06-25 09:55] sebastiansturm commented on #515
in principle yes, though I haven't tested that part (if rust-analyzer supports modifiers, I'll do so this weekend). To enable it, you'd have to `(setq lsp-semantic-tokens-apply-modifiers t)`, and you'll need to add face definitions for rust-analyzer's modifiers to `lsp-semantic-token-modifier-faces` (which we should then merge into `lsp-mode` proper, right now there's only a `;; TODO: add default

[2020-06-25 14:41] #985 closed

[2020-06-25 15:06] ebroto commented on #515
Hey @sebastiansturm, many thanks for your help with this!

I've applied the modifications you mentioned to my config, but it seems something may be missing because there is no change in how the code is highlighted.

![image](https://user-images.githubusercontent.com/816908/85743738-98d3f000-b704-11ea-99e5-97645ff61afc.png)

When emacs starts there's also an error, though I'm not sure if it's reall

[2020-06-25 15:28] mahinshaw commented on #1838
I ran into this issue yesterday. If I take eslint out of the mix, all is well. The errors seem specific to that server in my case.

[2020-06-25 15:34] mahinshaw commented on #1838
For reference I have these errors:

[code]

[2020-06-25 16:13] yyoncho commented on #1838
I will take a look.

[2020-06-25 16:47] #1838 closed

[2020-06-25 16:59] schellj commented on #1838
Thanks @yyoncho!

[2020-06-25 23:14] muirdm opened #1842 "Support for source.fixAll code action"
There apparently is a kind of code action called `source.fixAll` meant to be automatically run in save hooks. I learned of this via gopls, but it is mentioned [here](https://code.visualstudio.com/api/references/vscode-api#CodeActionKind). Should we add support in lsp-mode to make it easier to set up a hook, perhaps by adding a function to invoke this kind of code action similar to `lsp-organize-im

[2020-06-25 23:25] ericdallo commented on #1842
I didn't know about that kind, I think we could check the source kind and run a custom lsp hook

@yyoncho what do you think?

[2020-06-26 00:30] benwainwright opened #1843 "Performance problems with ts-ls"
**Describe the bug**
Typescript performance problems. lsp-mode freezes periodically as I'm typing. It *seems* (thought I'm not certain) to be related to bringing up the completion popup.

**To Reproduce**
Create a minimal typescript project (I literally just started a new one), start typing in any file

**Which Language Server did you use**
ts-ls

**OS**
MacOS 10.14.6

**Logs**
* Tsserver log incl

[2020-06-26 03:22] kiennq commented on #1843
Look like you're running with `lsp-toggle-trace-io`, which can be seriously slow due to additional formatting + converting from Elisp object to pretty json presentation.
Can you turn it off and retaking the profile?

[2020-06-26 04:24] yyoncho commented on #1842
I think it most likely narrows down to what @muirdm mentioned:

@muirdm

IMO this should be a user option. A lot of users does like intrusive code changes because it introduces unrelated changes to what they are doing now.

[2020-06-26 05:04] benwainwright commented on #1843
@kiennq Thanks for the super quick response!

I literally can't remember why I turned this on; was to debug something else. But... when I turn it off; everything is silky smooth again!

[2020-06-26 05:04] #1843 closed

[2020-06-26 10:13] tshu-w opened #1845 "lsp starting stuck when open tramp file."
**Describe the bug**
lsp starting stuck when open tramp file..

**To Reproduce**
1. `emacs -q -l lsp-start-plain.el`
2. `C-x C-f /ssh:host_name:~/test/test.py` to open an empty project with an empty python file.

my lsp-start-plain.el
[code]

**Expected behavior**
lsp start server correcting.

**Which Language Server did you use**
lsp-python

**OS**
Local: macOS GNU Emacs 27.0.91 (build 1, x86_64-

[2020-06-26 10:18] tshu-w commented on #1845
tmp/pyls-remote-1-stderr:
[code]

[2020-06-26 16:06] jsalzbergedu opened #1846 "Connecting to lua-language-server twice causes syntax highlighting to stop"
As yyoncho suggested, I am going to CC @sebastiansturm
To reproduce the bug, I modified lsp-start-plain to:
1. Include `lua-mode` in the `pkg-list`, `(require 'lua-mode)`, and `(add-hook 'lua-mode-hook 'lsp)`

2. Add sumenko's `lua-language-server`:

https://github.com/sumneko/lua-language-server

Which i had built into my `~/.emacs.d/` directory and included in lsp-start-plain with the following

[2020-06-26 22:21] sebastiansturm commented on #515
I think a separate issue makes sense, unless the fix at https://github.com/sebastiansturm/lsp-mode is enough to resolve your issue. You'll still need to add the required face definitions to `lsp-semantic-token-modifier-faces`, though. Not sure about the error message; are you using multiple language servers with your rust buffer?

[2020-06-26 22:22] sebastiansturm commented on #1846
thank you for the detailed reproduction guide! I'll look into the issue tomorrow

[2020-06-26 23:01] ebroto commented on #515
I can confirm that using your fork fixed my issue :tada: I can see now a different color for variable declarations.

About the error message, I've seen it only pops up when restoring a session (`persp`) with a rust buffer opened. I'll try to dig into it, but I consider my initial issue solved.

Thanks!!

[2020-06-26 23:32] xendk opened #1847 "Serenata logs excessive warnings"
**Describe the bug**
When using lsp-serenata in a buffer, it opens a window where it outputs a lot of:

[code]
I was told to tag @Sasanidas

**To Reproduce**

Clone https://github.com/xendk/dais/ and open the `dais` file. It should start spamming.

**Expected behavior**

It not opening a window with warnings

**Which Language Server did you use**
lsp-serenata

**OS**
Linux

[2020-06-26 23:50] ericdallo commented on #1847
@Sasanidas I think we should implement the notification like [here](https://github.com/emacs-lsp/lsp-dart/blob/master/lsp-dart.el#L111-L114) even doing nothing just to avoid the warnings

[2020-06-27 06:04] wpchou commented on #1823
Maybe We could make use of [header-lines](https://www.gnu.org/software/emacs/manual/html_node/elisp/Header-Lines.html)

[2020-06-27 07:55] xendk commented on #1847
Looked it up, it seems quite useful as it shows progress in bulk scanning: https://gitlab.com/Serenata/Serenata/-/wikis/Language-Server-Protocol-Support-Table#serenatadidprogressindexing

Displaying the progress somewhere would be handy.

[2020-06-27 12:46] sebastiansturm commented on #1846
apparently lua-language-server dynamically registers its `semanticTokens` capability (which I found a bit surprising, as `lsp-mode` currently doesn't advertise `dynamicRegistration` support for semantic tokens). Could you please try out my fork at https://github.com/sebastiansturm/lsp-mode and see if that resolves your issue?

[2020-06-27 14:10] ericdallo commented on #1823
@wpchou we currently use header-line-format to build the LSP headerline already :)

[2020-06-27 16:49] jsalzbergedu commented on #1846
Good afternoon,

Yes indeed that solves my issue, thank you :D

[2020-06-28 10:53] fuzunspm opened #1850 "out of sync errors"
**Describe the bug**
Actually it's hard to explain but whenever i save my file lsp mode displays error like i'm at half of current line. If i create a blank line and save it again then it catches up and clears all non-sense errors

**Which Language Server did you use**
All modes i'm using for  python,js, typescript

**OS**
both macOS and Linux (arch linux)

**Error callstack**
No error

It's bette

[2020-06-28 12:11] ianpan870102 opened #1851 "How to turn off lsp-mode-modeline-code-actions-mode?"
I have already included this line `(setq lsp-modeline-code-actions-mode nil)` in my `init.el`, and yet lsp-mode-modeline-code-actions-mode is still enabled in my C++ lsp buffer. How can I turn it off by default?
I even tried this: `(add-hook 'lsp-mode-hook #'(lambda () (lsp-modeline-code-actions-mode -1)))` but to no success.

[2020-06-28 12:48] kiennq commented on #1851
You need to setup `lsp-modeline-code-actions-enable` to `nil` instead.

[2020-06-28 14:15] ianpan870102 commented on #1851
Thanks man, that worked! I'll close the issue now.
I wish there were a curated list of lsp-mode's "extra" functionalities that people could choose to enable or disable. As many users have debated on Reddit, people have polarising opinions about lsp-mode's approach to enable everything by default and requires users to turn them off one by one.

For instance, most of my lsp configurations are turnin

[2020-06-28 14:15] #1851 closed

[2020-06-28 15:01] tshu-w commented on #1845
after update 20200627.1217 this issue was fixed.

[2020-06-28 15:02] yyoncho commented on #1850
Can you test if this is happening with `emacs -q -l lsp-start-plain.el` where lsp-start-plain.el can be downloaded from https://github.com/emacs-lsp/lsp-mode/blob/master/scripts/lsp-start-plain.el?

[2020-06-28 21:24] tom10x commented on #1768
@yyoncho I run into this every time I make a new JavaScript buffer. It seems to me the problem is (insert-file-contents file-name). There needs to be check that the file exists first, right?

[2020-06-28 23:44] leungbk commented on #1775
Yeah, this problem doesn't appear for me anymore.

[2020-06-29 05:06] yyoncho commented on #1845
Seems like for some reason `\r\n\r\n` are converted to 4 `\n` when writing the message to the stream and pyls is failing to read that message.

[2020-06-29 05:11] yyoncho commented on #1768
Yes, it should but I cannot understand why `https://github.com/yyoncho/lsp-mode/commit/3d0f9534ab54c0c4c2054f44928e9c21bb1672e5` is not fixing it.

[2020-06-29 05:37] fuzunspm commented on #1850
No it's not happening with lsp-start-plain

[2020-06-29 05:41] kiennq commented on #1845
Just saying but it might be because we're choosing `utf-8` as byte en/decoder, we may should choose `utf-8-unix` instead, which will guarantee to not convert `\r\n`. Using just `utf-8` will convert `\r\n` to either `utf-8-dos`, `utf-8-unix`, `utf-8-mac` depends on the system

[2020-06-29 06:56] tom10x commented on #1768
@yyoncho Sorry, my bad, I've tested your fix now and it does work for me (with Emacs 27.0.90).

Curious if there's difference in how we tested this @am-1t . I downloaded https://github.com/yyoncho/lsp-mode/archive/flowjs.zip and set load-path to the use-package expression (see below) and restarted Emacs. Now I can C-x C-f whatever.js without issue.

(use-package lsp-mode
  :load-path "/home/thomas

[2020-06-29 07:41] yyoncho commented on #1850
Closing based on the preivous comment. If you are using your personal config please revert lsp-mode/flycheck settings and reapply them to find out which one is introducing this state. My guess is that you have disabled on idle checks in flycheck. If you are using distribution please report it in distribution repo.

[2020-06-29 07:41] #1850 closed

[2020-06-29 09:49] theothornhill opened #1852 "Regression in lsp-capf after 70ea28f56eeff62f229aca6b469b60c1fd94307d"
After 70ea28f56eeff62f229aca6b469b60c1fd94307d completion does not work correctly, at least in elm files. More specifically, company does not show completions, and throws an error.

When completing with "mai" as part of "main", I get the following error:

    Company: backend company-capf error "Wrong type argument: characterp, nil" with args (candidates mai)

The simplest way to reproduce this is

[2020-06-29 12:18] benwainwright opened #1853 "Company mode with lsp-mode stops working"
Before logging the bug, please make sure that:

1. You are using the latest version of `lsp-mode` related packages. ✅
2. You may also try reproduce the issue using clean environment using the following command ✅  (see below)
3. Check FAQ and Troubleshooting section (https://github.com/emacs-lsp/lsp-mode#faq and https://github.com/emacs-lsp/lsp-mode#troubleshooting) ❌  The problem is related to the

[2020-06-29 13:05] kiennq commented on #1853
Can you follow https://emacs-lsp.github.io/lsp-mode/page/troubleshooting/ and gather `*lsp-log*` and workspace log (`lsp-toggle-trace-io` and `lsp-workspace-show-log`) after you can repro your issue?

[2020-06-29 13:15] Omerktn opened #1854 "Args out of range: #<buffer test.c> error while trying to paste"
Hello,

**Describe the bug**
When I try to paste a line, my cursor teleports to elsewhere and unrelated code errors shows up.
This is a short video of this error: https://streamable.com/9p3izv
I have to kill the buffer and re-open it again to dismiss errors that should not be there.

**To Reproduce**
In the video I'm copying one of the "int test_x = 2;" line, and pasting to the next line.
[code]

[2020-06-29 13:18] yyoncho commented on #1854
Please provide call stack as described in the bug template.

[2020-06-29 13:38] benwainwright commented on #1853
* [tsserver.log](https://gist.github.com/benwainwright/e98db27bc6cf514db225fdb403116e2f)
* [Workspace log](https://www.dropbox.com/s/diwu9vq955gnhrn/workspace.log?dl=0)

Also, I noticed that I appear to suddenly be getting an error with the following stack trace. After I `q` out of the stack trace company-mode is no longer working:

[code]

[2020-06-29 13:51] kiennq commented on #1853
The log is too long. Can you try to get to repro the issue first, toggle the io trace, try to repro it again and paste the log from there?

[2020-06-29 14:04] yyoncho commented on #1853
Also, it will be useful if you can describe steps to reproduce with lsp-start-plain.el.

[2020-06-29 14:14] benwainwright commented on #1853
That's literally what I did. But I'll give it a go and see if it produces a shorter log?

The steps are basically

* Start emacs using `lsp-start-plain.el` along with the config I've described above
* Open a typescript file, start working
* Very shortly (in the order of minutes), company mode just stops working

I can't be more specific than that. As noted above, it appears that using `lsp-start-p

[2020-06-29 14:24] kiennq commented on #1853
Thanks, the error is saying `[yas] `yas-expand-snippet' needs properly setup` though

[2020-06-29 14:35] kiennq commented on #1852
@theothornhill Can you check with the PR?

[2020-06-29 14:35] #1852 closed

[2020-06-29 14:46] Omerktn commented on #1854
I updated the issue. Sorry about that.

[2020-06-29 14:53] yyoncho commented on #1854
Sorry, this is not error calstack. The callstack could be obtained after doing M-x toggle-debug-on-error and then reproducing the error.

[2020-06-29 14:55] yyoncho commented on #1854
This will most likely fix your issue:

[code]

[2020-06-29 15:02] yyoncho commented on #1768
@tom10x thank you, I pushed that fix. Please reopen if the issue is still present and provide the new error callstack.

[2020-06-29 15:07] yyoncho commented on #1845
maybe this is the problematic line:
```(set-process-coding-system proc 'binary 'binary)```

I mean it cant be us using utf-8 because the issue seems to happen when sending data.

@tshu-w can you try changing  'binary to 'utf-8-unix? Let me know if you need more help to try that.

[2020-06-29 15:14] Omerktn commented on #1854
Interestingly, this solved some issuse of copying & pasting but some other errors stays still.

For example, when I try to type under "#include <stdio.h>", my cursor teleports to the beginning of the file and I get "Redifinition of main()" error. And this is the call stack:
[code]

I can open a new issue for these errors it you want.

[2020-06-29 15:31] yyoncho commented on #1853
I was able to reproduce with lsp-start-plain.el but doing C-g in the callstack after closing the callstack buffer after yasnippet exception. But it seems to me that issue is as a side effect from that exception. In your original setup do you have yas-global-mode enabled?

[2020-06-29 15:43] benwainwright commented on #1853
I do yes; just to be clear, in my original setup company mode _does work for a bit_... it just stops working.

[2020-06-29 16:07] benwainwright commented on #1853
Ok. I've disabled `yas-global-mode` for now. First impressions, it definitely seems to be lasting longer than normal; I'll work with it for a bit and see if it sticks.

[2020-06-29 18:18] theothornhill commented on #1852
Works perfectly!
Thanks for the quick fix :-)

[2020-06-29 18:21] danielmartin commented on #1823
Some additional ideas we could implement from old Emacs Semantic: https://www.gnu.org/software/emacs/manual/html_node/semantic/Sticky-Func-Mode.html

[2020-06-29 18:32] ericdallo commented on #1823
Yeah, this mode seems really nice for our use case, can we use it or is it deprecated?

[2020-06-29 19:41] dgutov commented on #1611
It will stop. :-) To pass control to the next backend, return `nil`.

I think there's an existing property for that: `:exclusive`. I'll look into supporting it, but not tomorrow or next week. You can file an issue to track it better.

[2020-06-29 19:58] benwainwright commented on #1853
@yyoncho Ok, completely removing `yassnippets` hasn't resolved the problem. I'll have another go and trying to narrow down the repro tomorrow.

[2020-06-29 20:11] yyoncho commented on #1853
I think that at this point it is best to ask @kiennq  to provide some tracepoints so we can diagnose the issue. IMO we break due to exception during completion and we(or company?) end up in broken state.

[2020-06-29 20:33] yyoncho commented on #1845
Can you test `(setq inhibit-eol-conversion t)` as well

[2020-06-29 21:04] danielmartin commented on #1823
It's not deprecated, but it may be a bit coupled to Semantic. We can get ideas from it. For example, I like the idea of copying or narrowing to function. Narrowing from the breadcrumb may be more useful than what VSCode offers. You could focus on only one function, perform search and replace locally, or even undo only in that particular function.

[2020-06-30 02:00] tshu-w commented on #1845
@yyoncho Neither of the above methods worked.

It's worth mentioning that occasionally I can successfully start the server.

[2020-06-30 03:36] kiennq commented on #1853
I'm more curious about if we get any completions from server after this issue occurred.
So just trace-io after the we can repo it would be enough.
Also, can you dump value of `lsp--capf-cache` when this issue happens?
And try to call `lsp--capf-clear-cache` to see if it resolves the issue?

[2020-06-30 03:48] kiennq commented on #1611
Thanks, opened new issue

[2020-06-30 04:57] yyoncho commented on #1853
@kiennq here are steps to reproduce:

1. Go to lsp-start-plain.el and delete ```(yas-global-mode)``` call.
2. `emacs  -q -l   lsp-start-plain.el js.js`
3. Make sure the server is started and type

[code]

then type
`s.rep` and complete the selection.

It will show an error press q. Go on the next line and try again `s.rep` - it does not show completion.

[2020-06-30 05:08] kiennq commented on #1853
Okay, clear cache will fix the issue.

[2020-06-30 05:16] yyoncho commented on #1845
These are variables to test as well:

coding-system-for-read
coding-system-for-write
last-coding-system-used

Without a reproducer, it is a guessing game. If none of these works I will ask the author of tramp to help with that.

[2020-06-30 05:20] yyoncho commented on #1853
Seems like we should have clear cache call in `company-completion-started-hook`, right?

[2020-06-30 05:27] yyoncho commented on #1853
[code]

This change seems to be fixing the issue.

[2020-06-30 05:33] kiennq commented on #1853
That's not enough. For example you can still see that the completion is not suggested in this case
[code]

There will be no candidate being suggested.

[2020-06-30 05:36] kiennq commented on #1853
I think the completion start detection in `company-mode` is not that accurate, we should really wrap to always clean cache when completion completed (which is more accurately detected?)

[2020-06-30 06:45] tshu-w commented on #1845
None of the above variables works (;
I wish I could help further, but I don't know what to do.

[2020-06-30 08:31] benwainwright commented on #1853
Wow, thanks for the prompt action guys. I'll await that merge and see if it fixes things at my end :)

[2020-06-30 10:15] benwainwright commented on #1853
I just nuked my `elpa/lsp-mode` folder and I don't seem to have gotten the changes. Is there anything I need to get the update?

[2020-06-30 10:24] kiennq commented on #1853
You may need to wait a little bit more to get the change, it depends on when MELPA build every packages.
Alternatively, you can try [`quelpa`](https://github.com/quelpa/quelpa), and type `C-u M-x quelpa`, select `lsp-mode` and install it rightaway

[2020-06-30 11:14] astenman opened #1858 "Icons for headerline breadcrumb are missing if lsp-treemacs is not installed"
**Describe the bug**
Icons for headerline breadcrumb are missing if lsp-treemacs is not installed

**To Reproduce**
Use latest lsp-mode without lsp-treemacs
![breadcrumb](https://user-images.githubusercontent.com/43724994/86119864-8aeee800-bad3-11ea-9277-db6ed2ca183d.png)

**Expected behavior**
Something else than the empty boxes should be shown

**Which Language Server did you use**
PHP Intelephe

[2020-06-30 12:22] benwainwright commented on #1853
Ok, the problem appears resolved. Thanks for your help.

[2020-06-30 13:57] ericdallo commented on #1858
Probably the check, if `lsp-treemacs` is installed, is incorrect, I'll take a look later today, thanks for the report!

[2020-06-30 17:09] yyoncho commented on #1858
we should fallback gracefully if lsp-treemacs is not installed.

[2020-06-30 17:10] benwainwright commented on #1853
@kiennq problem is not resolved. Will try to properly rep again tomorrow. Could you reopen issue please?

[2020-06-30 17:17] ericdallo commented on #1858
Weird, that's already happening @yyoncho [here](https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-mode.el#L2061-L2064), when returning nil, we just don't use the icon

[2020-06-30 17:23] yyoncho commented on #1858
@astenman are you sure that you don't have lsp-treemacs installed? Because the issue might be caused by your emacs compiled without png support.

[2020-06-30 17:30] yyoncho commented on #1853
@benwainwright can you try calling (lsp--capf-clear-cache) when you hit the issue? Also, as suggested by @kiennq can you turn on the logs and inspect if M-x company-complete results in textDocument/completion call to the server.

[2020-06-30 18:23] astenman commented on #1858
Hello,

It seems that I have lsp-treemacs installed after all (although I do not
use it). I have png-support compiled in. But also imagemagick, which might
cause problems in this case.

Is it possible to force the use of all-the-icons instead of png?

Thank you for the good work!

Kind regards
/Anders

On Tue, Jun 30, 2020 at 7:24 PM Ivan Yonchovski <notifications@github.com>
wrote:

[2020-06-30 18:31] yyoncho commented on #1858
Treemacs supports themes but AFAIK treemacs does not come with all-the-icons-theme OOTB. Doom emacs has such theme but we have to implement it in lsp-treemacs as well. There is this: https://github.com/emacs-lsp/lsp-treemacs/issues/18

Meanwhile, to diagnose the issue, can you check what are the paths when you do

[code]

Also, are you using native compilation? I think that it was causing some iss

[2020-06-30 19:17] ericdallo commented on #1858
This does not fix the problem, but it's somehow related: https://github.com/emacs-lsp/lsp-mode/pull/1860

[2020-07-01 01:37] petsgre opened #1862 "Server jsts-ls:2849 status:starting exited with status exit. Do you want to restart it? (y or n)"
Server jsts-ls:2849 status:starting exited with status exit. Do you want to restart it? (y or n)

When a press 'y', this display again ,until i select 'n'

[2020-07-01 01:37] zeronone opened #1863 "Pyright support"
Is it possible to add Pyright support? https://github.com/microsoft/pyright

[2020-07-01 01:43] ericdallo commented on #1862
@petsgre Can you follow [this bug report template](https://github.com/emacs-lsp/lsp-mode/blob/master/.github/ISSUE_TEMPLATE/bug_report.md) to provide more information?

[2020-07-01 03:16] petsgre commented on #1862
sorry, i forgot i uninstall the ts language server globally,it fine now

[2020-07-01 03:16] #1862 closed

[2020-07-01 08:35] benwainwright commented on #1853
Can confirm that suggestions start working again after I make this function call.

I'll do this later this evening if you still need it, unless the above is enough of a smoking gun for you?

[2020-07-01 09:02] ROCKTAKEY commented on #1814
@ericdallo ( cc @yyoncho )
Hi!
It was not duplicated, because both lsp-mode native and my package [lsp-latex](https://github.com/ROCKTAKEY/lsp-latex) support texlab.

[2020-07-01 09:46] yyoncho commented on #1853
There is no need for that. Apparently the exit function is not called. Can you test with the following change:

[code]

[2020-07-01 11:32] benwainwright commented on #1853
Ok, I've put that in my config and I'll continue to work and see if it resolves the issue.

[2020-07-01 12:17] Sasanidas commented on #1847
Ok, seems like an interesting feature, I'll try to fix the issue and add it soon.

Thank you!

[2020-07-01 13:16] kiennq commented on #1853
@benwainwright Do you also encounter any error when completion stops working?

[2020-07-01 13:23] ericdallo commented on #1814
I got confused so, maybe we should just add your removed client config [here](https://github.com/emacs-lsp/lsp-mode/blob/master/docs/lsp-clients.json#L410-L417)?

[2020-07-01 13:26] yyoncho commented on #1863
I moved the issue in lsp-mode repo since current repo provides support for the C# server and both doesn't seem to be related(correct me if I am wrong)

[2020-07-01 13:29] ericdallo commented on #1863
Any problem supporting both `mspyls` and this new one? And we keep the best as the default? I think this gives more options to LSP users

[2020-07-01 13:29] ROCKTAKEY commented on #1814
@ericdallo Like the section deleted on this [commit](https://github.com/emacs-lsp/lsp-mode/commit/3b6f2d150000431ea71ae981796ff624c09594f8#diff-aded05649f01fc0edab82b17f9de2c27L400).
URL and name of client is here.

[2020-07-01 13:34] yyoncho commented on #1337
Is this still happening?

[2020-07-01 13:40] yyoncho commented on #667
I don't think that there is anything to address on lsp-mode side. Marking as closed.

[2020-07-01 13:40] #667 closed

[2020-07-01 13:51] ROCKTAKEY commented on #1814
In addition, some configurations are available, so I would like to add doc about that, if possible.

[2020-07-01 14:08] ericdallo commented on #1814
You can create a file to add custom configurations like we do fo `lsp-rust.el` [here](https://github.com/emacs-lsp/lsp-mode/blob/master/docs/page/lsp-rust.md).
@ROCKTAKEY do you mind opening a PR fixing and adding this new info?
You can test the webpage local with `make local-webpace`

[2020-07-01 14:23] ROCKTAKEY commented on #1814
@ericdallo
OK, I will make it.
As far as I investigated, some clients, such as [bash](https://emacs-lsp.github.io/lsp-mode/page/lsp-bash/), have "available configurations" section, but there is no file like "lsp-bash.md" in doc/. I think default pages are generated from [lsp-clients.json](https://github.com/emacs-lsp/lsp-mode/blob/master/docs/lsp-clients.json), but which is "lsp-bash.md" made from

[2020-07-01 15:06] ericdallo commented on #1814
@ROCKTAKEY We auto-generate the docs from with this script: https://github.com/emacs-lsp/lsp-mode/blob/master/docs/lsp-doc.el#L125-L130
ATM we only have `lsp-rust` that wants to write custom documentation, that's why we have the `lsp-rust.md` file.
You will need to create the `lsp-latex.md` file or something like that and customizes as you want

[2020-07-01 16:20] ROCKTAKEY commented on #1814
@ericdallo Thanks for your infomation.
It seem to get configurations from customization variables. Because it is annoying (and maybe not welcomed) to add installer of lsp-latex.el to the doc builder, I will write lsp-latex.md and make PR later, as you said.

[2020-07-01 16:21] ericdallo commented on #1814
Yes, thank you!

[2020-07-02 02:20] zeronone commented on #1863
Sorry, I don't know much about it either.

Regarding `pylance`, I gives much better completions than `mypyls` thanks to type-inference. Although quite rough, I could make it work with `lsp-mode`.

[code]

[code]

[2020-07-02 02:37] am-1t commented on #1768
I copied the fix in lsp-clients.el

[2020-07-02 02:43] am-1t commented on #1768
@yyoncho Sorry, it is working now with the "typescript-language-server".

[2020-07-02 04:55] #1768 closed

[2020-07-02 04:55] yyoncho commented on #1768
Thank you.

[2020-07-02 09:04] AllenDang opened #1866 "Set lsp-enable-links to nil doesn't disable link in code."
**Describe the bug**
I set the lsp-enable-links to nil but link in code still remain clickable.

**To Reproduce**
Set lsp-enable-links to nil.

**Expected behavior**
Link string in code is not clickable.

**Which Language Server did you use**
lsp-golang

**OS**
macOS v10.15.15

Here is the screenshot.

![截屏2020-07-02 下午5 00 45](https://user-images.githubusercontent.com/18550/86339279-fb3d6b00-bc85

[2020-07-02 09:55] laurynas-biveinis opened #1867 "Bug issue template has obsolete links to FAQ and troubleshooting"
The current bug report template reads:
[code]
These links should be updated to https://emacs-lsp.github.io/lsp-mode/page/faq/ and https://emacs-lsp.github.io/lsp-mode/page/troubleshooting/ respectively

[2020-07-02 10:01] laurynas-biveinis opened #1868 "lsp-ui-flycheck-live-reporting is an obsolete alias of removed lsp-flycheck-live-reporting"
**Describe the bug**
With lsp-mode 7.0, `lsp-ui-flycheck-live-reporting` is declared as an obsolete alias of `lsp-flycheck-live-reporting`. But the latter does not exist anymore.

**To Reproduce**
Source code reading

**Expected behavior**
Not sure, because it is not entirely clear what is the upgrade path from 6.3 `lsp-flycheck-live-reporting` set to `nil` to 7.0. It seems that lsp-mode now honor

[2020-07-02 10:10] yyoncho commented on #1868
We should remove the lsp-ui alias.

This is what we have now by default

Yes.

No, because they have different semantics.

[2020-07-02 14:41] justinabrahms opened #1870 "Feature request: make vscode-eslint automatically installable"
Today, to make lsp-eslint work, you have to install vscode-eslint out of band. It would be much easier if that automatically installed.

This isn't easily possible to do via npm, until https://github.com/microsoft/vscode-eslint/issues/1003 lands.

When complete, we would expect folks to be prompted to see if they want to install the plugin, much like the typescript-javascript LSP does.

[2020-07-02 14:45] michael-angelozzi commented on #1566
Sorry, I don't have the installation anymore, but you guys are doing a good job!

[2020-07-02 15:25] sivark commented on #1813
One possible solution is to create a new wrapper package called `lsp-mode-magic` (also a pun on wizard) whose role would be to 1. Ensure the `lsp-mode` package is made available 2. Set configuation for lsp-mode.

It shouldn't matter for `lsp-mode` how the configuration is generated, and state related to opt-in/opt-out when to nudge, etc. can be nicely isolated outside the `lsp-mode` package. That

[2020-07-02 16:09] yyoncho commented on #1870
Here we have 2 options:

1. Wait for npm package as you suggested.
2. Move dap-mode - vscode marketplace integration in lsp-mode. This way we will be able to download the vsix package.

[2020-07-02 17:43] #1847 closed

[2020-07-02 18:04] yyoncho commented on #1868
Fixed with https://github.com/emacs-lsp/lsp-ui/commit/6b80c6c199929b0410c5270b62f6ff410b34bfca

[2020-07-02 18:04] #1868 closed

[2020-07-02 18:11] #1867 closed

[2020-07-02 20:09] yyoncho commented on #1813
@sivark this is definitely one way to do it but I tend to be against introducing a new package basically with the same concern as the concern behind this issue - people do not read/re-read the readme. I have seen stale artefacts in users' configs that are from 2-3 years ago. There are a lot of people that even don't update their packages and they do update them only if they have lost their emacs.d

[2020-07-03 09:42] kmdouglass opened #1872 "Documentation incorrectly describes docker remote setup"
**Describe the bug**

The current documentation contains the following note that describes how to register a new remote client (https://emacs-lsp.github.io/lsp-mode/page/remote/#sample-configuration):

However if I specify the full path to the remote binary including the tramp prefix `/docker:my-image:` then lsp-mode is unable to find the language server binary. Specifying just the binary name tha

[2020-07-03 12:47] ericdallo commented on #1872
I think that just `pyls` works because docker creates a network dns local with the name of the container, `pyls` in the case, I'm not familiar with using `/docker:9a291afa6b31:/usr/local/bin/pyls`, maybe @yyoncho may have more context about it?

[2020-07-03 12:49] yyoncho commented on #1872
@kmdouglass is right, I will update the docs according to the latest guidance by Michael Albinus.

[2020-07-03 14:18] #1872 closed

[2020-07-03 14:21] yyoncho commented on #1872
Pushed a fix. In general, I recommend you to use lsp-docker over tramp. It works better and the benefit is that you can use local tools over the source code(or at least, AFAIK projectile and related work better on local source code)

[2020-07-03 14:23] yyoncho commented on #1866
I tested this locally and it seems to be working fine. Are you sure that you have set that value before opening the buffer and starting the server?

[2020-07-03 19:47] zt9 opened #1874 "golang modules and lsp-mode"
I am using gnuemacs on osx and I am working with golang 1.4 and gopls. Here is what my .emacs https://pastebin.com/AciZ5gJ2 and and my lsp-log is here: https://pastebin.com/3KLQSi7n . I am able to build the program on console, but not sure why I am getting these error messages on the lsp-log especially about finding module for package github.com/zt9/qr.code.review/golang/app/model/mockdb Looks lik

[2020-07-03 20:20] mcraveiro opened #1875 "Support for sqls lsp server"
Hi LSP devs,

thanks very much for an excellent mode. I use it daily and it has changed my way of coding. I have a question / suggestion: does LSP support sqls [1]? I did a search and could find no evidence of this, but perhaps my google-fu is letting me down. If it doesn't, would you consider adding support for it? Also, it seems there already is a lsp-mssql [2]; would it be more sensible to rais

[2020-07-03 20:24] mcraveiro opened #1876 "c# LSP: Viewing OmniSharp log file"
Hi LSP devs,

Thanks for a great mode. As per conversation in the gitter channel:

@yyoncho suggested that @razzmatazz may know the answer to this question.

Many thanks for all your hard work.

Marco

[2020-07-03 21:20] yyoncho commented on #1875
We have support for it: https://github.com/emacs-lsp/lsp-mode/blob/728134a2320c06d128bc5e379ee436a322086d13/lsp-sqls.el

[2020-07-03 21:20] #1875 closed

[2020-07-03 21:21] #1874 closed

[2020-07-03 23:34] mcraveiro commented on #1875
Aha, thanks very much @yyoncho! I shall ask the sqls devs to add a reference to LSP mode then. Cheers.

[2020-07-04 03:03] zt9 opened #1877 "golang gopls error textDocument/publishDiagnostics"
[lsp-log-go.txt](https://github.com/emacs-lsp/lsp-mode/files/4872036/lsp-log-go.txt)
[lsp-log.txt](https://github.com/emacs-lsp/lsp-mode/files/4872037/lsp-log.txt)
[messages.txt](https://github.com/emacs-lsp/lsp-mode/files/4872038/messages.txt)
[emacs.txt](https://github.com/emacs-lsp/lsp-mode/files/4872039/emacs.txt)

### What version of Go are you using (`go version`)?

<pre>
$ go version
go ver

[2020-07-04 05:05] yyoncho commented on #1775
@leungbk do you have steps to reproduce?

[2020-07-04 15:19] muirdm commented on #1877
The completion candidate inserts invalid Go code, so the syntax error is expected.

[code]

[2020-07-04 19:44] zt9 commented on #1877
@muirdm Thank you for your reply. Sorry for the dumb questions, does this mean the problem is coming from gopls and gopls is providing bad recommendation to lsp-mode? Since I do not believe there is any other completion candidate, it seems the only option is to fix gopls - please let me know if my understanding of my options are correct.

[2020-07-04 19:50] muirdm commented on #1877
Yes, it is from gopls. That behavior will be improved at some point, but for now you can set `lsp-gopls-use-placeholders` to `nil` to disable the placeholders completely.

[2020-07-05 11:06] jfcherng commented on #1863
The [LICENSE](https://marketplace.visualstudio.com/items/ms-python.vscode-pylance/license) says

[code]

So it's not legit to use it outside of MS products?

[2020-07-05 14:48] yyoncho commented on #1863
@jfcherng just like vscode-cpp - they are saying "it is not easy to go open source" but at the same time the license forbids anything but vscode... (this is for pylance).

[2020-07-05 15:26] Sasanidas opened #1879 "LSP servers organization"
Recently I started adapting a new LSP php server ([phpactor](https://phpactor.readthedocs.io/en/develop/usage/language-server.html)), which is *another* lsp supporting the PHP language, recently was  debate about the organization of  the servers #1673 , so the question is:
How should organize the increase language servers?

My opinion:
- There are some servers that require more extensive configura

[2020-07-05 15:38] yyoncho commented on #1879
ATM the options are two:

1. Standalone file in lsp-mode repo, e. g. lsp-foo.el
2. Standalone repo under emacs-lsp

The first one is more convenient for the users but lsp-mode gets bulkier and overloads the lsp-mode maintainers because all of the issue reports/pull requests go in this repo and at the same time the core maintainers cannot be experts in any languages.

The second one is a kind of co

[2020-07-05 15:39] razzmatazz commented on #1876
Hi @mcraveiro. I believe, the log level is configurable but we don't have configuration for it in `lsp-csharp.el` (yet). I have not personally tried configuring it (or if it actually works) but..

The code for this is there:
- https://github.com/OmniSharp/omnisharp-roslyn/blob/master/src/OmniSharp.LanguageServerProtocol/LanguageServerHost.cs#L48

And according to code here:
- https://github.com/Om

[2020-07-05 15:44] Sasanidas commented on #1879
I see, so don't touch the lsp-clients.el file?

[2020-07-05 15:45] seagle0128 commented on #1863
If `pylance` (not `pyright`) has better performance and functionalities, I vote to implement a new client.

[2020-07-05 15:46] yyoncho commented on #1879
Yes. lsp-clients.el was the initial idea then we saw that it wont work. ATM it is kind of deprecated and we might split it into several pieces.

[2020-07-05 15:49] Sasanidas commented on #1879
Sure, that's an interesting thing to do, a better organize approach in my opinion, I can work on it, if you are ok with it :+1:

[2020-07-05 16:00] yyoncho commented on #1879
I am fine with that - after you create the new files please keep lsp-clients.el and require the new files from lsp-clients.el to avoid making this breaking change. Then in the next release, we will delete lsp-clients.el.

[2020-07-05 16:10] bbigras opened #1880 "Feature request: make lsp-extend-selection fallback to `expand-region.el` or something like that when the language server doesn't support `selectionRangeProvider`"
I would like a keybinding for lsp-extend-selection but with a fallback in case the language server doesn't support it.

[2020-07-05 22:24] leungbk commented on #1863
Long term, MS plan to deprecate `mspyls`.

I tried this with Pyright instead of Pylance and it worked well. There has been some interest in this already (https://github.com/microsoft/pyright/issues/99). It would be great if you could PR upstream.

In the Emacs client, you would need to add notification handlers to ignore or simply log `pyright/beginProgress`, `reportProgress`, and `endProgress`. T

[2020-07-05 22:55] mcraveiro commented on #1876
Hi @razzmatazz,

thanks for the prompt response. I will try to modify the log level and see what comes out.

Cheers

Marco

[2020-07-06 02:42] leungbk commented on #1775
Same procedure as OP, basically.

I cloned `vscode-eslint`, and then made a separate git project in with nothing but a `.eslintrc.base.json`. Then I deleted `.lsp-session-v1` and exited Emacs.

I visited for the first time the above projects using the below init, with ESLint starting up in each of them. Then I restarted Emacs. Once I opened `.eslintrc.base.json` in a single repo, I did `M-x lsp-de

[2020-07-06 04:32] seagle0128 commented on #1863
I just noticed `pylance` is not open-sourced, so `pyright` is the option. The new client is still the solution.

[2020-07-06 09:08] mcraveiro commented on #1876
This worked as expected. Thanks for your help.

[2020-07-06 09:08] #1876 closed

[2020-07-06 14:08] yyoncho commented on #1853
@benwainwright any update?

[2020-07-06 14:18] benwainwright commented on #1853
Apologies for the delay; I've been quite busy at work. I've got a bit of time now; will confirm

[2020-07-06 14:35] benwainwright commented on #1853
Ok, this is what the my lsp-mode configuration looks like:

[code]

Unfortunately, the issue is still appearing; even though calling the function that you suggestion manually still appears to solve the issue.

[2020-07-06 15:11] benwainwright commented on #1853
[code]

@yyoncho I'm guessing this means no?

[2020-07-06 15:11] benwainwright commented on #1853
Perhaps I'm configuring this incorrectly?

[2020-07-06 15:22] Omerktn commented on #1854
Restarted with fresh .spacemacs file fixed the issue. Still don't know what caused the problem.
I'm closing the issue, thank you.

[2020-07-06 15:22] #1854 closed

[2020-07-06 17:45] yyoncho commented on #1853
can you replace the function directly in lsp-mode.el and then bytecompile the file with M-x byte-compile-file? Then restart emacs.

[2020-07-06 18:29] payneca opened #1883 "completionItem sortText not respected by lsp--capf-filter-candidates"
**Describe the bug**
A change from 6.3 (working) and 7.0 (breaking), it appears that `lsp--capf-filter-candidates` scores completion items, then sorts by those scores. If a CompletionItem `sortText` field was specified, it seems to be completely overridden.

**To Reproduce**
From a message traffic perspective, it is helpful to log a request to verify the ordering and sortText keys of the inbound c

[2020-07-06 18:56] yyoncho commented on #1883
We did that to make client caching possible and followed what vscode does with some improvements.

@kiennq WDYT about introducing mode which is - don't cache, sort only by using sortText and ignore better prefix match?

[2020-07-06 19:07] payneca commented on #1883
Interestingly enough, it appears VSCode still respects sortText, but does give some bizarre results.

[2020-07-06 19:12] yyoncho commented on #1883
there is this: https://github.com/Microsoft/language-server-protocol/issues/348 and especially this: https://github.com/microsoft/language-server-protocol/issues/898#issuecomment-594617708

[2020-07-06 20:12] dchneric opened #1884 "Option to suppress messages from lsp--info"
This is more of an enhancement for Emacs lsp usability per se. We'd like to suppress the message sent by lsp--info, for example, in lsp-mode.el (around line 8187):

`(lsp--info "Connected to %s."
                     (apply 'concat (--map (format "[%s]" (lsp--workspace-print it))
                                           lsp--buffer-workspaces)))))`

The messages are displayed in emacs echo area

[2020-07-06 20:13] gnufied opened #1885 "lsp-mode throws error related to textDocument/codeAction in echo/message area"
Since upgrading to 7.0, I notice that it continuously tries to spew following errors in message area:

[code]

I am using lsp-mode 7.0 with gopls 0.41. I have tried to debug this when it happens and I ended up with:

[code]

[2020-07-06 20:15] yyoncho commented on #1884
We can and it is easy to do so. The concern is the granularity - because it might suppress useful messages as well. We may introduce "level". 0 means log everything, 10 log nothing.

[2020-07-06 20:20] benwainwright commented on #1853
I don't see a function definition in that file; I see this:

[code]

[2020-07-06 20:30] benwainwright commented on #1853
Ok; I've done that. At first appearance it *appears* to be working. Let me try it for a more protracted period at work tomorrow to confirm.

[2020-07-06 20:32] dchneric commented on #1884
Thanks it would be great to have this feature!

[2020-07-07 00:05] kiennq commented on #1883
@payneca If server is returning `CompletionList` with `IsIncompleted` is `true`, client side filtering will be ignored.
When server is returning completed completion list, the `sortText` will only being used for tie-breaker.
Can you modify your server to return `IsIncompleted`?

[2020-07-07 02:04] kiennq commented on #1883
How about introducing a new private variable, some thing like `lsp--capf-no-reorder`, so while we still do filtering but will not re-order according to matching score?
Then we will have a new logic like:
- With first completed completion results from server, we will not re-ordering (trust server `sortText`)
- From the next one where we're doing fuzzy filtering, we will re-order as client logic.

I

[2020-07-07 04:15] kiennq commented on #1883
@payneca Can you see if #1886 fixes your issue?

[2020-07-07 05:18] yyoncho commented on #1883
IMO both caching and sorting based on prefix are connected. Otherwise if user types `fooBar` and there is entry `fooBar` but we put something with fuzzy match in the first place if its score if it has a bigger score. I would find that unnatural and inconvenient.

[2020-07-07 05:19] yyoncho commented on #1853
I am marking this as closed, please reopen if #1887 is not suffient.

[2020-07-07 05:45] kiennq commented on #1883
That's why the option is not recommended to set.
However, I think what user really want is that we shouldn't re-ordering completion items the first time receiving from server, since server has the best knowledge at that time, after that, due to the cache, we will do re-ordering ourselves.

I do see your point, will add a `defcustom` (`lsp-completion-no-cache`) so that we will not cache the value f

[2020-07-07 07:54] isker opened #1889 "Feature request: new `lsp-clients-flow` customize var to use the `flow` binary in `node_modules/.bin`"
The [recommended way to install flow](https://flow.org/en/docs/install/#setup-flow) is as a non-global (i.e. project-local) npm dependency.

Since the same npm dependency implements flow's language server, the median `lsp-mode` flow user has to customize `lsp-clients-flow-server` away from the default "`flow` on `exec-path`" to point to their project-local `flow`, located at `node_modules/.bin/flo

[2020-07-07 08:29] benwainwright commented on #1853
Ok, so it's been reverted. Is there any other potential fixes I can try?

[2020-07-07 08:39] yyoncho commented on #1853
I believe the fix works but results in one more call to the server.

[2020-07-07 08:41] benwainwright commented on #1853
@yyoncho Ok. But at the moment things are still breaking for me, and I can't believe this isn't coming up for many others. Is there no alternative fix that doesn't do that?

[2020-07-07 09:02] rrudakov commented on #1853
Hi, everyone. I don't know if it's related, but for me completion stops working in lsp-java after some time as well. As I can see from `*lsp-log*` it seems like client doesn't send `document/completion` request anymore. `lsp-workspace-restart` doesn't help, only restarting emacs. Maybe I should open separate issue?

`*lsp-log*`:
[code]

[2020-07-07 12:58] payneca commented on #1883
Thanks for the "Do whatever you have to do" attitude.

Using `isIncomplete` does yield the results I expected.

Not using `isIncomplete`, but using #1886 yielded strange results. Typing the first character gave promising results, but further typing kicked into the fuzzing algorithm and destroyed the usefulness of my server's input.

Using #1886 AND setting `lsp--capf-no-reorder` makes me say WOW!

[2020-07-07 13:38] yyoncho commented on #1883
IMO the setting makes sense when the server is smart. Also, a lot of the servers are fine-tuned to work against what vscode does.

There is :after-open-fn in the client registration which you can use to setq-local the corresponding setting.

[2020-07-07 13:48] payneca commented on #1883
I hope I don't fall into that trap. I hope I fine-tune for what's best for users, not what the VSCode developers thought was best for users.

Perfect. That works great.

[2020-07-07 14:01] yyoncho commented on #1883
Yes. Generally, the server knows much better what should be the order because it is smarter than the client. But Microsoft... I hope that at some point they will allow features in the protocol that are not implemented supported by VScode.

[2020-07-07 14:45] yyoncho commented on #1889
Customization via dir locals is supported - check https://emacs-lsp.github.io/lsp-mode/page/faq/ and I think that a variable can be marked as safe either in our code or in your config.

What we can do is to do that check automatically and use the local version. But with one limitation - the project root is selected after the check if language server is present. Then in order that to work you shoul

[2020-07-07 14:47] yyoncho commented on #1889
Another option is to support placeholders in the path, e. g.:

"{workspace-root}/.npm/flowjs". Then lsp-mode will expand {workspace-root} with the correct binary.

[2020-07-07 17:25] #1885 closed

[2020-07-07 17:31] seagle0128 commented on #1863
I tried `pyright` and `pyplance`, both work well. I can implement the new client if I have time. But I don't know which one is the best option. Thoughts?

[2020-07-07 17:34] yyoncho commented on #1863
Pylance is probably better but it is restricted to vscode/ms products so probably pyright is the only option.

[2020-07-07 18:07] seagle0128 commented on #1863
pyright is just a type checker. The vscode extension supports LSP, so can be leveraged. But I see this.

A: Pyright is now an officially-supported Microsoft type checker for Python. It will continue to be developed and maintained as an open-source project under its original MIT license terms. The Pyright extension for VSCode is a reference implementation and is not guaranteed to be fully functiona

[2020-07-07 18:20] danlamanna commented on #1863
No, it appears to include a language server implementation.

  A: Pyright is an open-source Python type checker **and language server**. Pylance leverages Pyright’s   functionality with additional features, some of which are not open-sourced.

[2020-07-07 18:37] leotaku opened #1890 "rust-analyzer no longer supports workspace/executeCommand"
**Describe the bug**
When trying to apply a code action using `lsp-execute-code-action` using a recent version of rust-analyzer, the command fails with the following error message:

[code]

**To Reproduce**
1. Install rustup `rustup 1.21.1`
2. Install a nightly Rust toolchain using rustup. `cargo 1.46.0-nightly`
3. Install rust-analyzer using cargo `rust-analyzer 36840bd`
4. Load the following cod

[2020-07-07 18:38] seagle0128 commented on #1863
@danielmartin Do you have how to run pyright command line as a language server?

[2020-07-07 18:42] yyoncho commented on #1890
I will do a fix.

[2020-07-07 18:47] yyoncho commented on #1890
@leotaku can you give an example for code action that does not work? I tested a few and they seems to work fine when using this version: https://github.com/rust-analyzer/rust-analyzer/releases/tag/2020-07-06

[2020-07-07 18:49] leungbk commented on #1863
Slight modification to @zeronone's solution, without a separate shell executable

[code]

It works pretty well.

[2020-07-07 18:55] leotaku commented on #1890
Sure, all code actions I tried seemed to fail, so I did not specify one.

* `Add #[derive]`
* `Add default constructor`

These are advertised for all structs and should be easy to reproduce.

[2020-07-07 18:56] yyoncho commented on #1863
@leungbk this looks good, also there is NPM package so

would work.

[2020-07-07 18:58] yyoncho commented on #1890
Sorry, I am not using rust on day to day basis, can you provide sample file to reproduce the issue?

[2020-07-07 19:07] flodiebold commented on #1890
`rust-analyzer.applySourceChange` is not needed by current rust-analyzer versions. Try updating your rust-analyzer (the commit you reference is 3 months old).

[2020-07-07 19:16] leungbk commented on #1863
@zeronone It seems like your solution is pretty good as is. Whenever you get a chance, it would be great if you could submit it here as a PR.

[2020-07-07 19:20] leotaku commented on #1890
@flodiebold is correct, I did not have an up-to-date version of rust-analyzer installed. I honestly did not give it much thought, as I did not see any newer PRs/commits referencing [the issue](https://github.com/rust-analyzer/rust-analyzer/issues/1232) in rust-analyzer but saw very recent commits in eg. kak-lsp that indicate they had to use custom logic.

@flodiebold do you by any chance have a li

[2020-07-07 19:25] flodiebold commented on #1890
No, there's no reason to support `applySourceChange` anymore. It was removed as part of an effort to move to extensions that can potentially be upstreamed to the protocol, which you can read about [here](https://github.com/rust-analyzer/rust-analyzer/issues/4224#issuecomment-632268145).

[2020-07-07 19:29] leotaku commented on #1890
Thanks @flodiebold. In that case I think it makes sense to just close this issue.

[2020-07-07 19:30] #1890 closed

[2020-07-07 21:09] samhedin commented on #1842
Alright, I have no idea how LSP or elisp works, but over summer I have time to spend some time to learn. Would this only be a matter of copy-pasting everything related `lsp-organize-imports` and changing some key areas?

[code]
to

[code]

`"ro" lsp-organize-imports (lsp-feature? "textDocument/codeAction")`
to
`"ra" lsp-fix-all (lsp-feature? "textDocument/codeAction")`?

I also added it to the lis

[2020-07-07 21:15] muirdm commented on #1842
When I was trying the `source.fixAll` action I found that it only worked for the fixes on the current line (i.e. line cursor was on). If I selected a region, it would apply all fixes in the region. I didn't look into it beyond that, so I'm not sure if it ls lsp-mode or gopls responsible for that. Of course, ideally it would apply all fixes in the current file.

[2020-07-07 21:23] samhedin commented on #1842
Works just great in vscode, no matter what line I am on with
[code]

[2020-07-07 23:15] kiennq commented on #1883
@payneca, to summarize this, there's several approach that you can take to skip filtering and re-ordering from client side:
- Changes in language server: you can either:
  - Adding `isIncomplete` into `CompletionList`, this will prevent client-side caching
  - Adding `score` to each `CompletionItem`, this will still enable caching, but client side will honor that score and use it (as multiplier) t

[2020-07-07 23:18] rlivings39 commented on #1246
@yyoncho I had an exchange on the node language server library repo regarding the same issue:

https://github.com/microsoft/vscode-languageserver-node/issues/643

in case any of that information may help here.

[2020-07-08 00:03] isker commented on #1889
Ah, I had missed that FAQ entry.  I will try it out.

I ended up doing this with a giant hammer: `(advice-add 'risky-local-variable-p :override #'ignore)`.  If `lsp-mode` can include something better, that'd be an improvement.

Ah, I didn't know that.  The main intent behind this feature request is to give us a more out-of-the-box setup.  (Chasing after VSCode!)  If we have to select the root befo

[2020-07-08 00:05] isker commented on #1889
If we did automatically first try to find `flow` in `node_modules/.bin`, that'd be easy for me.

But I think the workflow would be unintuitive to new users.  They'd have their flow skipped for a typescript server, then have to investigate the logs to find out that they needed to specify the workspace root beforehand.  Then they'd have to do that and restart the server for the workspace.

[2020-07-08 00:55] zeronone commented on #1863
Here are the cons of each.

- `pyright` (installed from NPM)
  - Just provides a CLI for type-checker (the LSP part is not available in the CLI)
- `pyright` (installed from `code --install-extension`)
  - Provides the LSP server CLI command but add dependency on VSCode
  - Going to be deprecated.
- `pylance` (installed from `code --install-extension`)
  - Not open-source
  - Adds dependency on VSC

[2020-07-08 01:49] leungbk commented on #1863
You don't actually need VS Code.

[code]

And then

[code]

and the rest is the same as above.

There's no guarantee that it will be, but if it does get deprecated, there is nothing stopping someone from forking it.

In comparison, Microsoft's C# implementation of their Python server is 1) definitely getting deprecated 2) buggier (this can be verified by opening a large Python project in Linux) 3)

[2020-07-08 01:56] seagle0128 commented on #1863
The pyright extension is not full functional and will be depreated in future. I am concerned about it although someone may fork it.

[2020-07-08 03:08] wyuenho commented on #1775
I don't understand why we are spending so much time on hacks and documentation when we could just support delayed workspace/didChangeWorkspaceFolders notifications to the server. Is that even in the works?

[2020-07-08 03:59] leungbk commented on #1863
One of his two objections was that VS Code would become a dependency, which isn't the case.

It's certainly a concern. But MS's C# implementation is at least as likely to become deprecated (https://devblogs.microsoft.com/python/announcing-pylance-fast-feature-rich-language-support-for-python-in-visual-studio-code/):

The short- and long-term prospects for Pyright seem better than those of the C# i

[2020-07-08 05:54] yyoncho commented on #1889
We can mark the variable as safe.

Agree.

That is true. In the beginning, I thought that  `check server present` and then `select root` will be better because otherwise you might be asked for root and then have a notification that there is no server for you. We may revisit this decision.

[2020-07-08 06:12] yyoncho commented on #1889
I think also that in the early stage of the project the idea was to use `prog-mode-hook` for `lsp`  command. Then, it would have been poor experience if you got asked to select root for elisp file for example, even it is clear that there won't be a language server for it.

[2020-07-08 07:46] zeronone commented on #1863
Yes, we can build it locally but it is not that nice.

I created a PR so that `pyright-langserver` is linked upon installing `pyright` from NPM. https://github.com/microsoft/pyright/pull/810

[2020-07-08 14:28] payneca commented on #1883
I believe I can survive without PR #1886. I was not aware that I could use the `score` key.

- Setting `isIncomplete` works though emotionally I feel like I'm lying to the client.
- Adding `score` seems to yield promising results.
- Setting `lsp--capf-no-reorder` seems to yield promising results. And yes, longer typing sequences were strange.
- Setting `lsp-completion-no-cache` worked but performa

[2020-07-08 14:37] yyoncho commented on #1883
I am glad that clangd's idea about score works. Too bad that most likely it won't make it to the spec.

The challenge here is what we will do if there are 2 language servers providing completion? How do we sort if one of the servers has sort function?

[2020-07-08 14:43] payneca commented on #1883
I am probably exceeding my domain knowledge. I was not aware that 2 language servers could provide completion for the same file. Composition of functions would certainly be an issue. I don't have a (good) suggestion for that.

[2020-07-08 20:31] theothornhill opened #1892 "lsp-elm not always filtering completions"
Hello there!

When typing from beginning of line, lsp-mode gives completions as it should, however, anywhere else it does not filter the presented candidates.

To reproduce:
`elm init` and `git init` inside some folder, then create `src/Main.elm` in root.
Now invoke lsp-mode.

Start typing: `module Main exposing (..)`

What you will see:
During `module`, we get completions, like this:
![filters](h

[2020-07-09 02:06] jilen opened #1893 "Ligatures cause `lsp-ui-sideline` freeze"
**Ligatures cause lsp-ui-sideline freeze**

If `lsp-ui-sideline` is turned on and there is an `flycheck` error that contains some string could be `composited` as ligatures, emacs freeze.

**OS**
Mac os

**Error callstack**

[code]

[2020-07-09 04:26] kiennq commented on #1893
I think this should be Emacs bug, can you file a bug on Emacs devel?

[2020-07-09 05:39] #1893 closed

[2020-07-09 14:14] #1883 closed

[2020-07-09 14:18] yyoncho commented on #1892
@kiennq willing to take a look? probably server is sending incorrect textEdit.

@theothornhill can you provide the log from the completions that break?

[2020-07-09 14:29] yyoncho opened #1894 "company-mode should not hide the dialog when lsp-mode does not have the time handle the call"
At this point `lsp-mode` returns `nil` to `company-mode` when the server was not
able to respond and the user has started typing. This is a workaround of capf
being synchronous. This triggers hiding of completion dialog which later it
displayed again if there is completion result for the longer prefix. We should
eliminate that.

Potential fixed:

1. Throwing something that company-mode expects and

[2020-07-09 19:42] kiennq commented on #1892
Yes it does seem server just return weird completion items.
It would be helped to have log from the completions that break.
I've tried with https://github.com/rtfeldman/elm-spa-example and it seems the exposing is properly filtered

[2020-07-09 20:00] kiennq commented on #1894
We can indeed returns previous value in this case.
@dgutov Do you think that will fix the issue?

[2020-07-09 20:11] yyoncho commented on #1894
I just want to mention that this issue is hurting the usability of posframe solutions because they are a bit slower in showing/hiding the completion items. At the same time, the solutions with overlays that company offers are not compatible with overlays. So if lsp-mode wants to support lsp protocol flawlessly with we should have working posframe solution.

[2020-07-09 21:14] kiennq commented on #1894
I'm aware that create new frame can be slow but posframe showing/hiding is fairly fast since we don't have to recreate the posframe everytime?

[2020-07-09 22:13] dgutov commented on #1894
This should work. It's an interesting hack, actually.

Option 2 probably isn't going to help (I never optimized for this scenario together with based frontends, and the overlay-based one hides/shows very quickly), but it's an area that could be improved. And without a major redesign of the loop, internally the change is probably going to behave at lot like your suggestion. ;-)

API-wise, option 1

[2020-07-09 23:02] kiennq commented on #1853
@benwainwright Can you check if #1896 fixes your issue?

[2020-07-10 04:09] jerrypnz commented on #1833
I'm also interested in this feature and currently working on it. Will create a PR once it's ready.

[2020-07-10 05:18] yyoncho commented on #1894
Yes. Generally, we should be blocking in completion-at-point and not aborting the computation on user input.

I will do that. Are you aware of any plans to move completion stuff in elpa package?

[2020-07-10 05:25] yyoncho commented on #1894
@kiennq it is fast, but also it should wait for the server to return so the blinking is noticeable. IMO this causes noise

[2020-07-10 07:19] yyoncho commented on #1853
This one should be fixed, @benwainwright reopen the issue if you hit it again.

[2020-07-10 07:19] #1853 closed

[2020-07-10 07:20] benwainwright commented on #1853
Cool I'll have a look this morning :)

[2020-07-10 21:58] dgutov commented on #1894
Right. Your abort-on-input code should check the value of `non-essential`, and only abort if the value is `t`.

No such plans, and `minibuffer.el` is somewhat essential to Emacs. But who knows. It should be possible, one way or another.

[2020-07-12 09:25] theothornhill commented on #1892
Hello!

Attached is the log in empty project with only one file: `src/Main.elm` .

I've written `module Main ex` at the time of log.

Some things I noted while logging:

1. `module` filters fine, and after it is written, log is around 3k lines.
2. `Main` does not seem to increase log by much
3. `e` adds ~10k lines and `x` another ~10k and keeps doing this, so I stopped after `x`

[log.txt](https:/

[2020-07-12 09:57] jiacai2050 commented on #1621
Same here.

lldb output
[code]

[2020-07-12 17:35] theothornhill commented on #1892
FWIW, it seems like this was solved in CoC like this:
https://github.com/neoclide/coc.nvim/commit/af2b7f55843bbb8e3d6a1fc9c41e7f7a54d3b27d

@kiennq @yyoncho

[2020-07-12 17:45] yyoncho commented on #1892
@theothornhill can you confirm that you are using the latest lsp-mode version? We do what coc do (and much more).

[2020-07-12 17:50] kiennq commented on #1892
From your log, the reason why it's not filtered is because of language server return `isIncomplete` as `true`.

[code]

We have a heuristic logic in `lsp-mode` that stop filtering when the language server return `isIncomplete`, since we expect server should do some filtering already in that case.
The reason is simple, if server doesn't do any filtering, typing more characters will just returns sam

[2020-07-12 17:51] theothornhill commented on #1892
@yyoncho Yeah, I also nuked my whole elpa folder just now. Still happens! Also, I confirmed it works with CoC

[2020-07-12 17:53] yyoncho commented on #1892
I was afraid that we are going to end up like this when we diverge from what vscode does... We should do either this or try to convince elm people to return isIncomplete=false. For me asking the client to filter when incomplete is true does not make any sense.

[2020-07-12 17:56] yyoncho commented on #1892
Fixing elm does not seem to be an option, their code is like this:

[code]

and then return the first 50 elements.

[2020-07-12 18:05] kiennq commented on #1892
While I'm believe language server must has some filtering capability (else how can it offer completions item depends on context?), in `lsp-mode` we should just add a variable `lsp-completion-filter-isincomplete` so user can switch and decide what's best for them

[2020-07-12 18:19] yyoncho commented on #1892
Yes. Let's keep the default = "what vscode does" and provide variables so users could fine-tune completion handling based on server capabilities. Although, we should probably provide guidance per server.

[2020-07-12 20:03] danielmartin commented on #1710
@ianpan870102 Can you re-test using `clangd` from `master`? There's been a recent hover crash fix: https://github.com/clangd/clangd/issues/455 If the problem persists, I think it's better to open a separate issue in clangd's repository.

[2020-07-13 02:24] nickenchev opened #1902 "Possible to disable auto-add of includes?"
Hey I recently updated my emacs packages and I noticed that include files are automatically being added as I use certain classes. I noticed a mess happening at the top of my files, as well as files being needlessly added since I already had the appropriate includes (Qt). Is there a way to disable this feature?

[2020-07-13 02:47] jiacai2050 commented on #1621
@yyoncho Do you have any suggestions how to debug this? Once Emacs goes to 100% CPU , I can type nothing.

[2020-07-13 02:59] kiennq commented on #1621
Seems like emacs problem to me. You should probably `report-emacs-bug` too.
@Eli-Zaretskii might help.

[2020-07-13 03:34] ianpan870102 opened #1903 "How to disable lsp-diagnostic-package for all prog-mode except for web-mode?"
As titled.
Here's the solution I've tried so far, which works most of the time (e.g. web-mode buffers get the lsp checker, but not C++ modes). However, lately I've found that lsp checkers are enabled in python-mode too...

[code]

[2020-07-13 04:44] Eli-Zaretskii commented on #1621
Sounds like some face has an invalid definition.  I suggest to find out which face(s) are being merged here; the test case and the backtrace don't give enough info to understand that.

[2020-07-13 11:43] kiennq commented on #1892
@theothornhill Can you try with #1904 to see if your issue is resolved?

[2020-07-13 12:12] theothornhill commented on #1892
@kiennq It absolutely seems to work :)

Thanks so much 🤗

[2020-07-13 12:42] yyoncho commented on #1903
Did you try to call `lsp-flycheck-enable` in web-mode-hook?

[2020-07-13 12:54] codygman commented on #1571
I recall this type information showing up in the minibuffer as well, but now it just shows the symbol name by itself. That implies to me that maybe the new lsp-mode is putting the symbol there while the type information in status buffer is put there by haskell-mode _before_ lsp-mode so it effectively gets overriden.

[2020-07-13 13:42] sollidsnake opened #1905 "php intelephense: variable candidates won't show up"
**Describe the bug**
Candidates that begin with `$` aren't fetched when `company-lsp-match-candidate-predicate` is set to `'company-lsp-match-candidate-prefix`.

**To Reproduce**
[code]
Given the scenario above, put the cursor at the end of the last line and try to invoke completion completion. It should work if `company-lsp-match-candidate-predicate` is set to `flex`, but if you set it to `prefix

[2020-07-13 14:19] yyoncho commented on #1905
company-lsp is deprecated and no longer supported, please try with company-capf. You could do that by deleting company-lsp package.

[2020-07-13 14:36] sollidsnake commented on #1905
Oh, I didn't know that. It's working now. Thank you very much.

[2020-07-13 14:36] #1905 closed

[2020-07-13 16:29] miikkas opened #1907 ""Add `#[derive]`" missing from code actions with rust-analyzer"
**Bug description**
Code actions for structs don't have the "Add \`#[derive]\`" item, which used to be available when using older versions of rust-analyzer. The "Add \`#[derive]\`" item is available in vscode, though, but I can't seem to get it to appear in Emacs even when using the same version of rust-analyzer as with vscode.

**To reproduce**

1. `cargo new lsp-ra-bug-repro`
1. Use the followin

[2020-07-13 17:34] yyoncho commented on #1621
@jiacai2050 can you test with default theme(e. g. after M-x disable-theme)?

In case you still see the error, can you test after setting `lsp-diagnostic-package` to `:none`? I suspect that we might be somehow generating invalid face when we generate dynamically flycheck face for the tagged diagnostics.

[2020-07-13 17:57] Eli-Zaretskii commented on #1621
Actually, I see `maybe_produce_line_number` in the backtrace, so it sounds like the offending face is probably `line-number`.  Can the OP please show the definition of that face in the session that crashes?

(Sorry for not noticing `maybe_produce_line_number` when I first looked at the backtrace.)

[2020-07-13 18:36] #1892 closed

[2020-07-13 18:39] #1833 closed

[2020-07-13 19:02] yyoncho commented on #1907
Thank you for detailed report, I will take a look.

[2020-07-14 02:00] ianpan870102 commented on #1903
I didn't, let me try that.

[2020-07-14 02:05] ianpan870102 commented on #1903
Here's the new setting I tried:

[code]

Description of the problem: When I restart Emacs and open a python buffer, it doesn't use lsp-checker (disabled as I wanted it to be). But if I open a new python buffer "after" I open a web-mode buffer, both will be using lsp-checkers. It seems that the web-mode hook doesn't just activate lsp-flycheck locally, but rather it influences the buffers that open

[2020-07-14 02:27] leungbk opened #1911 "Make an Info node"
It would be nice if there were an `Info` node accessible from `M-x info` for `lsp-mode`.

[2020-07-14 17:24] yyoncho commented on #1907
@flodiebold I spent quite some time looking into this issue and in rust analyzer code and it seems like RA is just failing on calculating this quick fix and it is related to something else...

[2020-07-14 17:46] flodiebold commented on #1907
I think the code action isn't generated because we lsp-mode doesn't support the [snippet TextEdit extension](https://github.com/rust-analyzer/rust-analyzer/blob/master/docs/dev/lsp-extensions.md#snippet-textedit) yet. Most code actions just return a non-snippet edit in that case, but this one doesn't generate, probably because it doesn't make that much sense if it can't position the cursor.

[2020-07-14 18:59] yyoncho commented on #1907
Thank you for the pointer, I will add support for that.

[2020-07-15 01:00] leungbk commented on #1634
The `eslint` server supports the `source.fixAll` code action, so this should be the same issue as https://github.com/emacs-lsp/lsp-mode/issues/1842.

[2020-07-15 03:15] mjlbach commented on #1863
Does some additional setting need to be passed to discover virtualenv modules? I'm only seeing completion for built-ins (like os, sys, etc are fine)

[2020-07-15 03:56] zeronone commented on #1863
@mjlbach I am not 100% sure, but I guess for libraries you can either add type stub file or set the following maybe (from: https://github.com/microsoft/pyright/blob/master/docs/settings.md)

[2020-07-15 04:26] mjlbach commented on #1863
@zeronone Thanks, I've tried adding that (for reference, I'm also working on adding support for pyright to nvim's native lsp).

Something else I noticed is that using the `pyright-langserver` cli option results in different completion options than compiling from source and directly calling server.bundle.js

[2020-07-15 07:01] addy419 opened #1917 "add unzip to documentation"
I wanted to install mspyls but it kept failing everytime. After checking the source code for a while, I found out that the zip extraction depends on unzip which was not installed on my system. It worked right after I installed it. Just add unzip as a warning or an explicit instruction so that users are aware if they are missing unzip.

[2020-07-15 07:08] jiacai2050 commented on #1621
[code]
@yyoncho FYI, I'm using wombat theme for a long time, will retry reproduce this issue with default theme.

[2020-07-15 10:00] zeronone commented on #1863
@mjlbach I found a small problem with the `pyright-langserver` CLI, I made a PR. Hopefully it fixes the issue.
https://github.com/microsoft/pyright/pull/835

[2020-07-15 12:44] jongyoungcha opened #1918 "got a wrong type argument messag (go)"
Before logging the bug, please make sure that:

1. You are using the latest version of `lsp-mode` related packages.
lsp :
![image](https://user-images.githubusercontent.com/7163653/87544846-11194a00-c6e2-11ea-8084-496d373ffa42.png)

gopls :
![image](https://user-images.githubusercontent.com/7163653/87545048-5b023000-c6e2-11ea-8bd7-4ffa2b022544.png)

2. You may also try reproduce the issue using cl

[2020-07-15 12:49] yyoncho commented on #1918
This lsp-mode is like 5 months old.

[2020-07-15 14:22] Eli-Zaretskii commented on #1621
If this is the recipe for reproducing the 100% CPU problem, then I cannot reproduce that.  I guess it could be macOS-specific?

[2020-07-15 20:39] jguenther commented on #1918
I'm seeing the same error today on latest lsp-mode

[code]

lsp-mode 20200714.2335
doom-themes 20200621.109
treemacs 20200715.1534

I've tried deleting *.elc and restarting, but I'm not sure how to troubleshoot further other than downgrading

[2020-07-15 20:41] yyoncho commented on #1918
This is a separate issue, most likely related to headerline. Can you provide a call stack?

[2020-07-15 20:42] yyoncho commented on #1918
Also it is probably triggered by the fact that doom-themes is altering treemacs icons with all the icons.

[2020-07-15 20:43] jguenther commented on #1918
whoops that's my bad, that's not the same thing is it, nvm :)

[2020-07-16 00:52] zeronone commented on #1863
Created a PR: https://github.com/emacs-lsp/lsp-mode/pull/1921

[2020-07-16 01:50] kiennq commented on #1713
@yyoncho  I think this will be fixed if we implement proper merge strategy for `completionItem/resolve`.

[2020-07-16 03:48] andrew-christianson opened #1922 "lsp-make-completion-list does not accept :isIncomplete"
**Describe the bug**

`lsp-make-completion-list` does not include `isIncomplete` when given key `:isIncomplete`, but does when given key `is-incomplete`.

When running under my normal configuration, it returns a hashtable with _just_ the `:items` key.  When running under `lsp-start-plain` this throws an error.  When running under `debug-on-error` in my configuration, it appears to launch the debug

[2020-07-16 03:55] thinkiny commented on #515
can lsp-code-lens support helm like lsp-avy-lens ?

[2020-07-16 04:21] yyoncho commented on #1713
@kiennq IMO we should use `:no-merge` when doing the completion request. Once we do that we will know the original server that has provided the completion item.

[2020-07-16 04:40] yyoncho commented on #515
@thinkiny

Can you describe how this will work? The challenge with helm interface is that we do not have enough context, e. g.
[code]

In this case, the only way to differentiate those two lenses in helm interface is to include the line number in helm and I am not 100% sure if this will be useful.

[2020-07-16 04:48] #1922 closed

[2020-07-16 04:53] kiennq commented on #1713
For `completionItem/resolve` it will always return an `CompletionItem` after resolving (be it able to add new data or not).
So why `:no-merge` here is better? Shouldn't that complicating our current handler of completion items?

[2020-07-16 05:00] yyoncho commented on #1713
This is the other way - call both servers and somehow decide which one to use or merge the results - IMO this will be less reliable than calling the right server. But yes, you are right - this will complicate the completion code.

A possible solution is to merge the results in capf function and keep the workspace as a filed in completionitem itself and use that when resolving.

[2020-07-16 05:05] leungbk opened #1924 "Prefer committing .dir-locals.el over .editorconfig?"
Everyone here uses Emacs, so anything we would use a `.editorconfig` for can be done with a `.dir-locals.el` and a `.gitattributes` file.

One concrete benefit of committing a project-wide `.dir-locals.el` is that we should be able to modify `lisp-imenu-generic-expression` to detect `lsp-defun` and `lsp-interface`, allowing `M-x imenu` to be more useful. I use `imenu` all the time, but in this pro

[2020-07-16 05:06] kiennq commented on #1713
I still not understand why we shouldn't merging here?

[2020-07-16 05:23] kiennq commented on #1713
@brn @leungbk  Can you see if #1859 fixes your issue?

[2020-07-16 06:21] yyoncho commented on #1924
make sense to me.

[2020-07-16 08:24] kiennq commented on #1668
Add one more comment to this, I surprise that this works and non-blocking
[code]

Always thought that without yielding, the message will never be output.

[2020-07-16 13:59] kiennq commented on #1775
This is actually really useful especially when Emacs is running as daemon (so basically only one big session).
Would you like to provide a PR for this?

[2020-07-16 14:19] wyuenho commented on #1775
I'd love to, but all the anaphoric macros in the code gives me a headache. Someone more familiar with the code base should do it.

[2020-07-16 20:27] yyoncho commented on #1907
proposed fix at #1926

[2020-07-16 20:27] yyoncho commented on #1918
Do you still see that?

[2020-07-16 20:52] #1924 closed

[2020-07-16 22:03] leungbk commented on #1713
@kiennq Yes, it works. Thanks!

[2020-07-16 22:55] artemkovalyov opened #1929 "Can't disable Eslint for JS/TS"
**Describe the bug**
There's no way to disable Eslint for JS/TS

**To Reproduce**
`lsp-eslint-enable` is never referenced after declaration
[code]
**Expected behavior**
LSP mode doesn't activate Eslint server if `lsp-eslint-enable` is set to `nil`

**Which Language Server did you use**
lsp-eslint

**OS**
Linux (Kubuntu)

**Error callstack**
There are no errors as is, but here is the log:
[code]

[2020-07-17 04:25] vuquangtam opened #1930 "When open new buffer (without save as file), lsp show error message"
**Describe the bug**
When open new buffer (without save as file), lsp show error message

**To Reproduce**
Create new buffer: test.js.
It shows: File mode specification error: (file-missing Opening input file No such file or directory ./code/test.js)

**Expected behavior**
Don't show error when open new buffer

**Which Language Server did you use**
lsp-typescript, lsp-angular, lsp-ruby

**OS**
Ubu

[2020-07-17 06:05] yyoncho commented on #1930
which version of lsp-mode do you use? This should have been fixed with 58f14fed. If you are using the latest lsp-mode version please provide callstack as described in bug template.

[2020-07-17 06:06] yyoncho commented on #1929
Try with `(setq lsp-disabled-clients '(eslint))`.

[2020-07-17 06:07] yyoncho commented on #1903
Can you try after https://github.com/emacs-lsp/lsp-mode/commit/5f72463078309071fd6446d6550218a728004110?

[2020-07-17 06:40] ianpan870102 commented on #1903
Hi @yyoncho thanks for getting back.
After the latest update I can confirm that my desired behaviour can be achieved using the following config:

[code]

Purely out of curiousity, I'd love to know what changes you committed on your end -- and was it a python-specific issue? I tried digging in the commit messages but didn't really get it.

[2020-07-17 07:00] yyoncho commented on #1903
flycheckers are bound to major mode(s). lsp-mode registers dynamically flychecker when you start it in major mode X. But initially, we have to provide a major mode for the flychecker because it is mandatory and we were using python-mode so it was unconditionally enabled for python-mode.

[2020-07-17 07:00] #1903 closed

[2020-07-17 07:03] ianpan870102 commented on #1903
Ah, this makes a ton of sense! Thanks again man @yyoncho

[2020-07-17 07:08] vuquangtam commented on #1930
Hi, I'm using version 7.0, it's still show the error message:
"File mode specification error: (file-missing Opening input file No such file or directory ./code/test.js)"

[2020-07-17 07:16] yyoncho commented on #1930
Ok, can you provide requested info?

[2020-07-17 07:36] vuquangtam commented on #1930
Here the info

**Error callstack**
Debugger entered--Lisp error: (wrong-type-argument hash-table-p nil)
  remhash("/home/lap13180/test-lsp.js" nil)
  lsp--on-diagnostics(#s(lsp--workspace :ewoc #s(ewoc :buffer #<buffer *lsp-log: ts-ls:13288*> :pretty-printer lsp--log-entry-pp :header [[[[... #5 ... #<marker at 7644 in *lsp-log: ts-ls:13288*>] #4 "" #<marker at 7803 in *lsp-log: ts-ls:13288*>] #3 D

[2020-07-17 07:52] yyoncho commented on #1930
Can you try deleting lsp-mode package, restarting emacs and then installing it again?

[2020-07-17 08:01] vuquangtam commented on #1930
It works. Thank you very much for quick support

[2020-07-17 08:07] #1930 closed

[2020-07-17 10:52] artemkovalyov commented on #1929
@yyoncho, thanks it did the trick.
Thanks for the great job! LSP is one of the best thing that hit Emacs lately.
I'll create another issue for changes not taking effect when running `lsp-esling-apply-all-fixes`. If worked for me before but with the latest update has no effect. I tried to debug with my limited knowledge of lisp and LSP protocol, but seems I'll have to ask you guys for help again.

[2020-07-17 10:53] artemkovalyov commented on #1929
I'll close this one. I think this worth to be added to troubleshooting section or FAQ as I would usually look for a switch in the module itself.

[2020-07-17 10:53] #1929 closed

[2020-07-17 11:08] kiennq commented on #1713
Great to know :)

[2020-07-17 20:05] artemkovalyov opened #1932 "lsp-mode does not work with latest un-merged but published version of eslint language server"
All the tests were done with clean emacs 27+ and config from here: `https://github.com/emacs-lsp/lsp-mode/blob/master/scripts/lsp-start-plain.el`.

**Describe the bug**
Eslint doesn't apply fixes. `lsp-eslint-apply-all-fixes` doesn't produce any results.

**To Reproduce**
Create a following `test.js` file.
[code]
Create `package.json` file:
[code]
Create `.eslintrc.js`
[code]

**Run**

`npm instal

[2020-07-17 20:16] jguenther commented on #1918
@yyoncho many thanks, I just tried upgrading these packages and I'm not seeing errors anymore 😄

[2020-07-17 20:34] yyoncho commented on #1932
AFACS the server code has changed so we have to adjust lsp-mode.

[2020-07-17 20:42] artemkovalyov commented on #1932
A couple of screenshots to get an idea.
![image](https://user-images.githubusercontent.com/10460752/87829124-ab15f980-c87e-11ea-962c-e8e108621c34.png)
![image](https://user-images.githubusercontent.com/10460752/87829141-b1a47100-c87e-11ea-9e1c-3f95670330ea.png)

[2020-07-17 20:44] artemkovalyov commented on #1932
Understood @yyoncho, at least I won't be duping time to configure it in vain and make a gig to make it work again.

[2020-07-17 20:46] yyoncho commented on #1932
Yes. The issue is that the server hasn't been configured properly before that so it is sending empty edits when performing quick fix.

Probably if you try to switch to an older version of the server it will work. The issue might be caused also by a regression in lsp-mode as well. I will take a look to find out how much effort will be to sync lsp-mode with latest eslint.

[2020-07-17 20:53] yyoncho commented on #1918
Thank you.

I am marking the bug as resolved! @jongyoungcha please reopen if you still see the error with latest lsp-mode.

[2020-07-17 20:53] #1918 closed

[2020-07-17 20:55] yyoncho commented on #1932
I downloaded https://github.com/Microsoft/vscode-eslint and then npm install and then configured lsp-mode to point to vscode-eslint/server/out/eslintServer.js and it was working fine.

At the same time, it does not work with the eslint downloaded from market place. I cannot find which version was used for 2.1.8 version of vscode package. Also, I got a notification request when I was using the mark

[2020-07-17 23:17] leungbk commented on #1932
The commits corresponding to the latest versions haven't been merged into the master branch yet: https://github.com/microsoft/vscode-eslint/issues/1011

[2020-07-17 23:39] leungbk opened #1933 "Expose per-server wrapper functions for use with nix-shell and guix"
`lsp-haskell` currently [exposes](https://github.com/emacs-lsp/lsp-haskell/blob/17d7d4c6615b5e6c7442828720730bfeda644af8/lsp-haskell.el#L60) a `defcustom`, `lsp-haskell-process-wrapper-function`, to enable a convenient means of specifying a project-specific `ghcide` executable (for example). This is useful in Haskell since in order to work in a particular project with `ghcide`, it must be compiled

[2020-07-18 01:02] ericdallo commented on #1933
As a NixOS user, I agree with that :smile:

[2020-07-18 07:12] yyoncho commented on #1933
Can this be generalized and handle https://github.com/emacs-lsp/lsp-mode/issues/1889 as well? Or both will serve a different purpose and will run at different time(flow one when resolving server binary, and this one just before running the server).

Also, we should think of generalizing lsp-register-client. What I wanted to implement in the past by converting lsp-register-client to macro but never

[2020-07-18 07:16] yyoncho commented on #1932
This is really something unexpected...

[2020-07-18 09:53] #1907 closed

[2020-07-18 10:10] miikkas commented on #1907
I was traveling and couldn't get back to you immediately – thanks for working on this. I just tested yyoncho's proposed fix: I first upgraded lsp-mode to the latest version 20200716.2052 on MELPA, deleted the .elc files and replaced the three files changed in the pull request. I then went through the same steps I originally reported for reproducing the issue. Looks like I'm still not getting the o

[2020-07-18 12:02] yyoncho commented on #1907
@miikkas seems like melpa is not picking lsp-mode, the fix was submitted on 0717 but still there is no lsp-mode version.

[2020-07-18 12:46] gnumonk opened #1936 "Angular angular-ls is keep crashing ."
**Describe the bug**
Enabling lsp for html (i.e Angular project), angular-ls is kept crashing.

**To Reproduce**
Enable following option in .spacemacs
          html-enable-lsp t
           css-enable-lsp t
           less-enable-lsp t
           scss-enable-lsp t
**Expected behavior**
angular-ls mode should not crash in .html files.

**OS**
Mac

**Error callstack**
/usr/local/lib/node_modules/@an

[2020-07-18 14:06] miikkas commented on #1907
Sorry, I actually meant I applied your patch manually to the latest lsp-mode at the moment of writing my previous comment.

Looks like MELPA just finished with the latest update, and lsp-mode 20200718.1111 is now up.

I tried that version now, but the code action for adding #[derive] still wasn't available. I dug around the workspace log from around where rust-analyzer is started and noticed the f

[2020-07-18 14:17] kiennq commented on #1907
@miikkas You just need to change the first quote `'` into back-quote `

[2020-07-18 14:23] yyoncho commented on #1907
@miikkas sorry about that, I pushed a fix about that - I changed `t` to `lsp-enable-snippet` just before pushing which is not expanded.

[2020-07-18 14:28] miikkas commented on #1907
Thank you!

[2020-07-18 16:26] yyoncho commented on #1805
@amasover can you test with https://github.com/emacs-lsp/lsp-mode/pull/1935?

[2020-07-18 18:14] hlolli commented on #1036
calling `find . -type f -name '*.elc' -delete` inside .emacs.d/elpa fixed this for me.

[2020-07-18 19:17] leungbk commented on #1936
With Angular 10, the server crashes the first time, but after restarting it, it seems to work. Here's what I tried:

[code]

And then I made the following `.dir-locals.el` in the root of the project:

[code]

I have no idea if installing `@angular/language-server` per project is actually better than using a single global one, but I tend to prefer per-project tools out of habit.

[2020-07-18 19:52] leungbk commented on #1933
When using `nix-shell`, you're not expected (but are allowed) to specify the full path of the executable, since the full path looks like `/nix/store/hash123abc/...`. So I think for #1889 we might want a similar but separate wrapper, generated as part of your option 1.

All of these sound useful. I had been intending to pursue option 1 for this issue.

[2020-07-18 20:59] artemkovalyov commented on #1932
It's indeed weird and unexpected... Thanks for looking into this @yyoncho and @leungbk

[2020-07-19 04:58] #1805 closed

[2020-07-19 18:14] underfarm opened #1941 "Cant connect to Godot LSP server on Windows 10 (lsp-gdscript)"
**Describe the bug**
lsp-gdscript is not able to connect (complete connection?) to the godot lsp-server on Windows 10. The client seems to be stuck on "starting":

lsp-session: `-[-] gdscript:nil status:starting

lsp-log: The following clients were selected based on priority: (server-id gdscript, priority 0)

I used the lsp-start-plain.el with emacs -q, and it is still stuck on "starting".

The TC

[2020-07-19 18:18] yyoncho commented on #1941
Can you try after

[code]
?

[2020-07-19 18:29] underfarm commented on #1941
That seemed to work, thanks a lot! The dosctring of "inhibit-eol-conversion" dident tell me much, but i can guess what it does, and the side effects :)

This might be a known problem, should i consider this issue closed?

[2020-07-19 18:29] yyoncho commented on #1941
Keep it open, it should work OOTB.

[2020-07-20 08:22] yangyingchao opened #1942 "Warning when byte-compile lsp-mode.el: macro ‘lsp-with-current-buffer’ defined too late"
**Describe the bug**
   byte-compile lip-mode.el gives warning:

[code]

What's more, when I try to run LSP with native-compile enabled, it reports error: can't find function `lsp-with-current-buffer` , and idle-times won't run.

**To Reproduce**
  Download latest package, and byte-compile lsp-mode.el.

**Expected behavior**
  No warnings, and lsp works.

**Which Language Server did you use**
 not

[2020-07-20 09:12] #1942 closed

[2020-07-20 17:39] leungbk commented on #1932
So this is a bit messy. The new `esilnt/confirmLocalESLint` request introduced in https://github.com/microsoft/vscode-eslint/commit/455cab65ec8b687d20d1efa53828a93110c1f2fd on the `2.1.9` branch is the cause of the problem.

Upstream, they are still debating on the best way of doing this: https://github.com/microsoft/vscode-eslint/issues/1012. I don't think we can work around this by merely sendin

[2020-07-20 19:16] yyoncho commented on #1823
I think that middle-click on the file name should reset the narrowing.

[2020-07-20 19:37] ericdallo commented on #1823
I updated the issue description updating the current status on master

[2020-07-20 20:20] yyoncho commented on #1823
5. We might also mark the elements with errors like vscode does. The same goes for folders as well. If we decide to implement that we should be careful with the performance.

[2020-07-20 23:02] amasover commented on #1805
Yes, that has fixed the indentation problem! Thanks so much @yyoncho

I think there's still a few differences between how VSCode and Emacs w/ lsp-mode handle things though. One of them is the example I mentioned above with the "1" and "3" being inserted:

[code]

There's a few other differences as well I think. VSCode seems to have a little more information in the autocomplete pop-up (e.g., `conta

[2020-07-21 05:04] gnumonk commented on #1936
Yes, Installing locally with above the suggestion, it is working.

[2020-07-21 06:51] yyoncho commented on #1805
We are using yasnippet to expand the snippets and the differences are there. Can you provide the completion log (as described in bug template) for that particular completion? Also, do not use company-lsp it is no longer supported. Are you switching from insert->normal state during snippets navigation?

Please provide screenshots.

[2020-07-21 13:31] #1713 closed

[2020-07-21 17:39] muirdm opened #1944 "Make it easier to customize lsp-modeline-code-actions-face"
Currently this is a variable pointing to an existing face `homoglyph`. If I want to customize the appearance of the code action in the modeline, I need to define a new face myself and then assign it to `lsp-modeline-code-actions-face` (right?). Can we instead make `lsp-modeline-code-actions-face` an actual face that just inherits from `homoglyph` so that themes can adjust this face like normal?

A

[2020-07-21 17:50] yyoncho commented on #1944
This should be fixed - we should use defface. @muirdm do you have a suggestion for better face to use as a base? IME it looks nice in most of the themes I have tried.

[2020-07-21 17:51] ericdallo commented on #1944
I chose`homogylph` because it looks "different" from the other modeline things emphasizing it, but if you have a better suggestion for the default we can think about changing it.

[2020-07-21 17:54] yyoncho commented on #1944
`success` and `link` might work too

[2020-07-21 17:57] ericdallo commented on #1944
On some themes link seems to add `underline` which can be strange:
![image](https://user-images.githubusercontent.com/7820865/88089404-4ac6d680-cb62-11ea-95b8-a83630bdbcaf.png)
success seems ok:
![image](https://user-images.githubusercontent.com/7820865/88089441-5ca87980-cb62-11ea-9086-a03b05f61c38.png)
but IMHO I think default looks better as homoglyph:
![image](https://user-images.githubusercont

[2020-07-21 18:00] yyoncho commented on #1944
Underlining does not look good if there is space in it.

[2020-07-21 18:01] yyoncho commented on #1944
But actually, this is caused by the way we built the modeline because it is fine for Sort Members.

[2020-07-21 18:04] ericdallo commented on #1944
Yeah, I think so

[2020-07-21 18:04] muirdm commented on #1944
I'm no expert, but I would probably have picked `mode-line` or `default`.

[2020-07-21 18:07] ericdallo commented on #1944
`default` seems to break the icon for some reason:
![image](https://user-images.githubusercontent.com/7820865/88090215-a5acfd80-cb63-11ea-9d67-2c259f665a9f.png)
`mode-line` looks "normal" in my theme ([Dracula](https://github.com/dracula/emacs))
![image](https://user-images.githubusercontent.com/7820865/88090325-cd03ca80-cb63-11ea-8f17-ec12fb1f8eec.png)

[2020-07-21 18:14] muirdm commented on #1944
Haha, martini upgrade.

It is a lot of text showing up in the modeline, and I had no problem noticing it. Personally I don't really want a bright color for so much text (which is why I wanted to customize it). As long as it is a normal face I can customize then consider my criticism about "homoglyph" retracted.

[2020-07-21 18:16] #1944 closed

[2020-07-21 18:29] yyoncho commented on #1823
6. Implement some kind of strategy to make the paths shorter when it is more than a particular length. The priority should be symbol data, file name, project, path. (we start truncating from the path).

[2020-07-21 20:05] muirdm opened #1947 "Consider triggering completion automatically at snippet tabstops"
It would be cool if lsp-mode could automatically trigger completion at each snippet tabstop. For example, when expanding `foo(${1:a}, ${2:b})`, lsp-mode would trigger completion (with an empty prefix) at $1. If the user chooses a candidate (or starts typing to filter candidates), the "a" placeholder would be overwritten. After finishing completion at $1, the user presses TAB and advances to $2, au

[2020-07-21 22:42] leungbk opened #1948 "Undo does not work with code actions or rename operations spanning multiple files"
With the TypeScript language server, if I move point to the function arguments [here](https://github.com/microsoft/pyright/blob/85ce1ef59e7fe3cf95de67d89565b7e60178ec79/server/src/analyzer/program.ts#L1233) and execute the code action `Convert parameters to destructured object`, then attempting to `M-x undo` will undo the edit in that file, but will not undo the corresponding edits previously made

[2020-07-22 07:39] yyoncho opened #1949 "Provide a guide how to configure/use python language servers with virtual pyenv(and related)"
We often get that as a question, it is answered here and there so it will be good if we have recommended solution in lsp-mode's docs.

[2020-07-22 10:45] jadestrong opened #1950 "Set lsp-vetur templateInterpolationService to false"
https://github.com/emacs-lsp/lsp-mode/blob/dbf9bade9f03004ba21761611beb9cc8a882b163/lsp-vetur.el#L805

When the third param is `nil` , the property will be ignored if the VALUE is nil. When ignore the property, `vls` will set the default value to `true` , how can I configure this property to `false` ?

https://github.com/vuejs/vetur/blob/8152882e59cc3306f09ab4889bd63b0678463ef9/server/src/modes/te

[2020-07-22 10:54] #1950 closed

[2020-07-22 11:32] yyoncho commented on #1948
In vscode they reverse the text edits so later they can undo the operation. I think that this is mainly due to the fact that vscode planform(or electron planform) does not provide the facilities that we have here in emacs(e. g. undo-amalgamate-change-group) but we could use this strategy to implement your suggestion.

It will be good to have a test suite for that as well since it has well-defined

[2020-07-22 12:04] yyoncho commented on #1947
1. If there is only one candidate it will be automatically inserted. It may cause an endless loop as well.
2. If there are a lot of candidates on top level and the user has configured the autocompletion to be displayed manually and/or with bigger prefix it will lead to unwanted behaviour.

I tested it with changing the behaviour of TAB command and I saw 1.

I did some quick research and I did not

[2020-07-22 15:58] muirdm commented on #1947
Thanks for the help!

Yeah, definitely should be optional. Perhaps certain known-to-be-performant servers could enable it by default if it proves to be a popular option.

I was imagining the candidate wouldn't be inserted - it would behave like you triggered completion and there was only one candidate, i.e. the candidate shows up "pending" at your cursor, but you still need to press TAB to insert

[2020-07-22 16:47] ericdallo opened #1952 "[migration] lsp-lens to another file"
We are migrating features from lsp-mode.el to its own file

[2020-07-22 17:19] yyoncho commented on #1947
I guess this can be avoided but this is the behaviour of M-x company-complete when there is only one candidate on my setup.

We need a hook on field expanded(or whatever the yasnippet term is). Then `(add-hook 'yasnippet-on-field-expanded-hook 'company-complete)`. The feature isn't even lsp-mode related, it is integration between yasnippet and company-mode.

[2020-07-23 07:28] yyoncho commented on #1902
I guess this is what you are looking for:
[code]

[2020-07-23 07:28] #1902 closed

[2020-07-23 13:07] #1952 closed

[2020-07-23 13:45] #1668 closed

[2020-07-23 18:14] muirdm commented on #1947
I tried hacking this in but I couldn't get it to work for both the initial snippet field and later snippet fields. I think it had to do with the initial completion not actually being done when we enter the first snippet field, so triggering a completion there didn't work. Were you able to get it working for both the first snippet field and later fields? If so, can you share your approach?

[2020-07-23 18:27] yyoncho commented on #1941
Can you try with https://github.com/yyoncho/lsp-mode/commit/7fcb581cee095e67e31f3772c1d0a142a4953b75 ? If this doesn't work I will have to ask in emacs devel for help.

[2020-07-23 21:22] muirdm commented on #1877
I realized the "computing fix edits" error is actually a gopls bug (it was propagating an "expected" error). It should be fixed on gopls master via https://go-review.googlesource.com/c/tools/+/243238 and will be in the next release.

Note that you will still see syntax errors pop up, but the spammy "computing fix edits" errors won't show up.

[2020-07-23 21:22] #1877 closed

[2020-07-23 21:27] muirdm opened #1956 "Can't run multiple code actions on the same line"
**Describe the bug**

With two identically named code actions on the same line, I'm not able to execute the second code action no matter which I choose in the `lsp-execute-code-action` menu.

**To Reproduce**
Using gopls on master:
[code]

Move cursor to `_, _ = foo{}, foo{}` line, run `(lsp-execute-code-action)`. You should see two actions named "Fill foo with default values". Select either one a

[2020-07-23 23:46] leungbk commented on #1948
I had assumed that since `prepare-change-group` handled multiple buffers via `nconc`, `undo-amalgamate-change-group` would as well. [But that doesn't seem to be the case](https://lists.gnu.org/archive/html/help-gnu-emacs/2020-07/msg00121.html), at least not in the way I was expecting; each buffer appears to have a separate amalgamated group.

From quickly skimming the `undo`-related code in Emacs,

[2020-07-24 00:38] leungbk opened #1957 "Code lenses aren't properly hidden when narrowing"
If I `M-x narrow to defun` [here](https://github.com/target/lorri/blob/3d5eb131a73d72963cb3ee0eee7ac0eca5321254/tests/integration/envrc.rs#L68) with `rust-analyzer` and `lsp-mode` showing code lenses, the code lenses from all the other functions in the file are included in the narrowed view. After `M-x widen`-ing out of the narrowed view, some duplicate lenses are shown.

[2020-07-24 02:35] ericdallo commented on #1957
@yyoncho Do you know how we can fix that? Maybe disable the lens when narrowing then turning back again when widen? but we would need to manually turn that on and off

[2020-07-24 04:36] yyoncho commented on #1956
This is caused by the fact that we send all errors on the line to the server. It seems like we should send only the errors under the cursor.

[2020-07-24 04:39] muirdm commented on #1956
I'm not sure I understand - there are no errors in this case. Also the "arguments" are not meant to be read by LSP client (they are arguments back to the server when executing "fill_struct". I imagined the problem was lsp-mode was matching the actions by name, so no matter which action I pick it would end up executing the first code action with that name.

[2020-07-24 04:40] yyoncho commented on #1956
There are no warnings on this line?

[2020-07-24 04:48] muirdm commented on #1956
No, they are no diagnostics if that is what you mean. "fill_struct" is a utility code action that inserts default values for all the struct fields. It is meant to be triggered by the user when they want it, not to report any mistakes or errors to the user.

When I choose either of the "Fill foo with default values" code actions, lsp-mode sends this request to execute the code action:

[code]

[2020-07-24 04:58] yyoncho commented on #1956
I am more interested in the request for code actions.

[2020-07-24 05:15] muirdm commented on #1956
[code]

Gopls currently sends you all the code actions for the line ignoring the column. I think they are going to improve it. Regardless, it seems like lsp-mode should handle code actions with the same name.

I think the problem is here in lsp--select-action:
[code]

lsp--completing-read transforms each action to its title, and then when determining which action the user chose it finds the first

[2020-07-24 05:45] kiennq commented on #1956
A simple solution is to have transforming function to generate different name for duplicated item. With that, user can differentiate, and also the code too.

[2020-07-24 07:20] yyoncho commented on #1956
Proposed fix at #1958

[2020-07-24 07:58] yyoncho commented on #1948
So if you have applied multiple multibuffer changes you will have to find out
all involved buffers and undo them in the proper order and you will be blocked
if you want to undo changes in A? Or you will have the option to opt-out the
edits in other buffers? IMO this will be risky/tricky to implement and it might
cause losing undos. The alternative is to introduce `M-x
lsp-undo-workspace-edit` whic

[2020-07-24 10:16] yyoncho commented on #1947
This is what I was testing.

[code]

[2020-07-24 15:34] muirdm commented on #1956
Looks great - thanks!

[2020-07-24 15:37] #1956 closed

[2020-07-24 15:49] muirdm commented on #1947
Thanks. That works for the snippet fields after the first, but I can't figure out how to make it start completion for the first snippet field.

When I try something like:

[code]

to trigger completion for the first field, I get:

[code]

I think it is related to the initial completion not being finished when the second completion is triggered (?).

[2020-07-24 15:53] yyoncho commented on #1947
You may try to do it with `(run-on-timer 0 ...)`  instead of calling directly company.

[2020-07-24 16:19] zot commented on #1331
I got it to work with completion and flycheck. I used [this article](https://arenzana.org/2019/12/emacs-go-mode-revisited/) for setup and I used `C-c ! v` to check my flycheck setup (very useful and informative but the changes you make with it aren't persistent), which told me it was using lsp for checking. I changed that to `golint` by adding a flycheck line to the custom `lsp-go-install-save-hoo

[2020-07-24 16:59] muirdm commented on #1947
I tried that before. It avoids the error but the company menu doesn't actually show up until I do something to trigger redisplay (like scrolling). I tried calling force-window-update and redisplay but I didn't know how to get the company UI to display automatically.

[2020-07-24 17:47] yyoncho commented on #1775
The issue with restart was sorted out and it was not related to the suggested fix. I am marking this as closed(refer to the FAQ section on how to achieve that behavior). Please reopen or file another issue if you hit another issue related to the provided snippet.

[2020-07-24 17:47] #1775 closed

[2020-07-24 17:48] yyoncho commented on #1634
Closing as duplicate of #1842

[2020-07-24 17:49] #1634 closed

[2020-07-24 17:52] yyoncho commented on #1710
Based on @danielmartin and @sebastiansturm comments and the fact that server crashes with a concrete callstack IMO it will be better to be reported on clangd site if is not enough to fix it https://github.com/clangd/clangd/issues/455 .

I am marking the issue as closed, please reopen if you disagree.

[2020-07-24 17:53] #1710 closed

[2020-07-24 19:10] yyoncho commented on #1957
I will take a look.

[2020-07-25 09:51] seagle0128 opened #1961 "Invalid severity level"
- GNU Emacs 28
- macOS Catalina
- [pyright](https://github.com/emacs-lsp/lsp-pyright)

Example:
[code]
`flycheck-current-errors` is
[code]

`(flycheck-count-errors flycheck-current-errors)` is `((lsp-flycheck-info-unnecessary . 1) (error . 1))`

I think `lsp-flycheck-info-unnecessary` should be `info`.

[2020-07-25 10:37] jumper047 opened #1962 ""max-lisp-eval-depth" when trying to format buffer"
**Describe the bug**
Error "Lisp nesting exceeds 'max-lisp-eval-depth'" appears when i trying to perform buffer formatting with lsp-format-buffer.

**To Reproduce**
Open any python file and execute lsp-format-buffer

**Which Language Server did you use**
pyls

**OS**
Ubuntu 19.10

**Error callstack**
[code]
Server log:
[code]
*lsp-log*:
[code]

If there is an error plea

[2020-07-25 11:04] #1962 closed

[2020-07-25 12:51] underfarm commented on #1941
This seems to work:

``
LSP :: Connected to [gdscript:nil status:starting].
LSP :: gdscript:nil initialized successfully
``

[2020-07-25 13:03] #1941 closed

[2020-07-25 13:17] yyoncho commented on #1961
Why do you think that this is invalid level? In order to support Diagnostic.tag we generate the corresponding flycheck levels.

[2020-07-25 16:01] seagle0128 commented on #1961
The default levels are error, warning, info. It's hard to handle the misc customized levels for other packages, e.g. doom-modeline.

[2020-07-25 16:20] yyoncho commented on #1961
For doom-modeline I would suggest to use `lsp-modeline-diagnostics-mode` which is more powerful since it can show the errors for the project, session or for the current file.

@cpitclaudel, at this point we are dynamically creating flycheck levels in order to customize the overlays. Our input is `(lsp-diagnostic-level [lsp-diagnostics-tag])` and we generate flycheck level from this, e. g. `(info [

[2020-07-25 18:26] cpitclaudel commented on #1961
Hmm, interesting issue.  I guess it didn't pop up in the error list because sorting by priority will DTRT given that priority orders.  I was going to suggest that we could introduce some sort of `parent` property of error levels that the counting code could use, but then I realized that we already have it as `:compilation-level` :)  Changing the counting code to use that seems reasonable to me. Wh

[2020-07-25 18:27] cpitclaudel commented on #1961
Thanks for looping me in, btw ^^

[2020-07-25 18:42] yyoncho commented on #1961
This makes sense to me.

I think it is your call. ATM you return conses (level . count) if you start
returning (compilation-level . count) new function seems to be the better
option for backward compatibility reasons.

[2020-07-25 18:47] leungbk commented on #1842
I'm encountering the same issue with `gopls`, which is weird because [I'd have expected it to scan through the entire buffer and work from anywhere](https://github.com/golang/tools/blob/b5fc9d354d99c98f615cc62f71ea3e0d336c51fc/internal/lsp/code_action.go#L248). I did not encounter this with the ESLint server. I don't really know Golang, so I wouldn't know how to set up the `gopls` server for prope

[2020-07-25 19:05] yyoncho commented on #1842
Seems like we should change lsp--text-document-code-action-params which ATM
returns only the diagnostics on the current line/region. What we should most
likely do is to check if this is fix-all request and collect all diagnostics in
the buffer.

[2020-07-25 19:13] leungbk commented on #1842
The thing that confuses me is that ESLint's `source.fixAll.eslint` really does work from anywhere in the buffer for me in Emacs. Both servers have code that appears to loop through all the diagnostics for the `fixAll` action, so it feels like it shouldn't be the client's responsibility.

[2020-07-25 19:27] yyoncho commented on #1842
Then I guess we should check what vscode does. Fix all might be working only on
the region(we have the expected behavior) while eslint for which fix all is
much more common has introduced another method which does not require selecting
the buffer

[2020-07-26 03:41] leungbk commented on #1863
Now that https://github.com/emacs-lsp/lsp-pyright is up, it seems like this can be closed.

[2020-07-26 03:41] #1863 closed

[2020-07-26 06:22] kinredon opened #1968 "How to add another resource root to the project in Python"
I am new to use `lsp-mode` to write python code.

I have a python project which has a subdirectory `lib` in which there are many python packages (e.g. something like `model`).

For example in the code:
[code]

 The `flychecker` raises:
[code]

In Pycharm, I can set the `lib` directory as a resource root to solve this problem.

Is there a way to add another resource root to the project just like th

[2020-07-26 06:24] yyoncho commented on #1968
Which language server do you use?

[2020-07-26 06:32] kinredon commented on #1968
@yyoncho I use the `python-language-server`.

This is my configuration:
[code]

[2020-07-26 06:34] yyoncho commented on #1968
AFAIC pyls is using the python environment to find out the path and it is not configured from lsp-mode side: @mpanarin  - do you know what @kinredon should do to get that working?

[2020-07-26 09:00] seagle0128 commented on #1961
It does make sense to me. Keeping the conventional levels, and counting with others. Thanks for looking into it.

[2020-07-26 14:03] madper opened #1969 "can't indent scala code."
**Describe the bug**
Every time I press `Enter` an error message shows up. And a newline without indent created.
[code]

**To Reproduce**
Simply create a new project with `sbt new scala/hello-world.g8` could reproduce it.

**Expected behavior**
Indent without error message.

**Which Language Server did you use**
`lsp-metals`

**OS**
Archlinux

[code]

**Error callstack**
[code]

[2020-07-26 14:38] ericdallo commented on #1969
@kurnevsky know something about it?

[2020-07-26 14:57] kiennq commented on #1969
Seems to be my fault, will fix it

[2020-07-26 15:36] #1969 closed

[2020-07-26 15:41] kiennq opened #1971 "textDocument/onTypeFormatting is seriously interfering with major mode indentation."
A simple snippet to demonstrate problem using `clangd` with
[code]
[code]
The `<|>` is cursor position.
Now if we press Enter, the `onTypeFormatting` is kicked in and resulted in something like

[code]

Note that the cursor position on the next line is over-indented.
The server trace
[code]
So you can se that the second text edit from server already contained indenting information, plus the indent

[2020-07-26 15:49] yyoncho commented on #1971
Seems like we are applying text edits that are incompatible with the
already applied changes to the buffer. We may consider changes on the
current line as something incompatible(or check if `(> end
first-edited)` shouldn't be changed to `(>= end first-edited)`. We may
also revert and keep on type formatting as `tick`.

[2020-07-26 15:53] yyoncho commented on #1971
I also wonder in general, what is the correct way to handle this case,
becase apparently the same problem will exist in vscode as well.

[2020-07-26 16:14] Ergus opened #1973 "lsp-clients-clangd-executable issue in debian"
In Debian there is not clangd executable, there are either clangd-{6,7,8} But I have a sort of portable config, so hardcoding it by hand is "problematic". And for newer users is complex to determine how to customize this

I am wondering if `lsp-clients-clangd-executable` could be set by lsp dynamically in a smarter way. I mean, using something more or less like:

[code]
and somewhere in the initia

[2020-07-26 16:53] cpitclaudel commented on #1961
returning (compilation-level . count) new function seems to be the better
option for backward compatibility reasons.

Ok, let's roll with that ^^ @seagle, do you want to write the new counting function?

[2020-07-26 17:10] yyoncho commented on #1971
I think that it should be better to rever the latest changes related to onTypeFormatting until we sort that out - soon we will start getting issue reports for that.

[2020-07-26 17:18] kiennq commented on #1971
Ok, I will put it back to `tick`.
Before we never applied on type formatting on Enter since the text will be changed by `indent-line-function`. The latest change on `onTypeFormatting` allowing text to be applied, since it's compatible (really, the `indent-line-function` change text **after** `\n`, while the `onTypeFormatting` change text **before and at** `\n`).

[2020-07-26 17:20] yyoncho commented on #1971
Yes.

[2020-07-26 18:08] seagle0128 commented on #1961
Let's try to do it.

[2020-07-27 12:32] madper commented on #1969
Howdy @kiennq ,

[2020-07-27 12:34] yyoncho commented on #1969
@madper can you delete lsp-mode, restart emacs and install it again?

[2020-07-27 12:36] madper commented on #1969
@yyoncho  Thanks a lot! I just found scala-mode is not the only mode that can't enable lsp. So I do believe it's not a regression issue caused the scala related fix. I'd try to re-install it. Thanks a lot!

[2020-07-27 13:03] madper commented on #1969
Reinstall fixes all the problem. Thanks tons!

[2020-07-27 16:04] sivaramn opened #1976 "26.3; pyls not present on the path for Win10 Emacs 26.3 and cygwin pyls"
[code]
I have `python` installed in Cygwin64 and I'm able to execute python scripts when opened in Win64 emacs 26.3 through an inferior shell process.  After installing `lsp-mode` and configuring `lsp-pyls-server-command` to any of `pyls` , `/usr/local/bin/pyls` , `/usr/bin/pyls`, the `*lsp-log*` is the same `Command "pyls" is not present on the path.`  I of course have `pyls` installed in all the

[2020-07-27 16:17] yyoncho commented on #1976
You should make sure that (executable-find "path-to-pyls") is working.
What I would try is to go with dired in pyls dir, and do "C-0 w" which
will copy the path to pyls and set it to lsp-pyls-server-command.

[2020-07-27 16:38] sivaramn commented on #1976
Weird. Running it against a few binaries found in cygwin `bin` and `/usr/local/bin` I get the paths for some but I don't get it for `pyls`
[code]
The last one happened for `pyls`, `pylint` and `pyflake` for `executable-find`

and

[code]

Now, even more confused

[2020-07-27 16:40] yyoncho commented on #1976
IDK, maybe executable flags are not set?

[2020-07-27 17:25] sivaramn commented on #1976
All are 755 mode.  I checked that too.

[2020-07-27 18:00] yyoncho commented on #1969
@leungbk FTR now lsp-mode update will fail due to the fact that the macro is defined in lsp-mode.el but package.el first bytecompiles lsp-eslint.el. A potential solution is to move all macro calls in lsp-mode.el. Probably there is an alternative solution, but I got nothing in my elisp toolbox.

[2020-07-27 18:36] leungbk commented on #1969
@yyoncho Are you talking about the `lsp-make-interactive-code-action` macro? `lsp-defun` is used in `lsp-eslint` and runs with no problems; I'm guessing that simply moving `lsp-make-interactive-code-action` there won't solve the issue? How can I look at the compilation order produced with package.el?

[2020-07-27 18:42] yyoncho commented on #1969
The issue is not the macro itself, but the fact that the macro is introduced in the same version in which it is is used in another file. In this case, when lsp-eslint is bytecompiled it performs `(require 'lsp-mode)` but lsp-mode is loaded so this is NOP. So, the macro stays undefined and the byte compiler fails.

I don't know. I guess it is alphabetical.

[2020-07-27 21:09] zot opened #1978 "Gopls: Bad default workspace choice when go code is not at repository root"
**Describe the bug**
In unregistered projects where the go code is in a repository subfolder (like `src` or `go`), lsp-mode offers the repository folder as the default choice (for the `i` choice).

If you choose this, gopls gets confused and produces errors like this:

[code]

**To Reproduce**
1. Create a directory and run `git init`
1. Create a subdirectory called `src`
1. Cd into it and run `go

[2020-07-27 21:12] zot commented on #1344
@dennismayr is your go.mod file not at the project root, by any chance? I found that this confuses gopls and renders it inoperable for the project.

If this is the case, you can use `M-x lsp-workspace-folders-remove` to remove the current project from GOLSP's list. Then run `M-x lsp` and use `I` to choose the folder that contains your go.mod file. Don't use `i`, which has a bad default choice.

I

[2020-07-27 23:39] chetstone commented on #1889
@isker Have you tried [add-node-modules-path](https://github.com/codesuki/add-node-modules-path)?

[2020-07-28 04:09] kiennq commented on #1976
If you're using Windows 10, you probably better using WSL instead of cygwin.

Anyway, can you check if you can run `pyls` via `cmd.exe`?
If `pyls` can only run inside `cygwin` then you have to use `cygwin` Emacs instead of `msys` one.

[2020-07-28 06:55] yyoncho commented on #1978
This has been discussed multiple times in the past and it is considered as out of scope. The default is only that - default, that user should inspect and if it is not what they mean they should press `I` and select the proper root. Both projectile/project.el has huge frameworks with different strategies for finding project root but in the end they don't provide 100% guarantee that they will pick t

[2020-07-28 06:55] #1978 closed

[2020-07-28 09:30] mpanarin commented on #1968
Sorry for the wait.

There is a variable in `pyls`: `pyls.plugins.jedi.extra_paths`.
It is not currently added to lsp-mode pyls integration but you can pass it anyway with `lsp-register-custom-settings`.

[2020-07-28 16:40] dennismayr commented on #1344
That does alleviate the problem cause. Closing.

[2020-07-28 16:40] #1344 closed

[2020-07-29 13:03] kinredon commented on #1968
@mpanarin thinks for your reply. Could you tell me where I can find the document about `lsp-register-custom-settings`.

Through search, unfortunately, I don't find it.

[2020-07-29 14:15] mpanarin commented on #1968
@kinredon
You can use it in you emacs config or in `.dir-locals.el`
You need something like this:
[code]

make sure though to use a full path there )

[2020-07-29 15:31] kinredon commented on #1968
@mpanarin I use it in `.dir-locals.el` like this:

[code]
but it raise a error:

`Error reading dir-Locals: (wrong-type-argument listp with-eval-after-load`

[2020-07-29 15:37] yyoncho commented on #1968
That syntax is for init file.

[2020-07-29 15:46] mpanarin commented on #1968
@kinredon
you don't need `with-eval-after-load` if you use it in dir-locals.
for dir-locals use
[code]

[2020-07-29 15:55] yyoncho commented on #1961
I am closing this since there is nothing to do on lsp-mode side.

[2020-07-29 15:56] #1961 closed

[2020-07-29 21:26] codygman commented on #1815
I'm pretty sure something is wrong here:

![Screenshot_2020-07-29_16-22-48](https://user-images.githubusercontent.com/225847/88855244-2ef1af00-d1b8-11ea-8608-350c18b9430d.png)

lsp-ui: 7d53264
lsp-haskell: 17d7d4c6615b5e6c7442828720730bfeda644af8
lsp-mode: 0131f1f4c9e7823955c3b1f80881fcd7c2eaa551

[2020-07-30 00:45] kinredon commented on #1968
I use this in dir-locals:
[code]

`C-x C-e` to eval, but found:
[code]

[2020-07-30 04:28] seagle0128 commented on #1961
But, pls let me know the rules. And the rules won't be changed anymore? @cpitclaudel @yyoncho

[2020-07-30 05:07] cpitclaudel commented on #1961
I'm not sure what you mean, but I'm happy to help with the implementation.  The idea would be to implement a separate function for counting errors that counts them by compilation-level, not by level.

[2020-07-30 05:58] lijoantony commented on #1653
Not sure if it is the same error, but I am facing the same issue with typescript.
Completion candidates are displayed, but complete-common functionality (triggered by TAB) is not working if I enable lsp-mode.

![Webp net-gifmaker](https://user-images.githubusercontent.com/1202940/88885765-2f3a8a80-d24a-11ea-8a55-5cf83a4d418b.gif)

It can be tested with this simple code,

[code]

Associated lsp-log

[2020-07-30 07:49] seagle0128 commented on #1961
@cpitclaudel originally I count errors, warnings and info of flycheck.  Now I have to count others like `lsp-flycheck-info-unnecessary`, but I don't know all types here. Appreciate it if you can provide the function or example.

[2020-07-30 12:03] dgutov commented on #1653
@lijoantony What kind of "complete common" behavior would you expect?

It looks like you get fuzzy matching, for example, the input `f` matches completion `ArrayBuffer`. The only common prefix between all completions is an empty string.

[2020-07-30 13:12] lijoantony commented on #1653
@dgutov You are right. It is working as expected indeed. My bad!

I just added lsp-mode to my config and observed that `company-complete-common` is not working as before, and seeing this bug report, I quickly concluded that it might be related. `company-complete-common` is working as before, but I couldn't get the completion as before because of all the extra symbols now being provided by the lsp.

[2020-07-30 14:18] mpanarin commented on #1968
@kinredon please read [emacs documentation on dir-locals](https://www.gnu.org/software/emacs/manual/html_node/emacs/Directory-Variables.html)

[2020-07-30 14:18] #1968 closed

[2020-07-30 15:40] danp opened #1979 "FileSystemWatcher.globPattern support incomplete"
**Describe the bug**

In https://github.com/golang/tools/commit/fd294ab11aed8d198f7a12a86dfe0a970fdab143 and after, gopls changed to using a [DidChangeWatchedFiles globPattern](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#workspace_didChangeWatchedFiles) which uses groups:

[code]

(the pattern was changed further in https://github.com/golang/tools/com

[2020-07-30 15:50] danp commented on #1979
The eshell-glob-regexp description compared to the LSP spec syntax for globPattern:

[code]

[code]

[2020-07-30 17:41] cpitclaudel commented on #1961
You want to check `flycheck-error-level-compilation-level`: it will return 0, 1, or 2 for info, warning, or error: `(flycheck-error-level-compilation-level 'warning) ⇒ 1`.

[2020-07-30 21:34] ocelaiwo opened #1981 "Flycheck two indicators in modeline"
I'm using Emacs 27.0.91 with lsp-mode and flycheck. It seems that lsp-mode adds a second flycheck report indicator in the modeline. using doom-modeline:
![image](https://user-images.githubusercontent.com/57271510/88976831-3313ee80-d2d6-11ea-97d7-d0d97c5240f9.png)
Using Emacs built-in modeline:
![image](https://user-images.githubusercontent.com/57271510/88976878-4d4dcc80-d2d6-11ea-9d8c-b60bf7804897

[2020-07-30 21:44] ericdallo commented on #1981
You can disable it with `(setq lsp-modeline-diagnostics-enable nil)`
https://emacs-lsp.github.io/lsp-mode/page/main-features/#project-errors-on-modeline

[2020-07-30 21:48] ericdallo commented on #1981
I have also updated the docs: https://github.com/emacs-lsp/lsp-mode/commit/c81247c337b92445e33871b4f447afc870d104a2

[2020-07-30 22:28] ocelaiwo commented on #1981
Works, thank you!

[2020-07-30 22:28] #1981 closed

[2020-07-31 07:27] yyoncho commented on #1981
IMO we should have a recipe to disable flycheck modeline as well. IMO lsp-mode's modeline is more useful for particular use cases because it can show the errors from the whole project.

[2020-07-31 08:32] astenman commented on #1858
Recompiling emacs without ImageMagick solved the problem.

[2020-07-31 08:32] #1858 closed

[2020-07-31 10:49] tshu-w opened #1982 "textDocument/hover is not sent after using enter to complete symbol."
This problem was exchanged at gitter and this issue is for record, so I ignored some checks.

**Describe the bug**
`textDocument/hover` is not sent after using enter to complete symbol.

**To Reproduce**
1. open an empty python file
2. enter some prefix of any function(e.g., print)
3. use `enter` to complete the function
4. `textDocument/hover` is not sent

If I enter the function name character b

[2020-07-31 12:56] ericdallo commented on #1981
We can have a mode and enable flag for flycheck integration like the other features

[2020-07-31 20:14] jimblandy opened #1985 "New company-lsp warning provokes error if company-mode is an autoload"
In #1983, new code was introduced to warn the user that company-lsp is no longer supported. Unfortunately, this code assumes that if `company-mode` is `fboundp`, then the `company-backends` variable is bound, which is not true if `company-mode` is an autoload. This causes an error when attempting to enable `lsp-completion-mode`.

[2020-07-31 20:20] ericdallo commented on #1985
@kiennq willing to fix on this PR: https://github.com/emacs-lsp/lsp-mode/pull/1984?

[2020-08-01 08:14] kiennq commented on #1985
@jimblandy Can you check if #1984 resolve your issue?

[2020-08-01 08:56] wztdream opened #1987 "Flycheck not update after change conda env"
Hi,
I use spacemacs, and use lsp, python and conda layer.

Here is the issue:
I have two conda envs, one is for python2, the other is for python3. Suppose I have a python file `a.py` follow python2 syntax, and current env is for python3, so there are some syntax errors highlights, then I switch to conda env for python2, now `a.py` can run correctly, but there all still error highlights. **It seems

[2020-08-01 10:06] yyoncho commented on #1987
lsp-mode is not responsible for that. lsp-mode is a frontend for language server and it displays what the server shows. lsp-mode does not know what conda is. If you switch your environment you should restart the server to pick that up.

[2020-08-01 10:06] #1987 closed

[2020-08-01 11:50] yyoncho commented on #1866
Marking as closed. Please reopen after confirming that you still see the issue.

[2020-08-01 11:50] #1866 closed

[2020-08-01 11:53] yyoncho commented on #1734
Now we have `lsp-completion-provider` which can be set to :none. Marking as closed.

[2020-08-01 11:53] #1734 closed

[2020-08-01 11:56] yyoncho commented on #1435
AFAICS this is what we have right now, marking as closed.

[2020-08-01 11:56] #1435 closed

[2020-08-01 12:00] yyoncho commented on #1471
At the same time I had better luck with https://github.com/chuntaro/emacs-promise/issues/37

[2020-08-01 17:20] zot commented on #1978
Projectile cannot solve this problem for multi-language projects because lsp actually requires a directory within the project as its root and not the actual root of the project.

Multi-language projects are quite common today (probably the norm) so if lsp continues only to defer to projectile and not to check its result, it will offer bad default more and more commonly. Lsp for each language shoul

[2020-08-01 17:25] zot commented on #1344
Unfortunately my suggestion was rejected on the grounds that it was out of scope but over time I expect more and more people to file issues about this since the projectile root cannot be the LSP root in many cases of multilanguage projects.

[2020-08-01 17:39] yyoncho commented on #1978
@zot

This is not true - projectile can be configured to work in many different ways - check `projectile-project-root-files-functions`. So your language-specific strategy must be implemented in the project that is specifically designed for managing projects which in emacs world is `projectile`. There is nothing in the language server that can help in validating the root, furthermore, the reference

[2020-08-01 20:05] jimblandy commented on #1985
@kiennq Yes, it seems to fix the problem.

[2020-08-01 20:09] #1985 closed

[2020-08-02 04:59] wztdream opened #1989 "Root folder for projectile, treemacs and lsp-mode"
Hi,
I have suffered an issue of _unresolved import_ [issue96](https://github.com/emacs-lsp/lsp-python-ms/issues/96), finally I found the root case is that the root folder of a project in a workspace that is recognized by lsp-mode is not the root folder of the treemacs. Following [lsp-mode manul](https://emacs-lsp.github.io/lsp-mode/page/keybindings/) we need to add the root folder to a workspace b

[2020-08-02 06:02] wztdream commented on #1989
I see your solution in lsp-treemacs [feature](https://github.com/emacs-lsp/lsp-treemacs/issues/17)

[2020-08-02 06:02] #1989 closed

[2020-08-02 15:33] seagle0128 commented on #1961
@cpitclaudel thanks for the advice!

[2020-08-02 18:52] mjlbach commented on #1741
Ok, I ended up digging into this again because I was having trouble with pyright.

It seems the issue is using python-mode-local-vars-hook in doom.

Changing
[code]
to
[code]

resolves the hang

[2020-08-02 19:28] zot commented on #1978
I really think this should be part of lsp-go.el but, looking through lsp-mode.el, it looks like there's not currently a good way for languages to contribute strategies for finding their project roots.

So I added this to my settings too accomplish it. Hopefully other people who want this behavior will benefit from my code:

[code]

[2020-08-02 19:49] yyoncho commented on #1978
Nope...

[code]

... and it works with no need advice private functions. You could even use `projectile-root-top-down-recurring`.

[2020-08-02 20:36] mjlbach commented on #1741
This was fixed doom-side by https://github.com/hlissner/doom-emacs/commit/7784c0b6e9ea0be4f792d68cde74855676fadaa5 and https://github.com/hlissner/doom-emacs/commit/c7513e41355f964f6e4fab21bdee2e5e752f460e. Apparently lsp-mode was doing expensive calls of some sort. Thanks @yyoncho for helping us find it!

[2020-08-03 14:07] zot commented on #1978
Maybe I'm misunderstanding your reply but wouldn't that make projectile use the directory containing go.mod as the (wrong) project root?

[2020-08-03 14:22] yyoncho commented on #1978
Depends on what your definition for `project` is. See also https://github.com/bbatsov/projectile/issues/308

[2020-08-03 16:50] zot commented on #1978
Thanks for your help!

I added my function to projectile-project-root-files-functions and it works (after fixing a bug in my code :) ). I agree that it's way better to add a hook instead of advice. Here's my less buggy code, in case someone stumbles on this issue:

[code]

By the way, I also tried adding "go.mod" to projectile-project-root-files and that didn't work for me.

[2020-08-03 17:06] yyoncho commented on #1978
@zot I think that you should reorder the functions as suggested in bbatsov/projectile#308 or eventually `forget` that project in projectile to let it run the discovery functions.

[2020-08-03 19:03] zot commented on #1978
Clearly there are more projectile subtleties I need to learn but so far, with the testing I've done for this configuration, the current function order, with my custom function first seems to work just the way I want, i.e. I want Projectile to eagerly identify directories containing go.mod as project roots. This does make Projectile commands issued from within a Go buffer use the wrong root for me

[2020-08-04 03:42] leungbk opened #1993 "Require lsp-stdio-connection to take a function"
There are a few clients that expose a `(defcustom lsp-foo-server-executable-path "some-server-bin")` while also registering the client with `lsp-client-new-connection` set to `(lsp-stdio-connection lsp-foo-server-executable-path)`. This is a bit confusing since a user who sees and modifies the `defcustom` may find that the executable used by `lsp-mode` is the same unless they run `lsp-register-cli

[2020-08-04 15:22] yyoncho commented on #1993
That is true - we should make that consistent. IMO the way to go is to generate properties from lsp-register-client. Your comment applies to every single setting passed to lsp-register-client. What @kiennq suggested is to turn lsp-register-client into macro. But having it as a macro will cause update issues when we change it and an external package is bytecompiled against the old one.

[2020-08-05 08:33] zoechi opened #1996 "make lsp-modeline-code-actions less noisy"
It's somewhat interesting to know that code actions are available at the current point,
so the lightbulb icon is nice,
but I do not care what the first of a list of probably more than one is
and find this text quite noisy in the very limited modeline space

I haven't found a way to customize what is shown.

A way to disable the text would be great.

[2020-08-05 20:23] fehmud opened #2000 "lsp-fsharp prints "No ident at this location" error"
Hello everybody and thank you for this package.

I am experiencing a problem with `lsp-fsharp` that should be easy to reproduce, therefore I am skipping the full bug report for now.

The problem is that when point is on an operator - like `|` - `lsp-mode` prints the message:

    LSP :: Error from the Language Server: No ident at this location (Internal Error)

[2020-08-06 07:13] yyoncho commented on #2000
Do you have lsp-ui enabled? I think that this "error" is hidden in lsp-mode.

[2020-08-06 14:10] yyoncho commented on #1973
This sounds like a good improvement, willing to provide a PR?

[2020-08-06 14:11] #1751 closed

[2020-08-06 14:12] yyoncho commented on #1736
@dgutov - what about putting capf on the first position in default backends
list?

[2020-08-06 14:13] yyoncho commented on #1976
Any update here?

[2020-08-06 15:01] kentbull opened #2002 "Where to exemplify basic config for new users?"
Where should we include a very basic example of how to configure the lap-mode package? I searched many times for this and didn't find a good answer until I was reading a blog post and saw someone describe it while talking about something else.

I assume the following code shows how to configure lsp-mode with use-package:
[code]

If this is the correct way to configure using use-package I suggest w

[2020-08-06 15:13] ericdallo commented on #2002
Hey @kentbull, Currently we have our webpage as the docs: https://emacs-lsp.github.io/lsp-mode/page/installation/
Feel free to open a PR improving the docs!

We also have [this page](https://emacs-lsp.github.io/lsp-mode/page/settings/) with `lsp-mode` generic settings, but it's outdated, we should try to improve that on think in an automatic way of update it like the do for the [languages page](ht

[2020-08-06 15:46] kentbull commented on #2002
I posted a change to installation in [this MR](https://github.com/emacs-lsp/lsp-mode/pull/2003). Is that where you think the update makes sense?

[2020-08-06 16:11] yyoncho commented on #2002
FTR there is also this - https://github.com/emacs-lsp/lsp-ide/ which is still wip but it will be the entry points for the new emacs users.

[2020-08-06 16:33] wuqui opened #2004 "Org-mode blocks don't find R LSP server"
Hi, and thanks for this great package! I'm particularly happy that you have introduced `lsp-org` for integration into `org-mode`.

However, `lsp-org` doesn't work with my R code blocks when I call it inside a block. It says `No LSP server for R-mode(check *lsp-log*)`. Yet, there is no `lsp-log`, hence no backtrace here, sorry. R works fine with dedicated R buffers for me, and `lsp-org`works with P

[2020-08-06 16:53] yyoncho commented on #2004
AFAICS r is register like that:
[code]

At the same time org-mode thinks that the major more for that section is `R-mode`, you may add it to that block and eval it, and it should work(at least it will try to start). Alternatively, you may change the major mode for that block (but I don't know how).

Yes.

Yes.

(or it is considered as bug)

[2020-08-06 17:39] wuqui commented on #2004
Ah, I found out that I need to start the code blocks with `#+BEGIN_SRC ess-r
` instead of the usual `R`. Now it works, nice!

That's really cool. With these features `org-mode` is just getting so much better than Jupyter notebooks etc :)

That's not working for me somehow. If I do the following, for example, I only get completions etc. in the first of the two blocks.

[code]

Do I need to call `ls

[2020-08-06 18:23] yyoncho commented on #2004
AFACS your org document lacks file information. Please use `test/fixtures/org-mode/demo.org` as a sample file for the required fields in org-mode headers.

ATM you have to call `lsp-org` in every block explicitly.

[2020-08-06 18:25] yyoncho commented on #2004
To elaborate a bit more: download demo.org. Then M-x lsp-org in first python block and when asked for project root select the current directory. Then do the same for the other python block. After doing that, the completion, navigation from the first file to the second one should work.

[2020-08-06 18:50] wuqui commented on #2004
Okay, thanks for your hints. I tried it, but doesn't work in the demo file for me either, unfortunately.

By the way, it might be a good idea to convert the example to Python 3 (`print X` > `print(x)`).

[2020-08-06 18:58] fehmud commented on #2000
@yyoncho

Thanks for your suggestion. I have disabled `lsp-ui`, but the warning persists.

As a workaround until I will investigate this better, I have redefined `lsp--create-default-error-handler` to generate a handler that bypasses that warning.

[2020-08-06 19:01] wyuenho commented on #1775
And... now `lsp-keep-workspace-alive` is broken, I'll file another issue.

[2020-08-06 20:06] yyoncho commented on #2000
It will be great if you can provide the location of the code that triggers the error(or someone using FSharp). Note that we have 40+ languages and even configuring each one of them + sample project is time-consuming if you are not using that language.

[2020-08-06 20:21] yyoncho commented on #2004
It is hard to diagnose the issue with that much info. Anyway, I will provide `emacs -q` demo with steps.

[2020-08-06 22:34] wyuenho opened #2008 "json-serialize does not encode list like json-encode"
**Describe the bug**
In [`lsp--json-serialize`](https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-mode.el#L2501-L2509), lsp-mode naively replaces `json-encode` with `json-serialize` and ended up giving surprising results when using `lsp-configuration-section` to configure client `:initialization-options`. According to the docstring, `json-serialize` and `json-parse-*` only process vectors, so

[2020-08-07 00:10] dgutov commented on #1736
@yyoncho Not exactly the first position, but how about this?

https://github.com/company-mode/company-mode/commit/664dd19c2f3d088be3c82bfa3abcc589b491b8f1

[2020-08-07 03:38] kiennq commented on #2008
This is currently **by design** for `json-serialize`.

We can try to automatically detect and convert list to vector but, I think we want to squeeze every possible perf for json serialization in `lsp-mode` too, thus there's no such automatic conversion/checking yet.

[2020-08-07 04:33] wyuenho commented on #2008
Are you telling me lsp-mode expects client configs to use vectors instead of lists on purpose?

[2020-08-07 04:52] kiennq commented on #2008
Yes. Is there anything wrong with that?
Unless `json-serialize` can support list encoding upstream too.

[2020-08-07 05:02] yyoncho commented on #2008
There were multiple issues related to old json.el implementations and one of them was list serialization. They are fixed/removed in json.c - one of the things is that `list` is always json map and the only structure that represents json array is elisp array. It does not make sense to reintroduce the heuristic applied by json.el in lsp-mode code to make json.c and json.el comparable.

[2020-08-07 05:08] yyoncho commented on #1736
Can we move it in front of nxml and CSS as well - it will cause the same issue there.

[2020-08-07 05:13] wyuenho commented on #2008
Take a look at this [PR to lsp-jedi](https://github.com/fredcamps/lsp-jedi/pull/5/files). There are server initialization options that expect a list of strings to be serialized into JSON array. Now, the customization `repeat` type doesn't return a vector, so in order to translate this neatly custom-settings blocks to initialization options, I either have to manually construct the entire map or hac

[2020-08-07 05:18] wyuenho commented on #2008
The funny thing is, if I were to test this solely on emacs 26, just returning the lists directly from `lsp-configuration-section` would have worked without the json encode and read, and I wouldn't know about this issue until it's breaks lsp-jedi on a bunch of people running emacs 27.

[2020-08-07 05:25] yyoncho commented on #2008
And how are you going to send json's `[]` for `(repeat string)`?

FTR the correct fix in lsp-jedi is to use `lsp-string-vector` for all `(repeat string)`. In the first place, the issue is caused by the fact that the settings are written manually instead of using `lsp-generate-settings.el` which inserts the correct defcustom types.

[2020-08-07 06:36] yangyingchao opened #2009 "`lsp-completion--capf-exit-fn` deletes more characters than it should"
**Describe the bug**
 I think `lsp-completion--capf-exit-fn` deletes more characters than it should.

**To Reproduce**
1.  I want to input `fff` before `int_a`.
![屏幕快照 2020-08-07 下午2 28 39](https://user-images.githubusercontent.com/990329/89616165-7c59d480-d8ba-11ea-8006-207d951069a6.png)
2. I typed `f` after `a.`, `company-capf` shows proper candidates, great.
![屏幕快照 2020-08-07 下午2 28 56](https:/

[2020-08-07 06:42] yyoncho commented on #2009
This is what the server has sent to us. Once protocol supports that we will have the option either to replace or to insert: see https://github.com/microsoft/language-server-protocol/issues/793

[2020-08-07 06:42] #2009 closed

[2020-08-07 06:46] yangyingchao commented on #2009
oh, good to know, thanks.

[2020-08-07 07:00] dgutov commented on #1736
They're only there in Emacs 25 and older. `lsp-mode` requires 26.1+.

[2020-08-07 07:09] yyoncho commented on #1736
Ah, you are right (my issue was caused by spacemacs overriding capf function itself). Then the fix is fine.

[2020-08-07 10:13] yuzhou721 commented on #1684
Thanks

[2020-08-07 10:38] atimchenko92 opened #2010 "Syntax highlighting after lsp-ui-peek-find-definitions is not activated in whole buffer"
**Bug description**
When navigating with ```lsp-ui-peek-find-definitions``` to react-component, it navigates correctly to the file. If file was not opened beforehand, the highlighting will appear only after the found definition, but not before.

**To Reproduce**
1. Open file with a react-component.
2. Make sure the referenced file with component definition is not already in buffer list.
3. Perform

[2020-08-07 14:01] wyuenho commented on #2008
Like the PR, `(json-parse-string (json-encode ...))`

That type is just an alias for sexp. What even is the point of using customize when you are asking people to write LISP?

What is this and how to use it? Are there docs?

[2020-08-07 14:09] yyoncho commented on #2008
that won't help - you will need elisp's vector to represent json empty list - this is the only way to do that. And as a side note, parse/encode are not symmetrical.

Fair point, I guess you may open a feature request for that. We will reach emacs-devel for guidance here. I believe we could build better customize dialog.

https://emacs-lsp.github.io/lsp-mode/page/adding-new-language/

[2020-08-07 14:18] wyuenho commented on #2008
You have hacks in `lsp-configuration-section` to filter out non-boolean nil values. Not a big deal.

Yes. You can mostly copy and paste the `editable-list` widget type from `wid-edit.el`, and change all the list-specific calls to vector.

That script won't help here. Not all language servers are written in Node.

[2020-08-07 14:36] yyoncho commented on #2008
We may try that.

Usually, the servers have better supported vscode client. package.json comes from that package.

[2020-08-07 15:44] wuqui commented on #2004
Yeah, sorry, but I don't really know what to do. Thanks a lot for your efforts!

I think fully working `lsp-org` could be really cool, given that `eglot` doesn't seem to have options for handling `org-babel` files and non-LSP options find it hard to deal with the above issues too.

[2020-08-07 16:06] yyoncho commented on #1736
closing since  [company-mode/company-mode@664dd19](https://github.com/company-mode/company-mode/commit/664dd19c2f3d088be3c82bfa3abcc589b491b8f1) should be sufficient.

[2020-08-07 16:06] #1736 closed

[2020-08-07 17:01] fehmud commented on #2000
I have put a conditional breakpoint on `log--warn`, and the warning seems coming from a "textDocument/documentHighlight" response (the earliest visible function call on the stack is `lsp--parser-on-message`).

When the token under point is not an identier, then `lsp-fsharp` may:
1. warn of "No ident at this location" (e.g. on `|`, `10`);
2. warn of "No symbol information found" (e.g. on `=`, `_`);

[2020-08-07 21:08] #1996 closed

[2020-08-07 22:39] petr-tik commented on #1973
This sounds like a great idea and it will prevent me from having to create brittle symlinks on my dev box too!

May I suggest starting with "-10", "-9" to make sure people find the most recent version of clangd, if it is installed on their machine.

[2020-08-08 06:22] leungbk commented on #1993
Can you describe how to reproduce this? After installing from Melpa, I can install `lsp-mode` from source with `package-install-file` after having uncommented https://github.com/emacs-lsp/lsp-mode/blob/a8848b0e8292d69b745251d746b9492eb4e4c22f/lsp-eslint.el#L219 It appears to install properly, so that tells me I am doing something wrong.

`helm` and `magit` have had similar issues, so I submitted h

[2020-08-08 06:58] yyoncho commented on #1993
Here are the steps to reproduce:

Create a new file `boo.el` and insert

[code]

Then go in this file and do `M-x emacs-lisp-byte-compile-and-load`

then eval
[code]

After that, if you eval `(bar)` it will fail with invalid function if you define foo-bar as function it will work.

[2020-08-08 17:50] #2008 closed

[2020-08-08 21:43] ocelaiwo opened #2018 "Error processing message (void-function flycheck-define-generic-checker)"
Hello. I'm using Emacs 27.0.91 on Ubuntu 20.04 with the latest lsp-mode from MELPA. I opened a C project (server: clangd) and got the following message
[code]
After that I closed the C workspace and opened a python project (server: pls not ms) and got the same message.
If I open a project and then activate flycheck-mode, flycheck itself loads but there is no lsp backend in the flycheck configurati

[2020-08-09 00:09] #2018 closed

[2020-08-09 06:49] thkim256 opened #2020 "Error processing message (void-variable lsp-gop-build-flags)"
in **lsp-go.el**

`
(lsp-register-custom-settings
 '(("gopls.usePlaceholders" lsp-go-use-placeholders t)
   ("gopls.hoverKind" lsp-go-hover-kind)
   ("gopls.buildFlags" **lsp-gop-build-flags**) ;; It is a typo
   ("gopls.env" lsp-go-env)
   ("gopls.linkTarget" lsp-go-link-target)
   ("gopls.codelens" lsp-go-codelens)))

`

[2020-08-09 07:52] #2020 closed

[2020-08-09 14:50] jech opened #2022 "Lsp-diagnose fails if company is not installed"
Running lsp-mode 20200608.122 from Melpa under Emacs 26.3.  Company is not installed.

`M-x lsp-diagnose` fails with the following message:
[code]
The backtrace doesn't provide any useful information:
[code]

[2020-08-09 15:07] ericdallo commented on #2022
Thanks for the report, I'll take a look

[2020-08-09 15:51] #2022 closed

[2020-08-09 16:32] Ergus commented on #1973
Hi:

I would be fine doing so, but the api is not vary documented. I think I can add the function in the `lsp-mode-hook` but I would expect a better place maybe more specific for the major-mode or that runs earlier only once?

Maybe there is something already in `make-lsp-client` to set a function to execute the first time the mode or the client is loaded?

Should I use ACTIVATION-FN, BEFORE-FILE-

[2020-08-10 02:16] lsp666 opened #2024 "bbnkhg"
Before logging the bug, please make sure that:

1. You are using the latest version of `lsp-mode` related packages.
2. You may also try reproduce the issue using clean environment using the following command:
[code]
   where `lsp-start-plain.el` could be downloaded from `https://github.com/emacs-lsp/lsp-mode/blob/master/scripts/lsp-start-plain.el`.
   Alternatively, in will be great if you can rep

[2020-08-10 05:55] yyoncho commented on #1973
You could write your logic in `lsp-clients--clangd-command` it is responsible for calculating the actual command to run.

[2020-08-10 09:25] C1tas opened #2029 "lsp-mode not work at rust project tests folder"
**Describe the bug**
lsp-mode not work in rust project `tests` folder

**To Reproduce**
1. `lsp-start-plain.el` add `rust-mode`
2. open lsp_rust_tests project
3. create a new file like`tests/add_tests.rs`
4. autocomplete won't work

the repo
`https://github.com/C1tas/lsp_rust_tests`

**Expected behavior**
autocomplete works in tests folder

**Which Language Server did you use**
Mention which serve

[2020-08-10 09:48] kiennq commented on #2029
Did you add correct workspace folder for tests folder?
Can you also take the server trace with `lsp-toggle-trace-io` and `lsp-workspace-show-log`

[2020-08-10 09:55] C1tas commented on #2029
ok, by using `lsp-toggle-trace-io`  i found no `textDocument/completion` for my new file. old file works well

[2020-08-10 10:03] flodiebold commented on #2029
Which rust-analyzer version are you using?

[2020-08-10 11:18] C1tas commented on #2029
1. copy from vscode rust-analyzer 2b0c2f6
2. build from souce rust-analyzer e96bfd8

[2020-08-10 11:54] wyuenho opened #2030 "lsp-imenu-index-symbol-kinds"
#2013 introduced `lsp-imenu-index-symbol-kinds` to filter for symbol kinds to show in `lsp-imenu`. The default is filter nothing because we couldn't agree on what the default should be. Please continue the discussion here.

[2020-08-10 12:06] nbfalcon opened #2031 "lsp-restart-workspace: clangd: Process clangd not running"
**Describe the bug**
When using clangd, and restarting the workspace with lsp-workspace-restart, auto-complete, goto-definition and all other features still work. However, when typing in anything, the message "LSP :: Sending to process failed with the following error: Process clangd not running". The bug cannot be reproduced with other language servers, e.g. pyls (pip: python-language-server), whe

[2020-08-10 12:11] flodiebold commented on #2029
Please check whether restarting rust-analyzer (with `lsp-workspace-restart`) fixes the problem. Recent RA versions should automatically reload the workspace when new integration test files are added, but maybe something's not working correctly there.

[2020-08-10 12:53] ericdallo commented on #2024
@bbnkhg can you describe your issue?

[2020-08-10 12:54] C1tas commented on #2029
`lsp-workspace-restart` may works but it will show
[code]

when i confirm it . The whole workspace exit. I need to run `M-x` `lsp` to active rust-analyzer

[2020-08-10 12:56] #2024 closed

[2020-08-10 12:57] ericdallo commented on #2024
Feel free to reopen if you have any issues

[2020-08-10 13:51] kiennq opened #2032 "[3.16] [Completion] Support insertReplaceSupport"
https://github.com/microsoft/language-server-protocol/issues/846
and
https://github.com/microsoft/language-server-protocol/blob/gh-pages/_specifications/specification-3-16.md#completion-request-leftwards_arrow_with_hook

[2020-08-10 13:55] yyoncho commented on #2032
CC @dgutov

[2020-08-10 13:56] kiennq opened #2033 "[Completion] Running command after insert selected completion item"
We should also run `command?` in completion item after inserting it.

[2020-08-10 14:52] dgutov commented on #2032
If I understand the new feature correctly, it's something I've been thinking of for Company as well.

Not sure if choosing the behavior depending on the key would work for us, though (like described in https://github.com/microsoft/language-server-protocol/issues/793).

[2020-08-10 14:54] yyoncho commented on #2032
Why and what is the alternative?

[2020-08-10 15:12] dgutov commented on #2032
First of all, how do you pass which key was used through `completion-at-point-functions`?

Second, TAB or Enter seems like a personal preference and not declaration of intent. But I'm open to other opinions.

The alternative seems to be a user option. The approach that is also taken by VS Code.

[2020-08-10 15:46] seagle0128 opened #2036 "Error: cl-no-applicable-method xref-item-location nil"
- GNU Emacs 28.0.50
- macOS Catalina

While using `M-.` in some python files, I got this error:

[code]

Sample file (helo module does not exist):

[code]

Move the cursor on the second hello, and press `M-.`

[2020-08-10 16:19] kiennq commented on #2032
Can we re-use the `status` parameter in `:exit-function` for that?

[2020-08-10 16:22] yyoncho commented on #2032
this-command?

About the keybindings it is really up to the user, IMO RET and C-RET (I think this is what was mentioned for IDEA) are acceptable defaults.

[2020-08-10 17:00] muirdm opened #2037 "lsp-diagnostics-attributes hard to customize in theme"
Instead of factoring the face attributes out to a variable, can we instead just enumerate all the faces and use face inheritance to share styling? That would make it more straightforward to customize the `lsp-lsp-flycheck-*-*-face` faces in themes.

Themes can set variables using `custom-theme-set-variables`, but I think it is simpler and more accessible if the faces work like all other faces work

[2020-08-10 17:03] dgutov commented on #2032
Probably not. The different values values correspond to different phases in the work of `M-x completion-at-point`. And that function probably really wants the "replace" behavior, always (at least the built-in completion functions behave that way).

That seems to preclude user extensibility. If you're willing to hardcode `company-` in the implementation anyway, it's better to make the choice based

[2020-08-10 18:06] yyoncho commented on #2037
I think that even now you can define a face and it will be used. I did it that one considering that if the number of tags grows the number of faces will have factorial grow.

[2020-08-10 18:08] muirdm commented on #2037
You can override the faces but they don't take effect when you restart Emacs (probably due to the dynamic face creation, not sure).

[2020-08-10 18:11] yyoncho commented on #2037
I think that the code was supposed to check if the face exists and use it. Will fixing this in case it is not working be sufficient for you?

[2020-08-10 18:14] muirdm commented on #2037
Yes, if I can enumerate the faces myself in my theme (and have it take effect across restart) then that is great.

[2020-08-10 18:40] muirdm opened #2039 "Missing space in mode line"
After updating recently there is no longer a space after the code action mode line (missing space after the light bulb):
![Screen Shot 2020-08-10 at 11 36 15 AM](https://user-images.githubusercontent.com/11356572/89817970-d9919800-dafd-11ea-90f1-df3fac96d113.png)

Also I am having a heck of a time trying to disable the mode line diagnostic info. I set `(setq lsp-modeline-diagnostics-enable nil)` b

[2020-08-10 18:56] ericdallo commented on #2039
That was proposital thinking that each node on the modeling should add a prefix string. But I don't know if each node follow this pattern...

what do you think @kiennq ?

[2020-08-10 19:09] muirdm commented on #2039
Currently I'm using doom modeline with a config like this:

[code]

I have a `space` between the purple `bar` and the `misc-info`, but maybe instead that space needs to be in the clock segment?

This is my current global-mode-string:
[code]

[2020-08-10 19:32] muirdm opened #2040 "gopls disagnostics disappear after edit"
gopls apparently does not resend diagnostics after a file change if the file's diagnostics are the same as before. lsp-mode seems to clear our diagnostics on change, so this leaves you with no diagnostics in your buffer:
![diagnostics](https://user-images.githubusercontent.com/11356572/89822806-38a6db00-db05-11ea-9453-4de01c6e4f70.gif)

<details>

<summary>Trace</summary>

[code]

</details>

[2020-08-10 19:46] yyoncho commented on #2040
this is controlled by lsp-diagnostic-clean-after-change, maybe we should change the default...

[2020-08-10 20:01] muirdm commented on #2040
Ah. Perhaps make it it a per-server option so servers that are known to always update diagnostics can enable it by default?

[2020-08-11 00:32] kiennq commented on #2039
@muirdm Yes, I think you will need to add a space in the clock segment instead.
The reason we adding a prefix space only is to follow with pattern that's already inside `lsp-mode`, so that the item on mode line is showing up predictably.

Also, it seems that mode line diagnostic info is indeed disabled, since from `global-mode-string`, that info should be **behind**  code action.
What's the value

[2020-08-11 02:01] muirdm commented on #2039
When I turn off my fancy modeline and use the default, I still see no space between the light bulb and the clock:
![Screen Shot 2020-08-10 at 6 57 02 PM](https://user-images.githubusercontent.com/11356572/89848565-48411680-db3b-11ea-825a-bc8cde31b351.png)

That was the value from the buffer. Something must be funny with my config. I'll open a separate issue if it persists.

How do you guys not hav

[2020-08-11 02:23] kiennq commented on #2039
Can you add a space before `display-time-string`?

We have to add space either prefix or suffix for the mode line for user to easily including each segments.
From what I see, most of minor mode adopting practice of adding space prefix to actually mode line (for example: `company-mode`, `lsp-mode`, `flycheck-mode` ...).

[2020-08-11 02:58] muirdm commented on #2039
Ok, I'll figure something out.

[2020-08-11 02:58] #2039 closed

[2020-08-11 07:34] zoechi opened #2042 "(wrong-type-argument stringp nil) expand-file-name(nil)"
Before logging the bug, please make sure that:

**Describe the bug**
There seems to be a problem with lsp and recentf

**To Reproduce**
When I try to open a file and in the completion list a file is highlighted that was opened recently, but currently is not I get the following exception.

I assume this is related to the ivy trying to show the buffer while narrowing down the completion list (before

[2020-08-11 08:03] cheeze2000 commented on #1571
I can confirm that this happened to me after doing `M-x lsp` with lsp-haskell. This is what happens when I hover over `putStrLn`.
![flicker](https://cdn.discordapp.com/attachments/437471715975757834/742652998768918580/R5BParp1XO.gif)
The definition in the minibuffer flickers but it will stay the moment I do `M-x lsp-disconnect`.

Is there any way to prevent this from happening? Perhaps there is a

[2020-08-11 10:27] petsgre opened #2044 "web-mode,when open .scss file, lsp auto load html-ls instead of css-ls"
![image](https://user-images.githubusercontent.com/22208613/89887054-3e351b80-dc00-11ea-9410-9f4475918b19.png)

[2020-08-11 13:25] ericdallo commented on #2044
Yeah, we start the html-ls after opening a `web-mode`: https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-html.el#L180
I'm not sure how to fix that as web-mode is for `html` files too, right?

[2020-08-11 13:31] yyoncho commented on #2044
We can write activation functions which check the extension type when the major mode is web-mode.

[2020-08-11 17:27] #1979 closed

[2020-08-11 17:37] ratking82 opened #2046 "lsp-lua prevents lsp from starting on system without java"
**Describe the bug**
Lsp-Lua prevents lsp from starting when java is not present on the system. Removing lsp-lua from `lsp-client-packages` fixes the error.

**To Reproduce**
Try on a system where java is not installed. I donot have java on my system.

**Expected behavior**
Lsp to start when non lua buffers are opened.

**Which Language Server did you use**
lsp-python, lsp-clangd

**OS**
Ubuntu 20

[2020-08-11 17:40] yyoncho commented on #2042
Proposed fix at #2047

[2020-08-11 17:42] yyoncho commented on #2046
Thank you for the report. Sorry about that - apparently maintainers and CI have java.

[2020-08-11 17:59] #2046 closed

[2020-08-11 18:28] leungbk commented on #2044
Would it be better to always rely on extension alone? If I open a file with a long line when `global-so-long-mode` is enabled, the server will not stay on since no server corresponds to the `so-long` major mode.

[2020-08-11 18:49] yyoncho commented on #2044
I was considering this in the past. The issue here is when you have file, with no extension with a header like `#!/bin/python`. The file will be opened in python-mode but it won't have an extension.

I think that in vscode activation happens on language where the language is calculated based on filename and maybe the content. The actication of a langauge server can happen also based on a file in t

[2020-08-11 18:59] yyoncho commented on #2030
checking what vscode does by default is a good starting point. I think that I have seen in their config an option to hide particular symbol kind.

[2020-08-11 21:33] JohnC32 opened #2049 ""LSP :: message" hides minibuffer prompt in the echo area"
lsp--info (and I assume lsp--warn, lsp--error) are called asynchronously. Suppose you

    C-x C-f somefile.cpp

and are using the ccls language server. If it's a large project, it will take a while for the ccls project to startup. When things are running, we see messages like "LSP :: ccls:197652 initialized successfully" displayed in the echo area. These displays take a bit. After opening somefil

[2020-08-12 02:07] C1tas commented on #2029
I have test the same bin file within vscode rust-analyzer plugin。

In vscode autocomplete works well in `tests/newfile.rs`

In lsp-mode need to shutdown the workspace, then restart `lsp`.

As i see, is there has some different in lsp-mode rust logic?

[2020-08-12 12:41] Hi-Angel opened #2060 ""textDocument/definition not supported" for "lsp-find-definition" in c++-mode"
**Describe the bug**

Following installation instructions for lsp-mode, and the executing a `lsp-find-definition` results in

[code]

It is possible I didn't configure something, but then again I followed the docs, so that means that this "something" is missing there.

Offhand, it is strange that the [languages page](https://emacs-lsp.github.io/lsp-mode/page/languages/) lists two C++ servers, but

[2020-08-12 12:44] yyoncho commented on #2060
Use M-x lsp not M-x lsp-mode.

[2020-08-12 12:44] #2060 closed

[2020-08-12 12:47] Hi-Angel commented on #2060
Oh, indeed, thanks!

[2020-08-12 14:28] #2031 closed

[2020-08-12 15:09] nbfalcon commented on #2031
Great, thanks!

[2020-08-12 18:27] #2042 closed

[2020-08-12 23:23] wyuenho commented on #2030
There isn't any, because VS Code by default shows a minimap. The document symbols are meant for syntax highlighting, instead of generating an index.

[2020-08-13 00:38] ericdallo opened #2067 "[discussion] - Move LSP clients to a clients folder"
With the @elxbarbosa lsp clients migration, I wonder if we should move all `lsp-XXX.el` clients to a `clients` folder, this helps to have fewer files on repo's root, improving the repo readability for new users.
If so, we should open a PR first on Melpa changing the recipe to read a `clients` folder too then move the el files to it.

[2020-08-13 10:25] yyoncho commented on #2030
There is `Go -> Go to symbol in editor` which uses the same backend.

[2020-08-13 11:27] wyuenho commented on #2030
There are no settings regardless.

[2020-08-13 18:42] fehmud opened #2075 "Completion stops working when upgrading from v7.0 to v7.0.1"
Hello everybody and thank you for this package.

I have a working installation of LSP Mode v7.0. If I upgrade to v7.0.1, completion stops working.

A difference that I have noticed is that the broken version displays more messages like "Cancelling textDocument/codeAction(35) in hook after-change-functions" in `*lsp-log*`. In particular, it does so when completion triggers.

I have tried deleting t

[2020-08-13 18:45] yyoncho commented on #2075
1. Delete your elpa dir, restart emacs and then install everything.
2. In case the issue still exists please populate the bug template.

[2020-08-13 19:00] ericdallo commented on #2075
Just a note that the latest release of lsp-mode is `7.1`

[2020-08-14 00:37] petr-tik commented on #1973
looks like you can close this issue now?

[2020-08-14 02:26] kiennq commented on #2075
Also Emacs 27.1 is out, recommend upgrade for full native json experience

[2020-08-14 13:01] #1973 closed

[2020-08-14 21:35] Vtec234 opened #2080 "Incorrect handling of multibyte UTF-16 encodings"
**Describe the bug**
It seems the handling of multibyte UTF-16 encodings is incorrect in `lsp-mode`.

**To Reproduce**
Create a file with just these contents: "🍋" - a single lemon emoji. Place the cursor after the lemon and type a character ("l", say, for lemon). Most emojis including this one are represented by two UTF-16 bytes, so since LSP [specifies](https://microsoft.github.io/language-server

[2020-08-14 21:53] bitbckt opened #2081 "lsp-before-change clobbers match data"
**Describe the bug**
before-change-functions must save match data; lsp-before-change does not.

**To Reproduce**
Issuing a `replace-string` command on an entire buffer clobbers match data after two replacements.

Issuing a `replace-string` command on a buffer region clobbers match data after one replacement.

In either case, an error is printed to the minibuffer reading: "Match data clobbered by b

[2020-08-14 22:58] #2081 closed

[2020-08-15 00:37] ldionmarcil commented on #1413
Hey, I also would like this behaviour. I changed `lsp-diagnostic-package` to `:none` but for some reason it's still defaulting to `lsp` when opening a file with `python-mode` + `lsp`. The only difference is that lsp is no longer marked as `(explicitly selected)`.

[code]

[2020-08-15 01:03] ldionmarcil commented on #1413
Quick update, while `(setq lsp-diagnostic-package :none)` didn't work for me, changing it _prior_ to loading `lsp-mode` did make `flake8` become the prefered checker, so I guess this is good enough for me!

[2020-08-15 05:29] #938 closed

[2020-08-15 14:04] elxbarbosa opened #2086 "[task] Extraction of lsp-clients.el clients"
Hi,

I just finished extracting all clients in the `lsp-clients.el` file and its tests, javascript, clangd, to a file to each of them.

_There are up to 15 PRs submitted!_

That yields a bigger issue that is synchronizing the efforts to merge each of those PRs.

Once one of those is merged all the other will require conflicts to be resolved.

If you will, I am up to do the boring part.

As it will

[2020-08-15 14:26] ericdallo commented on #2086
Ok, let's try to follow this order of resolve conflict/merge as every PR conflict with each other:
- [ ] Agular  https://github.com/emacs-lsp/lsp-mode/pull/2054
- [ ] VimScript https://github.com/emacs-lsp/lsp-mode/pull/2055
- [ ] Nim https://github.com/emacs-lsp/lsp-mode/pull/2057
- [ ] PHP https://github.com/emacs-lsp/lsp-mode/pull/2058
- [ ] groovy https://github.com/emacs-lsp/lsp-mode/pull/206

[2020-08-15 15:03] elxbarbosa commented on #2086
at work!

[2020-08-15 15:14] elxbarbosa commented on #2086
angular is ready!

[2020-08-15 15:31] elxbarbosa commented on #2086
[vimscript](https://github.com/emacs-lsp/lsp-mode/pull/2055) is ready

[2020-08-15 21:16] elxbarbosa commented on #2086
[nim](https://github.com/emacs-lsp/lsp-mode/pull/2057) is ready!

[2020-08-15 22:08] muirdm opened #2088 "Provide function to execute code lens similar to lsp-execute-code-action"
Apologies if I missed something, but there I couldn't find a way to execute code lens commands other than clicking on the code lens overlay text. gopls has some lenses such as "run this test" or "enable compiler detail diagnostics" where the lens text's only purpose is to allow you to run the command on the server. It would be useful to have completing read pop up with available lenses, similar to

[2020-08-15 22:24] ericdallo commented on #2088
I think this is possible, but the problem is how to find the lenses, I mean, should we search at the current line? search in the "function" scope? the visible buffer?
For a "Run this test' lens, searching by the "function" scope would be better, but for a "enable compiler detail diagnostics", showing lens on the visible buffer maybe would be better.

[2020-08-15 22:36] leungbk commented on #1239
One problem that remains is the following:

0) point is on some highlighted text
1) an asynchronous edit from the server pushes preceding text forward so that an already-highlighted region now ends up at point
2) if we were to ask the server for highlights with point at the pushed-forward text, the server ought to respond with a different set of highlights.

But 2) won't happen with PR #1647.

[2020-08-16 03:02] muirdm commented on #2088
I don't really have good understanding of code lens use cases in general, but I might start with something like:

1. If active region, choose code lenses that start or end within region.
1. Otherwise, list all code lenses but sort them so the the ones "closest" to point come first.

[2020-08-16 03:28] muirdm commented on #1239
I still see some issues with the after #1647:
![highlight](https://user-images.githubusercontent.com/11356572/90325864-d8190300-df35-11ea-9214-9c47ef53a931.gif)

[2020-08-16 04:33] yyoncho commented on #2088
There is `lsp-avy-lens`.