[2019-01-15 12:38] #343 closed

[2019-01-16 13:42] kvaneesh opened #597 "lsp-session-folders-blacklist doesn't persist"
If I add a directory to folders blacklist interactively it doesn't get added lsp-session-file.

lsp-sesion value looks like

lsp--session is a variable defined in ‘lsp-mode.el’.
Its value is
#s(lsp-session :folders
("/home/opensource/sources/kernels/linux-working/")
:folders-blacklist
("/home/opensource/sources/kernels/linux-2.6/")
:server-id->folders #<hash-table equal 0/65 0x2a90c4d> :folder->se

[2019-01-16 13:55] kvaneesh commented on #597
So if I set blacklist before selecting whitelist/folders: it gets written to .lsp-session-v1 file correctly. I guess we are missing a write to that file after updating blacklist variable?

[2019-01-17 06:31] yyoncho commented on #597
Yes, this is the problem - willing to provide a PR?

[2019-01-17 13:16] kvaneesh commented on #597
My elisp skills are not that good. I can definitely help with testing changes

[2019-01-17 16:09] tinloaf commented on #582
For people finding this issue: I was apparently hit by a clangd bug that causes errors when it sees Unicode characters. The bug is fixed in https://reviews.llvm.org/D53527?id=170486

[2019-01-18 22:42] xendk commented on #542
Being the opinionated type, I dislike hard dependencies. That being said, I do have both yasnippet and markdown installed. Probably not a popular suggestion, but how about something like a lsp-easy (or something) package that has those dependencies and perhaps a well-commented default setup that can be used as a starting point? Those who prefer the turn-key solution and new users could use that, w

[2019-01-18 23:15] xendk opened #599 "Server logging messing with the message area"
**Describe the bug**
When loading large projects, php-language-server produces a lot of logging about what it parses, which seems to make messages in the echo area disappear and eldoc tips flicker.

Apart from it makes emacs seem flaky while it's scanning, it makes the UX suffer as messages disappear to quickly to be read, and helpful prompts, like the `C-x-`one gets after pressing a prefix key, g

[2019-01-19 06:51] yyoncho commented on #542
@xendk

Actually `lsp-easy` is planned ( although it will be named `lsp-ide` or `lsp-layer`) but for a slightly different reason - I want to create full out of the box IDE experience in the spirit of Spacemacs. The package will go a step further from what this PR is about:

1. Hard dependencies to several other packages flycheck/company/treemacs/helm/projectile(?)/doom-modeline.
2. Hard dependenci

[2019-01-19 07:08] yyoncho commented on #599
We need to investigate `with-temp-message` as well.

I am aware of the issue and tried to fix it with creating `lsp-message` but it seems like it is not sufficient. If the suggestion above does not fix the issue we may create a separate buffer for message logging.

[2019-01-19 08:14] #361 closed

[2019-01-19 12:38] yyoncho commented on #560
Please reopen after providing the requested details.

[2019-01-19 12:38] #560 closed

[2019-01-19 13:13] yyoncho opened #602 "Implement resouce operations"
As per latest version of lsp spec server may initiate workspace operations like deleting/renaming files.

[2019-01-19 13:39] xendk commented on #599
I'll try to find some time to give it a shot.

[2019-01-21 15:17] alanz opened #605 "It seems lsp-project-blacklist and lsp-project-whitelist no longer do anything"
**Describe the bug**
If I start a lsp session on a project, using a particular GHC compiler, I get asked to add the root as a session, and then `lsp-mode` works for the project.

If I then switch to an unsupported compiler, where lsp-mode doesn't work, I can't turn off lsp-mode

**To Reproduce**
Steps to reproduce the behavior:

Update whitelist and blacklist to be
[code]
Open a project that is no

[2019-01-21 15:36] yyoncho commented on #605
These settings were replaced by `(lsp-session-folders-blacklist session)` and `(lsp-session-folders ...)` in the new version. You do not need to add them manually but you could add them after you open a file from a project for the first time. If you have already added the folder to be part of the session you may remove it and the next time you call `lsp` in the current project you may add it to th

[2019-01-21 15:36] #605 closed

[2019-01-21 15:56] alanz commented on #605
Ok, the functions seem to be called `lsp-workspace-folders-add` and `lsp-workspace-folders-remove`.

[2019-01-21 16:07] benbot opened #606 "Directory not completing in js2 mode"
**Describe the bug**
default js2-mode behavior is to auto complete directory names in import statements, this doesn't happen with lsp mode enabled.

**To Reproduce**
open a javascript file, attempt to make an import statement with a relative path

**Expected behavior**
the relative path auto completes

**Which Language Server did you use**
javascript-typescript-langserver

**OS**
osx

[2019-01-21 16:54] yyoncho commented on #606
Do you know whether js2-mode uses company-mode to complete the directory name? If you cannot tell can you post a screenshot or provide mode?

[2019-01-21 18:09] yyoncho commented on #606
This looks like it is company, can you do `M-x` - `company-diag` when you are on this screen and post the output? I believe this issue just fixed by https://github.com/emacs-lsp/lsp-mode/commit/e4932417a561791249d1db6458cfb0b7b534123d

[2019-01-21 23:17] jgarvin commented on #505
https://github.com/emacs-lsp/lsp-mode/blob/master/README-NEXT.md  link is broken now is there a newer one?

[2019-01-22 05:51] yyoncho commented on #505
@jgarvin it is moved in README.org (the home page of the REPO).

[2019-01-22 14:21] yyoncho commented on #606
https://github.com/emacs-lsp/lsp-mode/commit/e4932417a561791249d1db6458cfb0b7b534123d should have fixed it.

[2019-01-22 14:21] #606 closed

[2019-01-22 16:13] cwhatley opened #610 "Create custom activation function for typescript servers (was typescript/tsx assumes spacemacs usage)"
**Describe the bug**
The current version activates the typescript lang server for typescript-tsx-mode which only exists for spacemacs users. Would be good to add a faq entry with a suggested typescript/tsx configuration like what I have below. This is just a copy of the spacemacs approach, but it is useful to demonstrate how to target a language server with something like web-mode that supports mu

[2019-01-22 16:50] #599 closed

[2019-01-22 17:37] yyoncho commented on #610
As far as I can see typescript server is enabled in the following modes: `(typescript-mode typescript-tsx-mode js-mode js2-mode rjsx-mode)` and typescript-mode is not part of spacemacs.

[2019-01-22 17:45] cwhatley commented on #610
typescript-tsx-mode is not an existing mode you can find defined in a package on melpa/elpa other than being defined by in typescript config of spacemacs:

https://github.com/syl20bnr/spacemacs/blob/a46b784e85911afe8bd6648ca55c080ffae1081c/layers/%2Blang/typescript/packages.el#L99

I'm assuming whomever contributed that list of modes was a spacemacs user. My suggestion here is just to document wha

[2019-01-22 17:49] yyoncho commented on #610
You do not have to define **all** the layers that a particular server is defined. I believe that your sample will be useful for someone that wants to use typescript server in web-mode derived major mode but it is not must have if you want to use the typescript server(e. g. you may install typescript-mode).

[2019-01-22 17:58] cwhatley commented on #610
You are correct that it is fine for regular typescript, but please note that I'm not talking strictly about typescript. It is a must-have if you want to have LSP working with TSX/React which is best supported now by web-mode. Most people use web-mode for TSX since rjsx-mode doesn't support typescript. Since LSP is triggering its config off of the buffer's mode, this workaround is necessary.

Funda

[2019-01-22 18:11] yyoncho commented on #610
Make sense. @danielmartin introduced a new way to configure to select a server `:activation-fn` (see https://github.com/emacs-lsp/lsp-mode/commit/960d06f7b5b7fcace9c840a7dbc2a2d3fd267172) . IMO it makes more sense to have a custom activation function for typescript(ideally implemented by someone with typescript experience) . What do you think?

[2019-01-22 18:24] cwhatley commented on #610
That's a much better option than the derived mode approach.

[2019-01-22 19:18] cwhatley commented on #610
@yyoncho I added a simple PR for that.

[2019-01-22 19:28] thkoch2001 opened #612 "5 failing tests while building on Debian"
I'm packaging version 6.0 now for Debian. 5 tests fail now:

1.   FAILED  lsp--parser-read--ignored-messages
2.   FAILED  lsp--test-overlapping-updates
3.   FAILED  lsp-file-watch--notifications
4.   FAILED  lsp-file-watch--relative-path
 5.  FAILED  lsp-file-watch--relative-path-glob-patterns

I reported the lsp-file-watch--* failures already in https://github.com/emacs-lsp/lsp-mode/issues/467.

[2019-01-22 19:32] benbot opened #613 "Both jsts-ls and flow-ls start when opening an rjsx-mode buffer"
**Describe the bug**
When an rjsx-mode buffer is opened that would be valid for both the javascript/typescript and flow clients both workspaces are started with both servers reporting to lsp-mode.

**To Reproduce**
open a file with `// @flow` at the top and a `.flowconfig` file in the project root.

**Expected behavior**
flow-ls is the only lsp server managing the buffer

**Which Language Server d

[2019-01-22 19:38] yyoncho commented on #613
AFAIK this is the desired behaviour as per @danielmartin's commit.

@benbot  Until we solve this issue you may change the add-on? flag of flow server to nil and adjust the priority of the typescript and flow server to make them start according to your preferences.

[2019-01-22 19:42] yyoncho commented on #612
This is caused by dash being old. We are using smart destructuring which is available only in the latest dash.
@fuco1 do you have plans for releasing new dash version?

[2019-01-22 19:50] thkoch2001 commented on #612
We only have a few days left for updates to get into the next Debian stable. Do you think there is a way you could change your code to work with dash 2.14? I doubt we will be able to have an upstream release and a debian release of dash 2.20 and handle all possible problems that the dash upgrade might cause in other Debian packages.

[2019-01-22 20:05] yyoncho commented on #612
I think that I could do that change if this is the only option. What is the deadline?

[2019-01-22 20:09] Fuco1 commented on #612
Out of curiosity why are we packaging Emacs packages for Debian?

Yes, new version of dash is quite necessary.  I'm going to release 2.15 right now.  It's been stable and we are just lazy to click the button.

[2019-01-22 20:13] thkoch2001 commented on #612
@yyoncho Thanks a lot!

The final deadline is March 1st. If an error is found afterwards there is no option to upload a fix anymore.
https://lists.debian.org/debian-devel-announce/2019/01/msg00008.html

@Fuco1: https://wiki.debian.org/AdvantagesForUpstream - It was my initiative to package this for Debian, nobody else in the emacs-lsp is involved. There are people who prefer all their software to

[2019-01-22 20:19] Fuco1 commented on #612
I've just released dash 2.15.

[2019-01-22 20:53] yyoncho commented on #612
@Fuco1 thanks!

@thkoch2001 can you comment whether we still need to change `lsp-mode` to work with dash 2.14.1?

[2019-01-22 20:57] yyoncho commented on #612
As a side note, I will take a look at the other 3 failing tests with higher priority. I believe that the issue is caused by the different behaviour of file notify libraries. Can you provide more details on the Debian version on which the tests are failing? Link to ISO file will work too.

[2019-01-22 21:54] danielmartin commented on #613
@benbot I was mimicking the default behavior of Visual Studio Code here. If you have the Flow extension installed and the Typescript one (which is built-in), then both will run and you will get a lot of spurious error messages in Flow code (see, for example, https://github.com/flowtype/flow-for-vscode/issues/13). You have to manually disable the TypeScript extension via `javascript.validate.enable

[2019-01-23 06:52] #610 closed

[2019-01-23 08:00] seagle0128 opened #616 "void-function contains\?"
Emacs 26.1
macOS Mojave
lsp-mode-20190123.652

Should it be `-contains?`?

[code]

[2019-01-23 08:03] yyoncho commented on #616
Sorry about that: fixed with https://github.com/emacs-lsp/lsp-mode/commit/79cedadde65b17bd9e7c5f6a049ed1c3ee9d8e63

I am planning to move lsp-java integration tests in that repo to avoid such issues in the future.

[2019-01-23 08:07] seagle0128 commented on #616
Yeah, UT or IT are necessary for the rapid developments. Thank you for quick fixing!

[2019-01-23 08:14] yyoncho commented on #616
I will keep it open until melpa kick in.

[2019-01-23 12:56] thkoch2001 commented on #612
I managed to reproduce the 3 lsp-file-watch-* failures on a Debian stable with the dependencies installed via melpa-stable and this command line:

    emacs -batch -Q -l package --eval "(add-to-list 'package-directory-list \"~/.emacs.d/elpa\")" -f package-initialize -L . -L test -l ert -l test/lsp-common-test.el -l test/lsp-file-watch-test.el -l test/lsp-io-test.el -l test/lsp-methods-test.el -f e

[2019-01-23 15:00] #616 closed

[2019-01-23 15:07] thkoch2001 commented on #612
So according to this https://lists.debian.org/debian-emacsen/2019/01/msg00038.html we will not have dash-2.15 in Debian Buster:

So if it would be possible to make lsp-mode work with dash-2.14, that would be nice.

[2019-01-23 15:30] Fuco1 commented on #612
Note that the last change to the code was 4 months ago.  We only forgot to tag the release.

[2019-01-23 15:54] mwbuksas opened #618 "Disable flycheck in lsp-mode with ccls"
I'm having problems with accurate results from flymake in my setup with ccls. I'd like to get these sorted out eventually, but in the meantime it would be nice to just disable flymake It is currently enabled automatically in every new buffer.

I don't believe that I'm doing anything to activate it, as my lsp configuraton is pretty minimal. Is there an option in lsp to turn it off?

My lsp/ccls con

[2019-01-23 16:43] yyoncho commented on #618
LSP mode has a default configuration which is in `lsp--auto-configure` you may turn off that by setting `lsp-auto-configure` to `nil` but you have to take care for configuring the rest of the components by yourself.

[2019-01-23 16:43] #618 closed

[2019-01-23 16:45] yyoncho commented on #612
@thkoch2001 ok, I will try to fix it during the weekend.

[2019-01-23 16:52] yyoncho commented on #613
@danielmartin I think that it will be best for the project language specific settings to be defined by users for that language. Based on your comments it seems like having flow server with higher priority than the ts/js servers and set add-on? flag to nil.

I am thinking about the following: changing lsp-register-client to macro which generates defcustom for each of the properties of the server. E

[2019-01-23 17:36] ad1217 opened #619 "HTML Language server: "Unknown method: telemetry/event""
**Describe the bug**
When using the [HTML language server](https://github.com/vscode-langservers/vscode-html-languageserver) in an embeded `<script>` tag, lsp-mode spams `Warning (lsp-mode): Unknown method: telemetry/event` in the `*Warnings*` buffer.

**To Reproduce**
1. Install HTML language server
2. Run `lsp` in a html buffer with a script tag
3. Type something in the script tag

**Expected be

[2019-01-23 17:46] danielmartin commented on #613
Yes, I'm also OK.

[2019-01-24 02:33] cremacs opened #623 "is there a way to disable the automatic italicizing of symbols when hovered?"
I don't like that symbols automatically get highlighted after a short time -- can I disable this with some variable?

[2019-01-24 06:15] #619 closed

[2019-01-24 06:44] yyoncho commented on #613
fixed with #620

[2019-01-24 06:44] #613 closed

[2019-01-24 17:22] gpanders opened #624 "Error with Rust LS: 'Could not convert URI to path'"
**Describe the bug**
Rust LS crashes with the following error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install most recent lsp-mode from MELPA
2. Enable `lsp` in `rust-mode`

**Expected behavior**
Language server should not crash.

**Which Language Server did you use**
Rust (rls)

[code]

**OS**
macOS High Sierra

**Error callstack**
If there is an error please reproduce the i

[2019-01-24 18:17] yyoncho commented on #624
Can you do `(setq lsp-print-io t)` and post the output of \*lsp-log\*?

[2019-01-24 18:30] yyoncho commented on #624
I just upgraded RLS on my machine and tested with hello world project and it does not reproduce out of the box on linux mint. Can you verify that you have picked the proper root (use lsp-describe-session to find the roots). Can you also check what is the exact command that vim us running? Lsp is starting rls without any arguments.

[2019-01-24 20:47] gpanders commented on #624
`lsp-describe-session` shows a buffer with
[code]
which is the correct project root (it contains the `Cargo.toml` file).

I'm not totally sure how it's started in Vim. I use [coc.nvim's rls plugin](https://github.com/neoclide/coc-rls) which is written in Typescript. As best as I can tell it is started using `rustup run stable rls`.

`*lsp-log*`:
[code]

[2019-01-24 20:57] yyoncho commented on #624
Probably this will fix the issue:

[code]

I will do more testing tomorrow morning my time.

[2019-01-24 21:04] yyoncho commented on #624
Pushed the change - https://github.com/emacs-lsp/lsp-mode/commit/e0a66058ad938be6a532352fb3a42f5867a4d195 , can you retest?

[2019-01-24 21:38] gpanders commented on #624
Seems to work now!

[2019-01-24 21:38] #624 closed

[2019-01-25 14:12] twlz0ne opened #625 "lsp enabled on emacs built-in package file and connected to a running pyls server"
**Describe the bug**

lsp enabled on emacs built-in package file and connected to a running pyls server

![screenshot_2019-01-24_at_5_39_58_pm](https://user-images.githubusercontent.com/2653486/51750775-0d5cc680-20ee-11e9-8b18-7510cdbbf32b.png)

![screenshot_2019-01-24_at_5_41_11_pm](https://user-images.githubusercontent.com/2653486/51750803-1c437900-20ee-11e9-97da-d150c76c2005.png)

**To Reproduc

[2019-01-25 14:16] yyoncho commented on #625
Fixed by https://github.com/emacs-lsp/lsp-mode/commit/63a421af9354ed300b1082e20b067baf2ac2e8d3 (you need also https://github.com/emacs-lsp/lsp-mode/commit/79cedadde65b17bd9e7c5f6a049ed1c3ee9d8e63)

[2019-01-25 14:16] #625 closed

[2019-01-25 15:01] benbot opened #627 "Hints sometimes wrap to the other line making code harder to read"
Sometimes hints are too long and will wrap to the next line. This make code harder to read especially if the hints are very long.

I'm sure this depends on the lsp server that's enabled for the buffer, but maybe there should be a max length for hints based on the size of the current buffer or find a way to prevent hints from wrapping. Maybe by detecting when a hint would exceed the `window-width`

[2019-01-25 19:04] yyoncho commented on #627
Take a look at: lsp-ui-sideline--push-info .

At some point I would like to implement shortening the symbols for Java, e. g. `java.util.Collection` to be `j.u.Collection` but I am not sure whether a similar strategy is possible for the rest of the language servers. I don't want to discourage you but I believe that this part of the code is tricky since using hover data for such inline docs is lsp-m

[2019-01-25 19:05] yyoncho commented on #627
Also, please move the bug in lsp-ui (I suspect that it was already logged there) and indicate that you will be working on it.

[2019-01-25 19:21] yyoncho commented on #624
@gpanders can you do a comparison between coc.nvim and `lsp-mode` stressing on the things that you think that could be improved in `lsp-mode` (apart from this issue) or you do not like?

[2019-01-25 21:23] yyoncho commented on #612
PR here - https://github.com/emacs-lsp/lsp-mode/pull/628

@thkoch2001 do we need to make lsp-ui work against dash 2.14.1 too?

[2019-01-25 21:29] yyoncho opened #629 "We need a logo"

[2019-01-26 10:34] thkoch2001 commented on #612
Thank you @yyoncho! My motivation is lsp-haskell, so everything in its dependency closure should depend on stuff in Debian. To my understanding this means lsp-ui must also work with dash 2.14.1.

So thank you again for asking: yes.

[2019-01-26 11:58] bradprob opened #630 "LSP :: No LSP server for c++-mode"
Hi,
Trying to use lsp-mode with this configuration:
[code]
When I open a .cpp file from a project I receive this:
`LSP :: No LSP server for c++-mode.`
Emacs: `GNU Emacs 26.1 (build 2, x86_64-pc-linux-gnu, GTK+ Version 3.24.2) of 2018-12-26, modified by Debian`
clangd: `clangd-7`
Do you know what I am doing wrongly?

[2019-01-26 12:09] yyoncho commented on #630
What does `(executable-find "clangd")` returns?

[2019-01-26 12:38] bradprob commented on #630
empty!

[2019-01-26 12:40] yyoncho commented on #630
make sure that "clangd" is on the path or do (setq lsp-clients-clangd-executable "path to clangd")

[2019-01-26 12:40] #630 closed

[2019-01-26 12:44] bradprob commented on #630
Thanks! It seems that it caused the issue.

[2019-01-26 15:31] yyoncho commented on #612
@thkoch2001 here are lsp-ui changes - https://github.com/yyoncho/lsp-ui/tree/dash2.14.1

[2019-01-26 18:31] #612 closed

[2019-01-26 19:17] bradprob opened #631 "flymake error"
Hi,
I am trying to check my c++ code with flymake in a directory structure like:
[code]
I build the project with camke and ninja.
When I open xxx.cpp, flymake seems to check the code (markers are shown), though the flymake log buffer contains the following error:
Error [flymake-proc xxx.cpp]: NOMK: No buildfile (Makefile) found for root/src/xxx.cpp
Can you help please?

[2019-01-26 21:09] yyoncho commented on #631
Can you provide some more information, e. g. Which language server do you use?
I suspect that the error is coming from legacy flymake cpp backend which I disable with

[code]
Let me know whether this fixes your issue.

[2019-01-26 21:58] bradprob commented on #631
flymake still does not work; I'll look for a solution. Thanks!

[2019-01-27 16:15] #627 closed

[2019-01-29 06:06] #631 closed

[2019-01-29 06:11] yyoncho commented on #287
The documentation was extended in 7c55ba55af5c5e061285993c952074cbc52bfa67 (e. g. https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-mode.el#L610) please reopen if you think that  it is not enough.

[2019-01-29 06:11] #287 closed

[2019-01-29 06:16] yyoncho commented on #79
Fixed by  @xendk - https://github.com/emacs-lsp/lsp-mode/pull/604

[2019-01-29 06:16] #79 closed

[2019-02-01 08:22] Coffei opened #634 "imenu items are trimmed to certain length"
**Describe the bug**
imenu items (e.g. functions in a file) are trimmed to certain length, which sometimes loses the important information at the end (e.g. parameters). I experience this problem in elixir where module names can be long.

Check images at https://imgur.com/a/UHbwd1N, see the arguments of function `pris` are trimmed and if the function would have longer name event the name would be t

[2019-02-01 08:30] yyoncho commented on #634
```(setq imenu-max-item-length ...) ```

[2019-02-01 08:30] #634 closed

[2019-02-02 06:46] yyoncho commented on #542
Created repo https://github.com/emacs-lsp/lsp-ide . `lsp-ide` will be a meta package which will allow also adding direct dependencies to more lsp related packages like `company-lsp`/`lsp-FOO-LANGUAGE` and so on.

[2019-02-02 06:46] #542 closed

[2019-02-02 06:53] #473 closed

[2019-02-04 10:15] NeedMoreDesu opened #636 "Completion with both complete-symbol and company in dart takes 1.5s+ to execute"
**Describe the bug**
Completing dart in lsp-mode takes approximately 1.5s+.

**Which Language Server did you use**
dart_language_server

**OS**
macOS mojave 10.14,
GNU Emacs 25.3.1 (x86_64-apple-darwin13.4.0, NS appkit-1265.21 Version 10.9.5 (Build 13F1911)) of 2017-09-12

**Profiler report for complete-symbol**
[code]

**Profiler report for company-complete**
[code]

**My lsp setup:**
[code]

**M

[2019-02-04 13:00] astenman opened #637 "Fix for character encoding in lsp--read-from-file when using windows"
A minor fix for windows that makes paths with latin letters look better than is the case now (lsp-describe-session):

![image](https://user-images.githubusercontent.com/43724994/52209549-93160a00-2884-11e9-9533-3516366e6c41.png)

(defun lsp--read-from-file (file)
  "Read FILE content."
  (when (file-exists-p file)
    (with-demoted-errors "Failed to read file with message %S"
      (with-temp-buff

[2019-02-04 16:24] VisionaryAppDev commented on #630
@yyoncho  I did face the same problem with "LSP :: No LSP server for js-mode". Please help me figure out what is going on. Here is my below configuration:

(use-package company-lsp :commands company-lsp)
(require 'lsp-clients)
(add-hook 'js2-mode-hook #'lsp)
(add-hook 'js-mode-hook #'lsp)

;; I am not sure which one of them should I use so i put both.

      lsp-clients-typescript-server-args  '("

[2019-02-04 16:56] yyoncho commented on #630
@VisionaryAppDev lsp-mode is using `executable-find` to determine whether a particular client is present. I add some more logging to help diagnosing this kind of issues.

[2019-02-04 17:23] yyoncho commented on #636
Can you test with company-lsp instead of company-capf? If this does not change the performance, can you do (setq lsp-print-io t) and inspect what is the size of the responses (it is located in \*lsp-log\*)?

On lsp-mode side I will extend the logging to include how much time is spent on the server side since it could be server side issue.

[2019-02-04 19:37] NeedMoreDesu commented on #636
@yyoncho it jumps to 1000 lines and that yields unbalanced parens -- meaning it stuck in 1k lines log buffer limit and is definitely longer than that.

[2019-02-04 21:10] yyoncho commented on #636
you may do (setq lsp-log-max 10000) to increase the buffer log size.

Do you have a dart project to reproduce with? In general json parsing is not very fast but it shouldnt be that slow(5s).

[2019-02-05 17:42] yyoncho commented on #637
can you test https://github.com/emacs-lsp/lsp-mode/commit/ee21627416d25224c697ed92d63bb8dd8c29b859 and reopen if the issue is not fixed?

[2019-02-05 17:42] #637 closed

[2019-02-05 18:00] yyoncho commented on #630
@VisionaryAppDev pushed https://github.com/emacs-lsp/lsp-mode/commit/89cd1d6654793f7413f7a1eea3e0ac6870015001 - improves the logging related to server selection.

[2019-02-06 03:24] titaniumbones opened #639 "lsp crashes trying to provide completion in node"
**Describe the bug**
In a node project , lsp crashes while trying to complete methods from a required node modue.

**To Reproduce**
create a minimal file, e.g.:
[code]
wait for lsp to crash
**Expected behavior**

expect companylsp to provie a completion list
**Which Language Server did you use**
I have both installed but I believe lsp is choosing `typescript-language-server`
**OS**
Which os do you

[2019-02-06 22:20] titaniumbones commented on #639
thx @yyoncho.

1. I was finally able to disable flymake when I accidentally discovered the new `lsp-prefer-flymake`.  Hopefully those errors wil ldisappear now.  If lymake is less tested, maybe the default value of that new var should be different? If you agree I will file a separate bug.

2. Upgraded both  those packages in as many versions of node as I could find _-) I'm not sure how to ocnfirm

[2019-02-07 02:08] VisionaryAppDev commented on #630
@[yyoncho](/yyoncho) Now I have upgrade to the latest version and when I start open js file I got some log but i am not sure what is going on.

`LSP :: Connected to [ts-ls:30167 status:starting].
which-func-ff-hook error: (error "No workspace could handle textDocument/documentSymbol")
LSP :: Request initialize failed with message: Couldn't find 'tsserver' executable or 'tsserver.js' module
`

[2019-02-07 06:07] yyoncho commented on #630
@VisionaryAppDev can you do `npm i -g typescript` ? I will update the readme to mention that too.

[2019-02-07 06:13] yyoncho commented on #639
I personally use flycheck but since flymake is in the core it was suggested to be the default since it is in the core. Ideally, we should fix the flymake issue but it is not clear to me how to do that. The code that reports errors is trivial.

@titaniumbones the following response indicates an error in the language server:

[code]

[2019-02-07 08:42] astenman commented on #637
Yup, seems to work now. Thanks!

[2019-02-07 14:02] VisionaryAppDev commented on #630
@yyoncho it is working now but I have to put (setq lsp-clients... above otherwise emacs cannot find lsp-server again. I put something like below:
`(setq lsp-clients-typescript-server "/home/Data/npm/.npm-global/bin/typescript-language-server"
      lsp-clients-typescript-server-args  '("--stdio"))`
`(setq lsp-clients-javascript-typescript-server "/home/Data/npm/.npm-global/bin/typescript-language-

[2019-02-07 14:29] truls opened #641 "lsp-mode prompts if pyls should be restarted on emacs exit"
**Describe the bug**
When editing a python buffer using lsp-mode with the pyls language server, emacs will prompt to restart pyls on exit.

**To Reproduce**
Steps to reproduce the behavior:
1. Open a buffer python buffer (`lsp` is called through mode hook)
2. Exit emacs using `C-x C-c`
3. Emacs will show a prompt in the minibuffer: `Server pyls:xxxx exited with status signal. Do you want to restar

[2019-02-07 16:58] yyoncho commented on #641
you may workaround the issue using the following setting:
[code]

Please, let me know whether it works for you.

[2019-02-09 13:34] NeedMoreDesu commented on #636
@yyoncho project is Flutter project https://gitlab.com/divnyi/building_new_ui

With current setup:

[code]
Completing at no-character in "lib/main.dart", `Widget build(BuildContext context) {` :

Region has 66959 lines, 300012 words, and 2907863 characters.

With some macro, I've found that completion has 2575 items in "result"."items" array.

Is it supposed to give so many items in one go, withou

[2019-02-09 13:59] yyoncho commented on #636
It is up to the server to decide whether to return a full set. So this issue looks more like a server bug/miss-implementation  - sever could return let say first 100 results and indicate that the result is partial.

As a side note, I just pushed https://github.com/emacs-lsp/lsp-mode/commit/cd352b3a47949da27623e9ca61722e8e8f1ee10e which logs the performance data(e. g. serialization time/server time

[2019-02-09 15:21] gpanders opened #643 "LSP server prints "Building" and "Indexing" in echo area after each character"
**Describe the bug**
After each character I type, LSP mode prints "Building" followed by "Indexing" in the echo area. Not only is it annoying but it sometimes interferes with other commands (for example, if I'm using the minibuffer).

Functionally, LSP is working just fine.

**To Reproduce**
Steps to reproduce the behavior:

Just type any character in emacs in rust-mode with `lsp` enabled.

**Whic

[2019-02-09 15:38] #643 closed

[2019-02-10 14:30] vibhavp opened #644 "Supporting logging to files"
The official LSP website comes with an [Inspector app ](https://microsoft.github.io/language-server-protocol/inspector/)that allows you to examine a detailed log of all requests/responses/notifications between a language server and a client. `lsp-mode` should support logging communication to a JSON file that can be read by the app, which would make debugging easier than it is now, for both develop

[2019-02-10 14:33] noctuid commented on #167
@yyoncho It would be awesome to have `lsp-clients-python-settings`. Does it actually need to contain all settings to work or could it just contain the settings that are different from the defaults?

[2019-02-10 15:27] yyoncho commented on #167
@noctuid I do not use pyls, my guess is that the settings should be present in the set configuration request or it will default to nil/false.

[2019-02-10 15:29] yyoncho commented on #223
@vibhavp - can you open the wiki for public edits so we can close this issue?

[2019-02-10 15:34] yyoncho commented on #167
@noctuid just saw that user @hrehfeld have converted the vscode json to elisp - I will cleanup/organize and commit the changes.

[2019-02-13 14:04] truls commented on #641
Thanks, it seems to be working for me.

[2019-02-13 14:28] wenxin-wang opened #646 "lsp--uri-to-path not decoding utf-8 path back to multibyte string"
If an URI is encoded from a path containing utf-8 characters, `lsp--uri-to-path` does not decode it back to a string containing the original multi-byte characters. This makes `lsp-ui-flycheck` unable to display underlines for diagnostics returned from the server.

**To Reproduce**

Create a file "~/你好/try.py" with content:

[code]

See that flycheck does not mark any warning on the buffer, but `ls

[2019-02-13 14:31] yyoncho commented on #646
Looks good, willing to provide a PR?

[2019-02-13 14:42] wenxin-wang commented on #646
Sure. Please have a look at my comment on https://github.com/emacs-lsp/lsp-mode/pull/647

[2019-02-13 20:28] #646 closed

[2019-02-14 20:22] #644 closed

[2019-02-16 21:04] yyoncho commented on #477
I have investigated the folding solution libraries and for now https://github.com/gregsexton/origami.el seems like the only package that provides extension points for plugging range provider. Implementing the folding in lsp-mode.el wont pay off.

[2019-02-17 06:00] Kazimazi opened #652 "lsp-mode won't find php-language-server.php since I have it in ~/.config/composer/..."
lsp-mode looks for `php-language-server.php` in `~/.composer/vendor/felixfbecker/language-server/bin/php-language-server.php`
Is there a workaround?
Can we have an option to get it from PATH?
I'm using Arch Linux.

[2019-02-17 07:00] yyoncho commented on #652
Use  lsp-clients-php-server-command to customize the php ls location.

[2019-02-17 07:00] #652 closed

[2019-02-18 18:00] yyoncho opened #655 "[Feature] org-mode lsp-mode integration"
After spending some time reading org-mode code it seems like we may implement language support in the org-mode source block by using org-babel-tangle to save the file and translating the locations and buffer point/position using babel sources.

[2019-02-18 18:25] yyoncho commented on #377
@twlz0ne @stardiviner @seagle0128  https://github.com/emacs-lsp/lsp-mode/issues/655 might be interesting for you.

[2019-02-19 00:07] stardiviner commented on #655
Do you have a prototype? Using tangling might have some edge case, like multiple source block point to same one target file, and creating empty new source block might overwrite target file. But still I think its a great solution, I saw someone use this method before.

[2019-02-19 06:57] yyoncho commented on #655
No, just came up with the idea and decided to file the issue if someone wants to work on it. `dap-mode` could support that too.

[2019-02-19 16:33] yyoncho commented on #223
Wiki opened for edits.

[2019-02-19 16:33] #223 closed

[2019-02-19 20:31] AlexLeSang opened #656 "error in process filter: lsp--parser-workspace: Wrong type argument: lsp--parser"
**Describe the bug**
Wrong-type-argument lsp--parser.

**To Reproduce**
Use lsp mode, code completion.

**Expected behavior**
No messages

**Which Language Server did you use**
lsp-python, lsp-ccls, lsp-cquery

**OS**
Ubuntu Linux 18.10

**Error callstack**
Callstack:
[code]

Error message from  \*Messages\* buffer:
[code]

[2019-02-19 21:09] yyoncho commented on #656
Can you make sure you are using the latest version of lsp-mode/company-lsp/lsp-ui and if so can you delete .elc files from your emacs.d director?. It looks the byte compilation is messed up.

[2019-02-20 06:22] AlexLeSang commented on #656
I did that and the results is the same.
[code]

[2019-02-20 06:53] yyoncho commented on #656
I tried to reproduce with the latest lsp-mode using clean config, like this:

`HOME=/tmp/ emacs -q -l lsp-start-plain.el` where lsp-start-plain.el can be downloaded from https://github.com/emacs-lsp/lsp-mode/blob/master/scripts/lsp-start-plain.el and it seems to work fine . Can you try that and report back?

[2019-02-20 10:28] stardiviner opened #657 "lsp--parser-on-message error on js source code in a new clean npm project"
**Describe the bug**
lsp-mode/javascript-typescript-langserver seems recursively scanning project defining file like `package.json`. But my source code file already has `package.json` file. Weird.
Everytime the popup backtrace target json file is different. They are all my cloned resposity source code.

**To Reproduce**
Steps to reproduce the behavior:

In a clean npm project `package.json`:

[cod

[2019-02-20 10:33] yyoncho commented on #657
Can you try this:

[code]

[2019-02-20 18:51] #657 closed

[2019-02-20 22:21] mundusnine opened #661 "[Feature Request] Support for haxe language"
Following could be used to integrate the haxe language
https://github.com/vshaxe/haxe-languageserver

[2019-02-21 04:18] Bee-Mar opened #663 "Clangd Header File Completion"
I'm having difficulty with header file completion. The code completion works just fine, but I can't seem to get header file names to be completed. I inserted two screenshots below.

This is my config for lsp/clangd. I tried using with and without `eglot`, and still have the same results.

    `(use-package eglot)
     (use-package lsp-mode
       :commands lsp
       :init
       (setq lsp-clients

[2019-02-21 06:06] yyoncho commented on #663
This seems like clangd ls issue - can you open a PR at clangd repo? I don't think that there is anything we can do on lsp-mode side.

[2019-02-21 06:06] #663 closed

[2019-02-21 06:11] Bee-Mar commented on #663
Will do, and thank you for getting back to me.

[2019-02-21 18:01] yyoncho commented on #661
@mundusnine I checked the language server - it seems like provides a lot of extension methods and requires a relatively high amount of work in order to make it work(I am judging based on the size of the client)  . Based on this it seems like the issue could be addressed only by Haxe user. Do you want to give it a try?

[2019-02-22 18:27] mundusnine commented on #661
For now, I don't really have the time. But I will put it in my stack for the futur. @fullofcaffeine also wanted this feature maybe he would be interested.

[2019-02-22 21:11] Kazimazi opened #664 "[Feature Request] Add Ben Mewburn's php-ls"
Some usefull links:
[bmewburn/intelephense-docs](https://github.com/bmewburn/intelephense-docs)
[bmewburn/vscode-intelephense](https://github.com/bmewburn/vscode-intelephense) - vscode implementation
[marlonfan/coc-phpls](https://github.com/marlonfan/coc-phpls) - intelephense implementation for Vim plugin coc.nvim written in typescript
Hopefully it helps some of you php enthusiasts.

[2019-02-25 06:42] r-darwish opened #665 "mapcar: Symbol’s function definition is void: rest"
**Describe the bug**
LSP doesn't start. `*Messages*` shows:

[code]

**To Reproduce**
Start emacs and open a buffer

**Expected behavior**
LSP should work

**Which Language Server did you use**
Python and Rust

**OS**
Both Windows and Arch Linux

**Error callstack**
[code]

[2019-02-25 06:45] r-darwish commented on #665
If it helps, I changed `rest` to `cl-rest` in [this line](https://github.com/emacs-lsp/lsp-mode/commit/696295de214bdcb73fbabc9ed95095d6828cf7ad#diff-b1e9bc82c3b6bd6e95470e18ee41a19bR1608) and it seems to work.

[2019-02-25 06:50] #665 closed

[2019-02-25 06:51] yyoncho commented on #665
It seems like
[code]
does not work in some of the emacs versions. I changed the code to use cl-lib equivalent.

[2019-02-25 06:52] r-darwish commented on #665
Thanks. Could [this line](https://github.com/emacs-lsp/lsp-mode/blob/f8c75dde93b77993e0a44ef6e7bb0e71dca4a160/lsp-mode.el#L1064) be a problem as well?

[2019-02-25 06:55] yyoncho commented on #665
Yes, I will change the
[code]
to
[code]

... untill I manage to do the proper fix since we have to fix first -> cl-first, second -> cl-second.

[2019-02-25 07:00] yyoncho commented on #665
Using first/second is present in the code for a long time, I am not sure why the issue is reported now. - relevant commit in dap-mode https://github.com/yyoncho/dap-mode/commit/d7f79d019382936ef8618fd02bf5d5dbe169364f

[2019-02-25 08:26] dakra commented on #665
@yyoncho I just want to make a minor nitpick. I update my packages from git and like to look through the changes, but when I real "Fix #1234" as the only commit message, that doesn't tell me anything. So it's better to describe why you changed something.  The "Fix #1234" remark can be in the end of the message body.. A good read is http://chris.beams.io/posts/git-commit/

Thanks for all you work

[2019-02-25 08:57] testinggithub1222 opened #666 "How to set exec_path for lsp-mode?"
I found that we change manually specify our executable path of javascript or typescript for lsp to work but how about lsp for html and css, how can we manually specify its path?

Because I point my npm dir to somewhere else that normally people don't use and so lsp could not find executable for my lsp html. And i found that lsp use exec-path as default if no argument is provided. So, if my global

[2019-02-25 09:05] testinggithub1222 opened #667 "How to make lsp-mode to work in mix programming language?"
Imagine there is scenario that we have to write html mixing with php, css, plus javascript. So, my question is, how can we make lsp mode to work with all of these languages in a single file?

I think lsp-mode is nice because it automatically recognize which mode it is but when coming to this case, then what should i do? Should there is a function that allow user to switch or manually select mode (

[2019-02-25 16:19] yyoncho commented on #666
Sample code:
[code]

[2019-02-25 16:19] #666 closed

[2019-02-25 16:25] yyoncho commented on #667
AFAIK vscode supports that and we have to investigate it is how it is done. I doubt that web-mode will be of any help. Note that lsp-mode is just a client and all the smartness comes from the server. I hope that the solution they are using is not coupled to the VScode itself. We may take a look at the other premium lsp clients like Theia/Che/Monaco/Eclipse as well.

(cc @danielmartin if he had res

[2019-02-25 21:48] danielmartin commented on #667
I haven't investigated yet. How's that feature offered by VS Code? As far as I know, there's a PHP extension that does that, https://github.com/bmewburn/vscode-intelephense Is there anything else? Seems like for Emacs it could be a complex client created on top of `lsp-mode` and live in its own repo. It also needs special server support, as far as I can see.

[2019-02-26 05:39] yyoncho commented on #667
@danielmartin https://code.visualstudio.com/docs/languages/html this page claims that vscode supports embedded html and js.

Can you elaborate?

[2019-02-26 14:33] Khady opened #669 "error when lsp-trace is enabled"
**Describe the bug**

When `lsp-trace` is set to `t`, after every input in a buffer with lsp enabled, an error message is displayed:

[code]

This behavior goes away as soon as `lsp-trace` is switched back to `nil`.

**To Reproduce**

I have a file that contains very little content, let's name it `test.ml`.

[code]

Put the cursor anywhere in the file, input a character and look at the `*messages*

[2019-02-26 15:22] Khady commented on #669
I compiled emacs from git and it doesn't have this problem.

[code]

[2019-02-26 16:45] yyoncho commented on #669
I think that this commit should have fixed the issue: https://github.com/emacs-lsp/lsp-mode/commit/30ce309e7afa0004174b57ba198c1503b77c7840 please reopen if you can reproduce with latest lsp-mode.

[2019-02-26 16:45] #669 closed

[2019-02-26 18:13] seagle0128 commented on #629
I agree. I rewrote the lsp indicator for `doom-modeline`, and added a `rocket` icon. I hope lsp-mode is like a `rocket` to speed up the development :-)

![image](https://user-images.githubusercontent.com/140797/53436089-f0891b00-3a2c-11e9-81b4-4adf8f3f56d3.png)

[2019-02-26 18:37] yyoncho commented on #210
I will finish the work. With the help of @sebastiencs I found an issue in the current approach. After fixing that lsp-mode speeds up several times.

[2019-02-27 05:52] yangyingchao opened #670 "function`lsp--cur-file-version' not defined"
**Describe the bug**
   I'm using lsp-ccls. And when `lsp-rename` is invoked, it reports an error, saying function `lsp--cur-file-version` is not defined.
   This function is needed by `lsp--check-document-changes-version`, but function `lsp--cur-file-version` seems to be removed in earlier commit. I'm not sure....

**To Reproduce**

  1. setup emacs-ccls properly.
  2. Open a c file, move cursor

[2019-02-27 06:13] hlissner opened #671 "wrong-type-argument error from lsp--text-document-did-close when killing buffers"
**Describe the bug**
When `lsp-keep-workspace-alive` is nil, killing buffers in a project throws an error and fails to shut down the LSP server:

[code]

The full backtrace is below.

The error originates from the `hash-table-empty-p` call in `lsp--text-document-did-close`:

[code]

It seems to be expecting `lsp--workspace-buffers` to return a hash table, but it returns a list.

**To Reproduce**

[2019-02-27 06:55] #670 closed

[2019-02-27 06:55] #671 closed

[2019-02-27 15:35] Khady opened #673 "MarkupContent is considered as deprecated but shouldn't be"
**Describe the bug**

In `lsp--render-on-hover-content`, it is written that `MarkupContent` is deprecated. But the specification says the opposite. `MarkedString` is deprecated and `MarkupContent` is not.

https://github.com/emacs-lsp/lsp-mode/blob/e069cf80e57af70aae69209f6513d5ac2e4724c9/lsp-mode.el#L2648-L2668

https://microsoft.github.io/language-server-protocol/specification#textDocument_hover

[2019-02-27 16:46] Khady commented on #673
[code]

When ocamlmerlin-lsp returns a `MarkedString`, the markdown is properly rendered.

[2019-02-27 17:18] yyoncho commented on #673
It seems like gfm-view-mode cannot handle this string:

... fixes the issue in the eldoc buffer. Can you test and report back?

[2019-02-27 17:21] Khady commented on #673
Yep it helps with eldoc buffer. Not with lsp-ui frame.

[2019-02-27 17:24] yyoncho commented on #673
The rendering logic is not shared between lsp-ui and lsp-mode, so you should fix that in lsp-ui too. I am not sure whether this is a but in gfm-view-mode though.

[2019-02-27 17:29] Khady commented on #673
Maybe it's because of the language name after the first 3 backticks. I'll try again later.

[2019-02-27 18:47] yyoncho commented on #664
@Kazimazi seems like the server GH page has disappeared

[2019-02-27 19:37] Kazimazi commented on #664
whats going on is it being moved?

[2019-02-27 19:42] yyoncho commented on #664
Imo it is moved to a private repo

[2019-02-27 19:46] Kazimazi commented on #664
replaced dead links with new documentation repo

[2019-02-27 20:02] yyoncho commented on #664
This is some starting point for the integration:

[code]

[2019-02-27 21:39] hpdeifel opened #674 "Flymake diagnostics don't update"
**Describe the bug**
Flymake diagnostics are reported correctly for a few (just one?) edit operations and are not updated any more after further edits. Disabling and re-enabling `flymake-mode` fixes the problem for another edit and then it gets stuck again. This happens consistently for me in `rls` projects (I haven't tried other language servers).

Flycheck integration works fine. `eglot`'s flyma

[2019-02-28 04:26] Khady commented on #673
It doen't seem to be related :/

[2019-02-28 05:43] yyoncho commented on #674
I am unable to reproduce it with emacs27 . Which emacs version do you use?

Can you repro with using https://github.com/emacs-lsp/lsp-mode/blob/master/scripts/lsp-start-plain.el (you will have to manually install rust-mode or add it to the list of packages to install)?

[2019-02-28 08:27] Khady commented on #673
So the problem of empty buffer displayed by lsp-ui-doc is because of a race condition with eldoc. with `lsp-eldoc-render-all t` I never have the problem of empty buffer.

[2019-02-28 08:42] Khady commented on #673
Summary:

- There is a wrong comment saying that MarkupContent is deprecated. This is false. MarkedString is deprecated.
- When rendering in eldoc, gfm-view-mode can have problems. It doesn't seem critical to me but probably worth a mention somwhere.
- When both `lsp-eldoc-render-all` and `lsp-ui-doc` are enabled, there is a race condition that can make lsp-ui display an empty frame. This is not c

[2019-02-28 13:07] yyoncho commented on #673
1) and 2) are fine. Can you elaborate on 3).

[2019-02-28 13:19] Khady commented on #673
I don't know how to explain better. This is what is illustrated by my screenshots above. I observed that when lsp-ui-doc displays its frame, the content of the buffer in the frame is the same as the content of the minibuffer. So anything that prints to the minibuffer would also print in this lsp-ui-doc buffer and be displayed in the frame. And I have the impression that depending on the order lsp-

[2019-02-28 17:03] hpdeifel commented on #674
I'm on Emacs 26.

I can't reproduce the exact behavior with `lsp-start-plain.el`; no idea what's different between `emacs -Q` with manually loaded packages and this temporary elpa directory...

Anyway, it's still wonky. On small projects, it seems to work alright but on larger ones it exhibits similar but not quite the same behavior: Typing very fast sometimes leads to stale flymake diagnostics th

[2019-02-28 17:15] yyoncho commented on #674
I think that I might have found what might cause this behavour. Can you retest with this change, seems like it might fix your issue and report back to extend the solution with the proper cleanup:

[code]

[2019-02-28 19:45] yyoncho opened #676 "[Discussion] json dynamic module"
The performance bottleneck of `lsp-mode` is json parsing(50%+ of the time) and we already have a solution for Emacs 27+ via new native parsing. This PR is for tracking the discussion about solving this problem for emacs 25-26 with writing emacs dynamic module - https://www.gnu.org/software/emacs/manual/html_node/elisp/Dynamic-Modules.html .

We have some code in https://github.com/sebastiencs/emac

[2019-02-28 19:50] alanz commented on #676
It sounds like opening up a world of hurt, when we have to have a compiled module available on all the platforms that emacs supports.

Perhaps if it could be something that can be used if available, but falls back to the current one if needed.

And having some sort of wrapper executable that can talk s-exps on the one side and JSON-RPC on the other might provide a solution too.

[2019-02-28 20:01] yyoncho commented on #676
@alanz

That's the plan.

Yes, this is an option too - we could use a tool to convert the json to the s-exps and then use built-in `read-from-string` which is written in C and it is very fast.

(Haskell is also on the table via https://github.com/sergv/emacs-module )

[2019-02-28 20:41] yyoncho commented on #656
Closing as unable to repro - please reopen it if you can reproduce the issue with lsp-start-plain.el.

[2019-02-28 20:41] #656 closed

[2019-03-01 05:03] Khady opened #677 "lsp-lens-mode breaks end-of-visual-line"
**Describe the bug**

With lsp-lens-mode enabled, when at the start of a line that follows a lens, `end-of-visual-line` does nothing. The point is not moved at the end of the line. `end-of-line` doesn't have this issue.

**To Reproduce**

[code]

`M-x lsp-lens-mode RET M-g c 59 RET M-: (end-of-visual-line) RET`

![image](https://user-images.githubusercontent.com/974142/53617477-3ab1fe00-3bdf-11e9-

[2019-03-01 07:25] mscfd opened #678 "fortran language server arguments not called properly?"
If i use the fortran fortls language server and I try to pass arguments via lsp-clients-fortls-args, then fortls is invoked in such a way that it cannot parse the arguments properly.

My emacs setup contains the following code to set argument list to the fortls language server:

[code]
If I check sys.argv on the fortls.py part, then I get

```["fortls --variable_hover --lowercase_intrinsics"]```

[2019-03-01 07:32] yyoncho commented on #678
Please split each of the arguments in a separate string, e. g.

[code]

[2019-03-01 07:39] mscfd commented on #678
Thanks, that works. I already saw that I misinterpreted the output 'Command "fortls ..."' line in "*lsp-log*" and indeed, fortls had ```argv = ["fortls, "--variable_hover --lowercase_intrinsics"]```.
Anyway, thanks again!

[2019-03-01 07:40] #678 closed

[2019-03-01 07:50] yyoncho commented on #677
It does not work only if you place the cursor at first char of the line. Here it is minimal code to reproduce the issue:

1. M-x eval-defun when placed on the opening bracket.
2. M-x end-of-visual-line - FAIL.

[code]

This behaviour is either a emacs bug or the expected behavour when there is overlay with before-string set which contains \n.

(CC @Eli-Zaretskii)

[2019-03-01 20:31] danielmartin commented on #676
What are the pros and cons of each option? What tool do you have in mind to convert between JSON to sexps? Is there anything already available? What's the benefit of using Haskell for this instead of C++/Rust?

[2019-03-01 20:41] hpdeifel commented on #674
Alright, that took some debugging. There are three independent problems that interact in this bug:

1. Your fix in `lsp--flymake-after-diagnostics` is necessary but could be expanded a bit: Currently in lsp-mode, Flymake triggers `lsp--flymake-backend`, which updates flymake diagnostics. Updates from the LS only save diagnostics until flymake calls the backend function again. In eglot, it's the ot

[2019-03-01 20:42] yyoncho commented on #676
@danielmartin

We need to investigate what will work best given the present limitations. E. g. if we cannot do fast conversion to Elisp structures in emacs dynamic module then we may try the intermediate conversion to s-exps.

I am not aware of such tool. We may write a command line tool or dynamic module which converts the jsons to serializes elisp data structures .

I added it for completenes. I

[2019-03-02 08:03] dfszb opened #682 "lsp-mode error on startup: Symbol’s function definition is void: nilp"
**Describe the bug**
With latest lsp (03/02/2019), obtained after emacs package upgrade, lsp cannot be used (error on start:
Symbol’s function definition is void: nilp).

**To Reproduce**
open a .c or .cpp file

**Expected behavior**
lsp would load without error.

**Which Language Server did you use**
lsp-ccls

**OS**
(Arch) Linux

**Error callstack**
[code]

[2019-03-02 08:33] #682 closed

[2019-03-02 08:36] yyoncho commented on #682
@vibhavp I was unable to find the source of `nilp` switched  `null`.

[2019-03-02 10:22] Eli-Zaretskii commented on #677
Lisp programs that futz with overlay strings with embedded newlines and then move visually should be prepared to deal with potential trouble.  In this case, when you are at the beginning of the line, are you before the before-string or after it?  If before, then the visual line ends at the newline embedded in the overlay string, right?

I made a change on the master branch to handle this case, hop

[2019-03-02 12:16] mackong opened #683 "lsp--locations-to-xref-items: Symbol’s function definition is void: seq-first"
after upgrade lsp-mode to latest version(03/02/2019), when call **xref-find-def**, the error is occured

  seq-first((#<hash-table equal 2/65 0x180d5d9>))
  lsp--locations-to-xref-items((#<hash-table equal 2/65 0x180d5d9>))

[dash](https://github.com/magnars/dash.el) is already upgrade to latest version (21/02/2019).

[2019-03-02 12:29] yyoncho commented on #683
@vibhavp - apparently seq-first is added in emacs 27, so we need to fix that.

[2019-03-02 12:30] yyoncho commented on #683
@mackong

You could define it by doing:
[code]

[2019-03-02 12:44] #683 closed

[2019-03-02 18:52] #674 closed

[2019-03-02 18:55] yyoncho commented on #677
@Eli-Zaretskii

I guess this was the problem.

Closing based on the previous comment.

[2019-03-02 18:55] #677 closed

[2019-03-02 20:04] hpdeifel opened #685 "shutdown is send as notification instead of as request"
**Describe the bug**
Trying to call `lsp-shutdown-workspace` on `rls` projects results in an error with `lsp-unknown-message-type`.

This is what happens:

1. lsp-mode sends `shutdown` as a notification
2. rls is strict about the spec and doesn't accept this. It responds with an error.
3. This error is not the reply to a request (because there is no request to reply to) but also a notification.
4.

[2019-03-02 20:35] yyoncho commented on #685
See also https://github.com/emacs-lsp/lsp-mode/issues/14 - we are currently not matching the spec. Willing to provide a PR?

[2019-03-02 21:47] bradprob opened #686 "Symbol’s function definition is void: lsp-uri-to-path"
Executing `lsp-find-definition` on a function returns `Symbol’s function definition is void: lsp-uri-to-path` without any action (it does not go to the function definition).
The language server protocol is ccls.

[2019-03-02 21:50] yyoncho commented on #686
Already fixed https://github.com/emacs-lsp/lsp-mode/commit/ad737317eeac68e7b4e1efb00f0ac3b0da8730d3

[2019-03-02 21:50] #686 closed

[2019-03-03 11:17] qhuyduong opened #688 "Unknown method: client/registerCapability"
**Describe the bug**
I'm trying to use https://github.com/jaredly/reason-language-server for reason-mode.
When starting lsp-mode, this warning's printed out all the time.

**To Reproduce**
Add this code to Emacs's `init.el`
[code]

**Expected behavior**
Don't see the warning

**Which Language Server did you use**
https://github.com/jaredly/reason-language-server

**OS**
Mac OS 10.14

[2019-03-03 12:31] hpdeifel commented on #685
I can make a PR.

The whole jsonrpc handling in lsp-mode seems to be quite ad-hoc. Are there any plans to move to the jsonrpc library built into the latest Emacs?

[2019-03-03 13:27] yyoncho commented on #685
Can you share what are your concerns?

`lsp-mode` rpc layer is a bit different from jsonrcp one since it allows talking to many servers at the same time. From a historical perspective, we gradually moved from being able to call one server to being able to call multiple servers while we preserved the same interface which resulted in not so fluent code. So, at this point, even if we move to jsonrpc

[2019-03-03 14:27] yyoncho commented on #688
The issue is in the server not providing request id:

From the LSP spec:

From the JSONRPC:

The actual message:

[code]

You may do the registration in the following way to avoid the spam until the server is fixed:

[code]

[2019-03-03 14:27] #688 closed

[2019-03-03 18:36] qhuyduong commented on #688
Awesome @yyoncho . Many thanks!

[2019-03-03 21:45] hpdeifel commented on #685
In hindsight it's probably fine. I was referring to `lsp--get-message-type` and `lsp--parser-on-message`, which pass jsonrpc messages around in the form of hash-tables, testing and using keys as they are needed. I would have expected that the message is at some point converted into a structured type, but maybe I'm just too used to statically typed languages.

If I understand correctly, using a C/R

[2019-03-03 21:50] #685 closed

[2019-03-03 21:51] yyoncho commented on #14
It seems like we are ok after https://github.com/emacs-lsp/lsp-mode/pull/689 .

[2019-03-03 21:51] #14 closed

[2019-03-03 22:08] yyoncho commented on #685
We may write something like that in the future, but yeah, it will be an improvement over the planned improvements.

Thanks for the link, I was really looking for something like that! Good to know that it is possible.

[2019-03-04 07:15] yyoncho commented on #676
There is an article on how to write a async dynamic module by @skeeto - https://nullprogram.com/blog/2017/02/14/ .

[2019-03-04 14:26] hpdeifel opened #690 "ccls: "expected array for /context/diagnostics[0]/relatedInformation""
**Describe the bug**
ccls complains that `/context/diagnostics[0]/relatedInformation` in the `document/codeAction` request is not an array. ccls originally sends `[]` in the diagnostics and this somehow gets transformed to `null` when echoed back to the server.

**To Reproduce**
Go to a line with diagnostics and code actions in a ccls-project buffer.

**Which Language Server did you use**
ccls mas

[2019-03-04 15:53] yyoncho commented on #690
Duplicate of https://github.com/emacs-lsp/lsp-mode/issues/395 will be fixed with https://github.com/emacs-lsp/lsp-mode/issues/210

[2019-03-04 15:53] #690 closed

[2019-03-04 18:03] yyoncho commented on #690
@hpdeifel PR at https://github.com/emacs-lsp/lsp-mode/pull/691 . I will appreciate help with testing the PR .

[2019-03-05 04:52] cireu commented on #676
Will it be possible to port Emacs 27's [json.c](https://github.com/emacs-mirror/emacs/blob/master/src/json.c) to dynamic module in a simple way?

[2019-03-05 16:47] yyoncho commented on #676
@cireu - it is an option too - IMO the main problem is how to convert effectively the parsed structure to elisp data structure and we cannot use json.c code for that since it has access to the internal emacs api(e. g. it can call the methods directly).

There is also: https://github.com/syohex/emacs-parson (which I havent had a chance to test).

[2019-03-06 05:49] yyoncho commented on #676
I found the following post by @Alexander-Miller : https://www.reddit.com/r/emacs/comments/8plc1c/a_recipe_for_creating_parallel_futures_using/

It shows how to do async processing in emacs module which seems like exactly what we want to do.

[2019-03-06 12:01] fjl opened #692 "Initial imenu update can be slow / hangs emacs"
**Describe the bug**

When I switch to a buffer with lsp-mode for the first time (a Go buffer in my case), imenu requests
the index from lsp-mode. Getting the index can take time and emacs hangs because it's waiting for an LSP RPC during redisplay.

Profile:

[code]

**To Reproduce**

Switch to a buffer with many functions defined.

**Expected behavior**

I'd expect the buffer switch to be instant

[2019-03-06 12:28] Alexander-Miller commented on #676
I haven't done any real performance testing with this thing, so you should be careful with that. One basic optimization I can think of is not to spawn a new elisp thread for every call that is being made. By the way have you tried async.el for non-blocking parsing? This seems like the kind of use-case it'd be well suited for.

IME a native module will do you little good if you're constantly callin

[2019-03-06 14:25] joncarr opened #693 "Out of the box support for Kotlin Language Server"
Out of the box LSP support for Kotlin. Eglot uses the following:

https://github.com/fwcd/KotlinLanguageServer

Would be great to have with lsp-mode!

[2019-03-06 18:25] yyoncho commented on #692
From what I can see I menu does not support async calls and we have to trick it somehow. As a temporary workaround you may disable the toolbar integration(I suspect that you are not using it).

[2019-03-06 18:30] yyoncho commented on #676
@Alexander-Miller thank you for jumping in.

We need non-blocking and fast(fast is more important). Correct me if I am wrong but if we delegate the parsing to emacs-async process this will slow down the parsing.

Thanks for the info. We still need to benchmark such code vs json.el parsing but it seems like it may not result in the needed speedup.

[2019-03-06 21:43] emosesPatreon opened #694 "python-langauge-server: xref-find-definition goes to import statement"
**Describe the bug**
As of the latest version of Microsoft's `python-languge-server`, when I execute `xref-find-defintions` on a function or class, it jumps to the `import` statement in the same file.  If I execute it again (on the import statement), it follows to the definition.

**To Reproduce**
*a.py:*
[code]

*b.py*
[code]

If I execute xref-find-definitions here in a.py (`|` is the point)
[co

[2019-03-07 03:29] qhuyduong opened #695 "Linter errors is not shown with Solargraph"
**Describe the bug**
I have enabled lsp-mode and lsp-ui in enh-ruby-mode. The server has started successfully. However linter is not working as I cannot see any warning/error in flycheck. Did I miss something?

**To Reproduce**
1. Enable lsp-mode in enh-ruby-mode
2. Don't see any warning/error in flycheck

**Expected behavior**
See warning/error in flycheck

**Which Language Server did you use**
S

[2019-03-07 05:20] yyoncho commented on #694
lsp-mode does what the server is returning, you may verify that by setting `(setq lsp-print-io t)` and then inspecting \*lsp-log\* buffer(look for textDocument/definition and then the response with that same ID). After that, you may follow up with reopening this bug in case you believe that lsp-mode is doing smt wrong or filing a bug in mspyls repo in case you believe that the server is returning

[2019-03-07 05:20] #694 closed

[2019-03-07 05:23] yyoncho commented on #693
@joncarr willing to try to provide a pr? Here it is a sample server registration where "pyls" is the path to the binary you want to use which should be either string or list of strings in case there are multiple arguments?

[code]

[2019-03-07 05:41] yyoncho commented on #695
Based on the description here the diagnostics are not enabled by default - https://github.com/castwide/vscode-solargraph . I played a little bit with the settings but couldn't make it work. I will come back to the issue later today or this week.

You may find the full list of the settings in package.json( here it is the sample code, you may try to debug why solargraph is not picking this setting).

[2019-03-07 06:12] Khady opened #696 "Highlight should be removed when server crashes"
**Describe the bug**

When words are highlighted after hover, those highlights stays until the next hover. If the server crashes, those highlights stays forever.

**To Reproduce**

- hover over a value that produces a highlight
- kill the server from outside of emacs
- accept the restart of the server in emacs
- hover over another value

**Expected behavior**

highlights should be removed when the

[2019-03-07 06:38] qhuyduong commented on #695
@yyoncho It should just be `:diagnostics t`. I created a PR BTW.

[2019-03-07 11:04] joncarr commented on #693
Sure, I'll give it a go. Going to have find a good path to default the language server to. As far as I know it's not available in linux package repos. I'll have to see if it's available on Homebrew somehow (I don't own a Mac). Same with windows. Since it's built from source with gradle, weight need to provide a variable to set the users chosen path for the client. I'll have a look a bit later toda

[2019-03-07 11:32] yyoncho commented on #693
You may use vscode marketplace as a source for the language server if it is not available somewhere.

[2019-03-07 12:30] Alexander-Miller commented on #676
It's non-blocking, but it won't be faster - you still have the launch and marshal overhead from the secondary emacs process.

You're probably better off transforming the json into sexps. Also depending on the same of the responses you might be better off deserializing into hash tables instead of alists. The cut-off point for the former being faster is at about 20 elements.

[2019-03-08 15:23] seelabs opened #698 "Toggling lsp-ui-sideline-mode to off does not disable all sideline messages"
**Describe the bug**
After toggling `lsp-ui-sideline-mode` to off I expect all sideline messages to be disabled. However, messages such as `FixIt: expected ';' at end of declaration` still appear. Other sideline message _do_ appear to be disabled.

**To Reproduce**
Steps to reproduce the behavior:
I am using spacemacs, and setup my c-c++ layer with the 'lsp-cquery backend.
1) Open a C++ file, with

[2019-03-08 19:23] #698 closed

[2019-03-09 16:48] seelabs commented on #698
I confirmed that the patch in https://github.com/emacs-lsp/lsp-ui/commit/0454c478ee9b8a4968fbd1582cea750f63b6872f fixes this issue for me. Thank you so much!

[2019-03-10 06:02] yyoncho commented on #636
I have tested dart language server with this PR https://github.com/emacs-lsp/lsp-mode/pull/691 and with latest company-lsp + the following settings:

[code]

... and it feels much faster even with json.el, the slowdown is pretty much unnoticeable (it is better with Emacs 27 Native Json parsing). Can you retest?

[2019-03-10 09:12] joncarr commented on #693
I'm not exactly sure what to do with the `workspace/configuration` warning I am getting when kotlin language server starts.  I tried looking at the other client registrations but the only one that appeared to be sending any configuration settings was `pyls`.  I don't think the people responsible for `kotlin-language-server` have even implemented `workspace/configuration` method as implied by their

[2019-03-10 10:01] yyoncho commented on #693
I have misled you - it seems like `workspace/configuration` is part of the spec and it is not kotlin extension method thus it should be implemented by lsp-mode itself. Feel free to do a PR with the current configuration and open a bug about the warning and we will work on fixing it.

[2019-03-10 10:39] joncarr commented on #693
No problem, I think I'll remove the `:request-handler` section since it isn't currently required and submit the PR for the language configuration.

[2019-03-10 12:22] joncarr opened #700 ""workspace/configuration" request method"
**Describe the bug**
As of LSP 3.6, [workspace/configuration](https://microsoft.github.io/language-server-protocol/specification#workspace_configuration) has become part of the spec and currently is not supported by emacs-lsp

**To Reproduce**
I have only received this error when in kotlin-mode.  When starting a new project, I receive the warning:
`Warning (lsp-mode): Unknown request method: works

[2019-03-10 13:59] joncarr commented on #629
Any ideas as to what you would like the logo to express?  How do you plan on using the logo and where would this logo be displayed?

[2019-03-10 14:16] yyoncho commented on #629
In the readme page, profile picture for the organization, twitter account(and similar).

Here are some examples:
https://github.com/magit/magit
https://gitter.im/syl20bnr/spacemacs
https://github.com/clojure-emacs/cider

[2019-03-10 14:23] joncarr commented on #629
Would you like the text (if used in the logo) to say "Emacs-LSP" "lsp-mode" or something similar?  Sorry for all the questions, just trying to get the details....perhaps gitter is a better place for this conversation?

[2019-03-10 14:23] yyoncho commented on #629
(forgot to answer this question).
My personal opinion is that it should be expressing that `lsp-mode`(+related) brings IDE experience to Emacs - "IDE for power users" other contributors might have different ideas though.

[2019-03-10 14:27] yyoncho commented on #629
@joncarr lets move the discussion in gitter, then we can summarize it here.

[2019-03-10 15:13] cireu commented on #210
Some users test that 27's native json parsing is not as fast as expect

https://emacs-china.org/t/emacs27/8721/34

twlz0ne have a benchmark on parsing a 20 lines json file. It seems that native json parsing just a little faster than json.el

https://emacs-china.org/t/emacs27/8721/39

netjune test with 1000 line json file. It also shows that native json parser doesn't have overwhelming speed advant

[2019-03-10 15:24] Kazimazi commented on #664
@yyoncho could you run the ls with those options?

[2019-03-10 17:10] yyoncho commented on #210
@cireu I agree with these performance measurements. Here it is how I have compared the performance of both:

[code]

and then I have performed `elp-instrument-package`. Then, when testing with smaller responses I see no difference(and also the performance of lsp-mode is good enough). The real benefit is when the responses are huge like https://github.com/emacs-lsp/lsp-mode/issues/636 which return

[2019-03-10 17:31] astenman commented on #664
I am usesing the following setting:

`(setq lsp-clients-php-iph-server-command `("intelephense" "--stdio"))
(lsp-register-client
 (make-lsp-client :new-connection (lsp-stdio-connection lsp-clients-php-iph-server-command)
                  :major-modes '(php-mode)
                  :priority -1
                  :ignore-messages '("indexing\\(Started\\|Ended\\)")
                  :server-id 'iph))

[2019-03-10 17:34] yyoncho commented on #664
Yes, it works fine, what is happening on your side?

[2019-03-10 18:08] Kazimazi commented on #664
@yyoncho server instantly exits. In my stderr buffer I had this:

[code]

[2019-03-10 18:19] astenman commented on #664
I think you need to edit the /usr/bin/intelephense script if you haven't done that already. There is a bug in the script.

https://github.com/bmewburn/intelephense-docs/issues/4

[2019-03-10 18:25] Kazimazi commented on #664
@astenman thank you, that was the issue

[2019-03-10 18:32] #693 closed

[2019-03-10 18:49] yyoncho commented on #210
@cireu
Forgot to mention that native serialization performs much better when I am using emacs -q and loading lsp-mode (I am using spacemacs and it attaches some handlers to kill buffer).

[code]

[2019-03-10 18:59] yyoncho commented on #664
@astenman @Kazimazi I suspect that this server requires more configuration, so if someone could compare the behaviour of the server in vscode and in emacs and post the client/server communication in vscode it will be very helpfull for lsp-mode team to do the required adjustments.

[2019-03-10 19:26] yyoncho commented on #664
CC some PHP lsp users in case they want to test this PHP server(looks better than the default one) so we could eventually register it with higher priority (sorry for the spam if you are not interested).

@fuco1 @tomterl @gjm

[2019-03-11 18:59] joncarr commented on #629
Here is an idea I had.  The dots off to the left represent the many clients/languages emacs-lsp supports, all of which being channeled into a a single interface which is representative of emacs-lsp itself.  Criticisms/thoughts/ideas/moans/groans all welcome

![lsp-mode_001](https://user-images.githubusercontent.com/564071/54149881-35d22300-4405-11e9-9051-1e8980c28a40.png)

[2019-03-11 23:23] joncarr commented on #629
![emacs_lsp_banner](https://user-images.githubusercontent.com/564071/54164442-a475a780-442a-11e9-951e-e7c767369451.png)
![emacs_lsp_core_banner](https://user-images.githubusercontent.com/564071/54164443-a475a780-442a-11e9-9a71-278172cc5363.png)
![emacs_lsp_debugger_banner](https://user-images.githubusercontent.com/564071/54164444-a475a780-442a-11e9-9f86-ab3fddca5b63.png)
![emacs_lsp_ide_banner](ht

[2019-03-11 23:24] joncarr commented on #629
See Archive at bottom of last comment `emacs-lsp-source.zip`

[2019-03-12 19:03] yyoncho opened #702 "Add test coverage report"
This will help to track which parts of the code are covered by the tests.

Links:

https://coveralls.io/
https://codecov.io/

[2019-03-12 21:52] axelson commented on #167
Is there an example of setting configuration when you run with only `use-package` instead of a custom plugin that calls `lsp-register-client`?

[2019-03-13 05:57] yyoncho commented on #167
@axelson the best option is to extend the language server configuration that you want to use in lsp-clients.el to expose these options as a defcustom and then you could customize them in use-package. You may take a look at lsp-clients.el (go lang server in particular).

You may register a function or the language server settings your language server using lsp-mode internal api but the approach wit

[2019-03-13 06:04] yyoncho commented on #629
@vibhavp what do you think about using this https://user-images.githubusercontent.com/564071/54164464-b8b9a480-442a-11e9-84a0-2513004cad73.png for organization header and this one for startup page: https://user-images.githubusercontent.com/564071/54164442-a475a780-442a-11e9-951e-e7c767369451.png

[2019-03-13 06:24] Khady opened #704 "[Feature request] add lsp-flymake-live-reporting setting"
When using flymake to reports errors, there is no analougous to `lsp-ui-flycheck-live-reporting`. It means that it will be triggered every time a diagnostic is received, which can be basically after every edit. It would be nice to have a way to control when flymake runs, for example only on save.

cc @hpdeifel who authored the current flymake system.

[2019-03-13 08:22] qhuyduong opened #705 "Solargraph text completion doesn't work properly"
**Describe the bug**
I'm testing text completion with Solargraph. It's not working properly, especially in project completion.
Here is the example response from server
[code]

**To Reproduce**
Trying completion within Ruby file

**Expected behavior**
It should work

**Which Language Server did you use**
Solargraph

**OS**
Mac OSX 10.14

[2019-03-13 08:28] hpdeifel commented on #704
I have already agreed to implement this, so you can assign me if you want.

That said, this flag would have to come with a big warning because it can lead to unexpected/buggy behaviour. In particular, if we let flymake decide when to update diagnostics, the following sequence of events becomes possible (and happened a lot to me before I implemented my commit):

1. A buffer is opened, changed, save

[2019-03-13 08:39] yyoncho commented on #704
I am unable to assign the issue to you.

We might have a different approach similar to what we do for lenses:

1. Introduce some backoff when reporting errors, e. g. errors reported, schedule reporting after N seconds but first cancel the report if it is already pending
2. Save buffer displays what we currently have.

This approach will cover your concern.

[2019-03-13 08:54] qhuyduong commented on #705
It's working normally under VS Code with the same setup

[2019-03-13 09:02] Khady commented on #704
hmm then it's maybe better not to implement this. It's more work for you, more code to maintain and a feature that is very brittle. It's probably better to rely on the server publishing diagnostic only on save, as you suggested on gitter.

[2019-03-13 16:42] hpdeifel commented on #704
@Khady: Note that by "always" I meant always in the described setting (i.e. when the LS is slower than the flymake idle timer).

Something like @yyoncho describes would be possible, but it would still be lsp-mode that decides when to show diagnostics, not flymake. Also, I believe the idea to show what we have on save is still not great UX, since diagnostics could be outdated on save, which means t

[2019-03-13 17:10] yyoncho commented on #704
I think it is for performance: https://www.reddit.com/r/emacs/comments/azruai/how_to_improve_emacs_performances/

[2019-03-13 17:37] mrbig033 opened #706 "LSP :: Classpath is incomplete. Only syntax errors will be reported"
#### Runtime Environment

- MX Linux 18
- GNU Emacs 27.0.50
- Evil version 1.2.14
- [.emacs.d](https://github.com/mrbig033/dotfiles/tree/master/emacs/emacs_default)
- [packages](https://github.com/mrbig033/dotfiles/blob/master/emacs/emacs_default/packs.el)
- lsp-java 20190311.1710

#### Issue

How can I set a classpath variable in a way that Emacs "sees" it? I tried

`CLASSPATH=.:/usr/local/fubar/

[2019-03-13 18:09] dennismayr commented on #641
It happened to me with `lsp` for `javascript` and `go`.

`(setq lsp-restart 'auto-restart)` works, too, and it may prevent disconnection while working under high cpu-loads.

[2019-03-13 18:26] yyoncho commented on #706
The .project file should be matching the eclipse project file specification - see https://help.eclipse.org/luna/index.jsp?topic=%2Forg.eclipse.platform.doc.isv%2Freference%2Fmisc%2Fproject_description_file.html . I would recommend you to create a simple maven/gradle project and use it, e. g. using https://maven.apache.org/archetypes/maven-archetype-quickstart/ and then import the root folder conta

[2019-03-13 18:26] #706 closed

[2019-03-13 18:31] yyoncho commented on #705
I tried to reproduce with a clean config using https://github.com/emacs-lsp/lsp-mode/blob/master/scripts/lsp-start-plain.el using the following command:

[code]

Please reopen if you are able to reproduce it with that config.

[2019-03-13 18:31] #705 closed

[2019-03-13 18:47] yyoncho commented on #639
I think that this was fixed by @hpdeifel in https://github.com/emacs-lsp/lsp-mode/commit/72b567d6f737b14e37bab2438d37bddb60c47fa9 , please reopen if it happens again.

[2019-03-13 18:47] #639 closed

[2019-03-13 19:12] mrbig033 commented on #706
Okay, this way more complicated than I thought. I don't need this for now, gonna stick with Eclim for a while. Thanks.

[2019-03-13 20:40] axelson commented on #167
@yyoncho okay, thanks. I'll give that a shot.

[2019-03-13 21:30] Khady commented on #704
Main motivation is more about UX actually. Maybe I have wrong habits, but I tend to have invalid code fairly often. It’s a bit distracting to have plenty of errors in a situation I know is wrong. Sometimes it is about performance, as it can make typing not smooth.

But thanks to your answers, I get the rational of the situation better. And maybe I should adapt the way I write code to enjoy the too

[2019-03-14 07:46] yyoncho commented on #704
@hpdeifel we may fix the issue you have described in https://github.com/emacs-lsp/lsp-mode/issues/704#issuecomment-472325832 by introducing the rule: if buffer is saved report the errors immediately.

[2019-03-14 16:30] #210 closed

[2019-03-14 16:30] #395 closed

[2019-03-14 16:32] yyoncho commented on #636
#691 is in, please retest with instructions from https://github.com/emacs-lsp/lsp-mode/issues/636#issuecomment-471250145

[2019-03-14 16:32] #636 closed

[2019-03-14 16:56] #331 closed

[2019-03-15 07:33] jumper047 opened #711 "args-out-of-range errors while browsing python code"
**Describe the bug**
Error messages appear in minibuffer when i put cursor on function/method.

**To Reproduce**
Put cursor at the end of second string.
'''
from collections import namedtuple
IndexEntry = namedtuple("indexEntry", ["time", "offset"])
'''

**Expected behavior**
No errors in minibuffer.

**Which Language Server did you use**
Microsoft python language server with package ms-python fro

[2019-03-15 08:51] yyoncho commented on #711
Temporary workaround until the issue if fixed:
[code]

[2019-03-15 09:12] #711 closed

[2019-03-15 14:00] vibhavp commented on #629
Yeah, both look great.

[2019-03-15 16:58] seagle0128 opened #712 "wrong-type-argument error while reverting buffers"
I got this error while reverting buffers (actually after `magit-discard`). My env is GNU Emacs 26.1 on macOS Mojave.

[code]

[2019-03-15 18:48] yyoncho commented on #712
I see what is causing the issue, but I cannot reproduce it. Are you able to reproduce it consistently?

[2019-03-15 19:00] seagle0128 commented on #712
Not 100%, but encountered a few times. Maybe 30%, I guess. I also cannot reproduce it always.

[2019-03-15 19:07] #712 closed

[2019-03-15 19:07] yyoncho commented on #712
I have pushed https://github.com/emacs-lsp/lsp-mode/commit/42adb791ee9b2580faa4ebc8a6d541c3ea8420af , it should fix the issue, please report back if it happens again.

[2019-03-15 19:12] seagle0128 commented on #712
Thank you for quick fixing!

[2019-03-15 21:01] hpdeifel opened #713 "File watches are created over-zealously"
It seems that lsp-mode now creates file-watches for *all the things* in the projects root directory, which uses up resources and isn't always needed. For example, `rls` registers delete/change/create watchers explicitly only for `Cargo.lock`, `Cargo.toml` plus a deletion watcher for the `target/` directory. Instead of creating only three file watches, `lsp-mode` decides to recursively watch files

[2019-03-15 22:17] yyoncho commented on #713
I agree that it is not the optimal solution, but at this point, this is the simplest solution having in mind that the language servers that are running in the folder are not defined and it is not trivial to deduplicate the paths. e. g. jdt-ls and boot-ls combined run watch 10+ file patterns and most of them are like `**/*.java` `src/main/**`. Also, they could unregister/register a file watch at an

[2019-03-15 23:47] trivialfis opened #714 "Wrong type argument on opening new file"
**Describe the bug**
When opening a new file, LSP reports wrong type argument error.  Please see the long trace attached at the end.

**To Reproduce**
Open a c++ file with cquery enabled.

**Which Language Server did you use**
cquery

ccls works fine with lsp-mode, this issue is specific to cquery, which is of version 20190118.542.

**OS**
Ubunbu 18.04.1

**Error callstack**

[code]

[2019-03-16 05:21] yyoncho commented on #714
cquery emacs adapter has to be fixed to work with vectors, can you file that bug in emacs cquery project?

To temporary workaround the issue until cquery is fixed you can set `lsp-json-use-lists` to t.

[2019-03-16 05:21] #714 closed

[2019-03-16 05:32] raxod502 opened #715 "mccabe configuration is not respected"
**Describe the bug**
Changing settings in `lsp-clients-python-settings` does not affect the operation of `mccabe`.

**To Reproduce**
Open any Python file which has a function whose cyclomatic complexity is greater than 15. Here is an example:

<details>
<summary>Click to expand code</summary>
<p>

[code]

</details>

Set up `lsp-mode` with `pyls` and enable `lsp-ui` with Flycheck.

**Expected beha

[2019-03-16 05:52] yyoncho commented on #715
Apparently, the proper way to do that is

[code]

And the default configuration is wrong... Are you interested in helping to fix that?

(cc @cslux)

[2019-03-16 05:59] yyoncho commented on #715
Here it is a link to the lsp-java https://github.com/emacs-lsp/lsp-java/blob/master/lsp-java.el#L231 . We probably need to define a macro which simplifies that job, something like:

[code]

[2019-03-16 10:28] hpdeifel commented on #713
I agree that creating only the required watches is a hard problem.

Does that also ignore deletion events for the folder itself? Because that would be one of the three things that `rls` explicitly watches.

[2019-03-16 11:01] yyoncho commented on #713
The deletion events comes from the parent folder so it is fine to ignore the folder itself. I will fix the deletion event today, so you may ignore it.

[2019-03-16 12:02] cslux commented on #715
@yyoncho I can give it a shot!

I did not notice it the last time, because I customized mccab, etc.. through setup.cfg and tox.ini.

[2019-03-16 16:22] yyoncho commented on #715
@cslux sure, go ahead.

[2019-03-16 19:05] yyoncho commented on #713
I have pushed https://github.com/emacs-lsp/lsp-mode/commit/1f7e807d27e6b3e41f3a51b3d509a555d2692b34 which fixes the `directory-files-recursively` issue and I have documented the "Limitations" in the README page. I am not planning to address the issue related to optimizing the watches since it will become irrelevant if, for example, RLS starts to monitor **.rs files.

[2019-03-16 20:24] vibhavp opened #717 "Fully support thingatpt.el for folding ranges."

[2019-03-17 09:03] #588 closed

[2019-03-17 15:35] Kazimazi commented on #664
I've been using it in the last couple of days and I'm really satisfied with the outcome. I couldn't spot any differences compared to vscode or nvim implementation. Closing.

[2019-03-17 15:51] yyoncho commented on #664
we still need to be included in lsp-clients.el and documented in the README.org

[2019-03-18 11:12] Nethin opened #720 "company-lsp + clangd not working."
**Describe the bug**
company-lsp can't complete with prefix, while use clangd as LSP server.

**To Reproduce**
1. load company-lsp use lsp-mode's lsp-auto-configure as default. (company-lsp has add into company-backends by lsp-mode).
2. use lsp-mode's default clangd code and configure clangd some start argument("-compile-commands-dir=/data/home/nethinwei/src/lua-5.3.4/" "-pch-storage=memory -log=v

[2019-03-18 11:21] yyoncho commented on #720
Duplicate of https://github.com/tigersoldier/company-lsp/issues/92 ?

[2019-03-18 11:28] Nethin commented on #720
i have try company-lsp with M-x,still not work and reply the same message. it may course by the same problem.

[2019-03-18 11:29] Nethin commented on #720
i will update it later.

[2019-03-18 11:30] yyoncho commented on #720
Which version of company-lsp do you use?
(cc @tigersoldier )

[2019-03-18 12:09] Nethin commented on #720
i update 20190314.710 from melpa, then it works great. thanks~.

[2019-03-18 12:09] #720 closed

[2019-03-19 13:24] Linuus opened #721 "Emacs freezes for several seconds"
This might be a bit vague but perhaps someone can help me anyway. I'm not sure how to

**Describe the bug**
Emacs freezes for several seconds when typing. I _think_ it's waiting for completion data for company.

**To Reproduce**
Steps to reproduce the behavior:
I just type in a Ruby buffer and it freezes.

**Expected behavior**
I expect it to not freeze :)

**Which Language Server did you use**
So

[2019-03-19 13:27] yyoncho commented on #721
Can you try with company-lsp instead of company-capf which is sync at this point? Also, you may set lsp-print-performance to t and then inspect the data in lsp-log.

[2019-03-19 13:35] Linuus commented on #721
@yyoncho Oh...I thought I had company-lsp.

This is the config for lsp-mode I have:

[code]

Do I have to do something else to activate company-lsp?

[2019-03-19 13:37] yyoncho commented on #721
This should be sufficient.

[2019-03-19 13:47] Linuus commented on #721
I just did `(setq lsp-print-performance t)` and the issues went away... Set it to `nil` again and it's still fast. Super weird.

I'm going to keep using it for the rest of the day here and see if it slows down again.

[2019-03-19 13:50] yyoncho commented on #721
@Linuus IMO company-lsp was not present at the time you have called `lsp` thus it was using company-capf.

Probably the issue is that you should have:

(use-package company-lsp :commands company-lsp :ensure t)

[2019-03-19 14:09] Linuus commented on #721
@yyoncho You are probably right. I'll try that and will reopen this issue if the problems comes back.

Thank you for the help!

[2019-03-20 06:15] pcr910303 opened #724 "Point moves to sideline"
**Describe the bug**
The point moves to sideline and text is input there.

**To Reproduce**
Open a new cpp file(with clangd as lsp server). Type in `#include <io`.
Wait for a while. Type in `st`. `st` is input(first) after the sideline, and moved after some delay

**Expected behavior**
`st` should be input in place, not in sideline

**Which Language Server did you use**
clangd

**OS**
macOS

![out

[2019-03-20 06:19] yyoncho commented on #724
(cc @sebastiencs )

[2019-03-20 09:46] Linuus commented on #721
This just started happening today again. I set the print performance variable and this is printed in the lsp log:

[code]

It looks like the `ServerTime` is huge sometimes, right?

My `company-backends` list has `company-lsp` first in the list at least:
[code]

[2019-03-20 10:01] Linuus commented on #721
Perhaps I need to use `:demand` and not `:ensure`:

[code]

[2019-03-20 17:24] yyoncho commented on #721
can you do M-x `company-diag` when the completion pops up and make sure that it is company-lsp?

[2019-03-21 07:09] rattit0 opened #725 "Does lsp-mode support `fortran-mode`?"
Now `lsp-mode` works well with `f90-mode`, but it says "No LSP server for fortran-mode."

[2019-03-21 07:11] Linuus commented on #721
I don't have the issue at the moment but I tried it anyway and it looks like company-lsp is used now at least:

[code]

I'll close this and if the issue comes up again I'll run company-diag again.

[2019-03-21 07:47] yyoncho commented on #725
Fortran client is configured to run only with f90-mode - https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-clients.el#L669

[2019-03-21 13:05] Linuus commented on #721
@yyoncho Now it started to be slow again (I haven't closed Emacs in the entire day), ran `company-diag`:

[code]

Now it says `company-capf`. Any ideas why this might happen?

[2019-03-21 17:11] yyoncho commented on #721
You have something in your config change sets company-capf as a completion backend. To be sure that the code works fine you may set company-backends to (company-lsp) when in lsp-mode. If you have such questions, please use gitter.

[2019-03-21 17:11] #721 closed

[2019-03-21 17:46] #664 closed

[2019-03-21 18:33] Linuus commented on #721
I will! Thank you for all the help!

[2019-03-22 10:46] seagle0128 opened #726 "lsp-before-uninitialized-hook is not called"
I am looking for the solution to do something after shutdown server. I found `lsp-before-uninitialized-hook` is not called by any functions. But in `lsp--uninitialize-workspace`, `lsp-workspace-uninitialized-hook` is called.

Is it as designed or an issue?

[2019-03-22 12:39] larionov opened #727 "vue-mode document format fails, vetur config is undefined"
**Describe the bug**
I'm trying to use lsp with vue-mode and running `lsp-format-buffer` command on a `.vue` file.
It silently fails, document is not formatted.

**To Reproduce**
install lsp-mode, vue-mode,

[code]

Open .vue file, run `M-x lsp-format-buffer`

**Expected behavior**
Buffer gets formatted
**Which Language Server did you use**
lsp-vue with "vue-language-server@0.0.45",
**OS**
Linux

[2019-03-22 16:25] yyoncho commented on #727
At this point vls configuration is not correct and there is some work that has to be done in order to expose all of the functionality that is present in the vls server, I have created the following gist in the past and I believe that it will fix your issue and also it will expose tons of other features that were not available before that(e. g. better completion, code actions, etc) - https://gist.g

[2019-03-22 16:28] yyoncho commented on #726
It is has regressed, I guess during the big restructuring, I will fix it.

[2019-03-22 17:20] #726 closed

[2019-03-22 17:21] yyoncho commented on #726
Added `lsp-after-uninitialized-hook` which I think makes more sense. Please let me know if you need another hook `lsp-before-uninitialized-hook`.

[2019-03-22 17:35] seagle0128 commented on #726
`lsp-after-uninitialized-hook` is fine for me, but it seems `lsp-workspace-uninitialized-hook` is still undefined. Should it be removed?

[2019-03-22 17:44] yyoncho commented on #726
Done.

[2019-03-22 17:45] seagle0128 commented on #726
Thank you!

[2019-03-22 19:30] yyoncho commented on #210
@sebastiencs I finally found what is the problem with the native json performance in some of the cases. I noticed that in `emacs -q` native parsing is extremely fast but at the same time json parsing is dead slow in my Spacemacs setup. The problem is that code_convert_string runs hook(s) (I think it is `buffer-list-update-hook`). That's why we have a speedup when we do (with-temp-buffer...).

[cod

[2019-03-22 20:32] phst commented on #210
This sounds like something that could be fixed on the Emacs side. Would you mind filing a bug against Emacs? Thanks!

[2019-03-22 21:11] yyoncho commented on #210
@phst sure I will. First, I want to make sure that my observation is correct.

[2019-03-23 01:31] sebastiencs commented on #210
@yyoncho I just did some tests and I don't think that any hook is run by `code_convert_string`.
Well I just added a printf in `run_hook_with_args` and it isn't called with `json-parse-string`
If you are referring to the function `make_conversion_work_buffer`, I think it calls `get-buffer-create` only once.

[2019-03-23 03:42] larionov commented on #727
@yyoncho it's working! thank you so much.

[2019-03-23 05:23] yyoncho commented on #727
@larionov you welcome. Are you willing to help to narrow down what we really need out of this and do a PR against lsp-mode? The package.json manifest of the vscode extension is a good place to start.

[2019-03-23 05:25] kaiwk opened #729 "which-func-ff-hook error: (error "No workspace could handle textDocument/documentSymbol")"
**Describe the bug**
enable `which-function-mode`, and then enable `lsp`, it gives this error message.
`lsp` would work, but `which-function-mode` will not show on the mode line.

**To Reproduce**
put follow config
[code]
in init.el, and open a python file.

**Expected behavior**
no error message

**Which Language Server did you use**
pyls

[2019-03-23 06:12] #725 closed

[2019-03-23 06:59] yyoncho commented on #210
@sebastiencs

can you test the following snippen on your machine, apparently it is not a hook but a function list (at least on my machine)

[code]

[2019-03-23 11:54] yssource opened #730 "lsp-format-buffer messes up format, if there are Chinese characters."
**Describe the bug**
A clear and concise description of what the bug is.

[code]

[code]

**Which Language Server did you use**
Mention which server/language did you use (e. g. lsp-python, lsp-ccls, lsp-java, etc)

lsp-python

**OS**
Which os do you use?

Arch-linux 4.19.30-1-MANJARO

[2019-03-23 12:42] yyoncho commented on #730
Can you describe what is happening and include also client server communication. I tried it on my side and I wasn't able to see any problem. Which version of emacs do you use?

[2019-03-23 12:55] yssource commented on #730
- GNU Emacs 26.1
- spacemacs

It is supposed to be
`if __name__ == '__main__':`,
not right now
`if _e__ == '__main__':`

But, I'm sorry I don't know how to get  `client server communication`.

[2019-03-23 13:13] yssource commented on #730
one more example.

[code]

file: /tmp/hello/test.py
[code]

After `lsp-format-buffer`

[code]
![s1](https://user-images.githubusercontent.com/3756334/54866572-607e8d00-4db0-11e9-8073-c330583abe37.png)

Notice, there is a new line with _a "_ added in the end file.

[2019-03-23 13:34] yyoncho commented on #730
It does not reproduce on my setup, it formats to:

[code]

Set lsp-print-io to t and then observe the \*lsp-log\*.

[2019-03-23 13:52] yssource commented on #730
[code]

[2019-03-23 13:55] yssource commented on #730
[code]

[2019-03-23 14:41] yyoncho commented on #730
This seems to be the correct response.

Can you try to reproduce the issue with `emacs -q -l lsp-start-plain.el` the start file can be downloaded from https://github.com/emacs-lsp/lsp-mode/blob/master/scripts/lsp-start-plain.el ?

[2019-03-23 15:08] yssource commented on #730
Thanks so much.

But, errors

![s33](https://user-images.githubusercontent.com/3756334/54867883-93308180-4dc0-11e9-9c35-78e6ebc68ab0.png)

[2019-03-23 15:28] yyoncho commented on #730
Did you enable lsp server in that buffer?

[2019-03-23 15:52] yssource commented on #730
I'm sorry, I don't know how to enable lsp server in this way `emacs -q -l lsp-start-plain.el`.

I just follow `emacs -q -l lsp-start-plain.el`
and then
- open ./test.py
- M-x lsp-mode
- M-x lsp-format-buffer

As as result, I got the above errors.
Could you tell me how to enable lsp server here?

Do I need to write a additional **.dir-locals.el** ?

[2019-03-23 15:53] yyoncho commented on #730
You have to do M-x lsp, not M-x lsp-mode.

[2019-03-23 16:06] yssource commented on #730
No lucky.

![s4](https://user-images.githubusercontent.com/3756334/54868523-418bf500-4dc8-11e9-811a-90024f024022.png)

[2019-03-23 16:09] yssource commented on #730
![s444](https://user-images.githubusercontent.com/3756334/54868586-03db9c00-4dc9-11e9-8bb6-31832b44540f.png)

[2019-03-23 16:38] yssource commented on #730
buffer *Flymake log* *%

![s5](https://user-images.githubusercontent.com/3756334/54868959-2a033b00-4dcd-11e9-9f55-f3fea315e1dc.png)

[2019-03-23 21:13] yyoncho commented on #210
@phst - Sebastian filed bug #31138 and here it is the root cause I was talking in the previous comments:

![emacs-27 0 50@myoncho_116](https://user-images.githubusercontent.com/13259670/54871698-3aadb400-4dc1-11e9-89b4-f720175e0ac7.png)

[2019-03-24 03:19] yssource commented on #730
@yyoncho Thanks so much for your help.
It seems that it is caused by GNU Emacs 26.1.
I try to upgrade to [emacs-git GNU Emacs 27.0.50](https://aur.archlinux.org/packages/emacs-git/), and now lsp-format-buffer works correctly.

[2019-03-24 03:19] #730 closed

[2019-03-24 09:27] ubolonton commented on #676
I think this is the most promising approach. If we keep doing it in the UI thread, there will still be UI freezes, even with json.c, for large payloads. Moreover, a dynamic module won't have access to Emacs internals, like json.c does, so there will be more overhead (data copies, calls into Emacs runtime, unavoidable string validations, ...).

There shouldn't be an issue here. It's a matter of cor

[2019-03-24 10:02] yyoncho commented on #676
@ubolonton

Both dynamic modules and json.c are considered external code and both perform validation of the strings which at this point is very slow because it may trigger external hooks, see https://lists.gnu.org/archive/html/bug-gnu-emacs/2019-03/msg00722.html .
[code]

I wonder whether that conversion could be optional in Emacs e. g. whether emacs could have a flag "trust-this-source and do not

[2019-03-24 17:02] MaSven opened #731 "Workspace initialization fails"
**Describe the bug**
After setting up lsp in spacemacs, the first initialization fails with the following error:

My user-config in spacemacs is the following.
[code]

**To Reproduce**
Install lsp. Go to root folder of mix application. set lsp mode for the first time with C-u M-x lsp.

**Expected behavior**
Projects root gets added to lsp workspace. elixir-mode is saved as default mode.

**Which L

[2019-03-24 17:31] yyoncho commented on #731
This is spacemacs bug, you might fix it locally by doing:

[code]

[2019-03-24 17:31] #731 closed

[2019-03-24 19:11] MaSven commented on #731
this worked for me thank you.

[2019-03-25 09:08] ubolonton commented on #676
We can request emacs-devel to add the ability to bypass string validation with a flag, as you suggested, or through new additions to `emacs-module.h`. Failing that, we can bypass the validation on our own, using internal APIs (which `json.c` has access to, but doesn't use). We just need to find relevant header files from Emacs source. That's a hack that won't sit well with emacs-devel though.

The

[2019-03-25 13:19] kvaneesh opened #733 "opening file via helm-grep-do-git-grep doesn't configure language server correctly"
use helm-grep-do-git-grep to grep for a symbol and when you open a file it prompts as below

Select server to start:

**Expected behavior**
Expected behavior was the file gets opened with the correct language server started.

**Which Language Server did you use**
this happens with both clangd and ccls

**OS**
Linux

[2019-03-25 18:17] yyoncho commented on #676
Thank you for mentioning that option..

Few comments:

* Option 1 wont be sufficient without bypassing the validations since most of the time (e. g. 90%+)  is spent in conversion from serde structs to elisp structures.

* Option 2 Can we aim higher by doing the conversion using Env in the native thread? I think that will be possible if the env methods do not call any elisp functions (e. g. if we h

[2019-03-26 15:24] ubolonton commented on #676
I did some experiment and checked `emacs-module.c` code. This is not possible. Calling any module functions (including conversion functions) requires holding the GIL. Even worse, "release GIL, switch to native, re-acquire GIL" is not possible. That means if a native-code thread is to be run in parallel with the UI thread, it can never access an `Env`. Until `emacs-module.h` exposes an explicit mec

[2019-03-26 18:05] axelson commented on #731
Is there an upstream tracking link for this?

[2019-03-26 18:57] yyoncho commented on #731
@axelson I don't think so. Spacemacs lsp layer is getting out of date, but there is nothing we can do. When spacemacs repo is unlocked I am planning to change the layer so you can use it without having an explicit language specific layer. Similar for dap-mode.

[2019-03-26 19:07] axelson commented on #731
Okay, thanks

[2019-03-26 20:08] kiennq opened #735 "Powershell support in lsp-mode"
Hi, I've made lsp-mode client that support powershell via [PowerShellEditorServices](https://github.com/PowerShell/PowerShellEditorServices).
The link is here: https://github.com/kiennq/lsp-powershell.
Can you consider adding this into this repo's README, section https://github.com/emacs-lsp/lsp-mode#supported-languages?

[2019-03-26 20:20] yyoncho commented on #735
Sure, do you want to provide a pr?

[2019-03-27 08:19] #735 closed

[2019-03-28 00:05] pcr910303 commented on #724
Another GIF that illustrates the problem... :-(

![output-2019-03-28-08:48:05](https://user-images.githubusercontent.com/37990858/55120153-273f7780-5138-11e9-8b45-491a4f1ec632.gif)

[2019-03-28 00:56] nobody-famous opened #739 "Opening Vue file, cannot read property config of null"
**Describe the bug**
Error from the Language Server: Request initialize failed with message: Cannot read property 'config' of null (Internal Error)

**To Reproduce**
Added these lines to my init.el file,
(require 'lsp-mode)
(add-hook 'vue-mode-hook #'lsp)

Opening a Vue file causes the error to appear.

**Expected behavior**
To load the file correctly.

**Which Language Server did you use**
I'm us

[2019-03-28 05:42] yyoncho commented on #739
Duplicate of https://github.com/emacs-lsp/lsp-mode/issues/727 . Take a look at the second comment, there is a solution but we need someone(vue user) to narrow it down and prepare a PR.

[2019-03-28 05:42] #739 closed

[2019-03-28 08:20] myrgy opened #740 "regex replace fails with "Match data clobbered by buffer modification hooks" error"
lsp-mode-20190326.522

**Describe the bug**
enabled lsp mode with ccls conflicts with evil-replace when I'm trying to perform replace
'':%s/Test/NewText/g"
Only one replacement occurs
"evil-replace-match: Match data clobbered by buffer modification hooks"

**To Reproduce**
enable lsp ( i use spacemacs with evil mode)
try to replace some test.
after first replacement  "Match data clobbered by buffe

[2019-03-28 08:23] myrgy commented on #740
fixed with upgrade to lsp-mode-20190327.1921

[2019-03-28 08:23] #740 closed

[2019-03-28 11:48] nobody-famous commented on #727
What is lsp looking for to connect? The gist solves the initial problem, but when I execute lsp it says "No LSP server found for vue-mode".

In my Emacs session,
(executable-find "vls")
returns "c:/Users/rich/AppData/Roaming/npm/vls.cmd"

and
(executable-find "vue")
returns "c:/Users/rich/AppData/Roaming/npm/vue.cmd"

[2019-03-28 12:58] yyoncho commented on #727
you have to chage that line -> (lsp-stdio-connection "~/.vscode/extensions/octref.vetur-0.16.2/server/bin/vls")

[2019-03-28 20:18] #700 closed

[2019-03-28 20:24] yyoncho commented on #629
@joncarr I have configured the organization icon but I was unable to place the other icon on the start page. Do you wanna try to update the readme and put the https://user-images.githubusercontent.com/564071/54164442-a475a780-442a-11e9-951e-e7c767369451.png in a way that it looks ok? @vibhavp  we have to create a Credit section to list valuable contributions.

[2019-03-28 20:25] yyoncho commented on #693
@joncarr in case you are interested there seems to be a debug adapter for kotlin - https://github.com/fwcd/KotlinDebugAdapter so we can have the full IDE featureset.

[2019-03-28 21:22] joncarr commented on #693
Sure, I'll have a look at it.

[2019-03-28 21:24] joncarr commented on #629
Not a problem, I'll try to get to it soon.

[2019-03-29 00:21] sebastiencs commented on #724
@pcr910303 Fixed in https://github.com/emacs-lsp/lsp-ui/commit/92b4d4e722d5214e025cef65099ae3ccd914157c

[2019-03-29 00:58] pcr910303 commented on #724
@sebastiencs Thanks for the fix!
I'm not sure if opening a new issue would be better, but the fix (that disallows prompts to be displayed in current line) breaks
* when the current line is last line and there is no newline -> sideline is displayed on the current line(which makes this problem persist)
* when the current line is last line and there is newline -> prompt wrapping happens and break.

T

[2019-03-29 03:59] sebastiencs commented on #724
@pcr910303 Thanks, can you test https://github.com/emacs-lsp/lsp-ui/commit/d4088c7471bdb3ba95f2fb0b60277ad95b34a25f

[2019-03-29 05:44] yyoncho commented on #724
@pcr910303 closing the issue after @sebastiencs fixes(it case you still have problems, please open a new issue in lsp-ui project).

[2019-03-29 05:44] #724 closed

[2019-03-30 18:07] yyoncho commented on #477
@vibhavp is this fixed?

[2019-03-30 19:55] #696 closed

[2019-03-31 16:12] yyoncho commented on #715
I am going to implement - https://github.com/emacs-lsp/lsp-mode/issues/715#issuecomment-473503166 . Apparently, in order to make our life easier, we should have a similar to vscodes mechanism for defining extension properties.

[2019-04-01 14:13] vibhavp commented on #477
Yes, mostly. I've sent a PR to MELPA for `lsp-origami` here: https://github.com/melpa/melpa/pull/6072

[2019-04-02 10:10] finalpatch commented on #729
Got this in c++-mode too (with ccls)

[2019-04-02 21:38] joncarr commented on #629
omg....github ignores org mode attributes!!!  Killing me!!  lol

[2019-04-02 23:41] shuxiao9058 commented on #629
the logo is too complicated！

[2019-04-03 08:43] appledelhi commented on #727
@yyoncho I reduced your gist a little bit. It works in my emacs. https://gist.github.com/appledelhi/c2adc3e6cadba726dd417a8d659be84e

[2019-04-03 17:54] #629 closed

[2019-04-04 01:28] yangyingchao opened #745 "lsp--document-highlight causes error: (wrong-type-argument stringp nil)"
**Describe the bug**
 If I select mini-bufer after a source file was modified, but before highlight timer expires, then when timer expires and callback function is invoked, lsp--document-highlight will be called upon min-buffer, instead of original source buffer. As a result, following backtrace will appear:

[code]

**To Reproduce**
1. open a source file and enable lsp (either pyls or ccls).
2. m

[2019-04-04 05:22] yyoncho commented on #745
The proper fix is to try to execute the call from the original buffer if it is present(what you are suggesting will fail if you switch to a buffer without language server associated).

(cc @sebastiencs )

[2019-04-04 06:37] yangyingchao commented on #745
yeah, that's what I planned to do, but I don't know how, so I raised this issue, and leave to you guys..

[2019-04-04 14:25] CSRaghunandan opened #746 "Force lsp-ui to always use flake8 for python"
**Describe the bug**
A clear and concise description of what the bug is.

I have both flake8 and pylint installed on my system and when I open python files, `lps-mode` sometimes starts the flycheck process with `pylint` and other times, it starts `flake8`. I haven't been able to reproduce when only `pylint` is used. It kinda selects randomly I guess?

**Expected behavior**
`lsp-mode` should always

[2019-04-04 15:16] yyoncho commented on #746
lsp-mode does not select the linters but pyls - see https://github.com/palantir/python-language-server/issues/532

[2019-04-04 15:16] #746 closed

[2019-04-04 18:11] yyoncho commented on #727
@appledelhi thanks @appledelhi . I am working on a tool that can convert the properties from vscode format to defcustoms (I am assigning the bug to me).

[2019-04-04 18:12] yyoncho commented on #695
I am taking this bug - I will create a tool which will automatically generate the needed code from the vscode extension definition file.

[2019-04-05 00:04] stamblerre opened #747 "workspace/configuration response missing an ID"
I'm one of the developers working on the Go language server, [gopls](https://golang.org/x/tools/cmd/gopls), and it seems that one of our recent changes has exposed a bug in the `workspace/configuration` message.

We first noticed this bug because of the reports here: https://github.com/golang/go/issues/31178.

It seems that lsp-mode's response to the `workspace/configuration` request from the serv

[2019-04-05 11:25] myrgy opened #748 "Emacs freeze during compilation"
Hello,
I'm using spacemacs with lsp + ccls.
Not long ago I noticed, that every time I'm statring comilation inside or outside of emacs ui freeze.
Please, find  profile report below.
My main question is why lsp got notified about any changes in compilation buffer?

**To Reproduce**
enable lsp mode for project
start compilation

**Which Language Server did you use**
lsp-ccls
lsp-mode-20190403.1905
l

[2019-04-05 11:32] yyoncho commented on #748
lsp-mode does not send notifications when compilation buffer changes but when a file on the disk changes. You may ignore these changes by adding your build folder to `lsp-file-watch-ignored` or by disabling the file watch functionality at all via `lsp-enable-file-watchers` .

[2019-04-05 11:41] myrgy commented on #748
Thank you @yyoncho !
and you are right - it doesn't send notification. I got it from my build dir.
added my build folder to `ilsp-file-watch-ignored `  - everything works as expected.
Hence closed.

[2019-04-05 11:41] #748 closed

[2019-04-05 18:05] hbar-x-2pi commented on #747
The response to `workspace/configuration` request should be a valid `JSON RPC` message.

[code]

[2019-04-05 18:07] yyoncho commented on #747
@hbar-x-2pi thanks, would you mind providing a PR?

[2019-04-05 19:05] yyoncho commented on #747
Fixed with https://github.com/emacs-lsp/lsp-mode/commit/7c7e40bdb2529b79b75356ca93b1a2f714b7e58c by @hbar-x-2pi

[2019-04-05 19:05] #747 closed

[2019-04-05 19:12] stamblerre commented on #747
Thanks all for the quick resolution!

[2019-04-07 03:16] larionov commented on #727
Sorry, wasn't around. I don't have much experience working with emacs packages, but wanted to try. If you won't have time for that I can try working on it.

Sent from ProtonMail mobile

-------- Original Message --------
On Apr 5, 2019, 02:11, Ivan Yonchovski wrote:

[2019-04-07 03:25] yyoncho commented on #727
@larionov I am already working on creating a tool which will help to expose the settings for any language server using its package.json declaration. But if you want to help, feel free to pick an issue and ask for help if needed (https://github.com/emacs-lsp/lsp-mode/issues/382 is suitable for example).

[2019-04-07 03:38] yyoncho opened #750 "[Feature] create modeline indicator for buffer/project/workspace errors statistics"
We already do that in lsp-treemacs but it would be nice if we have an overview of the errors in the modeline which is visible all of the time.

![Selection_123](https://user-images.githubusercontent.com/13259670/55678279-a6366c00-58ff-11e9-8172-81fd4dcd944d.png)

Here it is what vscode has (by default it lists the errors/warnings/info for all projects in the workspace)
![Selection_124](https://use

[2019-04-07 05:14] #715 closed

[2019-04-07 05:14] #727 closed

[2019-04-07 05:14] #695 closed

[2019-04-07 05:19] yyoncho commented on #746
@CSRaghunandan  @tsoernes can you retest after https://github.com/emacs-lsp/lsp-mode/commit/28853d54285d3eaca264633b7123da996ce7a746 . I think that pyls just disregards the initialization option and it requires explicit set configuration after it has been started. The property to customize is `lsp-pyls-configuration-sources`  .

[2019-04-07 05:30] #745 closed

[2019-04-07 06:55] #733 closed

[2019-04-07 07:16] tsoernes commented on #746
@yyoncho  Great, it works!
By the way I think perhaps the types of these variables are wrong:
[code]
Extension modules should probably be a list since you have many; conversely rope folder is just a single folder.

[2019-04-07 07:44] #729 closed

[2019-04-07 07:44] yyoncho commented on #729
If you are using lsp-ui you should wait for https://github.com/emacs-lsp/lsp-ui/pull/263 to be merged.

[2019-04-07 07:53] yyoncho commented on #746
They are defined like that: https://github.com/palantir/python-language-server/blob/develop/vscode-client/package.json#L243 so they should be fine unless manifest is wrong.

yes, usually it is written like that:

[code]

[2019-04-07 11:59] parhamdoustdar opened #751 "Moving with the arrow keys in a Go project causes a lot of errors"
**Describe the bug**

When moving in the Go source code buffer, I see a lot of messages like this:

[code]

This is correct from the `gopls` point of view – most of the time, my cursor is not on an identifier name (i.e. it's on a space, or `:=`, or in a string, or pretty much anything else other than a variable/function usage).

Based on [this comment](https://github.com/golang/go/issues/31178#iss

[2019-04-07 12:40] yyoncho commented on #751
As per lsp spec the language server should return null if there is no identifier at the point - https://microsoft.github.io/language-server-protocol/specification#textDocument_hover (the same is true for signatureHelp - https://microsoft.github.io/language-server-protocol/specification#textDocument_signatureHelp ) so gopsp should not return an error when there is no identifier at the point but ret

[2019-04-07 19:09] tsoernes commented on #746
@yyoncho If `lsp-pyls-rope-extension-modules` is supposed to be a single string, how should multiple modules be defined?
`(setq-default lsp-pyls-rope-extension-modules ["numpy", "pandas"])`
or
`(setq-default lsp-pyls-rope-extension-modules "numpy, pandas")
or whatever else?

[2019-04-07 19:13] #314 closed

[2019-04-07 19:58] yyoncho commented on #746
Sorry, I have no clue, I am not a python programmer, you may refer to the pyls source code to find the answer. I have only exposed the pyls settings as they are defined by pyls vscode manifest.

[2019-04-07 20:27] ruderngespra opened #752 "vscode-html-languageserver does not return any autocomplete values"
**Describe the bug**
When within Emacs I start an lsp-html-server in an html-file (using the "lsp"-command) everything works perfectly except for the autocompletion. If I try to access it e.g. via completion-at-point I do not get any return values but only a "[no matches]" response. The lsp-log returns an "error while computing completions" as well.

**To Reproduce**
Steps to reproduce the behavio

[2019-04-07 21:05] tsoernes commented on #746
I understand. If `val` in `setq-default prop val` is passed along to python unmodified by the emacs side of things, then indeed should be `:type '(repeat string))` and `(setq-default lsp-pyls-rope-extension-modules ["numpy", "pandas"])`. (Example: https://github.com/python-rope/rope/blob/dcfaf5b6eac6fe1b412a09a907adc0412051502a/ropetest/builtinstest.py#L474)

Conversely for `rope-folder` (example

[2019-04-08 04:29] yyoncho commented on #746
Ok, would you like to do a PR to fix them?

[2019-04-08 05:06] #752 closed

[2019-04-08 08:12] parhamdoustdar commented on #751
Thanks a lot for the detailed explanation and the links. In that case, I'll open an issue on gopls.

[2019-04-08 08:12] #751 closed

[2019-04-08 09:16] qhuyduong commented on #695
@yyoncho the new `lsp-generate-settings` method is great. However look like it only sends the configurations to server if they're changed (in `didChangeConfiguration`). So on boot up they don't take any effect. How can I fix that?

[2019-04-08 09:54] yyoncho commented on #695
I do not quite get your question, solargraph configuration is sent explicitly like that - https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-solargraph.el#L105 . What is currently missing is updating the configuration once a property has changed.

[2019-04-08 10:03] qhuyduong commented on #695
@yyoncho Sorry let me clarify my situation:
1. Enable `lsp-print-io`
2. Open a Ruby file
3. Watch the log and see `initializationOptions` is `null` and there is no linter error
4. Evaluate `(setq lsp-solargraph-diagnostics t)`
5. Watch in the log and see
[code]
6. Make a change in Ruby file and now the errors appear.

[2019-04-08 10:35] yyoncho commented on #695
@qhuyduong this one is not supported yet, you have to do the configuration change before starting, you may update the server manually using code similar to https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-solargraph.el#L105 . I was wondering whether to implement it but decided to do it later since it has a workaround (lsp-workspace-restart).

[2019-04-08 13:17] dangom commented on #750
Isn't this what flymake/flycheck do already?

[2019-04-08 13:23] yyoncho commented on #750
@dangom AFAIK they display the information only for the current buffer since they do not have the notion of what project is. Also none of them can list the errors for files that are not opened.

[2019-04-09 13:47] bastianbeischer opened #755 "lsp-format-region jumps to the beginning of the buffer"
This bug is similar to #253 (fixed by #258), but for lsp-format-region, invoked by M-x indent-region with some servers, for example pyls in python-mode.

After running indent-region the region is reformatted, but point moves to the beginning of the buffer. It would be nice if point would stay as close as possible to the original position.

(In addition, sometimes lsp-format-region formats one more

[2019-04-09 15:42] #755 closed

[2019-04-10 01:53] numkem opened #757 "gopls type documentation not color formated"
**Describe the bug**
Switching from current master of bingo vs current master of gopls shows that the signature help on the right side when hovering over something isn't color coded when using gopls. With bingo it looks just fine.

Ex: https://imgur.com/mQSMYCw

**To Reproduce**
Install the bingo branch of gopls from github.com/saibing/tools/cmd/gopls

**Expected behavior**
Color coded output usin

[2019-04-10 04:04] yyoncho commented on #757
Duplicate of https://github.com/emacs-lsp/lsp-ui/issues/220 . I am working on a solution now.

[2019-04-10 04:04] #757 closed

[2019-04-10 10:46] fetatefog opened #758 "LSP :: No LSP server for css-mode and LSP :: No LSP server for mhtml-mode."
I have my npm installed in custom directory and so i think emacs could not find my install plugin. I am trying to set something like ``(Setq lsp-clients-clangd-executable "path to clangd")`` but i could not find lsp-clients for css and html. Please let me know what should i do to fix this problem

[2019-04-10 15:11] yyoncho commented on #758
Inspect \*lsp-log\* and make sure that the corresponding language servers are on the path.

[2019-04-10 15:11] #758 closed

[2019-04-10 17:15] karstenpatzwaldt opened #760 "Stored projects are opened in order"
**Describe the bug**
When opening a project through tramp (e.g., /ssh:hostname:path/to/source.c), and adding the project to LSP, the project will be stored in ~/.emacs/.lsp-session-v1. Later, when moving to a different network, and opening a different project, lsp-mode will try to connect to the remote repo first, which may not be accessible at that time.

**To Reproduce**
Steps to reproduce the b

[2019-04-11 06:53] #717 closed

[2019-04-11 12:02] fetatefog commented on #758
In lsp-log, they give me this message:
Command "css-languageserver --stdio" is not present on the path.

I am not sure how to set its path. Please guide

[2019-04-11 12:29] yyoncho commented on #758
https://superuser.com/questions/488173/how-can-i-edit-the-path-on-linux

[2019-04-11 17:41] fetatefog commented on #758
@yyoncho can i use (setenv "...npm/bin") instead?

[2019-04-11 17:42] yyoncho commented on #758
I don't know, you may try it? You may use (add-to-list 'exec-path "...") as well.

[2019-04-11 17:44] fetatefog commented on #758
ok, will check it out and report later

[2019-04-12 14:47] garyo opened #761 "Support Windows emacs with WSL server"
I'm on Windows 10, running native emacs 26.1. I'm doing some Javascript/Typescript (vue.js) development, using WSL for that world, still with the native Windows Emacs. Works great for the most part, with a few path hassles now & then (/mnt/c/foo vs. c:/foo). I definitely know it's a fringe use case, so I'll understand if you can't help.

I just ran across the LSP idea -- brilliant! I want to try t

[2019-04-12 16:17] yyoncho commented on #761
It is really hard to tell what is happening since it is in the language server. I think that I spotted one problem, linux paths are prefixed via two `//` (see https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-mode.el#L184 )

As a side note, if it is possible to access wsl via ssh you may use tramp to edit the files which is supported. (lsp-mode supports running servers over tramp).

(cc @madni

[2019-04-12 16:26] madnificent commented on #761
👋 glad I'm not the only one with the strange idea of path name translation ;-)

@yyoncho Would a hook for back and forth translation of paths make sense in this context?

[2019-04-12 16:30] yyoncho commented on #761
It should not be a hook but something that we register in lsp-client. Note that you may have several type of project topologies and you should be able to configure that per client/workspace.

[2019-04-13 14:26] muirrn opened #762 "Completion interrupted by "hover" error from gopls"
**Describe the bug**
When using gopls, the (company-mode) completions pop open fine, but when you type something to narrow down the results, the popup closed and there is an LSP error "no object for ident XX" from the server ("XX" is whatever you typed to narrow down results).

The problem seems to be lsp-mode sends the "hover" request, and the gopls server sends an error back which causes lsp-mod

[2019-04-13 15:09] yyoncho commented on #762
See https://github.com/tigersoldier/company-lsp/issues/103#issuecomment-481760206 for the completion issue. gopls is doing something odd (I am not sure whether this is a bug) - returns partial filter text - `"filterText":"rint($1)",` which breaks company-lsp client side filtering. This is unrelated to the hover issue.

[2019-04-13 16:03] #762 closed

[2019-04-13 16:13] yyoncho commented on #762
After https://github.com/emacs-lsp/lsp-mode/commit/05170c8a7bd074978bccacfdfc20d74963ab99f9 + https://github.com/emacs-lsp/lsp-ui/commit/e48c80cf1122fe6136a07fc7f3aa6ad5412bef53 and with https://github.com/golang/go/issues/31178#issuecomment-482746954 I was unable to spot gopls related issues.

[2019-04-14 11:25] yyoncho opened #763 "[Feature] Auto-generate readme from the sources"
There are 304 `defcustom`s in `lsp-mode` and 30+ interactive functions. It would be good if we can sync lsp-mode README automatically with the sources. I have checked https://www.emacswiki.org/emacs/org-readme.el but also exposes internal variables/functions which we want to avoid so it has to be adjusted.

[2019-04-14 11:30] yyoncho opened #764 "[Feature] better lsp-describe-session"
1. Replace tree-widget with org-mode text - it will be much easier to work with.
2. Include the following info:
* Presence of the packages lsp-ui/yasnippet/company-lsp/etc + their state (enabled/disabled)
* Status of each server - which path will be used, which mode will be enabled in, path to the binary and so on.
* workspace folders + what we currently have
* blacklisted folders
* server-id -> f

[2019-04-14 11:36] vibhavp commented on #764
IMO, a package like `ewoc` (See https://www.gnu.org/software/emacs/manual/html_node/elisp/Abstract-Display.html) might be useful here.

[2019-04-14 11:41] yyoncho commented on #764
Thanks for pointing this package, I might have used it in dap-mode for the templates.

One more functionality that we might have is to have a source block which installs the server, like that:
[code]

[2019-04-15 08:02] d125q commented on #692
I can work on an async Imenu, but it will of course have some drawbacks.  The best we can do is to send `textDocument/documentSymbol` requests on an idle timer and store the buffer's results.  How does that sound?  We can also try to hook into the `*Rescan*` functionality to force a sync update when the user needs results immediately.

---

By the way, the current implementation becomes slow when

[2019-04-15 08:52] yyoncho commented on #692
@d125q

Here it is a bit more efficient variation of what you are suggesting, we have it implemented for lenses/links/highlights, etc: Start a timer after the buffer on change event and cancel if there are pending timers. When the timer is triggered load the file symbols data asynchronously.

What I do not want to have is stale results when imenu is called interactively which might happen if we do

[2019-04-15 09:13] d125q commented on #692
I think we can even combine both approaches:

1. Compute results on a timer every now and then in the background.  When results arrive, store them along with the modification-count.
2. When a menu-bar entry update is requested *or* the modification-tick is unchanged, simply return the previously computed results.  Otherwise, do a sync request and use its results.

[2019-04-15 09:21] yyoncho commented on #692
In case we do not have the state for the current buffer modification tick don't we still need to differentiate whether the request is coming from the interactive call(e. g. helm-imenu) or from menubar update and block only when the call is made interactively?

[2019-04-15 09:25] d125q commented on #692
Indeed, but isn't the idea that we don't care for the menu-bar and simply give it whatever we have?

[2019-04-15 09:29] yyoncho commented on #692
Give what we have in case it is up to date. If it is not up to date do async call and force imenu update in the callback.

[2019-04-15 09:34] d125q commented on #692
In that case we don't even need an idle timer :)

Basically, make the menu-bar entry update async and everything else sync.  If this sounds good, I will try to come up with a PR.  How does that sound?

[2019-04-15 09:38] yyoncho commented on #692
Yes.

 Sound good to me. I will hold on testing https://github.com/emacs-lsp/lsp-mode/pull/765

[2019-04-15 12:09] chenz opened #768 "Weird electric brace/indentation issue (C++)"
**Describe the bug**
When lsp-mode is enabled, in some circumstances upon entering a closing curly brace, code is indented in an unexpected manner.

![lsp](https://user-images.githubusercontent.com/7843/56130473-46863380-5f85-11e9-8a45-1b74eb6845d6.gif)

1) lines are collapsed joined into one
2) line below is reindented as well
3) indentation uses 2 spaces instead of 1 tab as configured

**To Repr

[2019-04-15 12:10] yyoncho commented on #768
Take a look at `lsp-enable-on-type-formatting`

[2019-04-15 12:52] chenz commented on #768
Turning `lsp-enable-on-type-formatting` off does the trick :thumbsup:

I assume that proper language server based formatting would have to be configured out-of-band (i.e. via a `.clang-format` file)?

[2019-04-15 12:54] yyoncho commented on #768
I guess yes but I am not aware of clangd specifics.

[2019-04-15 12:54] #768 closed

[2019-04-15 16:08] yyoncho commented on #692
This will probably work too, we should aim for:

1. Showing up-to-date data
2. Being as efficient as possible(fewer calls to the server)

Now, when I think more about that it seems like it is not very clear which option will be the best fit. If menubar-update-imenu is called on every change we should add debounce which will effectively lead to what you are suggesting when menubar is enabled but in

[2019-04-15 19:50] yyoncho commented on #692
@d125q one more thing to consider - we are going to create a pretty gui control in https://github.com/emacs-lsp/lsp-treemacs which will be should be updated on the fly.

[2019-04-16 06:02] mcraveiro commented on #564
@yyoncho,

As discussed in Gitter, I had bumped into a mode in Emacs which transformed include statements into links, very much like a HTTP link or a org-mode link. As a result, the include file would show up underlined. I could then follow these links. Sadly (and somewhat comically) I'm not sure what mode gave me this functionality and it went away so I can't screenshot it, but when I did have it

[2019-04-16 07:12] stapelberg opened #770 "Error: cond: Symbol’s value as variable is void: method"
**Describe the bug**
lsp-mode prints an error message:
[code]
…and in general does not seem to work. E.g. running `M-x lsp-find-definition` results in `Lisp error: (void-variable check-command)`

**To Reproduce**

1. Install lsp-mode-20190415.853
2. Install https://github.com/golang/go/wiki/gopls: `go get -u golang.org/x/tools/cmd/gopls`
3. Configure lsp-mode to use gopls as per https://github.com

[2019-04-16 07:13] stapelberg commented on #770
This was solved by updating the dash package to version 20190413.1058.

I do wonder why lsp-mode lists dash 2.14 as a requirement, though, and I’m using 20190413.1058, not 2.14.

Am I missing something about how emacs package version numbers work, or could lsp-mode’s requirements be improved to pull in this dependency automatically? This was a fresh installation of lsp-mode.

[2019-04-16 08:10] yyoncho commented on #770
see https://github.com/magnars/dash.el/pull/277#issuecomment-482494706

[2019-04-16 08:10] #770 closed

[2019-04-18 06:44] thomasf opened #772 "Memory usage goes through the roof when I use pyls and don't restart emacs for a few days."
**Describe the bug**

I have had emacs RSS size grow to well over 16GB (and continually increasing) after running a few days with a lot of pyls processes which uses about 1-2gb each.. Not much to do about the pyls processes I guess but I can't find whats taking up all the memory in Emacs.. I've tried looking through all allocated elisp objects, open fd's etc but I have not found anything suspiciou

[2019-04-18 07:04] yyoncho commented on #772
Can you try this :https://lists.gnu.org/archive/html/help-gnu-emacs/2004-09/msg00342.html

[2019-04-18 07:17] thomasf commented on #772
Yeah, I have that package from melpa and I check it and it just listed a few hundreds of mb of ram usage there IIRC, at least far far below the 16GB ram emacs was using.. I also tried to investigate all symbols myself without finding anything relevant on the visible side. I have comparably to the defaults very lax garbage collection settings but I could see that the GC was running now and then so

[2019-04-18 08:00] seagle0128 opened #773 "lsp-mode package Issues"
Hi,

1. There is no `Homepage` or `URL` in `lsp-mode` package on melpa.
2. The legacy packages, e.g. `lsp-go`, `lsp-rust, etc. still exist in melpa repo. Should they be removed now?

[2019-04-18 18:40] yyoncho commented on #773
Added package url with https://github.com/emacs-lsp/lsp-mode/commit/b7e3aa51160b3cdb6143a278b52d0715ebce14d1 . As far as I can see lsp-go/lsp-rust etc are removed - https://melpa.org/#/?q=lsp ( see also https://github.com/melpa/melpa/pull/5972/files).

[2019-04-18 19:17] seagle0128 commented on #773
Thank you.

[2019-04-18 19:17] #773 closed

[2019-04-18 19:19] yyoncho commented on #772
you may try reproducing the issue using `emacs -q -l lsp-start-plain.el` https://github.com/emacs-lsp/lsp-mode/blob/master/scripts/lsp-start-plain.el

[2019-04-21 12:44] rassie opened #781 ".tsx files are handled as .ts while in web-mode"
**Describe the bug**
A `.tsx` file edited in `web-mode` is sent as `html` file type to the `typescript-language-server` and thus processed as `.ts` file, resulting in a lot of errors.

**To Reproduce**
1. Open a `.tsx` file with TSX expressions
2. Enable `web-mode` if not already enabled
3. Enable `lsp-mode` and behold a lot of errors in TSX expressions

**Expected behavior**
TSX should be parsed

[2019-04-21 12:46] yyoncho commented on #781
What language corresponds to tsx, typescript?

[2019-04-21 12:53] yyoncho commented on #781
@rassie can you test https://github.com/emacs-lsp/lsp-mode/pull/782 ?

[2019-04-21 12:57] rassie commented on #781
Thanks! I'll try to test it right away!

[2019-04-21 13:09] rassie commented on #781
I can confirm it's sending the right language ID now. Thanks!

[2019-04-21 13:30] #781 closed

[2019-04-21 13:33] yyoncho commented on #692
fixed by @d125q with https://github.com/emacs-lsp/lsp-mode/pull/780

[2019-04-21 13:33] #692 closed

[2019-04-22 09:23] yalfg opened #784 "Race condition with imenu"
First, thanks for lsp-mode!

**Describe the bug**

With the default auto-configuration, when the 'lsp' hook enables LSP mode with imenu there can be a race condition where the LSP imenu hook is called to fill the imenu content before the LSP server is ready. This triggers the following error:

    Error in menu-bar-update-hook (imenu-update-menubar): (error "No workspace could handle textDocument/

[2019-04-22 09:27] yyoncho commented on #784
Take a look at this commit: https://github.com/emacs-lsp/lsp-mode/commit/b024867c980f14ae1ecff70a375c7c3d2f2a7ea9

[2019-04-22 12:16] fetatefog opened #786 "Need lsp mode that regionally smart"
[code]

I am curious if it is possible to make lsp switching between each mode automatically in order to make completion or suggestion. Imagine my above code, if my cursor is in between *script* tag, then it should auto complete JS while if it is inside *style* tag or in between quote of style value, then it should auto complete as CSS but if it is not in between Style or Script tag, then it shoul

[2019-04-22 12:18] yyoncho commented on #786
duplicate of https://github.com/emacs-lsp/lsp-mode/issues/667

[2019-04-22 12:18] #786 closed

[2019-04-22 12:34] yalfg commented on #784
Thanks, unfortunately it doesn't help  and I get the same "No workspace could handle textDocument/documentSymbol" error. So somewhat the LSP server replied with the capabilities, as the imenu hook is set-up. But when lsp--imenu-create-index is called, lsp--get-document-symbols fails? So the LSP server is ready, but not yet ready to reply to this specific request?

[2019-04-22 12:38] yyoncho commented on #784
@yalfg if you are using lsp-ui you need https://github.com/emacs-lsp/lsp-ui/commit/705357778d8641eadf4508a7371dc00a690b842e as well. Can you toggle-debug-on-error and post the callstack.

[2019-04-22 15:46] yalfg commented on #784
Thanks, with the lsp-ui change there is no error anymore. However the imenu content is built before the LSP hook is set in this case (it's a flat list of methods, vs the lsp-mode hierarchical menu). A rescan from the menu itself fixes this and I have the regular LSP hierarchical content. So a much better experience than an error with a blank menu.

Without the lsp-ui patch, if I set debug-on-error

[2019-04-22 15:50] yyoncho commented on #784
This one was fixed by https://github.com/emacs-lsp/lsp-mode/pull/780

[2019-04-22 17:25] yalfg commented on #784
With #780 added everything is now fine! I attach the diff on top of 6.0 FYI. I'll follow-up on the Debian side.  Thanks for your help.

[lsp-mode.el.diff.txt](https://github.com/emacs-lsp/lsp-mode/files/3104247/lsp-mode.el.diff.txt)

[2019-04-22 17:25] #784 closed

[2019-04-23 04:25] hubgitname opened #789 "lsp showing entries from .ccls-cache"
**Describe the bug**
I configured lip on the rtags project and it was working fine. Then later on when I
tried some commands it started showing entries from .ccls-cache which is not what I
expected as .ccls-cache is an internal database.

**To Reproduce**
Configre lsp like so:
[code]

and index the rtags project and do a lsp-ui-peek-find-definition, you'll find it
displays entries from the .ccls-c

[2019-04-23 05:34] yyoncho commented on #789
Please file this issue into ccls repo.

@MaskRay

[2019-04-23 05:34] #789 closed

[2019-04-23 07:17] hubgitname commented on #789
Looks like this is fixed in the most recent version of ccls. Confirmed.

[2019-04-24 18:21] yyoncho commented on #477
melpa/melpa#6072 is now in, thus closing

[2019-04-24 18:21] #477 closed

[2019-04-25 15:46] muirrn opened #792 "LSP server takes a long time to start with a lot of files open"
If I have a lot (~100) of files open when I (re)start gopls, it takes a while (~10+ seconds) before lsp commands start working. This is because we send many "didOpen" requests which makes the server busy for a while. Would it be possible to delay didOpen request until you visit the buffer for the first time? We would still need to send didOpen request for any buffers that had unsaved changes, of c

[2019-04-25 18:00] yyoncho commented on #792
AFAIK  there is no convenient hook for that - https://stackoverflow.com/questions/47456134/emacs-lisp-hooks-for-detecting-change-of-active-buffer .

You may restart the server by creating a function that does
[code]

which will start the server only for the current buffer.

[2019-04-25 18:08] muirrn commented on #792
That approach leaves all my other buffers disconnected from LSP, and doesn't help when initially starting emacs. What if instead of hooking buffer switching, we do a just-in-time didOpen before any other lsp request for a buffer if we haven't already sent a didOpen for it?

[2019-04-25 19:58] yyoncho commented on #792
You may remove `(add-hook  'go-mode-hook 'lsp)` and initiate the connection manually. But yeah, you should care that lsp-mode is started ...

That would work, but it will require more work on lsp-mode side to make it right, e. g there are corner cases related to multiple servers associated with the buffer and it will potentially increase the complexity of the code while the hacky solution outside

[2019-04-25 20:28] muirrn commented on #792
Fair enough. It is a one time pain, so probably not worth it at this point if the only solution is really complicated.

[2019-04-25 20:42] yyoncho commented on #792
FYI using emacs 27 with native parsing would speedup emacs a lot(especially with that patch https://lists.gnu.org/archive/html/bug-gnu-emacs/2018-04/msg00419.html ) which is going to make into core.

[2019-04-26 02:39] testinggithub1222 opened #794 "Should lsp-mode for javascript support eslint by default?"
I have try to configure lsp-mode and working with javascript and found out that it quite impressive than I expected but there are two things i am not satisfy yet.

1. Flycheck or lsp-ui doesn't work with eslint yet by default. I think if it auto detect .eslintrc file in the root directory and then start eslint check by default without any configuration then it would be nice! I found some tutorial

[2019-04-26 09:05] yyoncho commented on #794
No, lsp-mode is responsible only for communication with language server. If you are looking for integration with other non-lsp solutions lsp-mode is not the place to go but some starter kit or meta package responsible for merging functionality from several packages.

2) did you try to compare communication between client and server in both vscode and lsp-mode?

[2019-04-26 11:21] thomasf commented on #772
I'll reopen this issue if I see the problem again and have more information

[2019-04-26 11:21] #772 closed

[2019-04-26 15:32] sakshamsharma opened #796 "Recursive file watches in presence of recursive symlinks"
**Describe the bug**
lsp-mode fails to detect symlinks in a workdir that point to the same directory as before, and continues creating a huge watchlist of files.

Specifically this function:
[code]

I can't count how deep it traversed the symlink in my case, but I'm guessing it stopped when the file name length got hit (65k or so characters). I can see entries like:
[code]

**Expected behavior**
I

[2019-04-26 20:23] muirrn commented on #792
I don't think the slowness is related to JSON serialization. The problem is Emacs sends gopls 100 files to

[2019-04-26 20:32] yyoncho commented on #792
... which is json serialization and it is much faster in emacs 27.0.

[2019-04-26 20:35] muirrn commented on #792
I don't think the slowness is JSON serialization. The slowness is the server (gopls) gets backed up with work and doesn't respond to queries. There could be some server optimizations to make, but in general it will provide fast startup time if we don't dump all the files to the server at once.

[2019-04-27 09:57] dov opened #797 "Eval of `(defun lsp--annotate ...)` fails"
**Describe the bug**

When evaluating `lsp-mode.el` from git (commit:42b1e5c) the evaluation fails with the following backtrace:

[code]
**To Reproduce**
1. load emacs
2. load lsp-mode.el
3. do `M-x eval-buffer`

**OS**
- Linux Fedora 29
- GNU Emacs 26.1 (build 1, x86_64-redhat-linux-gnu, GTK+ Version 3.23.2)
of 2018-08-13

[2019-04-27 10:04] yyoncho commented on #797
Can you make sure that you have the latest version of dash?

[2019-04-27 12:26] #796 closed

[2019-04-27 13:20] dov commented on #797
Thanks. Updating dash filed it!

[2019-04-27 13:20] #797 closed

[2019-04-27 20:02] numkem opened #801 "No sideline using latest version"
**Describe the bug**
After updating `lsp-mode` to the latest current version (`20190427.1725`) the lsp-ui sideline doesn't show up anymore. I tried forcing it maually through the configuration but it doesn't do anything.

Was working just fine prior using Go `gopls` lsp server (commit `42b1e5c1f82e56734777529fadba9291e8a9dc15` works).

**To Reproduce**
Using `gopls` with latest version of `lsp-mod

[2019-04-27 20:26] gkmngrgn commented on #801
Hi, I have the same problem in these systems:
1. Win10 + WSL with Ubuntu 18.04
2. Ubuntu 18.04

[2019-04-27 21:05] #801 closed

[2019-04-27 21:08] yyoncho commented on #801
Adding this line to your configs will fix the issue untill melpa kicks in.

[code]

[2019-04-27 21:26] numkem opened #802 "markdown-mode math support enabled on every hover"
**Describe the bug**
The message `markdown-mode math support enabled` appears on every hover which makes it hard to see documentation that is usually on the message output. Sometimes have to try to fight/trick it in order to see the documentation.

**To Reproduce**
Hover on any token that has documentation.

**Expected behavior**
See the documentation and not the `markdown-mode math support enable

[2019-04-28 06:39] yyoncho commented on #802
Do you use the latest markdown-mode from melpa?  I am unable to repro using it and gopls. If you can still reproduce the issue can do M-x debug-on-entry markdown-toggle-math and then paste the callstack here so I can inspect what is causing this message.

[2019-04-28 10:15] numkem commented on #802
Example for one case:

[2019-04-28 11:01] yyoncho commented on #802
Can you try after evaluating this funciton:
[code]

[2019-04-28 11:35] yyoncho commented on #137
I propose closing as `won't fix` and continue with implementing the code browsing controls in lsp-ui and lsp-treemacs. @vibhavp, what do you think?

[2019-04-28 11:35] rsuhada opened #804 "Failed to install from melpa"
It is impossible to install lsp-mode from melpa.

Using:

`(use-package lsp-mode
  :commands lsp
  :ensure t
  :config
  (add-hook 'python-mode-hook #'lsp)
  )
`
Gives:

    Failed to install lsp-mode: http://melpa.org/packages/lsp-mode-20190407.739.tar: Not found

Same for `lsp-ui` and `company-lsp`.

[2019-04-28 12:18] yyoncho commented on #804
do package-refresh-contents and retry.

[2019-04-28 12:18] #804 closed

[2019-04-28 14:25] fetatefog commented on #786
@yyoncho, this info might be helpful,
https://github.com/fxbois/web-mode/issues/1058

[2019-04-28 15:59] numkem commented on #802
After the evaluation I don't see the message anymore. What is supposed to be in the message?

[2019-04-28 19:22] yyoncho opened #805 "lsp-file-watch-ignored is not sufficient to prevent file notifications"
Given the following project structure:

[code]

Adding `build` to the ignored files does not avoid the file notifications.

(cc @aureumleonis )

[2019-04-28 19:38] #802 closed

[2019-04-28 19:39] yyoncho commented on #802
It is how markdown-mode notifies the users that the math related functionality is on.

[2019-04-28 20:03] aureumleonis commented on #805
To give more context build is a symlink which is deleted and re-created when a build tool is run

[2019-04-28 20:07] aureumleonis commented on #805
I've been able to prevent the notifications by applying the filter once again within `lsp--file-process-event`.

[2019-04-29 01:59] testinggithub1222 commented on #794
I am not sure about this. Please clarify.

Not sure what does it mean.

[2019-04-29 11:07] LinArcX opened #806 "Cannot detect .dart files"
**Describe the bug**
Cannot work with .dart files.

**To Reproduce**
Install and configure lsp-mode and also install dart-language-server via:
`pub global activate dart_language_server`
It put binary file in:
`~/.pub-cache/bin/dart_language_server`
When you open emacs and try to edit a .dart file, nothing happen.

**Expected behavior**
lsp-mode should detect .dart files.

**Which Language Server d

[2019-04-29 13:22] numkem commented on #802
What I meant by that is with `gocode` it usually showed the signature of the function you are inside or hovering, was just wondering how that "space" (don't know the emacs term) is supposed to be used by lsp-mode/ui to see if it's behaving correctly.

[2019-04-29 14:20] yyoncho commented on #806
You have to install dart-mode as well.

[2019-04-29 14:20] #806 closed

[2019-04-29 14:24] yyoncho commented on #802
@numkem sorry, I do not get what you mean. Are you referring the minibuffer?

[2019-04-29 15:55] numkem commented on #802
@yyoncho yes, the minibuffer.

[2019-04-29 15:57] yyoncho commented on #802
It depends on the language server. By default, if the language server supports textDocument/signatureHelp and you are in method invocation it will be displayed. Otherwise, it falls back to textDocument/hover.

[2019-04-30 01:33] testinggithub1222 opened #809 "npm client or lsp for npm?"
I use vsCode and I fount that vsCode has a nice feature in package.json file. It has auto-completion for dependencies name and version. And i think if we have this feature too, it would be nice. I am not sure if it is provided by plugin or built in feature inside vsCode.

[2019-04-30 05:30] yyoncho commented on #809
it uses json language server.

[2019-04-30 07:05] testinggithub1222 commented on #809
@yyoncho:
https://github.com/Microsoft/vscode-json-languageservice and https://github.com/Microsoft/vscode-languageserver-node these two?

[2019-04-30 07:12] yyoncho commented on #809
The first one.

[2019-04-30 07:20] testinggithub1222 commented on #809
@yyoncho  is there any other better LSP server than this ?

[2019-04-30 07:30] yyoncho commented on #809
I don't get your questions. This is what used by vscode.

[2019-04-30 09:36] testinggithub1222 commented on #809
I just curious if there are other lsp server provided by another third parties and better than the one using in vscode

[2019-04-30 09:59] sakshamsharma opened #811 "Disable snippet completion if yasnippet is not installed."
Should not be too difficult / intrusive. I'd been seeing weird completions all the while because I don't use yasnippet.
This is what it looks like if you don't have yasnippet and snippet completions are enabled:
https://imgur.com/a/MNDRTrJ

Related:
https://github.com/emacs-lsp/lsp-mode/issues/542

[2019-04-30 12:44] Gama11 commented on #661
The size of the client might be a bit deceptive, we implement some things like task providers, custom tree views etc that aren't really necessary for the language server. People have gotten it to work with Neovim (https://github.com/vshaxe/vshaxe/issues/328) and Sublime Text before.

[2019-04-30 20:08] yyoncho opened #812 "Add emacs 26.1 and 26.2 to CI build"

[2019-05-01 08:18] LinArcX opened #813 "How Use frameworks like qt?"
Hi, And thank you for this great effort.
I'm a qt developer, and for vanilla c++, lsp-mode is awesome & enough. But it can't detect qt specific headers or code:
https://raw.githubusercontent.com/LinArcX/Ganje/master/Images/LinArcx/Screenshot%20from%202019-05-01%2012-44-17.png
Is there any way to include qt path to recognize it and get autocomplete for it?

[2019-05-01 08:27] yyoncho commented on #813
https://clang.llvm.org/extra/clangd/Installation.html#project-setup refer to clangd docs

[2019-05-01 08:27] #813 closed

[2019-05-01 08:29] #386 closed

[2019-05-01 11:43] LinArcX commented on #813
I read it, but I can't understand how to use it and integrate it with lsp-mode.
Any sample would be very helpful.

[2019-05-01 12:21] yyoncho commented on #813
It does not require any integration with lsp-mode - You should create a build/configuration file for clangd which follows the clangd semantics. It would be better to ask for help in clangd channels.

[2019-05-01 22:48] rsansores commented on #630
Facing the same problem,

This is in my emacs init configuration file:

[code]
I already installed globally typescript and typescript-lang-server. Added "~/.node-modules/bin/" to path thru /etc/profile and I can see in PATH typescript-language-server.

Tried the workaround of @VisionaryAppDev with no luck:

[code]

I always get the error: LSP :: No LSP server for typescript-mode.

[2019-05-02 06:04] yyoncho opened #814 "[Feature] add methods to add/remove blacklisted folders interactively"

[2019-05-02 06:43] yyoncho commented on #630
Emacs should be able to find it via `executable-find`. I assume that the path is not propagated properly to it.

I looked into the github project and there have been no commits in 3 months while javascript-typescript-stdio have commits just today. It looks like a more mantained project.

This might no longer be the case. It when I was testing them typescript language server was providing better co

[2019-05-02 07:01] rsansores commented on #630
I can do the testing and provide a complete report between each server in order to improve the documentation of lsp-mode. I just need some advice about how to switch between servers. Are you interested that I run the the testing?

I have both servers installed and correctly configured in path. My current configuration is this:

[code]
I don't see in the configuration anything related to the server

[2019-05-02 07:54] yyoncho commented on #630
@rsansores

We are interested in and encourage in any activity which will help us to improve lsp-mode's Emacs experience.

The servers are selected based on the priority (https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-clients.el#L140) and the presence of the server(you may check \*lsp-log\* buffer which logs some information about that). There are at least 5+ methods to change the server yo

[2019-05-02 21:02] sullivan- commented on #366
I have to say, I think you are making the wrong choice here. This breaks behavior of Xref:

https://www.gnu.org/software/emacs/manual/html_node/emacs/Looking-Up-Identifiers.html#Looking-Up-Identifiers

I think it would be better to not override `xref-find-definitions`, and provide a separate function for this LSP incompatible behavior instead.

[2019-05-03 12:32] tom-bowles opened #815 "Support C# via Omnisharp"
Omnisharp has supported LSP for ages, and it would really lovely if lsp-mode were to work with it.

I managed to get it sort-of running with

    (push (cons 'csharp-mode "csharp") lsp-language-id-configuration)

    (make-lsp-client :new-connection (lsp-stdio-connection '("omniSharp" "-lsp"))
                     :major-modes '(csharp-mode)
                     :server-id 'tom-omnisharp)

I had t

[2019-05-03 15:50] tom-bowles commented on #815
Specifically, that NullReferenceException was while handing a textDocument/documentSymbol request.

[2019-05-03 16:19] VisionaryAppDev commented on #630
If to change, I think create this interactive function might be easy especially when we need to switch back and forward.
[code]

Switching by calling **switching-js-server** or **switching-ts-server** and then call **lsp** to restart server.

[2019-05-03 16:37] yyoncho commented on #815
I am having some troubles installing the server, here it is my initial analysis:

1. The null pointer exception is probably omnisharp bug or lsp-mode is not sending settings that are expected by omnisharp. We should compare with what vscode is sending (e. g. in intitialialize request). Also, the issue might be caused by lsp-mode calling onHover on unexpected places(e. g. over =).
2. `Error running

[2019-05-03 16:40] tom-bowles commented on #815
Looks like the `Error running timer: (wrong-type-argument hash-table-p nil)` errors are due to Omnisharp returning `textDocument/hover responses` with nulls in, eg.

[code]

[2019-05-03 16:46] tom-bowles commented on #815
Just saw your comment. The call stack is below, but tracking it back led me to the above.

Yeah, comparing it to vscode is a good idea. I'll see if I can get an I/O trace from there to compare. Omnisharp seems to send a vast number of window/logMessage messages, which is making it awkward to inspect the messages. Is there a way to log the i/o to a file instead of a buffer, and/or to ask a server t

[2019-05-03 19:00] vibhavp commented on #815
If you're using the MELPA unstable version, setting `lsp-print-io` creates a `lsp-io` buffer for each corresponding project root, which you can then save to a file with <kbd>C-x-s</kbd>.

[2019-05-03 20:37] yyoncho commented on #815
@tom-bowles I still get

[code]
using the latest version of https://github.com/OmniSharp/omnisharp-roslyn/releases .

[2019-05-03 21:34] tom-bowles commented on #815
Yeah, the fix commit hasn't made it into a release yet. I had to build csharp-language-server-protocol and omnisharp and then copy the binaries from the former (containing the fix) into the publish folder of the latter (containing the omnisharp exe). I think the existing omnisharp release will start working once a new csharp-language-server-protocol release is published to nuget.org.

[2019-05-04 21:00] matklad opened #817 "Support `textDocument/selectionRange` request"
There's a new provisional API in the protocol: `textDocument/selectionRange`.

[spec](https://github.com/Microsoft/vscode-languageserver-node/blob/master/protocol/src/protocol.selectionRange.proposed.md)
[types](https://github.com/Microsoft/vscode-languageserver-node/blob/master/protocol/src/protocol.selectionRange.proposed.ts)

This API allows one to extend current selection to an encompassing sy

[2019-05-04 21:01] matklad commented on #817
Before this was an official proposal, we've implemented an ad-hoc extension for this in rust-analyzer, together with Emacs integration. This code might be a useful starting point: https://github.com/rust-analyzer/rust-analyzer/blob/aa7bdfd37f999607806cf47c0108d33a5b44b3e5/editors/emacs/ra-emacs-lsp.el#L104-L137

[2019-05-05 04:59] yyoncho commented on #817
@matklad thanks for the heads up. As a side note, I am excited for the rest of the stuff you have mentioned in the original issue report especially point 3 - https://github.com/Microsoft/language-server-protocol/issues/613

@vibhavp you may take a look at expand-region package. It allows plugging custom expand method function via er/try-expand-list so we can reuse pretty much everything.

[2019-05-05 08:49] #811 closed

[2019-05-05 21:10] otavio commented on #811
The warning is being shown even when it is installed.

[2019-05-05 21:31] otavio opened #818 "Symbol highlight not working on Rust"
When I put the cursor over a symbol, it does not highlight its uses. Has this been removed or is it a bug?

I did not find any reference about it on the current changelog.

[2019-05-06 05:12] yyoncho commented on #811
@otavio fixed with https://github.com/emacs-lsp/lsp-mode/commit/1800dac68f2a142ba551aa61037a0e35a85686db

[2019-05-06 05:23] yyoncho commented on #818
I checked it in latest lsp-mode and it works fine. Can you turn on the logging via lsp-print-io and inspect the textDocument/documentHighlight calls?

[2019-05-06 08:09] sp3ctum opened #819 "Unable to see signature help: Error running timer: (void-function lsp-cur-line-diagnostics)"
**Describe the bug**
A clear and concise description of what the bug is.
Getting an error when coding in a python file.

**To Reproduce**
Steps to reproduce the behavior:
- open a python file
- start `(lsp)` and `(lsp-ui-mode t)`
- move point to a line with some code

**Expected behavior**
Expected to see the function signature in an lsp-ui-sideline popup.

**Which Language Server did you use**
ls

[2019-05-06 08:15] sp3ctum commented on #819
This error started appearing when I updated spacemacs to the newest develop version, and updated all my packages  too. Before that, all things worked well.

I looked at this bug: https://github.com/emacs-lsp/lsp-mode/issues/801 but I think this may be a bit different. Any advice on how to work around this?

Here are my lsp related versions:
[code]

Oh, and for what it's worth, I can see errors fro

[2019-05-06 09:05] yyoncho commented on #819
It is too old, please upgrade.

[2019-05-06 09:05] #819 closed

[2019-05-06 09:44] fjl commented on #792
`window-configuration-change-hook` should be enough. Idea: send `didOpen` for all buffers displayed in a window initially, then send it lazily for other buffers when they are displayed.

[2019-05-06 10:04] sp3ctum commented on #819
Thanks, that was the issue. I'll be sure to check that better next time.

[2019-05-06 10:30] otavio commented on #818
It does. See:

[code]
What I can check next?

[2019-05-06 10:59] yyoncho commented on #818
The response with the same id - 1369

[2019-05-09 14:38] muirrn opened #820 "Symbol highlighting gets stuck sometimes"
**Describe the bug**
Sometimes symbols get stuck highlighted even after moving the cursor off them.

**To Reproduce**
Put cursor on symbol, observe that it is highlighted. Switch to a different buffer using the same language server. Run `M-x lsp-restart-workspace`. Wait for it to restart then go back to original buffer and move cursor. Notice that the highlighting doesn't disappear.

**Expected be

[2019-05-09 16:15] thanhvg opened #821 "[Feature] go to next/previous occurence of symbol in buffer"
The feature is similar spacemacs `*` but in spacemacs `*` is a generic approach it grabs not exactly the symbol but it is more like a dumb string search.

If this feature is not worth implementing, please give some hints so i can make  one for myself

Thanks

[2019-05-09 19:39] yyoncho commented on #821
We may implement this method by using either `textDocument/documentHighlight` which are scoped to the current buffer or by `textDocument/references` (which is not scoped to the current buffer). If you want to give it a try you may take a look at lsp--make-document-highlight-callback which is handling the rendering of the highlights. It will be good if we reuse the data for two subsequent calls to

[2019-05-09 19:43] yyoncho commented on #815
For some reason, I am unable to build the libraries on my machine so I will wait to be released before doing more investigations unless there is some other way to get the proper build. Btw it seems like vscode is not using lsp protocol.

[2019-05-10 10:37] MyOde opened #823 "flow-ls in some cases stops flymake from showing warnings"
**Describe the bug**
Using flymake and flymake-eslint checker, when using a custom flow type, sometimes flymake stops giving warnings.

**To Reproduce**
Steps to reproduce the behavior:
Fresh flow init.

This correctly reports expected eslint warnings via flymake, in this context:
no-unused-vars warnings for Foobar, foo and the console statement (as per the rules I've set):
[code]

While this does

[2019-05-10 10:52] tom-bowles commented on #815
I've asked on Slack if there's any widely-used client that uses LSP, but no response. It's not clear how mature the LSP implementation is.

[2019-05-11 02:06] Stebalien opened #824 "Stopping lsp-mode doesn't completely disable it for the buffer"
**Describe the bug**
`(lsp-mode -1)` doesn't completely disable the language server for the current buffer. Specifically, it doesn't also run `(lsp--managed-mode -1)` so things like the indent function are still set.

**To Reproduce**
Steps to reproduce the behavior:

1. Enable lsp-mode for a buffer.
2. Disable lsp-mode for the buffer.
3. Try to indent some code. It'll still use the language serve

[2019-05-11 07:03] vspinu opened #825 "wrong-type-argument spinner nil"
**Describe the bug**
I am constantly seeing `(wrong-type-argument spinner nil)` errors on various actions.

**To Reproduce**
`lsp-goto-implementation` and then RET in xref buffer

**Which Language Server did you use**
`lsp-java`

**OS**
ubuntu linux

**Error callstack**
[code]

Any ideas?

[2019-05-11 07:06] vspinu commented on #825
At the very moment I posted this I realized that I have an outdated spinner.el from git. Sorry for the noise :/

[2019-05-11 07:06] #825 closed

[2019-05-11 07:18] yyoncho commented on #824
I think that it is symmetrical to what enabling lsp-mode does - it doesn't start the lsp server. You may shutdown the server via lsp-shutdown-workspace which will result in the desired effect. If you are looking for a way to disconnect from the language server without killing the server we may introduce a method lsp-disconnect-workspace.

[2019-05-11 10:24] kevgs opened #826 "better handling of lsp-session parsing failure"
**Describe the bug**
`lsp-mode` is not working. I can't say when exactly it was broken.

**To Reproduce**
Steps to reproduce the behavior:
Open a file in my C++ project or call `M-x lsp`.

**Expected behavior**
There should be any errors.

**Which Language Server did you use**
Pretty recent `clangd` from development branch and the last `lsp-mode`.

**OS**
Ubuntu 19.04

**Error callstack**

[code]

[2019-05-11 11:03] yyoncho commented on #826
IMO you have created lsp-session-file with another emacs version. Deleting ~/.emacs.d/.lsp-session-v1 will fix your issue.

[2019-05-11 14:19] otavio commented on #818
Ok, it seems to be working now. I will see if I can reproduce it again and then I look for both request and responses.

[2019-05-11 18:50] kevgs commented on #826
That worked. Thank you so much for you help and great project!

[2019-05-11 18:53] kevgs commented on #826
I recently updated Ubuntu and thus Emacs too. But I wasn't attentive enough to notice that something broke right after that. Then I updated and reinstalled `emacs-lsp` and `clangd` in hope to fix my issue but it didn't help.

[2019-05-12 12:40] S-D- commented on #405
Hi, this doesn't work for me for some reason...
In my init.el I have:
[code]
and in .dir-locals.el:
[code]
But after I open a source file in the directory in `*ccls::sstderr*` I see:
[code]
While in `ccls-initialization-options` variable help i see the value set correctly.

The only way to make `ccls-initialization-options` set correctly is to do
[code]
in my init.el, but this configures `ccls-ini

[2019-05-12 13:30] madscientist opened #828 "Clarify the docs and setting for lsp-file-watch-ignored"
**Describe the bug**
After examining the code it appears that the values in `lsp-file-watch-ignored` are actually regexs not plain strings.  However neither the documentation nor the default values of this list reflect that.

It would be helpful if this was noted in the doc string for the variable, and also the default values appear to be incorrect; for example they contain `.git` which, if I'm un

[2019-05-12 14:01] yyoncho commented on #405
@S-D- what does `(print ccls-initialization-options)` outputs?

[2019-05-12 14:08] S-D- commented on #405
@yyoncho it outputs `(quote (:compilationDatabaseDirectory "build")` as expected

[2019-05-12 14:11] yyoncho commented on #405
@S-D- can you set lsp-print-io to t and then inspect the "initialize" message (it will be located in "\*lsp-log: ccls " buffer

[2019-05-12 14:28] yyoncho commented on #828
Yes, I think that we should do what you are proposing here with questions. Do you wanna work on PR?

[2019-05-12 14:33] S-D- commented on #405
Ah, I found a mistake...
Here is the initialization params from "lsp-log: ccls" buffer:
[code]
Looks like I shouldn't use quote in .dir-locals.el. After changing .dir-local.el to
[code]
everything works as expected.
Thanks for your help, @yyoncho!

[2019-05-12 14:33] madscientist commented on #828
OK can do

[2019-05-12 14:34] yyoncho commented on #405
@S-D-  You welcome (as a side note there is function add-dir-local-variable )

[2019-05-12 14:36] madscientist commented on #828
Question: is there another/better way to see which watches are registered, than looking at the `*lsp-log*` buffer?  That's simple enough, just wondering if there's a more exact way.

[2019-05-12 14:41] yyoncho commented on #828
This gives the dirs with watches `(ht-keys (lsp-session-watches (lsp-session)))`

[2019-05-12 14:56] madscientist commented on #828
Thanks; that appears to only give the root directory, though, not all the recursive directories...?  When I eval that in a buffer in my workspace I get a list with a single element but in `*lsp-log*` I can see lots of watched subdirectories.

[2019-05-12 14:58] yyoncho commented on #828
The subdirectories are available via ht-vals.

[2019-05-12 15:00] madscientist commented on #828
Got it thx.

[2019-05-12 16:09] madscientist commented on #828
While working on this, I noticed that it seems `lsp-file-watch-ignored` only applies to directories which exist when the project is started up (e.g., when the lsp hook is called for the first time in a project).  If I go in after that and make new directories which match any of the ignored regexps, that new directory is watched which is unexpected.

I don't know if this is a known issue?

[2019-05-12 16:17] yyoncho commented on #828
@madscientist see https://github.com/emacs-lsp/lsp-mode/issues/805

User @aureumleonis wanted to work on it but I guess you could fix it too if it is blocking you.

[2019-05-12 17:26] madscientist commented on #828
I wasn't planning on working on it.  I'll leave a comment there with what I'm seeing which looks slightly different (but could well be the same issue).

Can people confirm that the `make test` at master HEAD is 100% successful?  On my system, even without any changes to the `lsp-mode` code, I see:
[code]

[2019-05-12 17:30] yyoncho commented on #828
The file notification tests does not work unless you are using gui since they require sit-for function.

[2019-05-12 17:41] madscientist commented on #805
FYI what I'm seeing is that directories created after the initial project root has been watched, are not filtered by `lsp-file-watch-ignored`.  So for example if I have added the string `"\\.foo"` to my ignored list and I have a directory `aaa.foo` that exists before I start emacs, then when I start emacs and visit a file in that project I can see it does _not_ watch `aaa.foo` (as I expect).

Howe

[2019-05-12 17:54] madscientist commented on #828
Oh OK thanks.  Since these seem to be the tests most relevant to the changes I'm making, are there instructions somewhere for running them in an interactive Emacs session instead of batch mode?  I'm not that familiar with ert and ert-runner.

[2019-05-12 17:55] yyoncho commented on #828
you may use `ert-run-tests-interactively` or just eval the block in the test.

[2019-05-12 17:55] aureumleonis commented on #805
I fixed this locally but I've been procrastinating and haven't submitted a PR yet. I'll try to do it today

[2019-05-12 18:21] madscientist commented on #828
Unfortunately I'm too ignorant to know what to do with that information.  I tried running `cask emacs -Q -l lsp` then the above command, but it didn't find any tests to run so obviously there's something else that has to happen before these commands will work and I can't discover it from any docs etc. I've managed to find so far.

I guess I'll just submit the PR and someone else can run the tests

[2019-05-12 19:10] #828 closed

[2019-05-13 06:36] drwx opened #831 "Can we support lua language?"
Not know well about elisp, but hope lua support by default. Thanks.

[2019-05-13 07:04] yyoncho commented on #831
which lua language server is the best?

[2019-05-13 07:27] gdkrmr opened #832 "is julia officially supported?"
I added Julia (https://github.com/emacs-lsp/lsp-mode/pull/827) is Julia now officially supported, i.e. should I add it to the readme? Note that `lsp-julia` is not on Melpa yet.

[2019-05-13 07:28] yyoncho commented on #832
Feel free to add it to the readme.

[2019-05-13 08:29] #832 closed

[2019-05-13 17:53] Stebalien commented on #824
This is about buffer-local functionality, not the server/workspace. I'm just trying to disable lsp-mode in the current buffer to work around a bug.

[2019-05-13 17:59] yyoncho commented on #824
Ok,  then you need disconnect function. Can you share what is the bug?

[2019-05-13 18:31] Stebalien commented on #824
It's probably a bug in spacemacs but I'm not sure. Pasting while recording a macro seems to stop the macro recording and this appears to be related to indenting on paste.

[2019-05-13 18:38] yyoncho commented on #824
This is probably related to on-type-formatting. You may disable it via
[code]

[2019-05-13 18:54] Stebalien commented on #824
Unfortunately, spacemacs explicitly calls `indent-region` on past regardless.

[2019-05-13 19:06] yyoncho commented on #824
I see. If this is the problem, then `(setq-local indent-region-function nil)` should be fix it.

[2019-05-13 19:20] Stebalien commented on #824
Understood, I just want to fix the _actual_ problems (`(lsp-mode -1)` not fully disabling lsp-mode and indentation interfering with macros). However, I'll have to debug the latter a bit before reporting back.

[2019-05-13 22:44] thanhvg commented on #821
Here is my attempt: call `textDocument/documentHighlight` parse the result to a point list and use `goto-char` to go.

I didn't try to reuse any data with `lsp--make-document-highlight-callback` because:
- it is too complicated to me
- if highlight option is off, this is off also
- it would slow down highlighting process having to carry extra work for next/prev occurrence.

[code]

[2019-05-14 05:06] yyoncho commented on #821
Looks good!

What I meant is:

1. When you do next/previous and the highlights are on there is no need to get the data once more, you could use the data you already have to call the existing callback and get the highlights for free.
2. When highlights callbacks have already downloaded the data you may store it in buffer-local and use it directly when someone does next/previous(the data will be ava

[2019-05-14 06:54] thanhvg commented on #821
Great idea and thanks for your great insight.

What I want is the same feature of Spacemacs `*` so it never crossed my mind that it should take a prefix argument. Also it would be nice to have a go to first and go to last occurrence I think. However I fail to see prefix argument could simplify `lsp--make-goto-symbol-occurence-callback` as my elisp skill is limited.

Anyway that was as far as I can

[2019-05-14 15:36] #820 closed

[2019-05-14 15:56] yyoncho commented on #823
@MyOde what do flymake-running-backends return when you see the issue? Can you provide also all of the project files and eslint related configuration? (I do not use js/flow so it is hard to me to setup an env to reproduce the issue)

[2019-05-15 07:46] Qquanwei commented on #739
I Have the same error

[2019-05-15 07:49] yyoncho commented on #739
@Qquanwei make sure that you are using the latest version of lsp related packages and if the issue is still there please collect the logs and provide a project + steps to reproduce.

[2019-05-15 09:24] mostafah opened #835 "“.tsx” files are not recognized as TypeScript"
**Describe the bug**
LSP mode has stopped working for TypeScript files that have a `.tsx` extension. By “stopped working” I mean when I open a `.tsx` file, `lsp-mode` is not enabled for it. Even if I enable it manually, none of the features work: jumping to definitions, code completion, highlighting current variable at point in other places, `lsp-ui` does not show any information or report any err

[2019-05-15 15:08] yyoncho commented on #835
This error is not related to lsp mode, probably lsp was never called. I tried the code with the latest lsp-mode and it works fine with tsx files. Can you try M-x lsp

[2019-05-15 20:50] mostafah commented on #835
`M-x lsp` works. It enables LSP and all the features work. Thank you. So, that means there is a problem with my Emacs config, right?

Also, sorry for reporting an irrelevant bug report.

[2019-05-16 04:07] yyoncho commented on #835
Yes. No problems.

[2019-05-16 04:07] #835 closed

[2019-05-16 12:32] CSRaghunandan commented on #746
@yyoncho looks like this problem has resurfaced in the latest release :(

Any idea what caused the regression? It used to work before, but after updating lsp-* packages I am running into the same problem

[2019-05-17 03:08] yyoncho commented on #746
@CSRaghunandan what information do you need to debug the issue on your side?

[2019-05-17 17:23] vn-ki opened #837 "Moving cursor is very slow"
**Describe the bug**
A clear and concise description of what the bug is.

Cursor feels sluggish and stops at times when moving around files. I use spacemacs with evil-mode, in case that matters.

**To Reproduce**
Steps to reproduce the behavior:
- Navigating in a very small project (python and go)
- Cursor starts feeling sluggish and stops at times

**Expected behavior**
A clear and concise descri

[2019-05-17 17:29] yyoncho commented on #837
Can you set lsp-ui-doc-enable to nil, close and reopen the file and report back whether the issue has been solved?

[2019-05-17 17:34] vn-ki commented on #837
Yes, I can confirm that solves the sluggishness. Thanks for the quick reply and fix.

The doc was kind of a useful thing. Guess I can live without it. Is it possible to have it activate with a keybinding.

[2019-05-17 17:38] yyoncho commented on #837
We still need to fix that. I just wanted to confirm that this is what is causing the sluggishness on your system.

[2019-05-17 17:41] vn-ki commented on #837
@yyoncho In case it's important, in go files, it shows `LSP:: No identifier found` in the message in certain places, like at closing brackets.

[2019-05-17 17:44] yyoncho commented on #837
You may use `K` in normal state for the standard help.

go language servers break the lsp protocol by returning an error instead of returning nil. We may start eating the error istead of showing warning.

[2019-05-17 19:03] jimmywongroo commented on #641
@yyoncho This workaround defeats the purpose of the interactive option. Can't you set a hook in `kill-emacs-hook` to disable the restart prompt?

[2019-05-17 20:00] yyoncho commented on #641
@jimmywongroo we do that - https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-mode.el#L2201 and the issue does not reproduce with `emacs -q` . IMO some third-party package is triggering it but it requires more investigation.

[2019-05-18 06:08] artagnon opened #839 "LSP mode only activated on first file in project"
**Describe the bug**
When I <kbd>C-x</kbd><kbd>C-f</kbd> and open the very first C++ file from a project, lsp works as expected. However, when I open a second file in the project, my mode-line does not indicate that `lsp` is turned on. Manually attempting to start `lsp` is a no-op too.

**To Reproduce**
Clone a toy C++ project, say [mesosched](https://github.com/artagnon/mesosched), get spacemacs

[2019-05-18 06:20] yyoncho commented on #839
The errors you are seeing are coming from spacemacs. Use c++ layer in spacemacs like this:

;; It will pick clangd in case ccls is not present.
`(c-c++ :variables c-c++-backend 'lsp-ccls)`

or add `(spacemacs|define-jump-handlers c++-mode)` to user-init.

 When you call `lsp` and nothing happens, refer to `*lsp-log*`.

Please reopen if this is not sufficient to fix your issue.

[2019-05-18 06:20] #839 closed

[2019-05-18 17:12] #826 closed

[2019-05-18 18:43] yyoncho commented on #837
Fixed with https://github.com/emacs-lsp/lsp-ui/commit/ffb104b6e16b6c6ef17b906aec9ffb0f9e372a94

[2019-05-18 18:43] #837 closed

[2019-05-19 03:38] itome opened #840 "Consider using dart_analysis_server instead of dart_language_server"
`dart-sdk` now supports language server protocol by `dart_analysis_server`
https://github.com/dart-lang/sdk/blob/master/pkg/analysis_server/tool/lsp_spec/README.md

By using this implementation, we can use lsp-dart without any third party plugins.
And maybe `dart_analysis_server` is faster than `dart_language_server` (I compared with `vim-lsc` with `dart_analysis_server`)

[2019-05-19 04:45] yyoncho commented on #840
Willing to provide a PR?

[2019-05-19 11:33] itome commented on #840
I created pull request with minimum implementation. -> #841
I'm not familiar with LSP and lsp-mode, so maybe this pr contains some bags.

[2019-05-20 06:43] #840 closed

[2019-05-20 20:54] ram535 commented on #840
How do you run **analysis_server.dart.snapshot --lsp**?

When I tried to run it, it said that it is not an executable. And even if I make it executable with **chmod +x**, I can't run it.

[2019-05-21 01:38] itome commented on #840
@ram535
`analysis_server.dart.snapshot` is not executable but dart file.
So we should run
`dart analysis_server.dart.snapshot --lsp`
to run analysis_server.

[2019-05-21 01:47] greened opened #843 "Add example of use over TRAMP"
**Describe the bug**
Configuration of lsp-mode using TRAMP and, for example, clangd doesn't exist.

**To Reproduce**
I used the following config, which I'm not sure is correct.  According to the lsp log, clangd is found on the remote machine but it dies unexpectedly.  I am not sure how to fix it.
[code]

**Expected behavior**
An example of how to configure lsp-mode to operate over TRAMP.

**Which

[2019-05-21 04:20] yyoncho commented on #843
@greened can you try to get the stderr output by wrapping the clangd command on the remote machine with a stderr redirecting script(the problem is that when we are running a process over TRAMP we do not have separate stderr and stdout)? So if you create a wrapper script like that...

[code]

...you will be able to get the stderr output in `/tmp/error`(I haven't tested it)

[2019-05-21 05:55] yyoncho commented on #843
Just to make sure we are on the same page: you didn't write "/path/to/clangd" but the actual path to clangd? Because even if lsp-mode is stating that it has found the server you can't be sure when you are on the remote machine especially when you are on emacs <27 which does not support scanning the remote path.

[2019-05-21 13:27] kurnevsky opened #844 "Error during RLS configuration"
**Describe the bug**
Rust RLS 1.34.0 can't be configured because of the error:
[code]

At the same time it accepts `(:rust (:clippy_preference "on" :build_on_save t)) params so it seems one of default config options breaks it.

**To Reproduce**
Just run lsp on any rust project. To see this error set `RUST_LOG=rls=debug` environment variable.

**Which Language Server did you use**
lsp-rust

**OS**

[2019-05-21 13:43] kurnevsky commented on #844
It's because of `lsp-rust-features`. It seems it can't be Null, but empty array instead.

[2019-05-21 13:45] yyoncho commented on #844
Would you like to provide a PR?

[2019-05-21 15:09] #844 closed

[2019-05-21 17:14] ram535 commented on #840
I see, thanks.

[2019-05-21 18:47] muirrn opened #846 "Empty snippet tabstops show tabstop index"
**Describe the bug**
Inserting a snippet like `Foo(${1})` transforms to `Foo(1)`. It should not insert the "1" since there is no placeholder, only a tabstop. See "Snippet Syntax" in the [spec](https://microsoft.github.io/language-server-protocol/specification#textDocument_completion).

**To Reproduce**
Turn off `lsp-gopls-use-placeholders` and use gopls to complete something like the following:

!

[2019-05-21 22:23] zaethan commented on #661
I was able to make it (somewhat) work, by adding this to my config:

[code]

The first four "defines" where derived from the clangd section in lsp-clients.el and simply describe how the server should be started. (For building the Server I simply followed these instructions: https://github.com/vshaxe/vshaxe/wiki/Installation#from-source.)

I added the `defcustom lsp-clients-haxe-arguments`, as the

[2019-05-22 00:54] greened commented on #843
I created the script and now lsp behaves differently.  In the modeline there's a sort of progress-bar-like animation and the clangd-remote status is "starting."

In the outfile file I see:
[code]

[2019-05-22 01:07] greened commented on #843
Yes, "/path/to/clangd" has the real path in my config.

[2019-05-22 01:14] greened commented on #843
I also get much less output in the lsp log.  There's no JSON appearing, just messages about selecting clients.

[2019-05-22 01:22] greened commented on #843
I restarted emacs and now see some things in the lsp log.  clangd still reports rthe JSON parse error.  I presume this is what lsp is sending:
[code]
clangd reports:
[code]
So it doesn't like the end of the text.  I don't see what clangd is complaining about.

[2019-05-22 04:43] resultingCorrespondence opened #847 "Performance issues with CSS server"
**Describe the bug**
Frequent lag is experience while using completion from the CSS server.

**To Reproduce**
Here is my lsp-mode, lsp-ui, and company-lsp config (all packages were updated from Melpa today):
[code]

**Expected behavior**
Less lag when typing.

**Which Language Server did you use**
VSCodes CSS server

**OS**
macOS

**Error callstack**
I don't have the callstack, but here is the pro

[2019-05-22 05:00] yyoncho commented on #847
From what I can see:

1. Increase the `gc-cons-threshold` e. g. `(setq gc-cons-threshold 100000000)`. This will prevent:

2. As you can see there is no lsp-mode related function and most of the time under company-post-command is spend in waiting for the response and in json parsing. Can you post the report with emacs27 since this is the only way to avoid that issue?

[2019-05-22 05:12] resultingCorrespondence commented on #847
1. Increasing the garbage collection threshold seems to have solved the problem! There's occasional lag (I'm guessing this is when garbage collection is occurring), but it is much better now.

2. This was done on emacs27

Thanks for the help!

[2019-05-22 05:28] CSRaghunandan commented on #746
@yyoncho I'm not sure how I can even debug this issue at this point. After adding the configuration for `lsp-pyls-configuration-sources`, it worked for a while and it was always using flake8.

but somewhere around a couple of weeks ago, it stopped working and now is using pylint or flake8 randomly.

[2019-05-22 06:02] yyoncho commented on #847
This means that the emacs version that you are using is not compiled with the native json support. You may verify that by running `(fboundp 'json-parse-string)`. I would recommend filing a feature request against the maintainer of emacs-snapshot that you are installing (assuming that you are installing a package) or you could manually build it from sources. This will yield ~4 times speedup.

PS: c

[2019-05-22 06:02] #847 closed

[2019-05-22 07:07] yyoncho commented on #661
Thanks for doing the initial investigation! You may post a PR and I will try to help on fixing the issues when I got some free time. Also, it will be useful for us if you provide a sample haxe project.

Most of the issues are related to `lsp-mode` not being adjusted to haxe ls.

I need perf report to be able to diagnose it. Or you could to toggle-debug-on-quit and press C-g when it hangs and repor

[2019-05-22 07:33] zwpdbh commented on #739
Same error:
LSP :: Connected to [vls:217618 status:starting].
LSP :: Request initialize failed with message: Cannot read property 'config' of null

[2019-05-22 07:34] yyoncho commented on #739
@zwpdbh can you provide client-server logs + lsp-mode version that you are using + sample project to reproduce the issue?

[2019-05-22 07:37] zwpdbh commented on #739
Sorry, I am a newer to emacs.
So, how to print out the client-server logs.
lsp-mode           20190521.1509 dependency            LSP mode

[2019-05-22 07:40] yyoncho commented on #739
@zwpdbh if you are using the latest lsp-mode version then there is no need from logs. Can you provide a sample project to reproduce the issue(I have no vls knowledge).

[2019-05-22 07:46] zwpdbh commented on #739
The lsp-mode works very well with python, C/C++ and js. It is just has this error for vls.  I got assigned a task to do some development on other people's code. Currently, I don't have a sample project. I will provide one once I have a sample.

Thanks for developing lsp-mode.

[2019-05-22 07:48] yyoncho commented on #739
@zwpdbh you are hitting https://github.com/vuejs/vetur/issues/977 but we should be able to fix it client side.

[2019-05-22 07:49] zwpdbh commented on #739
@yyoncho Thanks for reply so quickly! Such a great community :).  I love Emacs.

[2019-05-22 13:56] resultingCorrespondence commented on #847
You're correct. It looks like it was compiled without native json parsing. I'll look into compiling it myself, but upping the gc threshold was enough to make this usable regardless.

I updated the reddit thread! Thanks again for all your help!

[2019-05-22 15:32] dgutov commented on #847
@yyoncho Have you tried

[code]

around strategic portions of the code? It showed a significant improvement in one project of mine, without asking the user to change that value globally.

[2019-05-22 15:45] yyoncho commented on #847
@dgutov thanks for pointing this out, I will try it.

[2019-05-22 19:00] yyoncho commented on #739
@Qquanwei @zwpdbh https://github.com/emacs-lsp/lsp-mode/commit/0e3cee842243f9875a88735d9c04e46c2703efba should fix your issues.

[2019-05-23 00:25] Daniel-V1 commented on #815
This might be possible soon - https://github.com/OmniSharp/omnisharp-roslyn/issues/1403. At the bottom of that issue is the good stuff.

For a long time, the omnisharp lsp stuff just wasn't getting any attention from their devs, but it looks like the fix is in one place, and there is a pull request to get it actually into the main/releasing branch. And oh man, it'll be awesome once its in, cuz the

[2019-05-23 02:17] shackra opened #850 "file missing: Cannot open load file, No such file or directory lsp-dart"
**Describe the bug**
when evaluation `(require 'lsp-clients)` an error occurs:

[code]

**To Reproduce**
at the commit 0e3cee842243f9875a88735d9c04e46c2703efba just evaluate `(require 'lsp-clients)`

**Expected behavior**
just lsp to work

**OS**
GNU/Linux

[2019-05-23 02:33] shackra commented on #850
was an issue with straight.el, doing `straight-rebuild-package` solved my problem.

[2019-05-23 02:33] #850 closed

[2019-05-23 09:57] itome opened #851 "Emacs freeze when dealing with large json response."
Related to https://github.com/dart-lang/sdk/issues/37060
Dart LSP returns very large json response to `textDocument/completion`.
This makes emacs freeze. May be json parsing process takes long time.
Any ideas to fix this?

[2019-05-23 12:19] yyoncho commented on #851
1. Switch to Emacs27 build from sources with native json support. It is 10 times faster(as per Eli's benchmarks).
2. Enable company-lsp caching via setting company-lsp-cache-candidates to auto/t.

This will make Emacs kind of usable but still, there is some lag when using dart language server(it was sending ~2mbs which were parsed for ~200ms on my machine if memory serves me right).

I raised that

[2019-05-23 14:18] Eli-Zaretskii commented on #851
Speed and responsiveness are two sides of the same coin.

In any case, your observations are from a year ago, how about trying the latest code?  It no longer calls UTF-8 decoding function when the string we get from Jansson library is UTF-8.

[2019-05-23 14:34] sebasmonia opened #852 "Slowness on Windows 10 - Emacs 26.2"
**Describe the bug**
Using Pyls, LSP hangs on typing.

**To Reproduce**
Steps to reproduce the behavior:
Opened a Python source file.
Typed
[code]
And by "tes", Emacs froze.

**Expected behavior**
I can type with no delay

**Which Language Server did you use**
Pyls

**OS**
Windows 10

**Error callstack**
I don't have one but used the profiler for CPU + Memory.
Not much interesting in CPU, but memo

[2019-05-23 14:50] yyoncho commented on #852
@sebasmonia it looks to me that this is memory profiler, we need the CPU profiler.

[2019-05-23 15:04] sebasmonia commented on #852
Mentioned in the report it's the memory one.

Will get you a CPU one soon but LSP had almost no CPU and GC was like 7%.

[2019-05-23 15:25] yyoncho commented on #852
@sebasmonia sorry, I jumped directly to the report. Can you do `toggle-debug-on-error` and press C-g when the blocking happens and then post the call stack? I really have no clue what could have caused this memory jump.

[2019-05-23 15:48] sebasmonia commented on #852
[code]
Call stack with `debug-on-quit`.

Will do another run for the CPU profiler.

[2019-05-23 15:55] sebasmonia commented on #852
CPU+memory, this time `lsp-ui` was enabled.

Memory:

[code]
CPU:
[code]

[2019-05-23 16:09] yyoncho commented on #852
Can you disable/remove company-capf backend and retry?

[2019-05-23 16:26] yyoncho commented on #851
@Eli-Zaretskii I think that I tested with emacs that was compiled with decoding disabled.

@itome do you plan to test with emacs 27.0 native parsing? I could do the performance testing but IMO it would be better to have a report from someone who is actually using dart for actual work. I hope that with @Eli-Zaretskii's help we could match VScode's performance.

[2019-05-23 17:20] itome commented on #851
@yyoncho Yeh, I will test emacs 27.
How can I get benchmark for `textDocument/completion` ?

[2019-05-23 17:34] yyoncho commented on #851
@itome Just use emacs as you normally do when coding and if the performance is sufficient for normal use we will consider this issue as fixed. Otherwise, do:

1. `M-x profiler-start`
2. Normal usage
3. `M-x profiler-report` and post the expanded performance report here or in a gist(`C-u` `TAB` to expand a node).

PS: do not forget to turn on company-lsp caching via `company-lsp-cache-candidates`

[2019-05-23 18:24] Eli-Zaretskii commented on #851
If you tried the latest master branch, then I don't understand your comment.  The discussion which you cited, where you said that native JSON support is slow, was a year ago, way before the current code which avoids decoding when possible was written and committed.

[2019-05-23 18:29] yyoncho commented on #851
@Eli-Zaretskii I meant something else but I think that there is no point to discuss that, let's focus on the current performance which is the only thing that really matters.

[2019-05-23 19:04] itome commented on #851
I installed 27.0.50 in my mac and here is profiler report ↓
https://gist.github.com/itome/3b19e96491856d4469bbcc1098b0d0ff
Native json support may have some better performance.

[2019-05-23 21:55] zaethan commented on #661
To avoid errors introduced in the git version of the language server, I now decided to use the version available from the vscode marketplace. I also use the haxe 4.0.0-rc2 version from their website instead of compiling haxe from the git repository. And I set up a special emacs config containing mostly parts that are actually needed for haxe-lsp.
This alone seems to have fixed some of the issues:

[2019-05-24 02:54] sebasmonia commented on #852
I tried again and same result.

CPU:
[code]

Memory:
[code]

[2019-05-24 06:07] yyoncho commented on #851
It is hard to tell from the perf reports but do you get freezes and are you satisfied with the performance when using emacs 27?

[2019-05-24 06:21] yyoncho commented on #661
I will take a look at that once you post a PR.

ATM this is the expected behaviour. I will check why the action is not applied.

It is up to you.

Yes.

Cool.

You could do that but you should also include instructions in the lsp-mode README what is the best way to obtain the server.

[2019-05-24 06:26] yyoncho commented on #852
I am puzzled what is causing this behaviour and it is not evident from the CPU/Memory report. Have you tried another language server?

[2019-05-24 07:42] itome commented on #851
@yyoncho
It's better but not satisfied.
Emacs freezing is fixed, but not completion is still late.

[2019-05-24 07:58] Eli-Zaretskii commented on #851
According to the profile, `sit-for`, called by `company--fetch-candidates`, takes the lion's share of the time.  Which seems to mean Emacs just wastes time waiting for some input.  So maybe the developers of Company could help you out.

[2019-05-24 08:38] magonreal commented on #746
Did you set `lsp-pyls-plugins-pylint-enabled` to `nil`?
In my spacemacs, pylint is also too resource hungry. With this setting, it doesn't get activated.

[2019-05-24 10:33] CSRaghunandan commented on #746
@magonreal I did not know about this variable.

Thanks a lot. I also found out that rope was being used instead of `jedi` by default. So, disabled that as well and now `lsp-python` is running so much better.

[2019-05-24 11:00] yyoncho commented on #95
Fixes by @itome with https://github.com/emacs-lsp/lsp-mode/pull/853

[2019-05-24 11:00] #95 closed

[2019-05-24 12:13] sebasmonia commented on #852
I use Omnisharp Emacs without issue.
I tested Eglot, and it's better, but given enough time it has the same effect.

Using lsp-mode with the MS Python server is also better but eventually degrades.

I used to use Elpy and it also had lag which my previous environment (before switching jobs) didn't have, but not nearly as pronounced as LSP.
Maybe something in my Python environment is causing this?

[2019-05-24 16:23] yyoncho commented on #843
It seems like lsp-mode is sending incorrect content-length headers. A similar issue was reported in gitter and it was caused by a non-ascii symbols in the path.

Can you wrap clangd with the following script which will collect raw client-server communication and attach it to the issue?

[code]

Also, if possible, can you try to start the server from another location, e. g. in `/tmp/`?

[2019-05-24 17:36] yyoncho commented on #846
The snippet expansion is happening in company-lsp. We may try to string replace ${1} with $1 which will fix the issue. @tigersoldier

[2019-05-24 17:56] muirrn commented on #846
Another workaround is to replace `${1}` with `${1:}` (i.e. explicitly add an empty value).

[2019-05-24 18:27] jimmywongroo commented on #641
The problem seems to be the workspace' shutdown-action is nil when the sentinel is invoked. The package that's causing this is [exec-path-from-shell](https://github.com/purcell/exec-path-from-shell)

[2019-05-25 06:22] madper opened #857 "lsp-ruby reports error after start."
**Describe the bug**
After start-up, the mini-bar shows tons of error message.  And in the meanwhile, most functions work with a huge delay. (Hover, code complete)

**To Reproduce**
Just open a ruby file.

**Which Language Server did you use**
Only lsp-ruby.

**OS**
Which os do you use?
Archlinux
**Error callstack**

Output of `*lsp-log*`
`Command "solargraph stdio" is present on the path.
Found t

[2019-05-25 12:31] #857 closed

[2019-05-26 09:08] yyoncho commented on #851
@itome can you update the lsp-mode README with instructions on how to install dart-lang SDK language server? I want to do run some performance tests. Based on the fact that emacs does not hang I think that most of the time is spent on the server and reading from stdout. I haven't checked that but if dart language server is using node IPC when it is running in vscode it does not hit the serializati

[2019-05-26 12:02] itome commented on #851
I created PR
https://github.com/emacs-lsp/lsp-mode/pull/859

[2019-05-27 02:09] GoingFast opened #861 "Rust and new RLS process for every new buffer"
Not sure if its a bug or intended, but its creating a new RLS process for every single new buffer. Havent noticed any perfomance issues to make me alert, but just right now noticed almost 10GB memory used by tens of RLS processes, its bit crazy. What can be done about it?

[2019-05-27 07:02] yyoncho commented on #861
Sounds like some misconfiguration, what does lsp-describe-session yields?

[2019-05-27 11:27] GoingFast commented on #861
[code]

this happens when I press "gd" which is "lsp-ui-peek-find-definitions".

my configuration:
[code]

[2019-05-27 15:31] yyoncho commented on #861
This is the expected behaviour when you have set lsp-auto-guess-root - when you open a new folder it looks for a project and automatically creates a new one if it is missing. I would recommend that option only if you are familiar with the lsp-mode/projectile/project internals. Alternativelly, you may use :library-folderns-fn (check lsp-pyls.el) to instruct lsp-mode to use these files as part of th