[2020-11-17 18:31] yyoncho commented on #2335
IMHO forcing the clients to catch cl-no-applicable-method will be worse. But anyway, it is your call, from my point of view it is one line fix on our side in not so critical section and it does not worth discussing.

[2020-11-17 19:12] dgutov commented on #2335
I mean, you make a good point.

I'd rather people migrated to using `project-root` only (and either declared dependency on Emacs 27.1+ or the latest project.el), but since you probably want to keep Emacs 26.1 compatibility, you can switch to only calling `project-roots` wrapped in `with-no-warnings`. And we can revisit this when we remove `project-roots` altogether and/or drop Emacs 26.1 compatibi

[2020-11-17 19:25] danp commented on #2335
I opened https://github.com/jcollard/elm-mode/issues/173. Sorry to say I'm not familiar enough with things to suggest what should happen in lsp-mode or elm-mode but thanks for discussing!

[2020-11-18 15:56] jarivm opened #2341 "[Documentation] Combine custom language server docs with generated docs"
Currently most language docs are automatically generated. Some, however are custom made and have to be updated manually (see the list below).

**Proposal**
It would be nice if the documentation supported a custom section, with generated documentation filled in. This would combine the generated documentation with the manually written documentation.

**Benefits**
- Automation ensures the functions a

[2020-11-18 16:10] yyoncho commented on #2341
Sounds good. What is your proposal, having placeholder(s) in the custom language documentation and populating them from the automatic one?

@ericdallo , any thoughts?

[2020-11-18 20:09] ericdallo commented on #2341
Yeah, some placeholder would be a solution, but I'm not sure if it's trivial, I think I can take a look on this this weekend :)

[2020-11-18 20:56] nbfalcon opened #2342 "`lsp-xref`: highlights at most one ref per summary"
**Describe the bug**
`lsp-xref-find-references` highlights the symbol being referenced, but only one of them per line.

**To Reproduce**
1. Open an `lsp`-managed file
2. Write something like "foo = foo"
3. `xref-find-references` with `point` on foo shows a single reference line, with only one of the two `foo`s highlighted.

**Expected behavior**
All references in an `xref` summary from `lsp` shoul

[2020-11-18 21:06] yyoncho commented on #2342
It works fine on my side.

[2020-11-18 21:13] nbfalcon commented on #2249
One issue I have seen is that it can make Emacs quite slow (scrolling) for very large code bases (probably because overlays aren't fast), e.g. when navigating trough Emacs' C source using `ccls`.

[2020-11-18 21:17] yyoncho commented on #2249
Hm, that might be a regression, can you post a perf report? The initial implementation had acceptable performance at least in the projects I tested with.

[2020-11-18 21:17] yyoncho commented on #2342
![Screenshot](https://user-images.githubusercontent.com/13259670/99589125-41f0ef00-29f4-11eb-9648-68e0a195049e.png)

[2020-11-18 23:18] ZekeMedley opened #2343 "LSP does incorrect traversal of root folder causing high cpu usage and emacs freeze"
I'm currently attempting to debug an Emacs freeze that occurs when I attempt to open a new Rust project that lives in a particular folder using `rust-analyzer`. When I open one of these projects, my Emacs hangs using `100%` CPU.

Following the the advice [here](https://emacs.stackexchange.com/a/649) about debugging a frozen Emacs and using lldb I am able to get a stack trace from Emacs and Emacs l

[2020-11-19 01:15] dgutov commented on #2335
@yyoncho To sum up, you should probably do this:

[code]

It's not as forward-looking, but it will keep working now and after `project-roots` is deleted from the package.

[2020-11-19 06:59] yyoncho commented on #2343
Use M-x lsp-workspace-folders-remove and remove the projects you don't want to be opened and make sure you are selecting the proper roots when you are asked initially. Note that rust-analyzer supports multi root project so once you have opened a rust project it will be opened to the same server in the next session. I am closing the bug but you can use it for further questions.

[2020-11-19 06:59] #2343 closed

[2020-11-19 07:07] ZekeMedley commented on #2343
That fixed it :) Thanks so much for the help. I had a feeling that the issue was something on my end.

[2020-11-19 11:22] jarivm commented on #2341
Yes, this is what I had in mind. Right now there are [two templates](https://github.com/emacs-lsp/lsp-mode/tree/master/docs/template). I propose combining these two into one, resulting in a template like this:

[code]

This template is then used by the [generation script](https://github.com/emacs-lsp/lsp-mode/blob/master/docs/lsp-doc.el) as usual, and the custom documentation is placed on the spot

[2020-11-19 12:37] yyoncho commented on #2341
Looks good to me. I would put the debugger and configuration installation section above the documentation section.

[2020-11-19 13:11] jarivm commented on #2341
Agreed.

[2020-11-19 16:49] yyoncho commented on #2341
@jarivm are you going to work on that? (I am asking in order to avoid collisions)

[2020-11-19 16:56] nbfalcon commented on #2342
You are right, everything works as it should; my problems were due to variable scope.

[2020-11-19 16:56] #2342 closed

[2020-11-19 20:40] dvzubarev commented on #1342
@Maverobot thanks, setting `lsp-enable-indentation` to `nil` helps to disable autoformatting (`Applying [some number] edits to [some file] ...done`). I use C++ with ccls.

[2020-11-20 04:45] leungbk opened #2345 "Sorbet support (Ruby)"
As mentioned on Gitter by @twopoint718.

[2020-11-20 11:59] jarivm commented on #2341
@yyoncho I thought @ericdallo would take a look at it this weekend, so I am not going to work on it. @ericdallo can you confirm this? Otherwise I will work on it next week :)

[2020-11-20 13:55] ericdallo commented on #2336
I think we can close this, right?

[2020-11-20 14:00] #2336 closed

[2020-11-20 15:34] ericdallo commented on #2341
Yes! it's done here: https://github.com/emacs-lsp/lsp-mode/pull/2346
Today it's a holiday in my country so I got some time to code that :)

[2020-11-20 18:50] JoeOsborn opened #2347 "Rust-analyzer automatic download on Mac OS uses wrong URL"
**Describe the bug**
On Mac OS, lsp-rust fails to download the rust-analyzer binary, instead fetching a text document containing just the string "Not found".

**To Reproduce**
Set up a fresh emacs environment on Mac OS with lsp and lsp-rust.  Open a rust file, allow lsp-rust to download rust-analyzer with the binary suffix `rust-analyzer-macos`, which results in a 404 error.

See [here](https://gi

[2020-11-20 19:00] #2347 closed

[2020-11-20 20:12] #2314 closed

[2020-11-21 07:31] #2345 closed

[2020-11-22 12:49] nbfalcon opened #2352 "`lsp-rename`: prepareRename: support LSP 3.16's { defaultBehaviour: true }"
As of version 3.16, "textDocument/prepareRename" may return a [special object](https://microsoft.github.io/language-server-protocol/specifications/specification-3-16/#textDocument_prepareRename), `{defaultBehaviour: true}`. We should support that in `lsp--get-symbol-to-rename`.

@yyoncho how should I do the check here? Is `lsp-get` sufficient, or can we somehow generate protocol bindings?

[2020-11-23 03:49] vuquangtam commented on #2316
Sorry for missing information
This is logs that i collected
*lsp-log*
[code]

*Profiler*
[code]

[2020-11-23 06:01] yyoncho commented on #2316
are you using latest lsp-mode? Is everything non-optional in M-x lsp-doctor green?

[2020-11-23 18:59] axelson opened #2355 "*lsp-log* buffer undo overflow"
**Describe the bug**
If running a server that generates a very large amount of output then the undo info can overflow

**To Reproduce**
I don't have this, but if it's needed I can generate one

**Expected behavior**
The undo buffer should not overflow because undo is not needed in this read-only buffer

**Which Language Server did you use**
ElixirLS (while developing on the server)

**OS**
Arch Li

[2020-11-23 22:11] smsegal opened #2356 "Zoom-mode conflicts with LSP-managed buffers"
When trying to use [zoom-mode](https://github.com/cyrus-and/zoom) to automatically resize windows, any LSP managed buffers don't resize on switching into and out of the window as expected.

Instead, the window only resizes after a key is pressed that will incidentally resize the window. In my case, as soon as which-key is invoked the zoom window resizing will take place.

This has occurred when us

[2020-11-23 22:17] smsegal commented on #2356
Slightly more experimentation reveals that this only occurs with `lsp-ui-mode` enabled as well. I'll close this issue and reopen it there.

[2020-11-23 22:17] #2356 closed

[2020-11-24 02:49] vuquangtam commented on #2316
Hi, i've just upgrade to lastest commit on master

After upgrade, it's show errors like this
[code]

My lsp-doctor result:
[code]

[2020-11-24 03:27] vuquangtam commented on #2316
After searching around, i fixed this issue
```https://github.com/emacs-lsp/lsp-mode/issues/2179```

I try to reproduce performance issue with lastest version, if it happens again i will reopen later, thanks for your support.

[2020-11-24 03:27] #2316 closed

[2020-11-24 11:05] XO39 opened #2359 "gopls error: unexpected gopls setting "gopls""
LSP mode: v20201122.931
Emacs: v27.1, darwin
GOPLS: v0.5.3
OS: macOS Big Sur v11.0.1

Whenever I open a go file, the server starts but then I get this message (unexpected gopls setting "gopls")

gopls is in my path, also GOPATH env variable is loaded correctly within emacs (checked with `getenv`)

Didn't have this issue before, and didn't edit any of the setting (I have only basic settings taken f

[2020-11-24 17:03] #2341 closed

[2020-11-25 02:49] zhangjie2012 commented on #2359
same situation

[2020-11-25 09:21] yyoncho commented on #2359
@muirdm is this a change in the latest gopls?

[2020-11-25 11:09] WnP opened #2362 "[elm-ls] Error from Language Server"
**Describe the bug**
A clear and concise description of what the bug is.

Opening a buffer with an elm file raise LSP errors:

[code]

**To Reproduce**

1) Install install elm-language-server as described in [lsp-mode elm language documentation](https://emacs-lsp.github.io/lsp-mode/page/lsp-elm/#installation)

[code]

2) Add `elm-mode` to [lsp-start-plain.el pkg-list](https://github.com/emacs-lsp/

[2020-11-25 16:02] muirdm commented on #2359
I don't think so.

@XO39 can you include your elisp gopls config and the lsp-mode debug info (run `M-x lsp-toggle-trace-io`, open a Go file to trigger gopls to start, run `M-x lsp-toggle-trace-io` to disable tracing, find RPC debug contents in `*lsp-log: gopls:<pid>*` buffer).

[2020-11-25 19:45] yyoncho commented on #2362
Can you provide client-server log?

[2020-11-26 21:46] WnP commented on #2362
Hi @yyoncho,

Actually both `*elm-js*` and `*elm-js::stderr*` buffers are empty. Only `*lsp-log*` buffer contain some logs.

If I test on an empty project:

[code]

Then `*lsp-log*` buffer looks like this:

[code]

But `elm` binary is in the path:

[code]
Here is the content of `/home/me/src/elm-lsp-test/elm.json`:

[code]

Which is the default one provide by `elm init` command. well, in fact `ENO

[2020-11-27 01:41] raxod502 opened #2364 "Automatic npm install fails"
**Describe the bug**
The automatic installation of `svelte-ls` seems to fail.

**To Reproduce**
I encounter the error by running `M-x lsp-install-server RET svelte-ls RET`. I inspected what command was being run when I typed that, and I get the same error message in the terminal as I do in Emacs:

[code]

I will note that I get progress messages from npm indicating successful downloads of dependen

[2020-11-27 01:44] raxod502 commented on #2364
Aha, if I manually create all of:

* `/home/raxod502/.emacs.d/.cache/lsp/npm/svelte-language-server`
* `/home/raxod502/.emacs.d/.cache/lsp/npm/svelte-language-server/bin`
* `/home/raxod502/.emacs.d/.cache/lsp/npm/svelte-language-server/lib`

then the installation does work.

[2020-11-27 06:58] dylrich commented on #2359
The same thing is happening to me. @muirdm here's my trace, forgive the length:

[code]

[2020-11-27 07:06] nbfalcon commented on #2364
I cannot reproduce, with `npm --version` = `6.14.8`. What is your version of `npm`? Also, is it enough to just create the svelte-language-server directory, without `bin`, `lib`, ....

[2020-11-27 14:17] raxod502 commented on #2364
* npm version 7.0.8
* no, at least creating the lib directory is needed, not just the top-level svelte-language-server directory

[2020-11-27 17:05] raxod502 commented on #2364
* creating the top-level directory + creating the lib directory are both required, creating the bin directory is not.

[2020-11-27 19:56] jguenther opened #2365 ""Regular expression too big" errors from lsp--file-process-event on file watch"
using latest lsp-mode from melpa in either a golang project (using `gopls`) or python project (`pyls`), I'm getting this error when changing a file (which for file `file-name-here` creates a tmp file `.#file-name-here`, which triggers the "on change" event):

[code]

tracing this fn I can see the `glob-pattern` passed to `lsp-glob-to-regexp` seems to be a comma-separated absolute path of every dir

[2020-11-27 20:03] yyoncho commented on #2365
@leungbk do you have a clue, what might be causing this?

[2020-11-28 17:32] artemkovalyov commented on #2230
Offtopic! Now I understand why ESlint also starts for JSON... That dirty inheritance thing.

[2020-11-28 17:40] yyoncho commented on #2230
That should be relatively easy to fix by changing the :activation-fn for eslint.

[2020-11-28 18:12] yyoncho commented on #2230
@artemkovalyov actually, willing to do a fix? I am asking to avoid collisions in case you want to provide a PR.

[2020-11-28 20:07] artemkovalyov commented on #2230
@yyoncho, the fix seems to be in the Rexex space: https://github.com/emacs-lsp/lsp-mode/pull/2367
The inheritance, in this case, was a fake guess after I checked the hierarchy.

[2020-11-28 22:11] nbfalcon opened #2368 "`lsp-lv-message`: not enough `format` arguments"
`lsp-lv-message`, if set as `lsp-signature-function`, is called with the signature info unmodified, passing it to `lv-message`, which passes it to `format`, unmodified.

`clangd` sends the following `signatureHelp` for `std::sregex_token_iterator`: "[...] a *%r*egex_token_iterator.\n\n A default-constructed *%r*egex_token_iterator [...]" (emphasis mine).

The fix (in `lsp-lv-message`):
[code]
I'll

[2020-11-29 09:52] #2368 closed

[2020-11-29 14:47] WnP commented on #2362
Hi @yyoncho,

I'm closing this issue because:
- `ENOENT` error can be avoided using `lsp-elm-elm-path`
- original error doesn't affect lsp-mode as far as I can see.

Also, must of the other bug I can see looks coming from the language server itself and no lsp-mode.

[2020-11-29 14:47] #2362 closed

[2020-11-29 18:23] yyoncho commented on #2362
@WnP thank you

[2020-11-30 14:24] nbfalcon commented on #2365
@yyoncho if the server indeed responds with 60KB globs, the regexp would be too big:
[code]
fails with the same error. Since the glob patterns are apparently prefixed with the same directory, we could maybe do some optimizations in `lsp--glob-to-regex`, perhaps using `regex-opt` or an AST form.

Here are the options I see here:
- Leverage `regexp-opt` to shorten the regexes (same prefix folding)
-

[2020-11-30 15:21] yyoncho commented on #2365
At this point, I don't know if the issue is with the glob or with our conversion function. @leungbk to confirm that.

I am not familiar with that.

We could write a glob matching engine. This could go in a separate package.

We may ask them, but after all the issue is on our side.

[2020-11-30 15:24] nbfalcon commented on #2365
@yyoncho the user reported 60KB globs; `lsp--regex-to-glob` doesn't produce regexes smaller than the input globs, so the result would be a regex larger than 60KB. From my `string-match` example, we know that 60KB is already too much. `regexp-opt` is basically regexp-quote + an efficient or concatenation (same prefix folding included).

[2020-11-30 15:44] yyoncho commented on #2365
cc @muirdm

[2020-11-30 15:52] muirdm commented on #2365
gopls now sends a giant file watching glob containing each individual directory (https://go-review.googlesource.com/c/tools/+/271438).

It doesn't seem great since it precludes using the OS's built in efficient recursive directory watcher (if available), but I don't know the details.

[2020-11-30 17:10] muirdm commented on #2359
Below is what my workspace/configuration response looks like (I don't have the "gopls" section). Perhaps the problem is the workspace/configuration request from gopls is different for you? I'm not sure exactly why you have "gopls-dev", but I think on master gopls won't send that additional entry (i.e. it will only send "gopls" like I get). Can you try gopls on master?

[code]

[2020-11-30 19:27] mullr commented on #1621
This happens for me pretty frequently. It is *maybe* associated with using lsp-ui; not clear yet.

[2020-12-01 00:37] XO39 commented on #2359
Sorry for the delay in reply, have been out of town for a few days and have no access to my computer. I'll post back when I'm back if still need to.

[2020-12-01 04:03] leungbk commented on #2365
@jguenther Please see if #2373 fixes your issue. It's pretty simplistic, but it should serve as a workaround for the giant top-level braced expression.

If it doesn't fix your issue, I could try de-bracing at the inner recursive levels as well.

[2020-12-01 09:18] zhangjie2012 commented on #2359
[code]

[2020-12-01 11:26] jimeh commented on #2359
I have the same issue. My config isn't that special, only sets `gopls.gofumpt` to true:

[code]

(full config is [here](https://github.com/jimeh/.emacs.d/blob/9254df7905177efb72e9f834bb5ef4d62a0f0ef7/modules/languages/siren-golang.el#L70-L89))

The relevant part from the trace is:

[code]

<details>
<summary>Full trace log:</summary>

[code]

</details>

[2020-12-01 11:46] jimeh commented on #2359
I just reverted lsp-mode back to git tag 7.0.1 (4db1151d) rather than the latest from `master`, and now it works correctly again, with the configuration not being wrapped within a `gopls` key:

[code]

There's currently 252 commits on `master` after 7.0.1, and I haven't spent any time on trying to bisect at which commit this issue appears. If I have time I might try so later this week.

[2020-12-01 12:22] shuxiao9058 commented on #2359
the same issue.

[2020-12-01 12:26] jimeh commented on #2359
PR #2015 is the cause of this issue. Using the commit before it was merged, or reverting the changes from the commit on master fixes the issue.

However, on master it also seems that applying formatting fixes takes about a second vs being instant in 7.0.1. But that's a separate thing I'll poke at some point. For now I think I'll just use 7.0.1.

[2020-12-01 13:44] yyoncho commented on #2178
@leungbk I am seeing that you have assigned this bug to you, are you working on that?

[2020-12-01 15:09] slippycheeze commented on #2285
note: you can extend the core pcase system, see https://www.gnu.org/software/emacs/manual/html_node/elisp/Extending-pcase.html#Extending-pcase

that'd allow pattern extensions like `lsp-location` without needing to wrap pcase in your own system.  (and work with `pcase-let` and friends for free.

[2020-12-01 19:24] leungbk commented on #2178
Sorry, I haven't been working on it much; I had a look at Treemacs' API a few weeks ago, and then started wondering about the internals, including how Treemacs nodes can be cached to avoid re-rendering. It seems to me that the caching that `lsp-mode` would have to do would be implemented as you've stated in this thread, but without simultaneously rewriting the relevant parts of `lsp-treemacs`, we'

[2020-12-01 20:11] yyoncho commented on #2178
No worries, I just wanted to know if the issue is available.

[2020-12-01 21:12] jguenther commented on #2365
thanks for the responses all _!_

@nbfalcon

I had thought that the server was responding with a glob like `**/foo`, not a the 60KB glob, and something in lsp was converting it to that giant 60KB glob. but I'm not 100% sure on that. I can try to reproduce this in an example project when I find some time though

seems like this would be a good approach

It didn't seem to be specific to gopls (also

[2020-12-02 09:28] nbfalcon commented on #2365
@jguenther `lsp--glob-to-regex` doesn't explode paths like that - "*" = [^/\\\\], but nothing more.

`gopls`, `pyls`, ,... could be changed to do same prefix folding, so that they would send `project{filea, dirb{filea,...}}` instead. However, that is neither a good nor a feasible approach (which is why I put it last), because there are many language servers, and this is a bug in `lsp-mode` (we sho

[2020-12-02 11:47] rhoit commented on #655
I was able to run `lsp-org` normally but it doesn't work for `org-babel-expand-src-block` like shown by @seagle0128 [comment](https://github.com/emacs-lsp/lsp-mode/issues/655#issuecomment-592541156)

[2020-12-02 13:29] benreyn commented on #2127
Coming in late to the thread, but Im having the warnings issues as well.

It looks like you already have this on a branch @yyoncho. Is there a reason that this can't just be opened as a PR to upstream it? If not, what needs to be done so that it can?

[2020-12-02 15:02] seagle0128 commented on #655
You should refer to https://github.com/seagle0128/.emacs.d/blob/master/lisp/init-lsp.el#L444.

[2020-12-02 23:56] betaprior commented on #2359
I'm running into this error every time I run `M-x lsp-restart-workspace`. Otherwise things work (using LSP mode from Nov. 13 master, gopls 0.5.3)

[2020-12-03 00:15] shackra opened #2374 "tsconfig.json overridden values not respected showing false positives on linting"
**Describe the bug**
tsconfg.json `extends` is not being respected, highlighting several false positive.

**To Reproduce**
- clone https://github.com/shackra/stackoverflow-alias-bug
- start emacs with `-q` and load https://github.com/emacs-lsp/lsp-mode/blob/master/scripts/lsp-start-plain.el
- visit `stackoverflow-alias-bug/src/App.tsx`, run `lsp` and wait for linting errors that shouldn't exist
-

[2020-12-03 03:15] jcs090218 commented on #2355
We should probably stop `undo`/`redo` in the log buffer? 😕

Thanks for reporting this issue to us! 👍

[2020-12-03 17:29] axelson commented on #2355
yeah it seems like unnecessary memory use

[2020-12-03 18:35] yyoncho commented on #2374
What is the expected fix here? lsp-mode is reporting what the server has sent to it.

[2020-12-03 19:29] shackra commented on #2374
well, I wonder why the server isn't honoring `tsconfig.json`, if I change the values directly on `tsconfig.json` things works but that's a no-no with `create-react-app` applications since react-scripts override everything in the file except the `extends` option.

[2020-12-04 08:51] martin5233 opened #2375 "Remote mode not working due to CR/LF conversion"
I have set up clangd for lsp-mode, which works fine, when the clangd server is on the same machine as emacs. I have also attempted to use this remotely. In this case both involved machines are Linux, Emacs version is 27.1. The definition of the lsp client is as follows:
[code]
I have written a small wrapper script as found somewhere on the internet, which redirects stdout and stderr of clangd to s

[2020-12-04 09:08] yyoncho commented on #2375
Can you test by setting `inhibit-eol-conversion` to t? I think we had issues with this in the past.

[2020-12-04 10:48] krei-del commented on #1884
I agree, too. Messages that are not shown with lsp--info could still be part of lsp-log ...

[2020-12-04 12:30] martin5233 commented on #2375
Hi @yyoncho, thanks a lot for your quick response. Unfortunately changing this setting doesn't change anything. Is there anything else that I can try?

[2020-12-04 13:20] yyoncho commented on #2375
I researched that in the past but I didn't remember what was the solution if any. What we can try is to isolate an example and go and ask the tramp maintainer because I am not really familiar with these internal details. Also, the issue is env specific.

I would try also changing the following line in tramp connection `(set-process-coding-system proc 'binary 'binary)` to `(set-process-coding-syste

[2020-12-04 13:34] martin5233 commented on #2375
Hi @yyoncho: I tried changing the process coding system as you suggested, but still no improvement. I made an additional weird observation:
When I kill clangd each time, when it hangs after producing the error, the connection will eventually succeed after 10-20 attempts. That means, that there is some strange phenomenon, which either depends on timing or other environment issues. After the connect

[2020-12-04 13:38] martin5233 commented on #2375
@yyoncho: I just looked at the code, where set-process-coding-system is called and there's one thing, I don't understand. If I understand the code correctly, then start-file-process-shell-command is invoked before setting the coding system, which seems wrong to me. Shouldn't all the process settings be done before invoking start-file-process-shell-command?

[2020-12-04 13:43] yyoncho commented on #2375
IMHO it should be fine since we haven't started writing to that process and that conversion is only an emacs thing.

[2020-12-04 16:00] nickenchev opened #2377 "Overloads List - Minibuffer Scrolling"
Please ask your questions at https://gitter.im/emacs-lsp/lsp-mode
Hi, can you please tell me how I can scroll the minibuffer and see the rest of the overloads for a particular method? Seems like none of my google searches about how to scroll the minibuffer yield anything.

![Screenshot_20201204_105924](https://user-images.githubusercontent.com/8262271/101185452-e2175c80-361f-11eb-86bc-5a1ce803eeca

[2020-12-04 16:16] yyoncho commented on #2377
Use M-n/M-p.

[2020-12-04 16:16] #2377 closed

[2020-12-04 16:18] jcs090218 commented on #2355
This should fix by #2376. Feel free to reopen this issue if you find out useful! Thanks! 😄

[2020-12-04 16:18] #2355 closed

[2020-12-04 18:53] petr-tik commented on #2375
I am experiencing the same problem with clangd over tramp as I previously mentioned on https://github.com/emacs-lsp/lsp-mode/issues/1845#issuecomment-722015244. I cannot share logs unfortunately, however I can confirm that the error message is the same "Expected , or } after object property" in lsp-log and when I examine the stdin of the clangd process on remote, I find seemingly correct JSON miss

[2020-12-04 19:13] axelson commented on #2355
@jcs090218 Thanks!

[2020-12-05 00:09] jtsiros commented on #2359
As @jimeh suggested, If your running `doom-emacs` you can revert to 7.0.1 ([4db1151](https://github.com/emacs-lsp/lsp-mode/commit/4db1151dbf1fe84769433d841e90803448b0b354)) by modifying the pinned commit  in `~/.emacs.d/modules/tools/lsp/packages.el`:

`(package! lsp-mode :pin "5005ebea57cd1e05f924d4e5653c1abc9fe212dd")`
to:
`(package! lsp-mode :pin "4db1151dbf1fe84769433d841e90803448b0b354")`

[2020-12-05 03:43] leungbk commented on #2359
@jimeh Would you mind posting reproduction steps, including some repo in which this error is observed? I tried using `gopls` 0.5.3 + the latest `lsp-mode` within the `direnv` repo, but haven't managed to get this output; I instead see the configuration without the `gopls` key.

[2020-12-05 07:49] leungbk commented on #2359
This seems to fix the problem:

[code]

`#'ht-get*` behaves differently now; I'm guessing it's a bug, so I filed an issue at the upstream repo.

I noticed that the `section?` string in a `ConfigurationItem` can be of the form ` "gopls-PROJECTNAME"`, for example ` "gopls-direnv"`. The above patch returns `nil` for those, and the vector returned by the function at the end can in general have `nil` e

[2020-12-05 10:52] jo-so opened #2378 "lsp--document-highlight fails if textDocument/documentHighlight is not supported"
**Describe the bug**

I get this error message for a Rust file that uses *rls*:

This is the backtrace of the error:

    Debugger entered--Lisp error: (error "The connected server(s) does not support method te...")
      signal(error ("The connected server(s) does not support method te..."))
      error("The connected server(s) does not support method %s..." "textDocument/documentHighlight")

[2020-12-05 10:58] yyoncho commented on #2378
Willing to open a PR?

In general, we are not supposed to call that method at all when `(lsp-feature? "textDocument/documentHighlight")` is nil. It seems like there is a path that allows that.

[2020-12-05 14:20] jo-so commented on #2378
Yes, I would send a PR.

I've dug a little bit deeper and I think this is the code path that adds the function:

[code]

Don't care about the error. Is caused by my debugging code.

This is the return value of `(lsp-feature? "textDocument/documentHighlight")`:

[code]

Does the detection of a not available feature happen after the first request? Must the function get unbound from the hook when thi

[2020-12-05 16:00] yyoncho commented on #2378
This means that highlights are supported.

Can you elaborate?

I am interested in the value of `(lsp-workspaces)` when the issue happens. I suspect that we somehow subscribe the hook with the feature available and then somehow the hook runs in a buffer withtout language server connection. But I was unable to find a reproducer for the issue.

[2020-12-05 16:01] muirdm commented on #2359
Those were an undocumented way to have separate per-workspace gopls settings. That functionality has been removed from gopls in https://go-review.googlesource.com/c/tools/+/269597 so I think we should just ignore the non "gopls"sections.

[2020-12-05 16:11] yyoncho commented on #2359
I got a bit lost - do we need a fix on lsp-mode side?

[2020-12-05 16:23] muirdm commented on #2359
I think gopls v0.5.5 includes the above change and will only send "gopls" section. I presume no change is required in lsp-mode if people upgrade gopls. Or we can work around it as well in lsp-mode to prevent errors until people upgrade gopls (but they would need to update lsp-mode).

[2020-12-05 18:12] yyoncho commented on #2359
@leungbk

I think that we should return an empty map here.

[2020-12-05 18:43] cbio-mannyschneck commented on #2359
Thank you all for figuring this out!

[2020-12-06 01:37] #2359 closed

[2020-12-06 02:02] route616 opened #2381 "How I can launch D Language server?"
I installed lsp-mode & d-mode and wrote the following to the config:
[code]
also tried:
[code]
In response, writes to the log:
"Symbol's function definition is void: lsp-register-client"

[2020-12-06 08:19] yyoncho commented on #2381
it should be wrapped with `(with-eval-after-load 'lsp-mode ...)`

[2020-12-06 10:50] route616 commented on #2381
BIG THX! I lost 3 days.)

[2020-12-06 10:50] #2381 closed

[2020-12-06 18:30] jo-so commented on #2378
This case is very difficult, but after a long research I've got all pieces together. The core if the problem is *desktop-save-mode*. In *desktop-restore-file-buffer* it does:

[code]

It opens the file and if the *major-mode* do not match the saved major mode, it switches. A few weeks ago, I've installed *rustic-mode* and *lsp-mode* via *package-list-packages*. Rustic sets itself as the major mode

[2020-12-06 19:00] yyoncho commented on #2378
Thank you, this is was a really tricky thing to find!

It seems to me that we should use change-major-mode-hook which is called in kill-all-local-variables to call lsp-disconnect.

[2020-12-07 01:23] leungbk commented on #2365
@jguenther Have you managed to confirm whether #2373 fixes your issue? I'm not knowledgeable with `gopls` or `pyls`, so I'm not sure how to reproduce the issue. The workaround is a bit awkward, so I don't want to merge until I can confirm that it resolves your problem.

[2020-12-07 18:34] petr-tik commented on #2278
from
https://llvm.discourse.group/t/clangd-lsp-with-emacs-external-library/1593/4

I guess we could replicate this heuristic

[2020-12-08 02:32] jimeh opened #2386 "With lsp-organize-imports as a before-save-hook, saving immediately after editing lags for a 0.5-1 seconds"
**Describe the bug**

When using `lsp-organize-imports` as a before-save hook, after PR #2025 triggering a save immediately after modifying buffer content causes a slight delay/lag with applying the formatting changes. While if you make a change, wait around 1 second and trigger a save, the formatting changes apply instantly.

I have narrowed it down to commit a2896d5b (#2025), the commit before i

[2020-12-08 07:53] yyoncho commented on #2386
Thank you for the analysis. I really don't see how  a2896d5 could cause that issue unless it is related to the GC. If it generates a lot of garbage, then that would cause the freeze. I know that gopls sends some huge globs so that might be causing the memory explosion. But that freeze will happen non-deterministically, not only on save which is odd. Do you reproduce it with setup 100% of the time?

[2020-12-08 07:53] yyoncho commented on #2386
cc @leungbk

[2020-12-08 09:01] jimeh commented on #2386
@yyoncho Yeah, I had a quick look at the commit and couldn’t quite understand what might be causing the delay. But I am so far able to reproduce it 100% of the time during the testing I did last night to put together this issue. I had noticed it on and off before then, but for now I’m assuming that’s due to the timing of when I saved.

With my personal config I took inspiration from doom-emacs ear

[2020-12-08 10:43] jimeh commented on #2386
After some more experimentation with the two start-plain files, I've made a few more discoveries:

- Setting both `gc-cons-threshold` and `read-process-output-max` to 1GiB (`(* 1024 1024 1024)`) does not help with the issue.
- I disabled the `lsp-organize-imports` before-save hook and setup a keybinding (`C-c C-f`) to run it manually, and discovered:
  - Delay happens only the first time `lsp-orga

[2020-12-08 12:04] jo-so commented on #2378
What do you think about this change? Is it right?

[code]

[2020-12-08 12:15] yyoncho commented on #2378
Looks good to me. I would put it in lsp-managed-mode and add also remove-hook when lsp-managed mode is turned off.

[2020-12-08 18:35] leungbk commented on #2386
Setting `create-lockfiles` to `nil` seems to make the issue go away with the following startup file, which differs by your first `lsp-start-plain` by only that statement:

[code]

The reason it was faster before was that the old glob function we used didn't convert to the correct regexp, preventing a `workspace/didWatchChangedFiles` notification from being sent.

[2020-12-08 19:49] nbfalcon opened #2390 "`lsp-interface`: don't pollute the `dash-expand` namespace"
`lsp-interface` creates unnamespaced expanders for every interface. As new ones get added, more and more `dash-expand` functions will be taken. This doesn't actually cause issues yet, but might in the future (wrt. backwards-compatibility).

[2020-12-08 20:18] leungbk commented on #2386
I'm thinking we should simply guard `lsp--file-process-event` with a check to ensure that it always ignores lockfiles.

[2020-12-08 20:25] yyoncho commented on #2386
@leungbk that is a very good idea. We could skip the backup files as well.

[2020-12-09 00:12] jguenther commented on #2365
@leungbk I will try that out when I can, thank you. should be later tonight or tomorrow evening :+1:

[2020-12-09 00:14] realwhz commented on #2375
I recently started using lsp-mode.  It works properly on my Linux box.  However, yesterday I tried it on my macbook and got the same error.  Specifically, my Linux box and MacBook remotely connect to the same Linux server and MacBook instance has the issue.

[2020-12-09 00:20] petr-tik commented on #2375
If I understand you correctly, you have 2 different clients - Mac and Linux connecting to a remote Linux box and only one of them connects successfully?

This could be a great way to reproduce. Can you please share more details about your emacs configuration and version on both clients as well as the lsp server version on the remote machine?

[2020-12-09 00:28] realwhz commented on #2375
@petr-tik yes, Mac and Linux laptops connect to the same remote Linux server and Mac has the issue.  Here are the configurations:

Linux laptop (working): Arch Linux, GNU Emacs 27.1, lsp-mode 20201206.1844
Macbook (not working): GNU Emacs 27.1, lsp-mode 20201206.1844

Emacs configuration for lsp-mode
(lsp-register-client
    (make-lsp-client :new-connection (lsp-tramp-connection "clangd")

[2020-12-09 03:12] roderick-liu opened #2392 "what 's the reason ? LSP :: one.py not in project or it is blacklisted."
Please ask your questions at https://gitter.im/emacs-lsp/lsp-mode
LSP :: one.py not in project or it is blacklisted.

[2020-12-09 03:44] jcs090218 commented on #2392
Is the file `one.py` inside the project or has been added to blacklist? If yes, then LSP wouldn't start.

[2020-12-09 07:04] nbfalcon commented on #2392
You probably pressed "Esc" when the "LSP import project" prompt came, unless you blacklisted it explicitly using `lsp-blacklist-project` (which is unlikely).

All you need to do to fix this is to press `M-x lsp` followed by `i`, with one.py as the current buffer.

[2020-12-09 07:35] yyoncho commented on #2375
I asked the tramp maintainer in emacs-devel, hopefully, soon we will come up with a solution.

[2020-12-09 18:05] jguenther commented on #2365
@leungbk the version of lsp-mode.el from #2373 does seem to fix this for me

it seems I can reproduce it consistently by opening a go file in a go project that has lots of files, and then switching git branches (I managed to reproduce it by opening the [gopls repo itself](https://github.com/golang/tools) today)

before applying the fix, I got the regex too big error. after the fix, I no longer get

[2020-12-09 18:08] #2365 closed

[2020-12-09 18:25] #2386 closed

[2020-12-10 00:24] petr-tik commented on #2375
https://lists.gnu.org/archive/html/emacs-devel/2020-12/msg00498.html

To clarify, I was echoing the original issue report

Both machines are also linux in my case, so I am not sure if the mac-specific fix will be enough. Fingers crossed.

[2020-12-10 03:31] evanlouie commented on #2235
Deno 1.6 just released a built in LSP https://deno.land/posts/v1.6#built-in-deno-language-server

[2020-12-10 09:23] jo-so opened #2395 "Improve error message"
**Describe the bug**

Using Rustic and lsp-mode for rust files gives me *sometimes* the message `LSP :: Error from the Language Server: Rust Analyzer is still loading... (Unknown error)` This is not very helpful.

**To Reproduce**

I don't have a clear way to reproduce it, I only open some rust files and sometimes the message comes, often not.

**Expected behavior**

It would be more helpful to ge

[2020-12-10 09:27] jo-so commented on #2395
Sorry, forgot to mention the bad response (I found after some digging through the code):

[code]

[2020-12-10 10:27] HumHongeKamyaab opened #2396 "C/C++ tutorial minimal config"
I found minimal config found on C/C++ lsp very useful.
https://github.com/emacs-lsp/lsp-mode/blob/master/docs/tutorials/CPP-guide.md#lsp-mode-configuration

I have some suggestion/feedback on minimal config ...
- Can you add more comments in it to tell which line do what in emacs/elisp
- Can you modify/suggest this config for `use-package` users
- Also some people prefer `ivy` over helm, can you s

[2020-12-10 10:44] yyoncho commented on #2396
Thank you for the feedback.

First, have you checked SystemCrafters tutorials https://www.youtube.com/watch?v=E-NAM9U5JYE&list=PLEoMzSkcN8oNvsrtk_iZSb94krGRofFjN ?

What I would suggest addressing your points is to have a separate tutorial that is not language-specific. I want to keep the minimal example minimal so we can reuse it in the other language-specific tutorials. It won't be convenient to

[2020-12-10 11:05] HumHongeKamyaab commented on #2396
Thanks for the reply.

I agree with your point. I came to lsp-mode due to SystemCrafters youtube video (https://github.com/daviwil/emacs-from-scratch) . He has not made video of C/C++ yet, so I was trying to configure it myself.

Also I would like to point that if this is minimal config, then it should not specific to `helm` package which defeats purpose of minimal config. Also in general, using `

[2020-12-10 11:24] yyoncho commented on #2396
The idea is to have a minimal *functional* config. In general. The config will work without projectile, company, lsp-treemacs, flymake, etc. as well. We cannot create useful minimal config without performing

You may pass it via a command like args "--compile-commands-dir" by setting `lsp-clients-clangd-args`. (run `clangd --help` for other options). Also, the project root is not always the direct

[2020-12-10 11:31] #2396 closed

[2020-12-10 12:20] HumHongeKamyaab commented on #2396
just to add,
suppose project root folder is `~/project-root`
path of `compile_commands.json` for this project is `~/project-root/build-dir/compile_commands.json`
one can put following in `~/project-root/.dir-locals.el` file
[code]
It will automatically set compile arguments for `clangd` when you open any file in project.

[2020-12-10 13:35] ville-h opened #2397 "clangd and compile_commands.json changes"
When using lsp-mode changes to compile_commands.json are not automatically picked up. Sometimes resulting in various functionality to work in unexpected ways until manual intervention. The clangd project has had an [issue](https://reviews.llvm.org/D49267) open since 2018. It would be nice if in the meanwhile lsp-mode had an option to watch for these changes and then restart the clangd process it s

[2020-12-10 14:57] dannywillems opened #2398 "Rust - Insert explicit type: existing shortcuts?"
I've just switched to rust-analyzer and I find sometimes very handy to add explicit type annotations.
Like you see on the screenshot below, Emacs suggests me to add the type. That's nice and works when I click on it. However, I'd like to do it with a shortcut. Any way to do it?

![Screenshot from 2020-12-10 15-55-44](https://user-images.githubusercontent.com/6018454/101788376-4f376000-3b00-11eb-94

[2020-12-10 16:16] yyoncho commented on #2398
`M-x lsp-execute-code-action`

[2020-12-10 16:16] #2398 closed

[2020-12-10 17:17] eeowaa commented on #2392
I am having the same problem right now. After `M-x lsp`, I do not get a prompt after which I can type `i` -- I just get that error message.

[2020-12-10 18:07] dannywillems commented on #2398
Thanks @yyoncho

[2020-12-10 18:08] yyoncho commented on #2392
1. Make sure that you do not run with lsp-auto-guess-root set to t.
2. Make sure that you havent blacklisted current folder accidentally, run `M-x lsp-workspace-blacklist-remove`

[2020-12-10 19:39] yyoncho commented on #2375
Can someone who can reproduce the issue jump into the emacs-devel thread? Michael is asking for that.

[2020-12-10 19:53] petr-tik commented on #2375
my problems aren't mac-related, but I also have issues with clangd over tramp and have reproduced it with pyls before

[2020-12-10 19:56] yyoncho commented on #2375
That could work too I guess. Let's hope it is the same issue.

[2020-12-10 20:12] realwhz commented on #2375
If Michael provides instructions and patches, I would like to try on my Mac.  Just cannot guarantee response in real-time ...

[2020-12-10 20:44] eeowaa commented on #2392
I verified that `lsp-auto-guess-root` was nil, and although the directory I was working in was not in the blacklist, one of the ancestor directories was (my home directory), so I removed that with `M-x lsp-workspace-blacklist-remove`. Unfortunately the problem still remains for me.

[2020-12-10 20:46] yyoncho commented on #2392
@eeowaa can you test with lsp-start-plain.el as described in here: https://github.com/emacs-lsp/lsp-mode/blob/master/.github/ISSUE_TEMPLATE/bug_report.md . Before that can you delete lsp-session-file?

[2020-12-10 21:04] eeowaa commented on #2392
After deleting the `lsp-session-file` and restarting Emacs, I no longer had the problem.

[2020-12-11 11:57] nbfalcon opened #2401 "Support disabled code actions"
LSP 3.16 introduces code actions that are marked as "disabled", which then should not be executable and should be highlighted especially in `lsp-execute-code-action`.

[2020-12-11 16:59] benreyn commented on #2127
Ok, Ive got some custom code in my emacs config that is suppressing notifications for...
[code]
but I am still getting several...

[2020-12-12 19:02] shackra commented on #2374
indeed, nothing to do with the client, I resolved my issue per https://github.com/theia-ide/typescript-language-server/issues/82#issuecomment-743800813

[2020-12-12 19:02] #2374 closed

[2020-12-13 10:55] yyoncho commented on #2392
Marking the bug as closed. You can use it for further questions.

[2020-12-13 10:56] #2392 closed

[2020-12-13 10:59] yyoncho commented on #2395
This is caused by lsp-mode calling rust-analyzer before it has been initialized(AFAIK there is no way to know that). I think that the same will happen with other clients(vscode, etc) but the difference is that lsp-mode makes the error evident. We get similar errors with ccls which may load its index for a lot of time. I am not sure we could do anything here except allow configuring the way default

[2020-12-13 11:03] yyoncho commented on #2390
The option here is to prefix the lsp-mode entities with lsp: and effectively create a subnamespacing in dash like we do in lsp-mode extensions. ATM I don't this is needed considering that it is technically very difficult to hit that issue given the fact that even if there is collision it most likely will work given the fact that the expand methods are used only during the compilation. I suggest cl

[2020-12-13 16:46] fanf2 opened #2403 "lsp--workspace-print uses an obtrusive face"
**Describe the bug**

In my modeline, I see [**_rust-analyzer:1234_**] and the bold-italic face is very obtrusive. I can't make it less obtrusive without making bold-italic look wrong in other contexts.

**Expected behavior**

Either make the face customizable, or use the default modeline face.

**Which Language Server did you use**

rust-analyzer

**OS**

Mac OS

**Patch**

I have bodged my copy

[2020-12-13 17:21] yyoncho commented on #2403
I don't see a reason not to accept this patch. Willing to turn it into PR?

[2020-12-13 20:12] jech opened #2404 "Completion error: completion--some: Internal error: ChatHistoryEntry doesn’t match \`E"
**Describe the bug**

Using *xref* as the completion provider (not company, not help, just plain built-in xref) with gopls as the server.

About half the time, M-Tab fails with an error such as the following:
[code]

**To Reproduce**
Install lsp-mode and gopls.  Do not install company-mode or helm.  Start M-Tabbing around until you get the error.

**Expected behavior**
Completion works without err

[2020-12-13 20:58] yyoncho commented on #2404
@kiennq wasn't that fixed?

[2020-12-13 22:16] jech commented on #2404
FWIW, M-x lsp-version says

  lsp-mode 20201211.1939, Emacs 27.1, gnu/linux

I just got it from melpa.

[2020-12-14 04:07] kiennq commented on #2404
@jech Can you add `flex` to your `completion-styles` and see if the issue is resolved?

[2020-12-14 06:05] kiennq commented on #2404
@jech Also please check #2405 to see if it can resolve your issue with your config

[2020-12-14 08:55] #2404 closed

[2020-12-14 21:21] gdanov opened #2408 "lsp-mode interferes with buffer indent set-up even when lsp-enable-indentation is nil"
**Describe the bug**
I'm trying to use lsp-mode alongside Cider (for clojure development). I want to use cider's buffer formatting.  (setq lsp-enable-indentation nil) does not help. The result is that some vars set-up by cider are set to nil (example: indent-region-function).

**To Reproduce**
add lsp-mode and lsp-clojure to vanilla prelude emacs, open clojure buffer and try to use cider's formatt

[2020-12-14 21:25] yyoncho commented on #2408
We should unset `indent-region-function` only if it is set to lsp-mode's formatting function.

[2020-12-14 23:05] raxod502 opened #2409 "Map svelte-ls config keys to user options"
**Feature request**
It would be great if the configuration for the Svelte language server could be adjusted by setting user options, similar to the setup for many other language servers (e.g., to be specific, gopls).

Concretely, it would be great to be able to disable certain warnings from Svelte. Currently this can only be done through the language server configuration. I reported the problem up

[2020-12-15 02:36] impo commented on #2185
I found this issue while struggling to set up venvs with poetry on Python. A tutorial would be awesome!

[2020-12-15 11:52] #2408 closed

[2020-12-15 12:04] #2378 closed

[2020-12-15 12:05] yyoncho commented on #2378
Pushed a fix. Please let me know if it works. Thank you for your analysis once again, it was really helpful.

[2020-12-15 13:54] yyoncho commented on #2409
PR at https://github.com/emacs-lsp/lsp-mode/pull/2411 . I haven't tested it though.

[2020-12-15 14:37] benreyn commented on #2127
friendly ping to @mnewt and @yyoncho. Anything I can do to be helpful here?

[2020-12-15 14:55] ZacheryPD opened #2412 "Csharp mode fails on initialization"
Before logging the bug, please make sure that:
**Describe the bug**
When I open a C# file (after installing the language server through the prompt) I immediately see "Server csharp: 317 status:starting exited with status exit. do you want to restart it?" It seems this happens with slightly different error codes on any .cs file in that repository.

**To Reproduce**
Use my emacs config: https://gith

[2020-12-15 16:16] benreyn commented on #2127
Output from `trace-function` on `lsp--on-notification` when I get the `Unknown notification: nil` warning...

I wasnt sure what section of this would be relevant so I took a large sampling of the `*trace-output*` buffer while I was reproducing this issue. (I wrapped this in a [`<details>`](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/details) and [`<summary>`](https://developer.mozill

[2020-12-15 19:22] matsievskiysv commented on #515
IMHO it would be convenient to manage LSP sessions from `*lsp session*` buffer (`lsp-describe-session`):
1. Stop running servers.
  When I work on Java/Kotlin project, running two servers at the same time takes a lot of resources. Stopping servers from `*lsp session*` buffer would make resource management easier it these situations
2. Jump to buffers
3. Remove stopped sessions
  Sometimes `bash-ls

[2020-12-15 19:28] yyoncho commented on #515
@matsievskiysv you may use this issue for your suggestions - https://github.com/emacs-lsp/lsp-mode/issues/764

[2020-12-16 05:48] thepreacher opened #2413 "TAB indent cycling not working when lsp-mode is enabled for elm-mode"
**Describe the bug**
TAB indent cycling not working when lsp-mode is enabled for elm-mode. When I disable lsp-mode for elm-mode indent cycling works as expected but then of course I get none of the benefits of lsp-mode.

**Expected behavior**
In elm code say when typing:

[code]
When I press RET at end of `... Msg`, cursor moves to position indicated by `^`. Now that is not where it has to be for

[2020-12-16 07:58] matsievskiysv commented on #764
Another desired functionality of `lsp-describe-session`:
1. Stop running servers
  When I work on Java/Kotlin project, running two servers at the same time takes a lot of resources. Stopping servers from `*lsp session*` buffer would make resource management easier it these situations
3. Remove stopped sessions
  Sometimes `bash-ls` would create session in my `/tmp` directory or even in mounted vol

[2020-12-16 07:59] kiennq commented on #2413
It seems that you're using `elm-company`, can you check with `company-diag` to see which backend is in used?
Also, removing `elm-company` from `company-backends` too?

[2020-12-16 08:26] thepreacher commented on #2413
Thanks @kiennq you're right. Removing `elm-company` fixed it. I'm grateful.

[2020-12-16 10:40] jo-so commented on #2395
That was what I had suspected. That's why I request a better error message.
I don't want you change the behaviour, but improve the message. The current
one doesn't tell the user anything and to report an issue it doesn't provide
much information.

Maybe it's possible to downgrade the message “Rust Analyzer is still
loading...” to a warning or an info message. Or is this text used for all
“unknown”

[2020-12-16 10:42] yyoncho commented on #2395
The error message comes from the server and it is reported by the default error handler which is common for all async requests. Thus, we cannot change it to info/warning.

[2020-12-16 12:11] jo-so commented on #2395
Would it be possible to have a blacklist of messages they are downgraded? I
know this is hacky, but it gives a better user experience.

[2020-12-16 15:57] martin5233 commented on #2375
@yyoncho: I have been in contact with Michael regarding this issue. He seems to have a patch for lsp-mode, which might fix this. I will try it out on my side and feed back here, if it works for me. See the thread on the emacs-devel mailing list for details.

[2020-12-16 16:11] ZacheryPD commented on #2412
Continuing to debug here. The installed omnisharp seems to work when started from my terminal, but when started from a shell within emacs it fails with the same errors above. I am suspicious this is a shell config error.

[2020-12-16 16:21] yyoncho commented on #2412
Can you try to start `emacs` from command line as well? It

[2020-12-16 23:30] kode9 opened #2415 "Enable completion without modifying company-backends"
Currently there are two options for `lsp-completion-provider` :

* `:none` which will not enable `company-mode`
* `:capf` or `nil` or `t` which will enable `company-mode` **and** prepend `company-capf` to to `company-backends`

[code]

I'd like to be able to enable completion but manage my backends without them being overwritten.

I think it's easy to achieve by either

* Changing the behavior of

[2020-12-16 23:40] ZacheryPD commented on #2412
This is very odd! I am running Emacs 26 in a GUI so I installed the terminal version for my distro, and that immediately started omnisharp no problem. I also then opened up GUI emacs again and it was able to find the server without a problem. After a restart to get back to ground zero, Gui Emacs can no longer see the server (presumably because it's stopped.) Curious...

[2020-12-17 00:24] kiennq commented on #2415
The other approach is to use `global-company-mode` independent from `lsp-mode`.
So you will have your own backends configuration independent from `lsp-mode` too.

[2020-12-17 00:40] ZacheryPD commented on #2412
Another update, I am running Emacs from this flatpack installation, and I'm now wondering if my shell interactions are being hampered somehow because of that.  https://flathub.org/apps/details/org.gnu.emacs

[2020-12-17 01:08] ZacheryPD commented on #2412
Following that idea, I decided to uninstall my flatpack installation and install emacs from the Ubuntu repositories. The default Ubuntu repos have 26.3, and installing that (emacs-gtk/groovy) I was able to get it working. I think this is a problem with the way that flatpack was compiled, though I'm not certain how.  For now, running the older version of emacs is not really a problem for me.

[2020-12-17 01:38] ericdallo commented on #2415
FYI @yyoncho

[2020-12-17 08:13] yyoncho commented on #2415
What about using `global-company-mode` as @kiennq suggested or `(add-hook 'lsp-mode-hook 'company-mode)`?

[2020-12-17 08:20] yyoncho commented on #2412
So, the issue is not whether you are using GUI version or TUI version - the issue is that when you start emacs from icon(or not from terminal) it won't use the same env variables as the one when you have started it from the terminal. Also, you may start the GUI version from the terminal as well and it will most likely work as expected. In order to find out what is causing your issues you may execu

[2020-12-17 08:28] yyoncho commented on #2395
You can customize the output messages that are displayed by putting an advice over `message` or if you are not happy with that solution we may add extension point for `lsp-mode` specifically. We can add message blacklist but it will be overkill and may lead to adding more and more functionality which in general could live in user's config.

[2020-12-17 12:43] #2413 closed

[2020-12-17 15:30] jul1u5 commented on #2040
I have the same problem with haskell-language-server. Setting flycheck-check-syntax-automatically to nil, doesn't show any errors. Do I also need to set something else?

What do you mean by that? Should this be implemented in lsp-mode or can I configure that somehow?

[2020-12-17 15:59] yyoncho commented on #2040
@jul1u5 latest version of lsp-mode from melpa should show the errors as they arrive with the corresponding debounce.

[2020-12-17 16:20] jul1u5 commented on #2040
Ok, I have updated lsp-mode, but I still don't see any errors with flycheck-check-syntax-automatically set to nil.

[2020-12-17 16:45] yyoncho commented on #2040
It should not be set to nil. Run with defaults.

[2020-12-17 17:46] jul1u5 commented on #2040
I am running with `(save idle-change mode-enabled)`. It usually works, but sometimes the errors just disappear. I've noticed that it often occurs when I save a file that has errors.

[2020-12-17 17:48] yyoncho commented on #2040
You may force `M-x flycheck-buffer`, check if `lsp-diagnostic-clean-after-change` is nil and also you may use lsp-treemacs-errors-list to see what lsp-mode has ATM.

[2020-12-17 17:59] jul1u5 commented on #2040
I tried running `M-x flycheck-buffer`, but it didn't make the errors appear. `lsp-diagnostic-clean-after-change` is nil for me.

I've also noticed that when the errors disappear, making any change to the buffer fixes it.

[2020-12-17 18:04] yyoncho commented on #2040
This could happen if the server sends zero diags for the file. I cannot tell if this is the case without client/server logs. You may refer to the bug template for the instructions on how to collect them

[2020-12-17 23:26] PythonNut opened #2417 "High CPU usage when using texlab with flycheck"
**Describe the bug**
When using the `texlab` language server (for LaTeX) with the `flycheck` package, Emacs consistently uses 100% CPU, although it does not freeze. Additionally, if you enable I/O logging, you will see that there are lots of messages being exchanged with the server.

**To Reproduce**
Open a `.tex` file (even an empty file will work) and run `lsp` when `flycheck` is installed. You

[2020-12-18 07:29] Dream-math opened #2419 "Error:does not support method textDocument/definition"
HI, I am learning to use lsp mode. When I use M-x lsp-find-definition, it came the error:
[code]
and then I use M-x lsp-describe-session, it create a new buffer, the new buffer contains
nothing. So what's wrong with it, can anyone help me? Thanks!

I am using emacs-26.1, and  config is :
[code]

[2020-12-18 08:58] yyoncho commented on #2419
Sounds like you haven't executed M-x lsp in the buffer?

[2020-12-18 08:59] yyoncho commented on #2417
Please follow this to report perf issue: https://emacs-lsp.github.io/lsp-mode/page/performance/#reporting-performance-problems

[2020-12-18 10:21] Dream-math commented on #2419
It works, thank you very much, I have tried to find the answer for a couple of hours. I should have asked earlier.

[2020-12-18 10:21] #2419 closed

[2020-12-18 16:00] ZacheryPD commented on #2412
I'm having a hard time capturing that information since emacs likes to hide the window with the `process-environment` info in it the moment any events happen. It does look like my paths are different in the flatpack vs the .deb compiled versions, which is confusing.

[2020-12-18 16:22] fxfactorial opened #2420 "Top bar needs context per buffer"
regularly update lsp-mode and found the new top bar (SO AWESOME THANK YOU!!!)

but here's a bug - say I make two buffers of the same file - each buffer's pointer in a diferent spot - so diferent function context, but currently it will pick one of the two and use for both, so the top bar needs to be context depenednet per buffer i think
![Screenshot from 2020-12-18 11-19-43](https://user-images.git

[2020-12-18 16:27] yyoncho commented on #2420
Interesting... @ericdallo, willing to take a look?

As a side note, your font is missing the separator that we use. I guess we should make it configurable, but if you isntall all-the-icons(or use another font) the issue will go away.

[2020-12-18 16:28] yyoncho commented on #2412
You can find it in \*messages\* buffer.

[2020-12-18 17:04] fxfactorial commented on #2420
@yyoncho thanks - I tried all the `all-the-icon-` packages (4 of them) but still didn't get the icon - I'm using pragmatapro , so rather keep the font

[2020-12-18 17:47] yyoncho commented on #2420
@ericdallo I figured out the issue, I will include it in my PR.

[2020-12-18 17:50] ericdallo commented on #2420
Hum, we should really make the breacrumb buffer aware, I don't know how hard is though, I can investigate this weekend

[2020-12-18 17:52] yyoncho commented on #2420
I think the issue is that we use `(point)` which is window specific.

[2020-12-18 19:08] fosskers commented on #2420
I'm also missing some of the icons.

[2020-12-18 19:34] yyoncho commented on #2420
@fxfactorial FYI you should install https://github.com/domtronn/all-the-icons.el and then do `M-x all-the-icons-install-fonts`.

[2020-12-18 19:36] ericdallo commented on #2420
@yyoncho I though we had fallbacks when the user doesn't have the font :thinking:

[2020-12-18 19:38] yyoncho commented on #2420
@ericdallo the fallback is "›" which apparently is not present in all fonts.

[2020-12-18 19:40] yyoncho commented on #2420
... or make it configurable. Not sure if there is a way to check if the font has that char.

[2020-12-18 20:19] ericdallo commented on #2420
I'll take a look at this tomorow

[2020-12-18 20:27] yyoncho commented on #2420
@ericdallo let me finish my PR first because I am touching this code.

[2020-12-18 20:41] yyoncho commented on #2420
Can someone with issues run in their emacs `M-: (char-displayable-p ?›)`?

[2020-12-18 20:47] fxfactorial commented on #2420
awesome - this worked - looks great

[2020-12-18 20:52] yyoncho commented on #2420
Unfortunately, the fix does not seem to be easy... we are using the same local variable for the header line... and when we update it updates on both windows... I am out of ideas on how to fix that without introducing performance issues.

[2020-12-18 21:12] ericdallo commented on #2420
maybe change it to a variable that holds a map with the key being the buffer?
Or using a `defvar-local`?

[2020-12-18 21:23] yyoncho commented on #2420
It is defvar-local. The issue is that on the left and on the right you have the same buffer, thus it cannot have a different value.

[2020-12-18 21:29] ericdallo commented on #2420
Got it :man_facepalming: not sure how to handle this

[2020-12-18 21:55] kode9 commented on #2415
My idea was that `lsp-completion-mode` did more than just enable company and modifying its backend (all the code that comes after the snipped I posted) and so I just thought "I'll let lsp-mode handle this".

But having capf at the front of the backends is not ideal because it responds to most of the prefix (e.g it will respond to a file path without being able to complete it and won't passe it on

[2020-12-18 22:05] kode9 commented on #2415
Just to be clear because I'm not sure my original post was, I do use capf, I just group it, e.g
`'((company-files company-capf :with company-yasnippet))`

[2020-12-18 22:26] fosskers commented on #2420
This displays the following in my `*Messages*` buffer:
[code]

[2020-12-19 00:48] kiennq commented on #2415
@kode9 I'm using `capf` with group too. Just that since I'm also use `company` for not just `lsp-mode` (spell check, `dabbrev-code`, snippet) so I enable `company-mode` before hand and instruct `lsp-mode` to not touch `company` configuration with `lsp-completion-mode` of `:none`

[2020-12-19 04:12] #2412 closed

[2020-12-19 08:41] #2049 closed

[2020-12-19 13:55] seagle0128 opened #2421 "lsp-headerline Erorr"
GNU Emacs 28
macOS Big Sur
lsp-mode-20201218.1136

[code]

[2020-12-19 15:10] #2178 closed

[2020-12-19 19:35] #2421 closed

[2020-12-19 21:08] vikigenius opened #2423 "LSP force watch only src directory in the top level directory"
Is there an easy way to watch only my src directory in the project root.
My top level directory has a lot of uninteresting stuff like reports, .venv, data folders with lots of data.

I want the file watchers to watch only the src folder, and not watch anything else. I don't know if simply using a regex will work because some of my projects also have the following structure

[code]

[2020-12-20 17:35] yyoncho commented on #2415
Marking the issue as resolved since it seems like there won't be anything to address as part of this issue report.

[2020-12-20 17:35] #2415 closed

[2020-12-20 17:40] yyoncho commented on #2423
I think that you can blacklist fullpaths, so blacklisting anything else should be fine.

[2020-12-20 17:42] yyoncho commented on #2420
For those with separator issues: you can use lsp-headerline-arrow to specify what to use for separating each of the segments.

About the original issue: @ericdallo we can move the caching on different level. ATM we cache the full string, we could instead cache the symbols, the paths, etc and then let each buffer calculate the full string in the context of their position.

[2020-12-20 18:26] fosskers commented on #2420
`lsp-headerline-arrow` doesn't appear to be customizable. At least I don't see the "This value can be customized" line when I `C-h v` it.

[2020-12-20 18:30] yyoncho commented on #2420
ATM it is defvar, you could setq it. We could change it to defcustom.

[2020-12-21 13:28] robertoaloi opened #2427 "Support for snippet variables?"
Hi,

In Erlang LS we are adding support for snippets. When it comes to Emacs, it looks like variables as documented in:

https://github.com/microsoft/language-server-protocol/blob/master/snippetSyntax.md#variables

do not seem to work, while they work correctly in VS Code. I wonder if predefined variables in snippet are supported in `lsp-mode` (in which case we may be doing something wrong) or if

[2020-12-21 13:33] yyoncho commented on #2427
They are not supported, it is something that we have to implement. JDTLS has them too in case the implementor is looking server to test with.

[2020-12-21 13:41] robertoaloi commented on #2427
I see, thanks for the quick response!

[2020-12-21 16:07] seagle0128 commented on #2421
Thank you!

[2020-12-21 16:45] sebasmonia opened #2428 "Add customization lsp-enable-breadcrumbs"
There should be a customization `lsp-enable-breadcrumbs`, just like we have `lsp-enable-snippet` and `lsp-enable-folding`.
Either that or a "global" function for breadcrumbs mode, but since lsp-mode already did those variables above, I would expect one for breadcrumbs too.

**Expected behavior**
Want to disable the header line globally via configuration. Right now I'm looking to add a call to disa

[2020-12-21 17:18] yyoncho commented on #2428
There is `lsp-headerline-breadcrumb-enable`?

[2020-12-21 17:37] sebasmonia commented on #2428
The depressing part is that I spent at least 10 minutes _looking in lsp-mode's code_ for a way to disable it :)
I opened customize-group and rest assured, there it was.

Thanks!

[2020-12-21 17:37] #2428 closed

[2020-12-21 17:38] yyoncho commented on #2428
FYI - https://emacs-lsp.github.io/lsp-mode/tutorials/how-to-turn-off/

[2020-12-21 18:45] petr-tik commented on #2375
Judging from [this message](https://lists.gnu.org/archive/html/emacs-devel/2020-12/msg00896.html), Michael fixed the issue in the tramp code and also changed his implementation of `lsp-tramp-connection` to this

[code]

Martin, can you please confirm if it works for you and does that mean that
a) lsp-mode should require tramp version >2.5
b) lsp-mode needs to change its implementation of lsp-tramp

[2020-12-22 01:53] XO39 opened #2429 "gopls setting "codelens" is deprecated, use "codelenses" instead"
LSP mode: v20201220.1143
Emacs: v27.1, darwin
GOPLS: v0.6.1
OS: macOS Big Sur v11.1

Now that `unexpected gopls setting "gopls"` is fixed, I started getting `gopls setting "codelens" is deprecated, use "codelenses" instead`!

Here is the lsp-mode debug info:

[code]

gopls is in my path, also GOPATH env variable is loaded correctly within emacs (checked with getenv)

Here is elisp gopls  configura

[2020-12-22 02:08] XO39 opened #2430 "Is there a way to remove icons from the Header Line?"
Now that Header Line is enabled by default, is there away to remove/disable icons/images and keep only text? They are too big and ugly, and `treemacs-resize-icons` has no effect at all, and if can't get them get smaller I'd rather just remove them totally.

I got the Header Line disabled till I can find a solution, any ideas?

[2020-12-22 02:09] ericdallo commented on #2430
I'm working on a treemacs theme that will disable the icons on headerline: https://github.com/emacs-lsp/lsp-treemacs/pull/83
c/c @yyoncho

[2020-12-22 03:49] sebasmonia commented on #2428
That is awesome. Turns out I do want lenses.
Thanks for pointing me to that page :)

[2020-12-22 05:09] s-kostyaev commented on #2429
It is a result of the gopls update. Version 0.6

[2020-12-22 06:34] williamJmelton commented on #515
I'd love to see the angular language service integrated into this package! I'm sick of using Vim to work on my Angular projects

[2020-12-22 06:38] jcs090218 commented on #515
@williamJmelton I think we have angular support?

Page https://emacs-lsp.github.io/lsp-mode/page/lsp-angular/.
File https://github.com/emacs-lsp/lsp-mode/blob/master/clients/lsp-angular.el

[2020-12-22 09:05] shrubbroom opened #2431 "lsp-headerline-breadcrumb-mode is extremely slow"
**Describe the bug**
I am using lsp-mode in C++ with ccls. When I turn on lsp-headerline-breadcrumb-mode and perform a continuous scrolling (i.e. hold down in my keyboard). The Emacs gets extremely slow. I have the key repeat speed as high as 60 in xfce4.
**To Reproduce**
Open Emacs, enable lsp-headerline-breadcrumb-mode and hold your down in keyboard

**Expected behavior**
The scrolling in Emacs

[2020-12-22 09:23] yyoncho commented on #2431
Is this with the latest lsp-mode? Are you able to reproduce it with lsp-start-plain.el?

[2020-12-22 09:45] shrubbroom commented on #2431
Start with lsp-start-plain.el and everything goes well. I just found that I have
[code]
in my configuration. I think that may be the reason for the lagging. Sorry for my ignorance.

[2020-12-22 09:45] #2431 closed

[2020-12-22 09:50] jech commented on #2404
I am no longer able to reproduce the issue with the fixed version.  Thanks, @kiennq.

[2020-12-22 15:01] dschrempf opened #2433 "Mode specific flycheck checkers"
Hello,

I have asked this question on Discord, but didn't get any response.

Is there a way to add mode-specific flycheck checkers after the lsp checker? At the moment, I use a snippet like the following:

[code]

But then, `sh-shellcheck` is executed in all modes administered by `lsp-mode` (at least that is what `flycheck-verify-setup` is showing).

Thank you!

[2020-12-22 21:43] dschrempf commented on #2433
I have solved the problem, see https://github.com/hlissner/doom-emacs/issues/1530.

[2020-12-23 06:43] Elvecent opened #2435 "Non-integer line number"
Hello. I'm using lsp-mode 20201222.850 with lsp-haskell 20201210.1702 on Ubuntu 20.04 and getting the following error:
[code]
I've also seen someone with the same issue on Gitter: https://gitter.im/syl20bnr/spacemacs?at=5fe23d6eac9d8e7463c68a5c

In my case, this is what debugger shows:
[code]

This happened reliably every time I tried, on a basic Haskell project generated by `cabal init`.

[2020-12-23 07:01] Elvecent commented on #2435
Interestingly, this number (but negated) show up in Go when trying to round infinity: https://www.cockroachlabs.com/blog/rounding-implementations-in-go/

[2020-12-23 08:05] yyoncho commented on #2435
I will need the following:

1. The exact content of the file that you actually edit.
2. The result of documentSymbols that corresponds to that error. In the bug template, there are instructions how to collect the logs. It should look like this:
[code]
3. The trace information from `M-x trace-function RET lsp-headerline--symbol-with-action RET`

[2020-12-23 08:18] Elvecent commented on #2435
https://gist.github.com/Elvecent/4980d9bf83c83aeb5b24290a1a33a23e

[2020-12-23 12:04] yyoncho commented on #2435
It is a sever issue: https://gist.github.com/Elvecent/4980d9bf83c83aeb5b24290a1a33a23e#file-log-L545

@alanz , any idea?

[2020-12-23 12:41] alanz commented on #2435
Taking a look. The problem is in documentSymbols

[code]

[2020-12-23 13:00] alanz commented on #2435
I created an upstream issue at https://github.com/haskell/ghcide/issues/962

[2020-12-23 13:30] yyoncho commented on #2435
Thank you @alanz. Marking the bug as upstream, I will keep it open for tracking purposes.

[2020-12-23 13:46] yyoncho opened #2436 "lsp-mode does not work with latest rust-analyzer"
see https://github.com/rust-analyzer/rust-analyzer/pull/6779 . The issue is in the initializationOptions

[code]

[2020-12-23 13:46] yyoncho commented on #2436
cc @brotzeit @flodiebold

[2020-12-23 13:50] yyoncho commented on #2436
Changed lsp-install-server  to install an older working version of rust analyzer: https://github.com/emacs-lsp/lsp-mode/commit/dc7708639fa5d2650bd18b0f161bbd53e77b25a6

[2020-12-23 18:57] nbfalcon commented on #2429
#2434 fixes this.

[2020-12-23 19:59] leungbk commented on #1947
Apparently [something like this is specified in the protocol](https://github.com/microsoft/language-server-protocol/blob/master/snippetSyntax.md#choice):

I'm not sure if this should be an upstream patch for `yasnippet` (`eglot` would benefit from this as well) or if we should simply implement it here in lsp-mode.

[2020-12-23 20:12] yyoncho commented on #1947
It is already supported by yas but the syntax is different, here it is java method template:

[code]

[2020-12-23 21:39] #2409 closed

[2020-12-23 22:03] muirdm commented on #1947
The "choice" snippet placeholder is limited and I don't think it is feasible to have language servers pre-calculate completions to stick in the snippets in general, not to mention nested completions/snippets. It is much simpler and more general to have the client trigger a normal completion at snippet tabstops since that will work with any snippet from any server without changes.

I've been using

[2020-12-23 22:58] dimitarvp commented on #2436
Reverted `rust-analyzer` from `2020-12-21` to `2020-12-14` and the error is gone and all LSP functionality is working.

[2020-12-23 23:06] dimitarvp commented on #2436
Also this seems related: https://github.com/rust-analyzer/rust-analyzer/issues/6979

[2020-12-23 23:31] brotzeit commented on #2436
https://github.com/brotzeit/rustic/issues/205#issuecomment-749593539

[2020-12-23 23:33] covercash2 commented on #2436
https://github.com/rust-analyzer/rust-analyzer/issues/6979#issuecomment-749293020

[2020-12-24 14:07] nbfalcon commented on #2436
This is a bug in `rust-analyzer` (the whole point of capabilities is for servers *not* to fail if they aren't available). We could probably fix this on `lsp-mode`'s side by listing those capabilities as `:json-false`.

[2020-12-24 14:34] dimitarvp commented on #2436
@nbfalcon I realize this is on `rust-analyzer` and not a bug in `lsp-mode`. Apologies if I made it sound otherwise.

They announced this will be fixed in a next release. I'm leaving it to you to judge if you need to cover for servers that try to mandate otherwise optional LS features. Mostly posted this to increase visibility and give searchers a context about what's going on.

[2020-12-24 14:39] yyoncho commented on #2436
@dimitarvp FYI the automatic install works in spacemacs as well.

[2020-12-24 14:41] nbfalcon commented on #2436
@yyoncho do you think we should wait for this to be fixed upstream, or implement a fix here now?

[2020-12-24 14:43] yyoncho commented on #2436
@nbfalcon ideally, we should have support for that new feature. The fix will be supporting the new feature, right(I havent checked the details on rust analyzer side)?

[2020-12-24 14:44] nbfalcon commented on #2436
I actually thought of just adding those capabilities as `:json-false`. I'd need to look at the spec again to see what was added.

[2020-12-24 15:19] yyoncho commented on #2436
I don't see a reason against adding false as initial step just to get the latest release running (assuming that it will provide fixes and improvements)

[2020-12-25 13:16] zw963 opened #2440 "lsp-mode + rustic + rust analyzer, xref-find-definitions not working on rust standard library file."
**Describe the bug**
I use rust + lsp-mode, i have code like this:

[code]
I binding `Meta + .` into  `xref-find-definitions`.

When i press `Meta + .` on `iter`,  i can jump into the method define of iter() in rust standard library, it was expected.

[code]

But, when i want to search define again in above file use same `Meta + .` key when cursor on `Iter`, i get following error message.

[ERROR

[2020-12-25 13:17] yyoncho commented on #2440
@flodiebold is there a way to make LSP find definition work in files under "~/.rustup/"?

[2020-12-25 13:18] yyoncho commented on #2440
@matklad @flodiebold is there a way to make LSP find definition work in files under "~/.rustup/"?

[2020-12-25 13:42] zw963 commented on #2440
Following is my config:

lsp

[code]

Following is my rustic config:

[code]

BTW:  if i set `(setq rustic-lsp-server 'rls)`, above jump functionality is working well.

But, i ask someone wh use `emacs + lsp-mode' in my local Telegram group, some of them said
they use `rust-analyzer` too, and it work well when jump like this, anyway, i don't know now ...

[2020-12-25 13:44] nbfalcon commented on #2440
@zw963 can you post the output of the following shell command:
[code]

Perhaps you are missing the necessary sources?

[2020-12-25 13:49] yyoncho commented on #2440
@zw963 is able to jump there, the issue is that find definition does not work in the library files.

[2020-12-25 13:51] zw963 commented on #2440
[code]

[code]

[code]

[2020-12-25 14:26] zw963 commented on #2440
Hi, i update my debug log in this issue content (after remove all elc, and reproduce again), hope can help to find out why.

Thank you very much.

[2020-12-25 15:09] nbfalcon opened #2441 "`lsp-lens-mode` errors if lenses are at `point-max` (e.g. in an empty buffer)"
**Describe the bug**
An error is thrown if a lens from an LS is to be displayed at the end of the buffer, for example because the latter is empty.

**To Reproduce**
0. `M-x toggle-debug-on-error`
1. Create a new empty haskell file with `haskell-language-server` as LS (the latter sends a lens for empty buffers)
2. Observe an error

**Expected behavior**
Lenses should work.

**Which Language Server

[2020-12-26 03:36] jsmestad commented on #2286
@leungbk Could we get support for these new language servers in lsp-mode? 🙏

[2020-12-26 05:57] leungbk commented on #2286
@alexdima and @aeschli, would it be possible to see an update of `vscode-*-languageserver-bin`? Thanks.

[2020-12-26 13:33] bsed commented on #245
Error (use-package): lsp-mode/:init: Invalid face: lsp-face-highlight-textual
  2                                                                                                     ┃  2 Error (use-package): org/:config: Invalid version syntax: ‘’ (must start with a number)

[2020-12-26 14:30] zw963 commented on #2440
Sorry, it works after install rust toolchain from scratch.

Thank you.

[2020-12-26 14:30] #2440 closed

[2020-12-26 19:24] SebastienWae commented on #2286
@leungbk Microsoft has nothing to do with the [github/vscode-langservers](https://github.com/vscode-langservers) and all the `vscode-*-languageserver-bin`, @alexdima and @aeschli are on the contributors list because the repos are just mirror of the `vscode` repo.

I tried contacting @DeltaEvo the maintainer of [github/vscode-langservers](https://github.com/vscode-langservers) a few months back but

[2020-12-26 20:56] intrasight opened #2443 "getting: jansson library not found"
On windows with emacs 28.0.50
M-: (functionp 'json-serialize) returns true.
I downloaded  the jansson source and compiled a ddl. Placed that in emacs/bin. But still get error "jansson library not found". I'm out of my league in terms of hacking emacs here.

[2020-12-26 21:12] yyoncho commented on #2443
I suggest asking this on emacs-devel unless @kiennq has a clue.

[2020-12-27 10:54] Guts commented on #2184
Hi there.

Just t let you know: feature achieved and published in the 0.10.0 plugin version.

[2020-12-27 12:29] kiennq commented on #2443
@intrasight I think you're using https://alpha.gnu.org/gnu/emacs/pretest/windows/emacs-28/ which doesn't ship lib `jansson` dll together with it.
The issue has been fixed and will available on newer build (with newer date). For now, you can use:
- emacs 27 release, which contains the fix http://ftp.gnu.org/gnu/emacs/windows/emacs-27
- Using [scoop](https://scoop.sh/) with my [bucket](https://githu

[2020-12-27 13:12] #2443 closed

[2020-12-27 14:20] davidpham87 opened #2445 "Clojure-LSP and CIDER interaction: lsp affects negatively cider."
**Describe the bug**
Cider and lsp-mode for clojure conflicts and lsp-mode effects negatively the behavior of Cider.

One of which is when inside a function call, cider displays the signature of the verb in the bottom message bar. (For example for max-keys, cider would show the 3 arities, wheras LSP only displays the first in the UI). Moreover, it seems LSP confuses cider and cider can't lookup an

[2020-12-27 14:29] nbfalcon commented on #2445
Can you try `M-x cider-find-var` manually? By default, `lsp-mode` replaces eldoc and xref to use the language server, so that is probably used instead. You can add the following to your config before `lsp-mode` is loaded (you'll need to restart Emacs):
[code]
to disable `lsp-xref`. You can use `lsp-find-definition` instead. `lsp-eldoc`  can currently not be disabled though.

[2020-12-27 14:38] davidpham87 commented on #2445
Thanks a lot. the `lsp-enable-xref` trick worked like a charm with `cider-find-var`. However, the other issue (cider not displaying the arities in the message bar at the bottom) is not disappearing.

[2020-12-27 14:51] JohnC32 opened #2446 "lsp--apply-text-edits will reformat buffer unexpectedly after typing "}""
After a while in working with Emacs on C++ code, we see when typing a "}" that the buffer is reformatted. This is happening on code that hasn't been clang-format'ed so the changes are substantial and making it very hard to use emacs because one must restart emacs which is expensive given how long ccls language server takes to startup. The other way to  get around this is to stop using lsp-mode and

[2020-12-27 14:55] nbfalcon commented on #2445
The issue is that `lsp-managed-mode` adds `lsp-eldoc-function` unconditionally, with no way for the user to control that. We'd need something like `lsp-eldoc-mode` + a `defcustom` so this can be changed. However, I'd assume that `cider-mode` does the same, so a temporary workaround would be to somehow make `cider-mode` turn on *after* `lsp-mode`.

[2020-12-27 15:16] ericdallo commented on #2184
Nice, I'll take a look later
FYI @yyoncho

[2020-12-27 15:20] ericdallo commented on #2445
@yyoncho shouldn't we have a option to disable lsp-eldoc ?

[2020-12-27 15:22] yyoncho commented on #2445
Yes.

[2020-12-27 15:23] yyoncho commented on #2446
Maybe you are looking for `lsp-enable-on-type-formatting` ?

[2020-12-27 15:34] davidpham87 commented on #2445
@nbfalcon The trick of loading cider after lsp works like a charm!

[2020-12-27 15:48] ericdallo commented on #2445
Yes @davidpham87, I'll try to create a documentation section "integrating lsp with cider" on clojure language docs or a tutorial page

[2020-12-27 15:49] yyoncho commented on #2184
@ericdallo are we done here?

[2020-12-27 15:51] nbfalcon commented on #2445
IMHO, more parts of lsp-mode need to be exposed as modes:
- `lsp-eldoc-mode`
- `lsp-document-highlight-mode`
- (`lsp-semantic-highlighting-mode`)?

This way, `lsp-mode` would be more emacs-y.
@yyoncho what do you think?

[2020-12-27 15:52] ericdallo commented on #2445
@nbfalcon I'm opening a PR right now about the semantic tokens :sweat_smile:

[2020-12-27 15:53] yyoncho commented on #2445
@nbfalcon ATM we are refactoring to minor modes + a flag. Initially, everything was just a flag.

[2020-12-27 15:55] nbfalcon commented on #2445
Is someone working on `lsp-eldoc-mode` and `lsp-document-highlight-mode` already? There are lots of other fun new features in `lsp-mode`; I especially like monikers, since that would give us live-rename as can be found in Eclipse CDT and IntelliJ.

[2020-12-27 15:56] ericdallo commented on #2445
FYI: https://github.com/emacs-lsp/lsp-mode/pull/2447

[2020-12-27 15:57] yyoncho commented on #2445
AFAIK no. What do you mean by monikers? I think that the new protocol has live rename.

[2020-12-27 15:59] nbfalcon commented on #2445
The "monikers" are the live rename, unless I confused something. It works like this: in `lsp-rename` we can request a list of all regions that have the symbol being renamed. They could then be edited in parallel, like `iedit-mode`. We could probably also add something to the minibufer-style `lsp-rename` so that they are all changed as the minibuffer contents change.

[2020-12-27 16:03] yyoncho commented on #2445
@nbfalcon IMHO that won't work, since rename might take several seconds. Here is what you are describing in the new protocol: https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_linkedEditingRange

[2020-12-27 16:04] nbfalcon commented on #2445
Sorry, I meant `textDocument/linkedEditingRange`.

[2020-12-27 16:18] ericdallo commented on #2184
I don't think so, I guess we need to add this date meta do generated pages, right @Guts ?

[2020-12-27 16:36] jech commented on #2404
@kiennq, confirmed, I've been happily completing away ever since you pushed your patch.  Thanks a lot, you made my life significantly less painful.

[2020-12-27 16:46] JohnC32 commented on #2446
That's it, along with `lsp-enable-indentation`! Thank you for the quick response. I should have looked at the defcustom's and seen this.

One suggestion - on the https://github.com/emacs-lsp/lsp-mode page, there's a bullet which says "formatting", maybe make that a link to info that contains something like:

Some language servers, e.g. for C++ via clang-format, can format code as you type or when

[2020-12-27 16:50] ericdallo opened #2448 "[3.16] Support semanticTokens missing methods"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_semanticTokens)
lsp-mode is missing the implementation of:
* :leftwards_arrow_with_hook: `textDocument/semanticTokens/full/delta` witch should improve performance bringing only the tokens relative to existing ones
* :arrow_left: `workspace/semanticTokens/refresh` not critical, which allow

[2020-12-27 16:56] ericdallo opened #2449 "[LSP 3.16] Support Linked Editing Range"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_linkedEditingRange)

* Add client capability
* :leftwards_arrow_with_hook: `textDocument/linkedEditingRange` which should return for a given position in a document the range of the symbol at the position and all ranges that have the same content.

[2020-12-27 16:57] davidpham87 commented on #2445
I can actually be more precise in the cider mesasge tool behavior: when applying the options `{:show-docs-arity-on-same-line? true}` in `~/.lsp/config.edn`, lsp mode replace the cider message on the bottom bar with one line arity. However, cider usually displays the version of the repl doc, which I find more relevant. Is it still ignore by removeing eldoc?

[2020-12-27 16:58] ericdallo opened #2450 "[LSP 3.16] Support Monikers"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_moniker)

* Client capability
* :leftwards_arrow_with_hook: `textDocument/moniker`

[2020-12-27 17:05] ericdallo commented on #2445
That's a good idea for `clojure-lsp` displays the version too ;)

No, if you in the future disable the lsp-eldoc feature, it will not override cider eldoc messages.

[2020-12-27 17:10] yyoncho commented on #2446
Yep, we need some more docs. This one and specifics regarding tab-size.

[2020-12-27 17:39] ericdallo opened #2451 "[3.16] add jsonrpcReservedErrorRangeStart ErrorCode"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#responseMessage)

	 * This is the start range of JSON RPC reserved error codes.
	 * It doesn't denote a real error code. No LSP error codes should
	 * be defined between the start and end range. For backwards
	 * compatibility the `ServerNotInitialized` and the `UnknownErrorCode`
	 * are left in the r

[2020-12-27 17:42] ericdallo opened #2452 "[3.16] support for Diagnostic's codeDescription"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#diagnostic)

	 * An optional property to describe the error code.
	 *
	 * @ since 3.16.0
	 */
	codeDescription?: CodeDescription;

[2020-12-27 17:49] ericdallo opened #2453 "[3.16] Support AnnotatedTextEdit"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textEdit)

* Support `AnnotatedTextEdit` in `TextDocument` `edits` field

[2020-12-27 17:55] ericdallo opened #2454 "[3.16] Support annotationId in File Resource Changes"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#resourceChanges)

Add `annotationId?` support for:
* `CreateFile`
* `RenameFile`
* `DeleteFile`

[2020-12-27 17:56] Guts commented on #2184
That's it. WIth your dynamic workflow, you may want to generate the created and/or the update date on the fly.

[2020-12-27 18:01] ericdallo opened #2455 "[3.16] Support WorkspaceEdit changeAnnotations field"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#workspaceEdit)

* client capability `workspace.changeAnnotationSupport`
* WorkspaceEdit `changeAnnotations` field

[2020-12-27 18:04] ericdallo commented on #2184
Nice, I'll take a look on this later, thanks!

[2020-12-27 18:08] ericdallo opened #2456 "[3.16] Add markdown parser client capability"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#markupContent)

* Support client capability `general.markdown` specifying our markdown parser

[2020-12-27 18:10] ericdallo opened #2457 "[3.16] Support locale InitializeRequest"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#initialize)

* Add `locale?` field to `InitializeParams`

[2020-12-27 18:22] ericdallo opened #2458 "[3.16] Support new TextDocumentClientCapabilities fields"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#initialize)

* `linkedEditingRange?`
* `callHierarchy?`
* `semanticTokens?`
* `moniker?`

[2020-12-27 18:39] ericdallo opened #2459 "[3.16] Support handle Show Document Request"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#window_showDocument)

* Add client capability `window.showDocument`
* :arrow_right_hook: `window/showDocument’`: Server asks client to show a particular document in the UI

[2020-12-27 18:44] ericdallo opened #2460 "[3.16] Support WorkspaceSymbolClientCapabilities tagSupport field"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#workspace_symbol)

* Support `WorkspaceSymbolClientCapabilities` `tagSupport` field

[2020-12-27 18:54] ericdallo opened #2461 "[3.16] [fileOperations] Support WillCreateFiles request"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#workspace_willCreateFiles)

* Add client capability `workspace.fileOperations.willCreate`
* :leftwards_arrow_with_hook: `workspace/willCreateFiles`

[2020-12-27 18:56] ericdallo opened #2462 "[3.16] Support DidCreateFiles notification"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#workspace_didCreateFiles)

* Add client capability `workspace.fileOperations.didCreate`
* Handle `workspace/didCreateFiles` notification

[2020-12-27 19:01] ericdallo opened #2463 "[3.16] Support WillRenameFiles request"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#workspace_willRenameFiles)

* Add client capability `workspace.fileOperations.willRename`
* :leftwards_arrow_with_hook: support `workspace/willRenameFiles`

[2020-12-27 19:03] ericdallo opened #2464 "[3.16] Support DidRenameFiles notification"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#workspace_didRenameFiles)

* Add client capability `workspace.fileOperations.didRename`
* :arrow_right: send `workspace/didRenameFiles` notification

[2020-12-27 19:05] ericdallo opened #2465 "[3.16] Support WillDeleteFiles request"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#workspace_willDeleteFiles)

* Add client capability `workspace.fileOperations.willDelete`
* :leftwards_arrow_with_hook: support `workspace/willDeleteFiles`

[2020-12-27 19:09] ericdallo opened #2466 "[3.16] Support DidDeleteFiles notification"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#workspace_didDeleteFiles)

* Add client capability `workspace.fileOperations.didDelete`
* :arrow_right: send `workspace/didDeleteFiles` notification

[2020-12-27 19:12] ericdallo commented on #2324
Also the spec adds:
* `insertReplaceSupport`
* `insertTextModeSupport`

[2020-12-27 19:14] ericdallo opened #2467 "[3.16] Support SignatureHelp activeParameterSupport field"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_signatureHelp)

* Add client capability field: `activeParameterSupport`
* Support activeParameter on signature help

[2020-12-27 19:16] ericdallo opened #2468 "[3.16] Support DocumentSymbol new capabilities"
[SPEC]()

* Add client capability `tagSupport` and `labelSupport`
* Handle `tags` from documentSymbol response

[2020-12-27 19:18] ericdallo commented on #2401
We are missing support for:
* `dataSupport` field
* `resolveSupport` field
* `honorsChangeAnnotations` field

[2020-12-27 19:21] ericdallo opened #2469 "[3.16] Support CodeActionsResolve request"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#codeAction_resolve)

* Add client capabilities `textDocument.codeAction.resolveSupport`
* :leftwards_arrow_with_hook: `codeAction/resolve`

This will increase performance if the server supports it

[2020-12-27 19:23] ericdallo opened #2470 "[3.16] Support handle CodeLensRefresh server request"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#codeLens_refresh)

* Add client capability `workspace.codeLens`
* :arrow_right_hook: Handle `workspace/codeLens/refresh` server request

[2020-12-27 19:25] ericdallo opened #2471 "[3.16] Support RenameRequest new fields"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_rename)

* Add `prepareSupportDefaultBehavior` field
* Add `honorsChangeAnnotations` field

[2020-12-27 19:27] ericdallo opened #2472 "[3.16] Support Prepare CallHierarchy request"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#textDocument_prepareCallHierarchy)

* Add client capability `textDocument.callHierarchy`
* :leftwards_arrow_with_hook: support `textDocument/prepareCallHierarchy` request

[2020-12-27 19:30] ericdallo opened #2473 "[3.16] Support CallHierarchy incoming calls request"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#callHierarchy_incomingCalls)

* :leftwards_arrow_with_hook: support `callHierarchy/incomingCalls`

[2020-12-27 19:31] ericdallo opened #2474 "[3.16] Supoprt CallHierarchy Outgoing calls"
[SPEC](https://microsoft.github.io/language-server-protocol/specifications/specification-current/#callHierarchy_outgoingCalls)

* :leftwards_arrow_with_hook: Support `callHierarchy/outgoingCalls` request

[2020-12-27 19:35] yyoncho commented on #2472
call hierarchy is implemented in lsp-treemacs and it works fine with `clangd`/`rust-analyzer`.

[2020-12-27 20:36] ericdallo commented on #2472
Should we move anything from there to `lsp-mode`?

[2020-12-27 20:37] yyoncho commented on #2472
The issue is there is no convenient tree component to use. tree-widget is very slow and generally limiting compared to treemacs rendering engine.

[2020-12-27 20:54] ericdallo commented on #2472
Yeah, I mean not the render component, but the client capabilities and core lsp things

[2020-12-27 21:14] yyoncho commented on #2472
Client capability should be here(unless there is a change).

[2020-12-28 11:37] dimitarvp commented on #2436
This seems fixed in `rust-analyzer`'s `2020-12-28` release. I can't reproduce the issue with it installed anymore.

[2020-12-28 11:49] thomasheartman opened #2475 "(error "Marker does not point anywhere") on post-completion"
Hi,

I've got an issue with Rust Analyzer's post-completion functions. I previously [reported this to Company mode](https://github.com/company-mode/company-mode/issues/1043), but was told to take it here.

# Describe the bug

When using [Rust Analyzer's](https://github.com/rust-analyzer/rust-analyzer) post-completion functionality, I came across an issue where it seemingly doesn't work unless the

[2020-12-28 11:57] thomasheartman commented on #2475
<details>
<summary> `lsp-show-workspace-log` </summary>

[code]

</details>

[2020-12-28 12:49] kiennq commented on #2475
I will take a look at this

[2020-12-28 13:55] #2429 closed

[2020-12-28 13:55] #2423 closed

[2020-12-28 15:55] nbfalcon commented on #2475
I've noticed the same error with `intelephense` when calling `ivy-completion-at-point` while in `company-complete` and completing variables.

[2020-12-28 16:26] nbfalcon commented on #2475
My error is caused by `lsp-completion--clear-cache`, specifically the part where it deletes the markers (`set-marker` nil). Removing it fixes my issue, but that is just a debugging workaround. My issue does seem unrelated though.

[2020-12-28 21:13] holykol commented on #2436
If anyone here is using Arch you  can get fixed version without waiting for it to get out of testing repo:
[code]

[2020-12-28 21:18] ericdallo commented on #2448
Hey @sebastiansturm willing to take a took? specially the delta request?

I implemented on clojure-lsp both range and full semantic-tokens, it's missing only the delta for full support :D

[2020-12-29 11:56] sebastiansturm commented on #2448
yep, will have a look!

[2020-12-29 15:49] brotzeit commented on #2436
Ok then let's keep this open another week and close.

[2020-12-29 15:55] yyoncho commented on #2436
FTR https://github.com/emacs-lsp/lsp-mode/issues/2455 will track the work on supporting `changeAnnotationSupport`

[2020-12-29 16:31] thomasheartman commented on #2475
@nbfalcon Thanks for the input! I can confirm that that does indeed seem to fix the problem :D What are the implications of removing that `(set-marker nil)`? Will it cause anything to stop working?

But as you mention, it's not a real fix, but a temporary workaround. I wonder what's causing the issue. Why is the marker being set to `nil` in the first place?

[2020-12-29 17:34] nbfalcon commented on #2475
Nothing will stop working, but the markers won't get cleaned up, which will cause slowdowns until a GC happens. Emacs might quickly become unresponsive if you use auto-complete a lot.

[2020-12-29 17:37] nbfalcon commented on #2475
Actually, my issue might not be unrelated: it seems that in both cases, the marker is reused between multiple invocations of `lsp-completion-at-point` which go trough the cache.

@kiennq have you already started working on this? If not, I'd like to have this issue.

[2020-12-29 21:48] ericdallo commented on #2461
@yyoncho would we send this request right after creating a new buffer on workspace, or only when saving the new buffer?
Also, the Spec says we should wait for the response

[2020-12-30 01:48] kiennq commented on #2475
@nbfalcon Sure, please take it (I think you can just change the assignee by yourself).

I'm not being able to repro this on my env so there's not much actionable from me.
I wrote that code before expecting we have to invalidate the cache in correct time while the marker is not used anymore.
What happens here is that the marker may have been alternated by some other means so it's not become availab

[2020-12-30 02:17] kiennq commented on #2475
I figure out the issue, when there's only one completion item like in this case, `company-mode` actually cancel the completion (not even doing template expansion) thus invalidate the cache.

[2020-12-30 13:17] #2285 closed

[2020-12-30 14:19] bensonlew opened #2485 "complete can not complete strings"
`          detail_info += json.loads(tmp_df.to_json(orient="records"))
                mean_dict = tmp_df.iloc[:, 1:-1].mean().to_dict()
                trend_dict[str(sub_cluster_id)] = mean_dict
        #
        target_file = os.path.join(cluster_output_dir, "expression_matrix.xls")
        test = "expre"`

in python mode it can not complete strings inside  ""   is this confict with company?

c

[2020-12-30 14:24] nbfalcon commented on #2485
What would you expect the completion inside strings to be?

[2020-12-30 14:27] kiennq commented on #2485
Do you want the string inside "" to be completed to already typed strings (via `company-dabbrev-code`?)?
You can try to change `company-capf` to `(company-capf :with company-dabbrev-code)`.

Also, what's your value of `lsp-completion-provider`?

[2020-12-30 14:53] martin5233 commented on #2375
@petr-tik: I have built emacs from the master branch about 2 weeks ago, which includes the latest tramp changes. I also had to change the implementation of the connection setup in lsp-mode, so both your questions are a 'yes'. Unfortunately there is no released version of Emacs/Tramp yet, which contains the necessary changes. I don't know, if the new implementation of lsp-tramp-connection is usable

[2020-12-30 15:00] bensonlew commented on #2485
lsp-completion-provider :capf
i want it complete  already typed strings like company-dabbrev   and can complete dirs like "/usr/bin/which"  like company-
files did

[2020-12-30 15:31] petr-tik commented on #2375
Can you please confirm the SHA of tramp that fixes lsp-mode over tramp? I wanted to add something to [docs/remote.md](https://github.com/emacs-lsp/lsp-mode/blob/master/docs/page/remote.md) with troubleshooting instructions.

@yyoncho would you be open to changing the definition of `lsp-tramp-connection` to the one implemented by Michael Albinus?

[2020-12-30 17:14] thomasheartman commented on #2475
Nice one! I checked out the PR and can confirm that this indeed seems to fix the issue I've been having. Thanks!

[2020-12-30 18:13] astoff opened #2487 "Default TeX server"
At some point, the default LaTeX server was changed from digestif to texlab. I don't know what was the perceived advantage in doing this, but I wanted to point out that this removes support for the TeX formats other than LaTeX.

By the way, the `:major-mode` entry of both servers seems misconfigured. For texlab, if their README is accurate, it should include just latex-mode. For digestif, it shoul

[2020-12-30 18:33] nbfalcon commented on #1812
I have start to work on this, but I am no longer interested in implementing this: [https://github.com/nbfalcon/lsp-mode/tree/feature/describe-thing-at-point-xwidget](nbfalcon/describe-thing-at-point-xwidget (in my fork)).

[2020-12-30 18:53] wyuenho commented on #1621
This might have something to do with the
[code]
idiom and has nothing to do with LSP. Historically there seems to be a lot of hangs at `wait_reading_process_output` reported since at least the days of Emacs 23. I wonder why. I can't decipher this convoluted C code.

[2020-12-30 22:16] kiennq commented on #2485
You should change the `lsp-completion-provider` to  `:none` and change `company-capf` to `(company-capf: with company-dabbrev  company-files)` instead

[2020-12-31 13:46] Eli-Zaretskii commented on #1621
Where did you see the above idiom in any code involved in the issue discussed here?

[2020-12-31 14:09] wyuenho commented on #1621
I'm running a fork of `window-purpose` that has this block wrapping a [post-command-hook](https://github.com/wyuenho/emacs-purpose/blob/improve-code1/window-purpose-x.el#L198-L205). You can look at the history, before I added this block, my Emacs was slow but didn't freeze, after adding this block, it freezes on a MacPorts compiled Emac 27 NS port every 15 minutes or so, and Emacs becomes unusable

[2020-12-31 15:38] intrasight opened #2492 "When and how does lsp mode update reported errors?"
Now that I sort of having lsp mode setup, I'm editing some files. C# in my case.
I purposely introduce an error by calling a function that doesn't exists in
the project. Then I edit another file and add the missing function. I would expect
that the UI is updated to remove the error but it does not.

Perhaps similar to
[https://github.com/emacs-lsp/lsp-mode/issues/1792](https://github.com/emacs-lsp

[2020-12-31 15:41] ericdallo commented on #2492
It seems that the server is not returning new diagnostics regarding the old file that have the errors, it's responsibility of the server to warn the client (lsp-mode) about these changes.

[2020-12-31 15:50] intrasight commented on #2492
In my case I am using omnisharp
Is there a command that I can run interactively to force lsp to resync with the server? Or on file save?

[2020-12-31 15:54] ericdallo commented on #2492
It depends on how the server will behave for that, for clojure-lsp for example, just saving the buffer will do the trick

[2020-12-31 15:54] yyoncho commented on #2492
You can force sync by doing M-x flycheck-buffer or you may try adding idle-buffer-switch to flycheck-check-syntax-automatically

[2020-12-31 16:00] intrasight commented on #2492
I get [No match] when I do M-x flycheck-buffer

[2020-12-31 16:41] nbfalcon commented on #2492
@intrasight do you have `flycheck` installed and loaded?

[2020-12-31 16:42] nbfalcon commented on #2390
I will close because there are no problems yet.

[2020-12-31 16:42] #2390 closed

[2020-12-31 16:47] nbfalcon commented on #1813
This could be done using the customize interface, so that we don't have to tie `lsp-mode` to that feature. However, I don't see why new users couldn't just use a framework instead?

[2020-12-31 16:51] intrasight commented on #2492
I do now. I had assumed it was loaded as a dependency. What does flycheck add to the situation?

I can now run M-x flycheck-buffer, but the error notification is still there.
If I close and open the buffer, the error notification is still present.
If I restart emacs and load the buffer, the error notification is gone.

[2020-12-31 16:55] yyoncho commented on #2492
So, seems like the issue is that the server does not actually send a notification that the diagnostic is cleared. @sebasmonia and @razzmatazz might know what the reason is.

[2020-12-31 17:23] intrasight commented on #2492
I found this:

https://stackoverflow.com/questions/56186264/vscode-omnisharp-not-working-for-solution-but-works-for-project

And this:

https://www.reddit.com/r/emacs/comments/adxcal/subprojects_do_i_need_to_armwrestle_projectile_or/

Trying to figure out how the pieces fit together  - multiple projects in a "solution". I'll keep experimenting, but if anyone has figured out omnisharp solution sema

[2021-01-01 01:32] spacekitteh commented on #2378
I'm getting this error with Haskell. It works fine on the first .hs file I open, but every other .hs file in the workspace after that first one, I get this error. I don't use desktop-save-mode, btw.

[2021-01-01 07:32] yyoncho commented on #2378
are you on the latest melpa version?

[2021-01-01 16:54] jidicula commented on #2364
This also fails with npm 7.3.0. Manually installing `bash-ls` from the shell works as expected, though.

[2021-01-01 22:53] spacekitteh commented on #2378
Yep.

[2021-01-01 23:31] #2475 closed

[2021-01-02 05:23] sebasmonia commented on #2492
Hi everyone,

In my experience the errors don't go away until you re-open the file. I never bothered to fix it because I tend to compile often so in a similar situation (I setup function/method usage, and then start working on the code) once compilation reports no errors I'm OK.

You can try cleaning the solution before compiling too, @intrasight. Does that help?

[2021-01-02 08:02] jo-so commented on #2378
@spacekitteh I've written up my research for the cause of this bug. https://jo-so.de/2020-12/Emacs-CPU-Verbrauch.html#verbrauchersucheimemacs Maybe you can use a translator to read it. In the end, I used this code in my init.el to analyze what's happening. This creates large logs, so maybe only use lsp-mode in one buffer.

[code]

[2021-01-02 08:24] jo-so commented on #2395
It's not a question if the user can fix it with its config. You are in a
better place to know which messages are garbage and which one are important.
When I get such a garbage message, I have to dig through a high bunch of
web search engine results to find out, I can ignore this message. But you
can do lsp-mode users a service and remove these messages.

[2021-01-02 08:38] yyoncho commented on #2395
I don't think we are. The same message can be garbage and can be important depending on the context of invocation. Also, the messages do change, and keeping a registry on our side which message is important and which is not something we wanna do considering that we support 50+ servers and those messages are just strings and can change at any time. What we can do here is to hide the messages that c

[2021-01-02 11:04] nbfalcon commented on #2378
@spacekitteh do you use `lsp-lens-mode`? It breaks in empty haskell files, and the error might prevent `lsp-mode` from initializing properly (#2441). Can you try the following and see if it fixes your problem?
[code]

[2021-01-02 11:10] razzmatazz commented on #2492
To add to @sebasmonia, sometimes forcingly-saving on one of the files clears diagnostics too. This needs more investigation on behalf of `omnisharp-roslyn` language server protocol and I don't think it is an issue of `lsp-mode` -- rather an issue with `omnisharp-roslyn` IMHO.

[2021-01-02 21:53] intrasight commented on #2492
Not sure if it makes any difference, but I should ask. I'm not using omnisharp-roslyn. Rather, since I have VS Code and Omnisharp installed, I just set lsp-csharp-server-path to the OnmiSharp.exe and confirmed that it was indeed the most current version.

I think this is my main area of misunderstanding. Visual Studio has the concept of a "solution", but I don't see where to find solution level se

[2021-01-02 23:47] spacekitteh commented on #2378
I don't, but I tried anyway, and that didn't fix it (also, the files I'm opening aren't empty).

[2021-01-03 07:37] yyoncho commented on #2378
@spacekitteh are you able to reproduce with `lsp-start-plain.el`? If yes, can you give us exact steps to reproduce?

[2021-01-03 08:46] razzmatazz commented on #2492
Just to confirm -- do you know that lsp-mode can install omnisharp for you (i.e. there is no need to set `lsp-csharp-server-path`)? -- just use `M-x lsp-csharp-update-server`. (Eventually we will move this functionality to the standard `lsp-install-server` infrastructure).

By "cleaning solution" he probably mean trying to do `dotnet clean` from the shell/ or clean solution w/ visual studio tools.

[2021-01-03 08:52] razzmatazz commented on #2492
Btw, can you dump a `tree` of your solution (.sln/.csproj files -- sans actual .cs filenames) -- so we can get an idea what is your project structure.

Also I would recommend creating a test solution w/1 project to see if omnisharp is working for you in the simplest case -- i.e. something like:
- Solution (dir)
  - .git (or some other project marker for `projectile` to match on)
  - Solution.sln

[2021-01-03 17:08] intrasight commented on #2492
@razzmatazz
I did know that lsp-mode can install omnisharp for me. But like I said, it was already installed via VSCode extension and so I used that exe. would the omnisharp-roslyn version behave differently in lsp-mode perhaps? Should I try and compare?

I am using .net core 5 for my tests

My test with a single project (like you outlined) is working fine. It's when I add a dependency to a second

[2021-01-04 03:24] wyuenho commented on #1621
Nevermind, I simultaneously ran into this problem and another freeze very similar to the StackOverflow post after the `while-no-input` block was put in place.

This problem seems to have been fixed in https://github.com/emacs-mirror/emacs/commit/3711339f92be0c50633aefae991d8fa4a135fe33

[2021-01-04 14:05] vpxyz opened #2497 "In emacs 28 "when" parameter are mandatory in function define-obsolete-variable-alias"
In emacs 28 (master branch), the "when" parameter are mandatory in functions make-obsolete, define-obsolete-function-alias, make-obsolete-variable and define-obsolete-variable-alias.

**Describe the bug**
In lsp.ocaml.el there are two line (60 and 61) where the "when" parameter are not defined:
(define-obsolete-variable-alias 'lsp-merlin 'lsp-ocaml-lsp-server)
(define-obsolete-variable-alias 'lsp-

[2021-01-04 14:07] ericdallo commented on #2497
Thanks for the report! I'll fix all cases in lsp-mode ASAP

[2021-01-04 14:34] laurynas-biveinis commented on #515
IMHO a nice feature to have would be to ignore server-provided argument lists when completing, conditionally. A use case is editing an existing function call to replace the called function while keeping the arguments:
[code]
I delete "foo" and start typing the new function name, and am offered completions. But at least with clangd, if I complete, I get the new function signature too, resulting in:

[2021-01-04 14:36] ericdallo commented on #515
WDYT @kiennq ☝🏻 ?

[2021-01-04 15:34] #2497 closed

[2021-01-04 16:49] yyoncho commented on #2497
@eli-zaretskii is this breaking change expected?

[2021-01-04 16:52] yyoncho commented on #515
@laurynas-biveinis I don't think this kind of smartness is in the scope of lsp-mode because lsp-mode does not understand the language syntax.

[2021-01-04 16:54] nbfalcon commented on #515
@yyoncho but most languages provide function call arguments after parentheses, so we could just discard everything after the first open paren?

[2021-01-04 17:00] Eli-Zaretskii commented on #2497
It's announced in NEWS:

                     ** The 'when' argument of `make-obsolete` and related functions is mandatory.
                     The use of those functions without a 'when' argument was marked
                      obsolete back in Emacs-23.1.  The affected functions are:
                      make-obsolete, define-obsolete-function-alias, make-obsolete-variable,

[2021-01-04 17:00] yyoncho commented on #2497
@Eli-Zaretskii thank you!

[2021-01-04 17:13] nbfalcon commented on #515
@laurynas-biveinis this more-or-less hacky (depends on `company` internals) solution should work (tested once):
[code]

[2021-01-04 17:20] nbfalcon commented on #2378
@spacekitteh try removing the haskell workspace and adding it again: `M-x lsp-workspace-folders-remove` followed by `M-x lsp`.

[2021-01-04 17:21] yyoncho commented on #515
I just don't like any interpretation of the source code since they most likely won't be accurate and as a result, we get bug reports which take a lot of time to fix. We could have snippets that use hooks/extension points and achieve the behaviour but also it is supposed to be supported by the user itself.

[2021-01-04 17:39] nbfalcon commented on #515
Yes, interpreting the source code intelligently won't work. However, my proposal was to just add a different `company-complete-selection`-like function that could be bound to some key and triggerred manually instead. No refactorings or deeper code changes.

[2021-01-04 19:07] kiennq commented on #515
@nbfalcon The parameter insertion can be caused by either candidate label (what's you're matching against) or by post-completion.
I remember that in case of `jdt-ls`, the candidate annotation (type, ...) is also part of completion candidate label and doesn't have `(`.
Intercept the `post-completion` will make the correct text doesn't get inserted in buffer.

Generally I agree with @yyoncho about t

[2021-01-04 19:10] nbfalcon commented on #515
@kiennq actually, my function should work just fine for such cases, since it doesn't run post-completion hooks. The idea is to take only the symbol part of the candidate and to insert that. This ins't intended to override the default `RET` completion behavior though, only to add a way to not insert arguments in some cases.

[2021-01-04 20:24] razzmatazz commented on #2492
You *should* get the same behaviour, unless your version of OmniSharp.exe is older from VSCode. I believe we're using the same distro .zip on Windows as VSCode does. `lsp-csharp-update-server` would ensure you have the latest though.

I can confirm I get this behaviour when using omnisharp w/lsp-mode while it does work properly when using VSCode -- i.e. notifications about cleared diagnostics is n

[2021-01-04 20:38] yyoncho commented on #2492
@razzmatazz we do not call the server, the server is sending us notifications. You can force redisplaying diagnostics via M-x flycheck-buffer(that won't call the server) or you may try adding idle-buffer-switch to flycheck-check-syntax-automatically

[2021-01-04 20:47] razzmatazz commented on #2492
@yyoncho if I understand you properly, you're saying that in this case it does seem that the server *did* send updated diagnostics for `Program.cs` file in time -- when I was updating/fixing/saving `Class1.cs` -- it is just that flycheck has cared to update the diagnostics+marker for the other buffer (`Program.cs`) only when I actually switched the focus to it, right?

And thus this issue is jus t

[2021-01-04 20:51] yyoncho commented on #2492
@razzmatazz it is not flycheck, it is lsp-mode... We had a lot of trouble with `find-buffer-visiting` performance, thus we update diagnostics only for the current buffer. Thus it is a limitation. But I think that @intrasight has a different issue, the diagnostics are not received till they restarts the buffer, right? But if M-x flycheck-buffer is refreshing the diagnostics, then the issue is not r

[2021-01-04 23:56] spacekitteh commented on #2378
That didn't work.

[2021-01-04 23:56] spacekitteh commented on #2378
I'll try in the next few days.

[2021-01-05 00:52] kiennq commented on #515
Since the post-completion doesn't run, the annotation will not be removed. So it's not really working.

I think this feature should have better change to ask the language server to improve it's context detecting logic (which will also improve every other clients experience as well) and insert appropriate thing.

[2021-01-05 02:06] Karrq commented on #2436
I can confirm later versions do fix the issue, currently I'm running 2021-01-04 Arch's release and it works properly

[2021-01-05 05:49] sebasmonia commented on #2492
FWIW I use Flymake, not Flycheck.
Trying a minimal example of Program.cs calling a method on Whatever.cs, I only get updates in the diagnostics after modifying the buffers (not necessarily saving them).

But I know for larger, multi-project solutions, sometimes the only way to get updated diagnostics is to build the solution and then editing the buffers. And even that is not 100% reliable. (But li

[2021-01-05 14:04] AllenDang opened #2499 "Completion doesn't start after "." is pressed in go-mode with gopls v0.6.1."
**Describe the bug**
Completion didn't start after pressed "." in go-mode with gopls v0.6.1.

Completion is triggered normally if I press one more character after ".", like `fmt.P`.

I tested with gopls v0.5.5, issue remains, seems it doesn't related with gopls.

I switched to eglot, completion works fine after "." is pressed. Seems go-mode works fine.

**To Reproduce**
Open main.go, type `fmt.`,

[2021-01-05 17:09] yyoncho commented on #2499
@kiennq - is this a regression?

[2021-01-06 03:20] kiennq commented on #2499
@AllenDang can you test with `lsp-plain.el`? I cannot seem to repro this issue with latest gopls

[2021-01-06 03:25] AllenDang commented on #2499
@kiennq I'm using doom and here is my lsp config.
[code]

[2021-01-06 08:38] apmanol commented on #2375
Thanks for reporting the issue. Same problem here with:

Client:
[code]
Server:
[code]

[code]
The funny things is that sometime it works, without doing any thing :-)

How can we try the updated tramp version?

[2021-01-06 10:06] kiennq commented on #2499
You can modify `lsp-start-plain.el` to include `evil-mode`, that will give you the vanilla Vim key bindings for use.

[2021-01-06 15:18] laurynas-biveinis commented on #515
@ericdallo @yyoncho @nbfalcon @kiennq thank you for your feedback. I agree that the proposed solution would be hacky, violate separation of concerns and is best fixed in the language server proper.

[2021-01-06 15:25] AllenDang commented on #2499
@kiennq Sorry, it turns out was a issue of gccemacs. Close now.

[2021-01-06 15:25] #2499 closed

[2021-01-06 16:41] gdkrmr opened #2503 "`clangd` is adding incorrect headers"
As discussed in https://github.com/syl20bnr/spacemacs/issues/12936, `clangd` tries to add headers automatically by default. The problem is that these normally are incorrect. This can be done by setting `lsp-clients-clangd-args` to `"--header-insertion=never"`. Do you think that this should be the default?

[2021-01-06 17:36] yyoncho commented on #2503
@sebastiansturm, @danielmartin, any thoughts?

[2021-01-06 18:11] sebastiansturm commented on #2503
`--header-insertion=never` is what I'm using, so I certainly wouldn't object to that being the default. Though my reason for using that setting was not so much wildly incorrect headers, but rather the fact that I don't want header insertion without me explicitly asking for it.
When doing that (using the 'missing include' fixits), headers are correct in my experience, though STL header paths may tu

[2021-01-06 19:28] petr-tik commented on #2375
Same. I still haven't found a way to hunt the intermittent failure down.

2 options:
1. Compile an emacs binary from upstream source - this is bound to include the new version of tramp (that's what I did)
2. git clone tramp from upstream and load it into your current emacs -
Instructions put taken from here
https://www.gnu.org/software/emacs/manual/html_node/tramp/Obtaining-TRAMP.html
and here
htt

[2021-01-06 20:05] nbfalcon commented on #2503
This is also a pain with `Qt`, where `#include <QPushButton>` becomes `#include <qpushbutton.h>`.

[2021-01-07 08:03] apmanol commented on #2375
Unfortunately no safe conclusion can me made.

[code]
The `.emacs`:
[code]

but the problem still remains.

After commenting out the `:load-path xxxx` it started working with version `Package: tramp (2.5.0 master/ac3829aa839cf70a8dd2e70c37eb59767c691a5f)` in the next start of emacs.

[2021-01-07 08:45] danielmartin commented on #2503
It usually works fine for me, except in a few small cases. But if many people are confused, we could enable it by default. Should we make it a Lisp `defcustom`? That way people could change the behavior more easily.

I think Google plans to improve this feature in the future, so we may want to revisit our decision later on.

[2021-01-07 10:42] floli opened #2504 "Unavailable glyphs in headerline"
Hello,

since recently, lsp-mode displays a headerline, containing the file's path and function where point is. However, the separator uses glyphs which are not available with my font.

I have seen https://github.com/emacs-lsp/lsp-mode/pull/2500 and this commit is contained in my version of lsp.

- Emacs 27.1
- lsp-mode-20210107.22 (from elpa)

`describe-face` gives me `Family: DejaVu Sans Mono`

[2021-01-07 11:12] martin5233 commented on #2375
@petr-tik: As Michael has fixed another issue, which arose in conjunction with magit and his Tramp changes, I have just pulled the latest version of Emacs and rebuilt. I can confirm, that remote lsp works with commit :9b31802e2d13cf8478c23d651741b54ffd4b984b.

[2021-01-07 12:25] ericdallo commented on #2504
#2500 should have fixed this issue 🤔
Although you can customize the separator with:
[code]

[2021-01-07 13:16] floli commented on #2504
I think the culprit here is that `(require 'all-the-icons nil t)` returns `all-the-icons`, i.e. `t` on my system. Still,
[code]
returns
[code]
with the glyph at the very beginning, before zero is displayed as a placeholder.

[2021-01-07 13:28] ericdallo commented on #2504
Hum, you mean your font doesn't know how to render that all-the-icons icon?

[2021-01-07 15:59] yyoncho commented on #2504
@floli I guess you have all the icons but you haven't actually installed all the icons fonts? Have executed `M-x all-the-icons-install-fonts` ?

[2021-01-08 09:02] ville-h commented on #2503
Automatic header inclusion results vary when programming in c and using clangd as well. Writing 'NULL' results in '#include <cstddef>' inserted when 'stddef.h' or similar would be the correct file. I don't know if this is an lsp-mode issue or a clangd issue.

[2021-01-08 13:17] floli commented on #2504
Ok, after `all-the-icons-install-fonts` it works. Best thanks!

For me, issue can be closed. Maybe there is another check to see if glyphs are really available.

[2021-01-08 15:19] uqix opened #2508 "[yaml lsp] There are no servers with automatic installation for yaml"
I am using the latest version of lsp-mode and Emacs Version 27.1 (9.0)

**Describe the bug**
`lsp-install-server` results in

**To Reproduce**
1. Open a yaml file
2. M-x `lsp-install-server` RET

**Expected behavior**
automatic installation.

**Which Language Server did you use**
`npm install -g yaml-language-server`

**OS**
MacOS 10.15.7 (19H114)

**Error callstack**
[code]

[2021-01-08 16:06] nbfalcon commented on #2508
This is probably because you haven't loaded `lsp-yaml`, but this might also be a bug in `lsp-mode`. @yyoncho perhaps `lsp-install-server` should load all `lsp-auto-configure-packages`, similarly to `M-x lsp`?

[2021-01-08 16:07] nbfalcon commented on #2508
@uqix
[code]
`M-x lsp-install-server`

[2021-01-08 16:17] farynaio commented on #1932
How to get specific version with `lsp-install-server`?

[2021-01-08 17:13] yyoncho commented on #2508
It is either already installed or you haven't loaded the packages as @nbfalcon mentioned. Generally, use `M-x lsp` in the file and lsp-mode will find the correct server to install.

[2021-01-08 18:31] nbfalcon commented on #2508
@yyoncho the problem here is that `lsp-install-server` doesn't load the `lsp-auto-configure-packages`, so it can only be used in buffers where `lsp-mode` is already configured. Perhaps we should load the packages there also, since installing is a relatively expensive operation anyway? If you consider this reasonable, I can make a PR.

[2021-01-08 18:49] yyoncho commented on #2508
@nbfalcon sounds good to me.

[2021-01-08 20:12] #2508 closed

[2021-01-08 20:13] nbfalcon commented on #2508
With latest `lsp-mode`, everything should work and no requires are necessary.

[2021-01-09 08:55] ville-h opened #2510 "lsp-ivy-workspace-symbol error: "Error processing message (wrong-number-of-arguments (1 . 1) 3).""
Entirely possible this is not lsp-mode's fault, but as I've no real understanding which of the packages is responsible for the recent break in functionality I'll start here. Feel free to point me towards the correct package.

**Describe the bug**
Invoking `lsp-ivy-workspace-symbol` resuls in: `Error processing message (wrong-number-of-arguments (1 . 1) 3).` and debug output.

**To Reproduce**
1. e

[2021-01-09 13:39] #2436 closed

[2021-01-09 21:02] albert200000 opened #2512 "json server not used when using js-mode for json file"
js-mode can be used for both javascript and json files but lsp-mode uses javascript server regardless of extension.

[2021-01-09 21:04] nbfalcon commented on #2512
Modes are used to look up servers and extensions only to derive the language id for servers that support multiple languages (e.g. `ccls` and `clangd`). This means that for any javascript-mode files, such language servers will be used. This will require some refactoring.

[2021-01-09 22:04] fbodr commented on #1165
@brotzeit how is the current status of this ?
Im trying to enable inline inlays (in a very simple hello world rust project), but I get nothing.

[2021-01-09 23:37] mohkale commented on #515
One feature I'm kind of missing from eglot (I'm experimenting with lsp so that I can use dap) is `display-local-help`. It's an emacs builtin that pops open a buffer witth some context related help. For example:

[code]

If my points on `printf` and I run `display-local-help` a buffer will pop-up with the full contents of the eldoc area. You can also set `eldoc-echo-area-prefer-doc-buffer` and then

[2021-01-10 00:02] #2430 closed

[2021-01-10 08:18] tshu-w opened #2514 "compatibility issues with lsp-tramp-connection and emacs 28"
**Describe the bug**
In emacs GNU Emacs 28.0.50, `start-file-process-shell-command` was update from:
[code]
to:
[code]

which make [lsp-tramp-connection](https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-mode.el#L6467) unusable.

A temporary solution on user side:
[code]

By the way, tramp complain about when lsp make tramp connection:
[code]

[TRAMP user manual](https://www.gnu.org/software/t

[2021-01-10 08:42] yyoncho commented on #1165
@fbodr  ATM it should work.

[2021-01-10 08:45] yyoncho commented on #515
@mohkale so, we have `M-x lsp-describe-thing-at-point` which partially covers your request. It makes sense to integrate with display-local-help to cover your use-case.

[2021-01-10 15:10] ericdallo commented on #2473
This is already supported by `lsp-treemacs` and it's working with Clojure, should we close this @yyoncho and other call hierarchy 3.16 issues?

[2021-01-10 15:17] ericdallo commented on #2469
This should improve servers performance like LSP suggest for `codeLens`, @yyoncho do you think it'd be hard to implement that? I could implement that on `clojure-lsp` server side too

[2021-01-10 16:21] yyoncho commented on #2473
Yep.

[2021-01-10 16:22] #2473 closed

[2021-01-10 16:23] ericdallo commented on #2474
We already have that support on [lsp-treemacs](https://github.com/emacs-lsp/lsp-treemacs/blob/master/lsp-treemacs.el#L1191)

[2021-01-10 16:23] #2474 closed

[2021-01-10 16:23] ericdallo commented on #2472
We already have that support on [lsp-treemacs](https://github.com/emacs-lsp/lsp-treemacs/blob/master/lsp-treemacs.el#L1191)

[2021-01-10 16:23] #2472 closed

[2021-01-10 16:25] yyoncho commented on #2469
I don't think it will be hard to implement, most likely localized changes in `lsp-execute-code-action`

[2021-01-10 17:12] fbodr commented on #1165
@yyoncho . Im trying it in doom emacs + rust-analyzer(master) , but it shows no inlay types at all.
rust-analyzer seems to be working, as the inlay hints are properly shown in vscode

[2021-01-10 17:39] nbfalcon commented on #1165
What are inlay hints supposed to look like?

[2021-01-10 17:44] fbodr commented on #1165
Here is a screenshot:
https://emacs-lsp.github.io/lsp-mode/page/lsp-rust/#inlay-hints
the inferred type is displayed near the variables

[2021-01-10 21:08] yyoncho commented on #1165
@fbodr you should be setting this variable before loading lsp-mode, right?

[2021-01-10 21:11] fbodr commented on #1165
this is my config.el for doom:
`(use-package! lsp-rust
  :config
  (setq! lsp-rust-analyzer-cargo-watch-enable t
         lsp-rust-analyzer-cargo-watch-command "clippy"
         lsp-rust-analyzer-proc-macro-enable t
         lsp-rust-analyzer-cargo-load-out-dirs-from-check t
         lsp-rust-analyzer-inlay-hints-mode t
         lsp-rust-analyzer-display-chaining-hints t
         lsp-rust-analyzer

[2021-01-10 21:13] yyoncho commented on #1165
AFACS you should set  `lsp-rust-analyzer-server-display-inlay-hints`

[2021-01-10 21:14] nbfalcon commented on #1165
Yup, it defaults to `nil`.

[2021-01-10 21:18] fbodr commented on #1165
you were right, thanks.
I ll double check the sites I got the values from, to see if it could be a documentation problem, or only lack of attention  😅

[2021-01-10 22:39] mohkale commented on #515
@yyoncho Thanks for pointing me to it (I kept trying to check for a command like `lsp.*help.*` but couldn't find this command). Binding `[remap display-local-help] 'lsp-describe-thing-at-point` in `lsp-mode-map` is a decent workaround. Of course the `*lsp-help*` buffer doesn't update as you move around the original buffer and eldoc is still active which doesn't make it a perfect translation, but i

[2021-01-10 23:39] Xeite commented on #1621
@yyoncho After I upgrade lasted lsp-mode, lsp-java I encountered exactly same thing as @jiacai2050 decsribed. When I disabled theme, it now looks working again.

[2021-01-11 03:52] lqu3j opened #2515 "lsp+gopls, Type space will trigger complete"
after I set company-minimum-prefix-length to zero,   when i type **space**, **semicolon**, will trigger complete, All are unrelated complements

[2021-01-11 07:23] kaiwk opened #2516 "lsp-rust rust-analyzer failed to detect workspace root"
**Describe the bug**
<img width="344" alt="Screen Shot 2021-01-11 at 3 14 37 PM" src="https://user-images.githubusercontent.com/10190397/104154573-37653b80-5420-11eb-90da-03bbe5c2fe65.png">

LSP consider the `$HOME` directory as the workspace root somehow. it do works in Rust workspace(with virtual manifest and multiple crates), but failed in the plain crate.

Does LSP cache the all workspaces roo

[2021-01-11 07:35] kaiwk commented on #2516
I found the cache in a file called `session.el`,  after delete my home path and reopen the project, it can prompt me to select workspace root.

[2021-01-11 07:35] #2516 closed

[2021-01-11 07:36] kaiwk commented on #2516
Maybe we can provide a command to clear the sessions?

[2021-01-11 08:57] yyoncho commented on #2515
if your company-minimum-prefix-length is zero this is the expected behavior, set it to 1.

[2021-01-11 08:57] #2515 closed

[2021-01-11 09:26] nbfalcon commented on #2516
`lsp-workspace-folders-remove` allows you to delete a workspace folder. It took me a while to notice it, too.

[2021-01-11 09:40] nbfalcon commented on #2487
[code]

I will address the major-modes soon.

[2021-01-11 10:01] floli opened #2517 "clangd keeps crashing, help getting debugging information"
Hello,

I have the problem that clangd keeps crashing on every file after a couple of seconds. I know it's probably not a lsp-mode error, but I already fail at getting meaningful information about the crash.

Versions are:

* GNU Emacs 27.1 (build 1, x86_64-pc-linux-gnu, GTK+ Version 3.22.30, cairo version 1.15.10) of 2020-08-17
* LSP :: lsp-mode 20210110.1933, Emacs 27.1, gnu/linux
* Ubuntu clang

[2021-01-11 10:16] yyoncho commented on #2517
What do you have in stderr buffer?

[2021-01-11 10:16] nbfalcon commented on #2487
See #2518. I don't know whether `texlab` supports `plain-tex`, so I haven't removed  and you may keep this open.

[2021-01-11 10:24] astoff commented on #2487
Their website only mentions LaTeX and BibTeX. (Digestif also supports BIbTeX, so that could be added to both.)

Finally, concerning #2518, note that `latex-mode` and `plain-tex-mode` both derive from `tex-mode`, so, assuming you check for that, you could make the list of modes shorter in the digestif config.

[2021-01-11 11:11] floli commented on #2517
Ok, I wasn't aware of the stderr buffer. Probably a worthy addition to https://emacs-lsp.github.io/lsp-mode/page/troubleshooting/ It actually shows the crash:
[code]
Do you have any idea about that crash? Or a suggestion to get more information before taking it to the llvm guys?

Best Thanks!

[2021-01-11 11:15] yyoncho commented on #2517
Yes, we should add it to `Server clangd:24584 exited with status signal. Do you want to restart it? (y or n)` message as well.

No, I am not following clangd development. @sebastiansturm might have a clue.

[2021-01-11 14:04] iris-garcia commented on #2499
@AllenDang I have exactly the same issue, can you tell me how did you fix it please? I'm also using gccemacs. Thanks.

[2021-01-11 17:03] Xeite commented on #1621
I manually downgrade `lsp-mode` to 6.3.1, and confirmed that it's working again. There might be some bug somwhere between the commits.

[2021-01-11 17:52] yyoncho commented on #1621
@Xeite do you have a config + steps to reproduce?

[2021-01-11 20:11] sebastiansturm commented on #2517
no, I don't know that crash, sorry

[2021-01-11 20:25] #2517 closed

[2021-01-12 00:09] wyuenho commented on #1621
@Xeite would be nice if you could git bisect to a commit too

[2021-01-12 02:19] AllenDang commented on #2499
@iris-garcia I rolled back to older working version of gccemacs to solve it.

[2021-01-12 03:34] jcs090218 commented on #2499
Can you give us the information regarding what version of gccemacs works? and what not? Thanks!

[2021-01-12 05:26] AllenDang commented on #2499
@jcs090218 Most recent commit 42ff68ec2f1149704da59fd692fafb095a44cce2 resolved this issue.

[2021-01-12 06:47] komali2 commented on #1572
Having this issue as well, and as someone that uses LSP through Emacs, I also can't set variables through vscode settings.

[2021-01-12 07:05] nbfalcon commented on #1572
If you run `M-x lsp`, you will be prompted to select a workspace root (only needs to be done once). Also, VSCode settings are mapped to `Emacs` `defcustom`s, so you can set them in .dir-locals like any others. They will be loaded before the server starts.

[2021-01-12 10:04] martin5233 commented on #2514
@tshu-w: Take a look at #2375, which contains information about the changes applied on both the tramp and the lsp side.

[2021-01-12 10:08] c-nixon commented on #2375
The new tramp connection code only works for built-in tramp transports due to it's use of the new direct async process method. For example it doesn't work with docker-tramp.

[2021-01-12 11:47] suive commented on #1117
@yyoncho I'm planning to implement the partial results feature in the language server for Kotlin I develop. For now I'm working on code completion, but other features would support streaming as well.
The language server is in an early WIP state now, but it's usable, and I guess it can be used to develop and test the feature client-side as soon as it wall be ready on my part.
Also I will be glad to

[2021-01-12 11:59] nbfalcon commented on #1117
@suive how is your language server different from [https://github.com/fwcd/kotlin-language-server](fwcd's)? In any case, I can offer you my thoughts on implementing this on `lsp-mode`'s side:
- `lsp-request-async` gets a new parameter, :partial-result-mode. It can be either `t`, in which case partial results are passed to the callback trough multiple invocations, `'collect`, in which case the call

[2021-01-12 13:20] yyoncho commented on #1117
@suive thank you.

For completion, we should coordinate with @dgutov. AFAICT most of the work/challenges will be on company-mode side. It seems to me that we won't be able to fit streaming it in capf without going to emacs-devel and waiting for new emacs release. This means that the practical solution will be to implement it as a traditional company backend and then push it in capf when appropriat

[2021-01-12 17:25] Xeite commented on #1621
@wyuenho I'm bisecting `lsp-mode` codebase, but I saw some conflict with `lsp-java` (I commented out 1~2 lines to ignore the errors though). Is there release guide to match both packages?

@yyoncho I will try again with minimal config to reproduce once I can't pinpoint the commit.

[2021-01-12 21:52] #1572 closed

[2021-01-13 00:57] wyuenho commented on #1621
@Xeite do you see the same stacktrace tho? Cos I haven't seen it since emacs-mirror/emacs@3711339

[2021-01-13 06:33] ashkan-leo commented on #1853
Hello!

I have been experiencing a similar behavior when using lsp-metals to edit Scala source.
The completion functionality stopped working a few months ago.
I am using Doom Emacs. When I clean the cache by running `(setq company--capf-cache nil)`, sometimes the completion works but most of the time it doesn't.
Sometimes I get some garbage completion too, but most of the time I don't get any comp

[2021-01-13 07:54] yyoncho commented on #1853
@ashkan-leo make sure you are using the latest lsp-mode.

Then: Use M-x company-diag to verify complany completion is using lsp-mode
You can also enable logging by setting lsp-print-io to t and then match your typing to textDocument/completion requests and your typing.

[2021-01-13 09:14] tshu-w commented on #1845
For a detailed discussion see #2375

[2021-01-13 09:14] #1845 closed

[2021-01-13 09:24] tshu-w commented on #2514
Thanks and let's discuss in #2375

[2021-01-13 09:24] #2514 closed

[2021-01-13 13:35] tshu-w commented on #2514
maybe write an around of `start-file-process-shell-command` is a better choise:
[code]

[2021-01-13 16:38] TheJJ opened #2520 "lsp-headerline-breadcrump-mode gets spellchecking"
I have `lsp-mode` `20210111.1652` in Spacemacs.

My breadcrump header line gets spell correction underlines:
![image](https://user-images.githubusercontent.com/673543/104481449-18a0a980-55c6-11eb-9db1-4699f248f4d5.png)

It should not be spellchecked. I'm not sure what causes this :)

**To Reproduce**
Any file I open where a breadcrump header line is generated.

**Which Language Server did you use*

[2021-01-13 16:45] yyoncho commented on #2520
This is not spell checking but it shows that there is an error/warning in that resource/path.

[2021-01-13 17:23] ericdallo commented on #2520
@anonimitoraf `(setq lsp-headerline-breadcrumb-enable-diagnostics nil)`

[2021-01-13 17:23] #2520 closed

[2021-01-13 18:32] anonimitoraf commented on #2520
Sweet, thanks :)

[2021-01-13 20:45] #2469 closed

[2021-01-14 01:12] dgutov commented on #1117
I really wish people visited emacs-devel more, not sure what else could restart the process of getting asynchronous completion support in capf. And streaming, too. All ending up in a new-and-rewritten version of capf.

But starting on it in company should be fine too. We can consider it incubating new API features, as well as experiment with how the change should look in the UI.

BTW, is streaming

[2021-01-14 01:55] Xeite commented on #1621
@wyuenho  Yes I tried to compile emacs@master which contains the commit you mentioned, but it did not work. (same stacktrace).

I'm bisecting commits, so keep me posting later.

[2021-01-14 02:27] oscarfv commented on #2499
I'm experiencing the same problem with lsp-dart. My gccemacs contains the commit mentioned above.

[2021-01-14 03:28] oscarfv commented on #2499
For the record: an emacs compiled from the same checkout but without `-with-nativecomp` worked fine. If I put `(setq load-no-native t)` at the beginning of `emacs.el` (thus disabling native code for external packages) works fine. So I deleted the directory `.emacs.d/eln-cache`, restarted gccemacs and it worked fine.

The problem might be related to a massive package update (via `package-list-packa

[2021-01-14 06:23] kiennq commented on #1117
I think at least it will reduce the latency until the first popup.
The part of fuzzy matching and sorting is interesting. Mainly how should we approach that:
- New items should fuzzy matched and push to the end?
  - Pros: No item jumping around in popup and less user confusion.
  - Cons: The order is not correct and depends on how language server sends chunk
- New items should fuzzy matched, sort

[2021-01-14 09:16] RKBK commented on #424
I was able to define a polymode to use different major modes in each part of a vue file:
https://github.com/AdamNiederer/vue-mode/issues/109
With this setup, I get vetur via lsp working, for all three sections (typescript, the vue-html part, and the scss part). I guess vetur is used just because it is suggested for .vue files, and I have installed it.

How would I go about adding javascript-eslint

[2021-01-14 10:28] yyoncho commented on #424
@RKBK AFAICS eslint client is registered for vue files:

https://github.com/yyoncho/lsp-mode/blob/modes/clients/lsp-eslint.el#L270

Do you have the server installed? If not just do `M-x lsp-install-server RET eslint RET`

[2021-01-14 13:08] dgutov commented on #1117
It can, but I think the question deserves some benchmarking. And also, maybe a comparison against YouCompleteMe's original approach, which was simply to limit the number of returned completions to 1000 (they did not cache on the client, obviously).

If you can [do the sorting properly on the client]. Of course, the user shouldn't notice that happening until they type some new char, or maybe press

[2021-01-14 13:12] nbfalcon commented on #1117
I don't see why we would need result streaming for completion at all. For things like `lsp-ivy-workspace-symbol` it makes sense, because there could be thousands of candidates, and some symbols might be in indexes not yet loaded from disk. But auto-completion is only based on parsing most of the time, so all information is available at once to the LS, not lazily loaded. Disclaimer: I am not an LS

[2021-01-14 13:17] ericdallo commented on #1117
Just FYI, there was a time Dart LSP server was returning thousands of completion items as you can see in [this table](https://github.com/dart-lang/sdk/issues/40026#issuecomment-643730264), there are other languages info too, wouldn't this streaming help with that?

[2021-01-14 13:18] nbfalcon commented on #1117
We'd just get thousands of result across multiple json responses. Would that really be helpful? We'd be spending the same time parsing (perhaps even more).

[2021-01-14 15:50] suive commented on #1117
Well, this unfortunately is not the case for Kotlin, where a more comprehensive analysis is needed to get extension properties (those can be scattered anywhere in the project and dependencies). We can let user get fast-to-compute local completion results, and then asynchronously send the other (more expensive to compute) part. That's how they do it in Intellij IDEA, I believe.

[2021-01-14 15:52] dgutov commented on #1117
@suive How do you deal with fuzzy sorting them, then?

[2021-01-14 16:22] suive commented on #1117
@dgutov In my opinion it will be a good idea to lift this restriction, if there aren't many technical difficulties:

In my experience there is nothing wrong with a completion hover window updating without user interaction. I think ability to get (partial) results faster is more important in this case.

In our case we either rely on the client-side sorting (re-evaluating it after each chunk), or tr

[2021-01-14 16:40] dgutov commented on #1117
Hmm, suppose I should see it first. VS Code does that as well, I imagine?

Whether we can do this in company also depends on the rendering methods available to us (overlays and child frame based popups). Like, if doing that will introduce extra glitches/blinking, then I'd wonder whether that is worth it.

[2021-01-14 16:51] yyoncho commented on #1117
Posframe solutions won't blink, right?

[2021-01-14 16:56] dgutov commented on #1117
We should test that with some prototype.

One reason I'm not using a posframe based frontend yet personally, is they're generally slower (on a GTK3 Emacs build) and do show some artefacts from time to time.

[2021-01-14 17:10] RKBK commented on #424
@yyoncho That's one weird thing about my emacs, I don't get that option for .vue files. I get:

![image](https://user-images.githubusercontent.com/4726978/104624346-bca45680-5693-11eb-8012-4f0706e60889.png)

[2021-01-14 17:12] yyoncho commented on #424
@RKBK this means that it is most likely installed. Have you verified that eslint is not actually running when doing M-x lsp in vue file? Also you may force starting a server by doing `C-u M-x lsp` and then selecting a server.

[2021-01-14 17:14] RKBK commented on #424
@yyoncho You were right! Sorry. Thanks for pointing out the keybind. The server exits, but I suppose I have misconfigured something:

[code]

[2021-01-14 17:15] yyoncho commented on #424
@RKBK I suggest deleting this installation, reverting eslint related customization and installing it via M-x lsp-install-server.

[2021-01-14 18:28] axelson commented on #713
Is there a chance for this to be re-visited? Or is there any way to work around this limitation from a language server implementation side?

[2021-01-14 18:56] yyoncho commented on #713
No.

I am looking at https://github.com/elixir-lsp/elixir-ls/issues/448 and given the fact that you are interested in `**/*.<ext>` there is even no room for optimization in elisp since we should watch everything...

In general, 1000 threshold limit is very aggressive. I  think that emacs will perform fine after the initial watch establishment even with 10k files to watch.

[2021-01-14 19:14] RKBK commented on #424
@yyoncho
I have deleted all the lsp-* folders from .emacs.d/elpa, as well as emptied out .emacs.d/.cache . After allowing everything to reinstall, I am able to execute C-u M-x lsp and select eslint inside the .vue file. But still, the vls server is then started, not eslint! Also, I was never asked to download the vls server, so I guess there is something more I need to remove?

[2021-01-14 19:39] yyoncho commented on #424
@RKBK which lsp-mode version do you run? If you are on melpa-stable please switch to melpa.

[2021-01-14 19:50] RKBK commented on #424
@yyoncho Switching to melpa and cleaning again seemed to have done it. Eslint (and a ton of other lsps) was now installable, and I could switch to it.

[2021-01-14 20:05] yyoncho commented on #424
flycheck for sure. For the rest, I don't know. For lsp-mode I generally recommend running melpa versions. Running melpa-stable version is tricky since you should install also the versions of the servers from that point in time.

It should work OOTB after doing M-x lsp.

[2021-01-14 20:12] RKBK commented on #424
Wow, now that the eslint server is installed, after restarting emacs (probably not necessary), and opening the file, lsp noted:

[code]

And it seems to work, giving me the same sort of feedback, and similarly instantly, as in vscode! It also seems to work just as well in .ts files.

I've now pinned melpa for the lsp packages, so let's see how this goes.

Many thanks.

[2021-01-14 20:28] yyoncho commented on #424
Good.

You might be interested in: https://emacs-lsp.github.io/lsp-mode/tutorials/reactjs-tutorial/

[2021-01-14 20:42] muirdm opened #2525 "Can't disable breadcrumbs without restarting."
**Describe the bug**

I updated lsp-mode and noticed the new breadcrumbs. I wanted to disable them so I set `lsp-headerline-breadcrumb-enable` to nil and re-opened the file but the breadcrumbs still show up.

After restarting Emacs, the setting seemed to be respected.

**To Reproduce**

1. Open a file with breadcrumbs enabled at the top.
2. Set `lsp-headerline-breadcrumb-enable` to nil.
3. Close a

[2021-01-14 21:04] ericdallo commented on #2525
Not sure it's a bug, but you can disable realtime via `M-x` `lsp-headerline-breadcrumb-mode`

[2021-01-14 21:06] yyoncho commented on #2525
@ericdallo the issue is that we attach the enable handler not buffer locally.

[2021-01-14 21:09] ericdallo commented on #2525
Oh, it makes sense @yyoncho , should I change it to buffer local the add hook or this can cause other issues?

[2021-01-14 21:09] yyoncho commented on #2525
IMHO it should be fine.

[2021-01-14 21:10] ericdallo commented on #2525
Hum, it seems it's already local

[2021-01-14 21:10] ericdallo commented on #2525
https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-headerline.el#L416-L420

[2021-01-14 21:13] yyoncho commented on #2525
I haven't tested, but maybe this is problematic:

We should alter buffer-local variable.

[2021-01-14 21:20] ericdallo commented on #2525
Hum, good catch, I'll test it

[2021-01-14 21:43] ericdallo commented on #2525
Opened [this draft](https://github.com/emacs-lsp/lsp-mode/pull/2526), I tested but still, the headerline shows off when opening a new buffer with the enable variable disabled

[2021-01-15 03:41] rubenmoor opened #2527 "LSP: eval:evalCommand not implemented?"
I type

[code]

And there appears

```evaluate```

If I click on it, I get the message

[code]

EDIT: this is using `lsp-haskell`/`haskell-langauge-server`.

[2021-01-15 07:45] kiennq commented on #2527
Which language server are you using?
That error means the language server and its client code doesn't support the extension method of `eval:evalCommand` and need to be implemented in client side

[2021-01-15 12:03] michaelpj commented on #2527
I suspect this might be the haskell language server. We had a previous report of this which led to me opening https://github.com/emacs-lsp/lsp-mode/issues/2250.

[2021-01-15 14:43] rubenmoor commented on #2527
Yes, `haskell-language-server` (updated my original post). I will inquire there. I guess, the error message might deserve an update in that case.

[2021-01-15 15:11] yyoncho commented on #2527
Closing as duplicate of #2250

[2021-01-15 15:11] #2527 closed

[2021-01-15 15:14] yyoncho commented on #2250
@michaelpj can you provide what exactly is the result from the language server call?

[2021-01-15 16:21] michaelpj commented on #2250
I didn't reproduce it myself, but this is what the user showed:
[code]

[2021-01-15 16:22] michaelpj commented on #2250
i.e. it looks like we get *something* back from the server. Not very descriptive, but that's the server implementor's problem! We should ideally just be able to say: "Your server gave this error when you tried to do that. Go show it to them."

[2021-01-15 16:35] togakangaroo commented on #2364
I have also encountered this. I have npm installed and set up via `nvm global` but it *is* on `PATH`. I haven't looked into lsp architecture too deeply at all if anyone can help me what yall mean by setting it up manually?

I get the error message

[code]

[2021-01-15 16:57] yyoncho commented on #2364
@togakangaroo which language server you want to install?

[2021-01-15 16:59] yyoncho commented on #2250
Ok, so the actual error pops up. It seems to me that we should drop the message and let the original error pop-up. We cannot distinguish between actual valid failure and missing implementation.

[2021-01-15 17:07] togakangaroo commented on #2364
@yyoncho `json-ls`

[code]

[Here is the logfile](https://gist.github.com/togakangaroo/bbd3e695dbd7e5ca706f4e2e2ba778c9)

I'm on a pretty new ubuntu install and a relatively basic spacemacs

[2021-01-15 17:09] yyoncho commented on #2364
You should make sure that  `vscode-json-languageserver` is on the path. In npm world, this narrows to: `sudo npm install -g vscode-json-languageserver`. I am not sure in your case what will be the correct command.

[2021-01-15 19:41] togakangaroo commented on #2364
Yup, that did it thanks!

[2021-01-16 07:30] kiennq commented on #2250
Here is current code for this message
[code]
I think the error is also being displayed now. So we can help route the issue to the language server.
Or we can reword to not mention about open new issue.
Without this kind of message, it would be hard actually know which command is causing problem in case of missing implementation.

[2021-01-16 07:58] stardiviner opened #2529 "The recently updated workspace project name prompt has error after input"
Before logging the bug, please make sure that:

1. You are using the latest version of `lsp-mode` related packages. **YES**
2. You may also try reproduce the issue using clean environment using the following command:
[code]
I tried this command, but it freezed on melpa.org connection.

**Describe the bug**
When I open an Python file in an directory which is not in lsp workspace.
I got following er

[2021-01-16 08:32] yyoncho commented on #2529
cc @Alexander-Miller

[2021-01-16 10:54] Alexander-Miller commented on #2529
Looking into it.

[2021-01-16 11:41] Alexander-Miller commented on #2529
Cannot reproduce it.

@stardiviner If it's an issue with the new prompt you can try setting `treemacs-read-string-input` to `from-minibuffer`.

We'll need to see your lsp & treemacs config next. Also make sure your treemacs is up to date as well.

[2021-01-16 11:51] stardiviner commented on #2529
After I set `(setq treemacs-read-string-input 'from-minibuffer)`. seems the problem not on prompt. the error still exist.

Here is my lsp-mode config:
https://github.com/stardiviner/emacs.d/blob/develop/init/programming/complete/init-prog-lsp.el

When I push my Emacs config, I found those directories in my Emacs config directory:

[code]

I found it now, what generated those files. Maybe change a

[2021-01-16 12:00] Alexander-Miller commented on #2529
Can you edebug through `treemacs-add-project-to-workspace` and probably also `treemacs-do-add-project-to-workspace`?  Knowing which line exactly the error is thrown in would be a great help.

[2021-01-16 14:56] thiagotps opened #2530 "implementing `20324:hlint:applyOne'"
**Describe the bug**
When I try to apply a code action in haskell, a message to open an issue in lsp-mode for implementing `hlint:applyOne` appears

**To Reproduce**
Create a hs file, like test.hs. Then write something like `add3 x = (x+3)` and try to apply the code action to remove the parentheses.

**Expected behavior**
The code action should be performed. In the particular example given above,

[2021-01-16 14:58] ericdallo commented on #2530
Willing to take a look @alanz ?

[2021-01-16 15:00] yyoncho commented on #2530
Most likely duplicate of https://github.com/emacs-lsp/lsp-mode/issues/2250

[2021-01-16 15:04] alanz commented on #2530
@thiagotps what version of HLS were you using?

The HLS issue template asks for

[code]

[2021-01-16 15:05] stardiviner commented on #2529
The problem is on line 770 `(goto-char (treemacs-project->position duplicate))`.

Also I recorded an video of edebuging process.

I uploaded big size 45M video file here.

https://pan.baidu.com/s/10oiUlqeN9DgfNRbeon0p2A
(You need input password "`ya3j`")

[2021-01-16 15:15] thiagotps commented on #2530
@alanz I'm using version 0.8.0

[2021-01-16 15:20] thiagotps commented on #2530
These are the output of the language server when I toggle lsp-log-io to `t`.
[lsp-log.txt](https://github.com/emacs-lsp/lsp-mode/files/5824618/lsp-log.txt)

[2021-01-16 15:23] alanz commented on #2530
@thiagotps can you give me the first part of that log? in particular the initialize response, which registers the commands, using the process-id of the running server instance. For me my server process id is 16694 and I get

[code]

[2021-01-16 15:50] thiagotps commented on #2530
This is the first part of my log.

[code]

[2021-01-16 17:31] alanz commented on #2530
@thiagotps your first part of the log registers
[code]
But the first log you posted shows
[code]
The process id's don't match, the one is 36025 and the other 46985.  Are they from the same session?

[2021-01-16 17:42] alanz commented on #2530
And I just ran your example locally, but selected the code action by clicking on the list on the right, and it worked.

Does that work for you? (I am running HLS current master, at 4b0e4560361ce429e09e6708ae8a845e2d37d2cd)

[2021-01-16 18:34] thiagotps commented on #2530
No. I started a new session before copying the log.

[2021-01-16 18:37] MaskRay commented on #2525
There is an error `(void-function lsp-headerline-breadcrumb-mode)` (from `lsp--auto-configure`) if the user does not `(require lsp-headerline)` first.

[2021-01-16 18:58] alanz commented on #2530
@ericdallo I think there *is* some kind of problem being reported by the language server, but the error reporting in lsp-mode is misleading.

Perhaps we shoud change the wording in

[code]
to state that the error should be reported in the language server reporting the error.

I managed to get a similar result for a different code action, where the emacs lsp log shows a null response, but the serve

[2021-01-16 19:04] ericdallo commented on #2530
Good question, not sure that it'd be always the server missing the implementation. c/c @yyoncho

[2021-01-16 19:14] yyoncho commented on #2530
Yep - https://github.com/emacs-lsp/lsp-mode/issues/2250#issuecomment-761060433

[2021-01-16 19:22] alanz commented on #2250
I think it would help if the lsp-mode logging include explicit error messages.

This is the hls log
[code]

And this is the corresponding lsp-mode log

*lsp-log:xxxx"
[code]

The error detail is discarded, giving `Result:null` instead.

[2021-01-16 19:32] yyoncho commented on #2250
@alanz this is lsp-mode bug.

[2021-01-16 22:36] PythonNut commented on #2417
Oops sorry for the delay. In the interim some other change appears to have fixed the issue. (I tested in `emacs -Q` so I know it's not my config). If this ever comes back I'll reopen.

[2021-01-17 06:45] ThatHai opened #2532 "Documentation outdated"
docs/page/settings.md mentions `lsp-report-if-no-buffer` but it doesn't seem to exist in the code.

[2021-01-17 06:52] #2532 closed

[2021-01-18 02:36] alecStewart1 opened #2535 "Solargraph being called with the wrong command?"
I've found this strange error with using solargraph with lsp-mode.

For whatever reason, upon opening a ruby file for Gemfile lsp-mode will try to start solargraph with the `server` command which no longer exists for solargraph.

Yet the [client configuration](https://github.com/emacs-lsp/lsp-mode/blob/8ed2fa58c54fc28bb0e9257a4d93a90f73c3f97d/clients/lsp-solargraph.el#L129) doesn't use the `server

[2021-01-18 10:51] vikigenius opened #2536 "lsp list/highlight available codeactions for the whole buffer ?"
Right now, the codeaction lightbulb is displayed on the modeline if i am on the line where a codeaction is available.

Is there a way to list the available codeactions for the whole buffer ? Say something like highlighting them just like warnings?

[2021-01-18 11:22] yyoncho commented on #2536
The protocol does not have such functionality. You might be interested in the lsp-treemacs-errors-list which has `Fix` functionality. Using it you may fix any fixable error in the project.

[2021-01-18 11:22] #2536 closed

[2021-01-18 14:45] laurynas-biveinis commented on #515
Is there any way to get automatic formatting for yanked regions but never their surroundings?

Now it seems there are two suboptimal options:
- turn off `lsp-enable-indentation`, paste (unformatted), fix up if needed, reformat the whole buffer or defun with a keyboard shortcut, or
- turn on `lsp-enable-indentation`, paste, observe in the case of the region having i.e. a missing trailing semicolon,

[2021-01-18 21:28] gdanov opened #2537 "slow paredit"
**Describe the bug**
when using clojure-lsp and paredit, paredit operations are very slow (few seconds)

**To Reproduce**
emacs 27.1, latest lsp-mode and clojure-lsp, lsp-enable-identation nil, open clojure file, wait for lsp server to initialize and slurp-sexp for example

**Which Language Server did you use**
clojure-lsp

**OS**
osx

**Error callstack**
here is the output of emacs profiler
[code

[2021-01-18 21:32] ericdallo commented on #2537
I can tell I'm having the same issue but was thinking it's something with my emacs setup, but it seems other people are with this problem too.

[2021-01-18 21:33] ericdallo commented on #2537
Did you confirm this happens even if lsp-mode is disabled?

[2021-01-18 21:34] ericdallo commented on #2537
@yyoncho do you know how lsp-mode can slow down that?
https://github.com/clojure-emacs/cider/issues/2747#issuecomment-762479602

[2021-01-18 21:53] gdanov commented on #2537
I had typo in the `lsp-enable-indentation` var name so I never really disabled lsp identation...whit the correct var name it is disabled and performance is as expected.

[2021-01-18 22:03] ericdallo commented on #2537
Not sure, is the performance issue related to clojure-lsp? enable `lsp-log-io` and check the log-io buffer and check how much time is taken between lsp-mode request and response

[2021-01-19 00:36] jturner314 commented on #713
As an idea, it may be helpful to add a hook so that users can more easily customize which files to ignore (with more sophisticated logic than just regexps). Personally, I'd like to ignore everything according to `.gitignore` (via `git-check-ignore`) except for `Cargo.lock`.

[2021-01-19 11:14] wezzle opened #2540 "Flow-ls takes precedence of json-ls with json-mode"
**Describe the bug**
When using flow-ls (as part op lsp-javascript) and opening a json file the flow-ls takes precedence of json-ls. They are both the same priority but because json-mode inherits from js-mode the activation-fn for flow evaluates to true.

**To Reproduce**
Create a project with a `.flowconfig` (can be empty). Create a `.json` file. Open the json file with both lsp-javascript and ls

[2021-01-19 11:21] #2540 closed

[2021-01-19 11:23] yyoncho commented on #2537
AFAICS this is cased by format-region call

[2021-01-19 12:09] gdanov commented on #2537
with lsp-log-io I see message trace in the *lsp-log* buffer. Don't see log-io buffer ...
Some observations:
* I play with the expression `(:a (:b))` at the bottom of 380 lines .cljc file and see "Applying 19 edits..." each time when barfing and slurping `:b` even though I don't touch the rest of the file
* each time the formatting command takes ~500ms
* created empty file with same basic addition

[2021-01-19 12:21] matklad commented on #2080
We are hitting this in rust-analyzer: https://github.com/rust-analyzer/rust-analyzer/issues/4263#issuecomment-762800167.

Out of curiosity, how hard would it be for Emacs to report offsets in ut8 coordinate space (I believe Emacs uses that internally)? I'd be willing to implement a protocol extension to use utf-8 offsets throughout.

I could, but I would be reluctant to implement unicode codepoint

[2021-01-19 12:22] yyoncho commented on #2537
I think the log is missing the "textDocument/rangeFormatting" request(s).

[2021-01-19 12:26] gdanov commented on #2537
hm, weird.
here is log from the original file I was working on. Perceived timing is the same

[code]

[2021-01-19 12:42] yyoncho commented on #2537
AFAICS the issue is in clojure-lsp Emacs/lsp-mode tries to format a small region but the server sends reformatting of all(?) forms.

[2021-01-19 12:47] ericdallo commented on #2537
Hum, the server seems to be sending the range correctly: https://github.com/clojure-lsp/clojure-lsp/blob/master/src/clojure_lsp/handlers.clj#L362

[2021-01-19 12:47] yyoncho commented on #2080
I don't think it will be hard to implement. We havennt fixed that issue due to the fact that it has a relatively low impact and it will affect performance.

[2021-01-19 12:48] ericdallo commented on #2537
@gdanov do you have a sample file where we can test that?

[2021-01-19 13:36] gdanov commented on #2537
anything basic and big enough works. No idea if .clj vs .cljc makes difference. here is basic file that reproduces the performance problem (when ~2k lines).

[code]

[2021-01-19 13:38] ericdallo commented on #2537
Ok, thanks, I'll look on clojure-lsp side after we merge this huge refactor that we are WIP this week https://github.com/clojure-lsp/clojure-lsp/pull/261
Would you mind opening an issue linking this one on clojure-lsp to help track that?

[2021-01-19 14:03] RKBK commented on #424
There is one more thing that I don't manage to get working. In vue files, in html sections, in vue components, there is no validation information shown. E.g. if there was a .vue file (leaving out the details) like

[code]

I don't get any error text for paramter being mispelled, although I do get that in vscode for the same project. Oddly, I also get the same sort of error in the typescript sectio

[2021-01-19 15:01] yyoncho commented on #424
we should crosscheck which language server is running in vscode and in emacs case.

[2021-01-19 16:04] utkarsh181 opened #2542 "Update use-package declaration in official website!"
First I would like to clarify that the existing documentation is already correct
this issue just tries to enhance it.

Existing Version
[code]

Better version
[code]

[2021-01-19 16:07] bkchr commented on #2080
Currently the problem for me is, that this makes rust-analyzer panic :D

[2021-01-19 16:13] ericdallo commented on #2542
LGTM, would you mind adding a PR changing it ?

[2021-01-19 16:30] yyoncho commented on #2080
So, the priority of the issue now is bigger.

[2021-01-19 16:44] utkarsh181 commented on #2542
Ok

[2021-01-19 20:27] ema2159 opened #2544 "ts-server loaded for ejs buffers instead of HTML server"
**Describe the bug**
When opening an .ejs file buffer, ts-ls is initialized instead of html-ls which causes a lot of undesired linting errors. This only happened when I updated LSP recently.

**To Reproduce**
Create and open an .ejs template file.

**Expected behavior**
Load a proper language server (like html-ls) or don't load any.

**Which Language Server did you use**
ts-ls, html-ls

**OS**
Lin

[2021-01-19 20:59] yyoncho commented on #2544
What is the major mode on your side for this extension?

[2021-01-19 21:45] ema2159 commented on #2544
@yyoncho web-mode.

[2021-01-20 07:18] #2544 closed

[2021-01-20 07:46] XO39 opened #2545 "Add support for Deno's builtin LSP"
Can you add support for [Deno's builtin LSP](https://deno.land/manual/getting_started/setup_your_environment#lsp-clients), It's just awful to work with `tide`, and 'lsp-mode' working for everywhere else in Emacs.

[2021-01-20 08:21] yyoncho commented on #2545
duplicate of https://github.com/emacs-lsp/lsp-mode/issues/2235

[2021-01-20 08:21] #2545 closed

[2021-01-20 08:46] RKBK commented on #424
Vetur is used in vscode. The following vetur-specific settings are applied (I removed the lines not specific to vetur):

[code]

Vetur is used also in lsp-emacs. The vetur.validation.templateProps: true part is, I guess, the same as the variable lsp-vetur-validation-template, which has the value t in my emacs.

However, I did not have the setting corresponding to
"vetur.experimental.templateInterp

[2021-01-20 09:40] XO39 commented on #2235
@yyoncho Sorry for the duplication.

Any plan for this?

I tried to mess around and did this (basically copied from `flow-ls` code in the `lsp-javascript.el` file):
[code]

 But, although the new client `deno-ls` fires whenever I open a TypeScript file, all functions and features of lsp-mode are not there, no popups, no ui nothing!

This is from `*lsp-log*`
[code]

And this is from thei `*deno-ls:

[2021-01-20 09:50] RKBK opened #2546 "lsp-ui pop ups frequently only display a small part of the contents"
**Describe the bug**
Using lsp-mode with vls and javascript-eslint, with lsp-ui, enables helpful documentation pop ups. However, the pop ups often have certain size, yet only a smaller part of the total size contains the actual information. The information is not fully visible. See example, snapped from a current lsp-mode session in a typescript file:
![image](https://user-images.githubusercontent

[2021-01-20 10:29] yyoncho commented on #424
@RKBK feel free to provide a PR to change the defaults to more meaningful.

[2021-01-20 11:39] Xeite commented on #1621
It's weird that I could not find suspected commit without any problem for all commits :\ Only difference during the time was editing pattern (I wrote org file while keep jumping around codes), but hardly believe it makes difference.

[2021-01-20 12:45] RKBK opened #2548 "Invoking lsp-rename on symbol in typescript file with-ls ts results in "wrong type argument""
**Describe the bug**
The error
[code]
is returned when command `lsp-rename` is executed on a symbol in a typescript file where ls-ts and javascript-eslint is running.

**To Reproduce**

1. Open a ts file
2. execute lsp-rename on a symbol

**Expected behavior**
The renaming refactoring should work

**Which Language Server did you use**
ls-ts with javascript-eslint in typescript

**OS**
Ubuntu 20.04

[2021-01-20 14:54] parminderPSR opened #2549 "LSP Config for emacs c/c++ show no Capabilities !!"
Please ask your questions at https://discord.gg/swuxy5AAgT

HI Guys,

I have configured emacs-lsp with ccls setup, however It does not auto complete structures and filed suggestions.
In lsp-describe-session it does not show any capabilities, it parse correctly from *.json but there are no capabilities list in LSP.

I am using below code:

(use-package lsp-mode
  :commands (lsp lsp-deferred)
  :bin

[2021-01-20 15:54] yyoncho commented on #2549
You should place the cursor on the red diamond and press RET.

[2021-01-20 16:07] parminderPSR commented on #2549
Thanks :)
Any idea about auto-completion, it is not working however for NVIM coc-lsp it works ?

[2021-01-20 16:11] yyoncho commented on #2549
Do you have company-mode installed? What happens if you do M-x company-complete?

[2021-01-20 16:11] #2549 closed

[2021-01-20 16:15] parminderPSR commented on #2549
Yes, I have installed it, with company-complete it shows all possible option from buffer not from the respective data structure.

[2021-01-20 16:19] yyoncho commented on #2549
First do M-lsp. Then do M-x company-complete. If you don't see the completions from the language server do M-x comapany-diag and post the output. Also, try M-x company-capf.

[2021-01-20 16:20] parminderPSR commented on #2549
here is the outcome:

Emacs 28.0.50 (x86_64-pc-linux-gnu) of 2020-12-28 on r10405
Company 0.9.13

company-backends: (company-bbdb company-semantic company-cmake company-capf company-clang company-files
              (company-dabbrev-code company-gtags company-etags company-keywords)
              company-oddmuse company-dabbrev)

Used backend: company-clang
Major mode: c++-mode
Prefix: stop
Comple

[2021-01-20 16:26] yyoncho commented on #2549
Are you using the latest melpa version of *all* packages? This issue should have been fixed months ago.

[2021-01-20 16:36] parminderPSR commented on #2549
Just deleted and re-installed all, now it looks like this
Emacs 28.0.50 (x86_64-pc-linux-gnu) of 2020-12-28 on r10405
Company 0.9.13

company-backends: (company-bbdb company-semantic company-cmake company-capf company-clang company-files
              (company-dabbrev-code company-gtags company-etags company-keywords)
              company-oddmuse company-dabbrev)

Used backend: company-capf
Value

[2021-01-20 16:37] yyoncho commented on #2549
That should work. If it doesn't work it is most likely caused by wrong project root selecton, missing compile_commands, etc.

[2021-01-20 16:38] parminderPSR commented on #2549
Ok,  i will check again and also remove rtags completely.
Thanks for info  )

[2021-01-20 21:46] #2548 closed

[2021-01-21 00:12] leungbk commented on #2542
Closed in https://github.com/emacs-lsp/lsp-mode/pull/2543.

[2021-01-21 00:12] #2542 closed

[2021-01-21 07:15] RKBK commented on #1932
I ran into this issue only after updating to lsp-mode 20210120.2145, but following @yyoncho's recommendation to delete the language server (delete the subfolder "eslint" inside ~/.emacs.d/.cache/lsp), restarting emacs, and then lsp-install-server eslint, seems to have fixed it.

[2021-01-21 09:25] gdanov commented on #2537
wow, that's serious work. issue created as you requested

[2021-01-21 21:28] ideasman42 opened #2552 "Updating packages breaks lsp-mode "every time""
Whenever I run an update on emacs packages, I get many warnings and lsp-mode stops working.

To solve I have to manually delete the lsp-mode package, re-install it, then it works.

Posted this Q&A on stackexchange: https://emacs.stackexchange.com/q/59717/2418

**Describe the bug**
LSP mode doesn't work, every time lsp-mode is updated.

Even on restarting emacs it doesn't work.

**To Reproduce**

I

[2021-01-21 21:51] yyoncho commented on #2552
Given how Emacs works delete + restart + install is the only way to guarantee that packages are installed properly. It is also recommended by our docs.

[2021-01-21 22:22] ideasman42 commented on #2552
Is there a way to force a full re-install every time? Having to manually remove the package is quite awkward.

[2021-01-22 06:16] leungbk commented on #702
I was thinking about adding something like this just now. Why did we choose to close this originally? @yyoncho

[2021-01-22 08:36] yyoncho commented on #702
it was implemented and then reverted: https://github.com/emacs-lsp/lsp-mode/pull/1699

[2021-01-22 08:45] yyoncho commented on #2552
@ideasman42 one way to do it M-x package-list-packages, `M-x package-menu-filter-by-name RET lsp RET` and mark for deletion  the packages.

[2021-01-22 08:45] #2552 closed

[2021-01-22 09:57] nils-schween commented on #2542
Hi everyone,
it would be nice, if `lsp-keymap-prefix` could be set with `:bind-keymap ("C-c l" . lsp-command-map)`. But if I do this, the integration with which-key does not work anymore. Why is it, that I cannot just bind the keymap to some key-strokes?
Thanks.

[2021-01-22 10:21] yyoncho commented on #2542
@nils-schween you should call lsp-enable-which-key-integration with the new prefix, somethig like:

[code]

[2021-01-22 10:39] nils-schween commented on #2542
Thanks @yyoncho! I just checked it.
[code]
does work too. But it does look a little ugly.

[2021-01-22 21:07] RKBK commented on #424
@yyoncho I'm sorry for being a bit unclear. I've come to realize that the settings I were missing were in fact simply non-default settings. So it makes sense that I would need to set them myself in emacs, too. I'm a bit new to both vue and lsp-emacs, so how to do that on the emacs end for vue was confusing at first. Now, I think I've understood how to get vls set up the same way as we have it set

[2021-01-23 00:14] jul1u5 commented on #2040
I can no longer observe the issue. I don't know if the issue was on my end or if was fixed upstream, but lsp-mode is working really well now! :rocket:

Apologies for not uploading the logs.

[2021-01-23 00:48] ideasman42 commented on #2552
Note, removing and re-generating `*.elc` files in the `lsp` directory resolves the problem.

[2021-01-23 07:41] yyoncho commented on #2040
I am marking the PR as fixed, since it works ootb since lsp-diagnostic-clean-after-change default is now nil.

[2021-01-23 07:41] #2040 closed

[2021-01-23 09:57] laurynas-biveinis opened #2556 "Headerline on cloned buffers results in (wrong-type-argument stringp nil)"
**Describe the bug**

Having headerline enabled and cloning a project buffer results in `(wrong-type-argument stringp nil)` on the cloned buffer.

**To Reproduce**

1. `(lsp-headerline-breadcrumb-mode)`
2. Visit a project buffer
3. Clone it, i.e. `C-x 4 c`

This is with 7.0.1 release. Source code reading suggests that the trunk is affected the same. The issue seems to be `lsp-headerline--build-fil

[2021-01-23 13:03] ericdallo commented on #2556
I could not reproduce the issue, WDYT @yyoncho ?

[2021-01-23 13:47] yyoncho commented on #2556
I am reproducing the issue. I will check first if we can make lsp-mode working in general with indirect buffers.

[2021-01-23 15:44] meditans opened #2557 "`lsp-lens-mode` writes the text twice"
**Describe the bug**
When I enable `lsp-lens-mode` in `doom-emacs` with a minimal configuration, the text is displayed twice. Look for the string `Evaluate` in [this example](https://imgur.com/u7zgtbT)

**Expected behavior**
The text is displayed only once. Mostly, I'd like to understand which part of the code is creating that, since the interaction of the various components of lsp-mode is unclear

[2021-01-23 15:52] ericdallo commented on #2557
The server provides the lens, in this case the server for lsp-haskell, and lsp-mode just display at the given position, not sure if `lsp-haskell` is using default lsp-mode code-lens or is creating in its own way c/c @kurnevsky

[2021-01-24 02:20] ideasman42 commented on #2552
This script handles updating without breaking lsp-mode.
https://gitlab.com/ideasman42/emacs-package-utils-upgrade-all-and-recompile

[2021-01-24 20:57] sebastiansturm commented on #2448
if anyone would like to test this, I have a preliminary implementation at sebastiansturm/lsp-mode, but I haven't opened a PR yet as I'll need to test it with `lsp-use-plists` enabled, and with a language server that sends out refresh requests. Plan to do that later this week

[2021-01-24 21:06] ericdallo commented on #2448
cool @sebastiansturm I can test it, I implemented clojure lsp server support for semantic tokens recently, but no refresh yet, but I can do if it's needed

[2021-01-24 21:07] ericdallo commented on #2448
I noticed some bugs on lsp-mode regarding delaying the tokens updates and for a small amount of time the tokens just got white before apply the tokens instead of use the major mode faces, I hope this branch fixes it too!

[2021-01-24 21:13] sebastiansturm commented on #2448
I'm not a clojure developer but I'll gladly use the clojure server for testing if you'll implement support, otherwise I'll try with the lua language server (as far as I understand, someone recently had issues with lua lsp sending out refresh requests, so apparently the support is there).
As for the delay, I haven't noticed that even with the current implementation, except when tree-sitter-hl mode

[2021-01-24 21:14] ericdallo commented on #2448
I'm not sure when should server should send refresh notification, do you have an example?
Never heard of that tree-sitter-hl 😆

[2021-01-25 09:58] michaelpj commented on #2557
Yeah, this seems more likely to be a `haskell-language-server` issue. Are you sure the second instance isn't a code action? Otherwise, perhaps the server is sending two lenses for some reason?

[2021-01-25 12:06] stardiviner commented on #2529
Any update on this issue?

[2021-01-25 16:28] nbfalcon commented on #2529
Does `treemacs` itself work, i.e. does `M-x treemacs` show you a project view? This seems like a corrupted state, so you may want to rename the treemacs save file temporarily and see if that resolves your issue (this will remove all your projects from Emacs, but you can add them manually again or just rename your save file back). The file is stored in the variable `treemacs-persist-file`.

[2021-01-25 17:39] nbfalcon commented on #2215
@zhangjie2012 you need to `M-x eval-expression` that snippet and to add it to your init file. You also need to call `lsp-workspace-root` to restart your gopls workspace. Then comment completion should be disabled.

[2021-01-25 19:24] Alexander-Miller commented on #2529
@stardiviner Don't worry, I haven't forgotten the issue, just git distracted by some new hardware ;)

Dealing with this error is at the top of my list now, and knowing the line will make it very easy to find out what's going on. Looks like lsp-treemacs is adding a project it shouldn't, and treemacs fails to act on it because something unexpected is nil. I'll investigate why that happens and which

[2021-01-25 22:39] ericdallo commented on #2448
Hey @sebastiansturm, good news, my issue with some tokens not being updates were gone with your branch :D
I'll keep testing it with clojure and let you know if any bugs

[2021-01-25 22:45] ericdallo commented on #2448
Actually, still happens not so small files, check the gif:
![lsp-semantic-tokens-bug](https://user-images.githubusercontent.com/7820865/105775446-9315e580-5f45-11eb-86f3-3691f084e024.gif)
Here, `clojure-lsp` return the purple color as a macro token for `deftest`, `testing` and `is` for example, it seems that the first request works, but if I scroll or go back it has a lot of tokens not purple...
A

[2021-01-26 00:03] ejelly opened #2562 "per-project clangd path/arguments"
I have different projects that use clangd residing at different paths, and with different arguments. (In fact, because of cross-compiling, sometimes I'd like to use different instances of those settings in the *same* project.)

It seems like the only way to tell lsp where to find clangd, and with what additional arguments to call it, is global variables. Is that correct? Would it be possible to pa

[2021-01-26 03:00] stardiviner commented on #2529
I deleted all treemacs-persist-files under `emacs/.cache/`. Still same error. Then I realized I need to restart Emacs.
**After I restarted Emacs, problem solved**.

Before deleting treemacs persist-files. I checked on those files.
The `treemacs-persist-files` looks normal. But there is a file ` treemacs-persist-at-last-error`.
Here is the content which contains `nil`. I guess maybe this caused the

[2021-01-26 07:10] lqu3j commented on #2499
@oscarfv  after deleted .emacs.d/eln-cache, also can't complete

[2021-01-26 07:16] julien-oster commented on #2562
It's worth noting that eglot supports this, e.g. by launching it like this:

`(eglot major-mode (project-current) eglot-lsp-server '("/tmp/cc1/clangd" (concat "--compile-commands-dir=" build-dir)))`

[2021-01-26 07:19] yyoncho commented on #2562
2 options:

1. Use .dir-locals (refer to FAQ for example).
2. Use this to alter lsp-clangd client definition:
[code]

I am marking the issue as closed but you can use it for further questions.

[2021-01-26 07:19] #2562 closed

[2021-01-26 07:30] oscarfv commented on #2499
With emacs-lsp and gccemacs from two weeks ago I need to invoke the complete mechanism explicitly (C-M-i).

@lqu3j : how old is your gccemacs build?

[2021-01-26 07:49] yyoncho commented on #2529
FTR disabling `lsp-treemacs-sync-mode` will fix your issue.

[2021-01-26 07:55] yyoncho commented on #2535
I don't see any "server" in latest lsp-mode. Can you make sure you are using the latest version?

[2021-01-26 08:13] akoppela opened #2563 "How to disable fuzzy completions?"
Hi. I do have quite large project and fuzzy completions quite slow for me. Is there a way to disable fuzzy completions?

[2021-01-26 08:19] yyoncho commented on #2563
ATM there is no way to do that. Can you post a performance report? Which language server do you use? The client-side fuzzy matching lsp-mode does is very fast so I doubt that the perf issue is in it.

[2021-01-26 08:48] lqu3j commented on #2499
yes, it can complete by type (C-M-i), But can't auto complete. gccemacs commit :b8d3ae78c54db7c7bb65d367a80f9be3d8744c48

[2021-01-26 08:51] lqu3j commented on #2499
I'm not sure if it's gccemacs' or lsp-mode's problem， Now using the previous version of gccemacs without problems will also have this problem

[2021-01-26 08:53] lqu3j commented on #2499
yes, it can complete by type (C-M-i), But can't auto complete. gccemacs commit :b8d3ae78c54db7c7bb65d367a80f9be3d8744c48,
I'm not sure if it's gccemacs' or lsp-mode's problem， Now using the previous version of gccemacs without problems will also have this problem
but i use emacs without native-comp has no problem

[2021-01-26 09:22] stardiviner commented on #2529
@yyoncho I checked the docstring of `lsp-treemacs-sync-mode`. It sync lsp-mode workspaces and treemacs projects. Is it necessary? I close it is safe?

[2021-01-26 09:24] yyoncho commented on #2529
@stardiviner it is optional functionality.

[2021-01-26 09:28] stardiviner commented on #2529
Remove the hook of this mode now. Thanks.

[2021-01-26 12:43] yyoncho commented on #2286
Sounds good.

[2021-01-26 13:09] bkchr commented on #2080
@yyoncho could you maybe give me some pointer into the code? So, I could try to fix this issue?

[2021-01-26 13:52] yyoncho commented on #2080
@bkchr you have to fix both functions lsp--position-to-point and lsp--point-to-position. Also, AFAIK eglot has that function implemented.

[2021-01-26 13:53] nbfalcon commented on #2080
As a side note, `clangd` supports `UTF-8` directly, if a special option is specified.

[2021-01-26 14:16] matklad commented on #2080
@nbfalcon thanks, I didn't realize that the extension already exists. I actually would prefer to fix this on the server-side than, to create social pressure to actually officially adopt that into the protocol.

[2021-01-26 14:16] aldanor commented on #713
@jturner314 That would be the cleanest default, indeed - anything that's already in your .gitignore has to no reason to be watched.

[2021-01-26 14:20] nbfalcon commented on #2080
Here is the relevant source: `https://clangd.llvm.org/extensions.html#utf-8-offsets`. @matklad I agree that this would be great, since many servers/editors/libraries assume UTF-8 (well, everything aside from VSCode and JavaScript). There is an upstream bug about this already: https://github.com/microsoft/language-server-protocol/issues/376.

[2021-01-26 14:24] nbfalcon commented on #713
@aldanor how about source code that is generated as part of the build process and can as such change any time?

[2021-01-26 16:50] samwdp opened #2565 "Error whils starting CSharp server"
**Describe the bug**
Lsp-csharp server does not start up when opening any .cs file. Tested with the native omnisharp package which starts correctly with the same omnisharp server (1.37.6)

**To Reproduce**
Using doom-emacs with lsp enabled and (csharp +lsp)

**Expected behavior**
Server to start with no issues. Have tested native omnisharp package and there is no start up issues with the server 1.

[2021-01-26 17:03] yyoncho commented on #2565
cc @razzmatazz

[2021-01-26 17:26] razzmatazz commented on #2565
This looks to be very similar to https://github.com/OmniSharp/omnisharp-roslyn/issues/2024 which has been fixed some time ago already.

Are you sure your emacs-lsp is using the latest version of the server? Have you tried running `M-x lsp-csharp-update-server` and you don't have `lsp-csharp-server-path` overridden to some custom location?

[2021-01-26 18:39] samwdp commented on #2565
@razzmatazz i just purged all my packages and re-built them and the server started up fine. Maybe the path got overridden somewhere but nothing that I consciously did. I will close this off now.

[2021-01-26 18:39] #2565 closed

[2021-01-27 02:37] akoppela commented on #2563
Thanks for you answer. I'm using Elm Language Server. Don't have time to debug it at the moment. Will switch to different completion option.

[2021-01-27 03:14] kiennq commented on #2563
@akoppela You can try to disable fuzzy matching by
[code]
That will be same as sub-string matching. I doubt the bottom neck here is fuzzy completion though

[2021-01-27 03:22] akoppela commented on #2563
I've tried that. The bottleneck is indeed not in fuzzy completion. It's probably related to the language server.

[2021-01-27 03:23] akoppela commented on #2563
I've switched to `company-dabbrev` which works really well.

[2021-01-27 10:29] sebastiansturm commented on #2448
thanks for the bug report! I haven't seen this kind of behavior myself (unless, as mentioned, tree-sitter-hl was enabled), but I'll try to install clojure-lsp this evening and reproduce the issue myself. If that doesn't work out, I'll have a look this weekend at what happens with tree-sitter enabled, maybe for some reason the same underlying issue occurs with your configuration

[2021-01-27 10:50] blitz commented on #303
@Dushistov @vibhavp I have the same issue. What is the solution?

[2021-01-27 10:54] nbfalcon commented on #303
@blitz this looks like an event, which is handled in `lsp-rust`. Try updating and recompiling `lsp-mode` and updating `rls`.

[2021-01-27 13:18] alanz opened #2566 "Feature suggestion: derived mode support"
I am experimenting with a new language server for a variant of a language, and using an emacs derived mode for the new major mode.

As [explained here](https://stackoverflow.com/a/19295380), parent mode hooks are always called, and the new mode hook is called last. This means I end up with two language servers for the language. And I do not want to just disable the original, I am using it elsewher

[2021-01-27 13:39] yyoncho commented on #2566
I think that we can fix that in `lsp--matching-clients?` but I am not sure if there are users depending on this behavior.

[2021-01-27 13:43] alanz commented on #2566
I think it should be a behaviour you can set  as an option to `make-lsp-client`, so it can easily be managed.  If that is feasible.

[2021-01-27 13:49] yyoncho commented on #2566
I don't think we need another option in `make-lsp-client` about matching a file because we have `:activation-fn` which can cover any custom matching logic.

[2021-01-27 14:26] alanz commented on #2566
The problem is that first the parent mode `lsp` hook runs, which starts the language server.
Some time later, separately, the derived mode `lsp` hook runs.

So to use `:activation-fn` the parent mode needs to have something set. This is problematic, because ideally deriving a mode should be transparent to the existing mode.

But this is just a discussion, I have a work-around for my current setup,

[2021-01-27 20:12] yyoncho commented on #2537
I am closing this since it seems like there is nothing to do on lsp-mdoe side.

[2021-01-27 20:12] #2537 closed

[2021-01-27 20:13] yyoncho commented on #2557
closing the issue based on the @michaelpj comment. @meditans feel free to use it for further questions.

[2021-01-27 20:13] #2557 closed

[2021-01-27 20:18] #2403 closed

[2021-01-27 20:56] sebastiansturm commented on #2448
better take this with a large grain of salt for now, but I guess the flickering might be caused by the underlying fontification layer extending its fontification region, in which case previously inserted token faces might get cleared, but wouldn't get reinserted because lsp-semantic-tokens only considers the originally requested fontification region. I've pushed an experimental commit to my reposi

[2021-01-27 21:17] ericdallo commented on #2448
Ow, I'll update it here and keep testing, thanks!

[2021-01-27 21:36] yyoncho commented on #2566
Hm - about the original issue - I am a bit confused. I tested with
[code]
and then opened json file and it printed that the current major-mode is json-mode not javascript. Thus, the fact that multiple hooks run just results in initializing the same server(the right one) 2 times. Do I miss something?

[2021-01-27 22:02] alanz commented on #2566
The bit that's missing from the original statement is that the new mode is defined something like

[code]
If you then define a new lsp client for `elp-mode`, and set hooks (and associate the `*.elp` extension with the new mode)

[code]
Then opening an erlang file works as expected, opening a `.elp` file will start both language servers, but the hooks run one after the other, so they cant coordinat

[2021-01-27 22:07] yyoncho commented on #2566
What I am saying is that when `lsp` is running in `elp` buffer under the `erlang` hook the major mode is `elp-mode` so it will fire up the elp-mode associated server.

[2021-01-27 22:21] alanz commented on #2566
The [post I linked to initially](https://stackoverflow.com/questions/19280851/how-to-keep-dir-local-variables-when-switching-major-modes/19295380#19295380) has a section about how the hooks get called.  TLDR; first the ancestor mode hooks are called, and then finally the derived mode hook.

[code]

And this is what I observe in the lsp log buffer, they get called one after the other, starting with

[2021-01-28 07:42] yyoncho commented on #2566
Calling both is fine as long as the major-mode is the right one because we pick the language server based on major mode, not on the hook being called.

What major mode do you see when you do this:
[code]
and you open a file in elp-mode?

[2021-01-28 12:15] nahuel opened #2568 "[wish] warn when lang-server version is old"
I found I was using a very old `ts-ls` version without knowing it, have had to delete `.emacs.d/.cache/npm/typescript-language-server` to force lsp-mode download the latest one. It will be nice if `lsp-mode` warned when connecting to a lang-server who is not the latest one (no need to reach the net, just using a hardcoded list of desired/latest versions).

[2021-01-28 17:55] Alexander-Miller commented on #2529
I have looked into the code now, and none of this makes any sense. The code line where the error is thrown indicates
that lsp-treemacs tried to add a project to treemacs that is already in the workspace. But lsp-treemacs already covers
for that possibility.

The `wrong-type-argument hash-table-p nil` error does not fit either. The only thing that could be nil in the line is
the project that's retu

[2021-01-28 17:57] yyoncho commented on #2568
There is no generic way to do so which means that we should create a custom way to check whether each of the servers(70+) is the latest version. I am a bit sceptical that this will be addressed anytime soon. FTR you can use C-u M-x lsp-install-server to force update for a particular server.

[2021-01-28 18:17] nahuel commented on #2568
Since LSP 3.15.0 the server `InitializeResult` reply includes a server version string:

[code]

Taken from: https://microsoft.github.io/language-server-protocol/specifications/specification-current/#initialize

Can this version string be used for this purpose on a generalized way?

[2021-01-28 18:20] yyoncho commented on #2568
We can check the server version that runs locally, but we won't know if a newer version is available.

[2021-01-28 18:29] nahuel commented on #2568
Maybe lsp-mode can include a harcoded list of the latest known lang-servers versions (or the latest version known to be compatible and well tested with lsp-mode), so it not needs to make a network request to check if a new one is available. I think is a good compromise vs the actual situation of installing a lang-server once, forget about it and then be unknowingly stuck on an old version.

[2021-01-28 19:00] yyoncho commented on #2568
Ideally, we should do that - ship lsp-mode with a tested version of the server. Unfortunately, this would require a lot of maintenance work for all of the servers.

[2021-01-29 00:45] stardiviner commented on #2529
@Alexander-Miller Thanks for your analysis.

Yes, I can use treemacs normally.

[2021-01-29 07:46] #2529 closed

[2021-01-29 15:02] #2563 closed

[2021-01-30 08:42] yyoncho commented on #2080
@bkchr

Did you start working on that?

[2021-01-30 08:43] bkchr commented on #2080
No

[2021-01-30 08:45] yyoncho commented on #2080
Ok, I will take a look.

[2021-01-30 10:46] flodiebold opened #2570 "Bad snippet expansion when yas-wrap-around-region is set"
To reproduce with `lsp-start-plain.el`:
1. Run `(setq yas-wrap-around-region t)`
2. Open a fresh Rust project (created with `cargo new`) with rust-analyzer
3. Enter:
[code]
4. Select the `(1 + 2)`, and run `lsp-execute-code-action` (select the "extract variable" action if asked)
5. Result:
[code]

Probably we should bind `yas-wrap-around-region` to nil when expanding snippets? (I don't even know w

[2021-01-30 11:39] alanz opened #2571 "Feature Request: re-arrange mode line order"
#2567 brought in a much-improved progress reporting widget.

But it highlighted for me a niggling issue. All the interesting stuff reported in the  mode line by `lsp-mode` comes right at the end of the mode line, where for me most of the time it is invisible. (I use a fairly "vanilla" setup, tweaked slightly with the excellent `blackout` package to remove or shorten displayed items)

![image](http