[2019-09-05 20:01] yyoncho commented on #1011
The problem is that somehow the line starting with `c:\Users\Josh\Projects\javanew>...` ends up in stdout.

Can you execute the following line: `(s-join " " (lsp-java--ls-command))` and then run the output command in the cmd prompt? Is it possible that you are using java wrapper that echoes the original command?

[2019-09-05 21:40] ThothXV commented on #1011
...Gah!
The java executable in my path is actually a batfile that's a proxy for the real java executable (so then my Java version updates properly when I switch my $JAVA_HOME), and I forgot to set `@echo off`. It's not a bug on your guys' end at all!

I am very sorry about this...

[2019-09-05 21:40] #1011 closed

[2019-09-06 08:00] sebastiansturm commented on #1010
I'd love that too, but I think ivy currently only handles asynchronous input from external processes. There was a promising issue (https://github.com/abo-abo/swiper/issues/2110) which even led to a PR (https://github.com/abo-abo/swiper/pull/2121) but that PR got rejected in its current form and the initiative lost steam it seems

[2019-09-06 09:35] yyoncho commented on #1010
@sebastiansturm  You may trick it(we do the same with helm FTR):

[code]

I am not ivy user and I do not have the bandwidth to implement and polish it ATM.
![Peek 2019-09-06 12-33](https://user-images.githubusercontent.com/13259670/64417907-aa2f0b80-d0a2-11e9-821d-692ee779a35c.gif)

cc @abo-abo

[2019-09-06 09:54] #1002 closed

[2019-09-07 04:05] uqix commented on #713
From README:

Is `dir-locals` for project root or any dir in the project?

[2019-09-07 05:49] yyoncho commented on #713
@uqix the dir local solution will be per project. But you may use `lsp-file-watch-ignored` to skip a particular folder from being monitored.

[2019-09-07 18:05] TxGVNN commented on #940
Hi,
Today, I re-test this issue on ‘lsp-mode-20190907.553’
And I see the ` :position #<hash-table equal 2/65 0x1ed5a7d> ` is no longer, you fixed it.
But I found another bug, `::position` is not correct

1. M-x xref-find-references
[code]
:line and :character are wrong

2. M-x lsp-find-references
[code]
![scrot_2019-09-08-00:56:48_1366x768](https://user-images.githubusercontent.com/9713793/6447860

[2019-09-07 18:27] yyoncho commented on #940
@TxGVNN tested with `emacs -q` and loading only lsp-mode and it works as expected - it asks for the identifier and when you  _StreamHandlerWrapper and press enter it shows the correct references.

[2019-09-07 21:23] sebastiansturm commented on #1010
thanks! I'm getting an error message saying that "No workspace could handle workspace/symbol", which is a bit surprising given that helm-lsp works beautifully. But that's not ivy-related, so I'll have a look at helm-lsp later and try to combine the way it dispatches async requests with your way of updating ivy asynchronously

[2019-09-08 03:32] yyoncho commented on #1010
@sebastiansturm it is probably caused by this line:

The example is hard coded to work against jdtls if present.

[2019-09-08 06:28] TxGVNN commented on #940
Thank you, @yyoncho

emacs -q work well, seems the bug from my configuration.

[2019-09-08 12:47] sebastiansturm commented on #1010
I had replaced that part with `lsp--cur-workspace`, assuming that would point at my current workspace without checking lsp's source code first. Changing the language server id fixes the error (which surely isn't the best way to go though I'm not sure what is; helm-lsp seems to just use all presently available workspaces which I find a bit surprising).
Feedback lags a bit in comparison to `helm-lsp

[2019-09-08 12:54] sebastiansturm commented on #1010
ah I see, `(lsp-workspaces)` only returns workspaces associated with the current project so the `helm-lsp` approach seems like the reasonable thing to do here

[2019-09-08 13:56] yyoncho commented on #1010
That might be caused by the fact that the helm solution cancels the previous request while the POC ivy solution will render for each keypress no matter whether the user has changed the input already.

I think that the minimal change to support the async loading is introducing method `ivy-refresh` which could be used to turn async into sync code.

[2019-09-08 21:23] sebastiansturm commented on #1010
`lsp-workspaces` seems to work fine if it's captured early enough (i.e., not in the inner lambda which I assume gets called in the minibuffer?)
This is what I'm currently using, cobbled together from your POC and helm-lsp:

[code]

Not sure if it's necessary to cancel old requests the way helm-lsp does, but that sure feels cleaner. clangd is so fast it doesn't seem to matter (and lsp-mode apparent

[2019-09-09 05:18] yyoncho commented on #1010
I created this repo https://github.com/emacs-lsp/lsp-ivy and invited you as admin.

[2019-09-09 19:14] #1007 closed

[2019-09-09 19:25] seagle0128 opened #1016 "Invalid tags in defgroups"
The tags should be removed or renamed.

https://github.com/emacs-lsp/lsp-mode/blob/873978c5a2ba06f9ffd8406c5e85d3edbcc3fb48/lsp-mode.el#L374

https://github.com/emacs-lsp/lsp-mode/blob/873978c5a2ba06f9ffd8406c5e85d3edbcc3fb48/lsp-clojure.el#L34

Reference:

![image](https://user-images.githubusercontent.com/140797/64560303-d5537c80-d37a-11e9-9cd1-569519a2c354.png)

[2019-09-09 19:38] #1016 closed

[2019-09-09 20:12] sebastiansturm commented on #1010
that's nice, thanks!

[2019-09-09 21:00] sebastiansturm commented on #1010
so, I pushed something (in large parts copied almost verbatim from helm-lsp). I'll try and see how well it works in practice over the next few days. Couldn't reproduce the lag I saw recently, might be my machine was heavily loaded then and I forgot to check

[2019-09-10 07:12] TxGVNN commented on #940
I discovered the problem is ivy package. Do you know what is wrong in ivy?

[2019-09-10 07:14] yyoncho commented on #940
@TxGVNN I don't know - open an issue with steps to reproduce and configuration and we will take a look.

[2019-09-10 08:50] sebastiansturm opened #1018 "Don't restart language server if all associated buffers have been closed"
when closing the last buffer associated with some language server (or closing all of them using, e.g., `projectile-kill-buffers`), the ensuing language server shutdown causes lsp-mode to ask if it should be restarted. On my copy of lsp-mode, I'm suppressing that behavior using the following extra check within `lsp--restart-if-needed` (specifically, the first line `(when (--any? ...))`:
[code]
If t

[2019-09-10 15:17] yyoncho commented on #1018
What about introducing `lsp-restart` value which enables that behaviour?

[2019-09-10 16:42] sebastiansturm commented on #1018
personally, I don't think I have a use for language servers with no associated buffers. But I'll gladly make the change if you think that a separate setting is a better solution

[2019-09-10 17:49] yyoncho commented on #1018
It doesn't seem to be consistent with what we currently have: For example, if you have one buffer and the server has a bug causing a crash when you close a buffer. In this case, the server won't restart although you have set the `lsp-restart` to `auto`.

[2019-09-10 18:29] #760 closed

[2019-09-11 09:30] dgutov commented on #350
@jjzmajic First of all, there's a file at the top of Emacs development tree called CONTRIBUTE. You should familiarize yourself with it.

Next, you either file a bug report with `M-x report-emacs-bug` or initiate a discussion on emacs-devel by writing to the said mailing list. Either way all subsequent communication will happen over email.

[2019-09-11 09:40] yyoncho commented on #1018
We have a setting for that behaviour - `lsp-keep-workspace-alive`.

[2019-09-11 15:53] travisjeffery opened #1020 "need to maintain lsp-workspace/default-directory across directories/"projects""
**Describe the bug**

gopls requires that you run it from within your project's directory. The issue arises when you use lsp-mode to jump into a dependency and then you're outside of the directory of your workspace and lsp figures you're in a new project. This breaks lsp/gopls since gopls expects to be ran from your project's directoy.

**To Reproduce**

- Have a project in ~/code/myproject.
- Add

[2019-09-11 16:37] yyoncho commented on #1020
There is lsp-clients-go-library-directories which can be used to configure the folders that will be considered as part of the project. Is that what you are looking for?

[2019-09-11 17:26] yyoncho opened #1021 "Feature Request: better representation of method params"
ATM we display only the function signatures only in eldoc but we do not display all of the information(e. g. the documentation of the active param is not visible). We may implement an alternative implementation which uses something like https://github.com/abo-abo/function-args or posframe.

LSP reference: https://microsoft.github.io/language-server-protocol/specification#textDocument_signatureHelp

[2019-09-11 17:34] yyoncho commented on #794
I checked the eslint implementation in vscode and it does not use lsp backend. Thus, it is out of scope for lsp-mode since it is language server client.

[2019-09-11 17:34] #794 closed

[2019-09-11 17:35] travisjeffery commented on #1020
@yyoncho hmm maybe, but you'd have to update that every single time you added a dependency so it doesn't seem like the right solution. It's more like you want to set a path or glob to cover all directories under $GOPATH/pkg/mod. Or does that currently work with lsp-clients-go-library-directories?

[2019-09-11 17:42] yyoncho commented on #1020
@travisjeffery aren't all dependencies under a single folder? If this is the case, then you could add only the root.

[2019-09-11 21:51] sebastiansturm commented on #1018
ah, I didn't know, sorry. Guess I should have RTFM first.

In that case there's no need to change anything, setting `lsp-keep-workspace-alive` to `nil` should fix the unwanted restart attempts (and it seems it does, just tried a few times). I suspect `nil` may be a less surprising default for many users than `t`, but since I'm biased by my own usage patterns that may well not be the case. Since th

[2019-09-11 21:51] #1018 closed

[2019-09-12 04:27] yyoncho commented on #1018
It is a matter of personal usecase. E. g. some language servers start very slow (5+ minutes) and there was even a request to keep the server alive even after emacs restart. This is one of the reasons I wanted to introduce a setting instead of introducing a hardcoded behaviour - you never know whether you are breaking someone's flow. And of course, there is no default setting that everybody likes..

[2019-09-13 20:11] josteink commented on #815
PR submitted for this issue. Feel free to provide review.

[2019-09-13 23:42] Daniel-V1 commented on #815
Holy crap! Now we can see if sap mode will work with netcoredbg!!!

[2019-09-15 11:09] yyoncho commented on #661
The initial support is in.

[2019-09-15 11:09] #661 closed

[2019-09-16 01:08] jtl5770 opened #1026 "When lsp-describe-thing-at-point creates *Help* it is not in help-mode but fundamental"
When the *Help* buffer is already there, lsp will reuse it, and the content will be in help-mode as I think it should be.

If, on the other hand, the *Help* buffer is just created, it will be in fundamental mode (not running, in my case, the hooks to enable visual line wrap I have on help-mode)

**To Reproduce**
Make sure to delete an existing *Help* buffer, use the lsp-describe-thing-at-point on

[2019-09-16 01:56] aureumleonis opened #1027 "use get-file-buffer instead of visiting"
**Describe the bug**
Changes done on #976 break diagnostics for files with symlinks.

**To Reproduce**
Open a file on a symlink'd directory. In this case the filename returned by the server differs from `(buffer-file-name)` and no diagnostics are stored for the buffer.

**Expected behavior**
Diagnostics should've been reported

**Which Language Server did you use**
lsp-java

**OS**
Arch linux

**E

[2019-09-16 05:21] yyoncho commented on #1027
cc @muirrn

[2019-09-16 05:31] #1026 closed

[2019-09-16 06:28] uqix opened #1028 "How to disable the doc buffer at the bottom? (javascript)"
![image](https://user-images.githubusercontent.com/10142314/64937741-0a396500-d88e-11e9-82f2-4dd774f30cb5.png)

[2019-09-16 06:42] yyoncho commented on #1028
Set lsp-eldoc-hook  to nil

[2019-09-16 06:42] #1028 closed

[2019-09-16 06:52] uqix commented on #1028
Thanks for your quick reply, I really appreciate that.

[2019-09-16 14:34] muirrn commented on #1027
Hmm, I guess we need to change to maintaining our own mapping from filename to buffer. What gopls does it maintain a full file path and a base name map. First it checks the full path map, and if not present it checks if any file in the base name map is identical (and then adds it to the full path map).

[2019-09-16 15:00] yyoncho commented on #1027
Alternative approaches:
1 . cache `file-truename` calls
2. Similar to what you are suggesting - when lsp-mode is enabled - calculate the path and then when the server sends data we can look for the buffer only in the list of managed lsp-mode buffers.

[2019-09-16 23:16] aureumleonis commented on #1027
I wrote a workaround to cache the real filenames after posting this

[code]
I don't have a windows setup so I left that part unchanged. This solved the issue for me

[2019-09-16 23:42] muirrn commented on #903
The usptream issue has been closed. @seagle0128 can you confirm this is resolved with latest gopls?

[2019-09-17 01:39] uqix opened #1029 "Flycheck(by lsp-ui) errors are not consistent with compiling errors (javascript)"
Flycheck(by lsp-ui) errors
![image](https://user-images.githubusercontent.com/10142314/65004382-c8acc680-d92e-11e9-8530-86ab04c0ddf9.png)

compiling(by create-react-app) errors
![image](https://user-images.githubusercontent.com/10142314/65004390-cd717a80-d92e-11e9-95ce-2bf7b04fff3f.png)

[2019-09-17 04:54] yyoncho commented on #1029
lsp-mode is just a frontend and it is not responsible for detecting the errors but only for displaying them. So, in order to consider something as a lsp-mode bug, you should find a inconsistently with what server is reporting and what lsp-mode is displaying.

[2019-09-17 04:54] #1029 closed

[2019-09-17 04:57] yyoncho commented on #1027
@aureumleonis this case is not sufficient since if the file is not present you still will hit the find-buffer-visiting on each diagnostic report.

[2019-09-17 12:32] seagle0128 commented on #903
Yep, I can confirm the issue has been resolved. Close it. Thanks!

[2019-09-17 12:32] #903 closed

[2019-09-17 18:21] sebasmonia commented on #815
One thing to notice is that root detection wasn't working for me 🤔 I ended up adding a .projectile file to each folder.

[2019-09-17 20:38] yyoncho commented on #815
@sebasmonia I guess you have set lsp-auto-guess to t? When you do that it is expected that you have configured projectile/project.el to guess/find the correct root. In this case, projectile was not configured to guess CSharp files(e. g. the sln files are not considered as a project root).

[2019-09-17 22:39] sebasmonia commented on #815
For the test project I was using I had only a csproj. Guessing that both sln and csproj should be considered roots (with sln taking precedence)?

Realistically almost all projects are part of a solution so IDK if it matters too much.

[2019-09-18 02:59] yssource opened #1031 "LSP :: No LSP server for cython-mode(check *lsp-log*)."
**Describe the bug**
Since spacemacs hangs on, it is unable to view the `lsp-log`.
Please refer to https://github.com/syl20bnr/spacemacs/issues/12740

[2019-09-18 07:55] josteink commented on #815
Realistically, there's almost always a `sln`-file. That should definitely be the main trigger for project-root. I agree though that in absence of such a file, a `csproj`-file would be a natural fit.

Usually these projects are contained in some other obvious structure, like a git-repo. For me at least, this has always been sufficient to work efficiently with projectile and .NET projects.

[2019-09-18 19:04] #1031 closed

[2019-09-19 00:40] yssource commented on #1031
Thanks so much.

It still freezes the spacemacs, after the fix [9330d7c](https://github.com/emacs-lsp/lsp-mode/commit/9330d7c3f1431b38f84a2296572531f9574b7d6d) .

# Reproduce:
- `mkdir -v /tmp/hello && cd /tmp/hello && git init`
- `touch simpleclass.pxd`
- open simpleclass.pxd with spacemacs
- copy and paste, then save it in simpleclass.pxd with spacemacs

file: simpleclass.pxd
[code]

# Result:
C

[2019-09-19 00:47] yssource commented on #1031
This only happens to create, write and save a new `cython-mode` file.
There is no problem, if opening a existing `cython-mode` file.

[2019-09-19 17:17] raxod502 opened #1032 "Broken with bash-language-server 1.5.6"
**Describe the bug**
The integration with `bash-language-server` does not work with the upgrade to version 1.5.6 of the language server.

**To Reproduce**
Install the latest version of `bash-language-server` and attempt to hover over symbols in a Bash script.

**Expected behavior**
We should get a popup window with documentation on the symbols.

**Which Language Server did you use**
`bash-ls`

**O

[2019-09-20 10:19] taigacute opened #1033 "No parentheses after selecting the method in js file"
**Describe the bug**

No parentheses after selecting the method in js file . i used typescript-language-server

**To Reproduce**
1. a js file
2. input `console.`
3. choose log method
4. i got `console.log`
**Expected behavior**
`console.log()`

**Which Language Server did you use**
lsp-typescript

**OS**
macos
**Error callstack**
If there is an error please reproduce the issue with `toggle-debug-o

[2019-09-20 10:23] yyoncho commented on #1033
This depends on the server, lsp-mode/company-lsp are inserting whatever the server is sending. So report your issue in the corresponding language server repository.

[2019-09-20 10:23] #1033 closed

[2019-09-20 10:24] yyoncho commented on #1033
Full client/server log is available in `*lsp-log: ts-ls:`

[2019-09-20 12:13] jimmywongroo opened #1034 "lsp-find-definition does not push marker onto stack"
**Describe the bug**
In Emacs 27, `(lsp-find-locations)` does not push mark to stack, so xref's `M-,` does not work. The reason is `xref-show-definitions-function` does not push a mark before displaying the definition.

**To Reproduce**
Steps to reproduce the behavior:

1. Use any `(lsp-find-definition)` function when point is on a symbol
2. Type `M-,`

**Expected behavior**
Emacs will switch back

[2019-09-20 14:38] weiwei-xiao opened #1035 "emacs hang on the condition that a remote go file is opened by tramp"
**Describe the bug**
Emacs always hang when I open  go file in my vm by tramp. I have to type C-g to stop this situation.
The init configuration is
[code]
When I comment the above init configuration code and open go file in my vm by tramp, emacs act normally.

**Which Language Server did you use**
lsp-go

**OS**
local: MacOS
vm: centos-linux-7

**Error callstack**
Debugger entered--Lisp error: (qu

[2019-09-20 15:25] yyoncho commented on #1035
Emacs version? lsp-mode version?

[2019-09-20 15:37] yyoncho commented on #1035
Latest lsp-mode does not use `find-file-visiting` but `get-file-buffer` on MacOS. Can you update lsp-mode version and retry?

Also, can you execute the following piece:

[code]

[2019-09-20 21:47] prittjam opened #1036 "common (wrong-type-argument hash-table-p nil) when code is updated (this gets broken every few releases)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
start editing some python

**Which Language Server did you use**
lsp-python-ms

**OS**
Which os do you use?
Liinux

**Error callstack**
Debugger entered--Lisp error: (wrong-type-argument hash-table-p nil)
  puthash("/home/jbpritts/src/calibration/agnostic/example.py" (#s(lsp-diagnostic :range (:start (:line

[2019-09-21 00:05] weiwei-xiao commented on #1035
Emacs version is 26.2
lsp-mode version is lsp-mode-20190807.507

[2019-09-21 00:17] jimmywongroo commented on #641
This has to do with https://github.com/emacs-lsp/lsp-mode/issues/641#issuecomment-495744002

I suspect anything that touches `exec-path` such as `add-node-modules-path` and `exec-path-from-shell` will cause this bug.

[2019-09-21 01:23] ztlevi opened #1037 "Lsp-mode does not loading extra paths"
**Describe the bug**
I just updated lsp-mode and it seems no longer load user's libraries like `lsp-python-ms-extra-paths`. It happens right after the upgradation and  I double checked I didn't update `lsp-python-ms`. Before, it works perfectly.

I also tried pyls with `lsp-clients-python-library-directories` but still no extra libraries loaded.

**To Reproduce**
Add some extra paths to `lsp-pytho

[2019-09-21 04:30] yyoncho commented on #1037
Please include client/server logs as per issue template.

[2019-09-21 04:32] yyoncho commented on #1036
Unable to reproduce with a clean installation so please delete all `.elc` files in your `.emacs.d/elpa` directory and retry. Reopen the issue if this does not fix it for you.

[2019-09-21 04:32] #1036 closed

[2019-09-21 04:35] yyoncho commented on #1035
A good practice before logging a bug is to reproduce the issue after upgrading to the latest version of the package. So, can you upgrade to latest melpa version and try the same thing and report back?

[2019-09-21 04:35] weiwei-xiao commented on #1035
Firstly, I execute in eshell and get response immediately.
[code]
And I  update lsp-mode version to 20190918.1903 and it seems to be normal now. Thanks for your  advices.

[2019-09-21 04:35] #1035 closed

[2019-09-21 04:42] weiwei-xiao commented on #1035
I shall remember to upgrade to latest version next time. Thanks a lot.

[2019-09-21 16:09] ztlevi commented on #1037
I just added.

[2019-09-21 16:27] yyoncho commented on #1037
AFACS searchPaths are specified in the initialize request:

[code]

[2019-09-21 16:56] ztlevi commented on #1037
It's so weird. I see it's in searchPath but I still cannot resolve the modules in searchPath.

Can you try the sample repo [here](https://github.com/ztlevi/python-test)?

And modify
[code]
[Trace - 09:52:13 AM] Sending request 'initialize - (1)'.
Params: {
  "processId": 41858,
  "rootPath": "/Users/ztlevi/Developer/Github/python-test/",
  "rootUri": "file:///Users/ztlevi/Developer/Github/python-t

[2019-09-21 17:05] yyoncho commented on #1037
This does not do what you think it does - it identifies the files that lsp-mode will consider as part of the project and does not affect the files that the language server will scan.

[2019-09-21 17:12] yyoncho commented on #1037
[code]
IMO mspyls does not resolve symlinks - this fixed the imports on my side. Based on that I am closing the issue.

[2019-09-21 17:12] #1037 closed

[2019-09-21 17:16] ztlevi commented on #1037
Ok, and yeah, I didn't manage to make pyls working previously. But I'm pretty sure I was able to resolve symlinked modules by modifying `lsp-python-ms-extra-paths`. Somehow after upgraduation, it broke up...

Anyway, what's the proper way to add files that lang server will scan?

Thanks!

[2019-09-21 17:24] ztlevi commented on #1037
mspyls can resolve symlinks according to the disscustion [here](https://github.com/microsoft/python-language-server/issues/1545).

And if you try set PYTHONPATH and open the `python-test` project in vscode, you will find out it does.

[2019-09-21 17:41] yyoncho commented on #1037
@ztlevi have you tried to turn on the tracing in VScode and compare it with the tracing in lsp-mode?

[2019-09-21 17:51] ztlevi commented on #1037
@yyoncho I would like to, but how?

[2019-09-21 17:54] yyoncho commented on #1037
C-S-p -> User settings -> type `trace` , look for python and then the trace is in the output view

[2019-09-21 18:03] ztlevi commented on #1037
This is the only python trace option I found.

![image](https://user-images.githubusercontent.com/16655096/65377280-ee9fd700-dc5e-11e9-8b52-c41ed5f21b6c.png)

After enable it, it doesn't provide as much information as lsp-mode does. But here is the log, and you will find `user search paths` has something.

[code]

In this case, it might be an issue for `lsp-python-ms`?

[2019-09-21 18:14] yyoncho commented on #1037
the setting for python is actually called "Log Level"

[2019-09-21 18:21] ztlevi commented on #1037
@yyoncho Not much information provided cuz it can successfully jump to definition.
[code]

[2019-09-21 18:22] ztlevi commented on #1037
You might need to add `  "python.jediEnabled": false,` to enable mspyls

[2019-09-21 18:55] yyoncho commented on #1037
I updated the language server via `M-x` `lsp-python-ms-update-server` and then `(setq lsp-python-ms-extra-paths [ "/home/kyoncho/Sources/python-test/python_root" ])` works fine ...

[2019-09-21 21:35] ztlevi commented on #1037
That's so weird. Did you have the anything show in `lsp-log`'s `User search paths:`?

[2019-09-21 21:46] ztlevi commented on #1037
Is there anything come across your mind that might cause my issue?

[2019-09-22 04:50] yyoncho commented on #1037
Here it is the log:

[code]

I also tested with `lsp-docker` and it works fine on a clean install after upgrading `lsp-ms-python`.

[2019-09-23 21:44] dennismayr commented on #907
Problem solved with upgrade to the new stable SDK (`1.9.1+hotfix.2`).
Also, language server performance is much better.

Cheers!

[2019-09-23 21:48] obviousneil opened #1040 "Typescript server stuck on "status:starting", no capabilities."
I'm working on a React/Gatsby project with a bunch of .jsx files. I'm having a hard time getting lsp-mode working with anything so far. I'm not actually making use of any typescript in the project, but ES6 javascript along with JSX.

I've finally got lsp-mode installed and configured as per the readme. I've installed typescript-language-server as per the instructions.

The minibuffer displays "LSP

[2019-09-24 04:31] yyoncho commented on #1040
1. Can you check the stderr buffer for the server.
2. Can you set lsp-print-io to t and then attach the client/server log(it is located in \*lsp-log SERVER:pid*`  file.

This behaviour indicates some kind of problem with the language server that you are using.

Also, can you make sure that you have `M-x toggle-debug-on-error` in case there is a hidden error somewhere.

[2019-09-24 06:39] obviousneil commented on #1040
I revisited this a few hours later, having worked without lsp-mode. Set `debug-on-error` to t, `lsp-print-io` to t, and upon command`M-x lsp` the server connected immediately. Seemed alright for a second, but it seems the server may have crashed shortly after.

*Messages* shows:

[code]

[2019-09-24 07:04] yyoncho commented on #1040
Please start clean and provide the information requested in the previous comment.

[2019-09-24 18:54] sebastiansturm commented on #977
I may be seeing something related now (though I believe that didn't use to be the case until recently): in a C++ file of about 2000 lines, `evil-insert-newline-below` takes ridiculously long to execute (~0.5 s per invocation). Doesn't seem to matter where I am within the buffer. I manually instrumented some lsp methods containing the save-widen-idiom mentioned by @Fuco1, but found no smoking gun.

[2019-09-24 18:59] sebastiansturm commented on #977
also, whatever I'm seeing is not deterministic. Restarting Emacs with identical settings has fixed the performance issue for now (I'm sure it will come back though). I noticed, however, that the buffer now contains 955 overlays as opposed to ~6500 just before restart. So maybe my experimental semantic-highlighting handler leaks overlays, will have to add some instrumentation I guess

[2019-09-24 19:53] yyoncho commented on #977
@sebastiansturm does it happen in a narrowed buffer? You may try also `profile-start`/`profile-report`. As a side note,  `gc-cons-threshold` not being high enough may cause such problems and it wont show if you have introspected only `lsp-mode` package.

[2019-09-24 20:53] sebastiansturm commented on #977
hm, some of what I'm seeing may be related to narrowing, most of it probably isn't. I didn't originally use narrowing in that buffer and I just noticed that narrowing actually improves performance in my case (so I guess I'll better open a separate issue for the overlay thing). OTOH, widening afterwards then caused Emacs to (seemingly) freeze. Got to go now, so I can't investigate this in detail ri

[2019-09-24 23:17] valignatev opened #1042 "Setting lsp-clients-rust-progress-string makes modeline flash with messages on every edit"
I'm not sure if this is the best place to report this (or it's better to be asked as a question in Gitter chat), so excuse me in advance :)

The question is about this line: https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-rust.el#L262

Basically, it reintroduces https://github.com/emacs-lsp/lsp-mode/issues/643, but on the modeline level: every time I edit a rust-mode buffer, modeline flashes

[2019-09-25 01:49] Jackson-soft opened #1043 "Support for yaml Language Server"
https://github.com/iquiw/lsp-yaml

[2019-09-25 04:21] yyoncho commented on #1043
what is the purpose of this PR?

[2019-09-25 04:25] yyoncho commented on #1042
Unfortunately, I don't know if it's possible to configure it conveniently, so any advice is appreciated

Such a configuration does not exist ATM and I am not sure whether the initial messages are different from the messages received during completion. You may check that by setting lsp-print-io and then inspecting the client-server communication. Then in case, this is possible you may customize the

[2019-09-25 06:44] valignatev commented on #1042
Thanks! Will try to inspect the output closer and see what I can do.

[2019-09-25 07:43] #1042 closed

[2019-09-25 23:29] rlivings39 opened #1045 "Support workspace/workspaceFolders request method"
This method is supported as of [LSP 3.6](https://microsoft.github.io/language-server-protocol/specifications/specification-3-14/#workspace_workspaceFolders) when multi-workspace folders were supported. It is convenient to query this at some points rather than doing the accounting of adding a deleting folders based on the DidChangeWorkspaceFolders event.

This came up in https://github.com/EmmyLua/

[2019-09-26 01:45] #1043 closed

[2019-09-26 05:14] #815 closed

[2019-09-26 17:48] alypeng opened #1048 "lsp-format-buffer when server supports textDocument/rangeFormatting but not textDocument/formatting"
Some servers have support for the `textDocument/rangeFormatting` capability but not the `textDocument/formatting` capability so `lsp-format-buffer` fails.

Examples:
- [vscode-html-languageserver](https://github.com/vscode-langservers/vscode-html-languageserver)
- [vscode-json-languageserver](https://github.com/vscode-langservers/vscode-json-languageserver)

Would it make sense for `lsp-format-buf

[2019-09-26 17:52] yyoncho commented on #1048
Sounds good to me, willing to provide a PR?

[2019-09-26 17:57] alypeng commented on #1048
I'll give it a go

[2019-09-27 04:56] yyoncho opened #1050 "[v3.15] support diagnostics tag"
This is a new feature in https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/ .

[2019-09-27 09:12] davidwelch158 opened #1051 "Compile error "Unknown rx symbol ‘char’" after emacs commit 2ed71227c626c6cfdc684948644ccf3d9eaeb15b"
I fixed it like this.
[code]

[2019-09-27 09:51] yyoncho commented on #1051
Willing to make a PR?

[2019-09-27 10:42] davidwelch158 commented on #1051
Done: https://github.com/emacs-lsp/lsp-mode/pull/1052

[2019-09-27 10:42] #1051 closed

[2019-09-27 19:11] #1048 closed

[2019-09-29 06:06] yyoncho commented on #1032
I wasn't able to test it locally, but this should have been fixed by: c38b7eb . Please reopen if the issue is still there.

[2019-09-29 06:06] #1032 closed

[2019-09-29 06:07] yyoncho commented on #831
Added builtin configuration for https://github.com/EmmyLua/EmmyLua-LanguageServer

[2019-09-29 06:07] #831 closed

[2019-09-29 06:08] yyoncho commented on #1045
@rlivings39 I added support for emmy lua, but I didnt hit https://github.com/EmmyLua/EmmyLua-LanguageServer/issues/10 , can you help with the steps to reproduce the issue so I can test the method?

[2019-09-29 15:20] groundflyer commented on #1009
I have similar problem after an update and the workaround doesn't help:
``File mode specification error: (void-function lsp-define-stdio-client)``

[2019-09-29 15:26] yyoncho commented on #1009
Find which package is using this function and delete it/update it. This function was removed 1 year ago. Also, you may try to delete all `.elc` files in your `.emacs.d` directory.

[2019-09-29 15:31] groundflyer commented on #1009
It helped.
Thanks.

[2019-09-29 16:46] sereymongkol opened #1054 "React Native LSP for Emacs?"
Hi, I just found out that there is a really useful lsp server provided by Microsoft for React Native. Here is a [link](https://github.com/Microsoft/vscode-react-native). If we could have this support for Emacs, it would useful for current react native developer and the future developer.

[2019-09-29 19:02] rlivings39 commented on #1045
Sure thing. I hit this while learning the protocol and working with a toy server. If I fork and add something representative to Microsoft's [lsp-sample](https://github.com/Microsoft/vscode-extension-samples/tree/master/lsp-sample) server would that be enough for you to test?

[2019-09-29 19:08] yyoncho commented on #1045
Yes.

[2019-09-29 20:06] yyoncho commented on #1054
AFAICS there is no language server in that repo. There is WIP PR at https://github.com/emacs-lsp/dap-mode/pull/118 (cc @darioceccoli ).

I will close this report, and the work on support of react-native will be tracked in dap-mode repo.

[2019-09-29 20:06] #1054 closed

[2019-09-29 21:07] raxod502 commented on #1032
Confirmed fixed, thanks! I also had to upgrade bash-language-server from 1.5.6 to 1.6.1 in order to fix the `Cannot read property 'rootNode' of undefined` errors, which required my installing from Manjaro testing -- everything works now :tada:

[2019-09-29 23:39] rlivings39 commented on #1045
https://github.com/rlivings39/vscode-extension-samples has my example in the `lsp-sample` folder. Search the file `lsp-sample/server/src/server.ts` for my username `rlivings39` to see the usage of workspace folder queries.

To set up:
[code]

Edit `lsp-sample.el` to point to `server/out/server.js` in your clone. Then

1. Open Emacs
2. `M-x load-file /path/to/lsp-sample.el`
3. Open any `.txt` file

[2019-09-30 05:04] #1045 closed

[2019-10-01 14:50] vspinu opened #1055 "lsp-show-xrefs doesn't push markers"
`lsp-show-xrefs` doesn't push markers, contrary to the plain `xref--show-xrefs`.

Markers are needed to return to the invocation location with `xref-pop-marker-stack`.

This is lsp mode lsp-mode-20190930.503 from MELPA on emacs 27.

[2019-10-01 15:24] yyoncho commented on #1055
Duplicate of https://github.com/emacs-lsp/lsp-mode/issues/1034

[2019-10-01 15:24] #1055 closed

[2019-10-02 16:39] yyoncho commented on #1010
Closing the issue since we already have: https://github.com/emacs-lsp/lsp-ivy .

[2019-10-02 16:39] #1010 closed

[2019-10-03 11:03] abo-abo commented on #1010
Thanks for your work. Sorry I didn't have a chance to weigh in because of a holiday. Let me know if I can add some API to Ivy to make it easier for you.

[2019-10-03 15:22] sk1e commented on #1040
Having the same issue. stderr buffer for the server is empty,  `*lsp-log SERVER:pid*` buffer contains:
[code]

[2019-10-03 15:29] yyoncho commented on #1040
@sk1e can you check whether the language server is alive in process explorer? From what I can see the server has returned the response to the initialize request. Also, can you check whether you have install tsserver and it is on the path?

[2019-10-03 15:41] sk1e commented on #1040
Language server is still alive, tsserver is installed and on the path. Maybe something wrong with request parameters?

[2019-10-03 15:47] yyoncho commented on #1040
@sk1e I have never seen anything like that. Can you try reinstalling the components and also can you try with the other language server for the JS? Which version of node do you use?

[2019-10-03 16:01] yyoncho commented on #1010
@abo-abo

We are using the following piece of code to trigger a refresh when the callback has returned(adhoc async support):

[code]

IMO it makes sense to introduce a method `ivy-refresh`/`ivy-update`(unless there is a better way to achieve the same).

What do you think?

[2019-10-04 03:24] isubasti commented on #1040
I've got the same problem as well saying that `Request initialize failed with message: plugins is not itterable` which sounds like a problem caused by this commit https://github.com/emacs-lsp/lsp-mode/commit/ed0e5d22f0b3fdd71c264b4a4b5c0b346197950a

[2019-10-04 04:47] isubasti commented on #1040
created a PR https://github.com/emacs-lsp/lsp-mode/pull/1058 that provides correct default plugins

[2019-10-04 04:55] sk1e commented on #1040
It's becoming fine when I switch from typescript-language-server to  javascript-typescript-langserver which results in different request
[code]

[2019-10-04 05:06] isubasti commented on #1040
https://github.com/emacs-lsp/lsp-mode/commit/ed0e5d22f0b3fdd71c264b4a4b5c0b346197950a added initialization options to add plugins for `typescript-language-server` with `nil` as the default value for the plugins. `typescript-language-server`expected a `vector` instead of `nil` hence the error. `javascript-typescript-langserver` works fine as it doesn't have the initialization options. https://githu

[2019-10-04 05:26] yyoncho commented on #1040
Thank you @isubasti , marking the issue as closed. @obviousneil if you still have the issue please provide the information requested in https://github.com/emacs-lsp/lsp-mode/issues/1040#issuecomment-534383851

[2019-10-04 05:26] #1040 closed

[2019-10-04 09:42] jfacorro commented on #994
Is there a better way of "setting a variable in the buffer" than this?
[code]

[2019-10-04 15:33] yyoncho commented on #994
@jesperes I merged your PR, for future reference you may use the minor mode hooks enabled in the buffer (lsp-io-log-mode in this case).

[2019-10-04 23:01] worikgh opened #1064 "Cannot install"
[code]

Using `M-x pakage-install lsp-rust`

Error is:
`package-install-from-archive: https://elpa.gnu.org/packages/spinner-1.7.3.el: Bad Request`

I tried...

[code]

That gave the result...
[code]

[2019-10-05 05:48] yyoncho commented on #1064
This is a bug in emacs 26.1/2 , there are several reddit threads on that, let me know whether the solution listed here works for you:

https://www.reddit.com/r/emacs/comments/d1zjkc/cant_get_lspmode_working/

[2019-10-05 05:48] #1064 closed

[2019-10-05 06:30] iquiw opened #1066 "lsp-clients-typescript-plugins does not specify :type"
**Describe the bug**

[lsp-clients-typescript-plugins](https://github.com/emacs-lsp/lsp-mode/blob/e4a230bdd4eba2eeb211dd87d16de0f616665179/lsp-clients.el#L139) does not specify `:type`, which causes CI failures for Emacs 26.1 and 26.2.

**To Reproduce**
Run Travis CI build, or run `cask exec ert-runner -t "!no-win"`.

**Expected behavior**
Test passed.

**Which Language Server did you use**
_N/A_

[2019-10-05 06:56] yyoncho commented on #1066
@iquiw  Willing to work on that?

[2019-10-05 07:00] iquiw commented on #1066
I'm not sure what the correct type is.

Do you think `'(vector (plist :key-type symbol :value-type string))` is proper?

[2019-10-05 07:06] iquiw commented on #1066
Hmm, looks not.

[2019-10-05 07:25] yyoncho commented on #1066
I thought that you already have a PR. We may try to use `(repeat...` and then convert to vector when using to work around the fact that there is no `vector` type. I could take a look at that later today.

[2019-10-05 07:36] iquiw commented on #1066
It would be fine if you could take up this. Thank you.

Emacs Stack Exchange link I found, for the record.

* [customize - How to create a defcustom variable that accepts only a vector of strings? - Emacs Stack Exchange](https://emacs.stackexchange.com/questions/42531/how-to-create-a-defcustom-variable-that-accepts-only-a-vector-of-strings)
* [Defining New Types - GNU Emacs Lisp Reference Manual](

[2019-10-05 20:02] ztlpn opened #1069 "Library folders are not recognized when editing remote files"
**Describe the bug**
I am editing files on a remote machine using Tramp and I want to jump to the definition of some library function. This works but lsp-mode doesn't recognize the opened file as a library file and suggests to add it as part of a new project (`vec_deque.rs is not part of any project. Select action:`)

**To Reproduce**
1. Open a file on a remote machine with Tramp
2. Jump to the de

[2019-10-05 20:28] yyoncho commented on #1069
You could fix it in your tramp rls registration. Just specify a function that returns the list of folders that are libraries on the remote machine like here: https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-rust.el#L298

Let me know if you will need a help with that.

[2019-10-05 20:32] yyoncho commented on #1069
Also, you might try to add `/ssh:user@host:/home/user/.rustup/` to `lsp-rust-library-directories`.

[2019-10-05 21:02] ztlpn commented on #1069
Well that would mean that I need to list all the hosts I connect to in the `lsp-rust-library-directories` variable... Workable but a bit ugly. I guess tramp-mode has spoiled me and I expect a better degree of transparency :)

I guess there are really two problems here:
1. the library file path includes the remote hostname
2. the home directory on the remote host is different than on the local host

[2019-10-06 05:47] yyoncho commented on #1069
That is true, but given the fact that we have very limited resources, it is impossible to polish every workflow. I wish lsp-mode was able to detect that it is on the remote server, automatically download and install the servers if they are not present, preconfigure the language paths and so on...

I would first check how expand-file-name works when you are on the remote machine. In case it works a

[2019-10-06 15:26] yyoncho commented on #1066
Thank you for the links, pushed a fix and the tests are now green.

[2019-10-06 15:26] #1066 closed

[2019-10-06 15:38] iquiw opened #1073 "Support for JSON Language Server"
I'm [working on this](https://github.com/iquiw/lsp-mode/commits/lsp-json).

Language server: https://github.com/vscode-langservers/vscode-json-languageserver

There are 2 issues I am facing.

1. Completion does not work while server responses `textDocument/completion`. I did not check the detail yet and it could be taken up separately.
2. With default setting (`lsp-clients-json-schemas` is `nil`),

[2019-10-06 16:16] yyoncho commented on #1073
IMO we should have as much stuff working as possible by default and usually what vscode does by default can be used as a reference.

AFAICS vscode sends the following notification which is not present in your code:

[code]

[2019-10-06 16:57] ztlpn commented on #1069
I didn't mean to complain, lsp-mode is awesome. Just trying to make it a little better :)

As the path in question (`~/.rustup/toolchains`) is absolute, `expand-file-name` expands as if it were local (i.e. to `/Users/local_user/.rustup/toolchains`) - which kind of makes sense. If I stick the server location in front of the path (i.e. `/ssh:user@host:~/.rustup/toolchains`) then it gets expanded pro

[2019-10-06 17:39] yyoncho opened #1075 "lsp-mode looking for additional collaborators/members"
Given the fact that the workload has increased and @vibhavp is busy last few months IMO it will be better for the project if more people have commit/merge rights.

[2019-10-06 17:40] yyoncho commented on #1075
@alypeng @CyberShadow @sebastiansturm

[2019-10-07 12:18] iquiw commented on #1073
I see.

Overlooked, thanks!

[2019-10-07 14:59] yyoncho commented on #1075
@vibhavp make sense, but let us give a chance to some of the active contributors.

[2019-10-07 21:52] sebastiansturm commented on #1075
Honestly, I'm not sure how much commitment you expect to see (per person). While I'm very thankful for the massive amount of work and energy you two put into the project, I'm pretty sure I wouldn't contribute remotely as much. On the other hand, if testing/discussing the occasional PR and working on an open issue now and then is good enough, then I'd gladly take part in the project. Second, lsp-mo

[2019-10-08 07:16] alypeng commented on #1075
I would definitely be interested but I am still quite new to Emacs (and LSP as well to be honest) so not sure it really makes sense for me :grinning:

[2019-10-08 08:57] abo-abo commented on #1010
@yyoncho I was thinking of introducing something like:

[code]

But I have no way to test it. I try <kbd>M-x</kbd> `lsp` for C++, but then the `clangd` process hangs with 100% processor usage for minutes, and there are no completions.

What's the easiest way I can test `lsp-ivy`? Could you open a new issue in `ivy` with the topic of introducing `ivy-update` and some steps to set up `lsp-ivy`?

[2019-10-08 09:09] CyberShadow commented on #1075
I would love to help but I just don't have the bandwidth, I still have https://github.com/Emacs-D-Mode-Maintainers/Emacs-D-Mode/pull/93 to take care of. Also I'm not yet very invested into LSP.

[2019-10-08 14:15] madscientist opened #1077 "watches forwarding too many updates to server"
**Describe the bug**
I use ccls as my server for my moderately large C++ project.  Because I work on lots of different Git worktrees at the same time I've configured ccls to not index the entire project: it only indexes the files I visit and the header files included by the files I visit.  This is a great feature!  It means I can't run commands that require full indexes but I still get completion

[2019-10-08 15:18] yyoncho commented on #1077
Use global-auto-revert-mode for that and we are handling `after-revert-hook` which is triggered when file is reloaded from disk.

[2019-10-08 16:29] yyoncho commented on #1075
@sebastiansturm I do not have expectations, but I guess whatever makes sense.

#### Collaborator
willing to support certain language server(+ corresponding language server) like @seagle0128 do for MS Python qualifies for a collaborator.

I could number a few that already do that for certain languages:

1. @dsyzling @kurnevsky for scala.
2. @TOTBWF @juergenhoetzel for fsharp

#### Team member

1. W

[2019-10-08 16:33] yyoncho commented on #1075
@sebastiansturm #821 is relevant to https://github.com/flycheck/flycheck/issues/1631 . We might want to implement these in flycheck to avoid fragmentation.

[2019-10-09 08:05] dsyzling commented on #1075
@yyoncho I'd like to help out anyway I can, I know you appreciate time is an issue for everybody so I'll leave that caveat there since it applies to me as with everyone. I'd like to be able to help you with the burden of the lsp maintenance, I'm conscious you are taking on quite a lot at the moment as the success of the project has grown and the language servers multiply.

[2019-10-09 13:44] sebastiansturm commented on #1075
ok, I'd be willing to work on all of the three mentioned points but at a much lower rate compared to you. My focus, at least for now, would probably be on the C++ side (currently using clangd), some OCaml (using merlin-lsp) perhaps. Since I've been struggling with clangd's utf-16 offset error for a few weeks now and haven't yet got around to look into that more closely, that might also be a good p

[2019-10-09 17:10] Gastove commented on #1075
Hi all. Pretty new to everything here, and definitely still getting up to speed. But -- I'm very excited about this whole project, and would be delighted to help out some.

[2019-10-09 17:44] yyoncho opened #1081 "Investigate replacing travis with emacs github action"
Link: https://github.com/marketplace/actions/set-up-emacs

[2019-10-09 17:54] SamirHafez opened #1083 "[Rust] Setting lsp-rust-clippy-preference to "on" produces no effect"
The Rust LSP implementation provides a `lsp-rust-clippy-preference` variable which states:

[code]

By default, this variable is set to `opt-in` but changing it to either `off` or `on` doesn't seem to produce the desired effect (I still need to explicitly set the macro for the diagnostics to pop-up).

I've tried setting the variable and restarting the process (both `rls` and `emacs`) to no avail.

[2019-10-09 17:58] yyoncho commented on #1083
I am not Rust user, I even do not know what clippy is(lsp-mode supports 30+ languages). Can you provide sample project + what you are doing + what is happening + what is expected to happen?

[2019-10-09 20:49] sebastiansturm commented on #1010
clangd or ccls can stress your machine pretty heavily during initial indexing. I added a minimalistic test "project" over at lsp-ivy, see emacs-lsp/lsp-ivy#2. If that also causes 100% CPU load, something else must be wrong.

Try calling `lsp-ivy-workspace-symbol` and search for `some_`, this should give you a list of symbols to jump to. This should work even without a `compile_commands.json`, but

[2019-10-10 01:03] ztlevi opened #1085 "How to ignore folder for watch"
I am running a bazel project and it has some local symlinks in the projects stores the build, e.g. bazel-out, bazel-genfiles.

bazel-code is symlinked to `/home/ztlevi/.cache/bazel/_bazel_user/933c2f549343e099e3a6911b282cb71c/execroot/{project_root}/` and it's being watched by lsp-mode.

Even if I add entries to `lsp-file-watch-ignored`, files linked to `.cache` is still being watched. How to make

[2019-10-10 04:32] yyoncho commented on #1085
Can you do `M-x trace-function RET lsp--string-match-any RET` and check the trace buffer?

[2019-10-10 06:20] ztlevi commented on #1085
I got this. The last item is a folder in the project. Not sure when did this one added to `lsp-file-watch-ignored`.
[code]

[2019-10-10 06:38] #1083 closed

[2019-10-10 06:40] yyoncho commented on #1085
As you can see the regexes that you have added do not match the root folder, so the behaviour is the expected one.

[2019-10-10 06:52] brotzeit commented on #1075
I can try to take care of the rust related stuff, but I will need some time to get familiar with the code base.

[2019-10-10 07:43] kurnevsky commented on #1075
I can help with rust as well :)

[2019-10-10 09:31] abo-abo commented on #1010
@sebastiansturm What's the easiest way to get a relatively new `clangd`? The one I get from `apt` is version 8, which I guess is quite old if you have 10.

[2019-10-10 12:39] sebastiansturm commented on #1010
clangd 8 actually isn't so old, as clangd 10 is still unreleased and clangd 9 has been released only very recently. But if you're on Debian/Ubuntu/Mint/..., you can install clangd 9 via the official llvm package repositories: https://apt.llvm.org.
That being said, I guess clangd 8 should work just fine though your choice of workspace symbols may be limited to the currently visited translation unit

[2019-10-10 13:39] yyoncho commented on #1075
I sent invitations to @kurnevsky @dsyzling @TOTBWF @brotzeit . I will update the readme and the PR/Pull request templates with information about the "owner" to CC opening issues/sending PRs depending on the language server.

[2019-10-10 13:53] taigacute commented on #846
in vim  i got completion like this . so emacs can do this? maybe this is better?
![image](https://user-images.githubusercontent.com/41671631/66575347-5aaf9400-eba8-11e9-990a-e76a309c4d41.png)

[2019-10-10 13:57] yyoncho commented on #846
@taigacute ATM we display the method arguments in the echo area. There is an issue to create more gui-sh control for displaying the arguments: https://github.com/emacs-lsp/lsp-mode/issues/1021 .

[2019-10-10 14:00] taigacute commented on #846
@yyoncho   thanks for your greate work.

[2019-10-10 15:01] firstrow commented on #1034
I'm currently using next commands for navigation and it works as expected.
[code]
So M-. and M-, are working good without any configuration.

[2019-10-10 15:52] abo-abo commented on #1010
@sebastiansturm Thanks, I've built `ccls`. How do I prioritize it over `clangd-8`?

[2019-10-10 15:56] yyoncho commented on #1010
@abo-abo ccls should be with selected if both are registered. What do you have in `*lsp-log*`?

[2019-10-10 16:10] TOTBWF commented on #1075
Accepted! 🙂

[2019-10-10 16:22] seagle0128 commented on #1075
I can take some time on `lsp-go` since I am also working on some go projects recently.

[2019-10-11 12:59] brotzeit commented on #1075
@yyoncho Since the size of an organization reflects the community that we have around the project, I would consider making collaborators to members. Just a thought.

[2019-10-11 19:16] ztlevi commented on #1085
So what would be proper way to write the regex for folders outside the root of the project? I don't really understand the `[/\\\\]` part, looks like a different regex standard for me...

[2019-10-11 23:37] kirk86 opened #1090 "not getting any completions"
I have installed the lsp-mode along lsp-ui and company-lsp using use-package but for everything that I've tried it seems that I can't get any completions what so ever.

I'm editing a single python file and before accessing the file I've activated my python environment using pyven in which previously I had installed via pip all language server tools.

Am I missing something here?

[2019-10-12 05:08] yyoncho commented on #1090
Please mention what do you see in lsp logs after you do M-x lsp

[2019-10-13 02:34] kirk86 commented on #1090
@yyoncho
Here's what I see in the minibuffer when I execute `M-x lsp`
[code]
The in `*lsp-log*` buffer I see this
[code]
And in my config I also have `(setq lsp-log-io t)` but I don't see any other logs or buffers.

[2019-10-13 05:31] yyoncho commented on #1090
Use lsp-workspace-blacklist-remove to remove the blacklisted directory, then reopen the file and then select the proper option from the menu(either use the proposed root or choose the interactive root selection)

[2019-10-13 05:31] #1090 closed

[2019-10-13 11:23] kirk86 commented on #1090
@yyoncho Thanks Ivan,
I'm trying to remove the blacklisted file using `lsp-workspace-remove-blacklist` as you suggested and it prompts me to specify the directory. My blacklisted file is in `/tmp/testpyth.py`, so after entering` /tmp/` and hitting enter, in the minibuffer I get `[no match]` it doesn't accept what I'm entering. What's going on why I can't remove blacklist dir?

[2019-10-13 11:47] yyoncho commented on #1090
Can you try to delete the default message in the prompt and select from the list?

[2019-10-13 12:25] kirk86 commented on #1090
@yyoncho There's not list, I'm using emacs terminal.

[2019-10-13 12:28] yyoncho commented on #1090
Ah, I see , is it possible that you have set lsp-auto-guess-root to t? If this is so, can you remove it and retry?

[2019-10-13 12:39] kirk86 commented on #1090
@yyoncho I had that previously but now in my config I only have the following
[code]
I have removed elpa and any *.elc and every time that I activate the environment and create a new python file it automatically get's blacklisted immediately as soon as I create the file.

[2019-10-13 13:40] seagle0128 commented on #1090
@kirk86 How about touching `.projectile` file in the folder?

[2019-10-13 14:13] sebastiansturm commented on #821
I like the idea of being able to navigate both local symbols and workspace-wide references interactively, though it seems to me there is substantial overlap with `lsp-ui-find-next-reference` and `lsp-ui-find-prev-reference`. Not sure what would be the best way to go here: on the one hand, `lsp-ui-find-{prev,next}-reference` don't seem to come with the eye candy that other `lsp-ui` functions provid

[2019-10-13 19:25] yyoncho commented on #1085
@ztlevi AFAICS you have to prepare a regex which matches the path to the symlink and if you simply put the full path to it will match, e. g. something simple `subsystems/metadata/test_bench` will work.

[2019-10-13 19:27] yyoncho commented on #1085
I am closing the issue since apparently there is no bug, in the code.

 `[/\\\\] `

means any of `\/`

[2019-10-13 19:27] #1085 closed

[2019-10-13 20:12] yyoncho commented on #821
I think that lsp-mode should host a particular functionality unless there is a valid reason not to do so(e. g. unwanted dependency like helm/ivy/etc). FTR I wasn't even aware of that feature and I vote for moving it to lsp-mode.

Sounds like a good idea, we could also provide hydras.

IMO we may do what xref does - have a plain buffer ui implementation in lsp-mode(or even no UI) and allow pluging

[2019-10-13 22:38] aidalgol commented on #991
@yyoncho Why does lsp-mode not try to load yasnippet?  I think this conditional
[code]
should be
[code]

Since yasnippet is an optional dependency, lsp-mode could `require` it with the `NOERROR` flag set.  e.g.
[code]

[2019-10-13 22:50] aidalgol commented on #991
I created a PR for the changes I outlined above: #1093.

[2019-10-14 08:21] cbourgeois opened #1094 "do not load require flymake when user wants to use flycheck"
Hello,

After setting up lsp-mode, I noticed a signifcant slowdown in emacs starting time that using benchmark-init I traced to lsp-mode. I am using lsp-deferred and tried various use-package configurations but none was able to successfully speedup the startup time.

Here is the benchmark, note that flymake also takes a significant setup time even though it is disabled in the config :

[code]

Her

[2019-10-14 15:24] yyoncho commented on #1094
[code]

With the following config I get(in a the lsp-docker container, emacs27):
[code]

We could spend some time to try to remove `flymake` from the initial `require` list and require markdown-mode on the first usage but I do not see this as a high priority issue.

[2019-10-14 15:51] cbourgeois commented on #1094
After switching to
[code]

it went down to a more reasonable time

[code]
where flymake is still the biggest init time.

I't be interesting to pinpoint why use-package slows down the init so much for lsp-mode.

[2019-10-14 15:54] jessekelly881 opened #1095 "Package ‘spinner-1.7.3’ is unavailable"
Firstly, I appologize for not following the recomended format, but considering the nature of this issue I figured that many of the recomended points were obvious.

I am having issues installing lsp-mode. I have been trying for several days to get it installed with no result. When I try to install it using "package-install" I get the error "Package ‘spinner-1.7.3’ is unavailable" and I also cannot

[2019-10-14 15:59] jessekelly881 commented on #1095
Ah. So, I believe I got it working. Opening the spinner.el file and running package-install-file did the trick. Still, having to do this seems excessive. There must be a better way?

[2019-10-14 16:12] brotzeit commented on #1095
Does this work `gpg2 --keyserver hkp://pool.sks-keyservers.net:80 --homedir $HOME/.emacs.d/elpa/gnupg --recv-keys 066DAFCB81E42C40 || true` ?

[2019-10-14 16:29] joaotavora commented on #350
Eh, if you're going to be hacking on core Emacs, why just not hack on flymake? :-D just sayin...

[2019-10-14 16:45] jessekelly881 commented on #1095
It works, as in, the command run successfully. However, I got it working with the method above. I.e. installing spinner.el manually. It seems like spinner.el isn't currently in melpa stable, melpa, or gnu elpa. Which is strange. I've had no problems with installing packages otherwise.

[2019-10-14 17:37] brotzeit commented on #1095
It is in elpa, but it seems you have to update the keyserver ? Somebody told me to use this command and it worked for me.

[2019-10-14 17:37] seagle0128 commented on #1095
@jessekelly881 I think you missed this https://elpa.gnu.org/packages/gnu-elpa-keyring-update.html.

[2019-10-14 17:44] jessekelly881 commented on #1095
Ah. I did indeed. Thanks!

[2019-10-14 17:57] seagle0128 opened #1096 "Invalid type <nil> for []string option "experimentalDisabledAnalyses" in lsp-go"
Recently many people got this error while using `lsp-go`.

[code]

[2019-10-14 18:18] yyoncho commented on #1096
@Gastove this seems to be related to your PR #1086, willing to take a look?

[2019-10-14 18:18] seagle0128 commented on #1096
I found the root cause. It's related to https://github.com/emacs-lsp/lsp-mode/pull/1086.

`lsp-gopls-experimental-disabled-analyses` should be an array while not a list according to https://github.com/golang/tools/blob/master/gopls/doc/settings.md#experimental.

[2019-10-14 18:20] #1095 closed

[2019-10-14 18:20] yyoncho commented on #1095
Fixed by adding a FAQ entry.

[2019-10-14 18:39] seagle0128 commented on #1096
I am trying to fix it, but more and more issues occur. e.g.

[code]

I'd like leave this to @Gastove to check all settings in #1086.

[2019-10-14 18:40] Gastove commented on #1096
Ruh-roh. @yyoncho yes, happy to take a look; I'm tied up for the next eight hours or so, but can dig in after that.

[2019-10-14 18:41] yyoncho commented on #1096
Sure, meanwhile we may revert the PR, @seagle0128 @Gastove  WDYT?

[2019-10-14 18:45] seagle0128 commented on #1096
It's fine if @Gastove can fix soon, since the basic completion functionality does work well. Thank you!

[2019-10-14 19:00] Gastove commented on #1096
I'm content either way. I'll get to this as quick as I can, and the fix PR will be clearer if we don't revert.

[2019-10-14 19:26] yyoncho commented on #1075
@brotzeit sent members invocations to everyone.

Also, I created the following table in the readme: https://github.com/emacs-lsp/lsp-mode/#members

[2019-10-14 19:44] sebastiansturm commented on #821
sounds good to me, I'll have a go at that

[2019-10-14 20:44] Gastove commented on #1096
Hokay, one of these I misunderstood on the first pass, and the other I just straight-up got wrong.

So, just to make sure I now have this right:
- `lsp-gopls-experimental-disabled-analyses` nees to be an array of strings, so should default to `[]`, not `(list)`
- `lsp-gopls-env` should serialize to an object, which means a list of pairs, right? E.G. `'(("ENV_VAR" . "var value"))`.

@yyoncho can yo

[2019-10-14 21:06] yyoncho commented on #1096
Yes, you can use also plist and hash-table if you want to have a object on the wire.

[2019-10-14 21:12] Gastove commented on #1096
Great. Do y'all have a standard practice? I've no strong attachment to any particular approach, would rather do what's most normal.

[2019-10-14 21:22] yyoncho commented on #1096
We don't have a standard for this.

[2019-10-15 15:07] #1096 closed

[2019-10-15 16:02] Gastove opened #1099 "Investigate configuration errors from `gopls`"
While working on #1097, there were reports of this error emerging:

`LSP :: unexpected config staticcheck`

It's not clear that this is an LSP problem, as many of the configuration parameters accepted by `gopls` are marked experimental, and `gopls` is under heavy, active development. However, it would be very good to make sure of this, and potentially update the docstrings of the `lsp-go` `defcust

[2019-10-15 16:12] Gastove commented on #1099
@seagle0128 Can you post the configs you were using for `lsp-go` here, along with your current `gopls` version?

[2019-10-15 16:39] seagle0128 commented on #1099
@Gastove  My lsp and go config is here: https://github.com/seagle0128/.emacs.d/blob/master/lisp/init-lsp.el and https://github.com/seagle0128/.emacs.d/blob/master/lisp/init-go.el .

The core config is below.
[code]

[2019-10-15 16:48] Gastove commented on #1099
Thanks @seagle0128. I'll tuck in to this soon!

[2019-10-15 17:04] seagle0128 commented on #1099
BTW, I updated gopls to the latest version just now and still get this error.

[2019-10-15 17:22] muirrn commented on #1099
Slightly off topic, but personally I don't think we should add gopls config flags to lsp-mode until they are stable. Things change frequently, and we will be left with a lot hard-to-delete experimental cruft once the dust settles. I would prefer an interface where users can set experimental config flags manually a la loosey-goosey JSON config in VSCode. For example:

[code]

That way it is all on

[2019-10-15 17:26] psanford commented on #1099
Yes I agree. The gopls team just renamed a bunch of the experimental flags recently.

[2019-10-15 17:42] Gastove commented on #1099
Uh, okay -- this feedback would have been very helpful when I PRed those flags in :grimacing:

I'm not a core member of the `lsp-mode` team, just an enthusiastic user. Personally, marking those flags as `experimental` in the name seems fine to me, but again -- not *my* project. That said, I'm not going to put more time in tot debugging those flags until I hear for certain about their future.

How

[2019-10-15 18:03] yyoncho commented on #1099
lsp-mode project is a community-driven project so it doesn't matter whether someone is part of a code team or whatever. We do what makes sense and everyone's opinion will be taken into account. We try to do what will be the best for the users not what maintainers want :)

[2019-10-15 18:33] Gastove commented on #1099
Appreciated very much! Just trying not to step on any toes :sweat_smile: Thanks, sir.

[2019-10-15 18:37] muirrn opened #1100 "Consider ad-hoc config interface"
We have been recently adding experimental gopls config flags to lsp-mode. The elisp variables have "experimental" in their names, but I'm not sure we will be able to easily delete the variables when the config flags are removed/changed in gopls.

I like "first class" elisp variables for stable config options, but for unstable config values I propose we switch to an ad-hoc interface where the user

[2019-10-15 18:37] muirrn commented on #1099
Moving hijack discussion to #1100

[2019-10-15 18:41] yyoncho commented on #1100
I think that we support that ATM:

[code]

[2019-10-15 18:52] muirrn commented on #1100
My proposal has two main differences with the existing way to define options:
1. A single step (easier for users to play around with)
1. Doesn't require defining a variable

My goal was something as easy as setting a variable but without the need to define a variable.

My proposal also makes it easier (?) to validate the user configured a valid server id. We could also have a list of all possible

[2019-10-15 18:57] yyoncho commented on #1100
We can wrap that in a macro and make it a single step and cover 1/2.

ATM there is no mapping `config section` -> `server-id`. Also, some of the servers have multiple config sections. The section is encoded in the variable path, just like vscode does.

[2019-10-15 21:23] Gastove commented on #1099
Okay, an update on the original topic of this issue: digging in to `gopls`, I have found that this is the list of default analyzers:

[code]
`staticcheck` is only added if the (experimental!) `lsp-gopls-experimental-staticcheck` var is non-nil, which it is not by default. So -- if `staticcheck` is part of disabled checkers, it will error unless staticheck has explicitly been enabled. Otherwise, it

[2019-10-15 23:36] JohnC32 opened #1101 "lsp-mode should not display "Active process exist; kill them and exit anyway?" on the *ccls::stderr* buffer"
In lsp-mode.el, lsp-stdio-connection it is missing the call set-process-query-on-exit-flag for the "*ccls-stderr*" buffer when using ccls with lsp-mode. The fix is to update the function to be the following. In particular the three FIX lines.

[code]

[2019-10-16 00:33] JohnC32 opened #1102 "Add ability to jump back and forward, i.e. location stack navigation"
Many code navigation packages have ability to "jump back" to where you were and "jump forward", i.e. a location navigation system. For example if you do M-x lsp-find-references and click around, you should be able to jump back to your staring point. The alternative to a formal location navigation system is to simply switch buffers to get back but it's not so friendly as it's easy to forget buffer

[2019-10-16 04:56] yyoncho commented on #1102
Duplicate of https://github.com/emacs-lsp/lsp-mode/issues/1034

[2019-10-16 04:56] #1102 closed

[2019-10-16 04:56] yyoncho commented on #1101
Thank you for reporting this, willing to make a PR?

[2019-10-16 04:58] yyoncho commented on #809
@iquiw is working on that as part of: https://github.com/emacs-lsp/lsp-mode/issues/1073

[2019-10-16 04:58] #809 closed

[2019-10-16 04:59] yyoncho commented on #1101
It might be causing https://github.com/emacs-lsp/lsp-mode/issues/641 as well.

[2019-10-16 13:42] seagle0128 commented on #1099
@Gastove As @yyoncho mentioned above, `lsp-mode` is a community-driven project, and we respect all opinions and suggestion. I was a user, then a contributor, now a collaborator. So don't worry about it! BTW, @yyoncho is very kind and enthusiastic.

I agree to just add stable options for now to keep the project stable and clean.

[2019-10-16 13:46] JohnC32 commented on #1101
Done. https://github.com/emacs-lsp/lsp-mode/pull/1105

Thanks

[2019-10-16 14:45] Gastove commented on #1099
Thanks, @seagle0128 -- appreciated. Like I say, I just... am fussy about landing too hard on things before I have full context :)

In other news: I'm pretty sure this is _not_ a problem with `lsp-mode`; IMHO this ticket can be closed :+1:

[2019-10-16 15:03] Gastove opened #1106 "Clean up use of `:type (vector string)`"
In a recent set of PRs (#1086, #1097), there was a little confusion about the correct `:type` key for representing vectors of strings. To summarize: `:type '(vector string)` is valid elisp, but not the type we want, as it specifies a _vector of length 1_, specifically. The correct `:type` is a `restricted-sexp`, using a function that `and`s `vectorp` with checking that all elements are of type `st

[2019-10-16 15:33] yyoncho commented on #1106
Looks good to me. We may consider renaming the type to `lsp-json-string-array` since this is what it really represents.

cc @iquiw

[2019-10-16 15:49] yyoncho commented on #1099
Closing based on(reopen if you disagree):

As a side note, once lsp-mode starts to manage the server download process we will be able to ensure what that lsp-mode is configured to work against a particular server version. ATM `latest` is pretty random...

[2019-10-16 15:50] #1099 closed

[2019-10-16 15:52] yyoncho commented on #1101
The PRs are very welcome, so if you spot an issue (or even better if you want to work on existing issue)  dont hesitate to send a PR.

[2019-10-16 15:52] #1101 closed

[2019-10-16 16:40] yyoncho commented on #1106
`lsp-string-vector` is good enough.

[2019-10-16 18:13] #916 closed

[2019-10-16 19:23] sebasmonia opened #1108 "C# completion - candidates don't match the context"
**Describe the bug**

In C#, completion suggests items that are outside the current context. Example, if I type `this.` I would expect to get a list of items for the current class, instead I get...basically everything (namespaces, functions, etc.)

![image](https://user-images.githubusercontent.com/1651857/66951537-d467d780-f017-11e9-90b5-e6ae130725e4.png)

Also in some circumstance I get...almost

[2019-10-17 02:47] Gastove commented on #878
This can be assigned to me -- I've got a bunch of terraform to do anyways, having LSP for it would help :+1:

[2019-10-17 04:54] #1106 closed

[2019-10-17 05:18] yyoncho commented on #1108
lsp-mode is responsible only for showing the completions, not for calculating them. The server is doing that. So we should gather enough information and report it upstream.

[2019-10-17 05:20] lordvarys commented on #1034
Closing this if you are going to deprecate the `lsp-find-*`

[2019-10-17 05:29] seagle0128 commented on #1106
I will update `lsp-python-ms` once this PR is merged.

[2019-10-17 07:58] dfszb opened #1110 "clangd lsp-find-references for macro does not seem to work"
In my projects, when using clangd, lsp-find-references won't find references for macros.
Note that lsp-find-definition seems to work.
Note that when using ccls, this seems to work OK.
How to reproduce:
With this simple code, lsp-find-references will not find reference for macro ABC:
[code]

[2019-10-17 08:11] #1110 closed, assigned to nobody

[2019-10-17 11:12] dfszb commented on #1110
Added issue https://github.com/clangd/clangd/issues/181

[2019-10-17 12:34] hg-zt commented on #405
@yyoncho Hi, I'm using the corrected configuration, but it still not work.

[code]

[code]

I've checked `*lsp-log: ccls` buffer and I could not even see this option added into the config.

This is what I see in message buffer, it seems that the `ccls` process is started before the value is overwritten by `.dir-locals.el` ?
[code]

I've also tried to change `ccls-args`, which should set the launch

[2019-10-17 12:39] yyoncho commented on #405
@hg-zt I think that you have another hook that calls `lsp`. You may find out what is the hook by doing `M-x debug-on-entry RET lsp RET`

[2019-10-17 13:41] hg-zt commented on #405
@yyoncho

thanks for your fast reply.

yeah it breaks twice on lsp()

and the first backtrace is

[code]

The second time:
[code]

Another proof:
[code]

It seems to be a `spacemacs` issue. I found this hook in spacemacs's `c-c++` layer (packages.el)

I've also found syl20bnr says the `lsp` layer is still under working. So I could only wait for the work finished.

https://github.com/syl20bnr/space

[2019-10-17 14:12] hg-zt commented on #405
more specifically:

[code]

https://github.com/syl20bnr/spacemacs/blob/develop/layers/%2Blang/c-c%2B%2B/packages.el#L292-L298

Does this breaks the intention of `hack-local-variables-hook` ? It called `lsp` before `hack-local-variables-hook`

[2019-10-17 14:47] hg-zt commented on #405
Well, at least the latest commit of spacemacs on the `develop` branch does not work for me.

Just removed `c-c++` layer and use `use-package` instead solves the problem for me.

[code]

[2019-10-17 16:35] garyo commented on #739
I'm trying to use this with `eglot` and running into the same issue. I had it working with older vls, but now things have changed and I'm not sure what the magic config data to pass is. Even when I pass a simple config object I get errors further along.

[2019-10-17 18:19] teu5us opened #1111 "elm-ls fails to start with 'permission denied'"
When I open a .elm file, lsp starts, but it cannot connect to elm-language-server with the following in the echo area:

`LSP :: Request initialized failed with message: EACCES: permission denied, scandir '/path/to/some/dir'`

The directory in question is some random directory in my home directory. Why is it even trying to scan everything?

[2019-10-18 01:18] JohnC32 commented on #1034
I tried using xref. It doesn't let one go back and forth.  I've been using RTags, https://github.com/Andersbakken/rtags navigation capabilities for a while and the ability to go forward and backward is very a major benefit in code navigation. See their rtags-location-stack-back and 'rtags-location-stack-forward. Please consider adding both directions. Thanks

[2019-10-18 02:28] seagle0128 commented on #1034
xref works fine for me.

[2019-10-18 02:54] teu5us commented on #1111
This example from elm website or any other .elm file. Whenever I open an elm file in emacs, lsp cannot initialize. I expect lsp to start, it reports starting the elm-ls in the modeline after the mentioned error, so I get no completion or anything.

Arch Linux, elm-language-server installed from npm.

However, elm-ls works fine with coc.nvim.

[code]
I get nothing except for the following as errors

[2019-10-18 13:07] JohnC32 opened #1113 "(file-error "Read error" "Is a directory" "/path/to/a/directory")"
When running lsp-find-references on a heavily used C++ class (I'm using lsp-mode with ccls), sometimes I see:

    Debugger entered--Lisp error: (file-error "Read error" "Is a directory" "/path/to/a/directory")
      insert-file-contents("" nil nil nil nil)
      insert-file-contents-literally("")
      #[514 .....
      apply(#[514 .....
      #[128 .....
      mapcar(#[128 .....
      #[514 ....

[2019-10-18 13:16] yyoncho commented on #1113
The issue seems to be on the server(not providing the uri) but it might be lsp-mode not reading the correct map key. Can you provide the client-server communication for that request?

[2019-10-18 13:34] JohnC32 commented on #1113
I'm very new to lsp-mode and just setting it up and thus not that familiar with the structure. How do I get the client-server communication?

[2019-10-18 13:46] JohnC32 commented on #1034
xref does work for some items, but not others.

For example, run M-x xref-find-references and from the list of items shown, pick one. You can then run M-x xref-pop-marker-stack to jump back. However, there's no jump forward. If I want to go forward to where I just was, I need to re-run M-x xref-find-references and then pick the desired item, or I can use ^X^B, etc. There's no clean way to move for

[2019-10-18 13:54] yyoncho commented on #1034
There was an implementation of forward for xref in stackoverflow(?) but I am unable to find it out now.
Maybe @dgutov could help with that.

As for lsp-find-implementation, it does not work indeed. I think that it only needs to push the marker on the stack. I prefer this solution instead of implementing backward/forward on top of xref since it will lead to less code.

[2019-10-18 13:56] JohnC32 commented on #1113
Thanks for the tip. The log is 26K lines long. I'm not familiar with the protocol. I do see numerous entries of the form. Every uri has a valid file name on disk (it's always a *.cpp or *.hpp) file.

    [Trace - 09:51:37 AM] Sending request 'textDocument/hover - (124)'.
    Params: {
      "textDocument": {
        "uri": "file:///path/to/some/file.cpp"
      },
      "position": {
        "line"

[2019-10-18 13:59] yyoncho commented on #1113
You should look for `textDocument/references` and for the corresponding response.

[2019-10-18 14:30] JohnC32 commented on #1113
There are two entries:

    [Trace - 10:20:47 AM] Sending request 'textDocument/references - (35)'.
    Params: {
      "textDocument": {
        "uri": "file:///path/to/file.cpp"
      },
      "position": {
        "line": 21,
        "character": 25
      },
      "context": {
        "includeDeclaration": false
      }
    }

    [Trace - 10:20:48 AM] Received response 'textDocument/references

[2019-10-18 14:33] dgutov commented on #1034
@yyoncho I haven't seen it, and I'm sure you know that if the author does not intend to assign the copyright, I better not see the implementation (if you want it in Emacs core).

It should be fairly easy to add, though (I just use the `history` package, myself).

[2019-10-18 14:51] JohnC32 opened #1114 "Add notification when LSP is ready"
The current workflow for a large C++ project I'm setting up using lsp-mode with ccls is to:

1. Pregenerate the index using ccls -init="..." on our project.This takes many hours using 12 threads because of the size - many millions of lines of code.
2. Launch emacs and when a C++ file is loaded, activate lsp-mode.

The activation of lsp mode does take a while. Looking at "*ccls::stderr*" I see it t

[2019-10-18 15:03] JohnC32 commented on #1034
Can you give a pointer to the history package? It doesn't seem to come with Emacs25 and googling on emacs history isn't so helpful. Thanks

[2019-10-18 15:34] yyoncho commented on #1113
can you validate that all entries have uri key?

[2019-10-18 15:52] yyoncho commented on #1114
I am not sure I understand 100% what you are asking for. If `I loaded project...` message shows at the same time server sends `initialize` response, you could use `lsp-after-initialize-hook` hook to add your custom behaviour(e. g. refresh semantics).

If you want only to have a message I added it here - https://github.com/emacs-lsp/lsp-mode/commit/66780e026da6711a4219802bc20b7cb165ea44b2

[2019-10-18 15:56] JohnC32 commented on #1113
There is one entry that is invalid (my prior perl script missed it):

    {
      "range": {
        "end": {
          "character": 56,
          "line": 25
        },
        "start": {
          "character": 41,
          "line": 25
        }
      },
      "uri": "file://"
    },

In case it helps, I used this script to find it because the size is too large to visually parse.

[code]

[2019-10-18 15:59] yyoncho commented on #1113
IMO the correct solution would be:

1. try/catch the error (print a warning when the file does not exist).
2. Report the invalid path in ccls repo

(cc @MaskRay )

[2019-10-18 16:17] JohnC32 commented on #1114
It would be helpful to see a message when lsp/ccls has finished loading and is ready for use. Adding the ability to refresh buffers would also be nice. Using https://github.com/emacs-lsp/lsp-mode/commit/66780e026da6711a4219802bc20b7cb165ea44b2 , I see:

    LSP :: Connected to [ccls:64240 status:starting].
    LSP :: ccls:64240 initialized successfully
    LSP :: not indexed [2 times]

The 'initia

[2019-10-18 16:31] seagle0128 commented on #1034
I'm using `C-u C-SPC` for markers.

[2019-10-18 16:42] yyoncho commented on #1114
This means that the initialization of ccls is not related to lsp event which makes your request out of scope for lsp core code but it should recide in the language server specific code. In this case, this is in a separate repo. I am closing the issue - you should follow up with a feature request in emacs ccls repo.

(cc @MaskRay )

[2019-10-18 16:42] #1114 closed

[2019-10-18 18:40] JohnC32 commented on #1113
I created https://github.com/emacs-lsp/lsp-mode/pull/1115 to catch the error and continue. I will work with the ccls maintainers to fix the root cause. Thanks

[2019-10-18 19:38] yyoncho commented on #1111
Hi @Daniel-V1 - I noticed that you are the latest committer in elm related code - have you ever seen anything like described in the PR?

[2019-10-18 21:21] dgutov commented on #1034
https://melpa.org/#/history

[2019-10-19 01:42] rgrinberg opened #1116 "Error message when closing a diff"
Steps to reproduce

* Open a commit in magit
* Edit any file in this commit
* Exit the ediff session

You will get the following error message:

[code]

I could try finding a stack trace if that's necessary to fix the bug.

[2019-10-19 02:40] teu5us commented on #1111
I actually found only one comment about the issue on the internet. So, as I said, elm-ls works fine with coc.nvim and I also tried it with vscode where it also works as expected. I get this error in emacs with both lsp-mode and eglot.

[2019-10-19 02:41] MaskRay commented on #1113
This can be closed. It is out of scope of lsp-mode.

[2019-10-19 03:30] yyoncho commented on #1116
That would be necessary + mentioning what ls do you use + capturing client/server communication.

[2019-10-19 03:37] yyoncho commented on #1111
I am struggling to make elmls work on my side at all (it starts but it errors out that on each call it, fails in vscode too). I believe that the issue is that lsp-mode does not send some information in the initialization options, so capturing the logs from vscode and emacs and comparing both will help us resolve the issue.

1. In vscode, can you do the following: `C-S-p User Settings RET` and type

[2019-10-19 03:43] teu5us commented on #1111
@yyoncho I'll provide the logs asap, can also try to get logs from coc.nvim for comparison

[2019-10-19 07:36] yyoncho opened #1117 "Implement support for result streaming [3.15]"
The upcoming https://microsoft.github.io/language-server-protocol/specifications/specification-3-15/ version of the protocol will support streaming results(e. g. find-references, completion, find definitions, etc). We will have to find a way to represent that data in lsp-mode.

A possible solution would be to Implement streaming support on top of helm/ivy and enable it only when the user uses them

[2019-10-19 08:40] #1100 closed

[2019-10-19 10:08] teu5us commented on #1111
Here's the lsp log:
[emacslog.txt](https://github.com/emacs-lsp/lsp-mode/files/3746497/emacslog.txt)

This one is from vscode:
[vscodelog.txt](https://github.com/emacs-lsp/lsp-mode/files/3746498/vscodelog.txt)

This is from coc.nvim:
[cocnvimlog.txt](https://github.com/emacs-lsp/lsp-mode/files/3746503/cocnvimlog.txt)

[2019-10-19 11:00] teu5us commented on #1111
Changing these two lines (on line 5377) in lsp-mode.el got elm-ls running.

*From*:
[code]

*To*:
[code]

However now there is a new issue with the following in the echo area:
[code]

[2019-10-19 11:06] yyoncho commented on #1111
You have selected incorrect project root -

[code]

If you have set lsp-auto-guess to t - remove that setting. I recommend not setting this to t until you understand how lsp-mode internals work.

Otherwise, do lsp-workspace-folder-remove and next time when you open the file and call lsp you will be asked to select root. Follow the instructions and select the correct project root.

I am getting the

[2019-10-19 11:06] #1111 closed

[2019-10-19 11:17] teu5us commented on #1111
lsp-auto-guess-root is set to nil in my case. Whatever file I open gets my homedir as root. The rootPath for elm-ls should be that containing elm.json.

I moved my file Main.elm from src dir to project root dir and with my changes to lsp-mode.el elm-ls started. I get no completion, though.

[2019-10-19 11:25] yyoncho commented on #1111
That is because you have added the homedir as a root folder. Call `M-x` `lsp-workspace-folders-remove` first.

can you try executing this:

[code]

note that you should do that before starting the elm language server.

If it doesnt work, I will need the log from vscode from opening the file to the point at which you receive completion and the same thing for emacs.

[2019-10-19 11:37] teu5us commented on #1111
I see. I removed homedir as you said and added the required dir as root. Starts as expected. Completion works, but only through M-Tab

[2019-10-19 11:40] yyoncho commented on #1111
Do you have company-lsp installed?

[2019-10-19 11:41] yyoncho commented on #1111
Also, does it work without `(setf (lsp--client-multi-root (gethash 'elm-ls lsp-clients)) t)` ? If it requires that option, I will update the default configuration to have multi-folder enabled by default.

[2019-10-19 11:43] teu5us commented on #1111
I do have that one installed, works with other backends. Completion works without that option.

[2019-10-19 11:45] yyoncho commented on #1111
Does it work when you explicitly do `M-x` `company-lsp`? Also, what is the value of `company-backends` when you are in elm buffer?

[2019-10-19 11:48] teu5us commented on #1111
Yes, works when told explicitly.
`company-backends` is `(company-elm (company-semantic company-dabbrev-code company-gtags company-etags company-keywords) company-files company-dabbrev)`

[2019-10-19 11:51] yyoncho commented on #1111
@teu5us apparently you have something in your config that removes company-lsp from company-backends. I believe that company-elm is doing

Something like that will fix it, but it should be executed after company-elm action.

[code]
 Ideally, you should find a way to disable that package

[2019-10-19 11:56] teu5us commented on #1111
I guess that's some issue on spacemacs side.

This one did not help, unfortunately.
[code]

[2019-10-19 12:00] yyoncho commented on #1111
Delete this from the elm layer and it will work.

[code]

[2019-10-19 12:10] teu5us commented on #1111
company also needs to be removed from elm-packages, otherwise there's a  warning. It would be nice to have lsp-elm as an option like they have in their python layer.

I changed company-elm to company-lsp and the hook to elm-oracle to lsp. Both ways it works, but quite slowly. Anyway, thanks for your help

[2019-10-19 15:03] Gastove commented on #1094
@yyoncho is there complexity I'm missing, or could this be as simple as updating `lsp-mode.el` to:
[code]

[2019-10-19 15:18] yyoncho commented on #1094
@Gastove I think it will be even better to move it before the call `lsp--flymake-setup`. Considering the limited resources, we have to prioritize.

[2019-10-19 19:13] #1034 closed

[2019-10-19 19:29] yyoncho commented on #1034
@JohnC32 if `history` package or  @seagle0128 solution does not work for you, feel free to open another issue.

I gave up on that due to https://github.com/emacs-lsp/lsp-mode/issues/1117 .

[2019-10-19 19:37] dgutov commented on #1117
If you have a good grasp of the protocol, why not propose an extension values allowed by xref? And we can add that in a future version. Maybe also release xref as a "core package".

So far I'm not sure which shape it should take? An iterator? A promise? A chunked iterator?

[2019-10-20 05:35] #1113 closed

[2019-10-21 16:02] jsravn commented on #1099
I'm getting this error after a recent update to lsp-mode. `lsp-gopls-experimental-staticcheck` is set to `nil`. Any ideas?

[2019-10-21 16:23] yyoncho commented on #1099
@jsravn see https://github.com/emacs-lsp/lsp-mode/issues/1099#issuecomment-544584178

[2019-10-22 04:17] xuhdev opened #1123 "Incorrect determination of the availability of php-language-server"
The default of `lsp-clients-php-server-command` is   `("php" ,(expand-file-name "~/.composer/vendor/felixfbecker/language-server/bin/php-language-server.php"))`, but in lsp-mode.el, its availability is determined by the existence of `php`. In other words, for someone who has php installed but has no interest in lsp for php, this will always lead to a false positive.

I understand that it can be cu

[2019-10-22 05:08] yyoncho commented on #1123
The solution is to do what we do with XML language server: https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-xml.el#L203 . @xuhdev willing to try to provide a PR?

[2019-10-22 05:24] xuhdev commented on #1123
Thanks. Sure, I've put this on my TODO list.

[2019-10-22 15:25] Mallchad opened #1125 "Omnisharp connects but fails to work"
**Describe the bug**
 After connecting the omnisharp language server when opening a `.cs file`, nothing much in it just for test purposes to see if the server worked I always get errors, either `System.NullReferenceException` or `(wrong-type-argument hash-table-p nil)` like mentioned in #815
I believe this is purely an lsp-mode problem because standalone omnisharp-emacs (https://github.com/OmniSha

[2019-10-23 02:57] sebasmonia commented on #1108
Hi, sorry it took me this long to get back to you. I tried a minimal project and got the same result.
I set `(setq lsp-print-io t)` but couldn't see any log info in a buffer or Messages? Couldn't gather from the lsp-mode code where it logs :)

I tested with a different LSP package the completion results are different:

![image](https://user-images.githubusercontent.com/1651857/67352736-0b555600-f5

[2019-10-23 05:09] yyoncho commented on #1108
I set (setq lsp-print-io t) but couldn't see any log info in a buffer or Messages?

Use lsp-workspace-show-logs.

This message means that lsp-mode is not started in the buffer. Can you verify that by lsp-describe-session? In case it is not part of a project, please make sure that you have lsp-auto-guess-root set no nil and reopen the project? If you still get that message you have probably blackli

[2019-10-23 05:18] #1123 closed

[2019-10-23 12:24] kdeberk opened #1127 "saving breaks narrowing"
Current version of lsp-mode: `20191023.518`

**Describe the bug**
I narrow the buffer using narrow-to-region (C-x n n). When I modify and save the buffer, the narrowing is undone.

**Expected behavior**
Narrowing remains.

**Which Language Server did you use**
I'm using python-language-server (0.28.3) on Linux

In the method `lsp-format-buffer` in `lsp-mode.el`. I have replaced `save-excursion` wi

[2019-10-23 14:52] sebasmonia commented on #1108
`lsp-auto-guess-root` is set to `t`, after reading that variable I created a .projectile file and now LSP starts when I open the buffer.

Completion is back to the very first screenshot, where after the dot I get _everything_ under the sun.

The log buffer shows the data below, which seems like an Omnisharp problem, but I see similar exceptions for eglot and still get completion, so maybe there's

[2019-10-23 15:47] #1127 closed

[2019-10-23 16:22] muirrn commented on #1075
I'm also willing to take some responsibility for Go stuff. I'd like to get into core lsp-mode work as well, but I'm not there yet.

[2019-10-23 18:17] sjkyspa opened #1131 "wrong type argument when use smartparents and lsp-mode"
I use the lsp-mode with latest package under emacs 26.3

when I call the sp-kill-hybrid-sexp right before the `auto`  inside c++

[code]

I got
[code]

Any help thanks

[2019-10-24 01:21] jmhodges opened #1133 "gopls seems to need `-mode=stdio`"
Versions:
lsp-mode  20190917.441
Go 1.13.1

**Describe the bug**
`lsp-find-definition` doesn't work unless `-mode=stdio` is added to the `lsp-gopls-server-args` variable.

**To Reproduce**
Go into a Go package and look up an object in other package in it with `lsp-find-definition`.

**Expected behavior**
The buffer should open with the definition of that object from the other package.

**Which Lan

[2019-10-24 01:22] jmhodges commented on #1133
(`-mode=stdio` is also used by vscode when it boots gopls)

[2019-10-24 01:26] jmhodges commented on #1133
Ah, nevermind. There seems to be something else going on.

[2019-10-24 01:26] #1133 closed

[2019-10-24 10:58] mihai-dinu opened #1135 "Lsp mode cannot be enabled on a javascript file without .js extension"
The issue is described here: https://github.com/hlissner/doom-emacs/issues/1943

In short, it looks like lsp-mode doesn't treat files that have `#!/usr/bin/env node` files as javascript files if they don't have any `.js` file extension. Thus it doesn't start. This is most probably the problematic code: https://github.com/emacs-lsp/lsp-mode/blob/master/lsp-clients.el#L145-L147

**Which Language Ser

[2019-10-24 15:39] #1135 closed

[2019-10-24 16:02] muirrn opened #1136 "Consider unpublishing lsp-go and friends from MELPA"
It would be good if we could get the deprecated `lsp-go` package out of MELPA. It's easy to accidentally install when trying to set things up.

It looks like the recipe was removed a while ago, so I'm not sure how to proceed. We can start by opening an issue in the melpa project. Should I do that?

[2019-10-24 16:07] yyoncho commented on #1136
I don't see it here - https://melpa.org/#/?q=lsp-go&sort=downloads&asc=false ?

[2019-10-24 16:14] muirrn commented on #1136
Hmm... I still see it in Emacs when I run `package-list-packages`. I tried removing cache files and refreshing stuff, but I still see it. Do you see it in Emacs?

[2019-10-24 16:31] yyoncho commented on #1136
Yes, I still see it when I start emacs -q and download melpa packages. I guess we should ask in melpa repo.

[2019-10-24 16:31] psanford commented on #1136
It still shows up here: https://melpa.org/packages/archive-contents

[2019-10-24 16:39] muirrn commented on #1136
I opened https://github.com/melpa/melpa/issues/6501

[2019-10-24 17:16] ccqpein opened #1137 "Function definition is void: lsp-define-stdio-client after update lsp-mode today"
**Describe the bug**
I just update lsp-mode this morning and I cannot auto start lsp-mode and run `lsp` when I open my Golang file.

+ Mini buffer gives me `Symbol’s function definition is void: lsp-define-stdio-client` when I open my go file.
+ When I run `lsp` after manually enroll `lsp-mode`, it return same error.
+ `gopls` in my PATH, and it works last night.
+ Other languages files have same

[2019-10-24 17:26] yyoncho commented on #1137
You have the deprecated package lsp-go on your path. Please delete it (make sure it won't be installed again) and restart emacs.

[2019-10-24 17:26] #1137 closed

[2019-10-24 19:32] sebastiansturm opened #1138 "Bad response to rangeFormatting/textEdits?"
I'm seeing occasional clangd crashes/aborts where clangd complains about invalid offsets within some source file. This just happened again and looking at the `lsp-log` turned up the following pattern:

1. I'm editing some part of the source file, say I'm inserting a semicolon or pasting code from the clipboard
2. in response to the change just made, `lsp-mode` emits a `rangeFormatting` request ref

[2019-10-24 19:53] yyoncho commented on #1138
The reason for using full sync was a perf bug - formatting in relatively big file was taking 15+ seconds. Based on your description I think that we should flush before preparing incremental updates or right after the formatting. We flush before a call to the server but apparently the changes.(I am over the phone, cannot go into details)

[2019-10-24 19:58] sebastiansturm commented on #1138
thanks for the quick response! Maybe it would make sense to temporarily switch to full sync for large edits, but stick with incremental sync for small formatting responses (let's say we stick with incremental if the number of textEdits is < 10 or so and their total length is below some reasonable threshold?). If you think that's ok, I can try that change locally and open a PR if it seems to work f

[2019-10-24 20:17] yyoncho commented on #1138
This make sense but it is more about optimization. It will avoid the issue but IMO.we still have to fix the root cause.

[2019-10-24 22:34] sebastiansturm commented on #1138
absolutely, sorry if my writing was unclear. If we wish to change sync methods on the fly, that should of course be done correctly, but if this switching of sync methods happens to strongly affect autoformatting performance (and autoformatting seems to be the only operation that changes syncing behavior on the fly as far as I can tell), combining both changes into a single "fix-autoformatting" PR

[2019-10-25 10:53] sebastiansturm commented on #1138
would it make sense to do the temporary switch to full syncs every time we invoke `lsp--apply-text-edits` (I guess some refactoring operations such as renaming may also produce large numbers of TextEdits and hence cause performance issues)? Also, the docstring of `lsp--apply-text-edits` says "This method is used if we do not have `buffer-replace-content'." which doesn't seem to be correct. If you'

[2019-10-25 16:38] muirrn commented on #1136
The deed is done.

[2019-10-25 16:38] #1136 closed

[2019-10-25 18:04] yyoncho commented on #1138
I think it make sense to have the same logic but let's not do it until we are sure that the issue is fixed. The apply changes code is used on a lot of places and I do not want to introduce regression there. About the comment: I am not familiar with that piece of code and ATM I do not have access to desktop pc and I could not check the code I will get back to you later

[2019-10-25 18:21] yyoncho commented on #1138
On the previous question: fixing the issue in the apply formatting function seems to be the simplest and safest option. Feel free to organise your commits the way it is more convenient for you. I have noticed a performance issue when doing find replace so long term we might consider delaying incremental updates too. This has been discussed in the past and we decided not to do it because the server

[2019-10-25 22:03] sebastiansturm commented on #1138
ok, I'll first push a minimal change to my own `lsp-mode` fork without opening a PR since I'll be away until Sunday; will then have a look at how to best set up a regression test

[2019-10-25 22:06] sebastiansturm commented on #1138
do we have some sort of lsp protocol verifier that we can apply to the io-log generated by `lsp-mode`? Otherwise I could try and add one; in the present issue this should clearly show the error (though we'd still need a reliable and preferably cross-platform way to simulate user input)

[2019-10-26 04:24] yyoncho commented on #1138
No, we don't. IMO it will be easier to plug by adding proxies on top of the methods for sending/receiving requests/notifications instead of parsing the logs.

[2019-10-27 19:25] sebastiansturm commented on #1138
I think I got a reproducible test case. If you wish to try it out, please open the following C++ file with a clangd language server (I'm using a trunk build, v10 branch):
[code]
Then execute the following function:
[code]
Unless your clang-formatting options somehow happen to be completely different from mine (I used clangd's defaults for this test), buffer formatting should cause the `some_long_f

[2019-10-27 20:17] yyoncho commented on #1138
I tried it on my local setup with clangd-8 and I didn't saw the error. I will update the clangd version in the lsp-docker image and will try it there. But if you are consistently reproducing the issue IMO this is not that important.

Option 1: start cland suite similar to what we have for pyls. The test could be - execute `break-lsp` (it could be easily converted to equkes steps) and then perform

[2019-10-28 00:52] jsmestad opened #1143 "Emacs hangs/locks up with ElixirLS and opening config.exs file"
**Describe the bug**
When using the latest version of [elixir-lsp/elixir-ls](https://github.com/elixir-lsp/elixir-ls) OR [JakeBecker/elixir-ls](https://github.com/JakeBecker/elixir-ls), if you generate a brand new Phoenix application, then try to edit `config/config.exs` file, Emacs will freeze/lock up. Sometimes on a small project I can get it to load after several seconds and the on others, it w

[2019-10-28 06:11] yyoncho commented on #1116
Closing due to inactivity.

[2019-10-28 09:10] sebastiansturm commented on #1116
this is only tangentially related, but I think it might be useful to have `lsp-mode` check whether it's running within ediff (perhaps some other special modes as well), and not activate itself if that is the case. At least for language servers trying to maintain project-wide databases (such as ccls or clangd), the assistance offered by the language server will often not be helpful when working on

[2019-10-28 09:33] yyoncho commented on #1116
@sebastiansturm we should fix everything that hurts user experience when technically possible. ATM lsp-mode is not activated when a file is not backed by a file path so I am a bit surprised that `lsp-mode` is activated at all and thus I wanted to see the client/server logs.

As a side, IMO sometimes lsp-mode is useful when working with merge conflicts(e. g. you see the compilation errors).

Reopen

[2019-10-28 18:38] #1116 closed

[2019-10-28 19:10] yyoncho commented on #1143
I have updated the lsp-docker project to have elixir-ls and also I have added your project. Then I tested with start-emacs.sh script which uses /emacs.d/init.el minimal configuration and I was unable to reproduce the issue. Here it is the relevant commit: Here are the relevant changes: https://github.com/emacs-lsp/lsp-docker/commit/90e527a28f89f2fb226535dbf3fc0406bf7d65f3#diff-ebacf6f6ae4ee68078bb

[2019-10-28 19:19] yyoncho opened #1144 "Investigate jsonrpc usage in the project"
This library will be part of emacs 27(?) and it is available in the elpa. We should check:

1. How easy is to integrate it in lsp-mode. lsp-mode supports calling multiple servers when using lsp-request related methods so we should plug it without changing the interface.

2. We should test the performance of the library compared to lsp-mode implementation. I think that the jsonrpc library uses buff

[2019-10-28 19:21] jsmestad commented on #1143
@yyoncho I think the version of Elixir is really old (1.3.3 vs 1.9.2). I can give that a try installing the old elixir version locally this evening and see if that gives a different result.

For reference, the elixir-ls repo uses the following versions:
[code]

[2019-10-28 19:26] yyoncho commented on #1143
Ok. Can you try one more thing - you stated that C-g does not unbreaks the emacs, right? Can you try: 1. Press C-g multiple times
2. Kill the elixir-ls process outside of emacs.

Also, does it unfreeze after some time?

[2019-10-28 19:31] jsmestad commented on #1143
I will give that a shot as well. I'll report back soon. Thanks for the help figuring this out :)

[2019-10-28 19:31] yyoncho commented on #1108
I guess there is slight differences in the initialization request which breaks lsp-mode. Can you include the client/server log from both?

[2019-10-28 19:36] yyoncho commented on #1125
Are you sure that you are using the latest version of the omnisharp? There were a lot of issues fixed in omnisharp regarding lsp support.

[2019-10-29 08:34] #564 closed

[2019-10-29 08:35] Mallchad commented on #1125
@yyoncho both tried the one installed from Omnisharp and actual omnisharp-roslyn page but I'll try and see if I can find an unstable branch that works when I get a chance.

[2019-10-29 18:58] yyoncho opened #1145 "Provide a way to organize lsp-mode, dap-mode, lsp-treemacs popup windows"
At this point, we have more than 10+ different windows across the projects and they are displayed using `display-buffer-in-side-window`. This is problematic since at some point the windows become very small and unusable(see screenshot). Traditional emacs user won't suffer that problem but still, I believe that if we provide a mouse-driven flow for managing the windows it will be beneficial even si

[2019-10-30 16:13] yyoncho commented on #1131
fixed with https://github.com/emacs-lsp/lsp-mode/pull/1130

[2019-10-30 16:13] #1131 closed

[2019-10-31 02:50] zjp commented on #1094
`(when (equal (symbol-value 'lsp-prefe-flymake) t)` would do it. I also tried wrapping all of the flymake functions in the same construct, removing 'require from the top and it didn't crash, but I didn't do any further testing.

[2019-10-31 02:54] sebasmonia commented on #1108
[lsp-log.txt](https://github.com/emacs-lsp/lsp-mode/files/3791960/lsp-log.txt)
[eglot-events.txt](https://github.com/emacs-lsp/lsp-mode/files/3791961/eglot-events.txt)

Attached the two logs. Hope you find them useful! The program code is very simple, line 15 char 20 is where completion is triggered.
[code]

[2019-10-31 05:21] #878 closed

[2019-10-31 05:36] yyoncho commented on #1094
@zjp I am a bit concerned with doing conditionally. Imagine that someone has set lsp-prefer-flymake to nil, then he/she has loaded lsp-mode and then he/she has changed the lsp-prefer-flymake to nil. In this case, lsp-mode will crash since flymake is not loaded. It is a bit odd case but have you tested moving the require statement in `lsp--flymake-setup`?

[2019-10-31 05:42] yyoncho opened #1148 "Unify the jobs that run on timer"
We have several things that we do on timer:

1. Highlight
2. Links
3. Lenses
4. Lsp-ui sideline stuff.
5. lsp-treemacs symbols view
6. ?

It will be better if the unify all these events to happen in one service event. This will give us more flexibility and it will allow us to turn off all the background updates in certain cases. For example, we do not want to update the sideline if company is visi

[2019-10-31 14:21] Gastove opened #1150 "Add `terraform-lsp` and a small example project to `lsp-mode` docker image"
#1147 added support for Terraform development using `terraform-lsp`. The binary needs to be added to the project Docker image, along with a sample project.

[2019-10-31 16:22] yyoncho commented on #506
Few random thoughts based on what we currently have, follow up from https://github.com/emacs-lsp/lsp-mode/pull/1147

1. IMO we should extend the client definition with `:download-function` + `:download-in-progress` which accepts the current client to mark the download in progress.
2. We should change the startup process to detect that the server is missing and ask the user whether to download the

[2019-11-01 04:31] yyoncho commented on #1027
I tried to create cache for file-truename but yelds ony 30% speedup which IMO is insufficient to solve the problem.

[code]

[2019-11-01 17:15] jsmestad commented on #1143
Ok this is not caused by emacs-lsp as I disabled it and am still having the issue. :tada: I will report back if I figure out the cause, but maybe its 27.0.50 from git that is failing me 😞

[2019-11-01 17:15] #1143 closed

[2019-11-01 19:50] aureumleonis commented on #1027
I've been using a simple hash based cache for a while and it works well enough for me. Since my workspaces live on symlinked locations it's either this or having no flycheck at all

[2019-11-01 22:26] jmhodges opened #1153 "lsp-go: changing imports style is difficult"
**To Reproduce**

Type an import line like `import "testing"`. Go to add another import by typing `(` and then RET before the quotation mark in `"testing"`. Notice that the `(` gets added to the `"testing"` link and the RET opens up the browser window for the docs of the `testing` package.

**Expected behavior**

The RET adding a newline after the `(` and before the `"testing"`.

**Which Language

[2019-11-01 22:34] psanford commented on #1153
Yeah I see this behavior too. That's pretty annoying.

[2019-11-02 17:56] seagle0128 opened #1154 "incorrect format in docs"
As the screenshot below, `last_type` is displayed as `last\_type`.

![image](https://user-images.githubusercontent.com/140797/68074993-ff567780-fddc-11e9-8b5d-2a3763deb575.png)

[2019-11-02 18:46] seagle0128 commented on #1153
The issue was confirmed. The import strings are treated as document links (buttons in Emacs), and `mouse-2` and `RET` actions will browse the links. IMO `RET` should be replaced by `M-RET` or `s-RET`. @yyoncho Your opinion?

BTW, my workaround is not using `RET` after `(`, `goimports` will format automatically  while saving the buffer.

[2019-11-02 19:04] yyoncho commented on #1153
Make sense.

[2019-11-02 19:41] seagle0128 commented on #1153
@yyoncho the PR is committed. Please review. Thanks!

[2019-11-02 19:43] #1153 closed

[2019-11-03 13:35] artempyanykh opened #1156 "Add an option to disable imenu integration"
First of all, thanks for all the hard work you put into making first class LSP support in Emacs! I tried to use lsp-mode with rust in emacs and was pleasantly surprised!

There's one thing that bothers me though -- I'm a heavy user of imenu and in certain situations lsp either completely messes up the contents or provides an overly excessive list of items compared to what vanilla `rust-mode` does

[2019-11-03 14:06] #1156 closed

[2019-11-03 17:59] artempyanykh commented on #1156
Awesome! Thanks @yyoncho

[2019-11-03 18:45] seagle0128 opened #1157 "package lint issues"
Today I ran `package-lint-current-buffer` and got these issues. Not sure if they are all real issues, but I'd like list all here.

CC @yyoncho

[code]

[2019-11-04 05:57] yyoncho commented on #1157
They are either false negative(e. g. `You should depend on..`) or stylistic warnings. We may fix easily the second. I am not sure how to fix the 26.1 issue though, I tried wrapping them with `(unless (version< emacs-version "26")` but still it doesn't work.

[2019-11-04 13:55] seagle0128 commented on #1157
Agree. But some errors and warnings indicate the potential issues. I will try to make a PR to review.

[2019-11-04 21:10] Alexander-Miller commented on #1145
IMO this is out of scope for a purely treemacs based solution. My philosophy is that treemacs provides the means to display your trees. What extensions do with these buffers, whether they use side windows or child frames or whatever is not for treemacs do decide.

But anyway, here's what I would do:

Instead of indiscriminately splitting the side window I'd introduce a grouping mechanism that deci

[2019-11-04 21:46] Gastove opened #1159 "`ocaml-language-server` appears to no longer be available"
The README lists `ocaml-language-server` as an available backend for OCaml. However, it appears to no longer be available on Github. This is the only link I can find for the thing, and it's dead:

https://github.com/freebroccolo/ocaml-language-server

It appears some part of it is available on whatever "npm.taobao.com" is https://npm.taobao.org/package/ocaml-language-server -- but that site doesn'

[2019-11-05 01:02] MaskRay opened #1160 "Support stopped servers"
https://github.com/MaskRay/ccls/wiki/Debugging If you set the environment variable `CCLS_TRACEME=s` (`raise(SIGSTOP)`), ccls will stop itself before handling client requests.

If you do this, however, after `M-x lsp`, you will immediately receive a prompt `Server ccls:16154 status:starting exited with status signal. Do you want to restart it? (y or n) `. This makes lsp-mode unsuitable for debuggin

[2019-11-05 05:21] yyoncho commented on #1160
Isn't `(setq lsp-restart 'ignore)` what you are looking for?

[2019-11-05 05:59] yyoncho commented on #1159
Here it is the original integration https://github.com/emacs-lsp-legacy/lsp-ocaml it links to https://github.com/freebroccolo/ocaml-language-server . If it doesn't exist and it is not supported then it makes sense to be deleted from the readme

[2019-11-05 06:13] MaskRay commented on #1160
but I want to auto-restarting functionality. I just don't want it to consider a stopped process exited/signaled.

[2019-11-05 06:35] yyoncho commented on #1160
I see - seems like an issue in `lsp--create-sentinel` - we probably misinterpret sentinel event.

[2019-11-05 20:03] yyoncho commented on #1160
I added tracing of the signal and the signal received when traceme variable is set are `'stop` and `'signal` so I believe the proper fix is https://github.com/yyoncho/lsp-mode/commit/785497ce2d59e9721f7ae4831682ca934c190f1f

[2019-11-06 16:44] #1160 closed

[2019-11-07 16:59] ssbb opened #1162 "Invalid save notification support checks."
**Describe the bug**
`didSave`/`willSave` (functions like `lsp--send-did-save-p`) server capabilities checks not follow current specification.

`textDocumentSync` allows `TextDocumentSyncOptions` (used in this checks right now) or number from 0 to 2 (`TextDocumentSyncKind`). For example elm-language-server sending `1` here which means Full sync so functions like `lsp--send-did-save-p` should retur

[2019-11-07 19:26] ptdel commented on #1125
I'm also getting this issue:
[code]
Error running timer: (wrong-type-argument hash-table-p nil) [4 times]
[code]

[2019-11-08 18:13] Mallchad commented on #1125
I couldn't find a newer version of omnisharp-roslyn. but I tried older versions, namley a 6 month old one, linux vs windows, even gave it a go on msys. I tried an older lsp-mode.el . Couldn't get any of them working. I might have messed up trying an older version of omnisharp-roslyn, but I can only assume that there is something wrong with lsp-mode in my particular configuration.

[2019-11-08 22:12] rnikoopour commented on #591
Sorry to zombie this issue, but I'm experiencing the same problem.  If something isn't imported I see the `Add import: <package name>` prompt on the right hand side but if I run `lsp-format-buffer` it doesn't import the missing package.

I tried adding `(setq lsp-client-go-server-args '("--format-style=\"goimports\"")` to my `.emacs` but nothing changed.

[2019-11-08 22:16] muirdm commented on #591
What language server are you using? gopls recently changed format buffer to no longer add imports. You need to also do lsp-organize-imports.

[2019-11-08 22:30] rnikoopour commented on #591
Oh cool!  Ty for the super quick response.  That set me down the right direction.  I just added the following to my `~/.emacs`

[code]

And now it imports and formats the buffer.

[2019-11-08 22:58] rnikoopour commented on #591
Hmmm unforunately, this approach doesn't work 100% of the time.  I have to manually run the commands.  I wonder if its because I'm using `lsp-deferred`

[2019-11-09 00:40] muirdm commented on #591
Try changing the order of the two hooks.

[2019-11-09 19:30] yyoncho commented on #1162
Ah, I haven't pressed a "Comment" button.

You are right, willing to provide a PR?

[2019-11-09 19:34] ssbb commented on #1162
Yeah, will do soon 👍

[2019-11-10 09:11] brotzeit opened #1165 "rust-analyzer inlay hints stopped working with 75969ab"
I wanted to add an option for the length of the hints and noticed it.

[2019-11-10 09:28] yyoncho commented on #1165
Are you going to look at the issue? IMO you may try first to delete the lsp-session file (start with clean session) to see whether this fixes the issue. If this does not fix the issue it is probably a regression in `lsp-find-workspace`/`lsp-find-session-folder`.

[2019-11-10 12:19] brotzeit commented on #1165
I will take a look at it.

[2019-11-10 15:06] #1162 closed

[2019-11-10 17:07] rsrock opened #1168 "Error with VHDL tool"
Before logging the bug, please make sure that:

1. You are using the latest version of `lsp-mode` related packages.
2. You may also try reproduce the issue using clean environment using the following command:
3. Check FAQ and Troubleshooting section (https://github.com/emacs-lsp/lsp-mode#faq and https://github.com/emacs-lsp/lsp-mode#troubleshooting)
[code]
where `lsp-start-plain.el` could be downl

[2019-11-10 17:23] yyoncho commented on #1168
I have reverted https://github.com/emacs-lsp/lsp-mode/pull/1169

I will keep the issue open until melpa kicks in.

[2019-11-10 19:43] ZacJoffe commented on #1168
Getting the same issue with Rust/C++ lsp's.

[2019-11-10 20:05] yyoncho commented on #1168
A workaround until melpa fetches the last version:

M-x find-library RET lsp-vhdl RET and then delete the whole content of the file except last two lines:

[code]

[2019-11-10 21:12] kkhan01 commented on #1168
As a side note (since melpa still hasn't updated), you should also re byte compile the `lsp-vhdl.el` file. This could be done after you've removed the contents and are still in the file with `M-x byte-compile-file`

[2019-11-11 02:16] rsrock commented on #1168
Looks like MELPA has it now.  Thanks.

[2019-11-11 02:16] #1168 closed

[2019-11-11 16:04] rnikoopour commented on #591
I'll try that out today and let you report back how it goes.

[2019-11-11 19:42] yyoncho opened #1172 "Create refcard"
We could use cider's as a guide:

https://github.com/clojure-emacs/cider/blob/master/refcard/cider-refcard.pdf

[2019-11-12 03:38] leafpile commented on #977
I'm also getting this issue when using `lsp-mode` with Julia.

[2019-11-12 06:51] zwpaper commented on #591
[code]

works for me, but every time I save a file, it takes seconds.
looks like the cost is on `counsel-M-x`

Is this the expected time for `lsp-organize-imports`, or there  is something wrong with my config?

BTW, I have tried `emacs -q`, it also takes seconds

[2019-11-12 15:41] muirdm commented on #591
It should be instantaneous (usually). I would make sure you are running the newest release of gopls and that you chose your project root correctly in Emacs.

[2019-11-12 16:06] brotzeit commented on #1165
I don't know the appropriate fix but it works with:

[code]

[2019-11-12 17:44] yyoncho commented on #1165
We need that line to ensure that the folders are named in a consistent manner. I will take a look, can you help me with providing a file which should display hints?

[2019-11-12 17:46] brotzeit commented on #1165
Most let bindings with type inference will display an inlay hint, but you can use a file of rustfmt: rustfmt/src/format-diff/main.rs

[2019-11-12 17:52] brotzeit commented on #1165
And you should now that it takes some time that the inlay hints get activated. It seems to happen when the workspace is initialized and you moved the cursor or made a change in the buffer(this should probably be fixed).

[2019-11-12 18:33] yyoncho commented on #1165
I am getting zero hints:

[code]

[2019-11-12 18:38] yyoncho commented on #1165
As a side note, I noticed that rust-analyzer supports code lenses and they are not configured on our side.

![Screenshot](https://user-images.githubusercontent.com/13259670/68699667-3f132100-058c-11ea-8df6-00a2f55e5d7b.png)

[2019-11-12 19:55] muirdm opened #1174 "Consider sending didChangeConfiguration when settings change."
Some servers support dynamically updating server config settings. It would be cool if we automatically sent "workspace/didChangeConfiguration" notifications when a user updates a custom setting variable or calls `lsp-register-custom-settings` directly. Currently AFAIK the user must restart the server after changing settings.

[2019-11-12 20:08] yyoncho commented on #1174
It will be a nice improvement, we could do it by:

1. Adding association server->section(s) in lsp--client. AFAIK vscode clients declare which sections to synchronize.
2. Emacs 26 has `:get` and `:set` (see https://www.gnu.org/software/emacs/manual/html_node/elisp/Variable-Definitions.html) which could be used to update find the servers and update them.

[2019-11-13 05:51] zwpaper commented on #591
weird 🤨

I have tried the 2 versioned gopls, no luck... I will dig into it when free, thanks for letting me know it should be instantaneous...

[code]
and
[code]

[2019-11-13 06:33] seagle0128 commented on #591
If you are using `lsp-mode` and `goimports`, you could try this snippet.

[code]

That would tell which one cause the issue, `lsp-organize-imports` or `goimports` itself.

[2019-11-13 07:22] zwpaper commented on #591
@seagle0128 I changed the hook from `goimports` to `lsp` yesterday founding this issue commented.

both of it takes seconds, that's why I was considering the cost may be `counsel-M-x`

[2019-11-13 07:42] seagle0128 commented on #591
@zwpaper I don't think `counsel-M-x` is relevant. Perhaps the go project is huge? You should try `goimport` command directly. I guess it also will take a few seconds.

[2019-11-13 18:17] muirdm opened #1177 "lsp-organize-imports errors out if action not available"
Servers such as gopls and java only offer the "organizeImports" action if there are changes to be made. This means `lsp-organize-imports` errors out when there is nothing to organize, which makes it not work very well as a before-save-hook.

I propose we change lsp-organize-imports to hide the "No actions to select from" error, or at least hide it if invoked non-interactively.

[2019-11-13 18:24] muirdm opened #1178 "Prefer current workspace when jumping to library code"
Currently when jumping into library code not under an active workspace we seem to randomly choose a workspace to open the file in. This causes things to break for gopls since gopls will not work properly for the library package unless it is a dependency of the current workspace.

I propose we change the library workspace selection to prefer the current buffer's workspace if it can't otherwise find

[2019-11-13 18:44] yyoncho commented on #1177
Yes, this error does not make sense even for the interactive version - it could be changed to informative message.

One more thing: it will be good if we can make it async. For example, when JDT ls server is importing a project all server calls will block and if someone has it configured on before-save-hook will be stuck.

What I am proposing is to intercept the save action and artificially make i

[2019-11-13 18:56] muirdm commented on #1177
I like the idea of not waiting for slow hooks, but I don't like the idea of asynchronous saving. As a user I expect synchronous saving. Also, what happens if the user types more stuff before the asynchronous call finishes? You can't necessarily apply the organizeImport edits anymore since the file has changed, and it isn't clear if we should save the old or new version of the file.

[2019-11-13 18:56] brotzeit commented on #1165
Did you revert the commit ? It seems you don't get any response with it.

I have issues with setting configurations. I don't get any responses of cargo watch for example #1179

[2019-11-13 18:59] yyoncho commented on #1177
What about making the buffer read-only until that happens? IMO the alternative "freezing" is just not fine.

[2019-11-13 19:05] yyoncho commented on #1178
unfortunately, it is not that easy since there is no "current buffer workspace"(e. g. by default the xrefs are displayed in a buffer). What we can try is to keep somewhere the last used workspace and use it if it s `library-folders-fn` matches.

WDYT?

[2019-11-13 19:12] muirdm commented on #1177
That sounds like a reasonable compromise, but I still think there is potential risk because users are used to the file actually being saved once the save action finishes.

What about something like this:
1. Add a 100ms timeout waiting for before-save actions
1. If they time out, save the file anyway and activate async action mode
1. If user edits file, restart the async actions after inactivity ti

[2019-11-13 19:29] yyoncho commented on #1177
What you are saying makes sense and if we go in this direction we should make the async behaviour very explicit (e. g. we may fade out the buffer as `avy` does). We may introduce our command `lsp-buffer-actions-and-save`(or similar name) and users could remap the save-buffer command if they want.

Still, if I do `Save all` and I have 30 buffers open it will be 3 seconds.

I do not like the non-det

[2019-11-13 19:44] yyoncho commented on #1165
I was able to get some hints. I will continue with the investigations.

AFAIK is the cargo watch server side feature of rust analyzer? I read somewhere in reddit that is is implemented on the client side until rust-analyzer gets the real diagnostics.

[2019-11-13 19:45] muirdm commented on #1178
Remembering the last workspace would fix it in most cases but not all (e.g. you click a link in an old xref buffer after switching workspaces). If there is no way to "remember" the workspace through xref interactions then I think what you propose is the next best thing.

[2019-11-13 20:06] brotzeit commented on #1165
I see, that's the purpose of the additional option. However I also can't set the maximum length of inlay hints with `rust-analyzer.maxInlayHintLength`.

[2019-11-13 20:08] yyoncho commented on #1165
What do you mean by can't set?

[2019-11-13 20:29] brotzeit commented on #1165
It doesn't show any effect.

[2019-11-13 20:33] yyoncho commented on #1165
It is client-side setting: https://github.com/rust-analyzer/rust-analyzer/search?q=maxInlayHintLength&unscoped_q=maxInlayHintLength

[2019-11-13 20:39] yyoncho commented on #1165
I spent some time investigating the issue and it is caused by entry in the .lsp-session-file which ends with `/` which was added before 75969aba4504e22f0bc2c67242a062db64022a61 .

Proposed solutions:

1. Add suffix `v2` to the lsp-session-file which will force the users to read there workspace folders.
2. Add code to load session function to fix the folder names.
3. Disregard the issue and documen

[2019-11-14 02:29] zwpaper commented on #591
You are right, `goimports` takes seconds checking the file, I will deep dive into `goimports`, thanks

[2019-11-14 06:46] bittopaz opened #1181 "lsp-go: Failure = cannot find an enclosing function"
I'm seeing a lot of messages in *lsp-log buffer when using `lsp-mode` with `gopls`, both of `lsp-mode` and `gopls` are at latest versions.

[code]

I just wonder if there is anyone else also in this situation.

[2019-11-14 10:44] seagle0128 commented on #591
@zwpaper The root cause should be in `goimports`. But you may be interested in this #1177 . If the saving actions are async, all issues are addressed.

[2019-11-14 16:48] muirdm commented on #1177
Can we split the async stuff into a separate issue?

[2019-11-14 17:07] yyoncho commented on #1177
Sure.

[2019-11-15 14:03] yyoncho commented on #1181
This is happening because gopls returns an error instead of an empty result when lsp-mode is checking for document signature on a place where there is no function invocation. You may ignore these entries.

[2019-11-15 14:03] #1181 closed

[2019-11-15 14:46] seh commented on #1181
Does that warrant an issue filed against _gopls_, then?

[2019-11-15 14:52] yyoncho commented on #1181
Yes, I think that this was already reported in gopls repo. @muirdm, can you confirm?

[2019-11-17 08:53] #1177 closed

[2019-11-17 08:53] yyoncho commented on #1177
Closing (it was reopened by mistake).

[2019-11-19 10:47] brotzeit opened #1187 "Readme and wiki pages"
We already discussed this in our gitter channel, but I think it would be good to have an issue for this topic. How should we structure our documentation ?

[2019-11-19 16:55] yyoncho commented on #1187
I will list the things that we probably do not want to change:

1. The external packages (e. g. lsp-java/lsp-python-ms, etc) are documented in their own readme.
2. lsp-mode's readme contains general information about lsp-mode.

The open question are:

1. Where do we document the properties of language servers integrations that are part of lsp-mode package?
2. Where do we put the guides on how to s

[2019-11-19 20:12] MokkeMeguru opened #1188 "py-lsp's session directory is parent path"
**Describe the bug**
When I use lsp-mode in workspace, I got this workspace is the workspace's parent folder.
So I cannot import some files which in a same folder.

**To Reproduce**
in emacs's shell (not eshell)
[code]
-> `pyvenv-activate`  to workspace/venv
-> open test1.py
-> M-x lsp-mode
-> M-x lsp-describe-session

[code]

**Expected behavior**

[code]

**Which Language Server did you use**
ls

[2019-11-19 20:30] MokkeMeguru commented on #1188
Sorry, I can do it when I add the workspace using M-x lsp-workspace-folders-add.

[2019-11-19 20:30] #1188 closed

[2019-11-19 22:50] danielmartin commented on #1187
I would organize the README with a focus on programming languages. The TOC should show a list of supported languages to go to information about how to setup that particular language in `lsp-mode`. That's what most first users would like to do when they find this project; now that information is a little bit buried in a table (the README is already very long). Ideally a `use-package` code snippet t

[2019-11-20 06:43] #1148 closed

[2019-11-20 07:59] brotzeit commented on #1187
I think I would prefer this solution. However we still need the possibility to add docs manually.

[2019-11-20 16:39] sebastiansturm opened #1193 "Make nonlocal on-idle-hooks local?"
Both `lsp--document-highlight` and `lsp--document-links` are currently registered as nonlocal on-idle hooks, so starting up a language server supporting one of these methods will trigger errors in previously started workspaces that don't. I'd just add `... nil t` to the relevant `add-hook` calls, unless someone sees a problem with that?

[2019-11-20 16:43] yyoncho commented on #1193
Yes - this is the correct solution.

[2019-11-20 17:25] #1193 closed

[2019-11-21 12:11] alanz opened #1195 "Highlighting is no longer shown"
There was a melpa update which I installed today, to `lsp-mode-20191120.1942`.

Document highlighting no longer works with it.

Bisecting shows the bad commit to be ff30589219666ad10953ac08cd3e0847c05ec0d9

[code]

[2019-11-21 13:10] yyoncho commented on #1195
I assume using hie?

[2019-11-21 15:04] alanz commented on #1195
Actually using an under development branch of https://github.com/alanz/erlang_ls/tree/232-implement-documenthighlight.

But it goes from showing highlights to not showing them on that commit.  Does it still work with other language servers? I do not have any set up, on a new work machine.  And it's a Mac, foreign to me.

[2019-11-21 15:10] alanz commented on #1195
Here is an extract from the lsp-mode log, that works with the older version.

[code]

[2019-11-21 15:19] alanz commented on #1172
Perhaps include an evil mode one too.

[2019-11-21 16:28] yyoncho commented on #1195
I have tested with 10+ servers and it works fi.

 If you can provide the initialize response? I will try to reproduce it locally with erlang_ls.

[2019-11-21 16:37] alanz commented on #1195
Here is a gist.  It is a new feature I am still adding, so it is very likely I am doing something wrong. It was just disconcerting to have it disappear, probably because my implementation is wrong, and the previous version was more forgiving.

https://gist.github.com/alanz/d86b19f27920e184690289de80915da9

[2019-11-21 16:51] yyoncho commented on #1195
The new version discards the highlights response does not contain the current cursor position. Is it possible that you hit that issue? Also, is this log from working or from non-working lsp-mode?

[2019-11-21 17:41] alanz commented on #1195
It is from the last good commit, https://github.com/emacs-lsp/lsp-mode/commit/ff30589219666ad10953ac08cd3e0847c05ec0d9.

I will compare to hie on my home machine now, and experiment a bit.

[2019-11-21 19:53] alanz commented on #1195
I am closing this, have to debug my implementation. Sorry to bug you.

[2019-11-22 01:48] itome opened #1196 "lsp-dart enhancement"
I plan to enhance lsp-dart by implementing same feature as [vim-lsc-dart](https://github.com/natebosch/vim-lsc-dart)(which is officially recommended by dart team).

And I have some question how to implement features.
- How to implement `SkipYamlRequests` feature in vim-lsc-dart?
https://github.com/natebosch/vim-lsc-dart/blob/e5477cb0de5f96e36c472a189da510afe32b6e53/ftplugin/dart.vim#L63

- How to

[2019-11-22 05:31] itome commented on #1196
How about stopping support for `dart_language_server`? It is already obsolete and guiding to use `dart_analysis_server` --lsp mode instead in its document.

https://github.com/natebosch/dart_language_server

[2019-11-22 07:40] yyoncho commented on #1196
ATM we do not have facilities to make that happen easily. IIUC the code supresses certain server features in YAML files. I will check the code how easy would be to make that possible on our side.

You could specify `:initialization-options` when create the lsp--client. It could be also a function returning the intialization options.

Usually, this is implemented by the server by specifying $0 in t

[2019-11-22 08:21] itome commented on #1196
I made PR for initialization options
https://github.com/emacs-lsp/lsp-mode/pull/1197

[2019-11-24 20:29] kostafey opened #1199 "LSP :: Unsupported request method: textDocument/willSaveWaitUntil"
**Describe the bug**
Save Scala file in Emacs leads to the message:
`LSP :: Unsupported request method: textDocument/willSaveWaitUntil`

Version: `lsp-mode-20191123.1747`

**To Reproduce**
1. Create & configure & build Scala project
2. Open any Scala file in Emacs, make some changes
3. Save it (e.g. via M-x save-buffer)
4. See the error in `*Messages*` buffer
`LSP :: Unsupported request method: te

[2019-11-25 04:03] itome commented on #907
@dennismayr
I made PR that make it possible to pass initialization options to dart_analysis_server. Set `suggestFromUnimportedLibraries` to `nil` may improve performance in exchange of unimported library completion disabled.

https://github.com/emacs-lsp/lsp-mode/pull/1197

[2019-11-25 05:52] #1199 closed

[2019-11-25 06:30] itome commented on #1196
@yyoncho

- About `SkipYamlRequests`
I read natebosch/vim-lsc-dart:ftplugin/dart.vim@e5477cb#L63 again and I noticed that we don't have to support this feature in `lsp-mode`, because `lsp-mode` only support `.dart` file.

- About completion snippets.
I opened issue in dart-sdk -> https://github.com/dart-lang/sdk/issues/39500. I continue to discuss in this thread.

[2019-11-25 06:45] yyoncho commented on #1196
I read natebosch/vim-lsc-dart:ftplugin/dart.vim@e5477cb#L63 again and I noticed that we don't have to support this feature in lsp-mode, because lsp-mode only support .dart file.

We could easily add support for yaml files by altering the definition of dart client(you could list several modes in the :modes). Can you check what is the behaviour when you are in yaml you perform completion? I would sp

[2019-11-25 10:44] yyoncho opened #1201 "[Feature] Support mssql language server"
It has a lot of cools stuff: see https://github.com/Microsoft/vscode-mssql

[2019-11-25 13:34] alanz commented on #1195
Coming back to this, I think the problem is with the identified commit.

As I read it, https://github.com/emacs-lsp/lsp-mode/commit/ff30589219666ad10953ac08cd3e0847c05ec0d9#diff-b1e9bc82c3b6bd6e95470e18ee41a19bR4157 is set to *require* the `kind` parameter,  which is optional according to the [spec](https://microsoft.github.io/language-server-protocol/specifications/specification-3-14/#textDocumen

[2019-11-25 17:25] #1195 closed

[2019-11-26 01:09] tam5 commented on #721
What was the result of this?

I am facing similar issues where it looks like ServerTime is very high, and it causes emacs to freeze. I can confirm that i am using `company-lsp`.

@yyoncho any suggestions on how to debug why ServerTime is so high?

[code]

[2019-11-26 02:01] itome commented on #1196
Completion snippets from dart analysis server is now works fine in nightly build.

I enabled lsp-dart in my project's yaml file, But it doesn't show nothing.

[2019-11-26 05:20] yyoncho commented on #721
@tam5 these calls are async and they cannot cause the freeze. Do M-x toggle-debug-on-quit and then do C-g when emacs freezes and it will show you when it has stopped. Also, you may do M-x profiler-start/profiler-report to see where the time goes.

[2019-11-26 05:23] yyoncho commented on #1196
@itome I suggest asking about that in dart repo - I think that dart ls might not have any functionality in yaml file but it might be interested only in the content of the file.

[2019-11-26 19:09] tam5 commented on #721
For the most part i get this:

[code]

which doesn't really tell me much. Profiler does not seem to be very clear as to what the issue is but ill keep digging there. Thanks for your help.

[2019-11-26 19:15] yyoncho commented on #721
@tam5 consider testing using the lsp-mode's minimal configuration https://github.com/emacs-lsp/lsp-docker/blob/master/emacs.d/init.el (or even with lsp-docker).

[2019-11-27 12:17] jimmywongroo commented on #1101
FYI, #641 is still a problem despite this PR

[2019-11-27 20:31] #1021 closed

[2019-11-27 20:44] #147 closed

[2019-11-28 12:40] r-darwish opened #1205 "Command execution is broken in Powershell"
**Describe the bug**
The Powershell language server works. It even suggests code actions. However, trying to execute a code action causes `No workspace could handle workspace/executeCommand`. It does not happen in other language servers

**To Reproduce**
1. Open emacs with `lsp-start-plain.el`
2. Install the powershell package
3. Open a Powershell file, start up LSP and write `cd somewhere`
4. LSP

[2019-11-28 12:42] yyoncho commented on #1205
Usually, code actions require some client-side adjustments, @kiennq willing to take a look?

[2019-11-28 12:51] kiennq commented on #1205
I will take a look at this. Never realize that powershell lang server support code action :|

[2019-11-29 14:06] yyoncho commented on #1196
Is there anything more to do regarding this issue report?

[2019-11-29 14:07] yyoncho commented on #1125
@Mallchad can you try with the latest lsp-mode? It will automatically download and configure omnisharp. In case, it still does not work can you attach a sample project?

[2019-11-29 14:13] yyoncho commented on #1145
Isn't that supported by `display-buffer` framework? You may configure the number of windows for side via `window-sides-slots` and then use `display-buffer-alist` to set where each buffer goes?

[2019-11-30 05:36] itome commented on #1196
Sorry replying late. I'll ask about yaml file for dart analysis server. I close.

[2019-11-30 05:36] #1196 closed

[2019-11-30 22:00] razzmatazz commented on #1125
The same thing happens to me. However if I refresh the file with C-x C-v AFTER the server has completely loaded, the issue goes away.

The actual issue *appears for me* to be that omnisharp-roslyn sends the response to `initialize` too early:
 - https://microsoft.github.io/language-server-protocol/specifications/specification-3-14/#initialize

I.e. it sends the response *before* it has finished lo

[2019-11-30 23:41] yyoncho commented on #1125
Thank  you @razzmatazz . Do you think we can create a workaround by waiting for "Successfully loaded project file" message or we should close the issue and wait for the upstream?

[2019-11-30 23:43] razzmatazz commented on #1125
IMHO fixing this upstream is a better approach, – I will try to register an issue and/or maybe a PR to omnisharp-roslyn once I understand what is actually wrong here..

[2019-11-30 23:50] yyoncho commented on #1125
Ok. Then once you have a more details I suggest closing this issue and #1108 and adding a faq entry pointing to the upstream issue(and eventually mentioning that the user should wait for the loaded project message).

[2019-12-01 05:20] kiennq commented on #1205
@r-darwish, do you have other custiomization for `lsp-pwsh`?
I'm on Windows and it seems that the code action is not support there without other customizations

[2019-12-01 06:39] r-darwish commented on #1205
This is weird. The code action seemed to work on macOS without any customization, but I cannot see it in Windows as well. Also, I had to fix the installation in Windows in emacs-lsp/lsp-mode#1206

[2019-12-01 07:46] r-darwish commented on #1205
![image](https://user-images.githubusercontent.com/1383193/69911124-3ab98580-141f-11ea-86d5-b7e9174dc7a9.png)

Here is a screenshot of the suggested code action in macOS. I had to do `lsp-workspace-restart` for it to show. In addition, I get the following warning whenever I turn on LSP for powershell:

[code]

I don't know if it's related, though.

[2019-12-01 08:30] kiennq commented on #1205
Okay, I confirmed that in Windows, code action is not working, even for VsCode,
![image](https://user-images.githubusercontent.com/2631472/69911539-33669c00-1460-11ea-983b-5b1e520d53e7.png)
Let see if I have any luck trying it in WSL

[2019-12-01 09:35] kiennq commented on #1205
My mistake, code action should work in Windows too. The problem is because the file path in Windows is case insensitive and it affect the diagnostic look up in `(lsp-diagnostics)`

[2019-12-01 10:07] yyoncho commented on #1205
In case someone is interested I added PowerShell to lsp-docker - https://github.com/emacs-lsp/lsp-docker/commit/e0949889955fbd96001d28b9507e04e5c6e065d7 . @kiennq I noticed that lsp-mode crashes with an obscure error when PowerShell is not installed on the machine, we may want to fix that as well.

[2019-12-01 11:43] kdeberk opened #1207 "Wrong type argument: listp"
**Describe the bug**
When I start lsp-mode with a buffer in go-mode and with the gopls lsp, I get the following error:
[code]
Having enabled debug mode, I get the following backtrace:
[code]
and looking at the minor mode definition of `lsp-managed-mode`, it seems that I can avoid this error by replacing the `-when-let` value of `signature-help-handler` will `nil`.

This is what gopls sends as `tri

[2019-12-01 11:59] yyoncho commented on #1207
Hm, can you make sure that you are using the latest version of dash?

What does this evaluate to on your system?

[code]

[2019-12-01 12:17] yyoncho commented on #1207
Also, if dash is the latest version, can you make sure that lsp-mode is compiled against the it. The easiest way to do that is to delete the elc files in the elpa dir.

[2019-12-01 12:44] kdeberk commented on #1207
Thanks for the quick response.

I though I was using the latest version of dash, but it turned out that `dash-functional` was up to date, and `dash` itself was from February. I will close this issue.

[2019-12-01 12:44] #1207 closed

[2019-12-01 15:40] phenix3443 opened #1209 "when add to program language mode hoook, lsp-deferred conflicted with set company-backends function"
**Describe the bug**
i have some code to  config lsp-mode,company-lsp,company-lua to work together,  like follow:

(use-package lsp-mode
  :ensure t
  :commands (lsp lsp-deferred)
  :config

(use-package company-lua
  :ensure t
  :after (company)
  :config
  )

(defun set-company-backends-for-lua()
  "Set lua company backend."
  (setq-local company-backends '(
                                 (

[2019-12-01 15:50] yyoncho commented on #1209
@phenix3443

What you have described is the desired behaviour.

(add-to-list 'company-backends 'company-lsp)

This is what autoconfiguration do - it provides default configuration - deleting this line will break thousand of configs so this is no go. If the auto-configure logic does not work for you - you could disable it via setting `lsp-auto-configure` to `nil`.

[2019-12-01 17:13] #1205 closed

[2019-12-02 06:02] yyoncho commented on #1159
Fixed with https://github.com/emacs-lsp/lsp-mode/commit/47923d4d03656b8f70587c7a708eefe5f5654a71 by @contrun .

[2019-12-02 06:02] #1159 closed

[2019-12-02 06:20] yyoncho commented on #1201
Development of the plugin will happen in https://github.com/emacs-lsp/lsp-mssql

[2019-12-02 06:20] #1201 closed

[2019-12-02 07:57] r-darwish opened #1212 "Powershell formatting is not supported"
**Describe the bug**
`lsp-format-buffer` does not work in Powershell even though the server supports formatting

**To Reproduce**
Run `lsp-format-buffer` in a Powershell buffer

**Expected behavior**
Formatting should work like in Visual Studio Code

**Which Language Server did you use**
Powershell

**OS**
macOS

**Error callstack**
[code]

[2019-12-02 07:59] yyoncho commented on #1212
@kiennq willing to take a look?

[2019-12-02 08:22] jiacai2050 opened #1214 "lsp-rust auto-import missing module"
I use lsp-mode for rust development, everything work fine, but it seems that it can't auto-import missing module, is there any configurations to do this?
Since vscode can do this, I think emacs can do it too.
rust-lang/rls-vscode#221

![image](https://user-images.githubusercontent.com/3848910/69942816-cb778a80-151f-11ea-89a1-da23d68172b0.png)

`M-x lsp-execute-code-action` returns `No actions to s

[2019-12-02 11:31] kiennq commented on #1214
It seems that you are victim of rust-lang/rust#55338

[2019-12-02 13:12] kiennq commented on #1212
Powershell language server [PSES](https://github.com/PowerShell/PowerShellEditorServices) is really tricky, it declares that it doesn't support document formatting in capabilities.
However, client can still manually request for it.
https://github.com/PowerShell/PowerShellEditorServices/pull/516

[2019-12-02 13:15] yyoncho commented on #1212
we might implement patch like adf5ac5cda6dd76bef6a4722321a553f50239c27 (this commit removes the patch).

[2019-12-02 13:46] jiacai2050 commented on #1214
![image](https://user-images.githubusercontent.com/3848910/69964191-e3193800-154c-11ea-94ef-f4648d2e090f.png)

@kiennq Thanks, I try `let b: BTreeMap;` and then lsp-execute-code-action, it indeed popup selection window, but when I choose one, following error happens:

[code]
Any ideas?

[2019-12-02 14:08] yyoncho commented on #1214
@jiacai2050 can you include the callstack after `M-x toggle-debug-on-error`?

[2019-12-02 14:46] jiacai2050 commented on #1214
[code]

[2019-12-02 14:50] yyoncho commented on #1214
You have somehow bypassed the action selection can you also share what keys do you press after you do see the select action dialog? I am able to reproduce your issue if I press C-RET instead of pressing RET (assuming you are using helm).

[2019-12-02 14:59] jiacai2050 commented on #1214
![image](https://user-images.githubusercontent.com/3848910/69969285-1bbe0f00-1557-11ea-9fee-e2cbeab524cf.png)
This is what I got after `M-x lsp-execute-code-action`, and press `Enter` on line 2

BTY, I am using helm.

[2019-12-02 15:03] yyoncho commented on #1214
Looks like helm has an issue if there is a new line in the label. I will report it upstream and temporarily do a fix on our side. As a side note, have you tried yo click with the mouse on the overlays in the side line? You could use that as a workaround until we fix the core issue.

[2019-12-02 15:14] jiacai2050 commented on #1214
Thanks, click with mouse works as expected.

[2019-12-02 17:28] kiennq commented on #1212
Nice, I've created a PR for this

[2019-12-03 00:06] jtl5770 opened #1216 "signature help with lv is nor word wrapping too long documentation lines (seen with java doc)"
The signature help using lv is pretty neat, unfortunately it doesn't work too well with java doc as the content often has long lines which are not word wrapped, but truncated which is hard to follow. And if I turn on word wrapping in that buffer, the nice ascii graphics with the "header line" and the vertical line on the left is being broken.

**To Reproduce**
Use it on a signature with java-doc w

[2019-12-03 05:51] Alexander-Miller commented on #1145
Sounds like you know more about this stuff than I do. I never went farther than calling `display-buffer-in-side-window`.

[2019-12-03 11:21] r-darwish commented on #1212
For reference: #1215

[2019-12-03 21:38] Jefftree opened #1217 "Read only mode"
Not sure if this is the intended behavior, but I noticed that ever since installing this, all my buffers have been opening in read-only mode. Is there a way to disable that?

[2019-12-04 08:38] #1212 closed

[2019-12-04 08:42] yyoncho commented on #1217
Can you provide a bit more details, language server, project layout, etc? ATM we use readonly mode only for files that are considered not part of the project.

[2019-12-04 10:23] esjmb commented on #804
Having same problem. I tried a package-refresh-contents with no success.

lsp-mode-20191203.1144.tar not found

Any other ideas?

[2019-12-04 10:29] esjmb commented on #804
for those who come after, the problem I had was that I was including two melpa repos - melpa stable and melpa. i removed one and everything worked fine.

[2019-12-04 11:58] yyoncho commented on #1201
https://github.com/emacs-lsp/lsp-mssql is ready to be tested. I started melpa onboarding procedure.

[2019-12-04 18:01] #1209 closed

[2019-12-04 19:01] Jefftree commented on #1217
I'm using lsp-mode and lsp-ui in go-mode. The language server is gopls which looks to be supported. The project is just a regular git project following the standard golang directory structure.

Sorry I should clarify that opening files is fine, but when using something like `xref-find-definitions` or `xref-find-references`, they jump to buffers that open in read only mode. This did not happen befo

[2019-12-04 19:04] yyoncho commented on #1217
This is by desing. We are openning the files that are not part of the project in view-mode

[code]

Evaluate this in order to remove this behaviour.

[2019-12-04 19:07] yyoncho commented on #1217
@muirdm @psanford can you comment whether having view-mode enabled in library files make sense for golang? I have implemented in that way, it makes sense for java files but I am not sure it makes sense for the other languages.

[2019-12-04 19:19] Jefftree commented on #1217
What is the scope of project in this case? I can understand if it opens external library files in read-only, but this is occurring for files within the same git project as the opened file (both files are part of the same lsp-workspace-folder)

[2019-12-04 19:27] yyoncho commented on #1217
@Jefftree I am not very familiar with go library folders implementation -  probably `lsp-clients-go-library-directories-include-go-modules` is what you are looking for. If you set it to `nil` it will prevent the view mode behaviour.

[2019-12-04 19:43] bradprob opened #1220 "lsp-rename says: Cannot rename symbol: the symbol is used outside main file"
**Describe the bug**
In my C++ project I try to rename a variable in a header file using lsp-rename, the variable name is not changed an the message "lsp-request: Cannot rename symbol: the symbol is used outside main file" is shown in the mini buffer.

**Expected behavior**
I would expecte that the name of the variable is change in the whole project.

**Which Language Server did you use**
clangd-1

[2019-12-04 19:48] yyoncho commented on #1220
@sebastiansturm can you take a look?

@bradprob in general, lsp-mode is only a frontend, based on your description it looks like it is language server limitation(or eventually you have to do more configuration).

[2019-12-04 21:19] jtl5770 commented on #1216
But it still leaves the question how automatically enable visual line mode to break long lines into words...

Seems it's in fundamental mode, so I don't want to just add it to this mode's hook...

[2019-12-04 21:24] yyoncho commented on #1216
What do you mean by visual line mode? You want `toggle-truncate-lines` to be set to wrap?

[2019-12-04 21:48] bradprob commented on #1220
@yyoncho, it would be nice if the documentation contains some parts about the configuration with supporting back-ends like clangd.

[2019-12-05 02:08] nverno opened #1221 "`lsp` delays running mode hooks"
**Describe the bug**
Calling `lsp` delays running mode hooks until after various configurable variables are used.

**To Reproduce**
Invoke `lsp`

**Expected behavior**
I don't necessarily *expect* this, as this happens with a number of packages, but it makes me happy when initialization hooks run prior to a package using configurable various.

This allows autoloaded, mode specific user configurati

[2019-12-05 02:21] nverno commented on #515
A function akin to `flycheck-verify-setup` or `company-diag` would be really useful, especially when getting started/trying it out.
Thanks!

[2019-12-05 03:50] yyoncho commented on #1221
1. If you want to use configure the server before it is started - use lsp-before-initialized-hook
2. If you want to run code after lsp-mode is managing a particular buffer - use lsp-mode-hook
3. If you want to perform configuration one time before anything else has been run on lsp-mode side - use with-eval-after load.

Let me know if you need anything more than that.

[2019-12-05 03:55] yyoncho commented on #515
@nverno tracked by https://github.com/emacs-lsp/lsp-mode/issues/764 . Feel free to comment in #764 if you want to have particular information in the describe session dashboard.

[2019-12-05 06:16] nverno commented on #1221
Thanks! I hadn't found the lsp-before-initialized-hook.  None of these hooks handle what I was describing, however, since a fair amount of configuration is run after calling `lsp` (like reading session configuration), but before any hooks are called.  As you say, with-eval-after-load is a fine workaround, though

[2019-12-05 06:19] nverno commented on #515
@yyoncho  I knew it must be somewhere, but missed it somehow.

[2019-12-05 06:26] nverno commented on #764
I was just trying to setup lsp-pyls earlier, and was hoping there would be some diagnostics on what executables where being found/missing.  I did see a brief message in on of the log buffers eventually, but it was far from obvious (I'm not a user of `lsp-mode` in general, so I'm a foreigner here).

 I think it would be useful to make it clear what executables are missing, and when found, display t

[2019-12-05 06:31] yyoncho commented on #1221
@nverno I wouldn't call it workaround, it is a standard pattern for executing code after a package has been loaded. Do you see any problem with using `with-eval-after-load`?

[2019-12-05 07:38] #478 closed

[2019-12-05 08:49] nverno commented on #1221
No, not at all, I didn't mean to imply it was a problem, and I do use the `with-eval-after-load` quite often.  I guess I was thinking about `lsp` like a stereotypical mode where an autoloaded hook would be sufficient, and the entry point would be `(lsp-mode)`.  Thanks for bearing with me ;D

[2019-12-05 08:49] #1221 closed

[2019-12-05 09:34] sebastiansturm commented on #1220
as far as I know, clangd does not (yet) support renaming across different files. I thought they had recently added nonlocal renames to trunk, but apparently this is not the case. If you're using clangd 10 built from source, have a look at `clang-tools-extra/clangd/unittests/RenameTests.cpp`. That file lists a number of allowed and disallowed scenarios (all allowed ones being file-local)

[2019-12-05 09:53] ianpan870102 opened #1223 "Disable doc help buffer at the bottom?"
Notice the doc buffer for Python's print function at the bottom of this screenshot:

<img width="1105" alt="Screenshot 2019-12-05 at 17 45 35" src="https://user-images.githubusercontent.com/36686900/70224270-f5cb8100-1787-11ea-9bd8-4181590654ab.png">

I have tried the solution `(setq lsp-eldoc-hook nil)` as suggested in #1028 . But the  problem doesn't seem to be coming from eldoc, because the doc

[2019-12-05 09:56] ianpan870102 commented on #1223
For your reference, this is all the config code I have regarding emacs-lsp:

[code]

[2019-12-05 10:17] yyoncho commented on #1220
Closing based on the previous comment.

[2019-12-05 10:17] #1220 closed

[2019-12-05 10:19] yyoncho commented on #1223
Use lsp-enable-signature-help.

[2019-12-05 10:19] #1223 closed

[2019-12-05 10:44] jtl5770 commented on #1216
Actually what ever happens when you use select  "Word Wrap (Visual Line Mode)" from the "Options->Line Wrapping in this Buffer" Menu. I assume it is the same as M-x visual-line-mode:

Not just wrap a line at whatever character is at the end of the line length (and having those ugly continuation arrows). Visual line mode makes sure to wrap at word boundaries (and also takes care of cursor movement

[2019-12-05 12:48] yyoncho commented on #1216
@abo-abo we are using lv package for displaying signature help
![Screenshot](https://user-images.githubusercontent.com/13259670/70236638-01aa4980-176e-11ea-8500-adc8d048a04c.png)

What do you think about having visual-line-mode enabled by default in lv window as suggested by @jtl5770 ? I could patch it on lsp-mode side(or eventually duplicate the lv implementation?) but IMO it will be useful for o

[2019-12-05 15:20] jtl5770 opened #1224 "signature help shows different possible signatures then the sideline view shows as quick fixes"
Best explained if looking at the screenshot attached:

It can be seen that I am looking at the "String.indexOf" methods. In the lv area I can choose between 4 different signatures. The signature quick fixes in the sideview offer 6 different ones - the middle two ones are missing from the signature help in the lv area.

And this is actually good, because those two methods seem to be not visible her

[2019-12-05 15:38] yyoncho commented on #1224
The server is the one calculating the signatures and the quick fixes. Why do you think that the middle 2 should not be present? (I am apparently using different JDK version and I am unable to reproduce the issue). I will close the issue since it is not client-side but let's continue the discussion in order to determine whether there is an actual server-side issue.

[2019-12-05 15:38] #1224 closed

[2019-12-05 15:49] Hakuyume opened #1225 "package-install fails in Emacs 25.2 (Ubuntu18.04)"
**Describe the bug**
`(package-install 'lsp-mode)` fails with `` Package `emacs-26.1' is unavailable `` .

**To Reproduce**
Write a Dockerfile with the following content.
[code]

Then build it.
[code]

**Expected behavior**
Docker build successfully finishes.
I confirmed my Dockerfile worked well with other package (e.g. `magit`).

**Which Language Server did you use**
N/A

**OS**
Host OS is ArchL

[2019-12-05 16:03] Hakuyume commented on #1225
Note: it worked on Emacs 26.3 with Ubuntu19.10.

[2019-12-05 16:22] jtl5770 commented on #1224
Well, I would assume that if there are 6 quick fixes available for 6 different possible signatures, then there would also be 6 entries in the lv area. But there are only 4. And the two ones missing from the available quick fixes are the ones that generate an error when applied, as can be seen in the (new) screenshot attached (The situation after applying one of the two extra quick fixes).
![Screen

[2019-12-05 16:50] yyoncho commented on #1224
@jtl5770 confirmed. JDTLS suggests a quick fix even for methods that are not visible. Can you report that in jdt ls repo?

(cc @fbricon)

[2019-12-05 16:56] psanford commented on #1225
Thanks for the bug report and reproducible test case! It looks like the addition of flymake to the Package-Requires list broke lsp-mode for emacs < 26.

![lsp-error](https://user-images.githubusercontent.com/33375/70256256-07d40200-173d-11ea-940d-0e15b748a94d.png)

[2019-12-05 17:00] yyoncho commented on #1225
Yes. But for some reason, travis built passed... :(. I will revert that change.

[2019-12-05 17:06] #1225 closed

[2019-12-05 17:21] fbricon commented on #1224
Actually, this issue can be reproduced in Eclipse IDE itself. So it's an upstream JDT bug: https://bugs.eclipse.org/bugs/show_bug.cgi?id=553826

[2019-12-05 17:25] yyoncho commented on #1224
@fbricon thank you!

[2019-12-05 18:58] jtl5770 commented on #1224
So I assume this will magically fix itself as soon as there is an updated language server with the fix incorporated?

[2019-12-05 19:12] yyoncho commented on #1224
Yes.

[2019-12-05 19:24] yyoncho opened #1226 "[poll] review some default settings"
I released 6.2 version so we can review some of the default settings:

1. lsp-prefer-flymake - we have flymake as a default but IME most of the users prefer flycheck even if flymake is the default checker.
2. lsp-ui-doc-enable - it is getting mixed reviews since the the UI control is failing in some common scenarions (e. g. if there is a long identifier lsp-ui-doc might cover the code).
3. ?

Plea

[2019-12-05 21:33] muirdm commented on #1226
Since flycheck is optional to install, it makes sense to me if we prefer flycheck by default if it is installed.

I don't have a useful opinion about lsp-ui-doc-enable because I disable all overlays/popups (except for completions). Since cursor position is not always "intent" for displaying extra info, I find it distracting to have stuff pop up by default. Maybe having things pop up on mouseover a

[2019-12-05 23:25] Hakuyume commented on #1225
Thank you for the quick response! I can install lsp-mode now!

[2019-12-06 04:30] #1178 closed

[2019-12-06 04:44] yyoncho opened #1228 "Investigate ESLint support"
It seems like there is language server in the following repo: https://marketplace.visualstudio.com/items?itemName=dbaeumer.vscode-eslint

Check whether it can be used to improve the JS experience.

[2019-12-06 06:46] ianpan870102 commented on #1223
Cheers! It worked.

[2019-12-06 07:35] yyoncho commented on #1223
@ianpan870102 FYI you may request it on demand `C-S-SPC`

[2019-12-06 13:49] cswank opened #1229 "Error processing message (wrong-type-argument listp #s(hash-table size 65 test equal rehash-size 1.5 rehash-threshold 0.8125 data ("triggerCharacters" ["(" ","])))"
**Describe the bug**
Starting with lsp-mode-20191204.1456, when I start emacs and open a .go file I get the error in the title.  After that autocompletion and jump to definition does not work.

When I revert to lsp-mode-20191125.606 this error does not occur.
[lsp.log](https://github.com/emacs-lsp/lsp-mode/files/3932417/lsp.log)

**To Reproduce**
Start emacs and open a .go file

**Expected behavio

[2019-12-06 14:23] yyoncho commented on #1229
Please update your dash version and make sure that lsp-mode is byte compiled against it.

[2019-12-06 14:23] #1229 closed

[2019-12-06 15:04] yyoncho commented on #1229
Duplicate of https://github.com/emacs-lsp/lsp-mode/issues/1207#event-2843415589

[2019-12-06 17:20] akirak commented on #506
I was working on an idea for installing servers using Nix: https://github.com/akirak/lsp-server.el

It parses the README of `lsp-mode` package and tries to discover an installation instruction for the language. It currently supports npm packages.

I am willing to contribute to `lsp-mode` package. Do you have any idea?

[2019-12-06 17:34] yyoncho commented on #506
@akirak - using nix is a cool idea!

What do you think about having a field in the `lsp--client` structure that directly contains the name of the `nix` package?

[2019-12-06 18:00] akirak commented on #506
That would be a good idea and help develop my package. Note that some language servers are suggested for installation using a language-specific programming language. For example, the language server for Elixir can be installed using mix, but it does not seem directly available from nixpkgs. The same for Golang. I was thinking about how to handle such packages. For npm packages, I implemented a wra

[2019-12-06 19:26] yyoncho commented on #506
I do not think that we should limit the download/install options to nix. Maybe it will be the preferable way if it is present but definitely we should support other ways(e. g. Download+Extract).

I think that we should change lsp-register-client to be macro generating variables. Once we have generated defcustoms e. g.

[code]
... will generate:

[code]
What do you think?

[2019-12-06 21:06] jtl5770 commented on #1226
Prefer flycheck if installed seems reasonable.

I generally I would like the doc popup, but in practice the current implementation is more often than not not correctly sizing the overlay. see e.g. https://github.com/emacs-lsp/lsp-ui/issues/334

Actually I would propose another solution: As the current signature information with lv works pretty well - why not combine the doc for objects with the lo

[2019-12-07 03:41] akirak commented on #506
@yyoncho
Thank you for the response.

Yeah, I love Nix, but since it is not available for everyone, we should provide other options.

It would be a good idea. My `lsp-server` package has the following features, but it would be better if the information were explicitly specified in individual client definitions:

- It scans elisp source files in your repository and extract `lsp-register-client` for

[2019-12-07 04:19] yyoncho commented on #506
@akirak

I like the idea. This will definitely go in but let's first lay down the foundation of download framework and then we will proceed with adding the concrete implementations. I will open a draft PR once I have something so you could provide your feedback.

[2019-12-07 05:25] isolet commented on #1223
Fantastic!

[2019-12-07 19:32] ezemtsov opened #1230 "lsp-fsharp uses --mode lsp parameter for fsac server"
**Describe the bug**
lsp-fsharp doesn't start FSAC server correctly.
Problem is related to function lsp-fsharp--make-launch-cmd ()
It uses "--mode lsp" parameter which current version of FSAC doesn't have.
After removing this parameter everything work ok.

**To Reproduce**
1. Install latest fsharp-mode & lsp-mode from melpa.
2. Install FSAC
3. Open any project
4. Server is not started

**Which Lan

[2019-12-08 01:40] #1230 closed

[2019-12-09 04:01] honmaple opened #1233 "[lsp--calculate-root]lsp-find-session-folder should be placed before of lsp--suggest-project-root"
**Describe the bug**
[code]
When I open `suffix.go`，abort
[code]
then I use `lsp-workspace-folders-add` add `xxx/code/suffix` folder, but the problem still happened

**Which Language Server did you use**
lsp-go, gopls

**OS**
macos 10.14.6

Another suggestion, don't use `(unless lsp-auto-guess-root ...)`

[2019-12-09 05:36] yyoncho commented on #1233
What  lsp-auto-guess-root setting do you use?

[2019-12-09 05:42] honmaple commented on #1233
I use `(setq lsp-auto-guess-root t)`

[2019-12-09 05:49] yyoncho commented on #1233
@honmaple this setting overrides any other info(e. g. session folders) and if you want to to use it you should make sure that the autoguess function always returns the correct value. I recommend against using it unless you are familiar with how lsp-mode and projectile or project .el work.

In this case in order to solve your issue, you should add `.projectile` in suffix directory(in case you are u

[2019-12-09 05:49] #1233 closed

[2019-12-09 06:13] yyoncho opened #1234 "Create emacs-lsp language specific tutorials"
We may use the vscode tutorial as a base: https://github.com/Microsoft/vscode-docs/blob/master/docs/nodejs/reactjs-tutorial.md .

I will port the React one so everybody could provide feedback on the format/structure.

[2019-12-09 09:31] nedijahij commented on #1228
Hi @yyoncho,

I think the main purpose of that plugin is to make it easier to configure eslint inside vscode and we can use flycheck to achieve this too.

I found this repo before and found some helpful command.
- First he install eslint through npm: [install eslint through npm](https://github.com/VisionaryAppDev/emacs-configuration/blob/master/.emacs#L33)
- And then this one: [flycheck config](ht

[2019-12-09 09:59] nedijahij commented on #1075
I used to learn some elisp and tried to practice by creating some extensions too and wanted to help and contribute some works here but it's hard, harder than I could. I could write, modify java project without any issue when come to open source project, yet come to elisp and lsp, i am dead.

The problem is that, there is not enough tutorial, or sample and so  I can't find where and how to reach th

[2019-12-09 11:05] yyoncho commented on #1228
@nedijahij it provides also quick fixes that are not available in flycheck AFAIK.

[2019-12-09 11:15] danielmartin commented on #1075
@nedijahij There a good Emacs Lisp Introduction manual in Emacs. Press `C-h i`, `m`, `Emacs Lisp Intro`, `RET`.

[2019-12-09 11:45] groundflyer opened #1235 "File Watch counts files in ignored folders?"
I have a small project with a git repo set and every time I open a file a warning popups that there are too many files to watch.
I suspect LSP counts files in the .git directory though there is "[/\\\\]\\.git$" regexp in lsp-file-watch-ignored.

[2019-12-09 11:48] yyoncho commented on #1235
We use the following function to find the files that has to be watched:

[code]

[2019-12-09 13:02] groundflyer commented on #1235
Okay, I see, so it considers all the files.

[2019-12-09 13:08] yyoncho commented on #1235
`lsp--directory-files-recursively` should skip the files that match the lsp-file-watch-ignored. Can you confirm that?

[2019-12-09 14:53] groundflyer commented on #1235
After a bit of testing I can confirm it works. It doesn't skip the ignored folders themselves though.
Also, I can't make it ignore emacs backups with "~$", but `string-match` matches it.

[2019-12-10 08:09] brotzeit commented on #1075
@nedijahij IMO it's the best way to start with learning from experienced users. Learn how to lookup documentation quickly and which packages can be used to build your elisp dev environment. [This video](https://www.youtube.com/watch?v=QRBcm6jFJ3Q) helped me a lot

[2019-12-10 14:08] machekku opened #1236 "Handling backslash escape sequences in markdown."
Hello,
I believe this is a followup to #1154.

I'm using PHP with intelephense.

PHP uses backslash character as namespace separator. Backslash is an escape character in markdown, so for example, hover docs for `Psr\Log\LoggerInterface::error` arrive like this:

[Trace - 02:54:41 PM] Received response 'textDocument/hover - (1682)' in 801ms.
[code]

JSON decoder turns `Psr\\\\Log\\\\LoggerInterface

[2019-12-10 15:07] yyoncho commented on #1236
Willing to provide a PR? Unfortunately, we are forced to do these workarounds...

[2019-12-10 18:43] yyoncho opened #1237 "[Feature Request]Provide not so intrusive alternative for lsp-ui-sideline actions"
We may follow what vscode does and display bulb to indicate that there is an code action either by using overlay or indicator in the modeline.

[2019-12-10 20:17] yyoncho commented on #1235
Closing based on:

Please reopen if you disagree.

[2019-12-10 20:17] #1235 closed

[2019-12-10 20:19] yyoncho commented on #1226
I went a bit more radical than suggested in the issue description - Proposed solution - do not enable lsp-ui at all by default:  https://github.com/emacs-lsp/lsp-mode/pull/1238 . I will merge/reject it based on the voting in the PR.

[2019-12-10 20:20] muirdm opened #1239 "Can't trigger nested highlighting"
When a highlighted region has nested highlightable regions, moving the cursor to the smaller highlightable regions doesn't shrink the highlight. You can only get the small regions to trigger if you move outside the big highlight and then move directly to the small highlight.

![highlight](https://user-images.githubusercontent.com/11356572/70565523-2d9b4580-1b47-11ea-9275-836870424c8c.gif)

It seem

[2019-12-10 20:26] yyoncho commented on #1239
Yes, unless we call that behaviour a feature. Marking it as a bug for now.

[2019-12-10 21:39] muirdm commented on #1226
Since lsp-ui is optional to install, I think that already counts as intent to use, so lsp-mode should enable lsp-ui by default. I'm more in favor of just disabling/fixing lsp-ui features that people don't like. The problem with that is I have no idea what parts of lsp-ui people like or don't like (other than the reports you mentioned above).

[2019-12-10 21:49] MokkeMeguru opened #1240 "Intermittent connection in typescript-language-server via Docker-tramp"
I want to use typescript-language-server in docker's project via tramp-mode.

So I try open docker container in eshell and evaluate this function.
[code]
And also, I installed typescript-language-server typescript in the docker.

When I open container's file with lsp-mode, but I got an error message "Server typescript-remote:32228 exited with status exit. Do you want to restart it? (y/n)" **every

[2019-12-10 22:39] yyoncho commented on #1240
There might be another problem but `"typescript-language-server --stdio"` should be `(list "typescript-language-server"  "--stdio")`.

[2019-12-11 04:02] nedijahij commented on #1075
Thank @danielmartin @brotzeit . Beside that, what I concern the most is not elisp but LSP protocol. I don't understand how it works. For example, imagine if i want to make java lsp server check syntax error and then highlight the whole line in red, then where should I find flow to interact with lsp server or document related to "how to interact with java lsp server and make them check my syntax".

[2019-12-11 05:50] MokkeMeguru commented on #1240
No. lsp-tramp-connection's argument is below
[code]

[2019-12-11 06:04] MokkeMeguru commented on #1240
if we run this command instead of previous one, we receive same error message at soon.
[code]

I know this tramp connection is succeed in pyls. (https://qiita.com/MeguruMokke/items/2188bd32b253233bdf73 sorry I wrote this article in Japanese... ) .

If you run pyls in command line,  you found pyls is running something like a server.
So I think typescript-language-server will be running as something

[2019-12-11 06:09] yyoncho commented on #1240
As I already mentioned, the params must be list, not string when the command has arguments, please test this one:

[code]

[2019-12-11 06:15] MokkeMeguru commented on #1240
I got  same error...

[2019-12-11 06:17] yyoncho commented on #1240
@MokkeMeguru ok, I will try it on my side. Meanwhile, check what do you have in the stderr buffer for the language server.

[2019-12-11 06:20] MokkeMeguru commented on #1240
lsp-log
[code]

Message
[code]

any more datasource?

[2019-12-11 06:22] yyoncho commented on #1240
Yes, look for `*typescript-remote::stderr*` buffer.

[2019-12-11 06:24] MokkeMeguru commented on #1240
I cannot found `*typescript-remote::stderr*`
there is only `typescript-remote` buffer, and this buffer is empty.

[2019-12-11 06:24] kurnevsky commented on #1226
Configs that I use:

https://github.com/kurnevsky/dotfiles/blob/c35492426823d03f582eb54bea5c989d6df15000/.emacs.d/init.el#L975-L994

I like lsp-ui as it shows a lot info with no my effort at all.

[2019-12-11 06:25] yyoncho commented on #1240
Ah, right - the when you are using tramp there is no stderr buffer because tramp does not support stderr stream. Please, check the content of `/tmp/` directory on the remote host for error file.

[2019-12-11 06:28] MokkeMeguru commented on #1240
[code]
I found empty folder...

[2019-12-11 06:30] yyoncho commented on #1240
Ok, I will test on my side and I will let you know.

[2019-12-11 06:30] MokkeMeguru commented on #1240
https://github.com/MokkeMeguru/test-typescript-language-server
This is my test-project

[2019-12-11 06:40] yyoncho commented on #1240
I am able to reproduce your issue, I will need some time to investigate.

[2019-12-11 06:42] MokkeMeguru commented on #1240
OK, And I found a option which print some log file
https://github.com/MokkeMeguru/test-typescript-language-server/blob/master/memo.lisp

You can see typescript-language-server's log in /tmp/tslog.txt

Thanks your help!

[2019-12-11 06:46] yyoncho commented on #1240
One more thing, can you set lsp-print-io to t and the check the content of `*lsp-log: typescript-remote:PID*` . On my side, the server starts successfully but it just crashes at some point.

[2019-12-11 06:51] MokkeMeguru commented on #1240
you can see Like this?
![image](https://user-images.githubusercontent.com/30849444/70598362-03708300-1c2e-11ea-988b-e461af5bc009.png)

[2019-12-11 07:02] MokkeMeguru commented on #1240
full log is here https://gist.github.com/MokkeMeguru/9704154a180b558b954fa89c6ec40a3b

[2019-12-11 07:18] yyoncho commented on #1240
Ok, so the problem seems to be in typescript language server itself. It does not like something passed to it and it just dies. lsp-mode tramp facilities work fine. And it is not obvious...

As a side note, do you know that you can run a language server in docker container over local sources? See https://github.com/emacs-lsp/lsp-docker/ and https://github.com/emacs-lsp/lsp-docker/blob/master/lsp-do

[2019-12-11 07:30] MokkeMeguru commented on #1240
I'm coding dockerized project.
Can I use your lsp-docker?

What you say is like this image?
[code]

[2019-12-11 07:41] yyoncho commented on #1240
you can replace tramp with lsp-docker.

[2019-12-11 07:49] MokkeMeguru commented on #1240
It sounds to me quite difficult.

For example, my test-project https://github.com/MokkeMeguru/test-typescript-language-server,
I should do...
0. run docker-compose

[code]

1. add new lsp-docker-register-client
eval this command in eshell ?
[code]

2. I don't know what should I do?

[2019-12-11 07:54] yyoncho commented on #1240
Should be `ts-ls`

Here you have local path (on your machine) and the path the project is mounted in the docker. Then open a file from the local project and lsp-mode will fire up a docker running the language server.

This setting specifies whether you want to run an image or container.

[2019-12-11 08:05] MokkeMeguru commented on #1240
Launch?
Cannot I connect exists docker-project?

[2019-12-11 08:17] MokkeMeguru commented on #1240
https://github.com/MokkeMeguru/test-typescript-language-server

I update my test-project.
And I found I got the same crash of language-server...

[2019-12-11 08:53] laurynas-biveinis commented on #1226
Re. flycheck vs flymake, unfortunately the former is not compatible with Tramp buffers, which is not obvious, pretends to work initially, but results in buffer corruption.

(sorry for a drive-by comment)

[2019-12-11 09:17] yyoncho commented on #1226
@laurynas-biveinis

Is this lsp-mode related? If so, would you report an issue?

[2019-12-11 10:01] laurynas-biveinis commented on #1226
@yyoncho, no, in my debugging it appeared to be purely flycheck-related, and seemed to be confirmed by Flycheck/TRAMP googling ("sometimes it works, sometimes it doesn't, never supported officially").

[2019-12-11 14:11] yyoncho commented on #1226
@laurynas-biveinis thank you. I believe that in the context of lsp-mode flycheck should work over tramp - the issues with flycheck and tramp mode are caused probably by remote process managing which in lsp-mode case is handled by lsp-mode itself. Please correct me if I am wrong and you have issues with flycheck and lsp-mode over tramp. I want to have at least one reliable solution for displaying l

[2019-12-11 14:13] yyoncho commented on #1226
Adding point 3.

```lsp-signature-auto-activate``` - I thought that everybody will like it but apparently it is controversial.

[2019-12-11 14:49] laurynas-biveinis commented on #1226
@yyoncho, I see, I will try to create a minimum reproducer which can then be triaged whether it's something fixable in lsp-mode

[2019-12-11 15:52] JSiebelink opened #1241 "Latest Angular Language Service introduced breaking change."
**Describe the bug**
The latest release of the angular language service has introduced a breaking change where the entry point of the server is nog called index.js. Therefore the server cannot be initiated using the default lsp-mode config.

A workaround is to rename the index.js file to server.js. However, the server then crashes due to it not being able to find the required typescript version, n

[2019-12-11 15:56] kiennq commented on #1073
Hey, what is the status of `lsp-json`?
I'm working on [similar thing](https://github.com/kiennq/lsp-mode/commits/feat/lsp-json) and wonder if we can work together to give this an PR ASAP?
For now I'm at the point of being able to show the completion candidate (via `company-lsp`), however since the trigger characters for the json language server is `[" :]`, I have to type double double quote (`""`)

[2019-12-11 16:06] yyoncho commented on #1073
@kiennq company-lsp does not initialize `company-auto-complete-chars`. IMO we should also check what is the previous char after insertion of company-lsp and eventually trigger a second completion.

[2019-12-11 16:17] yyoncho commented on #1241
Hi @kyliau ,

Sorry for bothering. We are emacs LSP client and try to support as much language servers as possible. ATM we are downloading the vsix extracting it and running it with `nodejs`. Can you advise on how would be the easies way to run angular language server.

Thanks,
Ivan

[2019-12-11 16:20] JSiebelink opened #1242 "Angular language service cannot resolve modules relative to file undefined"
**Describe the bug**
The angular language service version 0.800 cannot find the angular dependencies of the project. Instead it logs an error stating that it cannot resolve modules relative to file 'undefined'.

**To Reproduce**
- Install vscode-ng-language-service version 0.80x or earlier: https://github.com/angular/vscode-ng-language-service/releases?after=v0.900.0-next.4
- Open an angular proje

[2019-12-11 16:28] yyoncho commented on #1242
FYI information I have tested with `0.802.2` and back then it was working fine(at least I didn't receive a bug reports). We will focus on fixing https://github.com/emacs-lsp/lsp-mode/issues/1241 .

[2019-12-11 17:03] kiennq commented on #1073
@yyoncho Can you elaborate more? Is there any example somewhere? I'm not particularly familiar with company mode so ...

[2019-12-11 17:09] yyoncho commented on #1073
@kiennq

I believ ethat if company-auto-complete-chars are correctly set to the `[" :]` then you wont have to type double ".

[2019-12-11 17:41] lerouxrgd commented on #515
A function to toggle symbol highlighting at will (and not just set once the global `lsp-enable-symbol-highlighting`).

[2019-12-11 17:46] kiennq commented on #1073
Turns out the reason is because `company-lsp` purposely  don't do completion with string or comment. And `"` is string opening.
Setting `  :completion-in-comments? t` solve that.

[2019-12-11 17:47] yyoncho commented on #1073
@kiennq ah, yes. We should revisit all language server settings regarding completion in comments.

[2019-12-11 18:07] yyoncho commented on #515
@lerouxrgd the change was needed in order to make lsp-mode faster (we do not check whether highlights are enabled after each user action)

This will work:

[code]

[2019-12-11 18:57] kyliau commented on #1241
@yyoncho We have published a new NPM [package](https://www.npmjs.com/package/@angular/language-server), `@angular/language-server` for all LSP clients. All you need to do is download the package from npm/yarn and install the required dependencies.
There's detailed help instructions when you run `node index.js --help`.
Please let me know if you need more info, thank you!

[2019-12-11 20:33] xqliu opened #1244 "Automatically decompile java class feature break after upgrade to version 6.3"
Before logging the bug, please make sure that:

1. You are using the latest version of `lsp-mode` related packages.
2. You may also try reproduce the issue using clean environment using the following command:
3. Check FAQ and Troubleshooting section (https://github.com/emacs-lsp/lsp-mode#faq and https://github.com/emacs-lsp/lsp-mode#troubleshooting)
[code]
where `lsp-start-plain.el` could be downl

[2019-12-12 01:34] iquiw commented on #1073
@kiennq Thank you for taking up this!

I have some concern & wish.

* It uses https://schemastore.azurewebsites.net, which I suppose http://schemastore.org mirror (for VSCode ?). Its site policy and "term of use" are not clear to me. So I think it is better to use http://schemastore.org instead.
* It is better to have an option to disable `json/schemaAssociations` notification for those who don't

[2019-12-12 02:54] kiennq commented on #1073
Ah, I didn't know about that. I agree, we should switch to http://schemastore.org instead of https://schemastore.azurewebsites.net

Can you elaborate more why we need this?
User can set `lsp-json-schemas` to have some degrees of schema overriding though.

[2019-12-12 03:37] iquiw commented on #1073
Just for one's policy/preference. Well, I am not sure the actual need. Maybe not necessary.

[2019-12-12 04:22] kiennq commented on #1073
@iquiw Thank you, I will update the schema link in next PR.

@yyoncho I notice that there's no *async* request handler in `lsp-mode`. Would it be fine for me to add something similar to that?
The reason is because json language server request client to serve it url content (or file content) with `vscode/content`. That operation currently is blocking (sync) and may take time to finish.

I think `as

[2019-12-12 08:59] xqliu commented on #1244
Seems some of the class is not working, while others works.

[2019-12-12 11:58] jtl5770 commented on #1216
Hi @yyoncho - besides the fact of the non wrapping lines, I assume there is another problem with the formatting of the signature help (see screenshot). I would assume that
- there is no newline after the the bullet point
- The  "parameters:" should start a new line
and I don't know where the ugly public_boolean_startsWith(String <>_prefix) is coming from (and if this is intentional to be written l

[2019-12-12 12:12] yyoncho commented on #1216
@jtl5770 can you provide the log for this call? I think I have seen similar issues in the past and back then it was caused by markdown-mode.

[2019-12-12 12:21] yyoncho commented on #1216
Here it is how it looks on my side

![Screenshot](https://user-images.githubusercontent.com/13259670/70711642-a981c300-1cea-11ea-95cd-4fd838155cf1.png)

[2019-12-12 12:30] jtl5770 commented on #1216
sorry to ask something most probably obvious: How do I provide a log?

[2019-12-12 12:31] yyoncho commented on #1216
@jtl5770 `(setq lsp-print-io t)` and then `lsp-workspace-show-log`.

[2019-12-12 12:37] jtl5770 commented on #1216
[io.log](https://github.com/emacs-lsp/lsp-mode/files/3955722/io.log)

hope this helps....

[2019-12-12 13:09] rlivings39 opened #1246 "Strange character in file causes invalid JSON to be sent to LSP server"
**Describe the bug**
When a document contains the character with codepoint `#x3fff85` the LSP server receives invalid JSON.

**To Reproduce with clangd**
Make a small test C++ file in the lsp-docker docker:
[code]

Then start lsp: `M-x lsp` with clangd as the language server (it's part of the docker image). Notice that you can get completions:
[code]

shows completions brought in by `#include <vec

[2019-12-12 13:39] yyoncho commented on #1246
Can you point me to lsp-sample.el ?

[2019-12-12 13:51] rlivings39 commented on #1246
It should be under `vscode-extension-samples/lsp-sample/` in the repo you cloned `git@github.com:rlivings39/vscode-extension-samples.git`

[2019-12-12 14:49] yyoncho commented on #1246
Thank you. There seem to be two issues:

1. json-serialize cannot handle that char.

[code]
The first one fails and the second does not.

@eli-zaretskii can you comment whether this is something that has to be fixed in json-serialize?

2. The sample lsp server does not work with codepoint - I tested locally with elisp json parser/serializer and it works fine with jdt-ls and clangd but fails with t

[2019-12-12 15:11] Eli-Zaretskii commented on #1246
Do you mean the wrong-type-argument error?  AFAIU, that's expected, because #x3fff85 is not a Unicode codepoint.  The author of json.c had very strong views regarding signaling an error in these cases, and you see that in action.

How did that character end up in JSON data?

[2019-12-12 15:17] Eli-Zaretskii commented on #1246
Btw, we have the capability to automatically convert such invalid characters to U+FFFD, which I believe is TRT in these cases anyway, since the underlying JSON library will be unable to handle any non-Unicode characters anyway.  But I need the agreement of json.c author to make such a change, so if you think this is desired, please report an Emacs bug, and we will discuss this with the json.c auth

[2019-12-12 15:31] Eli-Zaretskii commented on #1246
Alternatively, we can skip them.  It's all a matter of a decision.

What do other similar processors do with such characters?

[2019-12-12 15:58] rlivings39 commented on #1246
@yyoncho clangd seems to work with that change. I still see the issue with lsp-sample

[2019-12-12 16:01] yyoncho commented on #1246
@MaskRay can you advise? I don't have expertise on the matter.

[2019-12-12 21:34] Jefftree commented on #1217
@yyoncho: Thanks for your help! I did some further digging and this line seems to be the culprit (https://github.com/emacs-lsp/lsp-mode/blob/68faced9e9dcee61efc3bb7eca07331df9206b6b/lsp-go.el#L150:12).

Due to certain restrictions, my home directory is in the `/usr/...` directory, so all my files were treated as library files. I got around this by just overriding `lsp-clients-go-library-directorie

[2019-12-12 21:44] jtl5770 commented on #1216
@yyoncho  - maybe you can save the hassle... I realized I had openjdk-1.8 installed. I switched to some more reasonable openjdk-11 and the formatting of the javadocs looks like your example. Maybe there is no need to support archaic versions here...

[2019-12-12 22:06] Jefftree commented on #1217
Just a follow up: Changing `'("/usr")` to `'("/usr/lib" "usr/local/lib)` fixes my issue. I'm not too familiar with the cross platform compatibility for this library, but if this change is acceptable I can make a PR for it.

[2019-12-13 06:00] yyoncho commented on #1217
@Jefftree make sense. I also think that adding one message like "Opening file in readonly mode since it is under library folder `foo`" will be helpful too. It would be great if you do a PR.

[2019-12-13 06:43] yyoncho commented on #1241
@kyliau thank you!

@JSiebelink I was able to make it work using this command:

[code]

and it works fine but when it is combined with html language server I am having some issues. So ATM you may use it, but on in combination with the html ls. I will update the instructions once I solve the multi-language server issue.

[2019-12-13 15:42] muirdm commented on #1217
Both the standard library and the module cache are read only to the user, so I think it makes sense.

[2019-12-13 16:03] seagle0128 commented on #1217
My two cents.

It does make sense that the library and cache files are read-only. Perhaps the scope of `/usr` is too wide here.
But I am surprised people put the home directory into `/usr`. 😂

[2019-12-14 04:21] yyoncho opened #1248 "Implement complete completion-at-point-function"
Things that are missing from current implementation:

1. Being async
2. Client side filtering
3. Snippets support
4. ?

[2019-12-14 06:23] akirak commented on #506
I've changed how [nix-env-install](https://github.com/akirak/nix-env-install) displays process buffers and process command output. Now it uses `display-buffer-in-side-window` to display buffers, which is a more sophisticated way to display a side window. If the user has `xterm-color-filter` package installed, command output is colorized. I've also fixed lint errors of the package, so hopefully it

[2019-12-14 13:57] abo-abo commented on #1216
@yyoncho I've just added `lv-window-hook`. You can set it up to turn on `visual-line-mode`.

[2019-12-14 15:16] yyoncho commented on #1216
@abo-abo thank you!

@jtl5770 here it is the code to use to enable visual-line-mode:
[code]

[2019-12-14 18:03] jtl5770 commented on #1216
@yyoncho: well, updated everything from MELPA - but it simply doesn't work. I added to the hook as described, no effect...

[2019-12-16 05:35] Baloneo opened #1253 "How to complete pygobject code"
I used fakegir and put the generated files in the virtualenv directory. I found that I couldn't jump to gi.repository during the completion and it didn't work properly. But I put the file generated by fakegir into my project directory, renamed the folder to `gii`, and it works fine.
[code]
gii
[code]
test.py
[code]

How do I set the  `gii` directory to be added to the autocomplete search range?

[2019-12-16 05:40] yyoncho commented on #1253
Which language server do you use?

[2019-12-16 05:41] Baloneo commented on #1253
pyls

[2019-12-16 05:45] yyoncho commented on #1253
I am not python expert but I think it is supposed to install pyls in your virtual env and point lsp-mode to use the pyls that is part of it. Use lsp-pyls-server-command to do that. I am closing the issue but you could use it for further questions.

[2019-12-16 09:59] JSiebelink commented on #1241
@yyoncho & @kyliau:  Thank you so much for looking into this. I am using lsp as a daily driver at work and I am really enjoying it, so this kind of support is really appreciated!

I will see if I can give it a spin today and see if I can get it working the same. Otherwise I will look forward to the instructions and see if I can figure it out then. Again, thanks so much.

[2019-12-16 10:03] JSiebelink commented on #1241
@yyoncho: If I understand correctly, this uses the vscode angular service and not the npm package?

[2019-12-16 10:07] yyoncho commented on #1241
@JSiebelink
1. Install @angular/language-server & typescript from npm
2. The required version of angular language service was not up to date in npm repository so I cloned the vscode project and built it locally.

[2019-12-16 10:11] #1253 closed

[2019-12-16 18:50] kyliau commented on #1241
@yyoncho the latest language service is published as "next" version.
You can install it using the command `yarn add @angular/language-service@next`, or the npm equivalent.
See complete versions here: https://www.npmjs.com/package/@angular/language-service

[2019-12-18 06:10] #350 closed

[2019-12-18 06:10] #1248 closed

[2019-12-18 06:10] #1241 closed

[2019-12-18 06:10] #1242 closed

[2019-12-18 06:16] yyoncho commented on #1241
Thank you @kyliau.

@JSiebelink I updated the installation wiki - https://github.com/emacs-lsp/lsp-mode/wiki/Install-Angular-Language-server

[2019-12-18 12:14] yyoncho commented on #1236
Fixed by https://github.com/emacs-lsp/lsp-mode/pull/1247

[2019-12-18 12:14] #1236 closed

[2019-12-19 03:32] kevindragon opened #1254 "Use character U+25A0 instead of U+2B1B on document color overlay"
Looks like Emacs does not support the character between U+2B00 - U+2BFF on Windows properly. So I suggest use U+25A0 instead.

This is what U+2B1B showing in my overlay:
![image](https://user-images.githubusercontent.com/409478/71142619-dbe37100-2252-11ea-9b32-892943a99bd7.png)

Emacs Version:
GNU Emacs 27.0.50 (build 1, x86_64-w64-mingw32)
 of 2019-11-12

My OS:
Windows 10

[2019-12-19 06:37] kiennq commented on #667
How about [poly-mode](https://github.com/polymode/polymode? `lsp-mode` works to some degree with `polymode`.
The idea of `polymode` is quite interesting since it extracts code block and make indirect buffer with respected major mode. That explains why `lsp-mode` works some how.

[2019-12-19 06:42] kiennq commented on #1254
U+2B1B is displayed perfectly in my environment which is also Windows 10.
I think that you may need a font for that. For now I'm using [CascadiaCodePL](https://github.com/microsoft/cascadia-code/releases), can you try with that font?
Also Symbola fonts may help too

[2019-12-19 06:47] yyoncho commented on #667
poly-mode might work but in that particular case I think that we are looking for what has been described here: https://github.com/microsoft/monaco-editor/issues/56#issuecomment-422969614

[2019-12-19 08:24] kevindragon commented on #1254
@kiennq using font CascadiaCodePl can show the U+2B1B character correctly. I prefer out-of-box.

BTW, I use font courier new.

[2019-12-19 08:25] kraigher opened #1256 "Setting lsp-debounce-full-sync-notifications to nil causes invalid didChange notification"
**Describe the bug**
When setting `lsp-debounce-full-sync-notifications` to nil is causes the client to send an invalid contentChanges JSON object:

[code]

I can trace this back to the codebase on master: https://github.com/emacs-lsp/lsp-mode/blob/348d5e476cc4fda70e20efe5b55d8f50e74e3745/lsp-mode.el#L3417-L3421

I am only superficially familiar with lisp but it seems it could be related to some q

[2019-12-19 08:30] yyoncho commented on #1256
@kraigher can you test with the latest lsp-mode? I think this was fixes yesterday.

[2019-12-19 08:40] kraigher commented on #1256
Yes you are right, it seems to have been fixed by this commit: https://github.com/emacs-lsp/lsp-mode/commit/348d5e476cc4fda70e20efe5b55d8f50e74e3745

[2019-12-19 08:40] #1256 closed

[2019-12-19 10:32] #1254 closed

[2019-12-19 14:20] laurynas-biveinis opened #1257 "lsp-after-uninitialized-hook not following "abnormal hook" conventions"
`lsp-after-uninitialized-hook` name ends with `-hook` and is documented as "List of functions to be called after a Language Server has been uninitialized."

Based on this, one would try to write a regular hook function, i.e. one that takes no args and whose return value is ignored. But this will fail with a "wrong number of arguments" error, because the `lsp-after-uninitialized-hook` passes worksp

[2019-12-19 14:21] yyoncho commented on #1257
Thank you, I was unaware of that convention. We will rename those to end up with `-functions`.

[2019-12-19 14:31] laurynas-biveinis commented on #1257
Thank you - please also consider `define-obsolete-variable-alias` for some time to make the switch easier for users

[2019-12-21 11:49] #1228 closed

[2019-12-21 15:05] jadestrong commented on #1228
I use doom-emacs, when I update lsp-mode to lastest, I encount this error:
[code]
when eslint server actived ,the completion not work!
Here is my emacs info:
[code]

[2019-12-21 15:11] yyoncho commented on #1228
Can you check whether you have this: https://github.com/emacs-lsp/lsp-mode/commit/12266e559f010e9e22ff5ab3e9313d9c9ddf7a23 ?

[2019-12-21 15:19] yyoncho commented on #1228
Can you try after this - https://github.com/emacs-lsp/lsp-mode/commit/adfc394b7a4265230e3adcbc1baf7bf2efbd6c54?

[2019-12-21 15:54] dennismayr opened #1263 "Vue: "File local-variables error: (error Invalid command list)", no `vls`"
**Describe the bug**
When opening `.vue` files using the `lsp` backend, I'm getting the following error today, visible on the modeline and *Messages* buffer:

`File local-variables error: (error Invalid command list)`

At the same time, `lsp` does not invoke `vls` in version `lsp-20191221`. Reverting back to version `lsp-20191219` works fine though

**To Reproduce**
Create a `.vue` file, like this

[2019-12-21 16:20] clement-buchart commented on #1263
Hello,

Just to help with troubleshooting, i'm getting the same `Invalid command list` error when trying to start lsp on a plain typescript file (typescript-mode), in a project which had lsp running fine prior to a recent upgrade.

[2019-12-21 16:26] yyoncho commented on #1263
It is caused by missing eslint sever. I will do a fix. Commenting the register call in lsp-eslint.el will fix the issue.

[2019-12-21 16:29] clement-buchart commented on #1263
Ok, thanks !

[2019-12-21 16:44] clement-buchart commented on #1263
Confirming that cloning https://github.com/microsoft/vscode-eslint in `~/.doom.emacs.d/.local/etc` folder and setting
[code]
gets everything working, with eslint as a bonus :)

[2019-12-21 19:40] #1263 closed

[2019-12-22 01:02] jadestrong commented on #1228
Now it works, thanks for your reply!

[2019-12-22 09:27] kangjianbin opened #1265 "lsp-find-definition pushes marker to xref--marker-ring twice."
My Emacs version is 26.3.

Before `lsp-find-definition`, the value of `xref--marker-ring` is:
[code]

After `lsp-find-definition`, the value is:
[code]
Looks like the problem is in `lsp-show-xrefs`. It calls `xref-push-marker-stack` to push a marker, then call `xref--show-xrefs` to jump to destination. However, `xref--show-xrefs` will call `xref-push-marker-stack` again.